
#creator-bg {
  height: 100%;
  width: 100%;
  background: url('/creator/bg-blurred.jpg') no-repeat transparent;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#creator-preview {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -506px;
  width: 1011px;
  height: 456px;
}

#creator-cta {
  text-align: center;

}
#creator-cta h1 {
  color: #eee;
  font-size: 40px;
}
#creator-cta p {
  color: #eee;
  font-size: 20px;
  font-family: "AvenirNextLTPro-Ultlt", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#creator-logo {
  background: url('/creator/ionic-creator-logo.png') no-repeat transparent;
  width: 122px;
  height: 122px;
  margin: 50px auto;
}

#creator-form {
  margin: 40px 0;
}
#creator-form input {
  /* Sets the height */
  height: 50px;

  border: 1px solid #66afe9;

  font-size: 24px;
  padding: 10px;
  font-weight: normal;
  background-color: rgba(255,255,255,0.1);
  color: #fff;
  border-radius: 0;
}
#creator-form .btn {
  /* Sets the height */
  line-height: 36px;

  border-radius: 0;

  background-color: white;
  background-image: none;
  color: red;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#creator-form input::placeholder {
  color: #fff;
}
#creator-form input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
#creator-form input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
    opacity:  1;
}
#creator-form input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
    opacity:  1;
}
#creator-form input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}

#creator-form input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
