/*
Errno::ENOENT: No such file or directory - scss/ionic.scss

Backtrace:
/Users/adambradley/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.6/lib/sass/plugin/compiler.rb:339:in `read'
/Users/adambradley/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.6/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/adambradley/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.6/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/adambradley/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.6/lib/sass/plugin/compiler.rb:201:in `each'
/Users/adambradley/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.6/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/adambradley/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.6/lib/sass/plugin/compiler.rb:235:in `watch'
/Users/adambradley/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.6/lib/sass/plugin.rb:107:in `method_missing'
/Users/adambradley/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.6/lib/sass/exec.rb:444:in `watch_or_update'
/Users/adambradley/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.6/lib/sass/exec.rb:307:in `process_result'
/Users/adambradley/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.6/lib/sass/exec.rb:41:in `parse'
/Users/adambradley/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.6/lib/sass/exec.rb:21:in `parse!'
/Users/adambradley/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.6/bin/sass:9:in `<top (required)>'
/Users/adambradley/.rvm/gems/ruby-2.0.0-p0/bin/sass:23:in `load'
/Users/adambradley/.rvm/gems/ruby-2.0.0-p0/bin/sass:23:in `<main>'
/Users/adambradley/.rvm/gems/ruby-2.0.0-p0/bin/ruby_noexec_wrapper:14:in `eval'
/Users/adambradley/.rvm/gems/ruby-2.0.0-p0/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - scss/ionic.scss"; }
