
/* Demo Grid Styles */
/*********************/

ion-col {
  margin: 5px;
}

ion-col,
.margin-col div {
  background-color: #f0f5ff;
  border: 1px solid #e6e9ee;
}

.padding-col {
  padding: 0;
  background-image: linear-gradient(to bottom, rgba(240, 245, 255, 1) 0%, rgba(240, 245, 255, 1) 100%), linear-gradient(to bottom, rgba(195, 224, 183, 1) 0%, rgba(195, 224, 183, 1) 100%);
  background-clip: content-box, padding-box;
}

.margin-col {
  padding: 0;
  border: none;
  background-color: #facd9a;
}

.margin-col div {
  height: 100%;
  width: 100%;
}