#demo {

  #demo-top {
    h1, h4 {
      text-align: center;
    }
    h4 {
      color: #555;
      font-weight: normal;
    }
  }

  pre {
    border: none;
  }

  h1 {
    text-align: center;
    border: none;
    margin: 50px 0px 30px 0px;
  }

  .phone-case {
    margin: 0px auto 30px auto;
    float: none;
    cursor: pointer;
    iframe {
      cursor: pointer;
    }
  }
}