
.fixed-menu {
  position: fixed;
}

@media (max-width: 991px) {
  .fixed-menu {
    display: none;
  }
}

.left-menu {
  padding-left: 0;
  list-style: none;

  a { 
    display: block;
    color: #444; 
    text-decoration: none;
    &:hover {
      background: transparent !important;
    }
  }

  li {
    display: block;
    margin: 8px 0;
    list-style: none;

    ul {
      display: none;
      padding-left: 24px;
    }
  }

  &.nav li.active {
    > a {
      border-right: 2px solid $brand-primary;
      color: $brand-primary;
    }
    ul {
      display: block; 
    }
  }

  &.nav > li > a {
    padding: 1px 6px;
  }
}

.docs-section {
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 28px;

  .panel-heading {
    font-family: $font-family-monospace;
  }

  .highlight {
    margin: 10px 0 0 0;
  }

  pre {
    margin-bottom: 0;
  }
}

.docs-section + .docs-section {
  padding-top: 20px;
}

.docs-section h2 {
  padding-bottom: 16px;
  border-bottom: 1px solid #ddd;
}


.device-preview-page {
  position: relative;

  .device-preview {
    position: absolute;
    right: 0;
    width: 400px;
    height: 810px;
    background: url("/img/phone_case.png") no-repeat right top;
  }

  .fixed-preview {
    position: fixed;
    top: 0;
    right: auto;
  }

  .docs-section {
    padding-right: 400px;
  }

  @media (max-width: 767px) {
    .device-preview {
      display: none;
    }
    .docs-section {
      padding-right: 0;
    }
  }

  .preview-screen {
    position: absolute;
    width: 328px;
    height: 576px;
    border: 4px solid #22272d;
    top: 104px;
    left: 53px;
    background: white;
  }

}