
.left-menu {
  padding-left: 0;
  list-style: none;

  a {
    color: #444; 
    display: block; 
    text-decoration: none;
    &:hover {
      background: transparent !important;
    }
  }

  li {
    display: block;
    margin: 8px 0;
    list-style: none;

    ul {
      display: none;
      padding-left: 24px;
    }
  }

  &.nav li.active {
    > a {
      color: $brand-primary;
      border-right: 2px solid $brand-primary;
    }
    ul {
      display: block; 
    }
  }

  &.nav > li > a {
    padding: 1px 6px;
  }
}

.docs-section {
  padding-bottom: 20px;
  line-height: 28px;
  font-size: 16px;

  .panel-heading {
    font-family: $font-family-monospace;
  }

  .highlight {
    margin: 10px 0 0 0;
  }

  pre {
    margin-bottom: 0;
  }
}

.docs-section + .docs-section {
  padding-top: 20px;
}

.docs-section h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 16px;
}


.device-preview {

}