
.footer {
  position: relative;
  z-index: 100;
  padding: 20px 0 0 0;
  background: #2b3442;
  color: #a4b3cd;
  text-align: center;
  font-size: 14px;
  font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;

  a {
    color: #e2eeff;
    opacity: 1;
    transition-property: color;

    &:hover {
      color: white;
    }
  }

  .base-links dl {
    float: left;
    margin: 0;
    padding: 15px 5px 20px 5px;
    width: 33%;
    text-align: left;
    font-size: 0.9em;
  }

  .base-links dl:first-child {
    padding-left: 0;
  }

  .small-break {
    clear: both;
  }

  @media (min-width: 768px) {
    .base-links dl {
      padding-left: 0;
      width: 20%;
      font-size: 1em;
    }
    .small-break {
      clear: none;
    }
  }

  .base-links {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1170px;
  }

  .base-links dt,
  .newsletter-text  {
    margin: 0;
    padding-bottom: 10px;
    color: #e2eeff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 13px;
    font-family: $font-family-medium;
  }
  .newsletter-text {
    padding-bottom: 4px;
  }

  .base-links dd {
    margin: 5px 0;
    font-size: 13px;
  }

  .base-links a {
    display: block;
    padding: 5px 0;
    color: #a4b3cd;

    &:hover {
      color: #dde9ff;
      text-decoration: none;
    }
  }

  .copy {
    padding: 18px;
    background: #202532;
  }

  .copy-container {
    margin: 0 auto;
    max-width: 1170px;
  }

  @media (min-width: 630px) {
    .copy-container {
      background-size: 128px 32px;
    }
  }

  .authors {
    margin: 0;
    padding: 10px;
    color: #858f9e;
    text-align: right;
    font-size: 13px;

    a {
      color: #a3aec0;
    }
    span {
      padding: 0 15px;
    }
  }

  .newsletter {
    clear: both;
    margin: 0 auto 30px;
    max-width: 1170px;
    border-top: 1px solid #555f6e;
  }

  .newsletter-container {
    margin-top: 30px;
    text-align: left;


    .sign-up {
      padding-bottom: 10px;
      color: #a4b3cd;
      font-size: 13px;
    }

    .col-sm-7 {
      padding-left: 15px;
    }

    .col-sm-5 {
      padding-right: 15px;
    }

    @media (min-width: 900px) {
      .col-sm-7 {
        padding-left: 0;
      }

      .col-sm-5 {
        padding-right: 0;
      }
    }

    input {
      border: none;
      background: #45546D;
      color: white;

      &:focus {
        background: #51627E;
        -webkit-box-shadow: none;
        box-shadow: none;
        box-shadow: inset 0px 0px 0px 1px #4E8EF7;
      }

      &::-webkit-input-placeholder {
        color: #8e9fb8;
      }
      &::-moz-placeholder {
        color: #8e9fb8;
      }
    }
    button {
      padding-right: 15px;
      padding-left: 15px;
      border: 1px solid #4e8ef7;
      background: #4e8ef7;
      box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
      color: white;

      &:hover {
        background: #5998FF;
        color: white;
      }

      &:active {
        border: 1px solid #3E75CE;
        background: #4683E7;
        box-shadow: none;
        color: #B1C4E4;
      }
    }

  }

}

.pre-footer {
  position: relative;
  z-index: 100;
  padding: 40px;
  background: #EBF0F6;

  h4 {
    color: #363b43;
    font-family: $font-family-medium;
  }

  .row {
    margin: 0 auto;
    max-width: 1170px;
  }
  p {
    color: #999;
    color: #737e90;
    font-size: 14px;
    font-family: $font-family-regular;
    line-height: 28px;
  }
  a:hover {
    color: #4E8EF7;
    text-decoration: none;
  }
  span {
    padding-left: 5px;
  }
  .col-a {
    padding-bottom: 15px;
  }
  @media (min-width: 768px) {
    .col-a {
      padding-right: 60px;
      padding-bottom: 0;
      border-right: 1px solid #ddd;
    }
    .col-b {
      padding-left: 70px;
    }
  }
}
