
.horizontal-gradient {
  background: #296ad4;
  background: -moz-linear-gradient(left,  #296ad4 0%, #4e8ef7 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#296ad4), color-stop(100%,#4e8ef7));
  background: -webkit-linear-gradient(left,  #296ad4 0%,#4e8ef7 100%);
  background: -o-linear-gradient(left,  #296ad4 0%,#4e8ef7 100%);
  background: -ms-linear-gradient(left,  #296ad4 0%,#4e8ef7 100%);
  background: linear-gradient(to right,  #296ad4 0%,#4e8ef7 100%);
}

.navbar-default .navbar-nav > li > a {
  border-top: 3px solid transparent;
  color: #abc0f5;
  opacity: 1;
  padding-left: 26px !important;
  padding-right: 26px !important;
  margin: 0;

  &:hover {
    color: white;
  }
}

.navbar-default .navbar-collapse .navbar-nav > li > a:hover {
  border-top: 3px solid #B5CAFF;
}

.navbar-default .navbar-toggle {
  margin-top: 17px;
  padding: 0;
  border: none;
  color: white;
  font-size: 32px;
  opacity: .7;

  &:hover, &:focus {
    background: none;
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-collapse {
    margin-bottom: 20px;
    border: none;
    background: #2155aa;
    background: -moz-linear-gradient(left,  #2155aa 0%, #3e72c6 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2155aa), color-stop(100%,#3e72c6));
    background: -webkit-linear-gradient(left,  #2155aa 0%,#3e72c6 100%);
    background: -o-linear-gradient(left,  #2155aa 0%,#3e72c6 100%);
    background: -ms-linear-gradient(left,  #2155aa 0%,#3e72c6 100%);
    background: linear-gradient(to right,  #2155aa 0%,#3e72c6 100%);
  }
  .navbar-default .navbar-collapse .navbar-nav > li > a:hover {
    border-color: transparent !important;
  }
}

@media (min-width: 768px) {
  .docs-page .docs-nav,
  .examples-page .examples-nav,
  .getting-started-page .getting-started-nav,
  .nav-link:hover,
  .nav-link:focus {
    border-top: 3px solid #B5CAFF !important;
    opacity: 1 !important;
    color: white !important;
  }
  .docs-page.getting-started-page .docs-nav {
    border-color: transparent !important;
    color: #abc0f5 !important;
  }
}

.headline {
  position: absolute;
  padding: 10px;
  width: 100%;
  background-color: $brand-primary;
  color: white;
  text-align: center;
  a {
    color: inherit;
    text-decoration: underline;
    opacity: 1;
    &:hover {
      text-decoration: none;
    }
  }
}

.header {
  position: relative;
  padding: 24px 0 0 0;
  height: 200px;

  background-position: 0 -76px;

  h3 {
    color: #ebf3ff;
    font-size: 28px;
    font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  h4 {
    color: #c2d8ff;
    font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    opacity: .8;
  }
  ul {
    position: absolute;
    top: 133px;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
    margin: 0 5px;
    list-style: none;
    font-size: 14px;
    font-family: $font-family-regular;
    &:first-child {
      a {
        padding-left: 0;
      }
    }
  }
  a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
  }

  .heading-tile {
    background-position: 0 -80px;
  }
}