

.horizontal-gradient {
  background: #296ad4;
  background: -moz-linear-gradient(left,  #296ad4 0%, #4e8ef7 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#296ad4), color-stop(100%,#4e8ef7));
  background: -webkit-linear-gradient(left,  #296ad4 0%,#4e8ef7 100%);
  background: -o-linear-gradient(left,  #296ad4 0%,#4e8ef7 100%);
  background: -ms-linear-gradient(left,  #296ad4 0%,#4e8ef7 100%);
  background: linear-gradient(to right,  #296ad4 0%,#4e8ef7 100%);
}

.nav-link {
  border-bottom: 3px solid transparent;
}

.docs-page .docs-nav,
.examples-page .examples-nav,
.getting-started-page .getting-started-nav,
.nav-link:hover,
.nav-link:focus {
  border-bottom: 3px solid $brand-primary;
  opacity: 1;
}
.docs-page.getting-started-page .docs-nav {
  opacity: .7;
  border-color: transparent;
}

.headline {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #4F8EF7;
  color: white;
  a {
    color: inherit;
    opacity: 1;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.header {
  position: relative;
  height: 248px;
  padding: 70px 0 0 0;

  h3 {
    color: white;
    font-size: 28px;
  }
  h4 {
    color: white;
    font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    opacity: .8;
  }
  ul {
    position: absolute;
    top: 133px;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
    margin: 0 5px;
    list-style: none;
    font-family: $font-family-regular;
    font-size: 14px;
    &:first-child {
      a {
        padding-left: 0;
      }
    }
  }
  a {
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    font-weight: bold;
  }

  background-position: 0 -76px;

  .heading-tile {
    background-position: 0 -80px;
  }
}