
.homepage {
  padding-top: 120px;
  background: url("/img/phone_bg.png") no-repeat center -200px;

  .primary-row {
    text-align: center;

    h2 {
      margin-top: 70px;
      font-size: 20px;
    }

    h3 {
      margin-top: 10px;
      color: #aaa;
      font-size: 16px;
    }
  }

  .download-link {
    margin-top:60px;

    .btn {
      padding: 15px 35px;
      border: 0;
      font-size: 22px;
      opacity: 1;
    }
  }

  .version-text {
    color: #ccc;
    font-size: 12px;
  }

  .content-container {
    padding: 0;
    max-width: 100% !important;
  }

  .social-row {
    margin-top: 90px;
    padding: 45px;
    border-bottom: 1px solid #ddd;
    background: #eee;
    text-align: center;
  }

  .bg-cover {
    background: white;
  }

  .desc-row {
    text-align: center;

    > * {
      margin: 0 auto;
    }

    h3 {
      max-width: 900px;
      font-size: 28px;
      padding: 70px 0 14px;
    }

    p {
      max-width: 700px;
      font-size: 16px;
      padding-bottom: 80px;
    }
  }

  .features-row {
    max-width: 900px;
    margin: 0 auto;
  }

  .img {
    min-width: 256px;
    min-height: 256px;
    background: no-repeat center top;
  }

  .img-performance {
    background-image: url("/img/performance.png");
  }

}