
.homepage {
  background: url("/img/phone_bg.png") no-repeat center top;

  .primary-row {
    text-align: center;

    h2 {
      margin-top: 70px;
      font-size: 20px;
    }

    h3 {
      margin-top: 10px;
      color: #aaa;
      font-size: 16px;
    }
  }

  .download-link {
    margin-top:60px;

    .btn {
      padding: 15px 35px;
      border: 0;
      font-size: 22px;
      opacity: 1;
    }
  }

  .version-text {
    color: #ccc;
    font-size: 12px;
  }

  .content-container {
    padding: 0;
    max-width: 100% !important;
  }

  .social-row-gray {
    margin-top: 90px;
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    opacity: 0.93;
  }

  .social-row {
    position: relative;
    margin-top: -100px;
    height: 100px;
    padding: 45px;
    text-align: center;
  }

  .bg-cover {
    background: white;
  }

  .desc-row {
    text-align: center;

    > * {
      margin: 0 auto;
    }

    h3 {
      max-width: 900px;
      font-size: 28px;
      padding: 70px 0 14px;
    }

    p {
      max-width: 700px;
      font-size: 18px;
      padding-bottom: 80px;
    }
  }

  .features-row {
    max-width: 900px;
    margin: 0 auto;

    p {
      line-height: 28px;
      margin-top: 28px;
      padding-right:20px;
    }
  }

  .img {
    min-width: 256px;
    min-height: 256px;
    background: no-repeat center top;
  }

  .img-performance {
    background-image: url("/img/performance.png");
  }

  .img-angular {
    background-image: url("/img/angular_ionic.png");
  }

  .img-native {
    background-image: url("/img/native.png");
  }

  .img-design {
    background-image: url("/img/design.png");
  }

  .img-nerds {
    background-image: url("/img/nerds.png");
  }

  .examples-row {
    h3 {
      padding-top: 10px;
    }
  }

  .continue-row {
    background: #F7F7F7;
    padding: 40px;

    .row {
      max-width: 900px;
      margin: 0 auto;
    }
    p {
      line-height: 28px;
    }
    a:hover {
      text-decoration: none;
    }
    span {
      padding-left: 5px;
    }
    @media (min-width: 768px) {
    .col-a {
      border-right: 1px solid #ddd;
      padding-right: 40px;
    }
    .col-b {
      padding-left: 45px;
    }
    }
  }

}