
.news {
  position: absolute;
  bottom: 0;
  height: 50px;
  padding-top: 14px;
  background: rgba(255, 255, 255, 0.25);
  width: 100%;

  .container {
    color: #DAE7FD;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a {
    color: #fff;
    opacity: 1;
    text-decoration: underline;
    padding: 0;
    font-weight: normal;

    &:hover {
      text-decoration: none;
    }
  }
}
