
.news {
  font-family: "AvenirNext-Regular" Helvetica Neue, Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  position: absolute;
  bottom: 0;
  height: 50px;
  padding-top: 14px;
  background: rgba(255, 255, 255, 0.25);
  width: 100%;

  .container {
    color: #B6D1FF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a {
    color: #fff;
    opacity: .8;
    text-decoration: none;
    padding: 0;
    font-weight: normal;

    &:hover {
      text-decoration: underline;
      opacity: 1;
    }
  }
}
