@import "bootstrap/bootstrap";
@import "fonts";
@import "type";
@import "guide";
@import "demos";
@import "homepage";
@import "docs";
@import "showcase";
@import "tutorials";
@import "blog";
@import "syntax";
@import "input-types";

body {
  border-top: 1px solid $brand-primary;
}

a {
  opacity: 0.7;
  transition: .1s ease-in-out;
  transition-property: opacity, border-color;
  &:hover,
  &:focus {
    opacity: 1;
  }
}

.content-container {
  margin-top: 40px;
}

@import "header";
@import "news";

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.ionic {
  @import "ionic/ionic";
}


.newsletter-box {
  background-color: #4c8cfa;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  h4 {
    color: #fff;
  }
  .input-group {
    margin-bottom: 15px;
  }
  .btn {
    border-left: 1px solid rgba(79, 142, 247, 0.95);
    color: rgba(79, 142, 247, 0.95);
  }
  input.form-control {
    border: none;
  }
}

.social-box {
  margin: 55px 0px 15px 0px;
  iframe {
    margin-right: 10px;
  }
}


@import "footer";