{% extends '_layouts/blank.html' %}
{% set id = 'books-native-v-hybrid' %}


{% block body_attributes %}

{% endblock %}

{% block main %}
<main class="container">
	<aside></aside>
	<hgroup>
		<h1>The definitive guide to hybrid vs. native app development.</h1>
		<p>
			With popular brands like MarketWatch, Nationwide, and Sworkit choosing
			hybrid over native, many app dev leaders recognize that they now have a
			choice when it comes to how they build apps. This guidebook explains the
			essential elements of hybrid develoment, and what it could mean for your
			next project.
		</p>
		<a href="" class="btn yernge">Send me the free eBook</a>
	</hgroup>
</main>
{% endblock %}

{% block scripts %}

{% endblock %}
