{% extends '_layouts/blank.html' %}
{% set id = 'books-native-v-hybrid' %}
{% set title = 'Hybrid vs. Native Cross Platform App Development | Free Ionic eBook' %}

{% import "../_includes/macros.html" as macros %}


{% block body_attributes %}

{% endblock %}

{% block main %}
<main class="container">
	<aside></aside>
	<hgroup>
		<h1>The definitive guide to hybrid vs. native app development.</h1>
		<p>
			With popular brands like MarketWatch, Nationwide, and Sworkit choosing
			hybrid over native, many app dev leaders recognize that they now have a
			choice when it comes to how they build apps. This guidebook explains the
			essential elements of hybrid development, and what it could mean for your
			next project.
		</p>
		<a class="btn yernge"
       data-toggle="modal"
       data-target="#contactForm">Send me the free eBook</a>
	</hgroup>
</main>
{% endblock %}

{% block modals %}
<div class="modal collapse fade"
     id="contactForm"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                onClick="mixpanel.track('Form Close', {'test': 'Enterprise - 1'})">
          <span aria-hidden="true">&times;</span>
        </button>
        <hgroup class="text-center">
          <h3>Thank you for your interest in our eBook!</h3>
          <p class="lg">
            We just need some basic information so we can send the eBook your
            way.
          </p>
        </hgroup>
        <script charset="utf-8"
                type="text/javascript"
                src="https://js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
            portalId: '3776657',
            formId: '8883f3dd-d97c-4719-aaef-4132038af0c1'
          });
        </script>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
window.download = function() {
	alert('gets here');
}
</script>
{% endblock %}
