{% extends '_layouts/blank.html' %}
{% set id = 'books-rethinking-low-code' %}
{% set title = 'Rethinking low-code - Free Ionic eBook' %}
{% set meta_description = "In an era where speed matters and agility can make or break a business, low-code has become a fast-rising model for application development—with profound implications for developers and business leaders alike." %}
{% set meta_canonical = "https://ionicframework.com/books/hybrid-vs-native" %}
{% set cssPath = 'books/index' %}

{% block body_attributes %}

{% endblock %}

{% block main %}
<main>
  <aside><div class="graphic"></div></aside>
  <hgroup>
    <div class="content-container">
      <h1>Rethinking low-code</h1>
      <p>
        In an era where speed matters and agility can make or break a business, low-code has become a fast-rising model for application development—with profound implications for developers and business leaders alike.
      </p>
      <p>
        This paper offers a perspective on the often overlooked challenges of low-code, and how its dramatic rise is driving the need for a more developer-friendly approach.
      </p>
      <p>
        You’ll learn:
      </p>
      <ul>
        <li>Why developers often dread low-code platforms</li>
        <li>What’s great about low-code for business leaders and developers</li>
        <li>How Ionic X offers a unique, developer-friendly approach to low-code (and why it matters)</li>
      </ul>
      <div class="hubspot-override">
        <script charset="utf-8"
                type="text/javascript"
                src="https://js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
            portalId: '3776657',
            formId: '074186c1-f89d-4b64-aa48-41533415d0e2'
          });
        </script>
      </div>
      <a class="learn-more" href="/">Learn more about Ionic</a>
    </div>
  </hgroup>
</main>
{% endblock %}
