#page-books-native-v-hybrid {
	background: #e1e6ef;
	background: linear-gradient(to right, #e1e6ef, #e1e6ef 50%, #122138 50%, #122541);
	position: relative;
	height: 100%;

	&::before {
		background: linear-gradient(45deg, #111c2c, #122541);
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		left: 50%;
		bottom: 0;
	}

	main {
		display: flex;
		position: relative;
		align-items: center;
		height: 100%;

	}

	aside,
	hgroup {
		flex: 0 0 50%;
	}

	hgroup {
		color: white;
		padding-left: 10%;
	}

}
