@import '../../vars';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/variables';

body {
  position: relative;
  height: 100%;
}

main {
  display: flex;
  position: relative;
  align-items: stretch;
  height: 100%;
}

aside,
hgroup {
  flex: 0 0 50%;
}

aside {
  background: #f2f0ee;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding-left: 32px;
}

.graphic {
  background: url("/img/books/web-ebook-cover.png") no-repeat calc(100% - 1px) calc(50%);
  background-size: contain;
  max-width: 600px;
  max-height: 800px;
  margin-top: 10vh;
  flex: 1;
  margin-right: 20px;
}

.content-container {
  max-width: 500px;
}

hgroup {
  background: #f8f9fb;
  color: #565d67;
  padding-left: 10%;
  max-height: 100%;
  overflow: auto;
  padding-bottom: 32px;
  padding-right: 24px;
  padding-top: 64px;

  h1 {
    color: #0f1622;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.4em
  }

  p, li {
    font-size: 14px;
    line-height: 1.7em;
    margin-bottom: 1em;
  }

  p {
    margin: 2em 0;

    + ul {
      margin-top: -1.4em;
    }
  }

  ul {
    margin-bottom: 38px;
  }

  .btn {
    font-weight: 600;
  }
}

.hubspot-override .hbspt-form {
  max-width: calc(100% - 24px);

  input.hs-input[type="text"],
  input.hs-input[type="email"],
  input.hs-input[type="tel"] {
    width: calc(100% - 24px);
  }
}

.learn-more {
  margin-top: 2em;
  display: block;
  font-weight: 600;
}

.modal {
  hgroup {
    padding-right: 10%;
  }

  h3 {
    color: $blacker;
  }
}

@media (max-width: $screen-sm-max)  {
  body {
    background: #e1e6ef;
    padding-top: 0;
    margin-top: 0;
  }

  &::before {
    display: none;
  }

  main {
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    overflow: scroll;

    aside {
      width: 100%;
      height: 50vh;
      max-height: 400px;
      justify-content: center;
      padding-left: 68px;

      .graphic {
        background-position: 50% 50%;
        margin-top: 16px;
      }
    }

    hgroup {
      padding: 20px 20px 48px;
      position: relative;
      color: $whiteish;
      overflow: visible;
      max-height: none;

      &::before {
        background: linear-gradient(45deg, #111c2c, #122541);
        content: '';
        position: absolute;
        top: 0;
        right: -15px;
        left: -15px;
        bottom: 0;
      }

      .content-container {
        margin-left: auto;
        margin-right: auto;
        position: relative;
      }

      h1 {
        color: white;
      }
    }

    .hubspot-override .hbspt-form {
      label {
        color: white;
      }

      .hs-button {
        max-width: calc(100% - 24px);
      }
    }
  }
}

#page-books-evaluating-ionic-for-enterprise {
  .graphic {
    background-image: url("/img/books/eval-enterprise-book-cover.png");
  }

  aside {
    background: #E3E3F8;
  }

  hgroup {
    background: #F8F9FB;
  }
}

#page-books-native-v-hybrid,
#page-books-evaluating-ionic-for-enterprise,
#page-books-rethinking-low-code {
  @media (max-width: $screen-sm-max)  {
    background: #E3E3F8;

    hgroup {
      background: linear-gradient(45deg, #111c2c, #122541);
    }

    .hubspot-override .hbspt-form {
      label {
        color: white;
      }

      .hs-button {
        max-width: calc(100% - 24px);
      }
    }
  }
}

#page-books-rethinking-low-code {
  .graphic {
    background-image: url("/img/books/rethinking-low-code-cover.png");
  }
}