{% extends "_layouts/base.html" %}
{% set id = 'sales' %}

{% block main %}

<div class="cta banner">
  <hgroup class="container">
    <h1>Contact Sales</h1>
    <p>
      Send us a message and an Ionic Sales Representative will get back to you.
    </p>
  </hgroup>
</div>
<form action="/sales"
      class="form-inline container"
      method="post"
      name="contact">
  {% if notification %}
    <h2 class="{{notificationClass}}">{{ notification }}</h2>
  {% endif %}
  <input class="form-control"
         type="text"
         name="first_name"
         placeholder="Your first name *"
         required>
  <input class="form-control"
        type="text"
        name="last_name"
        placeholder="Your last name *"
        required>
  <input class="form-control"
         type="email"
         name="email"
         placeholder="Email *"
         ng-model="email"
         ng-class="{ 'invalid': contact.email.$error.email }"
         required>
  <input class="form-control"
         type="text"
         name="company"
         placeholder="Company name *"
         required>
  <div class="select-wrapper"><select class="form-control select-helper"
          name="employees"
          required>
    <option value="null" disabled selected>Employees *</option>
    <option value="1-5">1-5</option>
    <option value="5-20">5-20</option>
    <option value="20-50">20-50</option>
    <option value="50-500">50-500</option>
    <option value="500-10000">500-10000</option>
    <option value="10000+">10000+</option>
  </select><div class="up"></div><div class="dn"></div></div>
  <input class="form-control"
         type="text"
         name="title"
         placeholder="Job title *"
         required>
  <input class="form-control full-width"
         type="text"
         name="phone"
         placeholder="Phone *"
         required>
  <textarea name="message"
            cols="30"
            rows="10"
            placeholder="Send us a message"
            required
            ></textarea>
  <input type="hidden" name="form_name" value="sales_contact" />
  <button type="submit" class="btn ionic" value="Send message">
    Send message
  </button>
</form>

{% endblock %}
