{% extends "_layouts/base.html" %}
{% set id = 'pricing-trial' %}
{% import "../_includes/macros.html" as macros %}

{% block main %}
<div class="cta" ng-init="period = 'monthly'">
  <hgroup class="container">
    <h1>You’ll love Ionic Pro Business</h1>
    <p>
      Get a 14 day free trial of the complete app building platform for teams
      &amp; organizations.
    </p>
  </hgroup>
</div>

<div class="box container">
  <div class="content">
    <script charset="utf-8"
            type="text/javascript"
            src="https://js.hsforms.net/forms/v2.js"></script>
    <script>
      hbspt.forms.create({
        portalId: '3776657',
        formId: '23c21058-3df2-47ba-9a58-212cceee8953'
      });
    </script>

    <p>
      Once we receive your contact information, we'll send you an email with the
      next steps to get your trial started.
    </p>
  </div>
  <aside>
    <h3>Starting at $2,000/ yr per team member</h3>
    <ul>
      <li><b>Faster development:</b> Quickly prototype and test new concepts.
        Bring more ideas to market in less time.</li>
      <li><b>Better apps:</b> Build apps that users love, with simple app
        sharing, feedback and issue tracking.</li>
      <li><b>Happier devs &amp; teams:</b> Powerful tools &amp; services built
        by developers, for developers.</li>
      <li><b>Everything in one place:</b> An integrated experience across every
        phase of the app lifecycle.</li>
    </ul>
    <p>
      Ionic Pro Business is built for teams. Looking for a single developer
      plan? You can get started with our free Kickstarter plan today.
    </p>
  </aside>
</div>
{% endblock %}

{% block modals %}

{% endblock %}

{% block scripts %}
{% endblock %}