{% extends '_layouts/blank.html' %}

{% block page %}
  {% if id == 'home' %}
    <div id="snap-bar">
      Building apps at a large company? Check out
      <a href="/enterprise">
        <b>Ionic Enterprise</b>
        <i class="ion-md-arrow-forward"></i>
      </a>
    </div>
  {% endif %}
  {% include '../_includes/header.html' %}

  {% block main %}
    <div class="cta banner"></div>
    <main class="container">
      {{ markdown }}
    </main>
  {% endblock %}

  {% if pre_footer == true %}
    {% include '../_includes/pre_footer.html' %}
  {% endif %}

  {% include '../_includes/footer.html' %}
{% endblock %}
