{% extends '_layouts/blank.html' %}

{% block page %}

  <div id="snap-bar">
    <img src="/img/net-neutrality-loading.png" width="16" class="loading"/>
    Speak up for a free and open internet. 
    <a href="https://www.battleforthenet.com">
      <b>Act now to save Net Neutrality</b>
    </a>
  </div>
  
  {% include '../_includes/header.html' %}

  {% block main %}
    <div class="cta banner"></div>
    <main class="container">
      {{ markdown }}
    </main>
  {% endblock %}

  {% if pre_footer == true %}
    {% include '../_includes/pre_footer.html' %}
  {% endif %}

  {% include '../_includes/footer.html' %}
{% endblock %}
