<!DOCTYPE html>
<html lang="en">
  <head>
    {% block header %}
      {% include '../_includes/head.prod.html' %}
      {% block header_includes %}{% endblock %}
    {% endblock %}
  </head>
  <body id="page-{{id}}"
        class="page-{{id}}
               {% if header_style %}{{header_style}}{% endif %}"
        data-spy="scroll"
        data-offset="100"
        ng-app="IonicSite"
        {% if bodyController %}ng-controller="{{bodyController}}"{% endif %}
        {% block body_attributes %}{% endblock %}>

    <div id="snap-bar">
      Add your voice:
      <a href="https://goo.gl/forms/bodM9ebK7R4RdjF93" style="color: #fff">
        <b>The 2017 Ionic Developer Survey is here</b>
        <i class="ion-md-arrow-forward"></i>
      </a>
    </div>
    {% include '../_includes/header.html' %}

    {% block main %}{% endblock %}

    {% if pre_footer == true %}
      {% include '../_includes/pre_footer.html' %}
    {% endif %}

    {% include '../_includes/footer.html' %}

    {% block footer %}
      {% include '../_includes/scripts.prod.html' %}
      {% block scripts %}{% endblock %}
    {% endblock %}
  </body>
</html>
