<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="ionic,html5,hybrid,cordova,phonegap,angularjs,reactjs,emberjs">
  <meta name="description" content="{% block meta_description %}Creator is a drag-&-drop prototyping tool for creating great apps using Ionic, with just a click of the mouse.{% endblock %}">
  <title>{% block title %}Ionic Cloud{% endblock %}</title>
  <link rel="shortcut icon" href="/img/pro/creator/ionic-creator-icon.png">

  <!--<link rel="stylesheet" href="/css/mezzanine.css">-->
  <link rel="stylesheet" href="/css/creator.css">

  {% block extra_css %}{% endblock %}

  {% block extra_js %}{% endblock %}

  {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body-creator-{{ page }}{% endblock %}"
      {% block body_attributes %}class="creator"{% endblock %}
      ng-app="IonicSite">
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TKMGCBC"
            style="display:none;visibility:hidden"
            height="0"
            width="0" ></iframe>
  </noscript>
  {% block ionicbar %}
  {# ##hide for now
    <nav class="navbar navbar-ionic">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button"
                  class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#navbar-collapse"
                  aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img alt="Ionic Cloud" src="/img/ionic-cloud-logo.png">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/pro">Products</a></li>
            <li><a href="https://ionicframework.com">Ionic Framework</a></li>
            <li><a href="/pro/pricing">Pricing</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://docs.usecreator.com">Docs</a></li>
            <li><a href="/creator/support">Support</a></li>
            <li class="active"><a href="/login">Log In</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  #}
  {% endblock %}

  {% block header %}
    <header class="container">
      <a href="/creator">
        <img class="creator-logo" src="/img/pro/creator/creator-logo.png"/>
      </a>
      <nav>
        <!--
        <a class="btn {% if page == 'pricing' %}active{% endif %}"
           href="/creator/pricing">Pricing</a>
        -->
        <a class="btn {% if page == 'docs' %}active{% endif %}"
           href="http://docs.usecreator.com">Docs</a>
        <a class="btn {% if page == 'support' %}active{% endif %}"
           href="/creator/support">Support</a>
        <a class="btn blue border" href="https://creator.ionic.io/app/login">
          Login
        </a>
        <!--
        <a class="btn blue signup" href="https://creator.ionic.io/app/signup">
          Sign up
        </a>
      -->
      </nav>
    </header>
  {% endblock %}

  {% block main %}

  {% endblock %}



  {% block footer %}
  <footer class="container">
    <div class="row">
      <div class="left">
        <a href="/creator">
          <img class="creator-logo" src="/img/pro/creator/creator-logo.png"/>
        </a>
        <p>
          The fastest way to build, share, and ship mobile apps.
        </p>
      </div>
      <div class="center">
        <section>
          <h3>Info</h3>
          <ul>
            <li><a href="https://ionicframework.com"
                   target="_blank">Ionic</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/tos">Terms</a></li>
          </ul>
        </section>
        <section>
          <h3>Resources</h3>
          <ul>
            <li><a href="/creator/pricing">Pricing</a></li>
            <li><a href="http://docs.usecreator.com">Docs</a></li>
            <li><a href="/creator/support">Support</a></li>
          </ul>
        </section>
        <section>
          <h3>Say Hi!</h3>
          <ul>
            <li><a href="mailto:help@usecreator.com" target="_blank">
              Contact
            </a></li>
            <li><a href="https://twitter.com/IonicCreator" target="_blank">
              Twitter
            </a></li>
          </ul>
        </section>
      </div>
      <div class="right twitter">
        <p>
          Loving the new <a href="https://twitter.com/IonicCreator"
          target="_blank">@IonicCreator</a>! Nice work <a target="_blank"
          href="https://twitter.com/Ionicframework">@Ionicframework</a> team!
        </p>
      </div>
    </div>

    <div class="row bottom">
      <p>
        <img src="/img/pro/creator/ionic-io-logo-small.png" class="ioni-io-logo"/>
        Copyright &copy; 2017. All rights reserved.
      </p>
    </div>
  </footer>
  {% endblock %}

	{% include '../_includes/scripts.prod.html' %}
	{% block scripts %}{% endblock %}
  <script>
  window.intercomSettings = {
    app_id: "yqjddt6b"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/yqjddt6b';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
</body>
</html>
