#page-pwa {
  img:not(.promo__illustration) {
    width: auto;
  }
  img {
    height: auto;

    &.promo__image {
      height: 156px;
      width: unset;
    }
  }

  svg.logo {
    width: 200px;
    padding: 0 0 40px;
  }

  font-size: 1.4rem;

  #social-share-sidebar {
    left: 35px;
  }

  h1,
  h2,
  h3 {
    font-weight: 700;
  }

  .lede {
    color: #748196;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.6;
    margin: 1em auto;
    max-width: 72rem;

    @media screen and (max-width: $screen-xs-max) {
      font-size: 1.2em;
    }
  }

  .lede > strong {
    color: #333333;
  }

  .eyebrow {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 1em 0;
    text-transform: uppercase;
  }

  .card {
    border-radius: 6px;
    box-shadow: 0px 4px 6px rgba(black, 0.1), 0px 1px 3px rgba(black, 0.08);
    overflow: hidden;
    transition: transform 100ms ease-out, box-shadow 120ms ease-out;

    &__image {
      max-width: 100%;
    }

    &__content {
      padding: 1em;
    }

    &:hover {
      box-shadow: 0 8px 16px rgba(black, 0.08), 0 3px 6px rgba(black, 0.08);
      transform: translateY(-2px);
    }
  }

  .panel {
    padding: 8rem 4rem;

    &__header {
      margin-bottom: 6rem;
      text-align: center;
    }
  }

  .panel .container {
    max-width: 1140px;
  }

  // CTA
  .cta {
    background-image: url("/img/pwa/pwa-hero.jpg");
    background-position: center center;
    background-size: cover;
    padding: 16rem 0;
    text-align: center;

    @media screen and (max-width: $screen-xs-max) {
      margin-top: 0;
      padding-bottom: calc(16rem - 70px);
    }
  }

  .cta h1 {
    font-size: 3.45em;
    letter-spacing: -0.02em;

    @media screen and (max-width: $screen-xs-max) {
      font-size: 3em;
    }
  }

  .cta .eyebrow {
    font-size: 1.4rem;
    letter-spacing: 0.2em;
  }

  .cta .lede {
    color: #cfe1fa;
  }

  .cta .lede > strong {
    color: white;
    font-weight: inherit;
  }

  // Features

  .features {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;
    max-width: 100rem;
    padding: 0;
    text-align: center;
  }

  .features > li {
    flex: 0 0 25%;
    padding: 2%;

    @media screen and (max-width: $screen-xs-max) {
      flex: 0 0 50%;
    }
  }

  .features h4 {
    font-size: 1.15em;
    font-weight: 600;
  }

  .features p {
    color: #748196;
    font-size: 0.925em;
    font-weight: 600;
  }

  .features__icon {
    $features-icon-size: 48px;

    background-image: url("/img/pwa/pwa-feature-icons.png");
    background-position: top left;
    background-size: 100%;
    height: $features-icon-size;
    margin: 0 auto 2rem;
    width: $features-icon-size;

    &--reliable {
      background-position-y: 0;
    }
    &--fast {
      background-position-y: $features-icon-size * -1;
    }
    &--accessible {
      background-position-y: $features-icon-size * -2;
    }
    &--web-based {
      background-position-y: $features-icon-size * -3;
    }
    &--discoverable {
      background-position-y: $features-icon-size * -4;
    }
    &--small {
      background-position-y: $features-icon-size * -5;
    }
    &--instant {
      background-position-y: $features-icon-size * -6;
    }
    &--simple {
      background-position-y: $features-icon-size * -7;
    }
  }

  @media screen and (min-width: $screen-md-min) {
    .features > li:hover {
      p,
      h4,
      .features__icon {
        opacity: 1;
        transform: translateY(0);
      }
    }
    .features h4,
    .features p,
    .features__icon {
      transform: translateY(20px);
      transition: transform 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .features p {
      opacity: 0;
    }
  }

  // Examples

  .examples {
    background-color: #f6f9fc;
  }

  .examples.panel {
    @media screen and (max-width: $screen-xs-max) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .examples__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .examples__list > .card {
    border-radius: 8px;
    box-shadow: 0px 3px 8px rgba(black, 0.1);
    margin: 1rem;
    width: calc(1110px / 3 - 2rem);

    &:hover {
      box-shadow: 0 8px 16px rgba(black, 0.1), 0 3px 6px rgba(black, 0.1);
    }

    @media screen and (max-width: $screen-xs-max) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .example {
    background-position: center center;
    background-size: cover;
    border-radius: 8px;
    color: rgba(white, 0.8);
    font-weight: 600;
    height: 0;
    padding-bottom: 88%;
    position: relative;

    &.starbucks {
      background-image: url("/img/pwa/pwa-starbucks-bg.jpg");
    }
    &.pinterest {
      background-image: url("/img/pwa/pwa-pinterest-bg.jpg");
    }
    &.uber {
      background-image: url("/img/pwa/pwa-uber-bg.jpg");
    }
    &.lyft {
      background-image: url("/img/pwa/pwa-lyft-bg.jpg");
    }
    &.twitter {
      background-image: url("/img/pwa/pwa-twitter-bg.jpg");
    }
    &.forbes {
      background-image: url("/img/pwa/pwa-forbes-bg.jpg");
    }
  }

  .example__content {
    bottom: 0;
    height: 46.875%;
    left: 0;
    padding: 1.4em;
    position: absolute;
    right: 0;

    img {
      height: 40px;
      margin-bottom: 1em;
    }
  }

  // Library

  .library > .container > section {
    padding-left: 2rem;
  }

  .library__list h4 {
    font-size: 16px;
    font-weight: 600;
  }

  .library__list p {
    color: #748196;
    font-size: 13px;
    font-weight: 600;
  }

  .library__list a {
    color: inherit;

    &:focus {
      text-decoration: none;
    }
  }

  .library__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 2em 0 4em 0;
    padding: 0;
  }

  .library__list > li {
    flex: 0 0 25%;
    padding-bottom: 2rem;
    padding-right: 2rem;

    @media screen and (max-width: $screen-md-max) {
      flex: 0 0 33.33%;
    }

    @media screen and (max-width: $screen-sm-max) {
      flex: 0 0 50%;
    }

    @media screen and (max-width: $screen-xs-max) {
      flex: 0 0 100%;
      padding-right: 0;
    }
  }

  .library__list .card {
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: $screen-xs-max) {
      max-width: 260px;
    }
  }

  .library .eyebrow {
    @media screen and (max-width: $screen-xs-max) {
      text-align: center;
    }
  }

  // Promo buttons
  .promo_button {
    margin-top: 40px;
  }
}
