{% extends "_layouts/enterprise.html" %}
{% set id = 'contact' %}
{% set cssPath = 'enterprise/solutions/index' %}

{% block main %}

<hgroup class="container ee-hero ee-hero--centered">
  <h1>Solutions</h1>
</hgroup>

<main class="ee-main">
  <section class="container left">
    <div class="content solution-hero solution-hero--cross-platform">
      <h4 class="ee-section__title"></h4>
      <h2>Cross-Platform Development</h2>
      <p>
        Empower your web teams to build award-winning mobile and desktop
        applications - with 100% code sharing across projects.
      </p>
      <a class="ee-section__cta" href="/enterprise/solutions/cross-platform">Learn more</a>
    </div>
  </section>

  <section class="container right">
    <div class="content solution-hero solution-hero--design-system">
      <h4 class="ee-section__title"></h4>
      <h2>Design Systems</h2>
      <p>
        Reduce design debt, connect disparate tech teams, and enforce brand
        consistency at scale with a world-class design system that works
        everywhere..
      </p>
      <a class="ee-section__cta" href="/enterprise/solutions/design-systems">Learn more</a>
    </div>
  </section>

  <section class="container left">
    <div class="content solution-hero solution-hero--pwa">
      <h4 class="ee-section__title"></h4>
      <h2>Progressive Web Apps</h2>
      <p>
        Reduce design debt, connect disparate tech teams, and enforce brand
        consistency at scale with a world-class design system that works
        everywhere.
      </p>
      <a class="ee-section__cta" href="/enterprise/solutions/pwa">Learn more</a>
    </div>
  </section>

</main>


{% endblock %}


{% block scripts %}

{% endblock %}
