{% extends "_layouts/enterprise.html" %}
{% set id = 'contact' %}
{% set cssPath = 'enterprise/solutions/index' %}

{% block main %}

<hgroup class="container ee-hero ee-hero--centered ee-hero--wide">
  <h4>Ionic Enterprise Solutions</h4>
  <h1>We help companies develop engaging digital experiences using the power of the web.</h1>
</hgroup>

<main class="ee-main">
  <section class="container left">
    <div class="content solution-hero solution-hero--cross-platform">
      <h4 class="ee-section__title"></h4>
      <h2>Cross-Platform Development</h2>
      <p>
        Give your web development team the flexibility and tools they need to build and ship stunning apps for any channel or platform—all using one shared codebase.
      </p>
      <a class="ee-section__cta" href="/enterprise/solutions/cross-platform">Learn more <ion-icon name="arrow-forward"></ion-icon></a>
    </div>
  </section>

  <section class="container right">
    <div class="content solution-hero solution-hero--design-system">
      <h4 class="ee-section__title"></h4>
      <h2>Design Systems</h2>
      <p>
        Overcome design debt, improve cross-departmental collaboration, and ensure brand consistency across projects & platforms with a dynamic design system that works with any tech stack.
      </p>
      <a class="ee-section__cta" href="/enterprise/solutions/design-systems">Learn more <ion-icon name="arrow-forward"></ion-icon></a>
    </div>
  </section>

  <section class="container left">
    <div class="content solution-hero solution-hero--pwa">
      <h4 class="ee-section__title"></h4>
      <h2>Progressive Web Apps</h2>
      <p>
        Skip the app store and embrace the power of the web by leveraging Ionic’s world-class UI library to build an optimized, reliable, and fast PWA that reaches anyone, anywhere.
      </p>
      <a class="ee-section__cta" href="/enterprise/solutions/pwa">Learn more <ion-icon name="arrow-forward"></ion-icon></a>
    </div>
  </section>

</main>


{% endblock %}


{% block scripts %}

{% endblock %}
