@import '../../vars';

 ionic-sub-header {
  font-family: $font-family-inter;
  position: sticky;
  top: 0;
  z-index: 99;
  backdrop-filter: blur(20px);
  transition: .2s box-shadow;

  &.ionic-sub-header--initialized {
    transition: 
      background-color .4s ease,
      box-shadow .4s ease;

      &:not(.ionic-sub-header--stuck) {
        backdrop-filter: none;
      }
  }

  &__trigger {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 1px;
    pointer-events: none;
    opacity: 0;

    @media (max-width: $screen-xs-max) {
      top: 0;
    }
  }

  &.ionic-sub-header--not-sticky {
    position: relative;

    &.ionic-sub-header--stuck { 
      background: none;
      box-shadow: none;
      backdrop-filter: none;
    }
  }

  &.ionic-sub-header--stuck {
    background: #020814;
    box-shadow: 0 1px 0px rgba(black, .06);
  
    @supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
      background: rgba(#020814, .8);
    }
  }

  & > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 13px;
    font-weight: 500;
    min-height: 55px;
    // flex-wrap: wrap;
    overflow-x: auto;
    position: relative;
    z-index: 1;

    &::before {
      border-top: 1px solid rgba(white, .06);
      display: block;
      content: '';
      position: absolute;
      top: 0;
      right: 15px;
      left: 15px;
      flex: 0 0 100%;


      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }

    &::after { display: none; }
  }

  ul {
    padding: 0;
    list-style: none;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02em;
    font-weight: 400;
  }

  li {
    display: flex;
    align-items: center;
  }

  [slot="right"] li:last-child a:not(.btn) {
    padding-right: 0;
  }

  ul:not([slot="right"]) li:first-child a,
  [slot="left"] li:first-child a,
  [slot="title"] {
    padding-left: 0;
  }

  ul {
    font-size: 12px;
    line-height: 14px;
  }

  [slot="title"] {
    font-family: $font-family-eina;
    // same as .sub-header__breadcrumbs li:last-child a
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.03em;

    &:hover {
      color: white;
    }
  }

  [slot="breadcrumbs"] li {
    &::after {
      content: '/';
      color: rgba(white, .1);
      font-size: 16px;
      font-weight: 400;
      vertical-align: 0px;
    }

    a {
      padding-left: 8px;
      padding-right: 8px;
      color: rgba(white, .6);
    }

    &:last-child {
      a {
        font-weight: 600;
        color: white;
      }

      &::after {
        display: none;
      }
    }
  }

  span,
  a {
    color: white;
    fill: white;
    position: relative;
    letter-spacing: 0;
    padding: 16px 12px;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    transition: .2s color;

    &.has-icon {
      padding-left: 32px;
    }

    ion-icon {
      font-size: 1.4em;
      position: absolute;
      left: 12px;
      top: 14px;
    }
  }

  a {
    svg,
    path {
      transition: .2s fill;
      vertical-align: -15%;
    }

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
      

    &.current,
    &.active,
    &:hover {
      color: rgba(white, .4);
    }

    &.btn {
      padding: 5px 10px 3px;
      border-radius: 16px;
      color: white;
      font-size: 13px;
      font-weight: 600;
      vertical-align: 0px;
      letter-spacing: -.01em;
      margin-right: 3px;
      margin-left: 9px;
      box-shadow: none;
      transition: .3s box-shadow, .3s background;

      &:hover {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
      }

      &:active {
        box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
      }
    }
  }

  .ionic-sub-header__mobile-toggle {
    display: none;
  }

  @media (max-width: $screen-xs-max) {
    &.hydrated.ionic-sub-header--initialized {
      max-height: 55px;
      background: transparent;
    }

    > .container {
      max-height: 55px;
      transition: .4s max-height ease;

      background: black;
      backdrop-filter: blur(20px);
      @supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
        background: rgba(black, .9);
      }
    }

    &,
    & > .container {
      overflow: visible;
      perspective: 1000px;
    }

    span,
    a {
      ion-icon {
        font-size: 1.4em;
        position: static;
        vertical-align: -3px;
      }
    }

    .ionic-sub-header__mobile-toggle {
      display: block;
      margin-top: 2px;
      cursor: pointer;
      transform-style: preserve-3d;
      transition: 
        .4s transform cubic-bezier(.07,.65,.57,1.66);

      svg path {
        stroke-dasharray: 955;
        stroke-dashoffset: 955;
        transition: stroke-dashoffset .4s linear forwards;
      }

      &:hover {
        color: inherit;
      }
    }

    [slot="right"] {
      flex: 100%;
      // position: absolute;
      // background: white;
      // left: 0;
      // top: 55px;
      // width: 100vw;
      padding: 0 16px 16px;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;
      // box-shadow: 0 1px 0px rgba(black, .06);

      // backdrop-filter: blur(20px);
      // @supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
      //   background: rgba(white, .8);
      // }

      transform: scaleY(0);
      transform-origin: top;
      transition: transform .4s ease .3s;

      li {
        display: block;
        opacity: 0;
        transform: translateX(15px);
        transition: 
          transform .4s step-end 0s,
          opacity .4s ease 0s;
      }

      a {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }

      .btn {
        margin-top: 16px;
        text-align: center;
        margin-left: 0;
        border-radius: 4px;
      }
    }

    &.ionic-sub-header--mobile-active {
      // box-shadow: none;

      > .container {
        box-shadow: 0 1px 0px rgba(black, .06);
        transition: .4s max-height ease;
        max-height: 600px;
      }
      
      .ionic-sub-header__mobile-toggle {
        transform: rotateZ(180deg);
      }
      
      [slot="right"] {
        transform: scaleY(1);
        transition: transform .4s ease 0s;
  
        li {
          transform: translateX(0);
          opacity: 1;
          transition: 
          .4s transform .2s ease,
          .4s opacity .2s ease;

          &:nth-child(2) { transition-delay: .3s; }
          &:nth-child(3) { transition-delay: .4s; }
          &:nth-child(4) { transition-delay: .5s; }
          &:nth-child(5) { transition-delay: .6s; }
        }
      }
    }

    & > .container { 
      flex-wrap: wrap;
    }
  }
}

body.light ionic-sub-header {

  &.ionic-sub-header--stuck {
    background: white;
  
    @supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
      background: rgba(white, .9);
    }
  }

  .container::before {
    border-top-color: rgba(black, .06);
  }

  span,
  a {
    color: #414D5C;
    fill: #414D5C;
  }

  .btn,
  .btn:hover {
    color: white;
  }

  [slot="breadcrumbs"] li {
    &:after {
      color: rgba(#414D5C, .2);
    }

    &:not(:last-child) a {
      color: rgba(#414D5C, .6);

      &:hover {
        color: $blue;
      }
    }
  }

  [slot="breadcrumbs"],
  [slot="title"] {
    &,
    a {
      color: #1A232F;

      &:hover {
        color: #1A232F;
      }
    }
  }

  a {
    &.current,
    &.active {
      color: #b1bbca;
    }

    &:hover {
      color: $blue;

      svg,
      path {
        fill: $blue;
      }
    }

    &.ionic-sub-header__mobile-toggle:hover {
      svg,
      path {
        fill: unset;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    > .container {
      background: white;

      @supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
        background: rgba(white, .9);
      }
    }
  }
}

