
<li class="{% if page.id == '{{ | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api"></a>
</li>
<li class="{% if page.id == '{{ActionSheet | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/action-sheet/ActionSheet">ActionSheet</a>
</li>
<li class="{% if page.id == '{{Animation | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/animations/Animation">Animation</a>
</li>
<li class="{% if page.id == '{{App | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/config/App">App</a>
</li>
<li class="{% if page.id == '{{Attr | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/app/Attr">Attr</a>
</li>
<li class="{% if page.id == '{{Blur | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/blur/Blur">Blur</a>
</li>
<li class="{% if page.id == '{{Button | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/button/Button">Button</a>
</li>
<li class="{% if page.id == '{{Checkbox | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/checkbox/Checkbox">Checkbox</a>
</li>
<li class="{% if page.id == '{{ClickBlock | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/util/ClickBlock">ClickBlock</a>
</li>
<li class="{% if page.id == '{{Config | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/config/Config">Config</a>
</li>
<li class="{% if page.id == '{{ConfigComponent | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/config/ConfigComponent">ConfigComponent</a>
</li>
<li class="{% if page.id == '{{Content | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/content/Content">Content</a>
</li>
<li class="{% if page.id == '{{Events | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/util/Events">Events</a>
</li>
<li class="{% if page.id == '{{HideWhen | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/show-hide-when/HideWhen">HideWhen</a>
</li>
<li class="{% if page.id == '{{Icon | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/icon/Icon">Icon</a>
</li>
<li class="{% if page.id == '{{IdRef | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/app/IdRef">IdRef</a>
</li>
<li class="{% if page.id == '{{initTapClick | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/tap-click/initTapClick">initTapClick</a>
</li>
<li class="{% if page.id == '{{IonicApp | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/app/IonicApp">IonicApp</a>
</li>
<li class="{% if page.id == '{{ionicProviders | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/config/ionicProviders">ionicProviders</a>
</li>
<li class="{% if page.id == '{{IONIC_DIRECTIVES | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/config/IONIC_DIRECTIVES">IONIC_DIRECTIVES</a>
</li>
<li class="{% if page.id == '{{isActivatable | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/tap-click/isActivatable">isActivatable</a>
</li>
<li class="{% if page.id == '{{Item | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/item/Item">Item</a>
</li>
<li class="{% if page.id == '{{ItemGroup | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/item/ItemGroup">ItemGroup</a>
</li>
<li class="{% if page.id == '{{ItemGroupTitle | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/item/ItemGroupTitle">ItemGroupTitle</a>
</li>
<li class="{% if page.id == '{{ItemSliding | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/item/ItemSliding">ItemSliding</a>
</li>
<li class="{% if page.id == '{{Label | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/text-input/Label">Label</a>
</li>
<li class="{% if page.id == '{{List | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/list/List">List</a>
</li>
<li class="{% if page.id == '{{ListHeader | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/list/ListHeader">ListHeader</a>
</li>
<li class="{% if page.id == '{{LocalStorage | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/platform/storage/LocalStorage">LocalStorage</a>
</li>
<li class="{% if page.id == '{{Menu | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/menu/Menu">Menu</a>
</li>
<li class="{% if page.id == '{{MenuClose | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/menu/MenuClose">MenuClose</a>
</li>
<li class="{% if page.id == '{{MenuToggle | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/menu/MenuToggle">MenuToggle</a>
</li>
<li class="{% if page.id == '{{MenuType | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/menu/MenuType">MenuType</a>
</li>
<li class="{% if page.id == '{{Modal | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/modal/Modal">Modal</a>
</li>
<li class="{% if page.id == '{{Nav | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/nav/Nav">Nav</a>
</li>
<li class="{% if page.id == '{{Navbar | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/navbar/Navbar">Navbar</a>
</li>
<li class="{% if page.id == '{{NavbarTemplate | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/navbar/NavbarTemplate">NavbarTemplate</a>
</li>
<li class="{% if page.id == '{{NavController | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/nav/NavController">NavController</a>
</li>
<li class="{% if page.id == '{{NavParams | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/nav/NavParams">NavParams</a>
</li>
<li class="{% if page.id == '{{NavPop | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/nav/NavPop">NavPop</a>
</li>
<li class="{% if page.id == '{{NavPush | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/nav/NavPush">NavPush</a>
</li>
<li class="{% if page.id == '{{NavRouter | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/nav/NavRouter">NavRouter</a>
</li>
<li class="{% if page.id == '{{OverlayAnchor | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/overlay/OverlayAnchor">OverlayAnchor</a>
</li>
<li class="{% if page.id == '{{Page | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/config/Page">Page</a>
</li>
<li class="{% if page.id == '{{Platform | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/platform/Platform">Platform</a>
</li>
<li class="{% if page.id == '{{Popup | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/popup/Popup">Popup</a>
</li>
<li class="{% if page.id == '{{RadioButton | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/radio/RadioButton">RadioButton</a>
</li>
<li class="{% if page.id == '{{RadioGroup | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/radio/RadioGroup">RadioGroup</a>
</li>
<li class="{% if page.id == '{{Refresher | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/scroll/Refresher">Refresher</a>
</li>
<li class="{% if page.id == '{{Scroll | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/scroll/Scroll">Scroll</a>
</li>
<li class="{% if page.id == '{{SearchBar | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/searchbar/SearchBar">SearchBar</a>
</li>
<li class="{% if page.id == '{{Segment | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/segment/Segment">Segment</a>
</li>
<li class="{% if page.id == '{{SegmentButton | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/segment/SegmentButton">SegmentButton</a>
</li>
<li class="{% if page.id == '{{ShowWhen | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/show-hide-when/ShowWhen">ShowWhen</a>
</li>
<li class="{% if page.id == '{{Slide | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/slides/Slide">Slide</a>
</li>
<li class="{% if page.id == '{{SlideLazy | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/slides/SlideLazy">SlideLazy</a>
</li>
<li class="{% if page.id == '{{Slides | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/slides/Slides">Slides</a>
</li>
<li class="{% if page.id == '{{SqlStorage | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/platform/storage/SqlStorage">SqlStorage</a>
</li>
<li class="{% if page.id == '{{Storage | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/platform/storage/Storage">Storage</a>
</li>
<li class="{% if page.id == '{{StorageEngine | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/platform/storage/StorageEngine">StorageEngine</a>
</li>
<li class="{% if page.id == '{{Switch | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/switch/Switch">Switch</a>
</li>
<li class="{% if page.id == '{{Tab | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/tabs/Tab">Tab</a>
</li>
<li class="{% if page.id == '{{Tabs | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/tabs/Tabs">Tabs</a>
</li>
<li class="{% if page.id == '{{TextInput | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/text-input/TextInput">TextInput</a>
</li>
<li class="{% if page.id == '{{TextInputElement | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/text-input/TextInputElement">TextInputElement</a>
</li>
<li class="{% if page.id == '{{Toolbar | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/toolbar/Toolbar">Toolbar</a>
</li>
<li class="{% if page.id == '{{ToolbarBase | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/toolbar/ToolbarBase">ToolbarBase</a>
</li>
<li class="{% if page.id == '{{ToolbarItem | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/toolbar/ToolbarItem">ToolbarItem</a>
</li>
<li class="{% if page.id == '{{ToolbarTitle | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/toolbar/ToolbarTitle">ToolbarTitle</a>
</li>
<li class="{% if page.id == '{{Transition | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/transitions/Transition">Transition</a>
</li>
<li class="{% if page.id == '{{Translate | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/translation/Translate">Translate</a>
</li>
<li class="{% if page.id == '{{TranslatePipe | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/translation/TranslatePipe">TranslatePipe</a>
</li>
<li class="{% if page.id == '{{ViewController | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/2.0.0-alpha.35/api/components/nav/ViewController">ViewController</a>
</li>
