
<li class="capitalize {% if page.id == 'actionsheet' %}active{% endif %}">
  <a href="/docs/v2/api/components/action-sheet/ActionSheet">ActionSheet</a>
</li>
<li class="capitalize {% if page.id == 'alert' %}active{% endif %}">
  <a href="/docs/v2/api/components/alert/Alert">Alert</a>
</li>
<li class="capitalize {% if page.id == 'app' %}active{% endif %}">
  <a href="/docs/v2/api/decorators/App">App</a>
</li>
<li class="capitalize {% if page.id == 'button' %}active{% endif %}">
  <a href="/docs/v2/api/components/button/Button">Button</a>
</li>
<li class="capitalize {% if page.id == 'checkbox' %}active{% endif %}">
  <a href="/docs/v2/api/components/checkbox/Checkbox">Checkbox</a>
</li>
<li class="capitalize {% if page.id == 'config' %}active{% endif %}">
  <a href="/docs/v2/api/config/Config">Config</a>
</li>
<li class="capitalize {% if page.id == 'content' %}active{% endif %}">
  <a href="/docs/v2/api/components/content/Content">Content</a>
</li>
<li class="capitalize {% if page.id == 'events' %}active{% endif %}">
  <a href="/docs/v2/api/util/Events">Events</a>
</li>
<li class="capitalize {% if page.id == 'hidewhen' %}active{% endif %}">
  <a href="/docs/v2/api/components/show-hide-when/HideWhen">HideWhen</a>
</li>
<li class="capitalize {% if page.id == 'icon' %}active{% endif %}">
  <a href="/docs/v2/api/components/icon/Icon">Icon</a>
</li>
<li class="capitalize {% if page.id == 'id' %}active{% endif %}">
  <a href="/docs/v2/api/components/app/Id">Id</a>
</li>
<li class="capitalize {% if page.id == 'infinitescroll' %}active{% endif %}">
  <a href="/docs/v2/api/components/infinite-scroll/InfiniteScroll">InfiniteScroll</a>
</li>
<li class="capitalize {% if page.id == 'input' %}active{% endif %}">
  <a href="/docs/v2/api/components/input/Input">Input</a>
</li>
<li class="capitalize {% if page.id == 'item' %}active{% endif %}">
  <a href="/docs/v2/api/components/item/Item">Item</a>
</li>
<li class="capitalize {% if page.id == 'itemsliding' %}active{% endif %}">
  <a href="/docs/v2/api/components/item/ItemSliding">ItemSliding</a>
</li>
<li class="capitalize {% if page.id == 'keyboard' %}active{% endif %}">
  <a href="/docs/v2/api/util/Keyboard">Keyboard</a>
</li>
<li class="capitalize {% if page.id == 'label' %}active{% endif %}">
  <a href="/docs/v2/api/components/label/Label">Label</a>
</li>
<li class="capitalize {% if page.id == 'list' %}active{% endif %}">
  <a href="/docs/v2/api/components/list/List">List</a>
</li>
<li class="capitalize {% if page.id == 'localstorage' %}active{% endif %}">
  <a href="/docs/v2/api/platform/storage/LocalStorage">LocalStorage</a>
</li>
<li class="capitalize {% if page.id == 'menu' %}active{% endif %}">
  <a href="/docs/v2/api/components/menu/Menu">Menu</a>
</li>
<li class="capitalize {% if page.id == 'menuclose' %}active{% endif %}">
  <a href="/docs/v2/api/components/menu/MenuClose">MenuClose</a>
</li>
<li class="capitalize {% if page.id == 'menutoggle' %}active{% endif %}">
  <a href="/docs/v2/api/components/menu/MenuToggle">MenuToggle</a>
</li>
<li class="capitalize {% if page.id == 'modal' %}active{% endif %}">
  <a href="/docs/v2/api/components/modal/Modal">Modal</a>
</li>
<li class="capitalize {% if page.id == 'nav' %}active{% endif %}">
  <a href="/docs/v2/api/components/nav/Nav">Nav</a>
</li>
<li class="capitalize {% if page.id == 'navbar' %}active{% endif %}">
  <a href="/docs/v2/api/components/navbar/Navbar">Navbar</a>
</li>
<li class="capitalize {% if page.id == 'navcontroller' %}active{% endif %}">
  <a href="/docs/v2/api/components/nav/NavController">NavController</a>
</li>
<li class="capitalize {% if page.id == 'navparams' %}active{% endif %}">
  <a href="/docs/v2/api/components/nav/NavParams">NavParams</a>
</li>
<li class="capitalize {% if page.id == 'navpop' %}active{% endif %}">
  <a href="/docs/v2/api/components/nav/NavPop">NavPop</a>
</li>
<li class="capitalize {% if page.id == 'navpush' %}active{% endif %}">
  <a href="/docs/v2/api/components/nav/NavPush">NavPush</a>
</li>
<li class="capitalize {% if page.id == 'option' %}active{% endif %}">
  <a href="/docs/v2/api/components/option/Option">Option</a>
</li>
<li class="capitalize {% if page.id == 'page' %}active{% endif %}">
  <a href="/docs/v2/api/decorators/Page">Page</a>
</li>
<li class="capitalize {% if page.id == 'platform' %}active{% endif %}">
  <a href="/docs/v2/api/platform/Platform">Platform</a>
</li>
<li class="capitalize {% if page.id == 'radiobutton' %}active{% endif %}">
  <a href="/docs/v2/api/components/radio/RadioButton">RadioButton</a>
</li>
<li class="capitalize {% if page.id == 'radiogroup' %}active{% endif %}">
  <a href="/docs/v2/api/components/radio/RadioGroup">RadioGroup</a>
</li>
<li class="capitalize {% if page.id == 'refresher' %}active{% endif %}">
  <a href="/docs/v2/api/components/refresher/Refresher">Refresher</a>
</li>
<li class="capitalize {% if page.id == 'scroll' %}active{% endif %}">
  <a href="/docs/v2/api/components/scroll/Scroll">Scroll</a>
</li>
<li class="capitalize {% if page.id == 'searchbar' %}active{% endif %}">
  <a href="/docs/v2/api/components/searchbar/Searchbar">Searchbar</a>
</li>
<li class="capitalize {% if page.id == 'segment' %}active{% endif %}">
  <a href="/docs/v2/api/components/segment/Segment">Segment</a>
</li>
<li class="capitalize {% if page.id == 'segmentbutton' %}active{% endif %}">
  <a href="/docs/v2/api/components/segment/SegmentButton">SegmentButton</a>
</li>
<li class="capitalize {% if page.id == 'select' %}active{% endif %}">
  <a href="/docs/v2/api/components/select/Select">Select</a>
</li>
<li class="capitalize {% if page.id == 'showwhen' %}active{% endif %}">
  <a href="/docs/v2/api/components/show-hide-when/ShowWhen">ShowWhen</a>
</li>
<li class="capitalize {% if page.id == 'slide' %}active{% endif %}">
  <a href="/docs/v2/api/components/slides/Slide">Slide</a>
</li>
<li class="capitalize {% if page.id == 'slides' %}active{% endif %}">
  <a href="/docs/v2/api/components/slides/Slides">Slides</a>
</li>
<li class="capitalize {% if page.id == 'sqlstorage' %}active{% endif %}">
  <a href="/docs/v2/api/platform/storage/SqlStorage">SqlStorage</a>
</li>
<li class="capitalize {% if page.id == 'tab' %}active{% endif %}">
  <a href="/docs/v2/api/components/tabs/Tab">Tab</a>
</li>
<li class="capitalize {% if page.id == 'tabs' %}active{% endif %}">
  <a href="/docs/v2/api/components/tabs/Tabs">Tabs</a>
</li>
<li class="capitalize {% if page.id == 'textarea' %}active{% endif %}">
  <a href="/docs/v2/api/components/input/TextArea">TextArea</a>
</li>
<li class="capitalize {% if page.id == 'title' %}active{% endif %}">
  <a href="/docs/v2/api/components/toolbar/Title">Title</a>
</li>
<li class="capitalize {% if page.id == 'toggle' %}active{% endif %}">
  <a href="/docs/v2/api/components/toggle/Toggle">Toggle</a>
</li>
<li class="capitalize {% if page.id == 'toolbar' %}active{% endif %}">
  <a href="/docs/v2/api/components/toolbar/Toolbar">Toolbar</a>
</li>
<li class="capitalize {% if page.id == 'viewcontroller' %}active{% endif %}">
  <a href="/docs/v2/api/components/nav/ViewController">ViewController</a>
</li>
