
    
{% if page.versionHref == "/docs/v2" %}
    
  {% include v2_fluid/api_menu_flat_nightly.html %}

    
{% elsif page.versionHref == "/docs/v2/2.0.0-beta.2" %}
    
  {% include v2_fluid/api_menu_flat_2.0.0-beta.2.html %}

    
{% elsif page.versionHref == "/docs/v2/2.0.0-beta.1" %}
    
  {% include v2_fluid/api_menu_flat_2.0.0-beta.1.html %}

    
{% elsif page.versionHref == "/docs/v2/2.0.0-beta.0" %}
    
  {% include v2_fluid/api_menu_flat_2.0.0-beta.0.html %}

    
{% elsif page.versionHref == "/docs/v2/2.0.0-alpha.57" %}
    
  {% include v2_fluid/api_menu_flat_2.0.0-alpha.57.html %}

    
{% elsif page.versionHref == "/docs/v2/2.0.0-alpha.56" %}
    
  {% include v2_fluid/api_menu_flat_2.0.0-alpha.56.html %}

    
{% elsif page.versionHref == "/docs/v2/2.0.0-alpha.55" %}
    
  {% include v2_fluid/api_menu_flat_2.0.0-alpha.55.html %}

    
{% elsif page.versionHref == "/docs/v2/2.0.0-alpha.54" %}
    
  {% include v2_fluid/api_menu_flat_2.0.0-alpha.54.html %}

    
{% elsif page.versionHref == "/docs/v2/2.0.0-alpha.53" %}
    
  {% include v2_fluid/api_menu_flat_2.0.0-alpha.53.html %}

    
{% elsif page.versionHref == "/docs/v2/2.0.0-alpha.44" %}
    
  {% include v2_fluid/api_menu_flat_2.0.0-alpha.44.html %}

    
{% elsif page.versionHref == "/docs/v2/2.0.0-alpha.43" %}
    
  {% include v2_fluid/api_menu_flat_2.0.0-alpha.43.html %}

    
{% elsif page.versionHref == "/docs/v2/2.0.0-alpha.42" %}
    
  {% include v2_fluid/api_menu_flat_2.0.0-alpha.42.html %}

    
{% elsif page.versionHref == "/docs/v2/2.0.0-alpha.40" %}
    
  {% include v2_fluid/api_menu_flat_2.0.0-alpha.40.html %}

    
{% elsif page.versionHref == "/docs/v2/2.0.0-alpha.38" %}
    
  {% include v2_fluid/api_menu_flat_2.0.0-alpha.38.html %}

    
{% elsif page.versionHref == "/docs/v2/2.0.0-alpha.37" %}
    
  {% include v2_fluid/api_menu_flat_2.0.0-alpha.37.html %}

    
{% elsif page.versionHref == "/docs/v2/2.0.0-alpha.36" %}
    
  {% include v2_fluid/api_menu_flat_2.0.0-alpha.36.html %}

    
{% elsif page.versionHref == "/docs/v2/2.0.0-alpha.35" %}
    
  {% include v2_fluid/api_menu_flat_2.0.0-alpha.35.html %}


{% else %}
  {% include v2_fluid/api_menu_flat_nightly.html %}
{% endif %}
