
<li class="capitalize {% if page.id == 'actionsheet' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/action-sheet/ActionSheet">ActionSheet</a>
</li>
<li class="capitalize {% if page.id == 'actionsheetcmp' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/action-sheet/ActionSheetCmp">ActionSheetCmp</a>
</li>
<li class="capitalize {% if page.id == 'actionsheetcontroller' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/action-sheet/ActionSheetController">ActionSheetController</a>
</li>
<li class="capitalize {% if page.id == 'alert' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/alert/Alert">Alert</a>
</li>
<li class="capitalize {% if page.id == 'alertcmp' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/alert/AlertCmp">AlertCmp</a>
</li>
<li class="capitalize {% if page.id == 'alertcontroller' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/alert/AlertController">AlertController</a>
</li>
<li class="capitalize {% if page.id == 'animation' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/animations/Animation">Animation</a>
</li>
<li class="capitalize {% if page.id == 'app' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/app/App">App</a>
</li>
<li class="capitalize {% if page.id == 'avatar' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/avatar/Avatar">Avatar</a>
</li>
<li class="capitalize {% if page.id == 'backdrop' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/backdrop/Backdrop">Backdrop</a>
</li>
<li class="capitalize {% if page.id == 'badge' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/badge/Badge">Badge</a>
</li>
<li class="capitalize {% if page.id == 'button' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/button/Button">Button</a>
</li>
<li class="capitalize {% if page.id == 'card' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/card/Card">Card</a>
</li>
<li class="capitalize {% if page.id == 'cardcontent' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/card/CardContent">CardContent</a>
</li>
<li class="capitalize {% if page.id == 'cardheader' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/card/CardHeader">CardHeader</a>
</li>
<li class="capitalize {% if page.id == 'cardtitle' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/card/CardTitle">CardTitle</a>
</li>
<li class="capitalize {% if page.id == 'checkbox' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/checkbox/Checkbox">Checkbox</a>
</li>
<li class="capitalize {% if page.id == 'chip' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/chip/Chip">Chip</a>
</li>
<li class="capitalize {% if page.id == 'clickblock' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/util/ClickBlock">ClickBlock</a>
</li>
<li class="capitalize {% if page.id == 'column' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/grid/Column">Column</a>
</li>
<li class="capitalize {% if page.id == 'config' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/config/Config">Config</a>
</li>
<li class="capitalize {% if page.id == 'configtoken' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/config/ConfigToken">ConfigToken</a>
</li>
<li class="capitalize {% if page.id == 'content' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/content/Content">Content</a>
</li>
<li class="capitalize {% if page.id == 'datetime' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/datetime/DateTime">DateTime</a>
</li>
<li class="capitalize {% if page.id == 'deeplink' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/navigation/DeepLink">DeepLink</a>
</li>
<li class="capitalize {% if page.id == 'deeplinkconfigtoken' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/navigation/DeepLinkConfigToken">DeepLinkConfigToken</a>
</li>
<li class="capitalize {% if page.id == 'deeplinker' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/navigation/DeepLinker">DeepLinker</a>
</li>
<li class="capitalize {% if page.id == 'deeplinkmetadata' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/navigation/DeepLinkMetadata">DeepLinkMetadata</a>
</li>
<li class="capitalize {% if page.id == 'displaywhen' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/show-hide-when/DisplayWhen">DisplayWhen</a>
</li>
<li class="capitalize {% if page.id == 'doclangtoken' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/platform/DocLangToken">DocLangToken</a>
</li>
<li class="capitalize {% if page.id == 'documentdirtoken' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/platform/DocumentDirToken">DocumentDirToken</a>
</li>
<li class="capitalize {% if page.id == 'events' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/util/Events">Events</a>
</li>
<li class="capitalize {% if page.id == 'fabbutton' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/fab/FabButton">FabButton</a>
</li>
<li class="capitalize {% if page.id == 'fabcontainer' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/fab/FabContainer">FabContainer</a>
</li>
<li class="capitalize {% if page.id == 'fablist' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/fab/FabList">FabList</a>
</li>
<li class="capitalize {% if page.id == 'footer' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/toolbar/Footer">Footer</a>
</li>
<li class="capitalize {% if page.id == 'form' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/util/Form">Form</a>
</li>
<li class="capitalize {% if page.id == 'gesture' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/gestures/Gesture">Gesture</a>
</li>
<li class="capitalize {% if page.id == 'gesturecontroller' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/gestures/GestureController">GestureController</a>
</li>
<li class="capitalize {% if page.id == 'gesturedelegate' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/gestures/GestureDelegate">GestureDelegate</a>
</li>
<li class="capitalize {% if page.id == 'grid' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/grid/Grid">Grid</a>
</li>
<li class="capitalize {% if page.id == 'haptic' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/util/Haptic">Haptic</a>
</li>
<li class="capitalize {% if page.id == 'header' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/toolbar/Header">Header</a>
</li>
<li class="capitalize {% if page.id == 'hidewhen' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/show-hide-when/HideWhen">HideWhen</a>
</li>
<li class="capitalize {% if page.id == 'icon' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/icon/Icon">Icon</a>
</li>
<li class="capitalize {% if page.id == 'img' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/img/Img">Img</a>
</li>
<li class="capitalize {% if page.id == 'infinitescroll' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/infinite-scroll/InfiniteScroll">InfiniteScroll</a>
</li>
<li class="capitalize {% if page.id == 'infinitescrollcontent' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/infinite-scroll/InfiniteScrollContent">InfiniteScrollContent</a>
</li>
<li class="capitalize {% if page.id == 'input' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/input/Input">Input</a>
</li>
<li class="capitalize {% if page.id == 'ionicapp' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/app/IonicApp">IonicApp</a>
</li>
<li class="capitalize {% if page.id == 'ionicerrorhandler' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/util/IonicErrorHandler">IonicErrorHandler</a>
</li>
<li class="capitalize {% if page.id == 'ionicmodule' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/IonicModule">IonicModule</a>
</li>
<li class="capitalize {% if page.id == 'ionic_directives' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/IONIC_DIRECTIVES">IONIC_DIRECTIVES</a>
</li>
<li class="capitalize {% if page.id == 'isactivatable' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/tap-click/isActivatable">isActivatable</a>
</li>
<li class="capitalize {% if page.id == 'item' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/item/Item">Item</a>
</li>
<li class="capitalize {% if page.id == 'itemcontent' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/item/ItemContent">ItemContent</a>
</li>
<li class="capitalize {% if page.id == 'itemgroup' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/item/ItemGroup">ItemGroup</a>
</li>
<li class="capitalize {% if page.id == 'itemoptions' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/item/ItemOptions">ItemOptions</a>
</li>
<li class="capitalize {% if page.id == 'itemreorder' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/item/ItemReorder">ItemReorder</a>
</li>
<li class="capitalize {% if page.id == 'itemsliding' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/item/ItemSliding">ItemSliding</a>
</li>
<li class="capitalize {% if page.id == 'keyboard' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/util/Keyboard">Keyboard</a>
</li>
<li class="capitalize {% if page.id == 'label' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/label/Label">Label</a>
</li>
<li class="capitalize {% if page.id == 'list' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/list/List">List</a>
</li>
<li class="capitalize {% if page.id == 'listheader' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/list/ListHeader">ListHeader</a>
</li>
<li class="capitalize {% if page.id == 'loading' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/loading/Loading">Loading</a>
</li>
<li class="capitalize {% if page.id == 'loadingcmp' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/loading/LoadingCmp">LoadingCmp</a>
</li>
<li class="capitalize {% if page.id == 'loadingcontroller' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/loading/LoadingController">LoadingController</a>
</li>
<li class="capitalize {% if page.id == 'menu' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/menu/Menu">Menu</a>
</li>
<li class="capitalize {% if page.id == 'menuclose' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/menu/MenuClose">MenuClose</a>
</li>
<li class="capitalize {% if page.id == 'menucontroller' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/menu/MenuController">MenuController</a>
</li>
<li class="capitalize {% if page.id == 'menutoggle' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/menu/MenuToggle">MenuToggle</a>
</li>
<li class="capitalize {% if page.id == 'menutype' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/menu/MenuType">MenuType</a>
</li>
<li class="capitalize {% if page.id == 'modal' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/modal/Modal">Modal</a>
</li>
<li class="capitalize {% if page.id == 'modalcmp' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/modal/ModalCmp">ModalCmp</a>
</li>
<li class="capitalize {% if page.id == 'modalcontroller' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/modal/ModalController">ModalController</a>
</li>
<li class="capitalize {% if page.id == 'nativeinput' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/input/NativeInput">NativeInput</a>
</li>
<li class="capitalize {% if page.id == 'nav' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/nav/Nav">Nav</a>
</li>
<li class="capitalize {% if page.id == 'navbar' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/navbar/Navbar">Navbar</a>
</li>
<li class="capitalize {% if page.id == 'navcontroller' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/navigation/NavController">NavController</a>
</li>
<li class="capitalize {% if page.id == 'navigatorplatformtoken' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/platform/NavigatorPlatformToken">NavigatorPlatformToken</a>
</li>
<li class="capitalize {% if page.id == 'navparams' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/navigation/NavParams">NavParams</a>
</li>
<li class="capitalize {% if page.id == 'navpop' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/nav/NavPop">NavPop</a>
</li>
<li class="capitalize {% if page.id == 'navpopanchor' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/nav/NavPopAnchor">NavPopAnchor</a>
</li>
<li class="capitalize {% if page.id == 'navpush' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/nav/NavPush">NavPush</a>
</li>
<li class="capitalize {% if page.id == 'navpushanchor' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/nav/NavPushAnchor">NavPushAnchor</a>
</li>
<li class="capitalize {% if page.id == 'nextinput' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/input/NextInput">NextInput</a>
</li>
<li class="capitalize {% if page.id == 'note' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/note/Note">Note</a>
</li>
<li class="capitalize {% if page.id == 'option' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/option/Option">Option</a>
</li>
<li class="capitalize {% if page.id == 'overlayportal' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/nav/OverlayPortal">OverlayPortal</a>
</li>
<li class="capitalize {% if page.id == 'pagetransition' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/transitions/PageTransition">PageTransition</a>
</li>
<li class="capitalize {% if page.id == 'pangesture' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/gestures/PanGesture">PanGesture</a>
</li>
<li class="capitalize {% if page.id == 'picker' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/picker/Picker">Picker</a>
</li>
<li class="capitalize {% if page.id == 'pickercmp' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/picker/PickerCmp">PickerCmp</a>
</li>
<li class="capitalize {% if page.id == 'pickercolumncmp' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/picker/PickerColumnCmp">PickerColumnCmp</a>
</li>
<li class="capitalize {% if page.id == 'pickercontroller' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/picker/PickerController">PickerController</a>
</li>
<li class="capitalize {% if page.id == 'platform' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/platform/Platform">Platform</a>
</li>
<li class="capitalize {% if page.id == 'popover' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/popover/Popover">Popover</a>
</li>
<li class="capitalize {% if page.id == 'popovercmp' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/popover/PopoverCmp">PopoverCmp</a>
</li>
<li class="capitalize {% if page.id == 'popovercontroller' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/popover/PopoverController">PopoverController</a>
</li>
<li class="capitalize {% if page.id == 'providedocumentdirection' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/provideDocumentDirection">provideDocumentDirection</a>
</li>
<li class="capitalize {% if page.id == 'providedocumentlang' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/provideDocumentLang">provideDocumentLang</a>
</li>
<li class="capitalize {% if page.id == 'providelocationhref' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/provideLocationHref">provideLocationHref</a>
</li>
<li class="capitalize {% if page.id == 'providelocationstrategy' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/provideLocationStrategy">provideLocationStrategy</a>
</li>
<li class="capitalize {% if page.id == 'providenavigatorplatform' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/provideNavigatorPlatform">provideNavigatorPlatform</a>
</li>
<li class="capitalize {% if page.id == 'provideuseragent' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/provideUserAgent">provideUserAgent</a>
</li>
<li class="capitalize {% if page.id == 'queryparams' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/platform/QueryParams">QueryParams</a>
</li>
<li class="capitalize {% if page.id == 'radiobutton' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/radio/RadioButton">RadioButton</a>
</li>
<li class="capitalize {% if page.id == 'radiogroup' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/radio/RadioGroup">RadioGroup</a>
</li>
<li class="capitalize {% if page.id == 'range' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/range/Range">Range</a>
</li>
<li class="capitalize {% if page.id == 'rangeknob' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/range/RangeKnob">RangeKnob</a>
</li>
<li class="capitalize {% if page.id == 'refresher' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/refresher/Refresher">Refresher</a>
</li>
<li class="capitalize {% if page.id == 'refreshercontent' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/refresher/RefresherContent">RefresherContent</a>
</li>
<li class="capitalize {% if page.id == 'reorder' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/item/Reorder">Reorder</a>
</li>
<li class="capitalize {% if page.id == 'reorderarray' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/util/reorderArray">reorderArray</a>
</li>
<li class="capitalize {% if page.id == 'row' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/grid/Row">Row</a>
</li>
<li class="capitalize {% if page.id == 'scroll' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/scroll/Scroll">Scroll</a>
</li>
<li class="capitalize {% if page.id == 'searchbar' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/searchbar/Searchbar">Searchbar</a>
</li>
<li class="capitalize {% if page.id == 'segment' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/segment/Segment">Segment</a>
</li>
<li class="capitalize {% if page.id == 'segmentbutton' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/segment/SegmentButton">SegmentButton</a>
</li>
<li class="capitalize {% if page.id == 'select' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/select/Select">Select</a>
</li>
<li class="capitalize {% if page.id == 'setupconfig' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/config/setupConfig">setupConfig</a>
</li>
<li class="capitalize {% if page.id == 'setupevents' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/util/setupEvents">setupEvents</a>
</li>
<li class="capitalize {% if page.id == 'setupplatform' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/platform/setupPlatform">setupPlatform</a>
</li>
<li class="capitalize {% if page.id == 'setupprovideevents' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/util/setupProvideEvents">setupProvideEvents</a>
</li>
<li class="capitalize {% if page.id == 'setupqueryparams' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/platform/setupQueryParams">setupQueryParams</a>
</li>
<li class="capitalize {% if page.id == 'showwhen' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/show-hide-when/ShowWhen">ShowWhen</a>
</li>
<li class="capitalize {% if page.id == 'slide' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/slides/Slide">Slide</a>
</li>
<li class="capitalize {% if page.id == 'slideedgegesture' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/gestures/SlideEdgeGesture">SlideEdgeGesture</a>
</li>
<li class="capitalize {% if page.id == 'slidegesture' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/gestures/SlideGesture">SlideGesture</a>
</li>
<li class="capitalize {% if page.id == 'slidelazy' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/slides/SlideLazy">SlideLazy</a>
</li>
<li class="capitalize {% if page.id == 'slides' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/slides/Slides">Slides</a>
</li>
<li class="capitalize {% if page.id == 'spinner' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/spinner/Spinner">Spinner</a>
</li>
<li class="capitalize {% if page.id == 'tab' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/tabs/Tab">Tab</a>
</li>
<li class="capitalize {% if page.id == 'tabbutton' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/tabs/TabButton">TabButton</a>
</li>
<li class="capitalize {% if page.id == 'tabhighlight' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/tabs/TabHighlight">TabHighlight</a>
</li>
<li class="capitalize {% if page.id == 'tabs' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/tabs/Tabs">Tabs</a>
</li>
<li class="capitalize {% if page.id == 'tapclick' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/tap-click/TapClick">TapClick</a>
</li>
<li class="capitalize {% if page.id == 'textarea' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/input/TextArea">TextArea</a>
</li>
<li class="capitalize {% if page.id == 'thumbnail' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/thumbnail/Thumbnail">Thumbnail</a>
</li>
<li class="capitalize {% if page.id == 'title' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/toolbar/Title">Title</a>
</li>
<li class="capitalize {% if page.id == 'toast' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/toast/Toast">Toast</a>
</li>
<li class="capitalize {% if page.id == 'toastcmp' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/toast/ToastCmp">ToastCmp</a>
</li>
<li class="capitalize {% if page.id == 'toastcontroller' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/toast/ToastController">ToastController</a>
</li>
<li class="capitalize {% if page.id == 'toggle' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/toggle/Toggle">Toggle</a>
</li>
<li class="capitalize {% if page.id == 'toolbar' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/toolbar/Toolbar">Toolbar</a>
</li>
<li class="capitalize {% if page.id == 'toolbarbase' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/toolbar/ToolbarBase">ToolbarBase</a>
</li>
<li class="capitalize {% if page.id == 'toolbaritem' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/toolbar/ToolbarItem">ToolbarItem</a>
</li>
<li class="capitalize {% if page.id == 'transition' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/transitions/Transition">Transition</a>
</li>
<li class="capitalize {% if page.id == 'translate' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/translation/Translate">Translate</a>
</li>
<li class="capitalize {% if page.id == 'translatepipe' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/translation/TranslatePipe">TranslatePipe</a>
</li>
<li class="capitalize {% if page.id == 'typography' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/typography/Typography">Typography</a>
</li>
<li class="capitalize {% if page.id == 'urlserializer' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/navigation/UrlSerializer">UrlSerializer</a>
</li>
<li class="capitalize {% if page.id == 'urltoken' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/platform/UrlToken">UrlToken</a>
</li>
<li class="capitalize {% if page.id == 'useragenttoken' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/platform/UserAgentToken">UserAgentToken</a>
</li>
<li class="capitalize {% if page.id == 'viewcontroller' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/navigation/ViewController">ViewController</a>
</li>
<li class="capitalize {% if page.id == 'virtualscroll' %}active{% endif %}">
  <a href="/docs/v2/nightly/api/Users/perry/Development/ionic/src/components/virtual-scroll/VirtualScroll">VirtualScroll</a>
</li>
