
    
{% if page.versionHref == "/docs/v2" %}
    
  {% include v2_fluid/api_menu_flat_nightly.html %}

    
{% elsif page.versionHref == "/docs/v2/2.0.0-alpha.44" %}
    
  {% include v2_fluid/api_menu_flat_2.0.0-alpha.44.html %}

    
{% elsif page.versionHref == "/docs/v2/2.0.0-alpha.43" %}
    
  {% include v2_fluid/api_menu_flat_2.0.0-alpha.43.html %}

    
{% elsif page.versionHref == "/docs/v2/2.0.0-alpha.42" %}
    
  {% include v2_fluid/api_menu_flat_2.0.0-alpha.42.html %}

    
{% elsif page.versionHref == "/docs/v2/2.0.0-alpha.40" %}
    
  {% include v2_fluid/api_menu_flat_2.0.0-alpha.40.html %}

    
{% elsif page.versionHref == "/docs/v2/2.0.0-alpha.38" %}
    
  {% include v2_fluid/api_menu_flat_2.0.0-alpha.38.html %}

    
{% elsif page.versionHref == "/docs/v2/2.0.0-alpha.37" %}
    
  {% include v2_fluid/api_menu_flat_2.0.0-alpha.37.html %}

    
{% elsif page.versionHref == "/docs/v2/2.0.0-alpha.36" %}
    
  {% include v2_fluid/api_menu_flat_2.0.0-alpha.36.html %}

    
{% elsif page.versionHref == "/docs/v2/2.0.0-alpha.35" %}
    
  {% include v2_fluid/api_menu_flat_2.0.0-alpha.35.html %}


{% else %}
  {% include v2_fluid/api_menu_flat_nightly.html %}
{% endif %}
