<select name="version"
        id="version-toggle"
        onchange="window.location.href=this.options[this.selectedIndex].value">

  <option
   value="/docs/v2/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "nightly"%}selected{% endif %}>
    2.0.0-nightly 
  </option>

  <option
   value="/docs/v2/2.0.0-alpha.43/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "2.0.0-alpha.43"%}selected{% endif %}>
    2.0.0-alpha.43 (latest)
  </option>

  <option
   value="/docs/v2/2.0.0-alpha.42/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "2.0.0-alpha.42"%}selected{% endif %}>
    2.0.0-alpha.42 
  </option>

  <option
   value="/docs/v2/2.0.0-alpha.40/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "2.0.0-alpha.40"%}selected{% endif %}>
    2.0.0-alpha.40 
  </option>

  <option
   value="/docs/v2/2.0.0-alpha.38/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "2.0.0-alpha.38"%}selected{% endif %}>
    2.0.0-alpha.38 
  </option>

  <option
   value="/docs/v2/2.0.0-alpha.37/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "2.0.0-alpha.37"%}selected{% endif %}>
    2.0.0-alpha.37 
  </option>

  <option
   value="/docs/v2/2.0.0-alpha.36/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "2.0.0-alpha.36"%}selected{% endif %}>
    2.0.0-alpha.36 
  </option>

  <option
   value="/docs/v2/2.0.0-alpha.35/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "2.0.0-alpha.35"%}selected{% endif %}>
    2.0.0-alpha.35 
  </option>

</select>
