<ul ng-controller="DocsNavCtrl">

  {% comment %} Getting Started {% endcomment %}
  <li class="{% if page.id == 'home' %}active top-level{% endif %}">
    <a href="/docs/v2/">Home</a>
  </li>

  {% comment %} Getting Started {% endcomment %}
  <li class="{% if page.category == 'setup' %}active{% endif %}">
    <a ng-click="showSetup = !showSetup">Setup</a>
    <ul ng-show="showSetup"
        ng-cloak
        {% if page.category == 'setup' %}
          ng-init="showSetup = true"
        {% endif %}>
      <li class="{% if page.id == 'installation' %}active{% endif %}">
        <a href="/docs/v2/setup/installation">Installation</a>
      </li>      
      <li class="{% if page.id == 'tutorial' %}active{% endif %}">
        <a href="/docs/v2/setup/tutorial">Tutorial</a>
      </li>
      <li class="{% if page.id == 'deploying' %}active{% endif %}">
        <a href="/docs/v2/setup/deploying">Deploying</a>
      </li>
      <li class="{% if page.id == 'migration' %}active{% endif %}">
        <a href="/docs/v2/setup/migration">Migration</a>
      </li>
      <li class="{% if page.id == 'concepts' %}active{% endif %}">
        <a href="/docs/v2/setup/concepts">Concepts</a>
      </li>
    </ul>
  </li>

  {% comment %} Components {% endcomment %}

 {% if page.category != 'components' %}
   {% assign components_link = '/docs/v2/components/' %}
 {% endif %}
  <li id="components-index"
      class="{% if page.category == 'components' %}active{% endif %}">
    <a ng-click="showComponents = !showComponents">Components</a>
    <ul class="nav"
        ng-cloak
        ng-show="showComponents"
       {% if page.category == 'components' %}
         ng-init="showComponents = true"
       {% endif %}>
      <li><a href="{{components_link}}#overview">Overview</a></li>
      <li><a href="{{components_link}}#action-sheets">Action Sheets</a></li>

      <li id="components-alerts"><a href="{{components_link}}#alert">Alerts</a></li>
        <ul class="nav">
          <li class="nav-item-hidden"><a href="{{components_link}}#alert-confirm"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#alert-prompt"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#alert-radio"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#alert-checkbox"></a></li>
        </ul>

      <li><a href="{{components_link}}#badges">Badges</a></li>

      <li id="components-buttons"><a href="{{components_link}}#buttons">Buttons</a></li>
        <ul class="nav">
          <li class="nav-item-hidden"><a href="{{components_link}}#outline-buttons"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#clear-buttons"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#round-buttons"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#block-buttons"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#full-buttons"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#button-sizes"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#icon-buttons"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#buttons-in-components"></a></li>
        </ul>

      <li id="components-cards"><a href="{{components_link}}#cards">Cards</a></li>
        <ul class="nav">
          <li class="nav-item-hidden"><a href="{{components_link}}#card-header"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#card-list"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#card-image"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#card-background"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#advanced-cards"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#card-advanced-social"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#card-advanced-map"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#card-advanced-weather"></a></li>
        </ul>

      <li><a href="{{components_link}}#checkbox">Checkbox</a></li>

      <li><a href="{{components_link}}#datetime">DateTime</a></li>

      <li><a href="{{components_link}}#fabs">FABs</a></li>

      <li><a href="{{components_link}}#gestures">Gestures</a></li>

      <li><a href="{{components_link}}#grid">Grid</a></li>
      <li><a href="{{components_link}}#icons">Icons</a></li>

      <li id="components-forms"><a href="{{components_link}}#inputs">Inputs</a></li>
        <ul class="nav">
          <li class="nav-item-hidden"><a href="{{components_link}}#fixed-inline-labels"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#floating-labels"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#inline-labels"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#inset-labels"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#placeholder-labels"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#stacked-labels"></a></li>
        </ul>

      <li id="components-lists"><a href="{{components_link}}#lists">Lists</a></li>
        <ul class="nav">
          <li class="nav-item-hidden"><a href="{{components_link}}#list-lines"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#list-no-lines"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#inset-list"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#list-dividers"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#list-headers"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#icon-list"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#avatar-list"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#thumbnail-list"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#sliding-list"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#multiline-list"></a></li>
        </ul>


      <li><a href="{{components_link}}#loading">Loading</a></li>
      <li><a href="{{components_link}}#menus">Menus</a></li>
      <li><a href="{{components_link}}#modals">Modals</a></li>
      <li><a href="{{components_link}}#navigation">Navigation</a></li>
      <li><a href="{{components_link}}#popovers">Popover</a></li>
      <li><a href="{{components_link}}#radio">Radio</a></li>
      <li><a href="{{components_link}}#range">Range</a></li>
      <li><a href="{{components_link}}#searchbar">Searchbar</a></li>
      <li><a href="{{components_link}}#segment">Segment</a></li>
      <li><a href="{{components_link}}#select">Select</a></li>
      <li><a href="{{components_link}}#slides">Slides</a></li>

      <li id="components-tabs"><a href="{{components_link}}#tabs">Tabs</a></li>
        <ul class="nav">
          <li class="nav-item-hidden"><a href="{{components_link}}#tabs-icon"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#tabs-icon-text"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#tabs-badges"></a></li>
        </ul>

      <li><a href="{{components_link}}#toast">Toast</a></li>
      <li><a href="{{components_link}}#toggle">Toggle</a></li>

      <li id="components-toolbar"><a href="{{components_link}}#toolbar">Toolbar</a></li>
        <ul class="nav">
          <li class="nav-item-hidden"><a href="{{components_link}}#toolbar-buttons"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#toolbar-segment"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#toolbar-searchbar"></a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#toolbar-colors"></a></li>
        </ul>

    </ul>
  </li>


    {% comment %} ### API ### {% endcomment %}
    <li>
      <a href="/docs/v2/api">API</a>
    </li>

  {% comment %} ### Native ### {% endcomment %}
   <li>
     <a href="/docs/v2/native/">Native</a>
   </li>

   {% comment %} ### Native ### {% endcomment %}
    <li class="{% if page.category == 'storage' %}top-level active{% endif %}">
      <a href="/docs/v2/storage/">Storage</a>
    </li>

  {% comment %} ### Theming ### {% endcomment %}
  <li class="{% if page.category == 'theming' %}active{% endif %}">
    <a ng-click="showTheming = !showTheming">Theming</a>
    <ul ng-show="showTheming"
        ng-cloak
        {% if page.category == 'theming' %}
          ng-init="showTheming = true"
        {% endif %}>
      <li class="{% if page.id == 'theming-intro' %}active{% endif %}">
        <a href="/docs/v2/theming/">Intro</a>
      </li>
      <li class="{% if page.id == 'theming-your-app' %}active{% endif %}">
        <a href="/docs/v2/theming/theming-your-app/">Theming your App</a>
      </li>
      <li class="{% if page.id == 'sass-variables' %}active{% endif %}">
        <a href="/docs/v2/theming/sass-variables/">Sass Variables</a>
      </li>
      <li class="{% if page.id == 'css_utilities' %}active{% endif %}">
        <a href="/docs/v2/theming/css-utilities/">Utilities Attributes</a>
      </li>
      <li class="{% if page.id == 'platform-specific-styles' %}active
                 {% endif %}">
        <a href="/docs/v2/theming/platform-specific-styles/">
          Platform Styles
        </a>
      </li>
      <li class="{% if page.id == 'overriding-ionic-variables' %}active
                {% endif %}">
        <a href="/docs/v2/theming/overriding-ionic-variables/">
          Overriding Ionic Variables
        </a>
      </li>
    </ul>
  </li>

  {% comment %} ### Ionicons ### {% endcomment %}
  <li class="{% if page.category == 'ionicons' %}top-level active{% endif %}">
    <a href="/docs/v2/ionicons/">Ionicons</a>
  </li>

  {% comment %} ### CLI ### {% endcomment %}
  <li class="{% if page.category == 'cli' %}active{% endif %}">
    <a ng-click="showCli = !showCli">CLI</a>
    <ul ng-show="showCli"
        ng-cloak
        {% if page.category == 'cli' %}
          ng-init="showCli = true"
        {% endif %}>
      <li class="{% if page.id == 'cli-intro' %}active{% endif %}">
        <a href="/docs/v2/cli/">Intro</a>
      </li>
      <li class="{% if page.id == 'cli-build' %}active{% endif %}">
        <a href="/docs/v2/cli/build">build</a>
      </li>
      <li class="{% if page.id == 'cli-emulate' %}active{% endif %}">
        <a href="/docs/v2/cli/emulate">emulate</a>
      </li>
      <li class="{% if page.id == 'cli-generate' %}active{% endif %}">
        <a href="/docs/v2/cli/generate">generate</a>
      </li>
      <li class="{% if page.id == 'cli-info' %}active{% endif %}">
        <a href="/docs/v2/cli/info">info</a>
      </li>
      <li class="{% if page.id == 'cli-platform' %}active{% endif %}">
        <a href="/docs/v2/cli/platform">platform</a>
      </li>
      <li class="{% if page.id == 'cli-run' %}active{% endif %}">
        <a href="/docs/v2/cli/run">run</a>
      </li>
      <li class="{% if page.id == 'cli-serve' %}active{% endif %}">
        <a href="/docs/v2/cli/serve">serve</a>
      </li>
      <li class="{% if page.id == 'cli-start' %}active{% endif %}">
        <a href="/docs/v2/cli/start">start</a>
      </li>
    </ul>
  </li>

  {% comment %} ### FAQ ### {% endcomment %}
  <li class="{% if page.category == 'faq' %}top-level active{% endif %}">
    <a href="/docs/v2/faq/">FAQ</a>
  </li>


  {% comment %} ### Resources ### {% endcomment %}
  <li class="{% if page.category == 'resources' %}active{% endif %}">
    <a href="/docs/v2/resources" >Resources</a>
    <ul ng-show="showResources"
        ng-cloak
        {% if page.category == 'resources' %}
          ng-init="showResources = true"
        {% endif %}>
      {% comment %} <li class="{% if page.id == 'resources&#45;intro' %}active{% endif %}"> {% endcomment %}
      {% comment %}   <a href="/docs/v2/resources/">Resources Intro</a> {% endcomment %}
      {% comment %} </li> {% endcomment %}

      <li class="{% if page.id == 'app-scripts' %}active{% endif %}">
        <a href="/docs/v2/resources/app-scripts">App Build Scripts</a>
      </li>
      <li class="{% if page.id == 'books-and-courses' %}active{% endif %}">
        <a href="/docs/v2/resources/books-and-courses/">Books and Online Courses</a>
      </li>
      <li class="{% if page.id == 'developer-tips' %}active{% endif %}">
        <a href="/docs/v2/resources/developer-tips/">Developer Tips</a>
      </li>
      <li class="{% if page.id == 'editors_and_ides' %}active{% endif %}">
        <a href="/docs/v2/resources/editors_and_ides/">Editors and IDEs</a>
      </li>
      <li class="{% if page.id == 'forms' %}active{% endif %}">
        <a href="/docs/v2/resources/forms/">Ionic 2 and Forms</a>
      </li>
      <li class="{% if page.id == 'what-is' %}active{% endif %}">
        <a href="/docs/v2/resources/what-is/">Glossary</a>
      </li>
      <li class="{% if page.id == 'mac_setup' %}active{% endif %}">
        <a href="/docs/v2/resources/platform-setup/mac-setup.html">Mac OS Setup</a>
      </li>
      <li class="{% if page.id == 'what_are_progressive_web_apps' %}active{% endif %}">
        <a href="/docs/v2/resources/progressive-web-apps/">Progressive Web Apps</a>
      </li>
      <li class="{% if page.id == 'third-party-libs' %}active{% endif %}">
        <a href="/docs/v2/resources/third-party-libs">Using Third Party Libraries</a>
      </li>
      <li class="{% if page.id == 'using_npm' %}active{% endif %}">
        <a href="/docs/v2/resources/using-npm/">Using NPM</a>
      </li>
      <li class="{% if page.id == 'all_in_on_typescript' %}active{% endif %}">
        <a href="/docs/v2/resources/typescript/">Why TypeScript</a>
      </li>
      <li class="{% if page.id == 'windows_setup' %}active{% endif %}">
        <a href="/docs/v2/resources/platform-setup/windows-setup.html">Windows Setup</a>
      </li>
    </ul>
  </li>
</ul>
