<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{% if page.meta_description %}{{ page.meta_description }}{% else %}Ionic makes it incredibly easy to build beautiful and interactive mobile apps using HTML5 and AngularJS.{% endif %}">
<meta name="keywords" content="html5,javascript,mobile,drifty,ionic,hybrid,phonegap,cordova,native,ios,android,angularjs">
<meta name="author" content="Drifty">
<meta property="og:image" content="http://ionicframework.com/img/ionic-logo-blog.png"/>

<link href="/css/v2.css?1" rel="stylesheet">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js"></script>
<script src="/js/ionic-docs.min.js"></script>

<link rel="stylesheet" href="/css/ionic-hljs.css">
<script src="/js/ionic-highlight.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

{% if page.id == "ionicons" %}
<script src="/docs/v2/resources/ionicons/jquery.modal.min.js"></script>
{% endif %}

