<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar-collapse"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <i class="ion-md-more"></i>
      </button>
      <button type="button"
              class="sidebar-toggle collapsed"
              id="sidebar-toggle">
        <span class="sr-only">Toggle sidebar</span>
        <i class="ion-md-menu"></i>
        <i class="ion-md-close"></i>
      </button>
      <a class="navbar-brand" href="/docs/v2">
        <img src="/img/ionic-docs-logo-sm.png" id="ionic-docs-logo" />
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <form class="navbar-form navbar-left"
            role="search"
            data-searchpos="header">
        <div class="form-group">
          <input type="text"
                 class="form-control search-input"
                 placeholder="Search"
                 data-searchpos="header"
                 ng-model="searchTerm">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="getting-started/installation/">Getting Started</a></li>
        <li class="active"><a href="/docs/v2/">Docs</a></li>
        <li><a href="http://blog.ionic.io/">Blog</a></li>
        <li><a href="http://forum.ionicframework.com/">Forum</a></li>
        <li class="dropdown">
          <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown"
             role="button"
             aria-haspopup="true"
             aria-expanded="false">
            More <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a target="_blank" href="http://ionic.io/">
              Ionic Platform</a></li>
            <li><a target="_blank" href="http://showcase.ionicframework.com/">
              Showcase</a></li>
            <li><a target="_blank" href="http://jobs.ionic.io/">
              Job Board</a></li>
            <li><a target="_blank" href="http://market.ionic.io/">
              Market</a></li>
            <li><a target="_blank" href="http://ionicworldwide.herokuapp.com/">
              Ionic Worldwide</a></li>
            <li><a target="_blank" href="http://play.ionic.io/">
              Playground</a></li>
            <li><a target="_blank" href="http://creator.ionic.io/">
              Creator</a></li>
            <li><a target="_blank" href="http://shop.ionic.io/">Shop</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
