
<li class="capitalize {% if page.id == 'action-sheet' %}active{% endif %}">
  <a href="/docs/v2/native/action-sheet">Action Sheet</a>
</li>
<li class="capitalize {% if page.id == 'admob' %}active{% endif %}">
  <a href="/docs/v2/native/admob">AdMob</a>
</li>
<li class="capitalize {% if page.id == 'app-availability' %}active{% endif %}">
  <a href="/docs/v2/native/app-availability">App Availability</a>
</li>
<li class="capitalize {% if page.id == 'app-rate' %}active{% endif %}">
  <a href="/docs/v2/native/app-rate">App Rate</a>
</li>
<li class="capitalize {% if page.id == 'app-version' %}active{% endif %}">
  <a href="/docs/v2/native/app-version">App Version</a>
</li>
<li class="capitalize {% if page.id == 'backgroundgeolocation' %}active{% endif %}">
  <a href="/docs/v2/native/backgroundgeolocation">BackgroundGeolocation</a>
</li>
<li class="capitalize {% if page.id == 'badge' %}active{% endif %}">
  <a href="/docs/v2/native/badge">Badge</a>
</li>
<li class="capitalize {% if page.id == 'barcode-scanner' %}active{% endif %}">
  <a href="/docs/v2/native/barcode-scanner">Barcode Scanner</a>
</li>
<li class="capitalize {% if page.id == 'base64-to-gallery' %}active{% endif %}">
  <a href="/docs/v2/native/base64-to gallery">Base64 To Gallery</a>
</li>
<li class="capitalize {% if page.id == 'battery-status' %}active{% endif %}">
  <a href="/docs/v2/native/battery-status">Battery Status</a>
</li>
<li class="capitalize {% if page.id == 'ble' %}active{% endif %}">
  <a href="/docs/v2/native/ble">BLE</a>
</li>
<li class="capitalize {% if page.id == 'bluetooth-serial' %}active{% endif %}">
  <a href="/docs/v2/native/bluetooth-serial">Bluetooth Serial</a>
</li>
<li class="capitalize {% if page.id == 'calendar' %}active{% endif %}">
  <a href="/docs/v2/native/calendar">Calendar</a>
</li>
<li class="capitalize {% if page.id == 'camera' %}active{% endif %}">
  <a href="/docs/v2/native/camera">Camera</a>
</li>
<li class="capitalize {% if page.id == 'clipboard' %}active{% endif %}">
  <a href="/docs/v2/native/clipboard">Clipboard</a>
</li>
<li class="capitalize {% if page.id == 'connection' %}active{% endif %}">
  <a href="/docs/v2/native/connection">Connection</a>
</li>
<li class="capitalize {% if page.id == 'contacts' %}active{% endif %}">
  <a href="/docs/v2/native/contacts">Contacts</a>
</li>
<li class="capitalize {% if page.id == 'date-picker' %}active{% endif %}">
  <a href="/docs/v2/native/date-picker">Date Picker</a>
</li>
<li class="capitalize {% if page.id == 'db-meter' %}active{% endif %}">
  <a href="/docs/v2/native/db-meter">DB Meter</a>
</li>
<li class="capitalize {% if page.id == 'device' %}active{% endif %}">
  <a href="/docs/v2/native/device">Device</a>
</li>
<li class="capitalize {% if page.id == 'device-motion' %}active{% endif %}">
  <a href="/docs/v2/native/device-motion">Device Motion</a>
</li>
<li class="capitalize {% if page.id == 'device-orientation' %}active{% endif %}">
  <a href="/docs/v2/native/device-orientation">Device Orientation</a>
</li>
<li class="capitalize {% if page.id == 'deviceaccounts' %}active{% endif %}">
  <a href="/docs/v2/native/deviceaccounts">DeviceAccounts</a>
</li>
<li class="capitalize {% if page.id == 'diagnostic' %}active{% endif %}">
  <a href="/docs/v2/native/diagnostic">Diagnostic</a>
</li>
<li class="capitalize {% if page.id == 'dialogs' %}active{% endif %}">
  <a href="/docs/v2/native/dialogs">Dialogs</a>
</li>
<li class="capitalize {% if page.id == 'email-composer' %}active{% endif %}">
  <a href="/docs/v2/native/email-composer">Email Composer</a>
</li>
<li class="capitalize {% if page.id == 'facebook' %}active{% endif %}">
  <a href="/docs/v2/native/facebook">Facebook</a>
</li>
<li class="capitalize {% if page.id == 'file' %}active{% endif %}">
  <a href="/docs/v2/native/file">File</a>
</li>
<li class="capitalize {% if page.id == 'flashlight' %}active{% endif %}">
  <a href="/docs/v2/native/flashlight">Flashlight</a>
</li>
<li class="capitalize {% if page.id == 'geolocation' %}active{% endif %}">
  <a href="/docs/v2/native/geolocation">Geolocation</a>
</li>
<li class="capitalize {% if page.id == 'globalization' %}active{% endif %}">
  <a href="/docs/v2/native/globalization">Globalization</a>
</li>
<li class="capitalize {% if page.id == 'google-analytics' %}active{% endif %}">
  <a href="/docs/v2/native/google-analytics">Google Analytics</a>
</li>
<li class="capitalize {% if page.id == 'google-maps' %}active{% endif %}">
  <a href="/docs/v2/native/google-maps">Google Maps</a>
</li>
<li class="capitalize {% if page.id == 'hotspot' %}active{% endif %}">
  <a href="/docs/v2/native/hotspot">Hotspot</a>
</li>
<li class="capitalize {% if page.id == 'image-picker' %}active{% endif %}">
  <a href="/docs/v2/native/image-picker">Image Picker</a>
</li>
<li class="capitalize {% if page.id == 'inappbrowser' %}active{% endif %}">
  <a href="/docs/v2/native/inappbrowser">InAppBrowser</a>
</li>
<li class="capitalize {% if page.id == 'insomnia' %}active{% endif %}">
  <a href="/docs/v2/native/insomnia">Insomnia</a>
</li>
<li class="capitalize {% if page.id == 'keyboard' %}active{% endif %}">
  <a href="/docs/v2/native/keyboard">Keyboard</a>
</li>
<li class="capitalize {% if page.id == 'launch-navigator' %}active{% endif %}">
  <a href="/docs/v2/native/launch-navigator">Launch Navigator</a>
</li>
<li class="capitalize {% if page.id == 'local-notifications' %}active{% endif %}">
  <a href="/docs/v2/native/local-notifications">Local Notifications</a>
</li>
<li class="capitalize {% if page.id == 'mediaplugin' %}active{% endif %}">
  <a href="/docs/v2/native/mediaplugin">MediaPlugin</a>
</li>
<li class="capitalize {% if page.id == 'network' %}active{% endif %}">
  <a href="/docs/v2/native/network">Network</a>
</li>
<li class="capitalize {% if page.id == 'push' %}active{% endif %}">
  <a href="/docs/v2/native/push">Push</a>
</li>
<li class="capitalize {% if page.id == 'screenshot' %}active{% endif %}">
  <a href="/docs/v2/native/screenshot">Screenshot</a>
</li>
<li class="capitalize {% if page.id == 'sms' %}active{% endif %}">
  <a href="/docs/v2/native/sms">SMS</a>
</li>
<li class="capitalize {% if page.id == 'social-sharing' %}active{% endif %}">
  <a href="/docs/v2/native/social-sharing">Social Sharing</a>
</li>
<li class="capitalize {% if page.id == 'spinner-dialog' %}active{% endif %}">
  <a href="/docs/v2/native/spinner-dialog">Spinner Dialog</a>
</li>
<li class="capitalize {% if page.id == 'splashscreen' %}active{% endif %}">
  <a href="/docs/v2/native/splashscreen">Splashscreen</a>
</li>
<li class="capitalize {% if page.id == 'sqlite' %}active{% endif %}">
  <a href="/docs/v2/native/sqlite">SQLite</a>
</li>
<li class="capitalize {% if page.id == 'status-bar' %}active{% endif %}">
  <a href="/docs/v2/native/status-bar">Status Bar</a>
</li>
<li class="capitalize {% if page.id == 'toast' %}active{% endif %}">
  <a href="/docs/v2/native/toast">Toast</a>
</li>
<li class="capitalize {% if page.id == 'touchid' %}active{% endif %}">
  <a href="/docs/v2/native/touchid">TouchID</a>
</li>
<li class="capitalize {% if page.id == 'transfer' %}active{% endif %}">
  <a href="/docs/v2/native/transfer">Transfer</a>
</li>
<li class="capitalize {% if page.id == 'vibration' %}active{% endif %}">
  <a href="/docs/v2/native/vibration">Vibration</a>
</li>
<li class="capitalize {% if page.id == 'webintent' %}active{% endif %}">
  <a href="/docs/v2/native/webintent">WebIntent</a>
</li>
