
<li class="capitalize {% if page.id == 'actionsheet' %}active{% endif %}">
  <a href="/docs/v2/native/ActionSheet">ActionSheet</a>
</li>
<li class="capitalize {% if page.id == 'apprate' %}active{% endif %}">
  <a href="/docs/v2/native/AppRate">AppRate</a>
</li>
<li class="capitalize {% if page.id == 'appversion' %}active{% endif %}">
  <a href="/docs/v2/native/AppVersion">AppVersion</a>
</li>
<li class="capitalize {% if page.id == 'badge' %}active{% endif %}">
  <a href="/docs/v2/native/Badge">Badge</a>
</li>
<li class="capitalize {% if page.id == 'barcodescanner' %}active{% endif %}">
  <a href="/docs/v2/native/BarcodeScanner">BarcodeScanner</a>
</li>
<li class="capitalize {% if page.id == 'ble' %}active{% endif %}">
  <a href="/docs/v2/native/BLE">BLE</a>
</li>
<li class="capitalize {% if page.id == 'calendar' %}active{% endif %}">
  <a href="/docs/v2/native/Calendar">Calendar</a>
</li>
<li class="capitalize {% if page.id == 'camera' %}active{% endif %}">
  <a href="/docs/v2/native/Camera">Camera</a>
</li>
<li class="capitalize {% if page.id == 'clipboard' %}active{% endif %}">
  <a href="/docs/v2/native/Clipboard">Clipboard</a>
</li>
<li class="capitalize {% if page.id == 'contacts' %}active{% endif %}">
  <a href="/docs/v2/native/Contacts">Contacts</a>
</li>
<li class="capitalize {% if page.id == 'datepicker' %}active{% endif %}">
  <a href="/docs/v2/native/DatePicker">DatePicker</a>
</li>
<li class="capitalize {% if page.id == 'device' %}active{% endif %}">
  <a href="/docs/v2/native/Device">Device</a>
</li>
<li class="capitalize {% if page.id == 'facebook' %}active{% endif %}">
  <a href="/docs/v2/native/Facebook">Facebook</a>
</li>
<li class="capitalize {% if page.id == 'geolocation' %}active{% endif %}">
  <a href="/docs/v2/native/Geolocation">Geolocation</a>
</li>
<li class="capitalize {% if page.id == 'push' %}active{% endif %}">
  <a href="/docs/v2/native/Push">Push</a>
</li>
<li class="capitalize {% if page.id == 'statusbar' %}active{% endif %}">
  <a href="/docs/v2/native/StatusBar">StatusBar</a>
</li>
<li class="capitalize {% if page.id == 'toast' %}active{% endif %}">
  <a href="/docs/v2/native/Toast">Toast</a>
</li>
<li class="capitalize {% if page.id == 'touchid' %}active{% endif %}">
  <a href="/docs/v2/native/TouchID">TouchID</a>
</li>
