
<li class="capitalize {% if page.id == '{{ActionSheet | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/platform/ActionSheet">ActionSheet</a>
</li>
<li class="capitalize {% if page.id == '{{BLE | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/platform/BLE">BLE</a>
</li>
<li class="capitalize {% if page.id == '{{Calendar | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/platform/Calendar">Calendar</a>
</li>
<li class="capitalize {% if page.id == '{{Camera | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/platform/Camera">Camera</a>
</li>
<li class="capitalize {% if page.id == '{{Contacts | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/platform/Contacts">Contacts</a>
</li>
<li class="capitalize {% if page.id == '{{Device | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/platform/Device">Device</a>
</li>
<li class="capitalize {% if page.id == '{{Facebook | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/platform/Facebook">Facebook</a>
</li>
<li class="capitalize {% if page.id == '{{Geolocation | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/platform/Geolocation">Geolocation</a>
</li>
<li class="capitalize {% if page.id == '{{Push | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/platform/Push">Push</a>
</li>
<li class="capitalize {% if page.id == '{{StatusBar | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/platform/StatusBar">StatusBar</a>
</li>
<li class="capitalize {% if page.id == '{{Toast | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/platform/Toast">Toast</a>
</li>
<li class="capitalize {% if page.id == '{{TouchID | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/platform/TouchID">TouchID</a>
</li>
