#page-pricing {

  .plan-cards {
    display: flex;

    .plan-card {
      &:not(.plan-card--emphasize) {
        margin: 20px 0;

        @media (max-width: $screen-sm) {
          margin: 0;
        }
      }

      & + .plan-card {
        margin-left: 26px;
      }
    }


    @media (max-width: $screen-lg) {
      .plan-card + .plan-card {
        margin-left: 14px;
      }
    }

    @media (max-width: $screen-sm) {
      flex-direction: column;
      align-items: center;

      .plan-card {
        width: 100%;
        max-width: 500px;
      }

      .plan-card + .plan-card {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }

  .plan-card {
    flex: 1;
    border-radius: 12px;
    background: white;
    box-shadow: 0px 2px 8px rgba(2, 8, 20, 0.08), 0px 8px 16px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    + .plan-card {
      border-left: 1px solid #eee;
    }

    .plan-card-header,
    .plan-card-body {
      padding: 32px 28px;
    }

    .plan-card-header {
      letter-spacing: -0.02em;

      h3 {
        margin-top: 0;
        margin-bottom: 26px;
        font-size: 24px;
        color: #020814;
      }

      .price {
        color: #2E4C73;
        font-size: 20px;
        line-height: 1;
        margin-bottom: 2px;
      }

      .price strong {
        font-size: 48px;
        color: #020814;
        font-weight: 400;
        margin-right: -4px;
      }

      .price strong,
      .price span {
        display: inline-block;
      }

      .type {
        font-size: 14px;
        letter-spacing: -0.01em;
        color: #73849A;
      }
    }

    .plan-card-body {
      border-top: 2px solid #F3F5F9;

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }

      h4 {
        font-weight: 600;
        line-height: 1;
        font-size: 14px;
        letter-spacing: -0.01em;
        color: #020814;
        margin-bottom: 12px;
        margin-top: 0;
      }

      
    }

    .addon {
      transition: 0.2s background,
                  0.2s border;
      display: block;
      border: 1px solid #DEE3EA;
      border-radius: 6px;
      padding: 16px;
      margin-top: 32px;
      cursor: pointer;

      li {
        display: flex;
        align-items: center;
        color: #73849A;
        font-weight: 400;
        font-familt: $font-family-graphik;

        & + li {
          margin-top: 6px;
        }

        &::before {
          content: '';
          display: block;
          background-image: url('/img/checkmark.svg');
          background-repeat: no-repeat;
          background-size: 100%;
          width: 10px;
          height: 8px;
          flex: 0 0 10px;
          margin-right: 8px;
          opacity: 0.5;
        }
      }

      &.selected {
        background-color: #F0F6FF;
        border: 1px solid #CDDFFF;
      }

    }

    .addon-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
    }

    .checkbox-group {
      font-size: 12px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #27323F;
      font-weight: 700;

      input {
        margin-right: 8px;
      }
    }

    .price--small {
      font-size: 12px;
      letter-spacing: -0.01em;
      color: #92A1B3;

      strong {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -0.01em;
        color: #2F3A48;
      }
    }

    .plan-card-btn {
      transition: background 0.2s;
      display: block;
      width: 100%;
      text-align: center;
      font-size: 12px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-weight: 700;
      border-radius: 0px 0px 12px 12px;
      padding: 24px 0;
      background-color: #F3F6FC;
      color: #4D8DFF;

      &:hover {
        background: darken(#F3F6FC, 3%)
      }

      &--primary {
        color: #fff;
        background: #3880FF;

        &:hover {
          background: lighten(#3880FF, 5%)
        }
      }

      &--dark {
        color: #CDDFFF;
        background: #3D5275;
        &:hover {
          background: lighten(#3D5275, 5%)
        }
      }
    }

    .addon-cta-toggle {
      display: none;
    }

    .addon-cta-toggle--active {
      display: block;
    }

    .plan-card-highlight {
      background: #FFE5DC;
      border-radius: 8px 8px 0px 0px;
      font-size: 10px;
      text-align: center;
      letter-spacing: 0.16em;
      text-transform: uppercase;
      color: #FF9982;
      font-weight: 700;
      padding: 4px 0;
    }

    &--dark {
      background: linear-gradient(180deg, #2B3C5A 0%, #1B2A45 100%);
      color: #f6f8fb;

      .plan-card-header h3 {
        color: #fff;
      }

      .plan-card-header .price strong,
      .plan-card-body h4 {
        color: #f6f8fb;
      }

      .plan-card-body .features li {
        color: #E9EDF3;
      }

      .plan-card-header .type {
        color: #CED6E0;
      }

      .plan-card-body .features li::before {
        background-image: url('/img/checkmark-dark-gray.svg');
      }

      .plan-card-body {
        border-top-color: #334666;
      }
    }
  }

  .plan-cards--studio {
    max-width: 976px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    .plan-card {
      h2,
      h3,
      h4 {
        margin-bottom: 0;
      }

      h2,
      h4 {
        margin-top: 0;
      }

      h2 {
        font-size: 28px;
        line-height: 34px;
        letter-spacing: -0.02em;
        color: #020814;
        font-weight: 600;
      }

      h3 {
        margin-top: 10px;
      }

      h4 {
        font-size: 16px;
        letter-spacing: -0.01em;
        color: #020814;
        font-weight: 700;
      }

      p {
        font-family: $font-family-graphik;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.01em;
        color: #73849A;
        margin-bottom: 20px;
      }

      .price {
        font-size: 22px;
        letter-spacing: -0.02em;
        color: #E9EDF3;
        font-weight: 400;
      }

      .plan-card-header {
        padding-top: 42px;
        padding-left: 42px;
        padding-right: 42px;
      }

      .plan-card-body {
        padding: 42px 42px 0;

        li a {
          transition: 0.2s opacity;
          font-weight: 600;
          color: #fff;
          margin-left: 5px;

          &:hover {
            opacity: .8;
          }
        }
      }

      .plan-card-cta {
        padding: 42px;
        text-align: center;
      }

      .plan-card-cta .btn {
        transition: 0.2s background;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        font-weight: 700;
        font-size: 16px;
        box-shadow: none;
        border-radius: 8px;
        padding: 22px 34px 20px;
      }
    }

    .plan-card--dark {
      background: linear-gradient(180deg, #2B3C5A 0%, #1B2A45 100%);

      h4 {
        color: #C3D0E0;
        font-weight: 600;
      }
      .pill {
        margin-left: 6px;
        position: relative;
        top: -2px;
      }
    }

    .plan-card:first-child {
      max-width: 300px;
      margin: 80px 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      .plan-card-header {
        padding-bottom: 0;
      }

      .plan-card-body {
        border-top: none;
      }

      .plan-card-cta .btn {
        background: #F3F6FC;
        color: #4D8DFF;
        display: block;
        width: 100%;

        &:hover {
          background: darken(#F3F6FC, 3%);
        }
      }
    }

    .plan-card:last-child {
      .plan-card-header,
      .plan-card-body {
        display: flex;
      }

      .plan-card-header {
        justify-content: space-between;

        .right {
          display: flex;
          align-items: flex-end;
        }
      }

      .plan-card-body {
        ul {
          flex: 1;
        }

        ul + ul {
          margin-left: 34px;
        }
      }

      .plan-card-cta .btn {
        background: #293D5E;
        border: 2px solid rgba(152, 172, 207, 0.3);
        box-shadow: 0px 2px 4px rgba(2, 8, 20, 0.1), 0px 1px 2px rgba(2, 8, 20, 0.08);
        color: #fff;

        &:hover {
          background: lighten(#293D5E, 3%);
        }
      }
    }

  }

}
