#page-pricing {
  .plan-cards {
    display: flex;

    .plan-card {
      &:not(.plan-card--emphasize) {
        margin: 20px 0;

        @media (max-width: $screen-sm) {
          margin: 0;
        }
      }

      & + .plan-card {
        margin-left: 26px;
      }
    }

    @media (max-width: $screen-lg) {
      .plan-card + .plan-card {
        margin-left: 14px;
      }
    }

    @media (max-width: $screen-sm) {
      flex-direction: column;
      align-items: center;

      .plan-card {
        width: 100%;
        max-width: 500px;
      }

      .plan-card + .plan-card {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }

  .plan-card {
    flex: 1;
    border-radius: 12px;
    background: white;
    box-shadow: 0px 2px 8px rgba(2, 8, 20, 0.08), 0px 8px 16px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    + .plan-card {
      border-left: 1px solid #eee;
    }

    .plan-card-header,
    .plan-card-body {
      padding: 32px 28px;
    }

    .plan-card-body {
      padding-bottom: 6px;
    }

    .plan-card-header {
      letter-spacing: -0.02em;

      h3 {
        margin-top: 0;
        margin-bottom: 26px;
        font-size: 24px;
        color: #020814;
      }

      .price {
        color: #2E4C73;
        font-size: 20px;
        line-height: 1;
        margin-bottom: 2px;
      }

      .price strong {
        font-size: 48px;
        color: #020814;
        font-weight: 400;
        margin-right: -4px;
      }

      .price strong,
      .price span {
        display: inline-block;
      }

      .price h6 {
        text-transform: uppercase;
        letter-spacing: 0.08em;
        font-size: 11px;
      }

      .type {
        font-size: 14px;
        letter-spacing: -0.01em;
        color: #73849A;
      }
    }

    .plan-card-header--double {
      display: flex;
      justify-content: space-between;

      h3,
      h4 {
        margin-bottom: 0;
      }

      h3 {
        margin-top: 10px;
      }

      h4 {
        margin-top: 0;
        font-size: 16px;
        letter-spacing: -0.01em;
        font-weight: 700;
        color: #92A1B3;
      }

      .right {
        display: flex;
        align-items: flex-end;
      }

      .price {
        font-size: 22px;
        letter-spacing: -0.02em;
        font-weight: 400;
        color: #5B708B;
      }

      @media (max-width: $screen-sm) {
        flex-direction: column;

        .right {
          margin-top: 8px;
        }
      }
    }

    .plan-card-body {
      border-top: 2px solid #F3F5F9;

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }

      h4 {
        font-weight: 600;
        line-height: 1;
        font-size: 14px;
        letter-spacing: -0.01em;
        color: #020814;
        margin-bottom: 12px;
        margin-top: 0;
      }
    }

    .addon {
      transition: 0.2s background,
                  0.2s border;
      display: block;
      border: 1px solid #DEE3EA;
      border-radius: 6px;
      padding: 16px;
      margin-top: 32px;
      cursor: pointer;

      li {
        display: flex;
        align-items: center;
        color: #73849A;
        font-weight: 400;
        font-familt: $font-family-inter;

        & + li {
          margin-top: 6px;
        }

        &::before {
          content: '';
          display: block;
          background-image: url('/img/checkmark.svg');
          background-repeat: no-repeat;
          background-size: 100%;
          width: 10px;
          height: 8px;
          flex: 0 0 10px;
          margin-right: 8px;
          opacity: 0.5;
        }
      }

      &.selected {
        background-color: #F0F6FF;
        border: 1px solid #CDDFFF;
      }
    }

    .addon-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
    }

    .checkbox-group {
      font-size: 12px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #27323F;
      font-weight: 700;

      input {
        margin-right: 8px;
      }
    }

    .price--small {
      font-size: 12px;
      letter-spacing: -0.01em;
      color: #92A1B3;

      strong {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -0.01em;
        color: #2F3A48;
      }
    }

    .plan-card-clause {
      padding: 0 28px 28px;
      color: #73849a;
      font-size: 13px;
      letter-spacing: -.01em;
      margin-top: 20px;

      h5 {
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 2px;
        margin-top: 0;
      }
      p {
        margin: 0;
      }

      &.highlight {
        margin-top: 0px;
      }

      &.highlight .plan-card-clause__inner {
        background: #FFF8E2;
        color: #977300;
        padding: 17px 18px 14px;
        border-radius: 8px;
      }
    }

    &--dark .plan-card-clause {
      color: #ced6e0;
    }

    .plan-card-btn {
      transition: background 0.2s;
      display: block;
      width: 100%;
      text-align: center;
      font-size: 12px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-weight: 700;
      border-radius: 0px 0px 12px 12px;
      padding: 24px 0;
      background-color: #F3F6FC;
      color: #4D8DFF;

      &:hover {
        background: darken(#F3F6FC, 3%)
      }

      &--primary {
        color: #fff;
        background: #3880FF;

        &:hover {
          background: lighten(#3880FF, 5%)
        }
      }

      &--dark {
        color: #CDDFFF;
        background: #3D5275;
        &:hover {
          background: lighten(#3D5275, 5%)
        }
      }
    }

    .addon-cta-toggle {
      display: none;
    }

    .addon-cta-toggle--active {
      display: block;
    }

    .plan-card-highlight {
      background: #FFE5DC;
      border-radius: 8px 8px 0px 0px;
      font-size: 10px;
      text-align: center;
      letter-spacing: 0.16em;
      text-transform: uppercase;
      color: #FF9982;
      font-weight: 700;
      padding: 4px 0;
    }

    &--dark {
      background: linear-gradient(180deg, #2B3C5A 0%, #1B2A45 100%);
      color: #f6f8fb;

      .plan-card-header h3 {
        color: #fff;
      }

      .plan-card-header .price strong,
      .plan-card-body h4 {
        color: #f6f8fb;
      }

      .plan-card-header .price {
        color: #bac9d6;
      }

      .plan-card-body .features li {
        color: #E9EDF3;
      }

      .plan-card-header .type {
        color: #CED6E0;
      }

      .plan-card-body .features li::before {
        background-image: url('/img/checkmark-dark-gray.svg');
      }

      .plan-card-body {
        border-top-color: #334666;
      }
    }
  }

  .plan-cards--studio {
    max-width: 976px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;

    .plan-card {
      h2 {
        margin-bottom: 0;
        margin-top: 0;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: -0.02em;
        color: #020814;
        font-weight: 600;
      }

      h4 {
        color: #020814;
      }

      p {
        font-family: $font-family-inter;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.01em;
        color: #73849A;
        margin-bottom: 20px;
      }

      .price {
        color: #E9EDF3;
      }

      .plan-card-header {
        padding-top: 42px;
        padding-left: 42px;
        padding-right: 42px;
      }

      .plan-card-body {
        padding: 42px 42px 0;

        li a {
          transition: 0.2s opacity;
          font-weight: 600;
          color: #fff;

          &:hover {
            opacity: .8;
          }
        }
      }

      .plan-card-cta {
        padding: 42px;
        text-align: center;
      }

      .plan-card-cta .btn {
        transition: 0.2s background;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        font-weight: 700;
        font-size: 16px;
        box-shadow: none;
        border-radius: 8px;
        padding: 22px 34px 20px;
      }
    }

    .plan-card--dark {
      background: linear-gradient(180deg, #2B3C5A 0%, #1B2A45 100%);

      h4 {
        color: #C3D0E0;
        font-weight: 600;
      }
      .pill {
        margin-left: 6px;
        position: relative;
        top: -2px;
      }
    }

    // .plan-card:first-child {
    //   max-width: 300px;
    //   margin: 100px 0;
    //   border-top-right-radius: 0;
    //   border-bottom-right-radius: 0;
    //
    //   .plan-card-header {
    //     padding-bottom: 0;
    //   }
    //
    //   .plan-card-body {
    //     border-top: none;
    //     padding-top: 0;
    //   }
    //
    //   .plan-card-cta .btn {
    //     background: #F3F6FC;
    //     color: #4D8DFF;
    //     display: block;
    //     width: 100%;
    //
    //     &:hover {
    //       background: darken(#F3F6FC, 3%);
    //     }
    //   }
    // }

    .plan-card {
      max-width: 848px;

      .plan-card-header,
      .plan-card-body {
        display: flex;
      }

      .plan-card-body {
        ul {
          flex: 1;
        }

        ul + ul {
          margin-left: 34px;
        }
      }

      .plan-card-cta .btn {
        background: #293D5E;
        border: 2px solid rgba(152, 172, 207, 0.3);
        box-shadow: 0px 2px 4px rgba(2, 8, 20, 0.1), 0px 1px 2px rgba(2, 8, 20, 0.08);
        color: #fff;

        &:hover {
          background: lighten(#293D5E, 3%);
        }
      }
    }


    @media (max-width: $screen-sm-max) {
      flex-direction: column;
      align-items: center;

      .plan-card {
        width: 100%;
        max-width: 660px !important;
      }

      .plan-card:first-child {
        margin: 0 0 16px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
      }

      .plan-card-cta .btn {
        display: block;
        width: 100%;
      }
    }

    @media (max-width: $screen-sm) {
      .plan-card {
        max-width: 500px !important;
      }

      .plan-card:last-child .plan-card-body {
        flex-direction: column;

        ul + ul {
          margin-left: 0;
          margin-top: 12px;
        }
      }

      .plan-card .plan-card-header,
      .plan-card .plan-card-cta {
        padding: 32px 28px;
      }

      .plan-card .plan-card-body {
        padding: 32px 28px 0;
      }
    }
  }

  .plan-card--enterprise,
  .plan-card--community,
  .plan-cards-addons .plan-card > div:first-child {
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 8px;
      top: 0;
      left: 0;
    }
  }

  .plan-card--community {
    &::before {
      background-color: #4B80F7;
    }
  }

  .plan-card--enterprise {
    &::before {
      background-color: #FF9982;
    }
  }

  .plan-card--enterprise, .plan-card--community {
    .plan-card-header,
    .plan-card-body {
      padding: 36px 54px;
    }

    .plan-card-body {
      display: flex;
    }

    .plan-card-body ul {
      flex: 1;

      & + ul {
        margin-left: 76px;
        position: relative;
      }

      & + ul::before {
        content: '';
        display: block;
        position: absolute;
        top: 40px;
        left: -39px;
        width: 2px;
        height: 336px;
        background: linear-gradient(270deg, rgba(233, 237, 243, 0) 0%, rgba(233, 237, 243, 0) 0%, rgba(233, 237, 243, 0.8) 51.93%, rgba(233, 237, 243, 0) 100%);
        opacity: 0.8;
      }

      h5 {
        color: #020814;
      }
    }

    .plan-card-cta {
      text-align: center;
      padding-bottom: 46px;
      padding-top: 12px;
    }

    .btn {
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 0.08em;
      font-weight: 700;
      padding: 22px 32px 20px;
      border-radius: 8px;
    }

    @media (max-width: $screen-sm) {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;

      .plan-card-body ul + ul {
        margin-left: 0;
        margin-top: 24px;

        &::before {
          display: none;
        }
      }

      .plan-card-header,
      .plan-card-cta {
        padding: 32px 28px;
      }

      .plan-card-body {
        flex-direction: column;
        padding: 32px 28px 0;
      }

      .btn {
        display: block;
        width: 100%;
      }
    }
  }

  .addons-header {
    margin: 160px 0 54px;

    h2 {
      font-weight: 600;
      font-size: 28px;
      letter-spacing: -0.01em;
    }

    @media (max-width: $screen-sm) {
      margin: 80px 0 36px;
    }
  }

  .plan-cards-addons {
    margin-bottom: 180px;
    display: flex;

    .plan-card {
      overflow: hidden;
      border-radius: 12px;
      flex: 1;
      align-items: flex-start;
      justify-content: space-between;
    }

    .plan-card-header {
      display: flex;

      div {
        justify-content: space-between;
      }

      div:first-child {
        max-width: 316px;
      }

      div + div {
        margin-left: 72px;
        flex: 0 0 auto;
      }

      h3 {
        margin-bottom: 12px;
      }

      h5 {
        font-size: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #92A1B3;
      }

      p {
        line-height: 25px;
        font-size: 16px;
        letter-spacing: -0.01em;
        font-family: $font-family-inter;
        color: #414D5C;
      }

      .price {
        font-size: 10px;
        font-weight: 600;
        color: #92A1B3;

        b {
          font-size: 20px;
          letter-spacing: -0.02em;
          color: #020814;
          font-weight: 600;
        }
      }
    }

    .plan-card-body {
      h6 {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.01em;
        color: #020814;
      }
    }

    .plan-card-cta {
      text-align: center;
      padding: 12px 32px 46px;
      width: 100%;
    }

    .btn {
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.1em;
      font-weight: 700;
      padding: 16px 22px 14px;
      border-radius: 8px;
    }

    .plan-card + .plan-card {
      margin-left: 40px;
    }

    .plan-card:first-child > div::before {
      background-color: #7E87E9;
    }

    .plan-card:last-child > div::before {
      background-color: #88D99E;
    }


    @media (max-width: $screen-md) {
      .plan-card-header {
        flex-direction: column;
        justify-content: flex-start;
      }

      .plan-card-header > div + div {
        margin-left: 0;
      }

      .plan-card + .plan-card {
        margin-left: 20px;
      }
    }

    @media (max-width: $screen-sm) {
      margin-bottom: 80px;
      flex-direction: column;

      .plan-card {
        max-width: 500px;
        width: 100%;
        margin-left: auto !important;
        margin-right: auto !important;
      }

      .plan-card + .plan-card {
        margin-left: 0px;
        margin-top: 20px;
      }

      .plan-card-cta {
        padding: 12px 32px 32px;
      }

      .plan-card .btn {
        display: block;
        width: 100%;
      }
    }
  }
}
