#page-pricing {
  table,
  .table {
    margin-bottom: 0;
    min-width: 800px;
  }

  thead,
  tbody {
    tr td:first-child,
    tr th:first-child {
      padding-left: 36px;
    }

    tr td:last-child,
    tr th:last-child {
      padding-right: 36px;
    }
  }

  thead th,
  tbody td {
    width: 20%;
  }

  thead {

    th, td {
      background: #fff;
      border-bottom: 1px solid rgba(#e8ebf1, 0.6);
      padding-top: 32px;
      padding-bottom: 30px;
      vertical-align: bottom;
    }

    th {
      text-align: center;

      h2 {
        margin-bottom: 3px;
      }
    }


    .eyebrow {
      font-size: 10px;
      color: #94a0b7;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-weight: 700;
      margin-bottom: 4px;
      display: inline-block;
    }

    h2 {
      font-size: 20px;
      font-weight: 700;
      margin: 0;
      letter-spacing: -0.01em;
      color: #020814;
    }

    .price {
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      color: #5B708B;

      strong {
        font-size: 16px;
        font-weight: 600;
      }
    }

    .btn {
      margin-top: 8px;
    }

    .btn--primary {
      background: #3880FF;
      color: #fff;

      &:hover {
        background: lighten(#3880FF, 3%);
      }
    }

    .btn--dark {
      background: #213049;
      color: #CDDFFF;
      border: 0;

      &:hover {
        background: lighten(#213049, 10%);
      }
    }

    .plan-wrap {
      display: inline-block;
      text-align: left;
      border: 0;
    }
  }

  tbody {
    th,
    td {
      padding-top: 14px;
      padding-bottom: 14px;
      padding-left: 16px;
      padding-right: 16px;

    }

    .pill {
      margin-top: -2px;
      margin-left: 2px;
      background: none;

      &--blue {
        margin-left: 8px;
      }
    }

    tr.combined {
      th, td {
        padding-top: 45px;
        padding-bottom: 22px;
      }
      th {
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        color: #333;
      }
    }

    th {
      font-weight: 400;
      vertical-align: middle;
      border: 0;

      &[colspan="4"] span {
        display: inline-block;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        color: #020814;;
        border-top: none;
        padding-top: 30px;
        padding-bottom: 8px;
      }

      &:not([colspan="4"]) {
        font-family: $font-family-inter;
        color: #4E5B6A;
      }

      strong {
        font-size: 14px;
        font-weight: 600;
        display: block;
        color: #565c67;

        b {
          font-weight: 600;
          color: #171a20;
        }

        b a {
          transition: border 0.3s;
          display: inline-block;
          color: #171a20;
          border-bottom: 1px solid rgba(#171a20, 0.2);
          line-height: 1;
        }

        b a:hover {
          border-bottom: 1px solid rgba(#171a20, 0.7);
        }
      }

      a {
        display: block;
        font-weight: 600;
      }

      span {
        font-size: 12px;
        font-weight: 500;
        color: #999;
      }
    }

    td,
    th {
      background: #fff;
    }

    .stripe {
      td,
      th {
        background: #f8f9fb;
      }
    }

    .small {
      td,
      th {
        border-bottom: 1px solid #E9EDF3;
        padding-top: 6px;
        padding-bottom: 6px;
      }

      th:first-child {
        color: #73849A;
        position: relative;
      }

      .check:before {
        font-size: 12px;
      }
    }

    td {
      vertical-align: middle;
      text-align: center;
      font-weight: 400;
      border: 0;
      font-size: 13px;
      color: #4E5B6A;
      font-family: $font-family-inter;
    }

    .dash:before {
      content: '\2014';
      color: #c3ccdb;
    }

    .check:before {
      font-family: 'Ionicons';
      content: "\f2bc";
      color: #00d287;
      font-size: 16px;
      line-height: 1em;
    }

    tr:last-child td {
      padding-top: 36px;
      padding-bottom: 36px;
    }

    .btn {
      width: 100%;
    }

    .btn.sm {
      font-size: 12px;
      letter-spacing: 0.1em;
    }

    .btn.dark {
      background-color: #213049;
      color: #CDDFFF;

      &:hover {
        background-color: lighten(#213049, 5%);
      }
    }
  }

  .btn-secondary {
    background-color: #e1efff;
    color: #3880ff;
    box-shadow: none;

    &:hover {
      background-color: #eaf3fd;
    }

    &:active,
    &:active:focus,
    &:active:hover {
      background-color: #d8eafe;
    }
  }

  .pinned {
    table {
      padding-top: 140px;
      display: block;
    }

    thead {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;

      tr {
        display: flex;
        width: 100%;
        max-width: 1110px;
        margin: 0 auto;
        padding: 0 15px;
        position: relative;
      }

      td {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }

    tbody {
      display: block;

      tr {
        display: flex;
        width: 100%;
      }

      th {
        flex: 1 0 auto;
      }
    }
  }

  .pinned-at-point {
    thead {
      position: absolute;

      tr {
        padding: 0;
      }
    }
  }

  @media (max-width: 830px) {
    thead,
    tbody {
      tr td:first-child,
      tr th:first-child {
        padding-left: 16px;
        // position: absolute;
        // left: 0;
      }

      tr td:last-child,
      tr th:last-child {
        padding-right: 16px;
      }
    }

    .btn.sm {
      font-size: 12px;
    }


    thead {
      th,
      td {
        padding-top: 24px;
        padding-bottom: 18px;
      }
    }
    tbody th[colspan="4"] span {
      padding-top: 8px;
      padding-bottom: 0;
    }

    .box,
    .table-wrap,
    table,
    .table {
      overflow: hidden;
    }
    // min-width: 800px;

    thead {
      position: relative;
      display: block; /*seperates the header from the body allowing it to be positioned*/
      width: 800px;
      overflow: visible;

      td,
      th {
        height: 118px;
        padding-left: 16px;
        padding-right: 16px;
      }

      td {/*first cell in the header*/
        position: relative;
        display: block; /*seperates the first cell in the header from the header*/
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }

    tbody {
      height: calc(100vh - 100px - 118px);
      position: relative;
      display: block; /*seperates the tbody from the header*/
      width: calc(100vw);
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
    }

    thead tr,
    tbody tr {
      display: flex;
    }

    thead th,
    tbody td {
      flex: 0 0 204px;
    }

    thead td,
    // tbody th:not([colspan="5"]) {
    tbody th {
      flex: 0 0 120px;
      border-right: 1px solid rgba(232, 235, 241, 0.6);
    }

    tbody th[colspan="4"] span,
    tbody th strong,
    tbody tr.combined th{
      font-size: 13px;
      line-height: 18px;
    }

    tbody tr.combined {
      th, td {
        padding-top: 22px;
        padding-bottom: 14px;
      }
    }

    tbody tr th {  /*the first cell in each tr*/
      position: relative;
      display: block; /*seperates the first column from the tbody*/
    }

    tbody tr:last-child th {
      height: 110px;
    }
  }

}
