$c-white: white;
$c-carbon-400: #414D5C;
$c-carbon-600: #27323F;
$c-carbon-700: #1A232F;
$c-carbon-900: #010610;
$c-black-700: #010610;
$c-aqua: #E7F4FF;
$c-blue-800: #4D8DFF;
$c-indigo-50: #FBFBFD;
$c-indigo-200: #E9EDF3;
$c-indigo-300: #DEE3EA;
$c-indigo-700: #73849A;
$c-indigo-800: #5B708B;
$c-indigo-850: #345073;
$c-indigo-1000: #2D4665;
$c-indigo-1100: #182E4A;
$c-indigo-1200: #001A3A;

$expander-padding: 32px;