#page-pricing-table {
  .cta {
    background-color: #fff;
    font-family: $font-family-eina;

    .container {
      padding-bottom: 76px;
    }

    hgroup {
      max-width: 720px;
    }

    h1 {
      font-size: 36px;
      font-weight: 700;
      color: #171a20;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      line-height: 28px;
      color: #4c576c;
      font-weight: 600;
    }

    p b {
      font-weight: 700;
      color: #272a2f;
    }

  }
  main {
    padding-bottom: 100px;

    .container {
      max-width: 1170px;
      width: 100% !important;
    }

    .box {
      border-radius: 16px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 22px 44px 0px rgba(0, 13, 36, 0.1), 0px 4px 16px 0px rgba(0, 13, 35, 0.12);
      font-family: $font-family-eina;
      overflow-x: scroll;
    }

    .table-wrap {
      min-width: 970px;
    }

    table,
    .table {
      margin-bottom: 0;
    }

    hgroup {
      text-align: center;

      h4 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: .1em;
        margin-top: 32px;
        color: #999;
      }

      h3 {
        font-weight: 600;
        max-width: 975px;
        margin: 32px auto 16px;
        font-size: 24px;
        line-height: 1.8em
      }
    }

    .btn.sm {
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 0.05em;
      font-weight: 700;
    }

    thead,
    tbody {
      tr td:first-child,
      tr th:first-child {
        padding-left: 36px;
      }

      tr td:last-child,
      tr th:last-child {
        padding-right: 36px;
      }
    }

    thead {
      th, td {
        border-bottom: 2px solid rgba(#e8ebf1, 0.6);
        padding-top: 32px;
        padding-bottom: 30px;
        vertical-align: bottom;
      }

      th {
        width: 18%;

        &.starter h3 { color: #00c674; }
        &.developer h3 { color: #37a8ff; }
        &.team h3 { color: #6058ff; }
        &.business h3 { color: #f3375f; }
      }



      .eyebrow {
        font-size: 10px;
        color: #94a0b7;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: 700;
        margin-bottom: 4px;
        display: inline-block;
      }

      h2 {
        font-size: 20px;
        font-weight: 700;
        margin: 0;
      }

      h3 {
        font-size: 18px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 3px;
        letter-spacing: 0;
      }

      .price {
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;

        strong {
          font-size: 16px;
          font-weight: 700;
        }
      }

      .btn {
        margin-top: 8px;
      }


    }

    tbody {
      th,
      td {
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 16px;
        padding-right: 16px;
      }

      th {
        color: #333;
        font-weight: 600;
        vertical-align: middle;
        border: 0;

        &[colspan="5"] span {
          display: inline-block;
          font-size: 16px;
          line-height: 22px;
          font-weight: 700;
          color: #333;
          border-top: none;
          padding-top: 30px;
          padding-bottom: 18px;
        }

        strong {
          font-size: 14px;
          font-weight: 600;
          display: block;
          color: #565c67;

          b {
            font-weight: 600;
            color: #171a20;
          }
        }

        a {
          display: block;
          font-weight: 600;
        }

        span {
          font-size: 12px;
          font-weight: 500;
          color: #999;
        }
      }

      .stripe {
        td,
        th {
          background: #f8f9fb;
        }
      }

      td {
        vertical-align: middle;
        text-align: left;
        font-weight: 600;
        border: 0;
        font-size: 13px;
        color: #757e8e;
      }

      .dash:before {
        content: '\2014';
        color: #c3ccdb;
      }

      .check::before {
        font-family: 'Ionicons';
        content: "\f2bc";
        color: #00d287;
        font-size: 16px;
        line-height: 1em;
      }

      tr:last-child td {
        padding-top: 36px;
        padding-bottom: 36px;
      }

      .btn {
        width: 100%;
      }

      .btn-secondary {
        background-color: #e1efff;
        color: #3880ff;
        box-shadow: none;

        &:hover {
          background-color: #eaf3fd;
        }

        &:active,
        &:active:focus,
        &:active:hover {
          background-color: #d8eafe;
        }
      }
    }

    .enterprise-callout {
      margin-top: 36px;
      padding: 36px;
      display: flex;
      justify-content: space-between;

      hgroup {
        text-align: left;
        flex: 0 1 auto;
        padding-right: 32px;
      }

      .eyebrow {
        color: #ffa800;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.08em;
      }

      h2 {
        font-size: 28px;
        color: #171a20;
        font-weight: 700;
        margin-top: 8px;
      }

      p {
        font-size: 16px;
        font-weight: 600;
        color: #565c67;
        margin: 18px 0 22px;
        letter-spacing: -0.03em;
        max-width: 520px;
      }

      .logos {
        flex: 0 0 440px;
        max-width: 440px;
        background: url('/img/pricing/enterprise-logos-v2.png') no-repeat right center;
        background-size: contain;
      }
    }

    @media (max-width: $screen-md) {


      thead {
        th,
        td {
          padding-top: 24px;
          padding-bottom: 18px;
        }
        th {
          width: auto;
        }
        td {
          width: 180px;
        }
      }
      tbody th[colspan="5"] span {
        width: 130px;
        padding-top: 8px;
        padding-bottom: 0;
      }
    }

    @media (max-width: $screen-sm) {
      thead,
      tbody {
        tr td:first-child,
        tr th:first-child {
          padding-left: 16px;
        }

        tr td:last-child,
        tr th:last-child {
          padding-right: 16px;
        }
      }

      .enterprise-callout {
        flex-direction: column-reverse;

        align-items: center;

        hgroup,
        .logos {
          flex: 0 0 auto;
        }
        hgroup {
          padding: 0;
          text-align: center;
        }
        .logos {
          width: 100%;
          padding-top: 38%;
          background-position: center center;
          margin-bottom: 36px;
        }
      }
    }

  }
}
