#page-pricing-table {
  .cta {
    background: linear-gradient(60deg, 
      darken( adjust-hue($blue, -20), 20) 0%, 
      darken($blue, 40) 100%
    );
    font-family: $font-family-eina;

    .container {
      padding-bottom: 256px;
    }

    h4 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      letter-spacing: .1em;
      margin-top: 64px;
      color: rgba(white, .9);
    }
  }
  main {
    .container {
      @include box();

      font-family: $font-family-eina;
      margin-top: -254px;
      padding: 16px 32px;
    }

    hgroup {
      text-align: center;

      h4 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: .1em;
        margin-top: 32px;
        color: #999;
      }

      h3 {
        font-weight: 600;
        max-width: 975px;
        margin: 32px auto 16px;
        font-size: 24px;
        line-height: 1.8em
      }
    }

    thead {
      th {
        text-align: center;
        border-bottom: 0;
      }

      h3 {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 800;
        margin-top: 16px;
        margin-bottom: 8px;
        letter-spacing: -.01em;
      }

      .price {
        font-weight: 600;
        font-size: 14px;
        line-height: 1em;

        strong {
          font-size: 32px;
          font-weight: 700;
        }

        sup {
          font-size: 20px;
          vertical-align: -3px;
        }
      }

      .type {
        font-size: 12px;
        color: rgba(#333, .8);
        font-weight: 600;
      }
    }
  }
}