#page-pricing-trial {
  .navbar {
    + .cta {
      background: #061833 linear-gradient(45deg,#081834 0,#051b33 50%,#041629 50%,#031f33 100%);;
      padding-top: 97px;

      hgroup {
        padding-bottom: 402px;
        padding-top: 28px;
        color: white;
        text-align: center;
        max-width: 665px;

        h1 {
          padding-bottom: 10px;
          margin: 0 0 8px;
          font-size: 25px;
          font-weight: 700;
          letter-spacing: -.015em;
        }

        p {
          letter-spacing: .001em;
          font-size: 15px;
          line-height: 1.8em;
        }
      }

      @media (max-width: $screen-xs-max)  {
        margin-top: 0;
      }
    }
  }

  .box {
    @include box;
    margin: -344px auto 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 64px 48px;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    text-align: left;

    @media (max-width: 520px)  {
      padding: 64px 16px;
    }

    p {
      font-weight: 500;
      font-size: 14px;
    }

    form {
      .btn {
        float: left;
      }
    }
    
    .content {
      flex: 0 0 420px;

      @media (max-width: $screen-xs-max)  {
        margin: 0 auto;
      }

      @media (max-width: 520px)  {
        flex-shrink: 1;
  
        form {
          max-width: 100%;
        }
  
        input {
          width: 100%;
        }
      }
      
      p {
        max-width: 420px;
        margin-top: 32px;
        margin-left: 16px;
        
        @media (max-width: $screen-xs-max)  {
          text-align: center;
          margin-left: 0;
          max-width: 100%;
        }
      }
    }

    aside {
      flex: 1 1 380px;
      padding-left: 48px;

      @media (max-width: $screen-xs-max)  {
        order: -1;
        padding-bottom: 32px;
        padding-left: 0;
      }

      h3 {
        font-size: 21px;
      }

      p {
        font-size: 16px;
        line-height: 28px;
      }
    }
  
    ul {
      padding: 16px 0 16px;
      list-style: none;
      text-align: left;
  
      @media (max-width: $screen-sm-max)  {
        flex: 1 1 234px;
      }
    }
  
    li {
      color: #404349;
      font-size: 14px;
      list-style: none;
      padding: 14px 0 0 22px;
      position: relative;
  
      &::before {
        font-family: 'Ionicons';
        content: '\f2ba';
        position: absolute;
        display: block;
        left: 0;
        top: 14px;
        color: #5f57ff;
      }
  
      b {
        font-weight: 600;
      }
    }
  }
}