@import '../../vars';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import './_vars';
@import './__modal';

.cta.cta--transparent {
    background: #3E6CFF;
    color: $c-white;
    padding-top: 20px;
    margin-top: 0;
    position: relative;
    z-index: 1;

  hgroup {
    max-width: 790px;
    padding-bottom: 35px;

    h1 {
      font-size: 56px;
      line-height: 62px;
      letter-spacing: -0.04em;
      margin-bottom: 4px;
    }

    p {
      font-size: 22px;
      line-height: 35px;
      letter-spacing: -0.02em;
      color: rgba($c-aqua, 0.9);
    }
  }

  aside {
    border: 1px solid rgba($c-aqua, .3);
    border-radius: 8px;
    max-width: 533px;
    padding: 1px $expander-padding 13px;
    margin-left: -1 * $expander-padding;
    margin-right: -1 * $expander-padding;
    margin-bottom: 187px;
    display: block;

    @media (max-width: $screen-sm-max) {
      margin-left: 0;
      margin-right: 0;
    }

    h3 {
      font-weight: 600;
      font-size: 22px;
      line-height: 35px;
      letter-spacing: -0.02em;
      margin-top: 18px;
      margin-bottom: 0px;
    }

    p {
      font-size: 16px;
      line-height: 26px;
      letter-spacing: -0.01em;
      color: $c-aqua;

      a {
        margin-left: 8px;
        color: $c-white;
        font-weight: 600;
        position: relative;
        border-bottom: 2px solid rgba($c-white, .3);

        &::after {
          background-image: url('/img/pricing/arrow-forward-sharp.svg');
          background-size: 100%;
          content: '';
          height: 10px;
          width: 12px;
          top: 4px;
          right: -16px;
          position: absolute;
          transition: .2s transform ease;
          display: inline-block;

          @media (max-width: $screen-sm-max) {
            position: static;
            margin-left: 8px;
          }
        }

        &:hover::after {
          transform: translateX(3px);
        }
      }
    }
  }
}

main {
  margin-top: -160px;
  position: relative;
  background: linear-gradient(180deg, #FFFFFF 0%, #FAFBFD 100%);

  section:first-child {
    position: relative;
    z-index: 1;

    h3 {
      color: $c-white;
      font-size: 22px;
      line-height: 35px;
      letter-spacing: -0.02em;
      color: $c-white;
      margin-bottom: 12px;
    }
  }
}

$card-expander-gap: 10px;
$expander-padding-with-gap: $expander-padding + $card-expander-gap;
.cards {
  padding: 0;
  margin-left: -1 * $expander-padding-with-gap;
  margin-right: -1 * $expander-padding-with-gap;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;

  @media (max-width: $screen-sm-max) {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
}


.card {
  flex: 1 0 200px;
  margin-bottom: 12px;
  padding: 18px $expander-padding-with-gap 109px;
  position: relative;
  list-style: none;
  transition: .1s transform ease-out;

  &::before {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 
      0px 8px 16px rgba(2, 8, 20, 0.08), 
      0px 4px 8px rgba(2, 8, 20, 0.12);
    border-radius: 8px;
    content: '';
    top: 0;
    bottom: 0;
    right: $card-expander-gap;
    left: $card-expander-gap;
    z-index: -1;
    transition: .1s box-shadow ease-out;
  }

  h2 {
    color: $c-black-700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.02em;
    margin-bottom: 15px;
  }

  p, 
  li {
    color: $c-indigo-1000;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.01em;
    font-weight: 500;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0;
    width: calc(100% + 38px);
  }

  li {
    padding-left: 22px;
    padding-right: 8px;
    font-size: 14px;
    flex: 1 0 180px;
    margin: 10px 0;
    position: relative;
    list-style: none;

    &::before {
      content: '';
      background: url('/img/pricing/ico-check-dark-2020.svg');
      background-size: 100%;
      height: 10px;
      width: 10px;
      position: absolute;
      left: 0;
      top: 8px;
    }
  }

  .call-to-action {
    color: $c-blue-800;
    font-size: 16px;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    padding: 30px $expander-padding;
    position: absolute;
    bottom: 0;
    left: $card-expander-gap;
    right: $card-expander-gap;
    background: #F9FBFE;
    border-radius: 0px 0px 8px 8px;
    
    svg {
      float: right;
      position: relative;
      transition: .3s transform ease-out;
    }
  }

  &.dark {
    &::before {
      background: $c-indigo-1200;
      box-shadow: 
        0px 8px 16px rgba(2, 8, 20, 0.08),
        0px 4px 8px rgba(2, 8, 20, 0.12);
    }

    h2 {
      color: $c-white;
    }

    p,
    li {
      color: $c-indigo-200;
    }

    li::before {
      background-image: url('/img/pricing/ico-check-light-2020.svg');
    }

    .call-to-action {
      color: $c-white;
      background: $c-indigo-1100;

      path {
        stroke: $c-white;
      }
    }
  }


  &:hover {
    transform: translateY(-2px);

    .call-to-action svg {
      transform: translateX(4px);
    }

    &::before {
      box-shadow: 
        0px 10px 24px rgba(2, 8, 20, 0.12), 
        0px 6px 12px rgba(2, 8, 20, 0.2);
    }
  }
}

#loved-by {
  margin-top: 74px;
  margin-bottom: 136px;

  h3 {
    max-width: 300px;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: $c-carbon-600;
    margin-bottom: 38px;
    font-family: $font-family-inter;
  }

  ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
  }
}