@import '../../vars';
@import '../../bootstrap/variables';

#page-pricing {
  font-family: $font-family-eina;

  .navbar {
    position: relative;
  }

  .cta {
    background-color: #F6F8FB;
    box-shadow: inset 0px -2px 9px rgba(0, 0, 0, 0.02);

    .container {
      padding-bottom: 15px;
    }

    hgroup {
      padding-top: 54px;
      max-width: 720px;
    }

    h5 {
      line-height: 25px;
      font-size: 12px;
      font-family: $font-family-monospace;
      color: #92A1B3;
      text-transform: uppercase;
      letter-spacing: 0.14em;
      margin-bottom: 28px;
    }

    h1 {
      font-size: 56px;
      font-weight: 700;
      color: #171a20;
      margin-bottom: 8px;
      letter-spacing: -0.02em;
    }

    p {
      line-height: 39px;
      font-size: 22px;
      color: #5B708B;
      font-weight: 400;
      letter-spacing: -0.01em;
      margin-bottom: 64px;
    }

    p b {
      font-weight: 700;
      color: #272a2f;
    }

  }

  .rounded-tabs {
    justify-content: center;

    .rounded-tabs__tab-inner {
      color: #92A1B3;
      transition: color 0.2s;
    }

    .rounded-tabs__tab:hover .rounded-tabs__tab-inner,
    .rounded-tabs__tab--active  .rounded-tabs__tab-inner {
      color: #2E4C73;
    }
  }

  .section-header {
    font-size: 28px;
    text-align: center;
    letter-spacing: -0.01em;
    font-weight: 400;
    color: #5B708B;
    text-align: center;
    margin: 74px 0 74px;
  }

  main {
    padding-bottom: 170px;
    @media (max-width: $screen-sm) {
      padding-bottom: 90px;
    }

    .toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 40px;

      span {
        transition: color 0.3s, background 0.3s;
        font-size: 10px;
        text-transform: uppercase;
        color: #97a4ba;
        background-color: #fff;
        letter-spacing: 0.08em;
        font-weight: 700;
        border-radius: 30px;
        padding: 5px 13px;
        display: inline-block;
        text-align: center;
      }
      span:hover {
        cursor: pointer;
        background-color: #ecf1fb;
        color: #7398d8;
      }

      span + span {
        margin-left: 6px;
      }

      span b {
        opacity: 0.5;
      }

      .active,
      .active:hover {
        cursor: default;
        background-color: #fff;
        box-shadow: 0px 2px 4px rgba(2, 8, 20, 0.1), 0px 0px 3px rgba(2, 8, 20, 0.08);
        color: #639CFF;
      }
    }

    .container {
      max-width: 1170px;
      width: 100% !important;
    }
  }

  .plans {
    display: flex;

    .plan + .plan {
      margin-left: 26px;
    }
  }

  .plan {
    flex: 0 0 33%;
    border-radius: 12px;
    background: white;
    box-shadow: 0px 2px 8px rgba(2, 8, 20, 0.08), 0px 8px 16px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    + .plan {
      border-left: 1px solid #eee;
    }

    &:not(.plan--emphasize) {
      margin: 20px 0;
    }

    .plan-header,
    .plan-body {
      padding: 32px 28px;
    }

    .plan-header {
      letter-spacing: -0.02em;

      h3 {
        margin-top: 0;
        margin-bottom: 26px;
        font-size: 24px;
        color: #020814;
      }

      .price {
        color: #2E4C73;
        font-size: 20px;
        line-height: 1;
        margin-bottom: 2px;
      }

      .price strong {
        font-size: 48px;
        color: #020814;
        font-weight: 400;
      }

      .type {
        font-size: 14px;
        letter-spacing: -0.01em;
        color: #73849A;
      }
    }

    .plan-body {
      border-top: 2px solid #F3F5F9;

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }

      h4 {
        font-weight: 600;
        line-height: 1;
        font-size: 14px;
        letter-spacing: -0.01em;
        color: #020814;
        margin-bottom: 12px;
        margin-top: 0;
      }

      .features li {
        font-family: $font-family-graphik;
        font-size: 16px;
        letter-spacing: -0.01em;
        color: #414D5C;
        padding: 10px 0;
        display: flex;

        &:before {
          content: '';
          display: block;
          background-image: url('/img/checkmark-light-gray.svg');
          background-repeat: no-repeat;
          background-size: 100%;
          width: 24px;
          height: 24px;
          margin-right: 12px;
        }
      }
    }

    .addon {
      border: 1px solid #DEE3EA;
      border-radius: 6px;
      padding: 16px;
      margin-top: 32px;

      li {
        display: flex;
        align-items: center;
        color: #73849A;

        & + li {
          margin-top: 6px;
        }

        &:before {
          content: '';
          display: block;
          background-image: url('/img/checkmark.svg');
          background-repeat: no-repeat;
          background-size: 100%;
          width: 10px;
          height: 8px;
          margin-right: 8px;
          opacity: 0.5;
        }
      }
    }

    .addon-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
    }

    .checkbox-group {
      font-size: 12px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #27323F;
      font-weight: 700;

      input {
        margin-right: 8px;
      }
    }

    .price--small {
      font-size: 12px;
      letter-spacing: -0.01em;
      color: #92A1B3;

      strong {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -0.01em;
        color: #2F3A48;
      }
    }

    .plan-btn {
      transition: background 0.2s;
      display: block;
      width: 100%;
      text-align: center;
      font-size: 12px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-weight: 700;
      border-radius: 0px 0px 12px 12px;
      padding: 24px 0;
      background-color: #F3F6FC;
      color: #4D8DFF;

      &:hover {
        background: darken(#F3F6FC, 3%)
      }

      &--primary {
        color: #fff;
        background: #3880FF;

        &:hover {
          background: lighten(#3880FF, 5%)
        }
      }

      &--dark {
        color: #CDDFFF;
        background: #3D5275;
        &:hover {
          background: lighten(#3D5275, 5%)
        }
      }
    }

    .addon-cta-toggle {
      display: none;
    }

    .addon-cta-toggle--active {
      display: block;
    }

    .plan-highlight {
      background: #FFE5DC;
      border-radius: 8px 8px 0px 0px;
      font-size: 10px;
      text-align: center;
      letter-spacing: 0.16em;
      text-transform: uppercase;
      color: #FF9982;
      font-weight: 700;
      padding: 4px 0;
    }

    &--dark {
      background: linear-gradient(180deg, #2B3C5A 0%, #1B2A45 100%);

      .plan-header h3 {
        color: #fff;
      }

      .plan-header .price strong,
      .plan-body h4 {
        color: #f6f8fb;
      }

      .plan-body .features li {
        color: #E9EDF3;
      }

      .plan-header .type {
        color: #CED6E0;
      }

      .plan-body .features li::before {
        background-image: url('/img/checkmark-dark-gray.svg');
      }

      .plan-body {
        border-top-color: #334666;
      }
    }

  }

  .soon {
    margin-bottom: 6px;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-top: 0;

    .badge {
      position: relative;
      display: inline-block;
      bottom: -14px;
    }
  }

  .badge {
    background: $blue;
    color: white;
    font-size: 80%;
    font-weight: 600;
    padding-top: 5px;
    vertical-align: 2px;
  }

  .box {
    margin-top: 50px;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    font-family: $font-family-eina;
    overflow: hidden;
  }

  .table-wrap {
    position: relative;
    overflow-x: auto;

    tippy .tip.right {
      top: -60px;
    }
  }

  table,
  .table {
    margin-bottom: 0;
    min-width: 800px;
  }

  hgroup {
    text-align: center;

    h4 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: .1em;
      margin-top: 32px;
      color: #999;
    }

    h3 {
      font-weight: 600;
      max-width: 975px;
      margin: 32px auto 16px;
      font-size: 24px;
      line-height: 1.8em
    }
  }

  .btn.sm {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.05em;
    font-weight: 700;
  }

  thead,
  tbody {
    tr td:first-child,
    tr th:first-child {
      padding-left: 36px;
    }

    tr td:last-child,
    tr th:last-child {
      padding-right: 36px;
    }
  }

  thead th,
  tbody td {
    width: 18%;
  }

  thead {

    th, td {
      background: #fff;
      border-bottom: 1px solid rgba(#e8ebf1, 0.6);
      padding-top: 32px;
      padding-bottom: 30px;
      vertical-align: bottom;
    }

    th {
      &.starter h3 { color: #00c674; }
      &.developer h3 { color: #37a8ff; }
      &.team h3 { color: #6058ff; }
      &.business h3 { color: #f3375f; }
    }

    .eyebrow {
      font-size: 10px;
      color: #94a0b7;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-weight: 700;
      margin-bottom: 4px;
      display: inline-block;
    }

    h2 {
      font-size: 20px;
      font-weight: 700;
      margin: 0;
    }

    h3 {
      font-size: 18px;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 3px;
      letter-spacing: 0;
    }

    .price {
      font-weight: 600;
      font-size: 13px;
      line-height: 20px;

      strong {
        font-size: 16px;
        font-weight: 700;
      }
    }

    .btn {
      margin-top: 8px;
    }
  }

  tbody {
    th,
    td {
      padding-top: 14px;
      padding-bottom: 14px;
      padding-left: 16px;
      padding-right: 16px;
    }

    tr.combined {
      th, td {
        padding-top: 45px;
        padding-bottom: 22px;
      }
      th {
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        color: #333;
      }
    }

    th {
      color: #333;
      font-weight: 600;
      vertical-align: middle;
      border: 0;

      &[colspan="5"] span {
        display: inline-block;
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        color: #333;
        border-top: none;
        padding-top: 30px;
        padding-bottom: 8px;
      }

      strong {
        font-size: 14px;
        font-weight: 600;
        display: block;
        color: #565c67;

        b {
          font-weight: 600;
          color: #171a20;
        }

        b a {
          transition: border 0.3s;
          display: inline-block;
          color: #171a20;
          border-bottom: 1px solid rgba(#171a20, 0.2);
          line-height: 1;
        }

        b a:hover {
          border-bottom: 1px solid rgba(#171a20, 0.7);
        }
      }

      a {
        display: block;
        font-weight: 600;
      }

      span {
        font-size: 12px;
        font-weight: 500;
        color: #999;
      }
    }

    td,
    th {
      background: #fff;
    }

    .stripe {
      td,
      th {
        background: #f8f9fb;
      }
    }

    td {
      vertical-align: middle;
      text-align: left;
      font-weight: 600;
      border: 0;
      font-size: 13px;
      color: #757e8e;
    }

    .dash:before {
      content: '\2014';
      color: #c3ccdb;
    }

    .check:before {
      font-family: 'Ionicons';
      content: "\f2bc";
      color: #00d287;
      font-size: 16px;
      line-height: 1em;
    }

    tr:last-child td {
      padding-top: 36px;
      padding-bottom: 36px;
    }

    .btn {
      width: 100%;
    }
  }

  .btn-secondary {
    background-color: #e1efff;
    color: #3880ff;
    box-shadow: none;

    &:hover {
      background-color: #eaf3fd;
    }

    &:active,
    &:active:focus,
    &:active:hover {
      background-color: #d8eafe;
    }
  }

  .pinned {
    table {
      padding-top: 140px;
      display: block;
    }

    thead {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;

      tr {
        display: flex;
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 15px;
        position: relative;
      }

      td {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }

    tbody {
      display: block;

      tr {
        display: flex;
        width: 100%;
      }

      th {
        flex: 1 0 auto;
      }
    }
  }

  .pinned-at-point {
    thead {
      position: absolute;

      tr {
        padding: 0;
      }
    }
  }

  @media (max-width: 830px) {
    thead,
    tbody {
      tr td:first-child,
      tr th:first-child {
        padding-left: 16px;
        // position: absolute;
        // left: 0;
      }

      tr td:last-child,
      tr th:last-child {
        padding-right: 16px;
      }
    }

    .btn.sm {
      font-size: 12px;
    }


    thead {
      th,
      td {
        padding-top: 24px;
        padding-bottom: 18px;
      }
    }
    tbody th[colspan="5"] span {
      padding-top: 8px;
      padding-bottom: 0;
    }

    .box,
    .table-wrap,
    table,
    .table {
      overflow: hidden;
    }
    // min-width: 800px;

    thead {
      position: relative;
      display: block; /*seperates the header from the body allowing it to be positioned*/
      width: 800px;
      overflow: visible;

      td,
      th {
        height: 118px;
        padding-left: 16px;
        padding-right: 16px;
      }

      td {/*first cell in the header*/
        position: relative;
        display: block; /*seperates the first cell in the header from the header*/
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }

    tbody {
      height: calc(100vh - 100px - 118px);
      position: relative;
      display: block; /*seperates the tbody from the header*/
      width: calc(100vw - 30px);
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
    }

    thead tr,
    tbody tr {
      display: flex;
    }

    thead th,
    tbody td {
      flex: 0 0 180px;
    }

    thead td,
    // tbody th:not([colspan="5"]) {
    tbody th {
      flex: 0 0 120px;
      border-right: 1px solid rgba(232, 235, 241, 0.6);
    }

    tbody th[colspan="5"] span,
    tbody th strong,
    tbody tr.combined th{
      font-size: 13px;
      line-height: 18px;
    }

    tbody tr.combined {
      th, td {
        padding-top: 22px;
        padding-bottom: 14px;
      }
    }

    tbody tr th {  /*the first cell in each tr*/
      position: relative;
      display: block; /*seperates the first column from the tbody*/
    }

    tbody tr:last-child th {
      height: 110px;
    }
  }

  .enterprise-callout {
    margin-top: 36px;
    padding: 36px;
    display: flex;
    justify-content: space-between;

    hgroup {
      text-align: left;
      flex: 0 1 auto;
      padding-right: 32px;
    }

    .eyebrow {
      color: #ffa800;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.08em;
    }

    h2 {
      font-size: 28px;
      color: #171a20;
      font-weight: 700;
      margin-top: 8px;
    }

    p {
      font-size: 16px;
      font-weight: 600;
      color: #565c67;
      margin: 18px 0 22px;
      letter-spacing: -0.03em;
      max-width: 520px;
    }

    .logos {
      flex: 0 0 440px;
      max-width: 440px;
      background: url('/img/pricing/enterprise-logos-v2.png') no-repeat right center;
      background-size: contain;
    }

    @media (max-width: $screen-sm) {
      flex-direction: column-reverse;
      align-items: center;

      hgroup,
      .logos {
        flex: 0 0 auto;
      }
      hgroup {
        padding: 0;
        text-align: center;
      }
      .logos {
        width: 100%;
        padding-top: 38%;
        background-position: center center;
        margin-bottom: 36px;
      }
    }
  }

  .comparison {
    padding-top: 112px;
    @media (max-width: $screen-sm) {
      padding-top: 50px;
    }
  }

  .comparison,
  .also .container,
  .faq {
    & > h3 {
      font-weight: 700;
      letter-spacing: -0.03em;
      font-size: 36px;
    }
  }

  .also,
  .faq {
    h4 {
      font-weight: 700;
      letter-spacing: -0.03em;
    }
    h4 {
      font-size: 18px;
      line-height: 24px;
      margin-top: 5px;
      margin-bottom: 12px;
    }
    p {
      font-weight: 600;
      color: #818893;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: -0.02em;

      strong {
        color: $blacker;
      }

      code {
        background: none;
        color: #253145;
        padding: 0;
        font-size: 14px;
        border-radius: 0;
      }
    }
  }

  .also {
    border-left: 0;
    border-right: 0;
    padding: 0;

    .items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 49px 16px 0 7px;
    }

    .item {
      flex: 0 1 325px;
      list-style: none;
      margin-bottom: 32px;
      padding-left: 47px;
      position: relative;

      &::before {
        background: no-repeat center top url('/img/pricing/pro-feature-icons-v2.png');
        background-size: 32px;
        position: absolute;
        height: 32px;
        width: 32px;
        content: '';
        left: 0;
        top: 0;
      }

      &.unlimited::before { background-position: center -32px; }
      &.templates::before { background-position: center -64px; }
      &.dev::before { background-position: center -96px; }
      &.dashboard::before { background-position: center -128px; }
      &.git::before { background-position: center -160px; }
      &.forum::before { background-position: center -192px; }
      &.market::before { background-position: center -224px; }
      &.lab::before { background-position: center -256px; }

      @media (max-width: $screen-xs-max)  {
        flex: 1 1 100%;
      }
    }
  }

  .faq {
    padding-top: 96px;
    padding-bottom: 164px;

    ul {
      float: left;
      margin: 0 auto;
      width: 50%;
      padding-top: 49px;

      @media (max-width: $screen-xs-max)  {
        float: none;
        width: 100%;
        padding-left: 0;
      }
    }

    li {
      display: block;
      list-style: none;
      padding: 0 20px 0;
      width: 100%;
    }

    li + li {
      padding-top: 80px;
    }

    h4 {
      line-height: 28px;
    }

    p {
      line-height: 28px;
    }

    @media (max-width: $screen-sm) {
      padding-top: 26px;
      padding-bottom: 74px;

      li + li {
        padding-top: 40px;
      }
    }
  }

  .modal {
    hgroup {
      padding-top: 18px;
      padding-bottom: 32px;
    }
    h3 {
      font-size: 36px;
      font-weight: 700;
      color: #171a20;
      margin: 0;
      letter-spacing: -0.03em;
    }
    p {
      font-size: 18px;
      line-height: 28px;
      color: #4c576c;
      max-width: 400px;
      margin: 0 auto;
    }
    form {
      font-family: $font-family-system;
      max-width: 100%;
      padding: 0 15px 15px;
    }
  }

}
