<select onchange="window.location.href=this.options[this.selectedIndex].value">

  <option
   value="/docs/v1/nightly/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "nightly"%}selected{% endif %}>
    nightly
  </option>

  <option
   value="/docs/v1/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "1.3.3"%}selected{% endif %}>
    1.3.3 (latest)
  </option>

  <option
   value="/docs/v1/1.3.2/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "1.3.2"%}selected{% endif %}>
    1.3.2
  </option>

  <option
   value="/docs/v1/1.2.1/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "1.2.1"%}selected{% endif %}>
    1.2.1
  </option>

</select>