<footer class="footer">

  <nav class="base-links">

    <dl>
      <dt>Docs</dt>
      <dd><a href="https://ionicframework.com/docs/">Documentation</a></dd>
      <dd><a href="https://ionicframework.com/getting-started/">Getting Started</a></dd>
      <dd><a href="https://ionicframework.com/docs/v1/overview/">Overview</a></dd>
      <dd><a href="https://ionicframework.com/docs/v1/components/">CSS Components</a></dd>
      <dd><a href="https://ionicframework.com/docs/v1/api/">JavaScript</a></dd>
      <dd><a href="https://ionicframework.com/submit-issue/">Submit Issue</a></dd>
    </dl>

    <dl>
      <dt>Resources</dt>
      <dd><a href="http://github.com/ionic-team/ionic-native/">Ionic Native</a></dd>
      <dd><a href="http://ionicons.com/">Ionicons</a></dd>
      <dd><a href="/pro/view">View</a></dd>
      <dd><a href="http://creator.ionic.io/">Creator</a></dd>
      <dd><a href="http://showcase.ionicframework.com/">Showcase</a></dd>
      <dd><a href="http://manning.com/wilken/?a_aid=ionicinactionben&a_bid=1f0a0e1d">The Ionic Book</a></dd>
    </dl>

    <dl>
      <dt>Contribute</dt>
      <dd><a href="http://forum.ionicframework.com/">Community Forum</a></dd>
      <dd><a href="http://webchat.freenode.net/?randomnick=1&amp;channels=%23ionic&amp;uio=d4">Ionic Slack</a></dd>
      <dd><a href="https://ionicframework.com/present-ionic/">Present Ionic</a></dd>
      <dd><a href="https://ionicframework.com/contribute/">Contribute</a></dd>
      <dd><a href="https://github.com/ionic-team/ionic-learn/issues/new">Write for us</a></dd>
      <dd><a href="http://shop.ionicframework.com/">Ionic Shop</a></dd>
    </dl>

    <dl class="small-break">
      <dt>About</dt>
      <dd><a href="https://blog.ionicframework.com/">Blog</a></dd>
      <dd><a href="/pro">Services</a></dd>
      <dd><a href="/about">Company</a></dd>
      <dd><a href="https://s3.amazonaws.com/ionicframework.com/logo-pack.zip">Logo Pack</a></dd>
      <dd><a href="http://ionic.io/discover">Discover</a></dd>
      <dd><a href="/jobs">Jobs</a></dd>
    </dl>

    <dl>
      <dt>Connect</dt>
      <dd><a href="https://twitter.com/IonicFramework">Twitter</a></dd>
      <dd><a href="https://github.com/ionic-team/ionic">GitHub</a></dd>
      <dd><a href="https://www.facebook.com/ionicframework">Facebook</a></dd>
      <dd><a href="https://plus.google.com/b/112280728135675018538/+Ionicframework/posts">Google+</a></dd>
      <dd><a href="https://www.youtube.com/channel/UChYheBnVeCfhCmqZfCUdJQw">YouTube</a></dd>
      <dd><a href="http://ionicworldwide.herokuapp.com/">Slack</a></dd>
    </dl>

  </nav>

  <div class="newsletter row">

    <div class="newsletter-container">

      <div class="col-sm-7">
        <div class="newsletter-text">Stay in the loop</div>
        <div class="sign-up">Sign up to receive emails for the latest updates, features, and news on the framework.</div>
      </div>

      <form action="http://codiqa.createsend.com/t/t/s/jytylh/" method="post" class="input-group col-sm-5">
        <input id="fieldEmail" name="cm-jytylh-jytylh" class="form-control" type="email" placeholder="Email" required />
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Subscribe</button>
        </span>
      </form>

    </div>

  </div>

  <div class="copy">
    <div class="copy-container">
      <p class="authors">
        Code licensed under <a href="https://github.com/ionic-team/ionic/blob/master/LICENSE">MIT</a>.
        Docs under <a href="https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)">Apache 2</a>
        <span>|</span>
        &copy; 2013-2016 <a href="/about">Drifty Co</a>
      </p>
    </div>
  </div>

</footer>
