<nav class="navbar navbar-default horizontal-gradient" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle button ionic" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <i class="icon ion-navicon"></i>
      </button>
      <a class="navbar-brand" href="/">
        {% if page.header_logo %}
          {{ page.header_logo }}
        {% else %}
          <img src="/img/ionic-logo-white.svg" width="123" height="43" alt="Ionic Framework">
        {% endif %}
      </a>

      <ul class="version">
        <li class="dropdown">
          <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown"
             role="button"
             aria-haspopup="true"
             aria-expanded="false">v1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="/docs/">
                Current Framework Docs <i class="ion-ios-checkmark"></i>
              </a>
            </li>
            <li><a class="active">v1 Framework Docs</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="getting-started-nav nav-link" href="/getting-started/">Getting Started</a></li>
        <li><a class="docs-nav nav-link" href="/docs/v1">Docs</a></li>
        <li class="hide-sm"><a class="nav-link" href="https://forum.ionicframework.com/?utm_source=framework&utm_medium=navbar&utm_campaign=forum%20CTA">Forum</a></li>
        <li><a class="blog-nav nav-link" href="https://blog.ionicframework.com/?utm_source=framework&utm_medium=navbar&utm_campaign=blog%20CTA">Blog <span id="blog-badge">1</span></a></li>
        <li><a class="products-nav nav-link" href="/pro/?utm_source=framework&utm_medium=navbar&utm_campaign=platform%20CTA">Cloud</a></li>
        <li><a class="examples-nav nav-link" href="/enterprise?utm_source=framework&utm_medium=navbar&utm_campaign=enterprise%20CTA">Enterprise</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle nav-link " data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <div class="arrow-up"></div>
            <li><a class="examples-nav nav-link" href="http://showcase.ionicframework.com/">Showcase</a></li>
            <!-- <li><a class="nav-link" href="http://jobs.ionicframework.com/">Job Board</a></li> -->
            <li><a class="nav-link" href="http://market.ionicframework.com/">Market</a></li>
            <li><a class="nav-link" href="http://ionicworldwide.herokuapp.com/">Ionic Worldwide</a></li>
            <li><a class="nav-link" href="http://play.ionic.io/">Playground</a></li>
            <li><a class="nav-link" href="http://creator.ionic.io/">Creator</a></li>
            <li><a class="nav-link" href="http://shop.ionicframework.com/">Shop</a></li>
            <li><a class="nav-link" href="/trusted-partners">
              Trusted Partners</a></li>
            <!--<li><a class="nav-link" href="http://ngcordova.com/">ngCordova</a></li>-->
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
