{% extends '_layouts/base.html' %}
{% set id = 'products-contact' %}
{% set mixpanelEnabled = true %}
{% set bodyController = "ProductsPageCtrl" %}

{% block header_style %}transparent{% endblock %}

{% block body_attributes %}
  data-spy="scroll"
  data-target="#platform-nav"
  data-offset="100"
{% endblock %}

{% block main %}

<div class="cta gradient product-contact-cta">
  <hgroup class="container">
    <h1>Thanks for your interest!</h1>
    <!--<p>
      We'd love to learn more about you and your teams needs. <strong>Have some time to chat?</strong>
    </p>-->
  </hgroup>
</div>

<main>
  <div class="pricing-survey">
    <form id="pricingInterestedForm" ng-controller="PricingFormCtrl">

      <div ng-show="section==1">

        <!--<img src="/img/pro/mattkremer.jpg" class="matt-picture" />-->

        <div class="matt-talking">
          <!-- <p>Hey there,</p> -->

          <p>
            Thanks for showing interest in what we have to offer. We're
            currently evaluating this package, and would love to <i>reach
            out to you to talk about your exact needs after learning a
            little more about you</i>.
          </p>

          <p>Fill out this survey and we'll be in touch!</p>

          <!-- <p>Thanks,<br />Matt</p> -->

          <!-- <img src="/img/pro/signature.png" class="matt-signature" /> -->
        </div>

        <div class="form-group small-form">
          <label for="name" class="control-label">
            Name
          </label>
          <input type="text"
                 class="form-control"
                 id="name"
                 name="name"
                 ng-model="form.name">
        </div>

        <div class="form-group small-form">
          <label for="email" class="control-label">
            Email
          </label>
          <input type="email"
                 class="form-control"
                 id="email"
                 name="email"
                 ng-model="form.email"
                 ng-enter="nextSection(form)">
        </div>
      </div>

      <div ng-show="section==2">

        <!-- <img src="/img/pro/mattkremer.jpg" class="matt-picture-small" /> -->

        <div class="matt-talking one-line">
          <p>How did you feel about the offering?</p>
        </div>

        <div class="form-group">
          <label for="would-this-offering" class="control-label">
            Would this offering solve any problems you currently have?
          </label><br>
          <label class="radio-inline">
            <input type="radio"
                   name="solve_problems"
                   id="solve_problems_yes"
                   ng-value="true"
                   ng-model="form.solve_problems"> Yes
          </label>
          <label class="radio-inline">
            <input type="radio"
                   name="solve_problems"
                   id="solve_problems_no"
                   ng-value="false"
                   ng-model="form.solve_problems"> No
          </label>
        </div>
        <div class="form-group">
        <label class="control-label">
          Is there anything in this offering you wouldn't use?
        </label><br>
        <label class="checkbox-inline">
          <input type="checkbox"
                 value="unused_features_creator"
                 name="unused_features_creator"
                 ng-model="form.unused_features.creator">
          Prototyping
        </label>
        <label class="checkbox-inline">
          <input type="checkbox"
                 value="unused_features_view"
                 ng-model="form.unused_features.view">
          Device Preview/Testing
        </label>
        <br>
        <label class="checkbox-inline">
          <input type="checkbox"
                 value="unused_features_deploy"
                 name="unused_features_deploy"
                 ng-model="form.unused_features.deploy">
          Live Updates
        </label>
        <label class="checkbox-inline">
          <input type="checkbox"
                 value="unused_features_package"
                 name="unused_features_package"
                 ng-model="form.unused_features.package">
          Cloud Builds
        </label>
      </div>

      <!--<div class="form-group">
        <label class="control-label">
          Is there anything missing from this offering that would prevent
          you from buying it?
        </label><br>
        <label class="radio-inline">
          <input type="radio"
                 name="missing_purchase"
                 id="missing_purchase_yes"
                 ng-value="true"
                 ng-model="form.missing_purchase"> Yes
        </label>
        <label class="radio-inline">
          <input type="radio"
                 name="missing_purchase"
                 id="missing_purchase_no"
                 ng-value="false"
                 ng-model="form.missing_purchase"> No
        </label>
      </div>-->

      <div class="form-group">
        <label class="control-label">
          Is there anything missing in this offering that is critical to
          your workflow?
        </label><br>
        <label class="radio-inline">
          <input type="radio"
                 name="missing_workflow"
                 id="missing_workflow_yes"
                 ng-value="true"
                 ng-model="form.missing_workflow"> Yes
        </label>
        <label class="radio-inline">
          <input type="radio"
                 name="missing_workflow"
                 id="missing_workflow_no"
                 ng-value="false"
                 ng-model="form.missing_workflow"> No
        </label>
      </div>
      </div>

      <div ng-show="section==3">

        <!-- <img src="/img/pro/mattkremer.jpg" class="matt-picture-small" /> -->

        <div class="matt-talking one-line">
          <p>Great, now how about the price?</p>
        </div>

        <div class="form-group">
          <label for="if-this-package" class="control-label">
            If this package was Ionic’s only offering, and existed today for
            $1999/user/year, would you buy it?
          </label><br>
          <label class="radio-inline">
            <input type="radio"
                   name="would_buy"
                   id="would_buy_yes"
                   ng-value="true"
                   ng-model="form.would_buy"> Yes
          </label>
          <label class="radio-inline">
            <input type="radio"
                   name="would_buy"
                   id="would_buy_no"
                   ng-value="false"
                   ng-model="form.would_buy"> No
          </label>
        </div>
        <div class="form-group">
          <label for="price" class="control-label">Is the offering presented</label>
          <select id="price"
                  name="price"
                  class="form-control"
                  ng-model="form.price">
            <option value="null" disabled selected></option>
            <option value="inexpensive">Inexpensive</option>
            <option value="fair">Fair</option>
            <option value="expensive">Expensive</option>
            <option value="prohibitively expensive">Prohibitively expensive</option>
          </select>
        </div>

        <div class="form-group">
          <label for="expensive_point" class="control-label">
            At what price point does this offering become prohibitively
            expensive?
          </label>
          <input type="number"
                 class="form-control"
                 id="expensive_point"
                 name="expensive_point"
                 ng-model="form.expensive_point">
        </div>
      </div>

      <div ng-show="section==4">
        <!-- <img src="/img/pro/mattkremer.jpg" class="matt-picture-small" /> -->

        <div class="matt-talking one-line">
          <p>Just some final basic questions:</p>
        </div>

        <div class="form-group">
          <label for="company_size" class="control-label">Company Size</label>
          <select id="company_size"
                  name="company_size"
                  class="form-control"
                  ng-model="form.company_size">
            <option ng-value="null" disabled selected></option>
            <option ng-value="1">Self Employed</option>
            <option ng-value="10">2-10</option>
            <option ng-value="50">11-50</option>
            <option ng-value="500">51-500</option>
            <option ng-value="1000">500+</option>
          </select>
        </div>

        <div class="form-group">
          <label for="have-you-ever" class="control-label">
            Have you ever used Ionic Creator or Ionic Cloud?
          </label><br>
          <label class="radio-inline">
            <input type="radio"
                   name="used_services"
                   id="used_services_yes"
                   ng-value="true"
                   ng-model="form.used_services"> Yes
          </label>
          <label class="radio-inline">
            <input type="radio"
                   name="used_services"
                   id="used_services_no"
                   ng-value="false"
                   ng-model="form.used_services"> No
          </label>
        </div>
      </div>

      <div ng-show="section==5">
        <div class="matt-talking one-line">
          <p>Thank you so much for your time, we'll reach out soon!</p>
        </div>
      </div>

      <div class="button-container">
        <button type="button"
                class="btn btn-primary"
                ng-show="section!==5"
                ng-click="nextSection(form)">
          <span ng-show="section==4">Submit</span>
          <span ng-show="section!=4">Next</span>
        </button>
      </div>

    </form>
  </div>

</main>
{% endblock %}

{% block scripts %}
<div class="modal fade pricing-survey"
     id="myModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     ng-controller="PricingFormCtrl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                id="modal-close"
                onclick="c('Pricing','FormClose')"></button>
        <h2 ng-show="section==1" class="modal-title">Let's talk</h2>
        <h2 ng-show="section!=1 && section!=5" class="modal-title">Got it, thanks!</h2>
        <h2 ng-show="section==5" class="modal-title">That's it!</h2>
        <!--<p>
          We're currently evaluating this product and would love your feedback
        </p>-->

      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                ng-show="section!==5"
                ng-click="nextSection(form)">
          <span ng-show="section==4">Submit</span>
          <span ng-show="section!=4">Next</span>
        </button>
        <button type="button"
                class="btn white"
                ng-show="section==5"
                data-dismiss="modal"
                aria-label="Close"
                onclick="c('Pricing','FormClose: Complete')">Close
        </button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.8/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.8/angular-cookies.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.8/angular-sanitize.min.js"></script>
<script>
var IonicSiteModule = angular.module('IonicSite',
  ['ngAnimate', 'ngSanitize', 'ngCookies']);

IonicSiteModule
.service('ionicMetrics', ['$cookies', '$http', function($cookies, $http) {
  this.track = function(eventName, metricName) {
    // in-house funnel metrics
    var guid = $cookies.get('ionic-metrics');
    if (!guid) {
      guid = window.guid();
      $cookies.put('ionic-metrics', guid);
    }
    metricName = metricName ? metricName : 'ionic_site_products_funnel';
    var now = new Date();
    return $http.post('https://api.ionicjs.com/events/metrics', {
      metrics: [{
        name: metricName,
        timestamp: now.toISOString(),
        session_id: guid,
        value: {
          event: eventName
        }
      }],
      sent_at: now.toISOString()
    })
  }
}])
.controller('PricingFormCtrl', ['$scope', '$http', '$timeout',
  function($scope, $http, $timeout) {

  $scope.section = 1;
  $scope.form = {};

  $scope.nextSection = function(form) {
    $scope.section++;
    if ($scope.section == 3) {
      $scope.section++;
    }
    $scope.submit(form);
  };

  $scope.submit = function(form) {
    window.c('Pricing', 'FormStep', null, $scope.section);
    $(':focus').blur();
    console.info('SUBMITTING FORM');
    var cleanForm = {
      table: 'nick_sdlc_030917',
      data: JSON.parse(JSON.stringify(form))
    };

    if (form.unused_features) {
      cleanForm.data.unused_features = Object.keys(form.unused_features)
                                             .join(', ');
    }

    function trackMixpanel() {
      var step_descs = ['emailname', 'important', 'lesser'];
      mixpanel.track('Survey Checkpoint', {'test': 'ProductsTest - 5', 'step_desc': step_descs[$scope.section-2], 'step_order': $scope.section-1});
      if ($scope.section == 4) {
        mixpanel.track('Survey Finished', {'test': 'ProductsTest - 5'});
      }
    }

    if (form.uuid) {
      $http.patch('https://apps.ionic.io/api/discovery/' + form.uuid, cleanForm).then(function(resp) {

        trackMixpanel();

        if ($scope.section == 4) {
          // We're done with the form!!
          $scope.form = {};
          window.c('Pricing', 'FormSubmit');
        } else {
          // We're NOT done yet.
        }
      }).catch(function(err) {
        window.c('Pricing', 'FormError');
        console.error('Unable to save survey', err);
      });
    } else {
      if (!cleanForm.data.email) {
        alert('Please enter your email');
        return $scope.section--;
      }
      $http.post('https://apps.ionic.io/api/discovery', cleanForm).then(function(resp) {

        trackMixpanel();

        // We've only filled out Name & Email so far. Store the UUID for updating next time.
        form.uuid = resp.data.uuid;

        window.c('Pricing', 'FormSuccess');
        console.info('RESP', resp);

      }).catch(function(err) {
        window.c('Pricing', 'FormError');
        console.error('Unable to save survey', err);
      });
    }

  };
}])
.controller('ProductsPageCtrl', ['$scope', '$timeout', 'ionicMetrics',
  function($scope, $timeout, ionicMetrics) {

  mixpanel.track('Products Page Load', {'test': 'ProductsTest - 5'});
  ionicMetrics.track('Products Page Load');

  $scope.gotoPricing = function(location) {
    mixpanel.track('Pricing Button Click',
      {'test': 'ProductsTest - 5', 'location': location});
    $timeout(function() {
      window.location = '/pro/pricing';
    }, 5);
  };

  $scope.gotoGettingStarted = function() {
    mixpanel.track('Community - Getting Started Click',
      {'test': 'ProductsTest - 5'});
    $timeout(function() {
      window.location = '/getting-started';
    }, 5);
  };

  $scope.trackOpenSurvey = function() {
    mixpanel.track('Professional - Im Interested Click',
      {'test': 'ProductsTest - 5'});
    c('Pricing', 'FormOpen');
  };

}]);

var $form = document.querySelector('#pricingInterestedForm');
$form.addEventListener('change', function(e) {
  var $t = e['target'];
  window.c('Pricing',
           'FormFieldChange: ' + $t.getAttribute('name'),
           null,
           $t.getAttribute('value'));
});
</script>
{% endblock %}
