{% extends '_layouts/base.html' %}
{% set id = 'products-contact' %}
{% set mixpanelEnabled = true %}
{% set bodyController = "ProductsPageCtrl" %}

{% block header_style %}transparent{% endblock %}

{% block body_attributes %}
  data-spy="scroll"
  data-target="#platform-nav"
  data-offset="100"
{% endblock %}

{% block main %}

<div class="cta gradient product-contact-cta">
  <hgroup class="container">
    <h1>Thanks for your interest!</h1>
    <!--<p>
      We'd love to learn more about you and your teams needs. <strong>Have some time to chat?</strong>
    </p>-->
  </hgroup>
</div>

<main>
  <div class="pricing-survey">
    <form id="pricingInterestedForm" ng-controller="PricingFormCtrl">

      <div ng-show="section==1">

        <!--<img src="/img/pro/mattkremer.jpg" class="matt-picture" />-->

        <div class="matt-talking">
          <!-- <p>Hey there,</p> -->

          <p>
            Thanks for showing interest in what we have to offer. We're
            currently evaluating this package, and would love to <i>reach
            out to you to talk about your exact needs after learning a
            little more about you</i>.
          </p>

          <p>Fill out this survey and we'll be in touch!</p>

          <!-- <p>Thanks,<br />Matt</p> -->

          <!-- <img src="/img/pro/signature.png" class="matt-signature" /> -->
        </div>

        <div class="form-group small-form">
          <label for="name" class="control-label">
            Name
          </label>
          <input type="text"
                 class="form-control"
                 id="name"
                 name="name"
                 ng-model="form.name">
        </div>

        <div class="form-group small-form">
          <label for="email" class="control-label">
            Email
          </label>
          <input type="email"
                 class="form-control"
                 id="email"
                 name="email"
                 ng-model="form.email"
                 ng-enter="nextSection(form)">
        </div>
      </div>

      <div ng-show="section==2">

        <!-- <img src="/img/pro/mattkremer.jpg" class="matt-picture-small" /> -->

        <div class="matt-talking one-line">
          <p>How did you feel about the offering?</p>
        </div>

        <div class="form-group">
          <label for="would-this-offering" class="control-label">
            Would this offering solve any problems you currently have?
          </label><br>
          <label class="radio-inline">
            <input type="radio"
                   name="solve_problems"
                   id="solve_problems_yes"
                   ng-value="true"
                   ng-model="form.solve_problems"> Yes
          </label>
          <label class="radio-inline">
            <input type="radio"
                   name="solve_problems"
                   id="solve_problems_no"
                   ng-value="false"
                   ng-model="form.solve_problems"> No
          </label>
        </div>
        <div class="form-group">
        <label class="control-label">
          Is there anything in this offering you wouldn't use?
        </label><br>
        <label class="checkbox-inline">
          <input type="checkbox"
                 value="unused_features_creator"
                 name="unused_features_creator"
                 ng-model="form.unused_features.creator">
          Prototyping
        </label>
        <label class="checkbox-inline">
          <input type="checkbox"
                 value="unused_features_view"
                 ng-model="form.unused_features.view">
          Device Preview/Testing
        </label>
        <br>
        <label class="checkbox-inline">
          <input type="checkbox"
                 value="unused_features_deploy"
                 name="unused_features_deploy"
                 ng-model="form.unused_features.deploy">
          Live Updates
        </label>
        <label class="checkbox-inline">
          <input type="checkbox"
                 value="unused_features_package"
                 name="unused_features_package"
                 ng-model="form.unused_features.package">
          Cloud Builds
        </label>
      </div>

      <!--<div class="form-group">
        <label class="control-label">
          Is there anything missing from this offering that would prevent
          you from buying it?
        </label><br>
        <label class="radio-inline">
          <input type="radio"
                 name="missing_purchase"
                 id="missing_purchase_yes"
                 ng-value="true"
                 ng-model="form.missing_purchase"> Yes
        </label>
        <label class="radio-inline">
          <input type="radio"
                 name="missing_purchase"
                 id="missing_purchase_no"
                 ng-value="false"
                 ng-model="form.missing_purchase"> No
        </label>
      </div>-->

      <div class="form-group">
        <label class="control-label">
          Is there anything missing in this offering that is critical to
          your workflow?
        </label><br>
        <label class="radio-inline">
          <input type="radio"
                 name="missing_workflow"
                 id="missing_workflow_yes"
                 ng-value="true"
                 ng-model="form.missing_workflow"> Yes
        </label>
        <label class="radio-inline">
          <input type="radio"
                 name="missing_workflow"
                 id="missing_workflow_no"
                 ng-value="false"
                 ng-model="form.missing_workflow"> No
        </label>
      </div>
      </div>

      <div ng-show="section==3">

        <!-- <img src="/img/pro/mattkremer.jpg" class="matt-picture-small" /> -->

        <div class="matt-talking one-line">
          <p>Great, now how about the price?</p>
        </div>

        <div class="form-group">
          <label for="if-this-package" class="control-label">
            If this package was Ionic’s only offering, and existed today for
            $1999/user/year, would you buy it?
          </label><br>
          <label class="radio-inline">
            <input type="radio"
                   name="would_buy"
                   id="would_buy_yes"
                   ng-value="true"
                   ng-model="form.would_buy"> Yes
          </label>
          <label class="radio-inline">
            <input type="radio"
                   name="would_buy"
                   id="would_buy_no"
                   ng-value="false"
                   ng-model="form.would_buy"> No
          </label>
        </div>
        <div class="form-group">
          <label for="price" class="control-label">Is the offering presented</label>
          <select id="price"
                  name="price"
                  class="form-control"
                  ng-model="form.price">
            <option value="null" disabled selected></option>
            <option value="inexpensive">Inexpensive</option>
            <option value="fair">Fair</option>
            <option value="expensive">Expensive</option>
            <option value="prohibitively expensive">Prohibitively expensive</option>
          </select>
        </div>

        <div class="form-group">
          <label for="expensive_point" class="control-label">
            At what price point does this offering become prohibitively
            expensive?
          </label>
          <input type="number"
                 class="form-control"
                 id="expensive_point"
                 name="expensive_point"
                 ng-model="form.expensive_point">
        </div>
      </div>

      <div ng-show="section==4">
        <!-- <img src="/img/pro/mattkremer.jpg" class="matt-picture-small" /> -->

        <div class="matt-talking one-line">
          <p>Just some final basic questions:</p>
        </div>

        <div class="form-group">
          <label for="company_size" class="control-label">Company Size</label>
          <select id="company_size"
                  name="company_size"
                  class="form-control"
                  ng-model="form.company_size">
            <option ng-value="null" disabled selected></option>
            <option ng-value="1">Self Employed</option>
            <option ng-value="10">2-10</option>
            <option ng-value="50">11-50</option>
            <option ng-value="500">51-500</option>
            <option ng-value="1000">500+</option>
          </select>
        </div>

        <div class="form-group">
          <label for="have-you-ever" class="control-label">
            Have you ever used Ionic Creator or Ionic Cloud?
          </label><br>
          <label class="radio-inline">
            <input type="radio"
                   name="used_services"
                   id="used_services_yes"
                   ng-value="true"
                   ng-model="form.used_services"> Yes
          </label>
          <label class="radio-inline">
            <input type="radio"
                   name="used_services"
                   id="used_services_no"
                   ng-value="false"
                   ng-model="form.used_services"> No
          </label>
        </div>
      </div>

      <div ng-show="section==5">
        <div class="matt-talking one-line">
          <p>Thank you so much for your time, we'll reach out soon!</p>
        </div>
      </div>

      <div class="button-container">
        <button type="button"
                class="btn btn-primary"
                ng-show="section!==5"
                ng-click="nextSection(form)">
          <span ng-show="section==4">Submit</span>
          <span ng-show="section!=4">Next</span>
        </button>
      </div>

    </form>
  </div>

</main>
{% endblock %}

{% block scripts %}
<div class="modal fade pricing-survey"
     id="myModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     ng-controller="PricingFormCtrl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                id="modal-close"
                onclick="c('Pricing','FormClose')"></button>
        <h2 ng-show="section==1" class="modal-title">Let's talk</h2>
        <h2 ng-show="section!=1 && section!=5" class="modal-title">Got it, thanks!</h2>
        <h2 ng-show="section==5" class="modal-title">That's it!</h2>
        <!--<p>
          We're currently evaluating this product and would love your feedback
        </p>-->

      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                ng-show="section!==5"
                ng-click="nextSection(form)">
          <span ng-show="section==4">Submit</span>
          <span ng-show="section!=4">Next</span>
        </button>
        <button type="button"
                class="btn white"
                ng-show="section==5"
                data-dismiss="modal"
                aria-label="Close"
                onclick="c('Pricing','FormClose: Complete')">Close
        </button>
      </div>
    </div>
  </div>
</div>

<script>
var $form = document.querySelector('#pricingInterestedForm');
$form.addEventListener('change', function(e) {
  var $t = e['target'];
  window.c('Pricing',
           'FormFieldChange: ' + $t.getAttribute('name'),
           null,
           $t.getAttribute('value'));
});
</script>
{% endblock %}
