{% extends '_layouts/base.html' %}
{% set id = 'products-deploy' %}
{% set title = 'Fast App Update Deployment and Easy Code Changes with Ionic Appflow' %}
{% set header_style = 'transparent light products-page' %}
{% set meta_description = "With Ionic deploy you can provide live app updates in real time. Push hot code updates, content changes, A/B tests, and bug fixes for hybrid and native apps in realtime before and after your app is in the app stores." %}
{% set stickyNav = true %}

{% block body_attributes %}

{% endblock %}

{% block main %}

<div class="sub-header">
  <div class="container">
    <ul class="left breadcrumbs">
      <li><a href="/pro">Pro</a></li>
      <li>Deploy</li>
    </ul>
    <ul class="right">
      <li><a href="/pro/deploy" class="active">Features</a></li>
      <li><a href="/docs/appflow/deploy/intro">Docs</a></li>
      <li><a href="/pricing#appflow">Pricing</a></li>
    </ul>
  </div>
</div>

<div class="top">
  <div class="container">
    <hgroup>
      <h1>Live app updates, in realtime.</h1>
      <p>
        Push hot code updates, content changes, A/B tests, and bug fixes in
        realtime before and after your app is in the App Stores.
      </p>
    </hgroup>
    <div class="btns">
      <a href="https://dashboard.ionicframework.com/signup?source=framework-{{id}}&product=appflow"
         class="btn purple" id="btn-products-deploy-activate" target="_blank">
        Activate Deploy</a>
      <a href="/sales" class="btn white" id="btn-products-deploy-get-in-touch">
        Get in touch</a>
    </div>
  </div>
</div>

<main>
  <section class="skip left">
    <div class="container">
      <hgroup>
        <h2>
          <strong>Skip the line. </strong><br>
          Push changes as soon as they’re ready.
        </h2>
        <p>
          <strong>Deploy</strong> enables you and your team to send live code
          changes directly to your users, when you’re ready, without waiting in
          line for App Store reviews and approvals.
        </p>
      </hgroup>
      <ul class="items">
        <li class="live">
          <strong>Live updates</strong>
          <p>
            Push live app updates directly to users and testers in realtime. No
            approvals, no delays.
          </p>
        </li>
        <li class="automatic">
          <strong>Automatic updating</strong>
          <p>
            Keep users on the latest version, with updates that works seamlessly
            in the background.
          </p>
        </li>
        <li class="split">
          <strong>Split testing</strong>
          <p>
            Run A/B tests and target the distribution of new changes using
            multiple update channels.
          </p>
        </li>
        <li class="compliant">
          <strong>App store compliant</strong>
          <p>
            Safely update your Ionic apps while staying compliant with Apple and
            Android requirements.
          </p>
        </li>
      </ul>
      <div class="graphics activateOnScroll"></div>
    </div>
  </section>

  <section class="live left">
    <div class="container">
      <hgroup>
        <h2>
          <span>Push live code changes.</span><br>
          Outside the App Stores.
        </h2>
        <p>
          <strong>Deploy</strong> allows you to send live app updates and code
          changes directly to users and testers, without going through the App
          Stores. Changes to JavaScript, HTML, and CSS files are included in the
          service, and fully compliant with Apple and Android requirements.
        </p>
      </hgroup>
      <div class="graphics activateOnScroll">
        <div class="android">
          <div class="screen"></div>
          <div class="screen"></div>
          <div class="screen"></div>
        </div>
        <div class="iphone">
          <div class="screen"></div>
          <div class="screen"></div>
          <div class="screen"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="latest right">
    <div class="container">
      <hgroup>
        <h2>Keep users on the latest versions.</h2>
        <p>
          Ionic apps use <strong>Deploy</strong> to check for the latest updates
          and automatically upgrade to newer versions. The service works
          seamlessly in the background. Unless there’s a change to the native
          code, no user action is required to keep your apps updated.
        </p>
      </hgroup>
      <div class="graphics activateOnScroll"></div>
    </div>
  </section>

  <section class="run left">
    <div class="container">
      <hgroup>
        <h2>Run live A/B tests.<br>Limit who sees what.</h2>
        <p>
          With Deploy, you can set up multiple deployment channels to send
          targeted updates to specific groups of users.  Use it to run A/B
          tests, or target the distribution of updates by audience, geography,
          or test group.
        </p>
      </hgroup>
      <div class="graphics activateOnScroll"></div>
    </div>
  </section>

  <section class="bar get-started">
    <div class="container">
      <hgroup>
        <h2>
          Start pushing hot code updates live into production.
        </h2>
        <p class="lg">
          Get in touch to learn more, or create an account.
        </p>
      </hgroup>
      <div class="btns">
        <a href="https://dashboard.ionicframework.com/signup?source=framework-{{id}}&product=appflow"
           class="btn white" id="btn-products-deploy-create-account">
          Create an account</a>
        <a class="btn purple" id="btn-products-deploy-see-pricing"
           href="/pricing#appflow">See Pricing</a>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block modals %}

{% endblock %}
