{% extends '_layouts/base.html' %}
{% set id = 'products' %}
{% set mixpanelEnabled = true %}
{% set bodyController = "ProductsPageCtrl" %}
{% set title = "Ionic Framework - Ionic Pro" %}
{% set meta_image = '/img/meta/ionic-pro-og.png'%}
{% set meta_description = 'Ionic is the app platform for web developers. Build amazing mobile, web, and desktop apps all with one shared code base and open web standards.'%}

{% block header_style %}transparent{% endblock %}

{% block body_attributes %}
  data-spy="scroll"
  data-target="#platform-nav"
  data-offset="64"
{% endblock %}

{% block main %}

<div class="sub-header">
  <div class="container">
    <ul class="left breadcrumbs">
      <li>Pro</li>
    </ul>
    <ul class="right">
      <li><a href="/pro" class="active">Overview</a></li>
      <li><a href="/pro/pricing">Pricing</a></li>
      <li><a href="/docs/pro">Docs</a></li>
    </ul>
  </div>
</div>

<div class="cta gradient">
  <hgroup class="container">
    <h1>Your mobile development toolkit.</h1>
    <p>A powerful platform built for shipping incredible Ionic apps. Build better apps with Ionic Pro’s integrated suite of tools and services designed for the entire app lifecycle.</p>
    <div class="cta-buttons">
      <a class="btn"
      href="https://dashboard.ionicjs.com/signup?source=framework-{{id}}"
      alt="Sign up for Ionic Pro"
      id="btn-products-create-pro-account">Create a Pro account</a><br>
      {# <a class="sales" href="/demo" alt="Get a demo">Or contact sales</a> #}
    </div>
  </hgroup>
  <div class="bar" data-spy="affix" data-offset-top="490">
    <div class="container" id="platform-nav">
      <a class="pro-logo anchor" href="#">
        <img src="/img/pro/pro-logo.png"/>
      </a>
      <ul class="categories nav">
        <li><a class="anchor prototyping"
               href="#prototyping"
               data-offset="64"
               ng-class="{hover: prototypingHover}"
               ng-mouseenter="prototypingHover = true"
               ng-mouseleave="prototypingHover = false"
               id="btn-products-icons-creator"></a></li>
        <li><a class="anchor testing"
               href="#testing"
               data-offset="64"
               ng-class="{hover: testingHover}"
               ng-mouseenter="testingHover = true"
               ng-mouseleave="testingHover = false"
               id="btn-products-icons-view"></a></li>
        <li><a class="anchor updates"
               href="#updates"
               data-offset="64"
               ng-class="{hover: updatesHover}"
               ng-mouseenter="updatesHover = true"
               ng-mouseleave="updatesHover = false"
               id="btn-products-icons-deploy"></a></li>
        <li><a class="anchor build"
               href="#build"
               data-offset="64"
               ng-class="{hover: buildHover}"
               ng-mouseenter="buildHover = true"
               ng-mouseleave="buildHover = false"
               id="btn-products-icons-package"></a></li>
        <li><a class="anchor reporting"
               href="#reporting"
               data-offset="64"
               ng-class="{hover: reportingHover}"
               ng-mouseenter="reportingHover = true"
               ng-mouseleave="reportingHover = false"
               id="btn-products-icons-monitor"></a></li>
      </ul>
      <a href="/pro/pricing" class="btn">See Pricing</a>
    </div>
  </div>

  <div class="bar">
    <div class="container">
      <ul class="categories nav">
        <li>
          <a class="anchor prototyping"
             href="#prototyping"
             ng-class="{hover: prototypingHover}"
             ng-mouseenter="prototypingHover = true"
             ng-mouseleave="prototypingHover = false"
             id="btn-products-icons-creator-2">
            <strong>Creator</strong>
            <span class="lg">Rapid app prototyping</span>
          </a>
        </li>
        <li>
          <a class="anchor testing"
             href="#testing"
             ng-class="{hover: testingHover}"
             ng-mouseenter="testingHover = true"
             ng-mouseleave="testingHover = false"
             id="btn-products-icons-view-2">
            <strong>View App</strong>
            <span class="lg">Remote app testing</span>
          </a>
        </li>
        <li>
          <a class="anchor updates"
             href="#updates"
             ng-class="{hover: updatesHover}"
             ng-mouseenter="updatesHover = true"
             ng-mouseleave="updatesHover = false"
             id="btn-products-icons-deploy-2">
            <strong>Deploy</strong>
            <span class="lg">Live app updating</span>
          </a>
        </li>
        <li>
          <a class="anchor build"
             href="#build"
             ng-class="{hover: buildHover}"
             ng-mouseenter="buildHover = true"
             ng-mouseleave="buildHover = false"
             id="btn-products-icons-package-2">
            <strong>Package</strong>
            <span class="lg">Native cloud builds</span>
          </a>
        </li>
        <li>
          <a class="anchor reporting"
             href="#reporting"
             ng-class="{hover: reportingHover}"
             ng-mouseenter="reportingHover = true"
             ng-mouseleave="reportingHover = false"
             id="btn-products-icons-monitor-2">
            <strong>Monitor</strong>
            <span class="lg">Error / crash reporting</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<main>
  <section class="overview hero" id="overview">
    <div class="container">
      <hgroup class="text-center">
        <h3>Everything in one experience.</h3>
        <p>Spend more time on what matters. <strong>Ionic Pro</strong> takes care of the rest, with a suite of powerful mobile development tools and services for apps of all shapes and sizes.</p>
      </hgroup>
      <ul class="features">
        <li class="better">
          <h4>Better apps</h4>
          <p>Build apps your users will love, with simple app sharing, feedback and monitoring to craft the perfect app experience.</p>
        </li>
        <li class="faster">
          <h4>Faster development</h4>
          <p>Quickly prototype and test new concepts, and speed up development to bring more ideas to market in less time.</p>
        </li>
        <li class="happier">
          <h4>Happier devs &amp; teams</h4>
          <p>Keep it simple with developer-friendly tools, easy collaboration, and everything you need in one place.</p>
        </li>
      </ul>
    </div>
  </section>

  <section class="prototyping hero left activateOnScroll" id="prototyping">
    <div class="container">
      <div class="content">
        <h4>Ionic Creator</h4>
        <h2>Rapid app prototyping.</h2>
        <p>
          Visually build high-fidelity apps in minutes. Drag and drop core Ionic
          UI components, add themes, animations, design files, and even custom
          code to create real, interactive Ionic mobile apps.
        </p>
        <a class="btn white" target="_blank" href="/pro/creator"
          id="btn-products-learn-more-creator">Learn more about <strong>Creator
          </strong></a>
      </div>
    </div>
  </section>

  <section class="testing right hero activateOnScroll" id="testing">
    <div class="container">
      <div class="content">
        <h4>Ionic View app</h4>
        <h2>Remote sharing &amp; app testing.</h2>
        <p>
          Use the Ionic View app for live app testing and to get your app in the
          hands of clients, testers, or collaborators as quickly as you make
          changes.
        </p>
        <p>
          <a href="/pro/view" id="btn-products-learn-more-view"
            class="btn white">Learn more about the <strong>View app</strong></a>
          <a target="_blank" class="google-play" href=""></a>
          <a target="_blank" class="app-store" href=""></a>
        </p>
      </div>
    </div>
  </section>

  <section class="updates left hero activateOnScroll" id="updates">
    <div class="container">
      <div class="content dark">
        <h4>Ionic Deploy</h4>
        <h2>Realtime app updates.</h2>
        <p>
          Push hot code updates, content changes, A/B tests, and bug fixes in
          real time before and after your app is in the app stores, with Ionic
          Deploy.
        </p>
        <a href="/pro/deploy" id="btn-products-learn-more-deploy"
          class="btn white">Learn more about <strong>deploy</strong></a>
      </div>
    </div>
  </section>

  <section class="build right hero activateOnScroll" id="build">
    <div class="container">
      <div class="content dark">
        <h4>Ionic Package</h4>
        <h2>Native builds in the cloud.</h2>
        <p>
          Create native apps in the cloud with Ionic Package to get from code to
          app store with no platform dependencies or complicated build steps.
        </p>
        <a href="/pro/package" id="btn-products-learn-more-package"
          class="btn white">Learn more about <strong>package</strong></a>
      </div>
    </div>
  </section>

  <section class="reporting left hero activateOnScroll" id="reporting">
    <div class="container">
      <div class="content dark">
        <h4>Ionic Monitor</h4>
        <h2>Real-time error reporting.</h2>
        <p>
          Track issues in development and catch bugs before they ship. Quickly
          pinpoint and resolve runtime errors by drilling into your core
          codebase, down to the TypesSript level.
        </p>
        <a href="/pro/monitor" id="btn-products-learn-more-monitor"
          class="btn white">Learn more about <strong>monitor</strong></a>
      </div>
    </div>
  </section>

  <section class="bar get-started">
    <div class="container">
      <hgroup>
        <h2>Get started with Ionic Pro today.</h2>
        <p class="lg">
          Create a free account, or check out our plans and pricing.
        </p>
      </hgroup>
      <div class="btn-group">
        <a href="https://dashboard.ionicjs.com/signup?source=framework-{{id}}"
          class="btn white" id="btn-products-create-account">Create an account
          </a>
        <a class="btn btn-default" id="btn-products-see-pricing"
          href="/pro/pricing">See pricing</a>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block scripts %}

{% endblock %}
