{% extends '_layouts/base.html' %}
{% set id = 'products-monitor' %}
{% set title = 'App Monitoring with the Ionic Pro Monitor' %}
{% set header_style = 'transparent products-page' %}
{% set meta_description = "Have better visibility into your hybrid app and native development. Ionic monitor identifies and tracks errors at the web layer, with detailed source maps all the way down to the typescript level." %}

{% block body_attributes %}

{% endblock %}

{% block main %}

<div class="sub-header">
  <div class="container">
    <ul class="left breadcrumbs">
      <li><a href="/pro">Pro</a></li>
      <li>Monitor</li>
    </ul>
    <ul class="right">
      <li><a href="/pro/monitoring" class="active">Features</a></li>
      <li><a href="/docs/pro/monitoring/">Docs</a></li>
      <li><a href="/pro/pricing">Pricing</a></li>
    </ul>
  </div>
</div>

<div class="top">
  <hgroup class="container">
    <h1>The best way to monitor your apps.</h1>
    <p>
      <strong>Ionic Monitor</strong> is the only solution that identifies and
      tracks errors at the web layer, with detailed sourcemaps all the way
      down to the TypeScript level.
    </p>

    <div class="btns">
      <a href="https://dashboard.ionicframework.com/signup?source=framework-{{id}}"
         class="btn green"
         id="btn-products-monitor-activate"
         target="_blank">Activate Monitor</a>
      <a href="/sales" class="btn dark" id="btn-products-monitor-get-in-touch">
        Get in touch</a>
    </div>
  </hgroup>

  <div id="heart-monitor-stage">
    <div id="grid"></div>
    {# <div id="edges"></div>
    <div id="spotlight"></div> #}

    <svg id="heartline" xmlns="http://www.w3.org/2000/svg" viewBox="0 -2 470 150">
    <defs>

      <filter id="myblurfilter" width="100%" height="100%">
      	<feGaussianBlur stdDeviation="4" result="blur" />
      </filter>

      <linearGradient id="gradient" gradientUnits="userSpaceOnUse" gradientTransform="translate(470)" x2="470" y2="0">
        <stop offset="0%" stop-color="#FFFFFF" stop-opacity="0"/>
        <stop offset="50%" stop-color="#FFFFFF" stop-opacity="0"/>
        <stop offset="99%" stop-color="#FFFFFF" stop-opacity="1"/>
        <stop offset="100%" stop-color="#FFFFFF" stop-opacity="0"/>
      </linearGradient>
      <mask id="mask" maskUnits="userSpaceOnUse">
          <rect width="800" height="300" fill="url(#gradient)"/>
      </mask>

        <linearGradient id="gradient-2"
                        gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(470)"
                        x2="470"
                        y2="0">
        <stop offset="0%" stop-color="#FFFFFF" stop-opacity="0"/>
        <stop offset="5%" stop-color="#FFFFFF" stop-opacity="0.25"/>
        <stop offset="50%" stop-color="#FFFFFF" stop-opacity="1"/>
        <stop offset="99%" stop-color="#FFFFFF" stop-opacity="1"/>
        <stop offset="100%" stop-color="#FFFFFF" stop-opacity="0"/>
      </linearGradient>
      <mask id="mask-3" maskUnits="userSpaceOnUse">
          <rect width="800" height="300" fill="url(#gradient-2)"/>
      </mask>

      <linearGradient id="dot"
                      gradientUnits="userSpaceOnUse"
                      gradientTransform="translate(470)"
                      x2="470"
                      y2="0">
        <stop offset="0%" stop-color="#FFFFFF" stop-opacity="0"/>
        <stop offset="96%" stop-color="#FFFFFF" stop-opacity="0"/>
        <stop offset="99%" stop-color="#FFFFFF" stop-opacity="1"/>
        <stop offset="100%" stop-color="#FFFFFF" stop-opacity="0"/>
      </linearGradient>

      <mask id="mask-2" maskUnits="userSpaceOnUse">
          <rect width="800" height="300" fill="url(#dot)"/>
      </mask>
    </defs>

    <path class="path-3"
          d="M470.5,106s-23-1-30-1-9-21-18-20-28,20-31,20h-32l-9,33-8-138-8,106h-20s-5-10-9-10-10,10-11,10H235s-23-1-30-1-9-21-18-20-28,20-31,20H124l-9,33L107,0,99,106H79s-5-10-9-10-10,10-11,10H0"
          mask="url(#mask-3)"
          filter="url(#myblurfilter)"
          />
    <path class="path"
          stroke-width="2"
          d="M470.5,106s-23-1-30-1-9-21-18-20-28,20-31,20h-32l-9,33-8-138-8,106h-20s-5-10-9-10-10,10-11,10H235s-23-1-30-1-9-21-18-20-28,20-31,20H124l-9,33L107,0,99,106H79s-5-10-9-10-10,10-11,10H0"
          mask="url(#mask)"
          />
    <path class="path-2"
          stroke-width="4"
          d="M470.5,106s-23-1-30-1-9-21-18-20-28,20-31,20h-32l-9,33-8-138-8,106h-20s-5-10-9-10-10,10-11,10H235s-23-1-30-1-9-21-18-20-28,20-31,20H124l-9,33L107,0,99,106H79s-5-10-9-10-10,10-11,10H0"
          mask="url(#mask-2)"/>
    </svg>
  </div>
</div>

<main>
  <section class="pinpoint center">
    <div class="container">
      <hgroup>
        <h3>STOP GUESSING.</h3>
        <h2>Pinpoint the exact location of errors and exceptions.</h2>
        <p>
          <strong>Monitor</strong> is deeply integrated with <strong>Ionic
          Framework</strong>, and the only service with access to pre-minified
          code.<br>By supporting full TypeScript sourcemaps, you’ll be notified
          of the error and it’s exact location before anyone else.
        </p>
      </hgroup>
      <ul class="items">
        <li class="realtime">
          <strong>Realtime alerts &amp; notifications</strong>
          <p>
            Be the first to know whenever and wherever your app crashes, or when
            unexpected errors occur.
          </p>
        </li>
        <li class="built">
          <strong>Built for Ionic apps</strong>
          <p>
            Track runtime errors in your Ionic apps with full web layer
            visibility and JavaScript stack traces. No setup. It will Just Work.
          </p>
        </li>
        <li class="typescript">
          <strong>TypeScript sourcemaps</strong>
          <p>
            Know exactly where to push fixes by identifying offending code in
            your app’s original TypeScript.
          </p>
        </li>
      </ul>
      <div class="get-started">
        <hgroup>
          <h2>Ready to monitor your apps now?</h2>
          <p>
            Activate monitor in your apps for free with an <strong>Ionic Pro
            </strong> account.
          </p>
        </hgroup>
        <div class="btns">
          <a href="https://dashboard.ionicframework.com/signup?source=framework-{{id}}"
             id="btn-products-monitor-activate-mid" class="btn btn-green">
            Activate Monitor</a>
        </div>
      </div>
    </div>
  </section>

  <section class="confidence left">
    <div class="container">
      <hgroup>
        <h2>Ship with confidence</h2>
        <p>
          Catch issues before they ship. Proactive error catching and detailed
          reporting help you pinpoint issues as they’re introduced, so you can
          push new versions and updates without the fear of breaking anything.
        </p>
      </hgroup>
      <div class="graphics activateOnScroll"></div>
    </div>
  </section>

  <section class="ahead right">
    <div class="container">
      <hgroup>
        <h2>Stay ahead of your users.</h2>
        <p>
          Without detailed error tracking and monitoring, you’re blind to the
          real user experience. Ionic Monitor’s alerts and notifications inform
          you as soon as issues are discovered in your production apps, so you
          can address them before they become a problem.
        </p>
      </hgroup>
      <div class="graphics activateOnScroll"></div>
    </div>
  </section>

  <section class="both">
    <div class="container">
      <hgroup>
        <h2>Insight only Ionic can deliver.</h2>
        <p>
          Most error tracking and monitoring tools are designed for native-built
          apps. <strong>Ionic Monitor</strong> is built for hybrid, with full
          visibility to the web layer of your Ionic apps, and the unique ability
          to trace errors back to your pre-minified TypeScript.
        </p>
      </hgroup>
      <hgroup>
        <h2>Fix critical bugs. In realtime.</h2>
        <p>
          Combining <strong>Ionic Monitor</strong> and <strong>Ionic Deploy
          </strong> enables you and your team to identify issues in production
          apps and immediately ship bug fixes. With <strong>Deploy</strong>, you
          never have to wait for user updates or lengthy App Store approvals.
          Just fix it, and update it live.
        </p>
      </hgroup>
    </div>
  </section>

  <section class="bar get-started">
    <div class="container">
      <hgroup>
        <h2>
          Deliver the best version of your app, with <strong>Monitor.</strong>
        </h2>
        <p class="lg">
          Create a free <strong>Ionic Pro</strong> account, or check out our
          pricing.
        </p>
      </hgroup>
      <div class="btns">
        <a href="https://dashboard.ionicframework.com/signup?source=framework-{{id}}"
           class="btn green" id="btn-products-monitor-create-account">
          Create an account</a>
        <a class="btn white" id="btn-products-monitor-see-pricing"
          href="/pro/pricing">See Pricing</a>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block modals %}

{% endblock %}

{% block scripts %}
<script>
// enable sticky nav
stickyNav.init();

var gradient = document.getElementById('gradient');
var gradient2 = document.getElementById('gradient-2');
var dot = document.getElementById('dot');
var spotlight = document.getElementById('grid');
var svgWidth = document.getElementById('heartline').getBoundingClientRect().width;
var speed = 3;
var position = -470;

// Animation loop
rafLoop(function( deltaT ) {
  var newPos = position > 470 ? position - (470*2) : position;
  newPos = parseInt((newPos + speed), 10);
  // console.log(deltaT)

  // DOM writes at the end
  gradient.setAttribute('gradientTransform','translate('+newPos+')')
  gradient2.setAttribute('gradientTransform','translate('+newPos+')')
  dot.setAttribute('gradientTransform','translate('+newPos+')')
  spotlight.style['-webkit-mask-position'] =
    parseInt((((newPos+470)/940) * svgWidth) - (svgWidth/2),10)+'px, 50%';
  // console.log(newPos, svgWidth)

  position = newPos;
});

function rafLoop( render, element ) {
  var running, lastFrame = +new Date;
  function loop( now ) {
    requestAnimationFrame( loop, element );
    running = render( now - lastFrame );
    lastFrame = now;
  }
  loop( lastFrame );
}
</script>
{% endblock %}
