{% extends '_layouts/base.html' %}
{% set id = 'products-for-teams' %}
{% set title = "Ionic Framework - Ionic Pro for Teams" %}
{% set meta_image = 'https://ionicframework.com/img/meta/ionic-pro-og.png'%}
{% set meta_description = 'Ionic Pro is a mobile DevOps platform that increases speed to market and removes the headache of collaborating on cross platform app development for teams.'%}

{% block header_style %}transparent{% endblock %}

{% block main %}

<div class="sub-header">
  <div class="container">
    <ul class="left breadcrumbs">
      <li>Pro</li>
    </ul>
    <ul class="right">
      <li><a href="/pro">Overview</a></li>
      <li><a href="/pro/teams" class="active">For teams</a></li>
      <li><a href="/pro/pricing">Pricing</a></li>
      <li><a href="/docs/pro">Docs</a></li>
    </ul>
  </div>
</div>

<div class="cta gradient">
  <hgroup class="container">
    <h1>Better apps, powered by teams</h1>
    <p>Whether you work for a small business or a large company, <strong>Ionic Pro</strong> helps you tap the power of your team to deliver incredible app experiences, faster than ever before.</p>
    <div class="cta-buttons">
      <a class="btn" href="https://dashboard.ionicframework.com/signup?source=framework-{{id}}&plan=team" title="Sign up your team">Sign up your team</a>
      <a class="btn secondary" href="/sales" title="Get in touch">Get in touch</a>
    </div>
  </hgroup>
  <div class="logo-field">
    <img src="/img/pro/teams-logos.png" alt="Teams at Comcast, IBM, and Shipt are using Ionic Pro">
  </div>
</div>

<main>
  <section class="hero ship">
    <div class="container">
      <div class="hero__content">
        <div class="hero__icon hero__icon--first"></div>
        <h2><strong>Get there faster.</strong> Build, test, and release apps at the speed of development.</h2>
        <p>Always be shipping with continuous integration that automatically builds and prepares a new version of your app each time a team member pushes code to Pro. Live Updates allow you to skip the app stores and send new features directly to users, as soon as they’re ready.</p>
      </div>
    </div>
  </section>

  <section class="hero listen flipped">
    <div class="container">
      <div class="hero__content">
        <div class="hero__icon hero__icon--second"></div>
        <h2><strong>Delight your users.</strong> Continuous feedback for the best app experience.</h2>
        <p>Increase customer engagement by delivering the right features, at the right time, with fewer bugs. Easy app sharing and testing provides realtime feedback. Continuous error monitoring helps you improve app quality by catching bugs and UX issues before your users do.</p>
      </div>
    </div>
  </section>

  <section class="hero collaborate">
    <div class="container">
      <div class="hero__content">
        <div class="hero__icon hero__icon--third"></div>
        <h2><strong>Work better, together.</strong> Secure collaboration for all.</h2>
        <p>From our team to yours. We built Pro to make it easier for startups and enterprises to build amazing products by tapping into the power of teams. Multiple developers can work at the same time, with app-level permissions to safeguard access and live activity feeds for teamwide visibility.</p>
      </div>
    </div>
  </section>

  <section class="hero features">
    <div class="container">
      <div class="hero__content">
        <h2><strong>Build, test, deploy, and monitor.</strong> All in one place.</h2>
        <p>Pro simplifies each phase of the dev lifecycle - from design and testing, to tracking errors, packaging native binaries, and shipping hot code updates remotely.</p>
      </div>
      <ul class="features__list">
        <li>
          <div class="hero__icon sharing"></div>
          <h3>App sharing and testing</h3>
          <p>Easy app sharing with testers and collaborators. Send an invite to check out your app, and see all feedback in one place.</p>
        </li>
        <li>
          <div class="hero__icon ci"></div>
          <h3>Continuous Integration</h3>
          <p>Test, share, and ship code as soon as it’s ready. Ensures a clean, consistent build environment every time, with no local dependencies.</p>
        </li>
        <li>
          <div class="hero__icon feed"></div>
          <h3>Team activity feed</h3>
          <p>Keep team members informed of version changes and deployments. Version history, builds, and live deploys are tracked in the Pro dashboard for teamwide project visibility.</p>
        </li>
        <li>
          <div class="hero__icon collab"></div>
          <h3>Secure team collaboration</h3>
          <p>Accelerate time to market by tapping into the power of teams. Invite unlimited team members to join a project. Safeguard access with app-level permissions.</p>
        </li>
        <li>
          <div class="hero__icon binaries"></div>
          <h3>App binaries from the cloud</h3>
          <p>When you’re ready to distribute your app, Pro will package your app and create native APK and IPA binaries based on the version you select.</p>
        </li>
        <li>
          <div class="hero__icon channels"></div>
          <h3>Deployment channels</h3>
          <p>Gives you granular control over app updates and releases. Target specific segments of your users or run split tests to see how users respond to different versions.</p>
        </li>
        <li>
          <div class="hero__icon cd"></div>
          <h3>Continuous delivery</h3>
          <p>Skip the app stores by pushing versions of your app directly to users, in realtime. Continuously deliver new and better experiences without waiting for approval.</p>
        </li>
        <li>
          <div class="hero__icon monitoring"></div>
          <h3>Error monitoring and tracking</h3>
          <p>Helps you find and fix errors in your source code detected at runtime. You’ll be notified immediately as opposed to waiting for user reports when things go wrong.</p>
        </li>
        <li>
          <div class="hero__icon rapid"></div>
          <h3>Rapid design and development</h3>
          <p>Visual app builder accelerates development and makes it easy to collaborate on designs and prototypes with key clients and stakeholders.</p>
        </li>
      </ul>
    </div>
  </section>

  <section class="quotes">
    <div class="quotes__napa">
      <div class="quotes__content">
        <div class="quotes__logo" title="The Napa Group"></div>
        <a href="/files/NapaGroup_CS_05.pdf" class="case-study-pill">Check out the <strong>Case Study</strong></a>
        <blockquote>
          <p>&ldquo;Ionic Pro has been a big advantage for us. Our clients have very demanding workloads with tight timelines to make app updates. Live Updating allows us to test changes and push them directly to users, without waiting for the app stores. That’s huge for us.&rdquo;</p>
          <small><strong>Mike Sigle</strong> VP of Product Development</small>
        </blockquote>
      </div>
    </div>
    <div class="quotes__hmb">
      <div class="quotes__content">
        <div class="quotes__logo" title="HMB"></div>
        <blockquote>
          <p>&ldquo;Ionic Pro makes it easy for our team to collaborate. With it’s ability to package cloud app builds and then prepare them for release, everyone is able to work together. If a client needs a new build, anyone on the team can go to the dashboard to create one easily.&rdquo;</p>
          <small><strong>Brett Whittington</strong> Senior Consultant</small>
        </blockquote>
      </div>
    </div>
  </section>

  <section class="bar get-started">
    <div class="container">
      <hgroup>
        <h2>Get your team started with Ionic Pro today.</h2>
        <p class="lg">Start building better apps faster with Ionic Pro.</p>
      </hgroup>
      <div>
        <a href="https://dashboard.ionicframework.com/signup?source=framework-{{id}}" class="btn sm" id="btn-products-create-account">Create a Pro account</a>
        <a class="btn sm secondary" id="btn-products-see-pricing" href="/pro/pricing">See pricing</a>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block scripts %}

{% endblock %}
