ui-floating-input {
  display: block;

  .ui-floating-input {
    position: relative;
    border: 1px solid var(--c-indigo-400);
    background: var(--c-grey-100);
    border-radius: 8px;

    &.focused {
      border-color: var(--c-blue-800);

      label {
        color: var(--c-blue-800) !important;
      }

      input {
        caret-color: var(--c-blue-800);
      }
    }

    &.focused, &.has-value {
      label {
        font-size: 12px;
        // line-height: 15px;
        line-height: 1.15rem;
        transform: translateY(-106%) scale(0.75);
        cursor: auto;
      }
    }
  }

  label {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left top;
    will-change: transform;
    pointer-events: none;

    color: var(--c-carbon-100) !important;
    display: block;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: .009375em;

    overflow: hidden;
    white-space: nowrap;

    text-align: left;
    cursor: text;

    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  input {
    background: none;
    border: none;
    padding: 20px 16px 6px;

    color: var(--c-carbon-800);

    width: 100%;

    &:focus {
      outline: none;
    }

    &:required {
      box-shadow: none;
    }

    &:valid {
    }
  }
}