:host {
  --category-selected-color: var(--c-blue-400);
  --padding-left-right: 12px;
  --search-border-color: #222;

  display: none;
  position: fixed;
  width: 320px;
  height: 420px;
  z-index: 1000;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  background-color: white;
}

:host(.open) {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.categories {
  display: flex;
  justify-content: space-between;
  padding: 12px var(--padding-left-right) 0;
}

.category {
  cursor: pointer;
  border-bottom: 2px solid transparent;
  svg {
    transition: fill 200ms ease-in-out;
  }
}

.category.category-selected {
  border-bottom: 2px solid var(--category-selected-color);

  svg {
    fill: var(--category-selected-color);
  }
}

.search {
  display: flex;
  padding: 4px var(--padding-left-right);
  input {
    flex: 1;
    border-radius: 4px;
    border: 1px solid var(--search-border-color);
    height: 24px;
  }
}

.emojis {
  flex: 1;
  overflow-y: auto;
}