<div class="container promo-card promo-card--auth-connect">
  <img class="card-banner" src="/img/promos/card-auth-connect.svg" alt="Auth Connect banner">
  <hgroup>
    <h4>{% include '_includes/svg/ico-auth-connect.svg' %} Auth Connect</h4>
    <h3>Single sign-on, made easy.</h3>
    <p>A secure authentication solution for any Ionic app, using a single API and the latest native security paradigms.</p>
    <a href="/enterprise/auth-connect" 
       class="btn test-2019-09-home"
       onclick="c('test', 'home-cards', this, 'auth-connect')">Learn More</a>
  </hgroup>
</div>