<div class="container promo-card promo-card--identity-vault">
  <img class="card-banner" src="/img/promos/card-identity-vault.png" alt="Identity Vault banner">
  <hgroup>
    <h4>{% include '_includes/svg/ico-identity-vault.svg' %} Identity Vault</h4>
    <h3>Secure Biometric Authentication.</h3>
    <p>A solution that protects your users’ data with the most secure biometric authentication available.</p>
    <a href="/identity-vault" class="btn test-2019-09-home">Learn More</a>
  </hgroup>
</div>