<div class="container promo-card promo-card--offline-storage">
  <img class="card-banner" src="/img/promos/card-offline-storage.svg" alt="Offline Storage banner">
  <hgroup>
    <h4>{% include '_includes/svg/ico-offline-storage.svg' %} Offline Storage</h4>
    <h3>Build secure, offline-first apps.</h3>
    <p>Deliver mobile, desktop, and PWA experiences that work anywhere, anytime — even when they’re offline.</p>
    <a class="btn test-2019-09-home"
       data-toggle="modal"
       data-target="#promo--offline-storage__modal">Get the Datasheet to Learn More</a>
  </hgroup>
</div>


<div class="modal collapse fade"
     id="promo--offline-storage__modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="promo--ionic-for-enterprise">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body hubspot-override hubspot-override--large">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <hgroup class="hero text-center">
          <h2>Before we send it&hellip;</h2>
          <p class="lg">
            We just need some basic information so we can send the Datasheet your way.
          </p>
        </hgroup>

        <!--[if lte IE 8]>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
            portalId: "3776657",
            formId: "9c5667df-8b85-4233-94c0-f9ea77ed96d2"
          });
        </script>

      </div>
    </div>
  </div>
</div>