<div class="container promo-card promo-card--offline-storage">
  <img class="card-banner" src="/img/promos/card-offline-storage.svg" alt="Offline Storage banner">
  <hgroup>
    <h4>{% include '_includes/svg/ico-offline-storage.svg' %} Offline Storage</h4>
    <h3>Build secure, offline-first apps.</h3>
    <p>Deliver mobile, desktop, and PWA experiences that work anywhere, anytime — even when they’re offline.</p>
    <a href="/offline-storage" 
       class="btn test-2019-09-home"
       onclick="c('test', 'home-cards', this, 'offline-storage')">Learn More</a>
  </hgroup>
</div>