<section id="promo--offline-storage" class="promo promo--ebook">
  <img class="promo__illustration" 
         src="img/promos/auth-connect.png"
         alt="Offline Storage Data Sheet"/>

  <div class="container">
    <hgroup>
      <h3>
        Offline Storage Data Sheet
      </h3>
      <p>
        Get all the details on Offline Storage and how to better deliver mobile experience that work anywhere, anytime.
      </p>
      <a id="btn-promo-evaluating-ionic-for-enterprise"
         class="btn white sm"
         data-toggle="modal"
         data-target="#promo--ionic-for-enterprise__modal">
        Read Data Sheet<ion-icon name="ios-arrow-forward"></ion-icon>
      </a>
    </hgroup>
  </div>
</section>

<div class="modal collapse fade"
     id="promo--ionic-for-enterprise__modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="promo--ionic-for-enterprise">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body hubspot-override hubspot-override--large">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <hgroup class="hero text-center">
          <h2>Before we send it&hellip;</h2>
          <p class="lg">
            We just need some basic information so we can send the Data Sheet your way.
          </p>
        </hgroup>

        <!--[if lte IE 8]>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
            portalId: "3776657",
            formId: "45633037-a228-409b-9911-85958bffe8a0"
          });
        </script>

      </div>
    </div>
  </div>
</div>