<section id="promo--how-to" class="container center">
  <div class="content">
    <h2>How to get started</h2>
    <div class="cards cards--red-v-blue">
      <div class="cards--red-v-blue__card">
        <h3>Start building today</h3>
        <p>
          Ready to start building apps with Ionic? Get started for free today.
        </p>
        <a href="https://dashboard.ionicframework.com/signup?source=framework-{{id}}" class="btn">
          Get started <ion-icon name="arrow-forward"></ion-icon>
        </a>
      </div>
      <div class="cards--red-v-blue__card">
        <h3>Schedule a strategy session</h3>
        <p>
          Interested in chatting with one of our Solutions Engineers? Schedule
          a free session.
        </p>
        <a href="/strategysession" class="btn">
          Book a time <ion-icon name="arrow-forward"></ion-icon>
        </a>
      </div>
    </div>
  </div>
</section>