<div id="promo--hybrid-vs-native" class="container">
  <div class="wrapper">
    <div class="image-wrapper">
      <img
        loading="lazy"
        width="918"
        height="1032"
        src="/img/promos/hybrid-vs-native@2x.png"
        alt="Guide on cross-platform hybrid development for architects and app development leaders"
      />
    </div>
    <div class="heading-group">
      <h2>
        Learn the differences between hybrid and native apps.
        <span>We break down all the myths and misconceptions.</span>
      </h2>
      <a
      data-toggle="modal" data-target="#hubspotForm"
        onclick="(e) => {
          e.preventDefault();
          c('test', 'home-cards', this, 'hybrid-v-native');
         }"
        >Read the free eBook <span class="arrow">-></span></a
      >
    </div>
  </div>
</div>
