<div id="promo--hybrid-vs-native" class="promo promo--ebook container">
  <div class="expander">
    <div class="promo__illustration__container">
      <img class="promo__illustration" 
           src="img/promos/hybrid-vs-native.png?1"
           alt="Guide on cross-platform hybrid development for architects and app development leaders"/>
    </div>
    <div class="container">
      <hgroup>
        <h3>
          Learn the differences between hybrid and native apps. 
          <span>We break down all the myths and misconceptions.</span>
        </h3>
        <a id="btn-promo-hybrid-vs-native" 
           class="test-2019-09-home" 
           href="/books/hybrid-vs-native"
           onclick="c('test', 'home-cards', this, 'hybrid-v-native')">Read our Book</a>
      </hgroup>
    </div>
  </div>
</div>
