<div id="promo--hybrid-vs-native" class="promo promo--ebook">
  <img class="promo__illustration" 
       src="img/promos/hybrid-vs-native.png"
       alt="Guide on cross-platform hybrid development for architects and app development leaders"/>
  <div class="container">
    <hgroup>
      <h3>
        Learn the difference between hybrid and native. 
        <span>We break down all the myths and misconceptions.</span>
      </h3>
      <a id="btn-promo-hybrid-vs-native" 
         class="btn light-purple sm uppercase test-2019-09-home" 
         href="/books/hybrid-vs-native"
         onclick="c('test', 'home-cards', this, 'hybrid-v-native')">Read our Free eBook</a>
    </hgroup>
  </div>
</div>
