<section class="promo promo--ebook promo--dark">
  <img class="promo__illustration" 
       src="img/promos/promo-pwa-architect.png"
       alt="Guide for architects building progressive web apps"/>
  <div class="container">
    <hgroup>
      <h2>Get our free guide</h2>
      <p>Learn how PWAs can boost your app strategy by harnessing the web. Our PWA guide covers it all.</p>
      <a id="btn-promo-pwa-architect-guide" class="btn blue sm" href="/articles/pwa-architects-guide">Get the guide</a>
    </hgroup>
  </div>
</section>
