<section class="promo promo-reversed promo-inline">
  <div class="container">
    <hgroup>
      <h2>Start building PWAs today</h2>
      <p>Learn what some of top frameworks out there offer for Progressive Web Apps and how to enable them in your app</p>
      <a class="btn blue sm" href="/docs/publishing/progressive-web-app">Start building now</a>
    </hgroup>
    <img class="promo__image"
         src="/img/pwa/angular.svg"
         height="156"
         alt="Angular Apps with Ionic"/>
    <img class="promo__image"
         src="/img/pwa/react.svg"
         height="156"
         alt="Angular Apps with Ionic"/>
  </div>
  </section>
