<section class="promo promo-reversed promo-inline">
  <div class="container">
    <hgroup>
      <h2>Convert an existing App</h2>
      <p>
        Want to make your existing app a PWA? Start by following our guides for Angular and React.
      </p>
      <a class="btn blue sm" href="/docs/publishing/progressive-web-app"
        >Make your app a PWA</a
      >
    </hgroup>
    <img
      class="promo__image"
      src="/img/pwa/angular.svg"
      alt="Angular Apps with Ionic"
    />
    <img
      class="promo__image"
      src="/img/pwa/react.svg"
      alt="React Apps with Ionic"
    />
  </div>
</section>
