<section class="promo promo-reversed promo-inline">
  <div class="container">
    <hgroup>
      <h2>Start building PWAs with a single command</h2>
      <p>Everything you need to build beautiful, fast, production-ready Progressive Web Apps.</p>
      <a class="btn blue sm" href="/pwa/toolkit">Start building now</a>
    </hgroup>
    <img class="promo__image"
         src="/img/pwa-toolkit/ionic-pwa-toolkit-logo.png"
         height="156"
         width="384"
         alt="Toolkit for developers building progressive web apps"/>
  </div>
  </section>