<section id="promo--quad-cta" class="promo promo--tri-cta">
  <ul class="container">
    <li>
      <a href="/enterprise">
        <div class="promo--quad-cta__graphic promo--quad-cta__graphic--enterprise"></div>
        <h4>Enterprise</h4>
        <p>For mission-critical apps</p>
      </a>
    </li>
    <li>
      <a href="/docs">
        <div class="promo--quad-cta__graphic promo--quad-cta__graphic--docs"></div>
        <h4>Documentation</h4>
        <p>Start creating Ionic apps</p>
      </a>
    </li>
    <li>
      <a href="https://github.com/ionic-team/ionic">
        <div class="promo--quad-cta__graphic promo--quad-cta__graphic--github"></div>
        <h4>GitHub</h4>
        <p>Contribute to the project</p>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/Ionicframework">
        <div class="promo--quad-cta__graphic promo--quad-cta__graphic--twitter"></div>
        <h4>Twitter</h4>
        <p>Latest news and updates</p>
      </a>
    </li>
  </ul>
</section>
