<section id="promo--quad-cta" class="promo promo--tri-cta">
  <ul class="container">
    <li>
      <a href="/enterprise" class="promo--quad-cta__item promo--quad-cta__item--enterprise">
        <h4>Enterprise</h4>
        <p>For mission-critical apps</p>
      </a>
    </li>
    <li>
      <a href="/docs" class="promo--quad-cta__item promo--quad-cta__item--docs">
        <h4>Documentation</h4>
        <p>Start creating Ionic apps</p>
      </a>
    </li>
    <li>
      <a href="https://github.com/ionic-team/ionic" class="promo--quad-cta__item promo--quad-cta__item--github">
        <h4>GitHub</h4>
        <p>Contribute to the project</p>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/Ionicframework" class="promo--quad-cta__item promo--quad-cta__item--twitter">
        <h4>Twitter</h4>
        <p>Latest news and updates</p>
      </a>
    </li>
  </ul>
</section>
