<div class="promo promo--ebook container">
  <div class="expander">
    <div class="promo__illustration__container">
      <img class="promo__illustration"
           src="/img/promos/rethinking-low-code.png?1"
           alt="How low-code's dramatic rise is driving a need for a more developer firendly approach."/>
    </div>
    <div class="container">
      <hgroup>
        <h3>
          Rethinking Low-Code
          <span>Understand the challenges of low-code and our unique dev-friendly approach.</span>
        </h3>
        <a href="/books/rethinking-low-code">Read our Whitepaper</a>
      </hgroup>
    </div>
  </div>
</div>
