<div id="promo--state-of-app-dev-2020" class="promo promo--ebook">
  <img class="promo__illustration" 
       src="/img/promos/enterprise-evaluation-banner.png"
       alt="The state of mobile app development in 2020."/>
  <div class="container">
    <hgroup>
      <h3>
        The state of mobile app development in 2020.
      </h3>
      <p>
        We surveyed over 1,700 developers, architects, and IT leaders to see what's working and what's not.
      </p>
      <a id="btn-promo-state-of-app-dev-2020"
         class="btn white sm"
         href="https://go.ionicframework.com/state-of-app-dev-2020"
         onclick="c('test', 'survey CTA', this, 'State of App Dev 2020')">Get the Report</a>
    </hgroup>
  </div>
</div>
