<section class="promo promo--tri-cta">
  <ul class="container">
    <li>
      <h4>Get a 1-1 Free Consultation</h4>
      <p>Request a personalized walkthrough of the Ionic platform</p>
      <a href="/demo"
         class="btn sm white">Contact us</a>
    </li>
    <li>
      <h4>Try Ionic Appflow</h4>
      <p>Continuous mobile devops. No credit card required.</p>
      <a href="https://dashboard.ionicframework.com/signup?source=framework-{{id}}&product=appflow"
         class="btn sm white">Get Started</a>
    </li>
    <li>
      {% if id == 'pricing' %}
        <h4>Get Support</h4>
        <p>Check out our help center for answers to common questions</p>
        <a href="https://ionic.zendesk.com/hc/en-us"
           target="_blank"
           class="btn sm">View Topics</a>
      {% else %}
        <h4>Explore Ionic Pricing Plans</h4>
        <p>Explore our pricing options to find a plan that best suits your needs</p>
        <a href="/pricing{% if id == 'products-studio' %}#studio{% elif id == 'products-enterprise-engine' %}#enterprise-edition{% elif id == 'products-advisory' %}#enterprise-edition{% endif %}"
           class="btn sm">See Pricing</a>
      {% endif %}
    </li>
  </ul>
</section>
