{% extends '_layouts/blank.html' %}
{% set id = 'go-why-hybrid' %}
{% set title = 'Why Hybrid - Ionic Framework' %}
{% set meta_image = 'https://ionicframework.com/img/meta/ionic-framework-og.png'%}
{% set meta_description = "Progressive Web Apps take advantage of major advances in modern web browsers, web APIs, and front-end frameworks to deliver great app experiences to mobile and desktop users. This brief guide provides enterprise architects and app dev leaders with essential insights and how to build a production-ready PWA today." %}

{% set header_style = 'transparent light' %}

{% block header_includes %}
<meta name="robots" content="noindex" />
{% endblock %}

{% block main %}
<div class="banner">
  <hgroup class="container">
    <a href="/" title="home">
      {% include '../../_includes/logo_svg.html' %}
    </a>
    <h1>Why Hybrid</h1>
    <p>
      Real-world answers to frequently asked questions about hybrid mobile app development.
    </p>
    <p>
      Are you trying to decide the best approach to developing a mobile app for your organization? With multiple stakeholders, hundreds of questions, and so much at stake, it can be difficult to know where to begin.
    </p>
  </hgroup>
</div>

<main class="container">
  <section class="content">
    <p class="lg">
      Working with hybrid technology saved us around 60% in development time and 80% in maintenance efforts compared to native development.
    </p>
    <p>
      Based on real-world answers from customers who have implemented a hybrid approach, this guide will help to answer four important questions that are probably near the top of your list.
    </p>
    <p>To help you move forward with confidence, this guide answers:</p>
    <ul>
      <li><span><strong>User experience: </strong> The user experience has to be great. How can a hybrid approach help me deliver a high-quality experience across my target platforms?</li></span>
      <li><span><strong>Cost to build and maintain:</strong> Cost is a significant concern. Can a hybrid approach help me reduce cost, without sacrificing quality?</li></span>
      <li><span><strong>Time to market:</strong> Timely development and release is critical. How will it help me to build and update apps for my target platforms?</li></span>
      <li><span><strong>Fit for development organization:</strong> I’m all for using new tools, but how do I know they’ll be a fit for my organization? Will my team be able to adopt it? What skills are required?</li></span>
    </ul>
  </section>
  <aside class="signup-form hubspot-override">
    <h3>Download now</h3>
    <!--[if lte IE 8]>
    <script charset="utf-8"
            type="text/javascript"
            src="//js.hsforms.net/forms/v2-legacy.js"></script>
    <![endif]-->
    <script charset="utf-8"
            type="text/javascript"
            src="//js.hsforms.net/forms/v2.js"></script>
    <script>
      hbspt.forms.create({
      	portalId: "3776657",
      	formId: "e5221ced-1377-48e7-bdaf-d1bad227c71b",
      	css: ""
      });
    </script>
  </aside>

  <div class="company">
    <h2>
      <strong>You’re in good company.</strong> Ionic powers millions of apps at
      some of the smartest companies around the world.
    </h2>
    <div class="logos"></div>
  </div>
</main>
<section class="bar get-started">
  <div class="container">
    <hgroup>
      <h2>Get your team started with Ionic Pro today. </h2>
      <p class="lg">
        Start building better apps faster with Ionic Pro.
      </p>
    </hgroup>
    <div>
      <a href="https://dashboard.ionicframework.com/signup?source=framework-{{id}}"
         class="btn sm"
         id="btn-products-create-account">Create a Pro account</a>
      <a class="btn sm white"
         id="btn-products-see-pricing"
         href="/pro/pricing">See pricing</a>
    </div>
  </div>
</section>
{% endblock %}
