<!DOCTYPE html>
<html lang="en">
  <head>
    {% include meta_tags.html %}

    {% if page.id == "api" and page.versionHref != "/docs" %}
      <!-- version {{ page.versionHref }} should not be indexed -->
      <meta name="robots" content="noindex">
    {% endif %}

    <title>{{page.title}}{% if page.header_sub_title %} - {{ page.header_sub_title}}{% endif %} -  Ionic Framework</title>

    {% include head_includes.html %}

    {% if page.id == "ui" %}
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    {% endif %}

    {% if page.id == "ionicons" %}
    <link rel="stylesheet" type="text/css" href="/docs/v2/ionicons/css/ionicons.min.css">
    {% endif %}
  </head>

  <body class="docs v2 docs-page docs-{{page.id}}">

    {% include nav_links.html %}{% include v2/header.html %}

    <div class="container content-container">

      <div class="row">

        <div class="col-md-2 col-sm-3 aside-menu">

          <div>

            <ul class="nav left-menu {% if page.id == 'overview' %} active-menu{% endif %}">
              <li class="menu-title">
                <a href="/docs/v2/">Overview</a>
              </li>
            </ul>
            
            <ul class="nav left-menu {% if page.id == 'getting-started' %} active-menu{% endif %}">
              <li class="menu-title">
                <a href="/docs/v2/getting-started/">Getting Started</a>
              </li>
              {% if page.id == "getting-started" %}{% include v2/getting_started_menu.html %}{% endif %}
            </ul>

            <ul class="nav left-menu {% if page.id == 'ui' %} active-menu{% endif %}">
              <li class="menu-title">
                <a href="/docs/v2/ui/">UI</a>
              </li>
              {% if page.id == "ui" %}{% include v2/ui_menu.html %}{% endif %}
            </ul>

            <ul class="nav left-menu {% if page.id == 'theming' %} active-menu{% endif %}">
              <li class="menu-title">
                <a href="/docs/v2/theming/">Theming</a>
              </li>
              {% if page.id == "theming" %}{% include v2/theming_menu.html %}{% endif %}
            </ul>

            <ul class="nav left-menu{% if page.id == 'utilities' %} active-menu{% endif %}">
              <li class="menu-title">
                <a href="/docs/v2/utilities/">Utilities</a>
              </li>
              {% if page.id == "utilities" %}{% include v2/utilities_menu.html %}{% endif %}
            </ul>

            <ul class="nav left-menu{% if page.id == 'plugins' %} active-menu{% endif %}">
              <li class="menu-title">
                <a href="/docs/v2/plugins/">Plugins</a>
              </li>
              {% if page.id == "plugins" %}{% include v2/plugins_menu.html %}{% endif %}
            </ul>

            <ul class="nav left-menu{% if page.id == 'api' %} active-menu{% endif %}">
              <li class="menu-title">
                <a href="/docs/v2/api/">
                  API
                </a>
              </li>
              {% if page.id == "api" %}{% include v2/api_menu.html %}{% endif %}
            </ul>

            <ul class="nav left-menu{% if page.id == 'resources' %} active-menu{% endif %}">
              <li class="menu-title">
                <a href="/docs/v2/resources/">Resources</a>
              </li>
              {% if page.id == "resources" %}{% include v2/resources_menu.html %}{% endif %}
            </ul>

        </div>
      </div>

        <div class="col-md-10 col-sm-9 main-content">
          {{ content }}

          {% if page.id =="ui" %}
          <ul class="demo-toggle">
            <li>
              <button onclick="togglePlatform()"><i class="icon ion-social-apple"></i></button>
            </li>
            <li>
              <button onclick="togglePlatform()"><i class="icon ion-social-android"></i></button>
            </li>
          </ul>
          {% endif %}
        </div>

      </div>

    </div>

    <div class="pre-footer">

      <div class="row ionic">

        <div class="col-sm-6 col-a">
          <h4>
            <a href="/getting-started/">Getting started <span class="icon ion-arrow-right-c"></span></a>
          </h4>
          <p>
            Learn more about how Ionic was built, why you should use it, and what's included. We'll cover
            the basics and help you get started from the ground up.
          </p>
        </div>

        <div class="col-sm-6 col-b">
          <h4>
            <a href="/docs/">Documentation <span class="icon ion-arrow-right-c"></span></a>
          </h4>
          <p>
            What are you waiting for? Take a look and get coding! Our documentation covers all you need to know
            to get an app up and running in minutes.
          </p>
        </div>

      </div>

    </div>

    {% include footer.html %}

    {% include v2/base_scripts.html %}

    {% if page.id == "ui" %}
    <script>
      function togglePlatform () {
        var demoFrame = $('.demo > iframe')
        var currentSrc = demoFrame.attr('src');
        var newSrc = currentSrc.split('?')[0] + '?ionicplatform=';
        var currentPlatform = getPlatform(currentSrc);
        if (currentPlatform === 'ios') {
          demoFrame.attr('src', newSrc + 'android');
          return "android";
        } else {
          demoFrame.attr('src', newSrc + 'ios');
          return "ios";
        }
      }
      function getPlatform(iframeSrc) {
        // return: 'ios' or android
        if (iframeSrc.indexOf('android') > -1) {
          return 'android';
        }
        return 'ios';
      }
    </script>
    {% endif %}

    {% if page.id == "ionicons" %}
    <script src="/docs/v2/ionicons/jquery.modal.min.js"></script>
    {% endif %}

  </body>
</html>
