.docs-home {
  img.docs-home-logo {
    width: 100%;
    max-width: 276px;
  }
  form {
    width: 100%;
    max-width: 735px;
    margin: 53px auto 92px;
    position: relative;
    &:before {
      font-family: "Ionicons";
      -webkit-font-smoothing: antialiased;
      content: "\f4a5";
      font-size: 27px;
      font-weight: 800;
      color: $dark-grey;
      position: absolute;
      top: 5px;
      left: 22px;
    }
    input {
      border-radius: 24px;
      border-color: $light-grey;
      padding:5px 5px 5px 52px;
      height: 48px;
      font-size: 18px;
      box-shadow: none;
      &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: $grey;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $grey;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $grey;
      }
      &:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
        color: $grey;
      }
      &:focus,
      &:hover,
      &:active {
        border-color: $blue;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
        background: #fdfdfd;
      }
    }
  }
  .sections {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    .section {
      display: inline-block;
      flex: 0 0 290px;
      width: 290px;
      padding-top: 150px;
      margin-bottom: 60px;
      position: relative;
      &:before {
        content: '';
        background: no-repeat center top;
        background-size: 170px;
        width: 100%;
        height: 140px;
        top: 0;
        left:0;
        right:0;
        position: absolute;
        transition: transform .25s cubic-bezier(0.33,1.6,0.66,1);
      }
      &.getting-started:before {background-image: url(/img/docs-thumbnail-getting-started.png);}
      &.ui:before {background-image: url(/img/docs-thumbnail-ui-components.png);}
      &.api:before {background-image: url(/img/docs-thumbnail-api.png);}
      &.theming:before {background-image: url(/img/docs-thumbnail-theming.png);}
      &.ionicons-link:before {background-image: url(/img/docs-thumbnail-ionicons.png);}
      &.forum:before {background-image: url(/img/docs-thumbnail-forum.png);}
      &:hover:before {
        transform: scale3d(1.05, 1.05, 1);
      }
      h3 {
        font-size: 20px;
        font-weight: 500;
      }
      p {
        font-size: 14px;
        color: $lightish-grey;
        margin-top: 11px;
      }
    }
  }
}
