body {
  font-family: $font-family-default;
  position: relative;
  // TODO: mobile styles
   min-width: 920px;
  // background: linear-gradient(
  //   90deg,
  //   $whiteish,
  //   $whiteish $sidenav-width + 5,
  //   white $sidenav-width + 5,
  //   white 100%
	// );
}
.docs-container {
  .side-nav { width: $sidenav-width; }
  > main {
    margin-left: $sidenav-width;
  }
  > aside {
    width: $platform-preview-width;
    + main {
      margin-right: $platform-preview-width;
    }
  }
}

.navbar-default {
  background: linear-gradient(to right, #3071da , #4888f1);
  border-radius: 0;
  border:none;
  margin-bottom: 0;
  .navbar-brand{
    padding: 22px 0 0 20px;
    img{
      width:140px;
    }
  }
  .navbar-nav > li {
    > a{
      padding:27px 15px;
      transition: .2s color;
      border-top:3px solid transparent;
    }
    &.active > a {
      border-top-color: white;
    }
  }
  .navbar-form {
    margin: 22px 0 0 100px;

    .form-group {
      input {
        background:transparent;
        box-shadow: none;
        border:none;
        color: white;
        font-size:14px;
        &::-webkit-input-placeholder {color: lighten($blue, 15);}
        &:-moz-placeholder {color: lighten($blue, 15);}
        &::-moz-placeholder {color: lighten($blue, 15);}
        &:-ms-input-placeholder {color: lighten($blue, 15);}
      }
      &:before {
        font-family: "Ionicons";
        -webkit-font-smoothing: antialiased;
        content: "\f4a5";
        font-size:18px;
        font-weight: 800;
        color: lighten($blue, 15);
        position: relative;
        top: 3px;
      }
    }
  }
}

.side-nav {
  position: fixed;
  background: $whiteish;
  overflow-y: scroll;
  top: 80px;
  bottom: 0;
  .form-group {
    padding: 5px 20px 17px;
    border-bottom: 1px solid $light-grey;
    select {
      width: 100%;
      background: none;
      border-radius: 0;
      border: none;
      outline: none;
      color: $grey;
    }
  }
  ul {
    list-style: none;
    padding: 20px 0 20px 20px;
    a{
      color:$grey;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 600;
      letter-spacing: 2px;
      display: block;
      padding: 10px 0;
      position:relative;
      &:after{
        display:block;
        position: absolute;
        right:0;
        top:0;
        bottom:0;
        content: '';
        border-right: 2px solid $blue;
        transform: scaleY(0.0001);
        transition: transform .08s ease-in-out;
      }
    }
    ul .active > a,
    a:hover {
      color: $blue;
      text-decoration: none;
      background:none;
    }
    ul .active > a:after,
    a:focus:after {
      transform: scaleY(1);
      outline:none;
    }
    ul {
      padding: 0;
      opacity: 1;
      a {
        color: $blackish;
        text-transform: none;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0;
        height: 34px;
        transition: height cubic-bezier(0.36,0.66,0.04,1) .4s,
                    padding cubic-bezier(0.36,0.66,0.04,1) .4s,
                    color .2s;
      }
      &.ng-hide-add,
      &.ng-hide-remove {
        transition: opacity cubic-bezier(0.36,0.66,0.04,1) .4s;
      }
      &.ng-hide {
        opacity: 0;
        a{
          padding: 0;
          height: 0;
        }
      }
    }
  }
}
.docs-container {
  main {
    padding:30px 40px;
    :first-child{
      margin-top: 0;
    }
    h1,h2,h3,h4,h5{
      color: $blacker;
      line-height: 1.4em;
      margin: 2em 0 1em;
      font-size: 26px;
      font-weight: 400;
      letter-spacing: -0.01em;
    }
    p {
      color: $blackish;
      line-height: 1.9em;
      margin: 2em 0 1em;
      font-weight: 400;
      font-size: 14px;
    }
  }

}
.platform-preview {
  position: fixed;
  right:0;
  padding: 30px 20px;
  text-align: center;
  .platform-toggle a {
    display: inline-block;
    padding: 7px 15px 5px;
    border-radius: 5px;
    color: $grey;
    font-size: 14px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    transition: .2s color, .2s background-color;
    &.active {
      background-color: $blue;
      color: white;
    }
    &:hover {
      color: $blue;
      text-decoration: none;
    }
  }
}
#demo-device {
  &.ios {
    background:uppercase;
    width:391px;
    height:764px;
    background: center top no-repeat url(/img/device-preview-ios.png);
    background-size: 391px;
    margin: 25px auto 0;
  }
}
