@media screen and (max-width: $screen-xs-max) {
  div.improve-docs,
  #platform-preview,
  nav.side-nav {
    display: none;
  }
  div.navbar-header {
    height: 72px;
  }
  button.navbar-toggle {
    margin-right: 20px;
    margin-top: 16px;
  }
}
