@import '../vars';

@keyframes ionic-search-scan {
  from {left: 0;}
  to {left: 100%;}
}

@keyframes ionic-search-scan-mobile {
  from {left: calc(0% + 8px);}
  to {left: calc(100% - 16px);}
}

ionic-search {
  display: block;
  display: inline-block;

  &:not(.hydrated) {
    display: none;
  }

  svg {
    fill: $darkgrey;
  }

  ion-icon {
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 4px;

    &:hover svg {
      fill: #3880ff;
    }
  }

  .search {
    right: 115px;
    font-size: 16px;
    margin-right: 8px;
    transition: .2s opacity, .4s transform cubic-bezier(0.23, 1, 0.32, 1);

    &.active {
      cursor: default;
      opacity: 0;
      transform: scale3d(0, 0, 1);
    }

    svg {
      fill: $grey;
    }
  }

  .search-static {
    left: 9px;
    top: 4px;
    z-index: 2;
    opacity: 0;
    transform: translate3d(0, -25px, 0);
    transition: .4s transform cubic-bezier(0.23, 1, 0.32, 1), .1s opacity;
  }

  .close {
    right: 4px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: .3s opacity;

    &.active {
      pointer-events: all;
      opacity: 1;
      transform: none;
    }
  }

  input {
    width: 100%;
    margin-left: 0;
    padding-left: 40px;
    padding-right: 40px;
    outline: none;
    border: none;
    z-index: 2;
    position: relative;
    font-size: 16px;
    opacity: 0;
    transform: translate3d(0, -15px, 0);
    transition: .2s opacity, .4s transform cubic-bezier(0.23, 1, 0.32, 1);

    &::placeholder {
      color: $grey;
    }

    &:focus {
      // border-color: #eee;
    }
  }

  .slot {
    .hidden {
      display: none;
    }
  }

  ul {
    position: relative;
    background: white;
    list-style: none;
    margin-top: 4px;
    border-top: 1px solid #f6f6f6;
    padding-top: 8px;
    padding-left: 0;
    padding-bottom: 8px;
    margin-bottom: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 8px 16px rgba(0,0,0,.08);
    opacity: 0;
    transform: translate3d(0, -50px, 0);
    transition: .5s transform cubic-bezier(0.23, 1, 0.32, 1), .2s opacity;

    strong {
      display: block;
      font-weight: 600;
    }

    span {
      color: #767d88;
      font-size: 12px;

      em {
        color: $darkgrey;
      }
    }

    .no-results {
      padding: 8px 40px;
      color: #2a2f38;
    }
  }

  a {
    display: inline-block;
    padding: 8px 40px;
    font-weight: 600;
    color: #2a2f38;
    width: 100%;
    transition: .2s color, .2s background-color;

    &:hover {
      color: #3880ff;
      background-color: #fafafa;
    }
  }

  .searching {
    position: absolute;
    height: 1px;
    width: 8px;
    background: #3880ff;
    top: 30px;
    left: 0;
    animation: ionic-search-scan 1s ease-in-out infinite;
  }

  .search-box {
    // display: none;
    position: absolute;
    left: 25%;
    width: 50%;
    top: 0;
    z-index: 1;
    padding-top: 2px;
    pointer-events: none;
    transition: opacity 0.2s linear;

    &.active {
      pointer-events: all;

      ul {
        transform: none;
        opacity: 1;
        transition-delay: .2s;
      }

      input {
        transform: none;
        opacity: 1;
        transition-delay: .1s;
      }

      .search-static {
        opacity: 1;
        transform: none;
      }

      .close {
        opacity: 1;
        transform: none;
        transition-delay: .4s;
      }
    }
  }

  .backdrop {
    background: rgba(0, 8, 24, 0.4);
    position: fixed;
    top: 38px;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    transition: .4s all ease;

    &.active {
      pointer-events: all;
    }
  }

  &[mobile] {
    display: block;

    .search {
      right: auto;
      left: 0;
      bottom: 0;
      font-size: 28px;
      padding: 22px;
      top: auto;
      z-index: 3;
      position: fixed;
    }

    .backdrop {
      top: 0;
      background: rgba(0,0,0,.5);
      z-index: 2;
    }

    .search-box {
      width: auto;
      left: 2px;
      right: 2px;
      top: 42px;
      bottom: 0;
      padding: 60px 12px 48px;
      position: fixed;
      z-index: 3;
      background: white;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      transform: translate3d(0, 100%, 0);
      transition: .4s transform cubic-bezier(0.23, 1, 0.32, 1);

      &.active {
        transform: none;
      }
    }

    .mobile-close {
      transition-delay: 0;
      left: calc(50% - 24px);
      top: 0;
      left: 0;
      right: 0;
      position: absolute;

      svg {
        position: absolute;
        top: 8px;
        width: 40px;
        height: 40px;
        left: calc(50% - 20px);
      }
    }

    .searching {
      top: 113px;
      z-index: 3;
      animation: ionic-search-scan-mobile 1s ease-in-out infinite;
    }

    ul {
      opacity: 1;
      transform: none;
      z-index: 3;
      top: auto;
      box-shadow: none;
      width: 100%;
      max-height: calc(100vh - 154px);
      overflow: touch;
    }

    .search-static {
      transform: none;
      opacity: 1;
      z-index: 3;
      top: 71px;
      left: 22px;
    }

    a {
      padding-left: 20px;
      padding-right: 20px;
    }

    input {
      margin: 0 0 10px;
      padding: 10px 40px 8px;
      background: #eceef2;
      border-radius: 12px;
      width: 100%;
    }

    ~ .mobile-nav__pane {
      min-height: 100%;
      background: white;
      transition: .4s transform ease, .4s border-radius step-end;
    }

    &.active ~ .mobile-nav__pane {
      border-radius: 12px;
      transform: scale3d(0.97, 0.97, 1);
      transition: .4s transform ease;
    }
  }
}

.mobile-nav {
  background: black !important;
}
