#page-products-contact{

    .pricing-survey{
        width:600px;
        margin:40px auto 40px auto;
    }
    
    .cta{
        text-align:center;
    }

    .button-container{
        margin-top:25px;
        text-align:right;
    }

}