#page-products-deploy {
  .top {
    margin-top: -138px;
    padding-top: 162px;
    background: white;
    text-align: center;
    padding-bottom: 522px;
    background: white url('/img/deploy/deploy-hero-flat-img.png')

    hgroup {
      padding-top: 98px;
      max-width: 546px;
    }
  }

  section.skip {
    background: #f6f8fc;
    padding-bottom: 38px;
    
    hgroup {
      padding-top: 72px;
      width: calc(50% - 77px);
      padding-bottom: 50px;

      @media (max-width: $screen-xs-max)  {
        width: 100%;
        text-align: center;
      }
    }

    h2 {
      line-height: 41px;
      margin-bottom: 22px;
    }

    p {
      font-size: 17px;
      letter-spacing: -.006em;

      strong {
        color: #363a40;
      }
    }

    .items {
      padding: 0;
      width: calc(50% - 50px);

      @media (max-width: $screen-xs-max)  {
        display: block;
        text-align: center;
        width: 100%;
      }

      p {
        font-size: 14px;    
        line-height: 24px;
        letter-spacing: -.02em;
        margin-bottom: 47px;
      }
    }

    li {
      flex: 0 1 221px;
      padding-right: 6px;

      
    }
  }

  section.live {
    background: linear-gradient(to right, #5b4cfc 0%, #8e83ff 100%);

    hgroup {
      padding-top: 127px;
      padding-bottom: 107px;

      @media (max-width: $screen-xs-max)  {
        width: 100%;
        text-align: center;
      }
    }

    h2 {
      padding-top: 83px;
      font-size: 29px;
      letter-spacing: -.055em;
      line-height: 40px;
      margin-bottom: 23px;

      span {
        color: white;
      }
    }

    p {
      letter-spacing: -.03em;
      color: white;
    }
  }

  section.latest {
    hgroup {
      width: calc(50% - 108px);
      padding-top: 132px;
      padding-right: 25px;
      padding-bottom: 121px;

      @media (max-width: $screen-xs-max)  {
        width: 100%;
        text-align: center;
        padding-right: 0;
      }
    }

    h2 {
      padding-top: 87px;
      font-size: 27px;
      letter-spacing: -.024em;
    }

    p {
      letter-spacing: -.03em;
    }
  }

  section.run {
    background: #f6f8fc;

    hgroup {
      padding-top: 126px;
      padding-bottom: 108px;

      @media (max-width: $screen-xs-max)  {
        width: 100%;
        text-align: center;
      }
    }

    h2 {
      padding-top: 83px;
      font-size: 27px;
      letter-spacing: -.025em;
      line-height: 40px;
      margin-bottom: 23px;
    }

    p {
      font-size: 17px;
      letter-spacing: 0em;
    }
  }

  section.get-started {
    background: #e7ecf6;

    h2 {
      color: #272a2f;
    }

    p {
      color: #272a2f;
    }

    .btn {
      padding: 15px 19px;
      font-size: 18px;
      letter-spacing: -.02em;

      &.white {
        color: #5244ff;
      }

      &.purple {
        background: #5a4dfc;
        margin-right: 2px;
      }
    }
  }
}