// This is a collection of generics for the products pages
.products-page {
  position: relative;

  .top {
    position: relative;

    h1 {
      letter-spacing: -.042em;
      font-weight: 600;
    }

    p {
      font-size: 18px;
      font-weight: 500;
      margin-top: 17px;
      display: inline-block;
      letter-spacing: -.03em;
      line-height: 32px;
    }

    .graphics {
      position: absolute;
    }
  }

  .center {
    hgroup {
      padding-top: 77px;
      text-align: center;
      max-width: 748px;
      margin: 0 auto 22px;

      h2 {
        font-size: 28px;
        font-weight: 600;
        letter-spacing: -.04em;
      }

      p {
        font-size: 18px;
        color: #51555d;
        margin-top: 30px;
        letter-spacing: -0.03em;
        line-height: 32px;
        font-weight: 500;
      }
    }
  }

  ul.items {
    padding: 48px 14px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      list-style: none;
      padding-top: 67px;
      position: relative;
  
      &::before {
        background: 0 0 no-repeat;
        background-size: 100%;
        height: 48px;
        width: 48px;
        content: '';
        display: block;
        position: absolute;
        top: 0;
      }
  
      strong {
        font-weight: 600;
        font-size: 18px;
        letter-spacing: -.02em;
        margin-bottom: 8px;
        display: inline-block;
      }
  
      p {
        color: #727a87;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.01em;
        font-weight: 500;
      }
  
      @media (max-width: $screen-xs-max)  {
        display: block;
        flex-basis: 100%;
        text-align: center;
  
        &::before {
          left: calc(50% - 24px);
        }
      }
    }
  }

  section.left,
  section.right,
  section.both  {
    .container { position: relative; }

    hgroup {
      padding-top: 208px;
      padding-bottom: 151px;
      width: calc(50% - 147px);
      position: relative;

      @media (max-width: $screen-sm-max)  {
        width: calc(50% - 48px);
      }

      &::before {
        background: 0 0 no-repeat;
        background-size: 100%;
        height: 64px;
        width: 64px;
        content: '';
        position: absolute;
        top: 126px;
        display: block;
      }

      &::after {
        content: '';
        clear: both;
        display: table;
      }

      h2 {
        font-weight: 600;
        font-size: 26px;
        letter-spacing: -.01em;
        margin-bottom: 30px;
      }

      p {
        font-size: 18px;
        color: #51555d;
        letter-spacing: -.015em;
        line-height: 32px;
        font-weight: 500;

        strong {
          font-weight: 500;
        }
      }
    }

    .graphics {
      background: 0 50% no-repeat;
      background-size: 100%;
      width: 470px;
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      opacity: 0;

      &.activateOnScroll {
        filter: blur(10px);
        transition: .4s opacity, .4s filter;
  
        &.active {
          opacity: 1;
          filter: blur(0);
        }
      }

      @media (max-width: $screen-sm-max)  {
        right: -20%;
      }
    }
  }

  section.right {
    hgroup {
      float: right;
    }

    .graphics {
      right: auto;
      left: 0;

      @media (max-width: $screen-sm-max)  {
        left: -20%;
      }
    }
  }

  section.both {
    .container {
      display: flex;
      clear: both;
      justify-content: space-between;
  
      &::before,
      &::after {
        display: none;
      }
    }
  } 

  .get-started {
    background: 0 0 no-repeat;
    background-size: cover;

    .container {
      display: flex;
      padding-top: 101px;
      padding-bottom: 102px;
      flex-wrap: wrap;
      align-items: center;

      &::before,
      &::after {
        display: none;
      }

      @media (max-width: $screen-sm-max)  {
        text-align: center;
      }
    }

    hgroup,
    .btns {
      display: inline-block;
    }

    hgroup {
      flex-grow: 1;
    }

    h2 {
      color: white;
      font-size: 29px;
      letter-spacing: -.032em;
      margin-top: 14px;
    }

    p {
      color: #003e82;
      font-size: 23px;
      letter-spacing: -.01em;
      margin-bottom: 5px;
    }

    .btns {
      .btn {
        padding: 12px 16px;
        font-size: 16px;
        font-weight: 600;
  
        &:last-child {
          margin-right: -5px;
        }


        @media (max-width: $screen-xs-max)  {
          text-align: center;
          display: block;
          margin: 16px auto;
        }
      }
      @media (max-width: $screen-sm-max)  {
        width: 100%;
      }
    }
  }
}