#page-products {
  .navbar.transparent + .cta {
    background: #0d1321 no-repeat center bottom;
    background-image: linear-gradient(to right, #11182a 0%, #060c17 100%);
    background-size: 100%;

    hgroup {
      text-align: center;
      padding-bottom: 530px;
      position: relative;

      h1 {
        margin-top: 30px;
        font-size: 37px;
        letter-spacing: -.038em;
        margin-bottom: 26px;
      }

      p {
        letter-spacing: -.03em;
        max-width: 680px;
        line-height: 1.8em;
        margin: 0 auto;
        font-size: 18px;
        color: rgba(white, .8);

        strong {
          font-weight: 600;
        }
      }

      &::after {
        content: '';
        position: absolute;
        background: url('/img/products/pro-dash-screenshot.png') 0 0 no-repeat;
        background-size: 100%;
        width: 942px;
        height: 582px;
        bottom: -300px;
        left: calc(50% - 471px);
      }

      @media (max-width: $screen-xs-max)  {
        padding-bottom: 300px;

        &::after {
          bottom: -480px;
          width: 380px;
          left: calc(50% - 190px);
        }
      }

      @media (max-width: 406px)  {
        padding-bottom: 230px;

        &::after {
          bottom: -460px;
          width: 320px;
          left: calc(50% - 160px);
        }
      }
    }

    .bar {
      min-height: 64px;
      position: absolute;
      width: 100%;
      top: 408px;
      background: transparent;

      &.affix {
        position: fixed;
        top: 0;
        background: #0d1321 no-repeat center bottom;
        background-image: linear-gradient(to right, #11182a 0%, #060c17 100%);
        background-size: 100%;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),0 1px 0 rgba(0, 0, 0, 0.05);
      }

      .categories {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        max-width: 804px;

        li {
          float: left;
          flex: 0 0 118px;

          a {
            color: rgba(white, .7);
            border-bottom: 2px solid transparent;
            bottom: -1px;
            position: relative;
            font-size: 11px;
            line-height: 1.9em;
            text-align: center;
            padding: 0 14px;
            font-weight: 500;
            width: 118px;
            transition: color .2s, padding-bottom .2s;

            &::before,
            &::after {
              background: url('/img/products/product-icons-sprite.png') 0 0 no-repeat;
              background-size: 32px;
              width: 32px;
              height: 32px;
              content: '';
              position: absolute;
              top: 12px;
              left: calc(50% - 16px);
            }

            &::after {
              opacity: 0;
              transition: .2s opacity;
            }

            .sm {
              display: none;
            }
            
            &.prototyping::after { background-position: 0 -32px; }
            &.testing::before { background-position: 0 -64px; }
            &.testing::after { background-position: 0 -96px; }
            &.updates::before { background-position: 0 -128px; }
            &.updates::after { background-position: 0 -160px; }
            &.build::before { background-position: 0 -192px; }
            &.build::after { background-position: 0 -224px; }
            &.reporting::before { background-position: 0 -256px; }
            &.reporting::after { background-position: 0 -288px; }
            &.push::before { background-position: 0 -320px; }
            &.push::after { background-position: 0 -352px; }

            span {
              transition: .2s opacity;
            }
            
          }

          a:active,
          a:hover,
          a:focus,
          &.active a {
            color: white;
            background: transparent;

            &::after {
              opacity: 1;
            }
          }
        }
      }

      + .bar {
        top: 468px;

        .categories li a{
          &::before,
          &::after {
            display: none;
          }
        }
      }

      @media (max-width: $screen-xs-max)  {
        top: 470px;

        + .bar {
          top: 524px;
        }

        .categories {
          li {
            flex: 0 0 60px;

            a {
              width: 60px;
              padding: 0;

              .lg {
                display: none;
              }

              .sm {
                display: inline;
              }
            }
          }
        }
      }

      @media (max-width: 406px)  {
        top: 560px;


        .categories {
          li {
            flex: 0 0 50px;

            a {
              width: 50px;
            }
          }
        }

        + .bar {
          display: none;
        }
      }
    }
  }



  .hero {
    background: no-repeat center center;
    background-size: cover;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;

    .content {
      width: 37%;
      text-align: left;
      padding-top: 100px;
      padding-bottom: 120px;
      color: #272a2f;
      min-height: 700px;
      position: relative;

      &.dark {
        color: rgba(white, .8);

        h2,
        h4 {
          color: white;
        }

        p {
          color: rgba(white, .7);
        }
      }

      h4 {
        padding-top: 110px;
        position: relative;

        &::before {
          background: url('/img/products/product-header-icons.png') 0 0 no-repeat;
          background-size: 64px;
          width: 64px;
          height: 64px;
          content: '';
          position: absolute;
          top: 0;
        }
      }
    }

    .container {
      position: relative;

      &::before {
        background-repeat: no-repeat;
        background-position: right 0;
        background-size: contain;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        content: '';
        display: block;
        position: absolute;
      }
    }

    h4 {
      font-size: 10px;
      font-weight: 700;
      letter-spacing: .18em;
      color: #272a2f;
      text-transform: uppercase;
      margin-bottom: 10px;
    }


    h3 {
      font-size: 27px;
      letter-spacing: -.02em;
      margin-bottom: 30px;
    }

    h2 {
      color: #272a2f;
      font-size: 25px;
      margin-bottom: 23px;
      margin-top: 14px;
      font-weight: 700;
      letter-spacing: -.002em;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      letter-spacing: -.026em;
      line-height: 1.8em;
      margin-bottom: 30px;
      color: rgba(black, .7);

      strong {
        font-weight: 600;
      }

      a {
        &:hover {
          color: $blue;
        }
      }
    }
  }

  #overview {
    padding-top: 332px;
    padding-bottom: 67px;

    hgroup {
      max-width: 650px;
      margin: 0 auto 68px;
    }

    .features {
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
      max-width: 1056px;
      margin: 0 auto;

      h4 {
        font-size: 17px;
        text-transform: none;
        font-weight: 600;
        letter-spacing: .001em;
        margin-top: 5px;
        margin-bottom: 13px;
      }

      p {
        font-size: 16px;
        letter-spacing: -.015em;
      }
    }

    li {
      padding-top: 68px;
      flex: 0 1 320px;
      position: relative;

      &::before {
        background: url('/img/products/pro-feature-icons.png') 0 0 no-repeat;
        background-size: 48px;
        height: 48px;
        width: 48px;
        content: '';
        position: absolute;
        top: 0;
      }

      &.faster::before { background-position: 0 -48px; }
      &.happier::before { background-position: 0 -96px; }

      @media (max-width: $screen-md-max)  {
        + li {
          margin-left: 24px;
        }
      }
    }

    @media (max-width: $screen-xs-max)  {
      padding-top: 132px;
    }

    @media (max-width: 520px)  {
      .features {
        display: block;
      }

      li {
        text-align: center;

        &::before {
          left: calc( 50% - 24px);
        }

        + li {
          margin-left: 0;
        }
      }
    }
  }

  #prototyping {
    background: #f6f8fc;
    overflow: visible;

    h4 {
      color: #2bb7ff;
    }

    .container::before {
      background-image: url('/img/products/product-creator-img.png');
      top: -34px;

      @media (max-width: $screen-md-max)  {
        top: 24px;
      }
    }

    .content {
      padding-top: 148px;
    }

    @media (max-width: $screen-sm-max)  {
      .content {
        padding-top: 64px;
        width: 70%;
        min-height: 0;
      }

      .container::before {
        background-position: right bottom;
        background-size: 240px;
      }
    }

    @media (max-width: $screen-xs-max)  {
      .container::before {
        display: none;
      }

      .content {
        min-height: 0;
        padding-top: 64px;
        padding-bottom: 64px;
        width: 100%;
        text-align: center;

        h4::before {
          left: calc(50% - 32px);
        }
      }
    }
  }

  #testing {
    background: #dee4ee;

    h4 {
      color: #488aff;

      &::before { background-position: 0 -64px; }
    }

    .container::before {
        background-image: url('/img/products/product-view-img.png');
        background-position: left 0;
        top: 72px;
    }

    .content {
      padding-top: 163px;
    }

    @media (max-width: $screen-sm-max)  {
      .container::before {
        background-position: 0 bottom;
        background-size: 240px;
      }

      .content {
        padding-top: 64px;
        width: 73%;
        min-height: 0;
      }
    }

    @media (max-width: $screen-xs-max)  {
      .container::before {
        display: none;
      }

      .content {
        min-height: 0;
        padding-top: 64px;
        padding-bottom: 64px;
        width: 100%;
        text-align: center;

        h4::before {
          left: calc(50% - 32px);
        }
      }
    }
  }

  #updates {
    background: #3d2e8d no-repeat center bottom;
    background-image: linear-gradient(to right, #2a226d 0%, #5e41ba 100%);
    background-size: 100%;

    h4 {
      color: #9f9fff;

      &::before { background-position: 0 -128px; }
    }

    .container::before {
      background-image: url('/img/products/product-deploy-img.png');
    }

    .content {
      padding-top: 179px;

      @media (max-width: $screen-md-max)  {
        padding-top: 148px;
      }
    }

    @media (max-width: $screen-sm-max)  {
      .container::before {
        display: none;
      }

      .content {
        min-height: 0;
        padding-top: 64px;
        padding-bottom: 64px;
        width: 100%;
        text-align: center;

        h4::before {
          left: calc(50% - 32px);
        }
      }
    }
  }

  #build {
    background: #dd98ec no-repeat center bottom;
    background-image: linear-gradient(to right, #b37df7 0%, #ffafe5 100%);
    background-position: left 0;
    background-size: 100%;

    h4 {
      color: #d2478c;

      &::before { background-position: 0 -192px; }
    }

    .container::before {
        background-image: url('/img/products/product-package-img.png');
        background-position: left 0;
        top: 102px;
        bottom: 104px;
    }

    .content {
      padding-top: 193px;
    }

    @media (max-width: $screen-sm-max)  {
      .container::before {
        top: 128px;
        bottom: 128px;
      }

      .content {
        padding-top: 64px;
        min-height: 0;
        width: 60%;
      }
    }

    @media (max-width: $screen-xs-max)  {
      .container::before {
        display: none;
      }

      .content {
        min-height: 0;
        padding-top: 64px;
        padding-bottom: 64px;
        width: 100%;
        text-align: center;

        h4::before {
          left: calc(50% - 32px);
        }
      }
    }
  }

  #reporting {
    background: #142f2d no-repeat center bottom;
    background-image: linear-gradient(to right, #0e211f 0%, #142f2d 100%);
    background-size: 100%;

    h4 {
      color: #00cd5f;

      &::before { background-position: 0 -256px; }
    }

    .container::before {
        background-image: url('/img/products/product-monitor-img.jpg');
    }

    .content {
      padding-top: 172px;
      width: 40%;
    }

    @media (max-width: $screen-sm-max)  {
      .content {
        min-height: 0;
        padding-top: 64px;
        width: 100%;
      }
    }

    @media (max-width: $screen-xs-max)  {
      .container::before {
        display: none;
      }

      .content {
        min-height: 0;
        padding-top: 64px;
        padding-bottom: 64px;
        width: 100%;
        text-align: center;

        h4::before {
          left: calc(50% - 32px);
        }
      }
    }
  }

  #push {
    background: #ffbc2a no-repeat center bottom;
    background-image: linear-gradient(to right, #ffce39 0%, #ffad20 100%);
    background-size: 100%;

    h4 {
      color: #d26d00;

      &::before { background-position: 0 -320px; }
    }

    .container::before {
      background-image: url('/img/products/product-push-img.png');
      background-position: left 0;
      top: 80px;
      bottom: 80px;

      @media (max-width: $screen-md-max)  {
        top: 130px;
        bottom: 130px;
      }
    }

    .content {
      padding-top: 172px;
      width: 35%;
    }

    @media (max-width: $screen-sm-max)  {
      .container::before {
        display: none;
      }

      .content {
        min-height: 0;
        padding-top: 64px;
        padding-bottom: 64px;
        width: 100%;
        text-align: center;

        h4::before {
          left: calc(50% - 32px);
        }
      }
    }
  }

  .get-started {
    background: #ecf0f7;

    .container {
      display: flex;
      align-items: center;
    }

    hgroup {
      padding-top: 92px;
      padding-bottom: 80px;
      flex-grow: 1;
    }

    h2 {
      letter-spacing: -.05em;
    }
  
    p {
      font-size: 23px;
      letter-spacing: -0.01em;
    }

    @media (max-width: $screen-sm-max)  {
      .container {
        display: block;
        text-align: center
      }

      hgroup {
        padding-bottom: 16px;
      }

      .btn-group {
        padding-bottom: 96px;
      }
    }
  }
}
