#page-products {
  .navbar.transparent + .cta {
    background: #3d7ef1 no-repeat center bottom;
    background-image: url('/img/products/cta-orbitals.png'),
                      linear-gradient(to right, #347eff 0%, #1ea3ff 100%);
    background-size: 990px, 100%;

    hgroup{
      text-align: center;

      p {
        max-width: 700px;
        margin: 0 auto;
        letter-spacing: -0.01em;
        font-size: 18px;
        color: rgba(white, .8);

        strong {
          font-weight: 500;
        }
      }
    } 

    .bar {
      min-height: 64px;
      position: absolute;
      width: 100%;
      background: $whiteish;

      &.affix {
        position: fixed;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),0 1px 0 rgba(0, 0, 0, 0.05);
      }

      .categories {
        margin: 0;

        li {
          float: left;

          a {
            color: $blackish;
            border-bottom: 2px solid transparent;
            bottom: -1px;
            position: relative;
            font-size: 13px;
            line-height: 1em;
            padding: 24px 14px 25px;
            margin-right: 20px;
            font-weight: 500;
            height: 63px;
            transition: color .2s, border-color .2s;

            .sm {
              display: none;
            }
          }

          a:active,
          a:hover,
          a:focus,
          &.active a {
            color: $blue;
            border-color: $blue;
            background: transparent;
          }
        }
      }

      .btn {
        font-size: 10px;
        padding: 12px 13px 8px;
        height: 37px;
        line-height: 10px;
        margin-top: 13px;
        float: right;
        font-weight: 700;
        letter-spacing: 1px;
      }

      @media (max-width: $screen-sm-max)  {
        .categories li a {
          margin-right: 10px;
          padding-left: 8px;
          padding-right: 8px;
        }
      }
      @media (max-width: $screen-xs-max)  {
        .categories {
          display: flex;
          justify-content: space-between;

          li {
            float: none;

            a {
              margin-right: 0;

              .lg {
                display: none;
              }

              .sm {
                display: inline;
              }
            }
          }
        }

        .btn {
          display: none;
        }
      }
    }
  }



  .hero {
    background: no-repeat center center;
    background-size: cover;
    overflow: hidden;

    .content {
      width: 50%;
      text-align: left;
      padding-top: 100px;
      padding-bottom: 120px;
      color: #272a2f;

      &.dark {
        color: rgba(white, .8);

        h2,
        h4 {
          color: white;
        }
      }
    }

    .container {
      position: relative;
    }

    h4 {
      font-size: 10px;
      font-weight: 700;
      letter-spacing: .3em;
      color: #272a2f;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    h2 {
      color: #272a2f;
      font-size: 25px;
      margin-bottom: 20px;
      font-weight: 700;
      letter-spacing: .15em;
      text-transform: uppercase;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.8em;
      margin-bottom: 30px;

      a {
        &:hover {
          color: $blue;
        }
      }
    }

    
  }

  #overview {
    background: transparent;
    padding-bottom: 70px;

    .container::after {
      background: url('/img/products/sdlc-illustration.png') no-repeat 0 0;
      background-size: 512px;
      height: 512px;
      width: 512px;
      content: '';
      position: absolute;
      right: 0;
      top: 150px;

      @media (max-width: $screen-sm-max) {
        width: 100%;
        top: 100px;
        background-size: 256px;
        background-position: 50% 0;
      }
    }

    hgroup {
      max-width: 50%;
      padding-top: 95px;
      margin-top: 65px;

      @media (max-width: $screen-sm-max) {
        max-width: 100%;
        padding-top: 300px;
      }

      p {
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
      }
    }

    ul {
      list-style: none;
      padding: 0;

       @media (max-width: $screen-sm-max) {
         width: 100%;
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
       }
    }

    li {
      display: inline-block;
      vertical-align: top;
      max-width: 275px;
      padding-right: 15px;

      @media (max-width: $screen-md-max) {
        max-width: 225px;
      }

      @media (max-width: $screen-sm-max) {
        flex: 1 0 200px;
        padding-right: 10px;
        margin: 0 auto;

        &:last-child {
          padding-right: 0;
        }
      }

      h4 {
        text-transform: none;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0;
        margin-bottom: 10px;
      }

      p {
        font-size: 13px;
        color: #818893;
      }
    }
  }

  #prototyping {
    background: #e0e5ef;

    .container::after {
      background: url('/img/products/feature-creator-img.png') no-repeat 0 0;
      background-size: 558px;
      width: 558px;
      height: 667px;
      content: '';
      position: absolute;
      right: 0;
      bottom: 0px;

      @media (max-width: $screen-sm-max) {
        background-size: 372px;
        width: 372px;
        height: 444px;
      }
    }
  }

  #framework {
    background: #488aff;

    .container::after {
      background: url('/img/products/feature-framework-img.png') no-repeat 0 0;
      background-size: 558px;
      width: 551px;
      height: 587px;
      content: '';
      position: absolute;
      right: 0;
      bottom: 0px;
      top: calc(50% - 200px);

      @media (max-width: $screen-sm-max) {
        background-size: 372px;
        width: 372px;
        height: 444px;
      }
    }
  }

  #testing {
    background: #26344c;

    .container::after {
      background: url('/img/products/feature-view-img.png') no-repeat 0 0;
      background-size: 762px;
      width: 762px;
      height: 592px;
      content: '';
      position: absolute;
      right: 0;
      bottom: 0px;

      @media (max-width: $screen-sm-max) {
        background-size: 508px;
        width: 508px;
        height: 395px;
      }
    }
  }

  #updates {
    background: #7852d6;

    .container::after {
      background: url('/img/products/feature-deploy-img.png') no-repeat 0 0;
      background-size: 402px;
      width: 402px;
      height: 381px;
      content: '';
      position: absolute;
      right: 30px;
      top: calc(50% - 160px);
    }
  }

  #packaging {
    background: #5dcc82;

    .container::after {
      background: url('/img/products/feature-package-img.png') no-repeat 0 0;
      background-size: 352px;
      width: 352px;
      height: 323px;
      content: '';
      position: absolute;
      right: 0;
      top: calc(50% - 160px);
    }
  }
  

  #get-started {
    background: #222b3a;

    .hero {
      background: transparent;
    }

    .right {
      float: right;
    }

    h3 {
      color: $whiteish;
      text-align: left;

      strong {
        color: white;
      }
    }

    p {
      color: #a2b5d6;
      text-align: left;
    }

    a {
      margin-top: 20px;
    }

    hgroup {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
}
