#page-products {
  .navbar.transparent + .cta {
    background: #3d7ef1 no-repeat center top;
    background-image: linear-gradient(to right, #2e70e2 0%, #4a8cff 100%);

    hgroup p {
      max-width: 630px;
      margin: 0 auto;
      letter-spacing: -0.01em;
    }

    .bar {
      min-height: 64px;
      position: absolute;
      width: 100%;
      background: $whiteish;

      &.affix {
        position: fixed;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),0 1px 0 rgba(0, 0, 0, 0.05);
      }

      .categories {
        margin: 0;

        li {
          float: left;

          a {
            color: $blackish;
            border-bottom: 2px solid transparent;
            bottom: -1px;
            position: relative;
            font-size: 13px;
            line-height: 1em;
            padding: 24px 14px 25px;
            margin-right: 20px;
            font-weight: 500;
            height: 63px;
            transition: color .2s, border-color .2s;

            .sm {
              display: none;
            }
          }

          a:active,
          a:hover,
          a:focus,
          &.active a {
            color: $blue;
            border-color: $blue;
            background: transparent;
          }
        }
      }

      .btn {
        font-size: 10px;
        padding: 12px 13px 8px;
        height: 37px;
        line-height: 10px;
        margin-top: 13px;
        float: right;
        font-weight: 700;
        letter-spacing: 1px;
      }

      @media (max-width: $screen-sm-max)  {
        .categories li a {
          margin-right: 10px;
          padding-left: 8px;
          padding-right: 8px;
        }
      }
      @media (max-width: $screen-xs-max)  {
        .categories {
          display: flex;
          justify-content: space-between;

          li {
            float: none;

            a {
              margin-right: 0;

              .lg {
                display: none;
              }

              .sm {
                display: inline;
              }
            }
          }
        }

        .btn {
          display: none;
        }
      }
    }
  }

  #overview {
    hgroup {
      max-width: 685px;
      padding-top: 95px;
      margin-top: 65px;

      p {
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
      }
    }

    .hero.left {
      padding-top: 0;
      padding-bottom: 64px;

      .content {
        list-style: none;
        width: 500px;
        padding-left: 0;
        @media (max-width: $screen-md-max)  {
          width: 430px;
        }

        li {
          padding-left: 72px;
          position: relative;
          padding-bottom: 48px;

          &:before {
            background: no-repeat center top url('/img/products/sprite-icons.png');
            background-size: 48px;
            height: 48px;
            width: 48px;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
          }

          h4 {
            font-size: 18px;
          }

          p {
            color: $darkish-grey;
            font-weight: 400;
            line-height: 24px;
          }

          &:nth-child(2):before { background-position: center -48px; }
          &:nth-child(3):before { background-position: center -96px; }
          &:nth-child(4):before { background-position: center -144px; }
        }
      }

      .graphics {
        width: 534px;
        height: 486px;
        top: 0;
        right: 5px;
        // overflow: hidden;

        &:before {
          background: no-repeat center center url('/img/products/overview-top-layer.png?1');
          background-size: 534px;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          position: absolute;
          z-index: 1;
          content: '';
          opacity: 0;
          transform: scale3d(.98, .98, 1);
          transition: .5s opacity,
                      2s transform cubic-bezier(0.155, 1.105, 0.295, 1.12);;
        }

        &.active:before {
          opacity: 1;
          transform: scale3d(1, 1, 1);
        }

        .circle {
          background: no-repeat center center;
          position: absolute;
          z-index: 0;
          animation: spin 190s linear infinite;

          &.lg {
            background-image: url('/img/products/overview-outer-orbital.png');
            background-size: 330px;
            width: 330px;
            height: 330px;
            top: 78px;
            right: 98px;
          }

          &.md {
            background-image: url('/img/products/overview-middle-orbital.png');
            background-size: 247px;
            width: 247px;
            height: 247px;
            top: 119px;
            right: 139px;
            animation-duration: 160s;

          }

          &.sm {
            background-image: url('/img/products/overview-inner-orbital.png');
            background-size: 172px;
            width: 172px;
            height: 172px;
            top: 157px;
            right: 177px;
            animation-duration: 180s;
          }
        }
      }

      @media (max-width: $screen-sm-max)  {
        .content {
          width: 100%;
          padding-top: 250px;
        }

        .graphics {
          transform: scale3d(.6, .6, 1);
          left: calc(50% - 267px);
          top: -170px;
        }
      }
    }
  }

  #notifications {
    background: #182841 no-repeat center top;
    background-image: linear-gradient(to right, #172031 0%, #1a2d4f 100%);
    overflow-x: hidden;

    hgroup {
      max-width: 695px;
      margin: 0 auto;
      padding-bottom: 65px;
      padding-top: 95px;

      h3 {
        color: white;
      }

      p {
        color: #94a0ba;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
      }
    }

    .hero.bottom {
      padding-top: 0;
      padding-bottom: 50px;

      .graphics {
        background: no-repeat center center url('/img/products/push-dotted-map.png');
        background-size: 800px;
        width: 800px;
        margin: 0 auto;
        height: 390px;
        top: 0;
        position: relative;
        @media (max-width: $screen-sm-max)  {
          margin-left: -40px;
        }

        .dot {
          height: 6px;
          width: 6px;
          position: absolute;
          top: 148px;
          left: 333px;
          background: #fcb52c;
          border-radius: 50%;
          opacity: 0;
          transform: scale3d(0,0,1);
          transition: opacity .5s,
                      transform .5s;

          &.active {
            opacity: 1;
            transform: scale3d(1,1,1);

            &:before {
              content: '';
              display: block;
              position: absolute;
              top: -5px;
              right: -5px;
              bottom: -5px;
              left: -5px;
              border: 1px solid #fcb52c;
              border-radius: 50%;
              animation: dotExpand 2s infinite;
            }
          }
        }
      }

      .content {
        padding-left: 0;
        list-style: none;
        padding-top: 93px;

        li {
          padding-left: 72px;
          padding-right: 72px;
          padding-bottom: 35px;
          position: relative;
          width: 33%;
          display: inline-block;
          @media (max-width: $screen-sm-max)  {
            width: 100%;
            padding-right: 0;
          }

          &:before {
            background: no-repeat center -192px url('/img/products/sprite-icons.png');
            background-size: 48px;
            height: 48px;
            width: 48px;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
          }

          &:nth-child(2):before { background-position: center -240px; }
          &:nth-child(3):before { background-position: center -288px; }
          h4 {
            color: white;
            font-size: 14px;
          }

          p {
            color: #94a0ba;
            font-size: 14px;
          }
        }
      }
    }

    @media (max-width: $screen-xs-max)  {
      hgroup {
        padding-bottom: 0;
      }

      .hero.bottom {
        .graphics {
          transform: scale3d(.4,.4,1);
          margin-left: calc(50% - 400px);
          margin-top: -70px;
        }

        .content {
          padding-top: 0;
          margin-top: -70px;
        }
      }
    }
  }

  #authentication {
    padding-bottom: 40px;

    hgroup {
      max-width: 700px;
      margin: 0 auto;
      padding-top: 95px;

      p {
        color: $dark-grey;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
      }
    }

    .hero.right {
      padding-top: 38px;

      .graphics {
        background: no-repeat center center url('/img/products/auth-devices.png');
        background-size: 493px;
        width: 493px;
        height: 566px;
        top: 0;
        position: absolute;
        opacity: 0;
        transform: translate3d(0, -20px, 0);
        transition: .5s opacity,
                    2s transform cubic-bezier(0.155, 1.105, 0.295, 1.12);


        &:after {
          background: no-repeat center center url('/img/products/auth-code-example.png');
          background-size: 348px;
          width: 348px;
          height: 177px;
          top: 307px;
          left: 193px;
          position: absolute;
          content: '';
          opacity: 0;
          transform: translate3d(0, -20px, 0);
          transition: .5s opacity,
                      2s transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
          transition-delay: .3s;
          @media (max-width: $screen-md-max)  {
            background-size: 232px;
            width: 232px;
            top: 258px;
            left: 430px;
          }
          @media (max-width: $screen-md-max)  {
            width: 100%;
            left: 0;
            background-position: 66% center;
          }
        }

        &.shown {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }



        &.shown:after {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }

      .content {
        padding-left: 0;
        list-style: none;
        width: 478px;
        @media (max-width: $screen-md-max)  {
          width: 360px;
        }

        li {
          padding-left: 72px;
          padding-bottom: 45px;
          position: relative;

          &:before {
            background: no-repeat center -336px url('/img/products/sprite-icons.png');
            background-size: 48px;
            height: 48px;
            width: 48px;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
          }

          &:nth-child(1):before { background-position: center -384px; }
          &:nth-child(2):before { background-position: center -432px; }
          &:nth-child(4):before { background-position: center -480px; }
          h4 {
            font-size: 18px;
          }

          p {
            font-size: 15px;
            line-height: 24px;
            font-weight: 400;
            color: $darkish-grey;
          }
        }
      }

      @media (max-width: $screen-md-max)  {
        .graphics {
          top: -155px;
          width: 100%;
          background-size: 271px;
        }

        .content {
          padding-top: 250px;
          width: 100%;
        }
      }
    }
  }

  #packaging {
    background: #f9fafc;
    border-top: 1px solid $whiteish;

    .container {
      overflow-x: hidden;
    }

    hgroup {
      max-width: 695px;
      margin: 0 auto;
      padding-bottom: 65px;
      padding-top: 95px;

      p {
        color: $dark-grey;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
      }
    }

    .hero.bottom {
      padding-top: 0;
      padding-bottom: 50px;

      .graphics {
        background: no-repeat center center url('/img/products/ionic-package-diagram.jpg');
        background-size: 1056px;
        width: 100%;
        margin: 0 auto;
        margin-left: 0;
        height: 401px;
        top: 0;

        .circles {
          width: 1056px;
          margin: 0 auto;
        }

        .box {
          background: no-repeat center center url('/img/products/ionic-package-server-light.jpg.png');
          background-size: 45px;
          width: 44px;
          height: 44px;
          content: '';
          position: absolute;
          left: 657px;
          top: 95px;
          opacity: 0;
          transition: opacity .3s;

          &.active {
            opacity: 1;
          }
        }

        .circle {
          height: 7px;
          width: 7px;
          position: absolute;
          top: 169px;
          left: 311px;
          background: $red;
          border-radius: 50%;
          opacity: 0;
          transition: opacity .6s;

          &.active {
            opacity: 1;
          }

          &:nth-child(2) { left: 331px; }
          &:nth-child(3) { left: 351px; }
          &:nth-child(4) { left: 371px; }
          &:nth-child(5) { left: 390px; }
          &:nth-child(6) { left: 734px; }
          &:nth-child(7) { left: 754px; }
          &:nth-child(8) { left: 773px; }
          &:nth-child(9) { left: 793px; }
          &:nth-child(10) { left: 813px; }
        }

        @media (max-width: $screen-md-max)  {
          background-size: 528px;
          height: 200px;

          .circles {
            transform: scale3d(.5,.5,1);
            position: relative;
            left: -69px;
          }
        }
        @media (max-width: $screen-sm-max)  {
          .circles {
            left: -179px;
          }
        }
        @media (max-width: $screen-xs-max)  {
          background-size: 263px;
          height: 100px;

          .circles {
            transform: scale3d(.25,.25,1);
            margin-left: calc(50% - 355px);
            top: 1px;
          }
        }
      }

      .content {
        padding-left: 0;
        list-style: none;
        padding-top: 10px;

        li {
          padding-left: 72px;
          padding-right: 72px;
          padding-bottom: 35px;
          position: relative;
          width: 33%;
          display: inline-block;
          vertical-align: top;
          @media (max-width: $screen-sm-max)  {
            width: 100%;
            padding-right: 0;
          }

          &:before {
            background: no-repeat center -528px url('/img/products/sprite-icons.png');
            background-size: 48px;
            height: 48px;
            width: 48px;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
          }

          &:nth-child(2):before { background-position: center -576px; }
          &:nth-child(3):before { background-position: center -624px; }
          h4 {
            font-size: 16px;
          }

          p {
            color: #9B9FA9;
            font-size: 14px;
          }
        }
      }
    }
  }

  #updates {
    background: #7e5bdd;
    background-image: linear-gradient(to right, #734ad1 0%, #896ce8 100%);

    hgroup {
      max-width: 680px;
      padding-top: 95px;
      margin: 0 auto;

      h3 {
        color: white;
        margin-bottom: 23px;
      }

      p {
        color: #e9e2ff;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
      }
    }

    .hero.left {
      padding-top: 0;
      padding-bottom: 64px;

      .content {
        list-style: none;
        width: 460px;
        padding-left: 0;
        @media (max-width: $screen-md-max)  {
          width: 430px;
        }

        li {
          padding-left: 72px;
          position: relative;
          padding-bottom: 48px;

          &:before {
            background: no-repeat center -672px url('/img/products/sprite-icons.png');
            background-size: 48px;
            height: 48px;
            width: 48px;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
          }

          h4 {
            font-size: 18px;
            color: white;
          }

          p {
            color: #eae3ff;
            font-weight: 400;
            line-height: 24px;
          }

          &:nth-child(2):before { background-position: center -720px; }
          &:nth-child(3):before { background-position: center -768px; }
          &:nth-child(4):before { background-position: center -816px; }
        }
      }

      .graphics {
        background: no-repeat center center url('/img/products/deploy-base-device.png');
        background-size: 605px;
        width: 605px;
        height: 565px;
        top: 0;

        .page {
          background: no-repeat center center url('/img/products/deploy-screen-profile.png');
          background-size: 494px;
          width: 494px;
          height: 396px;
          content: '';
          position: absolute;
          left: 43px;
          top: 24px;
          transform: translate3d(0, -25px, 0);
          opacity: 0;
          transition: all .4s ease;

          &.load {
            transform: translate3d(0, 0, 0);
            opacity: 1;
          }

          &.likes {
            background-image: url('/img/products/deploy-screen-likes.png');
          }

          &.tabs {
            background-image: url('/img/products/deploy-screen-add-tabs.png');
          }

          &.color {
            background-image: url('/img/products/deploy-screen-change-tabs.png');
          }
        }

        .chat {
          background: no-repeat center center url('/img/products/deploy-comment-profile.png');
          background-size: 311px;
          width: 311px;
          height: 87px;
          content: '';
          position: absolute;
          left: 243px;
          top: 0;
          transform: scale3d(0, 0, 1);
          opacity: 0;
          transition: all .4s cubic-bezier(0.155, 1.105, 0.295, 1.12);

          &.load {
            transform: scale3d(1, 1, 1);
            opacity: 1;
          }

          &.dismiss {
            transform: translate3d(0, -50px, 0);
            transition-duration: .7s;
            opacity: 0;
          }

          &.likes {
            background-image: url('/img/products/deploy-comment-likes.png');
          }

          &.tabs {
            background-image: url('/img/products/deploy-comment-add-tabs.png');
          }

          &.color {
            background-image: url('/img/products/deploy-comment-change-tabs.png');
          }

          &.revert {
            background-image: url('/img/products/deploy-comment-revert.png');
          }
        }
      }

      @media (max-width: $screen-md-max)  {
        .graphics {
          transform-origin: right;
          transform: scale3d(.75,.75,1);
        }
      }
      @media (max-width: $screen-sm-max)  {
        .graphics {
          transform-origin: right;
          transform: scale3d(.5,.5,1);
          top: -130px;
          left: calc(50% - 455px);
          position: absolute;
        }

        .content {
          width: 100%;
          padding-top: 300px;
        }
      }
    }
  }

  #get-started {
    background: #1f2632;
    background-image: linear-gradient(to right, #1f2632 0%, #28354d 100%);

    h3 {
      color: $whiteish;

      strong {
        color: white;
      }
    }

    p {
      color: #a2b5d6;
    }

    a {
      margin-top: 20px;
    }

    hgroup {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
}
