#page-products-package {
  .top {
    margin-top: -138px;
    padding-top: 231px;
    background: #e7a2dd;
    background: linear-gradient(to right, #c696f8 0%, #fca5a7 100%);
    text-align: center;

    hgroup {
      padding-top: 103px;
      padding-bottom: 148px;
      text-align: left;
    }

    h1,
    p {
      color: white;
      max-width: 405px;
    }
  }

  .features {
    background: linear-gradient(to right, #efddff 0,#ffe3e4 100%);

    ul {
      padding: 71px 0px 45px;
      
      @media (max-width: $screen-xs-max)  {
        display: block;
      }
    }

    li {
      flex: 0 1 315px;

      @media (max-width: $screen-md-max)  {
        flex: 0 1 303px;
      }
    }

    p {
      letter-spacing: -0.02em;
      margin-top: 2px;
      margin-right: 5px;
    }
  }

  .turn {
    background: #f8f5fb;

    hgroup {
      max-width: 624px;
      padding-top: 77px;
      padding-bottom: 373px;
    }

    p {
      margin-top: 30px;
    }
  }

  .leave {
    hgroup {
      width: calc(50% - 130px);
      padding-bottom: 62px;
      
      @media (max-width: $screen-xs-max)  {
        width: 100%;
        text-align: center;
      }
    }

    h2 {
      letter-spacing: -.015em;
      margin-bottom: 31px;
    }

    p {
      font-size: 15px;
      letter-spacing: -.004em;
      line-height: 28px;
      margin-bottom: 29px;
    }
  }

  .get-started {
    background: linear-gradient(to right, #c696f8 0%, #fca5a7 100%);

     h2 {
       margin-bottom: 7px;
     }

     p {
      color: #601baa;
      
      strong {
        font-weight: 600;
      }
    }

    .btn {
      &.pink {
        background: #f34971;
        padding: 15px 17px;
        font-size: 18px;
        margin-right: 2px;
      }

      &.white {
        background: white;
        color: #e93677;
        padding: 15px 22px;
        font-size: 18px;
        letter-spacing: -.02em;
      }
    }
  }
}