.tooltip-inner { text-align: left; }

#page-pricing {
  main {
    padding: 0 0 40px 0;
  }

  #pricing-table {
    border-left: none;
    border-color: #F2F4F7;
    overflow: scroll;
    overflow-x: scroll;

    thead {
      tr {
        background-color: #F6F7FA;
      }

      th {
        color: #1D2025;
        text-align: center;
        border-color: #EAEDF3;

        h4 {
          color: #8E97A9;
          text-transform: uppercase;
          font-size: 10px;
          font-weight: bold;
          letter-spacing: 1px;
        }

        h2 {
          color: #020610;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: bold;
          letter-spacing: 1px;
        }
      }
    }

    td {
      text-align: center;
      border-color: #F2F4F7;
    }

    td:first-child {
      text-align: left;
      border-style: dashed;
      border-left: none;
    }

    tr.section-tr {
      td {
        color: #020610;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
      }
    }

    .checkmark {
      background: url('../img/pricing/checkmark.png') no-repeat transparent;
      background-size: 100%;
      display: inline-block;
      width: 16px;
      height: 12px;
    }

    qtt {
      display: inline-block;
      margin-left: 5px;
    }

    .btn.question {
      background-color: #eee;
      padding: 0;
      border-radius: 100%;
      color: #777;
      width: 16px;
      height: 16px;
      font-size: 18px;
    }

    .btn {
      line-height: 1.1em;
      padding: 12px 33px;
      font-size: 13px;
    }

    .btn-outline {
      background-color: white;
      border: 2px solid #5A8DF4;
      color: #5A8DF4;
    }

    .btn-beta {
      background-color: #eee;
      color: #555;
    }
  }
}

#pricing-2 {
  #pricing-img {
    display: block;

    margin: auto;
  }
  #pricing-btns {
    margin: auto;
    display: flex;
    a {
      flex: 1;
      margin-right: 7px;
      margin-left: 5px;
    }
  }
  #pricing-img, #pricing-btns {
    width: 768px;
  }
  @media screen and (min-width: 768px) {
    #pricing-img, #pricing-btns {
      width: 768px;
    }
  }
  @media screen and (min-width: 992px) {
    #pricing-img, #pricing-btns {
      width: 992px;
    }
  }
  @media screen and (min-width: 1200px) {
    #pricing-img, #pricing-btns {
      width: 992px;
    }
  }
}

#pricing-3 {
  a.btn {
    font-size: 14px;
    margin-right: 50px;
    margin-left: 50px;
  }
  .btn-outline {
    background-color: white;
    border: 2px solid #5A8DF4;
    color: #5A8DF4;
  }
  #pricing-info {
    position: relative;
    margin: auto;
    margin-top: -35px;
    width: 768px;
  }
  #pricing-img {
    display: block;
    margin: auto;
    width: 100%;
  }
  #pricing-btns {
    margin: auto;
    position: absolute;
    top: 155px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0px 13px;
    a {
      flex: 1;
    }
    a.btn {
      font-size: 12px;
      margin-right: 20px;
      margin-left: 20px;
    }
  }
  @media screen and (min-width: 768px) {
    #pricing-info {
      width: 768px;

      #pricing-btns {
        top: 155px;
      }

      a.btn {
        font-size: 12px;
        margin-right: 20px;
        margin-left: 20px;
      }
    }
  }
  @media screen and (min-width: 992px) {
    #pricing-info {
      width: 992px;
      #pricing-btns {
        top: 213px;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    #pricing-info {
      width: 992px;
      #pricing-btns {
        top: 213px;
      }
    }
  }
}
#page-pricing-contact {
  main {
    padding: 50px 0;

    .container {
      max-width: 768px;
    }
  }
}

#page-pricing .cta h4 {
  line-height: 1.6em;
}

.pricing-icons {
  display: flex;
  padding-top: 50px;
  padding-left: 0;

  li {
    display: block;
    padding-top: 140px;
    opacity: .7;
    position: relative;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 700;
    flex: 1 0 128px;

    &::before {
      height: 128px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      content: '';
      display: block;
      background: url('/img/pricing/sdl-icons.png') no-repeat 50% 0;
      background-size: 128px;
    }

    &.prototyping::before { background-position: 50% -128px; }
    &.testing::before { background-position: 50% -256px; }
    &.updating::before { background-position: 50% -384px; }
    &.builds::before { background-position: 50% -512px; }

    &::after {
      font-family: 'Ionicons';
      content: '\f287';
      position: absolute;
      top: 40px;
      right: -15px;
      font-size: 40px;
    }
    
    &:last-child::after {
      display: none;
    }
  }
}

.cards {
  margin: -32px auto 50px;
  text-align: center;
  
  .card {
    background: white;
    display: inline-block;
    height: 615px;
    position: relative;
    vertical-align: top;
    width: 465px;
    cursor: pointer;
  
    &::before {
      background: linear-gradient(to bottom, white 0%, white 87%, rgba(235, 239, 246, 1) 87%, rgba(235, 239, 246, 1) 100%);
      bottom: 0;
      border-radius: 2px;
      box-shadow: 0 8px 32px rgba(0, 0, 0, .1), 0 2px 8px rgba(0, 0, 0, .1);
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: scale3d(1, 1, 1);
      transition: .3s transform, .3s background, .3s box-shadow;
    }
  
    &::after {
      background: no-repeat 0 0 url('/img/pricing/pricing-box-active-carrot.png');
      background-size: 19px;
      width: 19px;
      height: 8px;
      position: absolute;
      content: '';
      display: block;
      bottom: -26px;
      left: calc(50% - 15px);
      opacity: 0;
      transform: translate3d(0, -19px, 0);
      transition: .3s border-top-color, .3s transform;
    }
  
    &:hover {
      &::before {
        transform: scale3d(1.05, 1.05, 1);
      }
  
      &::after {
        transform: translate3d(0, -9px, 0);
      }
  
      .cta {
        transform: translate3d(0, 9px, 0);
      }
    }
  
    &.active {
      z-index: 2;
      cursor: default;
  
      &::before {
        background: linear-gradient(to bottom, white 0%, white 85%, 
          $blue 85%, $blue 100%);
        transform: scale3d(1.1, 1.1, 1);
        box-shadow: 0 8px 32px rgba(0, 0, 0, .15), 0 2px 8px 
          rgba(0, 0, 0, .15);
      }
  
      &::after {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
  
      .cta {
        bottom: 5000px;
        transform: translate3d(0, 16px, 0);
        transition: .3s transform, .3s color, .3s bottom step-start;
      }
  
      a.cta {
        bottom: 0;
        transition: .3s transform, .3s color, .3s bottom step-start;
      }
    }
  
    .title {
      color: $blue;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 2px;
      padding-top: 48px;
      position: relative;
      text-transform: uppercase;
      z-index: 1;
      margin-bottom: 0;
    }
  
    &:nth-child(2) .title {
      padding-top: 30px;
      color: $green;
    }
  
    h2 {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 0;
      margin-top: 0px;
      position: relative;
      text-transform: uppercase;
      z-index: 1;
  
      sup {
        font-size: 20px;
        top: -5px;
      }
  
      sub {
        font-size: 10px;
        top: -1px;
        left: 1px;
        margin-left: -10px;
      }
  
      &.pro {
        font-size: 36px;
        letter-spacing: 2px;
      }
    }
  
    h3 {
      color: #aab7cc;
      font-size: 10px;
      font-weight: 700;
      letter-spacing: 1px;
      margin-top: 0;
      position: relative;
      text-transform: uppercase;
      z-index: 1;
    }
  
    ul {
      padding: 20px 70px 0 70px;
      text-align: left;
    }
  
    li {
      color: #404349;
      font-size: 14px;
      list-style: none;
      padding: 15px 0 0 24px;
      position: relative;
  
      &::before {
        background: no-repeat 0 0 url('/img/pricing/checkmark.png');
        background-size: 16px;
        content: '';
        display: block;
        height: 16px;
        left: 0;
        position: absolute;
        top: 16px;
        width: 16px;
      }
    }
  
    .cta {
      padding-bottom: 30px;
      padding-top: 30px;
      bottom: 0;
      display: block;
      color: $blue;
      background: transparent;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 2px;
      position: absolute;
      text-transform: uppercase;
      transition: .3s transform, .3s color, .3s opacity;
      width: 100%;
    }
  
    a.cta {
      text-decoration: none;
      color: white;
      bottom: 5000px;
      transition: .3s transform, .3s color, .3s opacity, .3s bottom step-start;
  
      &::after {
        background: no-repeat 0 0 url('/img/pricing/arrow.png');
        background-size: 14px;
        height: 14px;
        width: 14px;
        display: inline-block;
        content: '';
        left: -7px;
        top: 1px;
        opacity: 0;
        transition: .3s opacity, .3s transform;
        position: relative;
      }
  
      &:hover {
        transform: translate3d(-5px, 16px, 0);
  
        &::after {
          opacity: 1;
          transform: translate3d(10px, 0, 0);
        }
      }
    }
  
  
    @media (max-width: $screen-xs-max)  {
      display: block;
      width: 80%;
      margin: 0 auto;
      padding-right: 5px;
      padding-left: 5px;
  
      ul {
        padding-left: 0;
        text-align: center;
  
        li {
          display: block;
          padding-left: 0;
  
          &::before {
            display: none;
          }
        }
      }
    }
  }
}

.pricing-survey{
  .modal-dialog{
    width:800px;
  }
  .modal-content{
    background-color:#f5f6f9;
  }

  .form-group{
    margin-left:auto;
    margin-right:auto;
    width:400px;
  }

  .matt-picture-small{
    width:40px;
    height:40px;
    border-radius:100px;
    border:1px solid white;
    float:left;
    margin-right:20px;
  }

  .matt-picture{
    width:200px;
    height:200px;
    border-radius:100px;
    border:1px solid white;
    float:left;
    margin-right:20px;
  }

  .matt-signature{
    width:160px;
    height:63px;
  }

  .matt-talking{
    margin-bottom:25px;
    font-size:16px;

    &.one-line{
      line-height:40px;
    }
  }

}

#pricing-actual-table{

    margin-top:40px;

    $mezzo-grey:    #858c94;

    .table-wrap {
      border-bottom: 1px solid #efebf2;
    }

    table {
      max-width: 800px;
      margin: 0 auto 104px;
      border-collapse: collapse;
      position: relative;

      tr{
        border-collapse:collapse;
      }

      &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 169px;
        content: '';
        border-radius: 4px;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.06);
      }

      thead {

        .title {
          color: $blue;
          font-size: 30px;
          font-weight: 700;
          letter-spacing: 2px;
          padding-top: 48px;
          position: relative;
          text-transform: uppercase;
          z-index: 1;
          margin-bottom: 0;
        }
      
        .title.green {
          padding-top: 30px;
          color: $green;
        }

        h2{
          margin-top:0px;
        }

        sub{
          font-size:50%;
        }

        td {
          width: 250px;
          border-bottom:0px;
        }

        th {
          font-weight: 500;
          text-align: center;
          padding-top: 20px;
          padding-bottom: 20px;
          border: 1px solid #e6ebf2;
          border-right-width: 0;
          border-bottom-width: 0;
          width: 264px;

          &:last-child {
            border-right-width: 1px;
          }
        }

        .blue {
          color: $blue;
        }

        strong {
          font-weight: 700;
        }
      }

      tbody {

        .section-header{
          background:#e6ebf2;
          th{
            height:32px;
            font-weight:600;
            padding-left:10px;
            border:1px solid #e6ebf2;
            background:#e6ebf2;
            div{
              display:inline;
            }
            span{
              font-weight:400;
            }
          }
        }

        th {
          font-weight: 500;
          color: $mezzo-grey;
          border-bottom: 1px dashed #e6ebf2;
          border-top: 0;
          vertical-align: middle;
          position: relative;
          bottom: -1px;
          font-size: 14px;
          padding-left: 0;
          position: relative;
          padding:0px;
          padding-left:10px;
          line-height:1;

          &.inner-feature{
            //padding-left:20px;
          }

          &.no-border{
            border-bottom:0px;
          }

          i {
            margin-left: 9px;
            color: #d2d6dd;
          }

          span {
            display: inline-block;
            padding: 10px 0;
          }

        }

        td {
          border: 1px solid #e6ebf2;
          text-align: center;
          border-right-width: 0;
          border-bottom-width: 0;
          height: 24px;
          vertical-align: middle;
          font-weight: 500;
          font-size: 14px;
          line-height: 14px;
          position: relative;
          padding:0px;

          &.empty {
            border: 0;
            box-shadow: none;
          }

          &.btn.ionic {
            display: table-cell;
            text-transform: none;
            font-weight: 500;
            letter-spacing: normal;
            font-size: 18px;
            border-color: #4b89ef;
            color:white;
            border-radius:0px;

            &:hover,
            &:active,
            &:focus {
              border-color: #1E5BBF;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            }
          }

          &:last-child {
            border-right-width: 1px;
          }

          span {
            color: #868c94;
            margin-left: 10px;
          }

          i {
            background-size: 16px;
            color: $green;
            font-size: 24px;
            line-height: 14px;
          }
        }

        .pointer{
          cursor:pointer;
        }

        tr:last-child td {
          height: 67px;
          font-size: 16px;

          &:not(.empty) {
            border-bottom-width: 1px;
          }
        }
      }

      thead tr:first-child th:nth-child(2) { border-top-left-radius: 4px; }
      thead tr:first-child th:last-child { border-top-right-radius: 4px; }
      tbody tr:last-child td:nth-child(2) { border-bottom-left-radius: 4px; }
      tbody tr:last-child td:last-child { border-bottom-right-radius: 4px; }
    }

  }
