#page-view {
  main {
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    .left,
    .right {
      margin: 0 auto;
    }

    .left {
      flex: 0 1 360px;
      padding-bottom: 50px;
    }

    h3 {
      margin-bottom: 20px;
      margin-top: 20px;
    }

    #logo {
      width: 264px;
      margin-bottom: 20px;
    }

    #stores {
      display: flex;
      flex-wrap: wrap;
    }

    #appstore-image,
    #playstore-image {
      img {
        width: 100%;
      }
    }

    #appstore-image {
      width: 148px;
      margin-right: 15px;
    }

    #playstore-image { 
      width: 177px;
    }

    .right {
      flex: 0 1 548px;

      img {
        max-width: 548px;
      }
    }
  }
}