#page-products-view {
  .top {
    position: relative;
    overflow: hidden;
    padding-top: 42px;
    min-height: 650px;

    @media (max-width: $screen-sm-max)  {
      min-height: 500px;
    }

    hgroup {
      padding-top: 112px;
      margin-right: 668px;
      background: url('/img/products/view/ionic-view-logo.png') 0 0 no-repeat;
      background-size: 184px;
      margin-top: 87px;
      margin-left: -1px;

      @media (max-width: $screen-md-max)  {
        margin-right: 600px;
      }
      
      @media (max-width: $screen-sm-max)  {
        margin-right: 390px;
      }

      @media (max-width: $screen-sm-max)  {
        margin-right: 0;
        position: relative;
        z-index: 1;
      }
    }

    h1 {
      letter-spacing: -.042em;
      font-weight: 600;
    }

    p {
      font-size: 18px;
      font-weight: 500;
      margin-top: 17px;
      display: inline-block;
      letter-spacing: -.03em;
      line-height: 32px;
    }

    .stores {
      font-size: 12px;
      font-weight: 600;
      margin-top: 25px;

      @media (max-width: $screen-xs-max)  {
        text-align: center;
      }

      .apple,
      .google {
        background: url('/img/products/view/app-store-btns.png') 0 0 no-repeat;
        background-size: 100%;
        width: 90px;
        height: 20px;
        margin-left: 17px;
        display: inline-block;
        vertical-align: -5px;
        transition: .2s opacity;

        &:hover {
          opacity: .6;
        }
      }

      .google {
        background-position: 0 bottom;
        margin-left: 8px;
      }
    }

    .graphics {
      position: absolute;
      top: 42px;
      right: 0;
      bottom: 0;
      width: 560px;

      @media (max-width: $screen-xs-max)  {
        
      }
      
      .iphone,
      .android {
        opacity: 0;
        transform: translateY(20px);
        animation: 1s fadeInDown;
        animation-fill-mode: forwards;
      }

      .iphone {
        background: url('/img/products/view/view-iphone.png') 0 0 no-repeat;
        background-size: 100%;
        width: 346px;
        height: 680px;
        position: absolute;
        right: 226px;
        top: 22px;
        
        @media (max-width: $screen-md-max)  {
          width: 231px;
          height: 453px;
          right: 150px;
        }

        @media (max-width: $screen-xs-max)  {
          width: 115px;
          height: 227px;
          right: 75px;
        }
      }

      .android {
        background: url('/img/products/view/view-pixel.png') 0 0 no-repeat;
        background-size: 100%;
        width: 360px;
        height: 700px;
        position: absolute;
        right: 12px;
        animation-delay: .2s;
        animation-duration: 1.5s;

        
        @media (max-width: $screen-sm-max)  {
          width: 240px;
          height: 467px;
        }
        
        @media (max-width: $screen-xs-max)  {
          width: 120px;
          height: 233px;
        }
      }
    }
  }

  .simple {
    background: #f6f8fc;

    .container {
      position: relative;
      padding-bottom: 211px;
      
      @media (max-width: $screen-xs-max)  {
        padding-bottom: 48px;
      }
    }

    hgroup {
      padding-top: 77px;
      text-align: center;
      max-width: 748px;
      margin: 0 auto 22px;

      h2 {
        font-size: 28px;
        font-weight: 600;
        letter-spacing: -.04em;
      }

      p {
        font-size: 18px;
        color: #51555d;
        margin-top: 30px;
        letter-spacing: -0.03em;
        line-height: 32px;
        font-weight: 500;
      }
    }

    ul {
      padding: 48px 14px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    li {
      list-style: none;
      flex: 0 1 224px;
      padding-top: 67px;
      position: relative;

      &::before {
        background: url('/img/products/view/feature-icons-sm.png') 0 0 no-repeat;
        background-size: 100%;
        height: 48px;
        width: 48px;
        content: '';
        display: block;
        position: absolute;
        top: 0;
      }

      &.sharing::before { background-position: 0 -48px; }
      &.feedback::before { background-position: 0 -96px; }
      &.native::before { background-position: 0 -144px; }

      strong {
        font-weight: 600;
        font-size: 18px;
        letter-spacing: -.02em;
        margin-bottom: 8px;
        display: inline-block;
      }

      p {
        color: #727a87;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.01em;
        font-weight: 500;
      }

      @media (max-width: $screen-sm-max)  {
        flex-basis: 330px;
        margin-bottom: 48px;
      }

      @media (max-width: $screen-xs-max)  {
        display: block;
        flex-basis: 100%;
        text-align: center;

        &::before {
          left: calc(50% - 24px);
        }
      }
    }

    #phone-tilt {
      background: url('/img/products/view/tilt-iphone.png') 0 0 no-repeat;
      background-size: 100%;
      width: 840px;
      height: 280px;
      margin: 0 auto;
      position: absolute;
      left: calc(50% - 402px);
      bottom: -73px;
      transform: rotateX(-30deg);

      &.active {
        animation: 2s tiltIn;
        animation-fill-mode: forwards;
      }

      @media (max-width: $screen-xs-max)  {
        width: 420px;
        height:140px;
        left: calc(50% - 200px);
        bottom: -32px;
      }
    }
  }

  section.left,
  section.right {
    .container { position: relative; }

    hgroup {
      padding-top: 208px;
      padding-bottom: 151px;
      width: calc(50% - 147px);
      position: relative;

      @media (max-width: $screen-sm-max)  {
        width: calc(50% - 48px);
      }

      &::before {
        background: url('/img/products/view/feature-icons-lg.png') 0 0 no-repeat;
        background-size: 100%;
        height: 64px;
        width: 64px;
        content: '';
        position: absolute;
        top: 126px;
        display: block;
      }

      &::after {
        content: '';
        clear: both;
        display: table;
      }

      h2 {
        font-weight: 600;
        font-size: 26px;
        letter-spacing: -.01em;
        margin-bottom: 30px;
      }

      p {
        font-size: 18px;
        color: #51555d;
        letter-spacing: -.015em;
        line-height: 32px;
        font-weight: 500;

        strong {
          font-weight: 500;
        }
      }
    }

    .graphics {
      background: url('/img/products/view/feature-img-share.png') 0 50% no-repeat;
      background-size: 100%;
      width: 470px;
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      opacity: 0;
      filter: blur(10px);
      transition: .4s opacity, .4s filter;

      &.active {
        opacity: 1;
        filter: blur(0);
      }

      @media (max-width: $screen-sm-max)  {
        right: -20%;
      }
    }

    &.testers { 
      background: linear-gradient(to right, 
        #fff 0%,#fff 50%,#20a0ff 50%,#20a0ff 100%);
    }

    &.choose {
      background: linear-gradient(to left, 
        #fff 0%,#fff 50%,#e6ecf4 50%,#e6ecf4 100%);
      
      hgroup::before { background-position: 0 -64px; }

      .graphics {
        background-image: url('/img/products/view/feature-img-testers.png');
        width: 480px;
      }
    }

    &.feedback {
      background: linear-gradient(to right, 
        #fff 0%,#fff 50%,#3f84ff 50%,#3f84ff 100%);
      
      hgroup::before { background-position: 0 -128; }
      
      .graphics {
        background-image: url('/img/products/view/feature-img-feedback.png');
        background-position: 0 100%;
      }
    }

    &.experience { 
      background: linear-gradient(to left, 
        #fff 0%,#fff 50%,#0b1526 50%,#0b1526 100%);
      
      hgroup::before { background-position: 0 -192px; }
      
      .graphics {
        background-image: url('/img/products/view/feature-img-experience.png');
        background-position: 0 100%;
      }
    }

    @media (max-width: $screen-xs-max)  {
      &.testers,
      &.choose,
      &.feedback,
      &.experience {
        background: transparent;
      }

      hgroup {
        width: 100%;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 50px;

        &::before {
          top: 0;
          left: calc(50% - 32px);
        }
      }

      &.testers hgroup {
        margin-top: 64px;
      }

      .graphics {
        display: none;
      }
    }
  }

  section.right {
    hgroup {
      float: right;
    }

    .graphics {
      right: auto;
      left: 0;

      @media (max-width: $screen-sm-max)  {
        left: -20%;
      }
    }
  }

  .get-started {
    background: url('/img/products/view/pre-footer-bg.jpg') 0 0 no-repeat;
    background-size: cover;

    .container {
      display: flex;
      padding-top: 101px;
      padding-bottom: 102px;
      flex-wrap: wrap;
      align-items: center;

      &::before,
      &::after {
        display: none;
      }

      @media (max-width: $screen-sm-max)  {
        text-align: center;
      }
    }

    hgroup,
    .btns {
      display: inline-block;
    }

    hgroup {
      flex-grow: 1;
    }

    h2 {
      color: white;
      font-size: 29px;
      letter-spacing: -.032em;
      margin-top: 14px;
    }

    p {
      color: #003e82;
      font-size: 23px;
      letter-spacing: -.01em;
      margin-bottom: 5px;
    }

    .btns {
      .btn {
        padding: 12px 16px;
        font-size: 16px;
        font-weight: 600;
  
        &:last-child {
          margin-right: -5px;
        }


        @media (max-width: $screen-xs-max)  {
          text-align: center;
          display: block;
          margin: 16px auto;
        }
      }
      @media (max-width: $screen-sm-max)  {
        width: 100%;
      }
    }
  }

  #downloadForm,
  .modal-backdrop {
    top: 116px;
  }

  #downloadForm {
    .modal-body {
      position: relative;

      &::before {
        background: url('/img/products/view/view-balloon.png') 0 0 no-repeat;
        background-size: 100%;
        height: 300px;
        width: 200px;
        content: '';
        position: absolute;
        bottom: 0;
        right: 17px;
      }
    }

    hgroup {
      margin-top: 137px;
      padding-top: 44px;
      width: 330px;
      position: relative;
      padding-bottom: 8px;

      &::before {
        background: url('/img/products/view/download-view-icon.png') 0 0 no-repeat;
        background-size: 100%;
        height: 40px;
        width: 40px;
        content: '';
        position: absolute;
        top: 0;
      }
    }

    h3 {
      margin-bottom: 12px;
      font-size: 19px;
    }

    p {
      font-size: 15px;
      line-height: 24px;
    }

    form {
      margin-top: 20px;
    }

    input {
      width: 100%;
      float: none;
      border-width: 1px;
      border-radius: 4px;
      border-color: #e4e8f0;
      font-size: 13px;
      margin-bottom: 0px;
    }

    .btn {
      width: 100%;
      margin-top: 8px;
      float: none;
    }
  }

  &.modal-open {
    .modal-backdrop {
      background: rgba(255,255,255,0.95);
      transition-duration: .3s;
      
      &.in {
        opacity: 1;
        transition-delay: 0;
      }
    }

    > .top,
    section {
      -ms-filter: blur(5px);
      filter: blur(5px);
    }
  }

  > .top,
  section {
    transition: .4s filter;
  }
}