@import '../../vars';
@import '../../bootstrap/variables';

#page-products-enterprise-engine {
  .sub-header .btn {
    color: #1A232F;
    background-color: #FF9982;
    font-weight: bold;
    line-height: normal;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;

    &:hover {
      background-color: lighten(#FF9982, 8%);
    }
  }

  h3,
  h2,
  p.large {
    letter-spacing: -0.01em;
  }

  p {
    font-weight: 400;

    &:not(.large) {
      font-family: $font-family-graphik;
    }
  }

  main {
    overflow: visible;
  }

  main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .page-nav {
    display: flex;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: center;
    margin-top: -40px;
    padding-top: 8px;
    z-index: 999999;

    &__inner {
      background: #fff;
      box-shadow: 0px 2px 8px rgba(2, 8, 20, 0.03), 0px 8px 16px rgba(2, 8, 20, 0.04);
      border-radius: 8px;
      max-width: 972px;
      width: 100%;

      ul {
        display: flex;
      }

      li {
        flex: 1;
        display: inline-block;
      }

      li + li {
        border-left: 1px solid #E9EDF3;
      }

      a {
        transition: 0.3s all;
        width: 100%;
        height: 100%;
        transition: color 0.2s;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 20px 40px 16px;
        color: #4E5B6A;
        font-size: 12px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        font-weight: 600;
        font-family: $font-family-eina;
        text-decoration: none;
        border-bottom: 2px solid transparent;
      }

      a:hover,
      a.active {
        color: #000;
      }

      a.active {
        border-bottom: 2px solid #FF9982;
      }
    }

    &.active .page-nav__inner a:not(.active) {
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }
  .page-nav__icon {
    display: inline-flex;

    &::before {
      content: '';
      display: block;
      flex: 0 0 29px;
      height: 29px;
      background-image: url('/img/products/enterprise-engine/enterprise-engine-nav-sprite.png');
      background-repeat: no-repeat;
      background-size: 29px 116px;
      margin-right: 16px;
      position: relative;
      top: -3px;
    }

    &--framework::before {
      background-position: 0 0;
    }
    &--native::before {
      background-position: 0 -29px;
    }
    &--solutions::before {
      background-position: 0 -58px;
    }
    &--services::before {
      background-position: 0 -87px;
    }
  }

  .top {
    margin-top: -218px;
    padding-top: 272px;
    padding-bottom: 138px;
    background: #F8FAFD;
    position: relative;
    z-index: 0;
    background-image: url('/img/products/enterprise-engine/enterprise-engine-hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

    hgroup {
      position: relative;
      z-index: 2;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      h4 {
        line-height: 25px;
        font-size: 12px;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        color: #5B708B;
        font-family: $font-family-monospace;
        margin-bottom: 0;
      }

      h1 {
        line-height: 60px;
        font-size: 54px;
        letter-spacing: -0.03em;
        color: #000000;
        max-width: 420px;
        margin-top: 14px;
      }

      p {
        font-size: 20px;
        color: #5B708B;
        line-height: 30px;
        margin: 0;
        max-width: 520px;
      }

      .btn {
        margin-top: 24px;
        color: #fff;
        background: #3880FF;
        box-shadow: 0px 0px 2px rgba(0, 20, 56, 0.14), 0px 2px 3px rgba(0, 20, 56, 0.08);
        border-radius: 84px;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.06em;
        padding: 19px 25px 16px;

        &:hover {
          background-color: lighten(#3880FF, 2%);
        }
      }

      @media (max-width: $screen-sm) {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
      }

      @media (max-width: $screen-xs) {
        h1 {
          font-size: 40px;
        }

        p {
          line-height: 30px;
          font-size: 20px;
        }
      }
    }

    @media (max-width: $screen-sm) {
      padding-top: 190px;
      padding-bottom: 94px;
    }


  }

  main {
    section {
      padding-top: 140px;
      padding-bottom: 140px;
    }

    .container {
      position: relative;
    }

    .measure {
      max-width: 612px;
    }

    h3 {
      color: #616E7E;
      font-size: 20px;
      line-height: 1;
      margin-bottom: 0;
      margin-top: 0;
      font-weight: 600;
    }

    h2 {
      color: #020814;
      line-height: 63px;
      font-size: 56px;
      margin-top: 24px;
      margin-bottom: 24px;
      font-weight: 600;
      letter-spacing: -0.04em;
    }

    p.large {
      line-height: 33px;
      font-size: 20px;
      letter-spacing: -0.01em;
      color: #020814;

      em {
        font-style: normal;
        color: #2F3A48;
      }
    }

  }

  .overview {
    .container {
      display: flex;

      h3 {
        line-height: 40px;
        font-size: 28px;
        letter-spacing: -0.02em;
        color: #616E7E;

        em {
          font-style: normal;
          color: #020814;
        }
      }

      img {
        width: 100%;
        height: auto;
        margin-top: 40px;
      }

      & > div:first-child {
        flex: 0 0 50%;
        padding-right: 90px;
      }
      
      & > div:last-child {
        flex: 0 0 50%;
      }

      @media (max-width: $screen-md) {
        flex-direction: column;

        & > div {
          max-width: 624px;
          margin-left: auto;
          margin-right: auto;
        }

        & > div:first-child {
          flex: 0 0 100%;
          padding-right: 0px;
          text-align: center;

          img {
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
          }
        }

        & > div:last-child {
          margin-top: 40px;
          flex: 0 0 100%;
        }
      }
    }
  }

  .chart {
    h5 {
      text-align: center;
      font-family: $font-family-monospace;
      color: #020814;
      line-height: 25px;
      font-size: 12px;
      text-align: center;
      letter-spacing: 0.14em;
      text-transform: uppercase;
      position: relative;

      span {
        z-index: 2;
        position: relative;
        background: #fff;
        padding: 0 12px;
        display: inline-block;
      }

      &:before {
        width: 100%;
        height: 12px;
        display: block;
        content: '';
        border-top: 1px solid #D2DBE6;
        border-left: 1px solid #D2DBE6;
        border-right: 1px solid #D2DBE6;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
      }
    }

    h6 {
      font-weight: 600;
      // text-align: center;
      margin-top: 18px;
      font-size: 13px;
      color: #414D5C;
    }

    .checkmark-list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: -8px;

      li {
        flex: 0 0 33%;
        margin-bottom: 8px;
      }
    }

    @media (max-width: $screen-lg) {
      .checkmark-list li {
        flex: 0 0 50%;
      }
    }
  }

  .chart__box {
    padding: 20px;
    border: 1px solid #D2DBE6;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 24px;
  }

  .chart__card-list {
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
  }

  .chart__card {
    flex: 1;
    min-height: 108px;
    margin: 8px;
    padding: 20px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(2, 8, 20, 0.06), 0px 1px 2px rgba(2, 8, 20, 0.08);
    border-radius: 8px;
    color: #020814;
    font-weight: 600;
    line-height: 17px;
    font-size: 14px;
    font-family: $font-family-eina;
  }

  .platform-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px;

    li {
      font-weight: 500;
      line-height: normal;
      font-size: 9px;
      text-align: center;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #92A1B3;
    }

    .platform {
      display: flex;
      flex-direction: column;
      align-items: center;

      &::before {
        display: inline-block;
        content: '';
        height: 32px;
        width: 32px;
        background-image: url('/img/products/enterprise-engine/enterprise-engine-platform-sprite.png');
        background-repeat: no-repeat;
        background-size: 32px 160px;
        margin-bottom: 4px;
      }

      &--ios::before {
        background-position: 0 0;
      }

      &--android::before {
        background-position: 0 -32px;
      }

      &--electron::before {
        background-position: 0 -64px;
      }

      &--pwa::before {
        background-position: 0 -96px;
      }

      &--browser::before {
        background-position: 0 -128px;
      }

    }
  }

  .checkmark-list {
    &--small {
      li {
        line-height: 13px;
        font-size: 12px;
        color: #5B708B;
        display: flex;
      }

      ion-icon {
        font-size: 15px;
        color: #FF9982;
        flex: 0 0 15px;
        margin-right: 6px;
      }
    }
  }

  .integrations {
    position: relative;
    height: 660px;
  }

  .integrations__identity-vault,
  .integrations__aws-amplify,
  .integrations__couchbase,
  .integrations__active-directory {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    color: #5B708B;

    i {
      border-radius: 999px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 2px 8px rgba(2, 8, 20, 0.1), 0px 8px 16px rgba(2, 8, 20, 0.08);
      background-color: #fff;
      margin-bottom: 14px;
    }

    i::before {
      content: '';
      display: block;
      background-image: url('/img/products/enterprise-engine/enterprise-engine-integrations-sprite.png');
      background-repeat: no-repeat;
      background-size: 112px 294px;
      background-position: center center;
    }
  }

  .integrations__identity-vault {
    top: 0;
    left: 242px;

    i {
      width: 124px;
      height: 124px;
    }
    i::before {
      width: 56px;
      height: 56px;
      background-position: 0 -151px;
    }
  }

  .integrations__aws-amplify {
    top: 172px;
    left: 0;

     i {
       width: 192px;
       height: 192px;
     }
    i::before {
      width: 112px;
    	height: 84px;
      background-position: 0 0;
    }
  }

  .integrations__couchbase {
    top: 290px;
    left: 354px;

    i {
      width: 124px;
      height: 124px;
    }
    i::before {
      width: 64px;
      height: 65px;
      background-position: 0 -85px;
    }
  }

  .integrations__active-directory {
    top: 500px;
    left: 172px;

    i {
      width: 160px;
      height: 160px;
    }
    i::before {
      width: 83px;
      height: 84px;
      background-position: 0 -210px;
    }
  }

  @media (max-width: $screen-lg) {
    .integrations__identity-vault {
      left: 212px;
    }

    .integrations__couchbase {
      left: 284px;
    }

    .integrations__active-directory {
      left: 119px;
    }
  }

  @media (max-width: $screen-md) {
    .integrations {
      flex: none;
      height: 362px;
      width: 586px;
      margin-bottom: 40px;
    }

    .integrations__identity-vault {
      left: 232px;
    }

    .integrations__aws-amplify {
      top: 82px;
    }

    .integrations__couchbase {
      left: 251px;
      top: 188px;
    }

    .integrations__active-directory {
      left: 416px;
      top: 70px;
    }
  }

  @media (max-width: $screen-sm) {
    .integrations {
      position: absolute;
      top: -70px;
      left: 50%;
      transform-origin: center center;
      transform: translateX(-50%) scale(0.8);
    }

    .integrations + div {
      margin-top: 300px;
    }
  }

  @media (max-width: $screen-sm) {
    .integrations {
      top: -90px;
      transform: translateX(-50%) scale(0.6);
    }

    .integrations + div {
      margin-top: 260px;
    }
  }

}
