@import '../../vars';
@import '../../bootstrap/variables';

#page-products-enterprise-engine {
  .sub-header .btn {
    color: #1A232F;
    background-color: #FF9982;
    font-weight: bold;
    line-height: normal;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;

    &:hover {
      background-color: lighten(#FF9982, 8%);
    }
  }

  h3,
  h2,
  p.large {
    letter-spacing: -0.01em;
  }

  p {
    font-weight: 400;

    &:not(.large) {
      font-family: $font-family-graphik;
    }
  }

  main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .top {
    margin-top: -148px;
    padding-top: 260px;
    padding-bottom: 180px;
    background: #182434;
    position: relative;
    z-index: 0;

    &:before {
      content: '';
      display: block;
      background-image: url('/img/products/enterprise-engine/enterprise-engine-hero-bg.png');
      background-repeat: no-repeat;
      background-size: 1096px 760px;
      width: 1096px;
      height: 760px;
      position: absolute;
      bottom: 0;
      right: 50%;
      margin-right: -820px;
      z-index: 1;
    }

    hgroup {
      position: relative;
      z-index: 2;
      color: #fff;
      max-width: 624px;

      h4 {
        line-height: 25px;
        font-size: 12px;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        color: #CED6E0;
        font-family: $font-family-monospace;
      }

      h1 {
        font-size: 48px;
        letter-spacing: -0.03em;
      }

      p {
        line-height: 39px;
        font-size: 22px;
        color: #CED6E0;
      }

      .btn {
        margin-top: 24px;
        color: #182434;
        background-color: #FF9982;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.06em;
        padding: 19px 25px 16px;

        &:hover {
          background-color: lighten(#FF9982, 8%);
        }
      }

      @media (max-width: $screen-sm) {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }

      @media (max-width: $screen-xs) {
        h1 {
          font-size: 40px;
        }

        p {
          line-height: 30px;
          font-size: 20px;
        }
      }
    }

    @media (max-width: $screen-sm) {
      padding-top: 190px;
      padding-bottom: 94px;
    }


  }

  main {
    section {
      padding-top: 180px;
      padding-bottom: 180px;

      &:nth-child(1) {
        border-bottom: 2px solid #EEF2F7;
      }

      &.offwhite {
        background-color: #F6F8FB;
      }
    }

    .container {
      position: relative;
    }

    .container + .container {
      margin-top: 240px;
    }

    hgroup {
      margin-bottom: 100px;
    }

    .measure {
      max-width: 612px;
    }

    .center {
      text-align: center;
    }

    h3 {
      color: #92A1B3;
      font-size: 24px;
      margin-bottom: 0;
      margin-top: 0;
      font-weight: 600;
    }

    h2 {
      color: #020814;
      font-size: 36px;
      margin-top: 10px;
      margin-bottom: 16px;
      font-weight: 700;
    }

    p.large {
      line-height: 39px;
      font-size: 22px;
      color: #5B708B;

      em {
        font-style: normal;
        color: #2F3A48;
      }
    }

    @media (max-width: $screen-md) {
      section {
        padding-top: 112px;
        padding-bottom: 130px;
      }

      hgroup {
        margin-bottom: 0;
      }

      h3 {
        font-size: 28px;
      }

      h2 {
       font-size: 32px;
      }

      .container + .container {
        margin-top: 200px;
      }
    }

    @media (max-width: $screen-sm) {
      hgroup {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }

      .container + .container {
        margin-top: 144px;
      }
    }

    @media (max-width: $screen-xs) {
      section {
        padding-top: 82px;
        padding-bottom: 90px;
      }
    }
  }

  .feature-table {
    width: 100%;
    tr td {
      border-top: 2px solid #F2F5FA;
    }

    tr:first-child td {
      border-top: 0;
    }

    tr td:nth-child(1) {
      font-size: 20px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      font-weight: 600;
      display: flex;

      svg {
        margin-right: 16px
      }
    }

    tr td:nth-child(2) {
      font-size: 18px;
      color: #5B708B;
    }

    tr td:nth-child(3) {
      color: #5B708B;
    }

    tr td {
      padding: 32px 48px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    @media (max-width: $screen-md) {
      tr {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 18px;
      }

      tr td:first-child {
        flex: 0 0 100%;
        padding-top: 48px;
      }

      tr td:not(:first-child) {
        flex: 0 0 100%;
        border-top: 0;
        padding-top: 0;
        padding-left: 0;
        max-width: 420px;
      }
    }
    @media (max-width: $screen-sm) {
      tr {
        max-width: 420px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .checkmark-list {
    margin-bottom: -26px;

    li {
      position: relative;
      display: flex;
    }

    li:before {
      position: relative;
      display: block;
      content: '';

    }

    & > li {
      margin-bottom: 26px;
    }

    & > li:before {
      background-image: url('/img/checkmark-medium-gray.svg');
      background-size: 20px 20px;
      height: 20px;
      width: 20px;
      flex: 0 0 20px;
      margin-right: 16px;
    }

    li ul {
      margin-top: 20px;
    }

    li ul > li {
      line-height: 17px;
      font-size: 12px;
      position: relative;

      &:before {
        background-image: url('/img/checkmark.svg');
        background-size: 10px 8px;
        height: 8px;
        width: 10px;
        flex: 0 0 10px;
        top: 2px;
        margin-right: 8px;
        opacity: 0.6;
      }

      & + li {
        margin-top: 14px;
      }
    }

    &.large {
      line-height: 33px;
      font-size: 20px;
      color: #5B708B;
    }

    &.large li:before{
      top: 4px;
    }

    &--large li:before {
      width: 24px;
      height: 24px;
      flex: 0 0 24px;
      background-size: 24px 24px;
      margin-right: 20px;
    }

    &.two-col {
      display: flex;
      flex-wrap: wrap;

      margin-left: -30px;
      margin-right: -30px;

       li {
         flex: 0 0 50%;
         padding-left: 30px;
         padding-right: 30px;
       }
    }

    hgroup {
      margin: 0 0 16px;

      h5 {
        margin: 0;
        font-weight: 600;
        line-height: 20px;
        font-size: 16px;
        color: #3C536F;
      }

      p {
        line-height: 23px;
        font-size: 14px;
        color: #92A1B3;
      }
    }

    @media (max-width: $screen-md) {
      &.large {
        line-height: 30px;
        font-size: 18px;
        margin-top: 60px;
      }
    }

    @media (max-width: $screen-sm) {
      &.two-col {
        max-width: 420px;
        margin-left: auto;
        margin-right: auto;

        li {
          flex: 0 0 100%;
        }
      }

      hgroup {
        text-align: left;
        margin-bottom: 0;

        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .two-col {
    display: flex;

    & > div {
      flex: 0 0 50%;
    }

    .feature-list {
      flex: 0 0 55%;
      padding-right: 50px;
    }

    .checkmark-list {
      flex: 0 0 45%;
      padding-left: 50px;
    }

    @media (max-width: $screen-md) {
      .checkmark-list {
        margin-top: 40px;
      }
    }

    @media (max-width: $screen-sm) {
      .feature-list {
        padding-right: 0;
      }

      .checkmark-list {
        padding-left: 0;
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  @media (max-width: $screen-md) {
    .two-col:not(.checkmark-list) {
      flex-direction: column;

      & > div {
        flex: 0 0 100%;
      }
    }
  }

  .feature-list {
    li {
      display: flex;
    }

    .feature-icon {
      flex: 0 0 48px;
      margin-right: 36px;
    }

    hgroup {
      margin: 0;
    }

    h4 {
      font-size: 24px;
      line-height: 1.2;
      font-weight: 600;
      margin-bottom: 18px;
    }

    p {
      margin: 0 0 6px;
      line-height: 32px;
      font-size: 18px;
      color: #5B708B;
    }

    li + li {
      margin-top: 68px;
    }

    @media (max-width: $screen-md) {
      margin-top: 60px;

      li + li {
        margin-top: 50px;
      }
    }

    @media (max-width: $screen-sm) {
      padding-right: 0;
      margin-top: 30px;
      max-width: 480px;
      margin-left: auto;
      margin-right: auto;

      .feature-icon {
        margin-right: 0;
        margin-bottom: 15px;
      }

      li {
        align-items: center;
        display: flex;
        flex-direction: column;
      }
    }

    @media (max-width: $screen-xs) {
      h4 {
        font-size: 20px;
      }

      p {
        line-height: 28px;
        font-size: 16px;
      }
    }
  }

  .feature-list--small {
    li {
      flex-direction: column;
    }

    .feature-icon {
      margin-bottom: 20px;
    }

    h4 {
      font-size: 20px;
      color: #020814;
    }

    p {
      line-height: 26px;
      font-size: 16px;
      color: #5B708B;
    }
  }

  .three-col {
    display: flex;

    li {
      flex: 0 0 33%;
      margin: 0;
      padding: 0 32px;
    }

    li + li {
      margin-top: 0;
    }

    li:first-child {
      padding-left: 0;
    }
    li:last-child {
      padding-right: 0;
    }

    @media (max-width: $screen-sm) {
      flex-direction: column;

      li {
        flex: 0 0 100%;
        padding: 0;
      }

      li + li {
        margin-top: 30px;
      }
    }
  }

  .integrations {
    position: relative;
    height: 660px;
  }

  .integrations__identity-vault,
  .integrations__aws-amplify,
  .integrations__couchbase,
  .integrations__active-directory {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    color: #5B708B;

    i {
      border-radius: 999px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 2px 8px rgba(2, 8, 20, 0.1), 0px 8px 16px rgba(2, 8, 20, 0.08);
      background-color: #fff;
      margin-bottom: 14px;
    }

    i::before {
      content: '';
      display: block;
      background-image: url('/img/products/enterprise-engine/enterprise-engine-integrations-sprite.png');
      background-repeat: no-repeat;
      background-size: 112px 294px;
      background-position: center center;
    }
  }

  .integrations__identity-vault {
    top: 0;
    left: 242px;

    i {
      width: 124px;
      height: 124px;
    }
    i::before {
      width: 56px;
      height: 56px;
      background-position: 0 -151px;
    }
  }

  .integrations__aws-amplify {
    top: 172px;
    left: 0;

     i {
       width: 192px;
       height: 192px;
     }
    i::before {
      width: 112px;
    	height: 84px;
      background-position: 0 0;
    }
  }

  .integrations__couchbase {
    top: 290px;
    left: 354px;

    i {
      width: 124px;
      height: 124px;
    }
    i::before {
      width: 64px;
      height: 65px;
      background-position: 0 -85px;
    }
  }

  .integrations__active-directory {
    top: 500px;
    left: 172px;

    i {
      width: 160px;
      height: 160px;
    }
    i::before {
      width: 83px;
      height: 84px;
      background-position: 0 -210px;
    }
  }

  @media (max-width: $screen-lg) {
    .integrations__identity-vault {
      left: 212px;
    }

    .integrations__couchbase {
      left: 284px;
    }

    .integrations__active-directory {
      left: 119px;
    }
  }

  @media (max-width: $screen-md) {
    .integrations {
      flex: none;
      height: 362px;
      width: 586px;
      margin-bottom: 40px;
    }

    .integrations__identity-vault {
      left: 232px;
    }

    .integrations__aws-amplify {
      top: 82px;
    }

    .integrations__couchbase {
      left: 251px;
      top: 188px;
    }

    .integrations__active-directory {
      left: 416px;
      top: 70px;
    }
  }

  @media (max-width: $screen-sm) {
    .integrations {
      position: absolute;
      top: -70px;
      left: 50%;
      transform-origin: center center;
      transform: translateX(-50%) scale(0.8);
    }

    .integrations + div {
      margin-top: 300px;
    }
  }

  @media (max-width: $screen-sm) {
    .integrations {
      top: -90px;
      transform: translateX(-50%) scale(0.6);
    }

    .integrations + div {
      margin-top: 260px;
    }
  }

  .call-to-action {
    padding-top: 140px;

    .container {
      max-width: 748px;
    }

    hgroup {
      margin: 0;
      padding: 0;

      p {
        font-weight: 400;
        font-size: 28px;
        text-align: center;
        color: #5B708B;
      }

      strong {
        color: #2F3A48;
        font-weight: 600;
      }

      h4 {
        font-weight: 600;
        font-size: 24px;
        color: #FF9982;
        margin: 60px 0;
      }
    }

    @media (max-width: $screen-sm) {
      hgroup p {
        font-size: 24px;
      }
    }

    @media (max-width: $screen-xs) {
      padding-top: 82px;
    }
  }

  $feature-icon-size: 48px;

  .feature-icon {
    width: $feature-icon-size;
    height: $feature-icon-size;
    display: block;
    background-image: url('/img/products/enterprise-engine/enterprise-engine-icon-sprite.png');
    background-repeat: no-repeat;
    background-size: 48px 480px;

    &--go-to-market {
      background-position:  0 0;
    }

    &--cross-platform {
      background-position:  0 $feature-icon-size * -1;
    }

    &--future-proofed {
      background-position:  0 $feature-icon-size * -2;
    }

    &--native-power {
      background-position:  0 $feature-icon-size * -3;
    }

    &--integrations {
      background-position:  0 $feature-icon-size * -4;
    }

    &--advisory {
      background-position:  0 $feature-icon-size * -5;
    }

    &--training {
      background-position:  0 $feature-icon-size * -6;
    }

    &--stability {
      background-position:  0 $feature-icon-size * -7;
    }

    &--complete-native {
      background-position:  0 $feature-icon-size * -8;
    }

    &--help {
      background-position:  0 $feature-icon-size * -9;
    }
  }

  .logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 160px;
    margin-left: -24px;
    margin-right: -24px;

    .logo {
      flex: 0 0 auto;
      margin: 0 24px 30px;
      background-image: url('/img/products/enterprise-engine/enterprise-engine-logo-sprite.png');
      background-repeat: no-repeat;
      background-size: 176px 168px;

      &--aaa {
        background-position: 0 0;
        width: 72px;
        height: 42px;
      }

      &--amtrak {
        background-position: 0 -44px;
        width: 176px;
        height: 20px;
      }

      &--ge {
        background-position: 0 -66px;
        width: 48px;
        height: 48px;
      }

      &--worldpay {
        background-position: 0 -116px;
        width: 132px;
        height: 30px;
      }

      &--mapfre {
        background-position: 0 -148px;
        width: 136px;
        height: 20px;
      }
    }

    @media (max-width: $screen-sm) {
      margin-top: 80px;
      max-width: 570px;
      margin-left: auto;
      margin-right: auto;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media (max-width: $screen-xs) {
      flex-direction: column;
    }
  }
}
