@import '../../vars';
@import '../../mixins';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/variables';

#page-products-studio {
  height: auto !important;

  ionic-sub-header a.btn {
    padding: 6px 8px 5px;
    font-size: 11px;
    font-weight: 600;
    vertical-align: 0;
    letter-spacing: .04em;
    margin-right: 3px;
    margin-left: 9px;
    transition: .3s box-shadow,.3s background;

    &:hover,
    &:focus {
      color: white;
      border-color: lighten($blue, 3);
      background: rgba($blue, .1);
    }
  }

  .top {
    margin-top: -148px;
    padding-top: 235px;
    text-align: center;
    background: linear-gradient(180deg, #121417 0%, #06090D 100%);

    h4 {
      font-family: $font-family-monospace;
      font-weight: bold;
      line-height: 23px;
      font-size: 12px;
      letter-spacing: 0.14em;
      text-transform: uppercase;
      color: #92A1B3;
    }

    h1,
    h3,
    hgroup p {
      color: #fff;
      letter-spacing: -0.01em;
    }

    h1 {
      font-size: 56px;
      margin-top: 41px;
      margin-bottom: 22px;
      letter-spacing: -0.02em;
    }

    hgroup {
      max-width: 750px;
      margin-bottom: 27px;

      h3 {
        font-size: 36px;
        letter-spacing: -0.01em;
      }

      p {
        line-height: 38px;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 40px;
        color: #b2becd;
        font-family: $font-family-eina;

        strong {
          font-weight: 600;
          margin-bottom: 0 !important;
        }
      }
    }

    .btns {
      .btn {
        padding: 16px 20px 14px;
        font-size: 15px;
        margin-right: 6px;
        letter-spacing: .1em;
        border-width: 2px;

        @media (max-width: $screen-sm) {
          margin-bottom: 16px;
        }
      }

      ion-icon {
        vertical-align: -3px;
        height: 15px;
        width: 15px;
        display: inline-block;

        svg {
          width: 18px;
          height: 18px;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    section {
      overflow: hidden;
      
      video {
        box-shadow: 0px 16px 64px rgba(0,0,0,1);
      }

      video,
      .screenshot,
      .screenshot-group {
        border-radius: 8px;
        margin: 96px -78px 128px;
        max-width: calc(100% + 155px);
      }

      .screenshot-group {
        position: relative;

        img {
          max-width: 100%;
        }

        img:not(:first-child) {
          position: absolute;
          top: 0;
          left: 0;
          animation: 10s crossFadeInOut infinite;
        }
      }
    }

    hgroup {
      h4,
      h1,
      p,
      .btn {
        animation: 1s fadeInUp forwards;
        opacity: 0;
      }

      h4 { animation-delay: .4s; }
      h1 { animation-delay: 0.6s; }
      p { animation-delay: .9s; }
      .btn { animation-delay: 1.1s; }
      .btn:last-child { animation-delay: 1.2s; }
    }

    p a {
      color: white;
    }

    video,
    .screenshot-group {
      animation: 1s fadeIn forwards 1.8s;
      opacity: 0;
    }
  }

  main section {
    padding-top: 178px;
    letter-spacing: -0.01em;

    &.solid {
      background: #14171C;

    }

    hgroup {
      max-width: 786px;

      h2 {
        line-height: normal;
        font-size: 48px;
        letter-spacing: -0.03em;
        margin-bottom: 22px;
      }

      p {
        font-family: $font-family-eina;
        font-size: 22px;
        line-height: 39px;

        strong {
          padding-left: 0;
          margin-bottom: 0;
        }
      }

      &.centered {
        text-align: center;
        margin: 0 auto 92px;
        max-width: 800px;

        hgroup {
          max-width: 814px;

          p {
            line-height: 26px;
            margin-top: 32px;
          }
        }
      }
    }

    video {
      box-shadow: 0px 16px 64px rgba(0,0,0,1);
    }

    video,
    .screenshot {
      max-width: 100%;
      margin: 72px auto 140px;
      border-radius: 8px;
    }

    h2 {
      color: #fff;
    }
  }

  main section,
  .top section {
    margin-top: -1px;

    h3 {
      line-height: normal;
      font-size: 36px;
      letter-spacing: -0.014em;
      color: #fff;
      margin-bottom: 80px;
    }

    ul {
      display: flex;
      list-style: none;
      padding: 0;
      justify-content: space-between;
      margin-bottom: 182px;

      @media (max-width: $screen-sm) {
        flex-direction: column;
      }

      &.quatro {
        li  {
          flex: 0 1 244px;

          @media (max-width: $screen-lg) {
            flex: 0 0 210px;
          }
        }

        strong {
          padding: 0;
          padding-top: 51px;
        }

        p {
          margin-top: 0;
          line-height: 29px;
        }
      }
    }

    strong {
      font-family: $font-family-eina;
      font-size: 20px;
      color: #fff;
      font-weight: 600;
      margin-bottom: 12px;
      display: inline-block;
      padding-left: 39px;
    }

    li {
      position: relative;
      padding-top: 0;
      text-align: left;
      flex: 0 0 326px;
      @include sprite(
        'ui'
        'no-docs'
        'secure'
        'drag'
        'properties'
        'backend'
        'live'
        'native'
        'device'
        'assets'
        'theme'
        'cordova'
        'ci',
       26, ' strong::before');

      @media (max-width: $screen-lg) {
        flex-basis: calc(33% - 24px);
      }

      @media (max-width: $screen-sm) {
        flex-basis: 100%;
        margin-bottom: 32px;
      }

      strong::before {
        background: url('/img/products/studio/ico-features-sm.png') no-repeat 0 0;
        background-size: 26px;
        width: 26px;
        height: 26px;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
      }

      &:nth-child(2) {
        // transition-delay: .1s;
      }

      &:nth-child(3) {
        // transition-delay: .2s;
      }

      &:nth-child(4) {
        // transition-delay: .3s;
      }

      .pill {
        color: $blue;
        position: absolute;
        top: 1px;
        left: 36px;
        display: block;
        border: 2px solid $blue;
        padding: 2px 5px 1px;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: .1em;
        border-radius: 12px;
        font-size: 11px;
      }
    }

    p {
      font-family: $font-family-inter;
      line-height: 29px;
      font-size: 16px;
      color: #B2BECD;
      font-weight: 400;
    }
  }

  .top section li {
    position: relative;

    strong {
      padding-top: 75px;
      padding-left: 0;

      &::before {
        background: url('/img/products/studio/ico-features-lg.png') no-repeat 0 0;
        background-size: 48px;
        width: 48px;
        height: 48px;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    @include sprite('create' 'tackle' 'ship', 48, ' strong::before');
  }

  .video-container {
    position: relative;

    .preview {
      position: absolute;
      top: 40px;
      right: 0;
      max-width: 40%;
      width: 420px;
      opacity: 0;
      transition:
        .5s opacity ease-in .5s,
        .8s transform cubic-bezier(0.5, 0, 0, 1) .5s;
      transform: translateY(25px);
    }

    video,
    .screenshot {
      transform-origin: 0 50%;
      transition:
        1s filter ease,
        1s transform cubic-bezier(0.5, 0, 0, 1),
        1s opacity,
        1s box-shadow;
    }

    &.finished {
      .preview {
        opacity: 1;
        transform: none;
      }

      video {
        box-shadow: 0px 16px 64px rgba(0,0,0,0);
      }

      video,
      .screenshot {
        filter: blur(3px);
        opacity: .5;
        transform: scale3d(.9, .9, 1);
      }
    }
  }

  main section {
    background: linear-gradient(180deg, #121417 0%, #06090D 100%);
  }

  .modal {
    hgroup {
      padding-top: 18px;
      padding-bottom: 32px;
    }

    h3 {
      font-size: 29px;
      font-weight: 600;
      color: #171a20;
      margin: 18px 0 8px;
      letter-spacing: -0.03em;
    }
    p {
      font-size: 18px;
      line-height: 28px;
      color: #4c576c;
      max-width: 400px;
      margin: 0 auto;

      &.sm {
        font-size: 13px;
        line-height: 22px;
        color: #6f7786;
      }
    }

    form {
      max-width: 100%;
      padding: 0 15px 15px;
    }

    .hs_submit {
      text-align: center;
      font-weight: 600;
      input {
        margin-top: 15px;
      }
    }
  }

  .promo-studio {
    background: #1D232C;

    h2 {
      color: white;
      font-weight: 400;
      max-width: 680px;
      margin-bottom: 16px;

      strong {
        font-weight: 600;
      }
    }

    p {
      color: #4D8DFF;
    }

    .btn {
      background: transparent;
      border: 2px solid rgba(81, 167, 255, 0.7);
    }

    .btns {
      padding-left: 24px;
      margin-left: auto;
    }
  }
}
