{% set page = "docs" %}
{% extends "_layouts/creator.html" %}

{% block title %}Ionic Creator - Docs{% endblock %}
{% block body_attributes %}
  data-spy="scroll" data-target="#index"
{% endblock %}

{% block main %}
<div class="container" ng-controller="DocsCtrl">
  <div id="index" class="col-sm-3" >
    {% raw %}
    <ul class="nav">
      <li ng-repeat="category in categories">
        <a ng-click="expand(category.slug)">{{ category.title }}</a>
        <ul class="animate-show" ng-show="category.slug == expanded">
          <li ng-repeat="section in category.sections"
              ng-class="{'active' : $first }">
            <a href="#{{ section.id }}"
               ng-click="scrollTo(section.id)">{{ section.text }}</a>
          </li>
        </ul>
      </li>
    </ul>
    {% endraw %}
  </div>
  <div id="docs" class="col-sm-9 col-sm-offset-3">
    {% raw %}
    <btf-markdown class="category"
         id="{{category.slug}}"
         ng-repeat="category in categories"

         ng-include="category.markdownLink"
         data-markdown-link="{{ category.markdownLink }}">
    </btf-markdown>
    {% endraw %}

  </div>
</div>

<div class="tail ghost" id="docs-end">
  <hgroup class="container">
    <h2>Have more questions? We’re here to help!</h2>
    <p>
      Get <a href="/pro/creator/support">in touch</a> with one of our
      Creator support team members today.
    </p>
  </hgroup>
</div>
{% endblock %}
