{% extends '_layouts/base.html' %}
{% set title = "Subscribe to the Ionic Newsletter" %}
{% set id = "solutions-design" %}
{% set header_style = 'transparent light' %}
{% set pre_footer = false %}
{% set cssPath = 'solutions/design' %}

{% block main %}

<div class="cta banner">
  <div class="container">
    <hgroup>
      <h4>Design Systems</h4>
      <h1>Bring your company’s designs to life.</h1>
      <p>
        Reduce design debt, connect disparate tech teams, and enforce brand 
        consistency at scale with a world-class design system that works 
        everywhere. 
      </p>
    </hgroup>
  </div>
</div>

<nav id="sticky-bar">
  <ul class="container">
    <li><a class="anchor" href="">Code-based components</a></li>
    <li><a class="anchor" href="">Works everywhere</a></li>
    <li><a class="anchor" href="">Developer tools</a></li>
    <li><a class="anchor" href="">Expert help</a></li>
    <li><a class="btn sm" href="" class="btn">Get started</a></li>
  </ul>
</nav>

<main>
  <section class="container left">
    <div class="content">
      <h2>Build and share real code-based components</h2>
      <p>
        Create your design system with live components your developers can drop 
        into any project, to quickly build new experiences without worrying 
        about component styling and design.
      </p>
      <ul>
        <li>Bring your own designs with no limits to what you can build</li>
        <li>Create custom, standards-based web components</li>
        <li>Start at scale with 100+ ready to customize components</li>
      </ul>
    </div>
  </section>

  <section class="container right">
    <div class="content">
      <h2>Implement one design library that works everywhere</h2>
      <p>
        Target any platform or device with a single, universal UI library. The 
        components you build with Ionic will work everywhere - all from a single 
        UI library. 
      </p>
      <ul>
        <li>Based on web standards, not proprietary languages</li>
        <li>Works across native iOS, Android, Electron, PWAs, and more</li>
        <li>Use with any JS framework: Angular, React, Vue...</li>
      </ul>
    </div>
  </section>

  <section class="container left">
    <div class="content">
      <h2>Drive developer adoption company-wide</h2>
      <p>
        Design systems are only valuable if they’re actually adopted. Ionic 
        provides powerful tools that make it easy for developers to discover and 
        use the components you build.
      </p>
      <ul>
        <li>Always up-to-date developer docs</li>
        <li>Automated testing to assist front-end development</li>
        <li>Distribute new components &amp; changes to any project</li>
      </ul>
    </div>
  </section>

  <section class="container center">
    <div class="content">
      <h2>Our team of design experts are here to help you succeed</h2>
      <p>
        Partner with a company who has built a Design System used by millions. 
        We’re here to ensure your success.
      </p>
      <ul>
        <li>Component design and development checklist</li>
        <li>Private Slack channel for instant assistence</li>
        <li>Code analysis &amp; architecture reviews</li>
        <li>Usability challenges &amp; troubleshooting</li>
        <li>Best practices and design API analysis</li>
        <li>Accessibility analysis and guidelines</li>
      </ul>
    </div>
  </section>
</main>

<aside>
  <div class="container get-started center">
    <hgroup class="content">
      <h3>Get started with</h3>
      <h2>Ionic Design Systems</h2>
      <p>
        Let us help you develop a design systems strategy that’s tailored to 
        your needs.
      </p>
    </hgroup>
  </div>
</aside>

{% endblock %}
