@import '../../vars';

bar-chart {
  fill: currentColor;

  // important necessary to override attr vals
  path.c3-bar {
    &:nth-child(1),
    &:nth-child(2) {
      fill: url(#blue-gradient) !important;
      stroke: url(#blue-gradient) !important;
    }
  }

  text.c3-text {
    &:nth-child(1),
    &:nth-child(2) {
      fill: #3780FF !important;
    }
  }

  &[color="pink"] {
    path.c3-bar {
      &:nth-child(1),
      &:nth-child(2) {
        fill: url(#pink-gradient) !important;
        stroke: url(#pink-gradient) !important;
      }
    }

    text.c3-text {
      &:nth-child(1),
      &:nth-child(2) {
        fill: #F37BAB !important;
      }
    }
  }

  &[color="blue"] {
    path.c3-bar {
      &:nth-child(1),
      &:nth-child(2) {
        fill: url(#blue-gradient) !important;
        stroke: url(#blue-gradient) !important;
      }
    }

    text.c3-text {
      &:nth-child(1),
      &:nth-child(2) {
        fill: #3780FF !important;
      }
    }
  }

  &[color="yellow"] {
    path.c3-bar {
      &:nth-child(1),
      &:nth-child(2) {
        fill: url(#yellow-gradient) !important;
        stroke: url(#yellow-gradient) !important;
      }
    }

    text.c3-text {
      &:nth-child(1),
      &:nth-child(2) {
        fill: #F7D443 !important;
      }
    }
  }

  &[color="green"] {
    path.c3-bar {
      &:nth-child(1),
      &:nth-child(2) {
        fill: url(#green-gradient) !important;
        stroke: url(#green-gradient) !important;
      }
    }

    text.c3-text {
      &:nth-child(1),
      &:nth-child(2) {
        fill: #3EED5B !important;
      }
    }
  }
}




