<select onchange="window.location.href=this.options[this.selectedIndex].value">

  <option
   value="/docs/nightly/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "nightly"%}selected{% endif %}>
    nightly 
  </option>

  <option
   value="/docs/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "1.1.1"%}selected{% endif %}>
    1.1.1 (latest)
  </option>

  <option
   value="/docs/1.1.0/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "1.1.0"%}selected{% endif %}>
    1.1.0 
  </option>

  <option
   value="/docs/1.0.1/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "1.0.1"%}selected{% endif %}>
    1.0.1 
  </option>

  <option
   value="/docs/1.0.0/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "1.0.0"%}selected{% endif %}>
    1.0.0 
  </option>

  <option
   value="/docs/1.0.0-rc.5/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "1.0.0-rc.5"%}selected{% endif %}>
    1.0.0-rc.5 
  </option>

  <option
   value="/docs/1.0.0-rc.4/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "1.0.0-rc.4"%}selected{% endif %}>
    1.0.0-rc.4 
  </option>

  <option
   value="/docs/1.0.0-rc.3/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "1.0.0-rc.3"%}selected{% endif %}>
    1.0.0-rc.3 
  </option>

  <option
   value="/docs/1.0.0-rc.2/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "1.0.0-rc.2"%}selected{% endif %}>
    1.0.0-rc.2 
  </option>

  <option
   value="/docs/1.0.0-rc.1/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "1.0.0-rc.1"%}selected{% endif %}>
    1.0.0-rc.1 
  </option>

  <option
   value="/docs/1.0.0-rc.0/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "1.0.0-rc.0"%}selected{% endif %}>
    1.0.0-rc.0 
  </option>

  <option
   value="/docs/1.0.0-beta.14/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "1.0.0-beta.14"%}selected{% endif %}>
    1.0.0-beta.14 
  </option>

  <option
   value="/docs/1.0.0-beta.13/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "1.0.0-beta.13"%}selected{% endif %}>
    1.0.0-beta.13 
  </option>

  <option
   value="/docs/1.0.0-beta.12/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "1.0.0-beta.12"%}selected{% endif %}>
    1.0.0-beta.12 
  </option>

  <option
   value="/docs/1.0.0-beta.11/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "1.0.0-beta.11"%}selected{% endif %}>
    1.0.0-beta.11 
  </option>

  <option
   value="/docs/1.0.0-beta.10/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
   {% if page.version == "1.0.0-beta.10"%}selected{% endif %}>
    1.0.0-beta.10 
  </option>

</select>


