

  <!-- Tabs -->
  <li class="menu-section">
    <a href="/docs/api/directive/ionTabs">
       Tabs
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/ionTabs" %} active{% endif %}">
    <a href="/docs/api/directive/ionTabs">
       ion-tabs
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/ionTab" %} active{% endif %}">
    <a href="/docs/api/directive/ionTab">
       ion-tab
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/service/$ionicTabsDelegate" %} active{% endif %}">
    <a href="/docs/api/service/$ionicTabsDelegate">
      $ionicTabsDelegate
    </a>
  </li>



  <!-- Side Menus -->
  <li class="menu-section">
    <a href="/docs/api/directive/ionSideMenus">
       Side Menus
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/ionSideMenus" %} active{% endif %}">
    <a href="/docs/api/directive/ionSideMenus">
       ion-side-menus
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/ionSideMenuContent" %} active{% endif %}">
    <a href="/docs/api/directive/ionSideMenuContent">
       ion-side-menu-content
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/ionSideMenu" %} active{% endif %}">
    <a href="/docs/api/directive/ionSideMenu">
       ion-side-menu
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/menuToggle" %} active{% endif %}">
    <a href="/docs/api/directive/menuToggle">
       menu-toggle
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/menuClose" %} active{% endif %}">
    <a href="/docs/api/directive/menuClose">
       menu-close
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/service/$ionicSideMenuDelegate" %} active{% endif %}">
    <a href="/docs/api/service/$ionicSideMenuDelegate">
      $ionicSideMenuDelegate
    </a>
  </li>




  <!-- Navigation -->
  <li class="menu-section">
    <a href="/docs/api/directive/ionNavView">
       Navigation
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/ionNavView" %} active{% endif %}">
    <a href="/docs/api/directive/ionNavView">
       ion-nav-view
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/ionView" %} active{% endif %}">
    <a href="/docs/api/directive/ionView">
       ion-view
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/ionNavBar" %} active{% endif %}">
    <a href="/docs/api/directive/ionNavBar">
       ion-nav-bar
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/ionNavButtons" %} active{% endif %}">
    <a href="/docs/api/directive/ionNavButtons">
       ion-nav-buttons
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/ionNavBackButton" %} active{% endif %}">
    <a href="/docs/api/directive/ionNavBackButton">
       ion-nav-back-button
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/navClear" %} active{% endif %}">
    <a href="/docs/api/directive/navClear">
       nav-clear
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/service/$ionicNavBarDelegate" %} active{% endif %}">
    <a href="/docs/api/service/$ionicNavBarDelegate">
      $ionicNavBarDelegate
    </a>
  </li>




  <!-- Headers/Footers -->
  <li class="menu-section">
    <a href="/docs/api/directive/ionHeaderBar">
       Headers/Footers
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/ionHeaderBar" %} active{% endif %}">
    <a href="/docs/api/directive/ionHeaderBar">
       ion-header-bar
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/ionFooterBar" %} active{% endif %}">
    <a href="/docs/api/directive/ionFooterBar">
       ion-footer-bar
    </a>
  </li>



  <!-- Content -->
  <li class="menu-section">
    <a href="/docs/api/directive/ionContent">
       Content
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/ionContent" %} active{% endif %}">
    <a href="/docs/api/directive/ionContent">
       ion-content
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/ionRefresher" %} active{% endif %}">
    <a href="/docs/api/directive/ionRefresher">
       ion-refresher
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/ionPane" %} active{% endif %}">
    <a href="/docs/api/directive/ionPane">
       ion-pane
    </a>
  </li>




  <!-- Scroll -->
  <li class="menu-section">
    <a href="/docs/api/directive/ionScroll">
       Scroll
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/ionScroll" %} active{% endif %}">
    <a href="/docs/api/directive/ionScroll">
       ion-scroll
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/ionInfiniteScroll" %} active{% endif %}">
    <a href="/docs/api/directive/ionInfiniteScroll">
       ion-infinite-scroll
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/service/$ionicScrollDelegate" %} active{% endif %}">
    <a href="/docs/api/service/$ionicScrollDelegate">
      $ionicScrollDelegate
    </a>
  </li>




  <!-- Lists -->
  <li class="menu-section">
    <a href="/docs/api/directive/ionList">
       Lists
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/ionList" %} active{% endif %}">
    <a href="/docs/api/directive/ionList">
       ion-list
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/ionItem" %} active{% endif %}">
    <a href="/docs/api/directive/ionItem">
       ion-item
    </a>
  </li>




  <!-- Form Inputs -->
  <li class="menu-section">
    <a href="/docs/api/directive/ionCheckbox">
       Form Inputs
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/ionCheckbox" %} active{% endif %}">
    <a href="/docs/api/directive/ionCheckbox">
       ion-checkbox
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/ionRadio" %} active{% endif %}">
    <a href="/docs/api/directive/ionRadio">
       ion-radio
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/ionToggle" %} active{% endif %}">
    <a href="/docs/api/directive/ionToggle">
       ion-toggle
    </a>
  </li>




  <!-- Slide Box -->
  <li class="menu-section">
    <a href="/docs/api/directive/ionSlideBox">
       Slide Box
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/directive/ionSlideBox" %} active{% endif %}">
    <a href="/docs/api/directive/ionSlideBox">
       ion-slide-box
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/service/$ionicSlideBoxDelegate" %} active{% endif %}">
    <a href="/docs/api/service/$ionicSlideBoxDelegate">
      $ionicSlideBoxDelegate
    </a>
  </li>




  <!-- Modal -->
  <li class="menu-section">
    <a href="/docs/api/service/$ionicModal">
       Modal
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/service/$ionicModal" %} active{% endif %}">
    <a href="/docs/api/service/$ionicModal">
      $ionicModal
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/controller/ionicModal" %} active{% endif %}">
    <a href="/docs/api/controller/ionicModal">
      ionicModal
    </a>
  </li>




  <!-- Action Sheet -->
  <li class="menu-section">
    <a href="/docs/api/directive/ionicActionSheet">
       Action Sheet
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/service/$ionicActionSheet" %} active{% endif %}">
    <a href="/docs/api/service/$ionicActionSheet">
      $ionicActionSheet
    </a>
  </li>




  <!-- Popup -->
  <li class="menu-section">
    <a href="/docs/api/service/$ionicPopup">
       Popup
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/service/$ionicPopup" %} active{% endif %}">
    <a href="/docs/api/service/$ionicPopup">
      $ionicPopup
    </a>
  </li>




  <!-- Loading -->
  <li class="menu-section">
    <a href="/docs/api/service/$ionicLoading">
      Loading
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/service/$ionicLoading" %} active{% endif %}">
    <a href="/docs/api/service/$ionicLoading">
      $ionicLoading
    </a>
  </li>




  <!-- Platform -->
  <li class="menu-section">
    <a href="/docs/api/service/$ionicPlatform">
      Platform
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/service/$ionicPlatform" %} active{% endif %}">
    <a href="/docs/api/service/$ionicPlatform">
      $ionicPlatform
    </a>
  </li>




  <!-- Platform -->
  <li class="menu-section">
    <a href="/docs/api/service/$ionicGesture">
      Gesture
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/service/$ionicGesture" %} active{% endif %}">
    <a href="/docs/api/service/$ionicGesture">
      $ionicGesture
    </a>
  </li>



  <!-- Utility -->
  <li class="menu-section">
    <a href="/docs/api/utility/ionic.Platform">
      Utility
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/utility/ionic.Platform" %} active{% endif %}">
    <a href="/docs/api/utility/ionic.Platform">
      ionic.Platform
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/utility/ionic.DomUtil" %} active{% endif %}">
    <a href="/docs/api/utility/ionic.DomUtil">
      ionic.DomUtil
    </a>
  </li>

  <li class="menu-item{% if page.path == "api/utility/ionic.EventController" %} active{% endif %}">
    <a href="/docs/api/utility/ionic.EventController">
      ionic.EventController
    </a>
  </li>


