
  
    
{% if page.versionHref == "/docs/nightly" %}
    
  {% include api_menu_nightly.html %}
  

  

  
    
{% elsif page.versionHref == "/docs/1.0.0-beta.11" %}
    
  {% include api_menu_1.0.0-beta.11.html %}
  

  
    
{% elsif page.versionHref == "/docs/1.0.0-beta.10" %}
    
  {% include api_menu_1.0.0-beta.10.html %}
  

  
    
{% elsif page.versionHref == "/docs/1.0.0-beta.9" %}
    
  {% include api_menu_1.0.0-beta.9.html %}
  

  
    
{% elsif page.versionHref == "/docs/1.0.0-beta.8" %}
    
  {% include api_menu_1.0.0-beta.8.html %}
  

  
    
{% elsif page.versionHref == "/docs/1.0.0-beta.7" %}
    
  {% include api_menu_1.0.0-beta.7.html %}
  

  
    
{% elsif page.versionHref == "/docs/1.0.0-beta.6" %}
    
  {% include api_menu_1.0.0-beta.6.html %}
  

  
    
{% elsif page.versionHref == "/docs/1.0.0-beta.5" %}
    
  {% include api_menu_1.0.0-beta.5.html %}
  


{% else %}
  {% include api_menu_1.0.0-beta.12.html %}
{% endif %}
