{% extends "_layouts/base.html" %}
{% set id = 'pwa-toolkit' %}
{% set pre_footer = false %}
{% set header_style = 'transparent light' %}
{% set meta_image = 'https://ionicframework.com/img/meta/pwa-toolkit-open-graph-img.png'%}
{% set meta_description = 'Progressive Web Apps deliver fast, native-app experiences with no app stores.'%}


{% block main %}

<div class="banner">
  <hgroup class="container">
    <img src="/img/pwa-toolkit/ionic-pwa-toolkit-logo.png"
         alt="PWA Toolkit"
         width="384">
    <p>
      Everything you need to build beautiful, fast, production-ready Progressive
      Web Apps.
    </p>
  </hgroup>
  <ul class="container">
    <li>Push notifications</li>
    <li>Routing</li>
    <li>Pre-rendering</li>
    <li>Update toasts</li>
    <li>Unit Tests</li>
    <li>Zero-config lazy loading</li>
    <li>Zero-config code splitting</li>
    <li>ES6 by default</li>
    <li>On-demand polyfills</li>
    <li>Lazy image loading</li>
    <li>Add-to-homescreen</li>
    <li>UI Components</li>
    <li>Fast Startup</li>
    <li>Native ES Modules</li>
    <li>CSS Variables</li>
    <li>Shadow DOM</li>
  </ul>
</div>

<main class="container">
  <hgroup>
    <h2>Get started</h2>
    <p>Starting an app with the PWA Toolkit is incredibly easy:</p>
  </hgroup>
  <ul class="steps">
    <li>
      <pre><code>npx create-stencil ionic-pwa</code></pre>
    </li>
  </ul>
  <p>
    Congrats! You now have a high performing, great looking PWA starter app that
    scores 100 on <a href="https://developers.google.com/web/tools/lighthouse/"
    target="_blank">Lighthouse</a>, right out-of-the-box!
  </p>
  <p><img src="/img/pwa-toolkit/lh-score.png" alt="Lighthouse 100%"></p>

  <hgroup>
    <h2>Under the hood</h2>
    <p>
      The Ionic PWA Toolkit includes all the essentials needed to start building
      fast, great looking Progressive Web Apps out-of-the-box.
    </p>
  </hgroup>

  <h3>Ionic Framework</h3>
  <p>
    The Ionic PWA Toolkit uses Ionic Framework v4. Ionic 4 is built completely
    out of web components using <a href="https://stenciljs.com/" target="_blank">
    Stencil</a>. Because of this you can use Ionic 4 just like any other web
    components library with minimal to no overhead.
  </p>

  <h3>Routing</h3>
  <p>
    The Ionic PWA Toolkit uses Ionic Framework’s <code>ion-nav</code> web
    component included in v4 for routing. This gives you the great navigation
    animations and API that you know and love from Ionic with very minimal
    overhead and incredible performance.
  </p>

  <h3>Service Worker</h3>
  <p>
    When you run <code>npm run build</code> we automatically generate a Service
    Worker for you using Workbox. The generated service worker will pre-cache
    all of your static assets by default (a best practice for performance).
    Because of Workbox, the service worker can be fully customized to work for
    your offline strategy. <a href="" target="_blank">Learn More</a>
  </p>

  <h3>Web Manifest</h3>
  <p>
    Our default Web Manifest includes all of the necessary entries to enable Add
    To Homescreen. Check out that Manifest <a target="_blank" href="">here</a>.
  </p>

  <hgroup>
    <h2>Frequently Asked Questions</h2>
    <p>Common questions, answered.</p>
  </hgroup>

  <h3>What are Service Workers?</h3>
  <p>
    Service Workers are JavaScript workers that act as a proxy between your app
    and the network. They enable functionality such as programmatic caching,
    Push Notifications, and Background Sync.
  </p>

  <h3>What are Web Components?</h3>
  <p>
    You may be familiar with components from frameworks such as Angular and
    React. Web Components are very similar, but a key difference is that they
    are a collection of components built on browser standards. This means that
    web components can be run in the browser without the need for a full
    framework. Because of this, web components are incredibly performant.
  </p>

  <h3>What about iOS?</h3>
  <p>
    The release of iOS 11.3 included support for Web Manifests and Service
    Worker! This means that your PWA can now be added to the Homescreen on an
    iOS device, and even work offline.
  </p>

  <h3>How do I measure the performance of my PWA?</h3>
  <p>
    We recommend <a href="https://developers.google.com/web/tools/lighthouse/"
    target="_blank">Lighthouse</a> and <a href="https://www.webpagetest.org/"
    target="_blank">WebPageTest</a> to measure the performance of your PWA.
    Lighthouse makes it easy to quickly test your PWA locally and is built into
    the Chrome DevTools in the Audits tab. WebPageTest allows you to run the
    same tests but on a real mobile device on networks with different latencies
    and speed. The combination of these two tools can give you a really good
    idea of what the performance of your PWA is.
  </p>

  <h3>How do I host my PWA?</h3>
  <p>
    Because PWAs are just web sites, they can be hosted using the same solutions
    you would use for a website. One key difference is that a PWA must be served
    over HTTPS as a secure connection is required for features like Service
    Workers. At Ionic we recommend using Firebase Hosting for hosting PWAs.
    Firebase Hosting supports HTTPS out of the box (even on the free tier!), is
    blazing fast and supports key performance features such as HTTP2 push. <a
    href="https://firebase.google.com/products/hosting/" target="_blank">Learn
    about Firebase Hosting</a>
  </p>

  <h3>What does the “Progressive” in PWA mean?</h3>
  <p>
    Because PWAs are a website and are at least initially accessed through the
    browser it is important that your PWA support all browsers. Not all browsers
    may support advanced features such as web push notifications, but your PWA
    should still work in those browsers. This is accomplished through
    progressively using those advanced features on browsers that support it with
    a fallback for browsers that may not support that feature.
  </p>

  <h3>What are the benefits of deploying my app as a PWA?</h3>
  <p>
    Deploying a PWA offers many benefits to you as a developer including instant
    updates, discoverability, easily shareable, smaller size than native apps
    and more. PWAs also allow you to avoid the time consuming app store approval
    processes when deploying updates to your users.
  </p>

  <h3>When should I build a PWA?</h3>
  <p>
    There are not many good reasons (if any at all) to not also offer a PWA
    alongside your native app(s). A PWA can be a great upgrade for your many of
    your users. And if you’re looking to reduce user churn and bounce rate, then
    the instant experience that a PWA provides may be what you’re looking for.
    By reducing the amount of steps it takes the user to get into your
    experience from:
  </p>
  <ol>
    <li>Going to the app or play store</li>
    <li>Searching for your app</li>
    <li>Installing your app</li>
  </ol>
  <p>
    To just clicking a link, you can drastically reduce churn and bounce rate.
  </p>

  <h3>When should I not build a PWA?</h3>
  <p>
    Admittedly, there are only a few cases where a PWA might not fit your
    product goals. The most common case is that your product requires something
    technically that is only available on native platforms, and not yet
    available on the web. While the web is becoming incredibly more powerful
    every day, there are still a few remaining features like fingerprint auth
    that are not yet available.
  </p>
</main>
{% endblock %}

{% block scripts %}

{% endblock %}
