{% extends "_layouts/base.html" %}
{% set id = 'survey-2018' %}
{% set bodyController = 'SurveyCtrl' %}
{% set name = '2018 Developer Survey' %}
{% set meta_description = 'Insights, trends, and perspectives from the worldwide Ionic Community' %}
{% set meta_image = 'https://ionicframework.com/img/survey/survey-meta-2018.png' %}
{% set header_style = 'transparent survey-layout' %}
{% set cssPath = 'survey/2018' %}

{% block body_attributes %}
  data-spy="scroll" data-target="#survey-2018-nav" data-offset="400"
{% endblock %}

{% block main %}
<div class="cta banner" id="survey-banner">
  <canvas id="statistical-suspension"></canvas>
  <hgroup class="container">
    <h2>
      <svg version="1.1" 
           xmlns="http://www.w3.org/2000/svg" 
           xmlns:xlink="http://www.w3.org/1999/xlink" 
           x="0px" 
           y="0px"
           viewBox="0 0 512 512" 
           enable-background="new 0 0 512 512" 
           xml:space="preserve">
        <g id="Layer_1">
        	<g>
        		<path d="M256,139.3c-64.3,0-116.7,52.3-116.7,116.7c0,64.3,52.3,116.7,116.7,116.7S372.7,320.3,372.7,256
        			C372.7,191.7,320.3,139.3,256,139.3z"/>
        		<g>
        			<circle cx="423.5" cy="96.5" r="53.2"/>
        		</g>
        		<path d="M489,149.9l-2.2-4.9l-3.6,4c-8.7,9.9-19.8,17.5-32.1,22.1l-3.4,1.3l1.4,3.3c10.6,25.5,16,52.5,16,80.2
        			c0,115.3-93.8,209.2-209.2,209.2S46.8,371.3,46.8,256S140.7,46.8,256,46.8c31.3,0,61.5,6.8,89.6,20.2l3.3,1.6l1.4-3.3
        			c5.1-12,13.3-22.7,23.6-31l4.2-3.4l-4.8-2.5C336.8,9.6,297.3,0,256,0C114.8,0,0,114.8,0,256c0,141.2,114.8,256,256,256
        			s256-114.8,256-256C512,219.1,504.3,183.4,489,149.9z"/>
        	</g>
        </g>
      </svg>
      <span>2018</span>
      </h2>
    <h1>Developer Survey</h1>
    <p>This year’s biggest insights, trends, and perspectives from the world-wide Ionic dev community.</p>
  </hgroup>
  <div class="bar tabbed" data-spy="affix" data-offset-top="500">
    <div class="container" id="survey-2018-nav">
      <ul class="categories nav">
        <li><a class="anchor" href="#trends">Trends</a></li>
        <li><a class="anchor" href="#tools">Tools</a></li>
        <li><a class="anchor" href="#habbits">Habits</a></li>
        <li><a class="anchor" href="#profile">Profile</a></li>
        <li><a class="anchor" href="#big-picture">Big Picture</a></li>
        <li><a class="anchor" href="#results">Results</a></li>
      </ul>
    </div>
  </div>
</div>

<main>
  <aside id="social-share-sidebar" 
         class="meta activeOnLoad social-links active" 
         role="complementary" 
         data-spy="affix" 
         data-offset-top="500">
  <h4>Share</h4>
  <ul>
    <li>
      <a href="http://twitter.com/home?status=2018+Ionic+Developer+Survey+results+https%3A%2F%2Fionicframework.com%2Fsurvey%2F2018"
         onclick="window.open(this.href, 'Share via Twitter', 'width=400, height=300'); return false;"
         class="twitter"></a></li>
    <li>
      <a href="http://www.facebook.com/share.php?u=https%3A%2F%2Fionicframework.com%2Fsurvey%2F2018&amp;title=2018+Ionic+Developer+Survey+results"
         onclick="window.open(this.href, 'Share via Facebook', 'width=555, height=656'); return false;"
         class="facebook"></a></li>
    <li>
      <a href="https://plus.google.com/share?url=https%3A%2F%2Fionicframework.com%2Fsurvey%2F2018"
         onclick="window.open(this.href, 'Share via Google+', 'width=400, height=450'); return false;"
         class="google-plus"></a></li>
    <li>
      <a href="https://buffer.com/add?text=2018+Ionic+Developer+Survey+results&amp;url=https%3A%2F%2Fionicframework.com%2Fsurvey%2F2018"  
         onclick="window.open(this.href, 'Share via Buffer', 'width=500, height=600'); return false;"
         class="buffer"></a></li>
  </ul>
</aside>
  <article>
    <hgroup class="text-center intro" id="insights">
      <div class="container">
        <p class="lg">
          This year, for the first time ever, we asked members of the Ionic 
          community to tell us about the tools and technologies they use to 
          develop Ionic apps, and what types of apps they’re building.  
        </p><p class="lg">
          <strong>More than 13,000 developers shared their story.</strong>
        </p><p class="lg">
          The results reveal some very interesting trends that, we hope, will 
          serve Ionic community members and vendors alike. While we encourage 
          you to check out the data yourself, here are the top insights and 
          observations from our team at Ionic.
        </p>
      </div>
    </hgroup>

    <section id="trends" class="clearfix animate-in">
      <div class="container">
        <h3>App Trends</h3>
        <div class="row">
          <div class="col-md-6">
            <h4>Hybrid dev is taking over.</h4>
            <p>
              Two years ago, 20% of developers surveyed were building 
              exclusively with native tools instead of hybrid. In the next two 
              years, that number is only 2.9% - a nearly 7x decrease. Similarly, 
              the number of hybrid-built apps is growing as a share of overall 
              app development. In the next two years, 32.7% of developers 
              surveyed expect to completely abandon native development in favor 
              of hybrid.
            </p><p>
              The broader trend is that hybrid development is gaining traction, 
              while the native approach is waning.  We think that makes sense.  
              The benefits of hybrid are obvious. And as the <a target="_blank"
              href="https://blog.ionicframework.com/the-amazing-evolution-of-the-web-on-mobile/">
              web evolves</a>, there are fewer and fewer reasons not to adopt.
            </p>
          </div>
          <div class="col-md-6">
            <h4>
              More than just consumer apps.<br>
              Many enterprises focused on B2E.
            </h4>
            <p>
              The types of apps being built for commercial purposes aren't just 
              consumer apps, althought that remains a dominant use case. A large 
              percentage of apps being built with Ionic (41.7%) are actually for 
              internal-use apps. This is consistent with a broader trend in the 
              enterprise, where the value of mobile extends beyond the essential 
              flagship consumer app. More and more, older legacy systems are 
              steadily being replaced - or modernized - with mobile experiences 
              that make employees happier, and more productive.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h4>
              PWAs? Yes.<br>
              Wearables and smart devices?  No.
            </h4>
            <p>
              There’s been a lot of talk about wearables and other smart 
              devices, but the data shows that app development on these 
              platforms is still very nascent. Only 3% of developers are 
              building for  smartwatches, and even fewer (2.7%) for TVs.
            </p><p>
              And for all the talk about tablets taking over the world, they 
              still accounted for less than half (45%) of responses - while 
              Android was targeted by 94.3% of developers, and 83.2% for iOS.
            </p><p>
              Finally, 31.5% of developers are targeting progressive web apps.  
              That’s a big jump for something the dev community just started 
              talking about two years ago.  Meanwhile, responsive web apps were 
              targeted by 34.7% of respondents. What’s driving this trend? Part 
              of it could be app fatigue among consumers who care more about 
              mobile experiences and less about installing yet another app, and 
              developers who want their apps to run on mobile and desktop web 
              environments, not just in the app stores. 
            </p><p>
              Overall, we see this as validation for two things that Ionic has 
              been saying for awhile: mobile remains the killer platform, and 
              web is the future.
            </p>
          </div>
          <aside class="col-md-3 col-md-offset-1">
            <figure>
              <img src="/img/survey/watch-tv-icon.png" width="114" />
              <figcaption>
                <strong>3.0%</strong>
                <p>
                  Developers building for smart watches. Even fewer for TVs.
                </p>
              </figcaption>
            </figure>
            <figure>
              <img src="/img/survey/pwa-icon.png" width="90" />
              <figcaption>
                <strong>31.5%</strong>
                <p>Developers targeting progressive web apps.</p>
              </figcaption>
            </figure>
          </aside>
        </div>
      </div>
    </section>

    <section id="tools" class="clearfix dark animate-in">
      <div class="container">
        <h3>Tools of the Trade</h3>
        <div class="row">
          <div class="col-md-6">
            <h4>Firebase tops hosted backend services.</h4>
            <p>
              Google’s Firebase is the clear winner in backend services. For 
              push notifications, Firebase was used by 41.3% of Ionic devs, 
              while AWS was used by just 8.2%.  There was a similar disparity 
              between Firebase Auth and Amazon Cognito (30% vs. 2.5%). And 
              Firebase topped the list of hosted backend databases, with 32.4% 
              of developers using it compared to a combined 11.5% for Amazon 
              DynamoDB and RDS.
            </p><p>
              <strong>Our take:</strong> 
              The Firebase strategy of focusing on ease of use, and adding 
              services on top of their free DB, appears to be working.
            </p>
          </div>
          <div class="col-md-6">
            <h4>
              Node dominates and Google owns analytics.
            </h4>
            <p>
              The survey results confirmed some previously held beliefs. Node.js 
              is the dominant choice (56.6% of devs) when it comes to backend 
              technology. And Google owns the analytics space, with Google 
              Analytics and Firebase Analytics emerging as clear winners (used 
              by 68.3% and 24.9% of devs, respectively).
            </p>
            <ul class="tools">
              <li class="firebase"></li>
              <li class="node"></li>
              <li class="analytics"></li>
              <li class="vscode"></li>
              <li class="aws"></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>
              Microsoft winning over devs with VS Code.
            </h4>
            <p>
              VS Code was launched two years ago at the 2015 Microsoft Build 
              conference.  Aimed at cross-platform developers, Code was touted 
              for its speed (fast), size (small), and advanced debugging 
              features.
            </p><p>
              Fast-forward two years, and adoption of Code has grown to nearly 
              half of  the developers we surveyed (46.7%) - by far the most 
              widely adopted among Editors and IDEs on the list.  Sublime, Atom, 
              and Webstorm trail as the next most popular code editors.
            </p><p>
              Add to that the 12.7% of devs using Visual Studio IDE, and it 
              looks like Microsoft has really won over developers with its code 
              editing and development toolsets.  Of course, it doesn’t hurt that 
              Microsoft is the reference editor for common tools like 
              TypeScript, which may have helped them become the defacto text 
              editor.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="habbits" class="clearfix dark animate-in">
      <div class="container">
        <h3>Dev Habits</h3>
        <div class="row">
          <div class="col-md-6">
            <h4>Device testing in the cloud is still nascent.</h4>
            <p>
              Device testing is one of the most challenging aspects of mobile 
              app development. Even in larger teams, no one has enough devices 
              to cover every scenario.
            </p><p>
              With access to large device farms, AWS, Firebase, and others like 
              Browserstack and Sauce Labs, have emerged as a way to move device 
              testing to the cloud and gain much better test coverage in the 
              process.
            </p><p>
              And yet, an overwhelming majority of devs we surveyed (65.1%) are 
              not using any cloud device testing services. Time will tell if 
              these services take off, or remain a niche offering.
            </p>
          </div>
          <div class="col-md-6">
            <h4>
              Real-time remote updates gaining traction.
            </h4>
            <p>
              The survey results show that most developers (53.2%) are still 
              pushing app updates the traditional way - through the App Stores.
            </p><p>
              Meanwhile, some are embracing rapid real-time updates that are 
              made possible with hybrid apps. Using tools like Ionic Deploy and 
              PhoneGap ContentSync, apps can be updated - at the web layer - 
              remotely, outside of the App Store, though still in compliance 
              with Apple and Android standards.
            </p><p>
              We expect to see adoption of real-time remote updates increasing 
              over the next year.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4>
              Ionic Developers care about design.
            </h4>
            <p>
              We were a bit surprised to see how many devs are using prototyping 
              tools as part of their development flow. This is a good sign that 
              developers care about design, and have embraced rapid prototyping 
              tools that help them get their ideas out on paper, before engaging 
              in costly development work.
            </p><p styl>
              Ionic Creator was cited as a popular prototyping tool of choice 
              (used by 22.8% of respondents), followed by popular design 
              solutions Sketch (17.6%), Balsamiq (12%), and Invision (10.1%).
            </p>
          </div>
          <div class="col-md-6">
            <h4>
              Almost half of participants not tracking errors and crashes.
            </h4>
            <p>
              A surprising percentage of developers surveyed (44%) reported that 
              that they aren’t tracking errors or crashes in the apps they’re 
              building. This sizable gap in adoption suggest there is some 
              disillusionment in the tools that exist today.  One possible 
              explanation is that native crash tools are less effective when it 
              comes to understanding the web layer.  If true, the market for 
              crash reporting in hybrid apps is still up for grabs.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="profile" class="clearfix animate-in">
      <div class="container">
        <h3>Who’s building apps with Ionic</h3>
        <div class="row">
          <div class="col-md-6">
            <h4>Web developers are moving to mobile.</h4>
            <p>
              We asked respondents to tell us about their development 
              background. Nearly 80% of 13,000+ Ionic developers who took the 
              survey identify themselves as web developers.  An additional 10.8% 
              identified as newbies learning to develop mobile apps for the 
              first time, while a sizable percentage (8.4%) described themselves 
              as “born-and-bred" mobile developers. 
            </p><p>
              Overall, the data suggests that Ionic serves a broad cross-section 
              of the developer community - from newbies to hardcore devs.  It’s 
              also clear that Ionic is fulfilling its mission to help web 
              developers participate in the thriving mobile app economy. By 
              embracing the power of open web technologies, Ionic is helping the 
              vast web developer community build mobile experiences using tools 
              they already know and love.  We’re excited to see that the 
              approach seems to be working.
            </p>
          </div>

          <div class="col-md-6">
            <h4>Mostly building for commercial use.</h4>
            <p>
              The vast majority of Ionic devs (75.2%) are building apps for 
              commercial use.  By far the biggest segment of developers we 
              surveyed (41.9%) were contract developers and dev shops building 
              on behalf of their clients, while many others (33.3%) were 
              building apps for their company.  The companies they represent 
              range from solo shops to large enterprises.
            </p>
            <aside>
              <div class="factoid">
                <strong>75.2%</strong>
                <p>Developers bulding Ionic mobile apps for commercial use.</p>
              </div>
              <div class="factoid">
                <strong>41.9%</strong>
                <p>Contractors and dev shops building apps for clients.</p>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </section>

    <hgroup id="big-picture" class="clearfix text-center animate-in">
      <div class="container">
        <h3>Big Picture</h3>
        <p>The web is winning. 🎉</p>
        <p>
          Looking at the big picture from this year’s results, the broader trend 
          is the web is winning. Hybrid apps are beginning to dominate. 
          Progressive web apps are catching on faster than we anticipated. And 
          more and more web developers are moving into the mobile space. Most 
          importantly, “cross-platform” doesn’t just mean iOS and Android. It 
          means a consistent experience across mobile and desktop, web and app 
          store, phone and tablet.
        </p><p>
          Of course, we’re not too surprised. Developers building hybrid apps 
          and PWAs are taking advantage of the single most adopted, tested, and 
          dominant technology stack in the world: The Web. Ionic has always bet 
          on the web, and it looks like we’re not alone.
        </p>
        <h2>&mdash;</h2>
        <h2 id="results">Survey Results</h2>
        <p class="lg">
          Data from the survey is available below.  Feel free to interact, play, 
          and form your own conclusions!
        </p>
      </div>
    </hgroup>

    <section id="data-1" class="data animate-in">
      <div class="container">
        {% raw %}
        <h3>Section #1</h3>
        <h4>What types of apps are you building?</h4>
        <ionic-bar-chart data="{
          'Consumer focused apps (B2C)': 76,
          'Employee and partner focused apps (B2E)': 43,
          'Business to business (B2B)': 1,
          'Other': 2
        }"></ionic-bar-chart>

        <h4>Which of the following best describes the type of environment you work in?</h4>
        <ionic-bar-chart data="{
          'Startup': 32,
          'Enterprise app dev team': 26,
          'Indie developer': 20,
          'External agency, building on behalf of clients': 19,
          'Other': 2
        }"></ionic-bar-chart>
        
        <h4>Which of the following best describes your current job role?</h4>
        <ionic-bar-chart data="{
          'Web Developer': 37,
          'Entrepreneur (I do it all)': 16,
          'Native Mobile Developer': 7,
          'Team Lead': 7,
          'Head of Application Development': 7,
          'CTO': 6,
          'Backend Developer': 6,
          'Architect': 5,
          'UX Designer': 1,
          'CIO or VP of IT': 1,
          'Other': 6
        }"></ionic-bar-chart>
        
        <h4>About how many employees work at your company?</h4>
        <ionic-bar-chart data="{
          'Self-employed (me, myself, and I)': 36,
          '1-10 employees': 45,
          '11-50 employees': 25,
          '51-500 employees': 16,
          '501-1000 employees': 4,
          '1001-5000 employees': 4,
          '5,001+ employees': 6
        }"></ionic-bar-chart>
        
        <h4>Which of the following JavaScript frameworks and libraries have you done extensive development work in over the past year?</h4>
        <ionic-bar-chart data="{
          'Angular': 86,
          'React': 23,
          'Vue': 17,
          'Stencil': 4,
          'EXT JS': 3,
          'Backbone': 3,
          'Meteor': 3,
          'Polymer': 3,
          'Ember': 2,
          'DoJo': 1,
          'Skate': 0,
        }"></ionic-bar-chart>
        
        <h4>Which of the following *mobile development* tools, libraries, and frameworks have you done extensive development work in over the past year? [NativeScript]</h4>
        <ionic-bar-chart data="{
          'Ionic': 83,
          'Cordova / PhoneGap': 49,
          'Native Android': 22,
          'React Native': 14,
          'jQuery Mobile': 13,
          'Native iOS': 13,
          'Xamarin': 7,
          'NativeScript': 6,
          'Ext JS': 2
        }"></ionic-bar-chart>
        
        <h4>Over the past year, what percentage of the apps you developed were built using a cross-platform approach (e.g. Ionic, Xamarin, React Native, etc.)?</h4>
        <ionic-bar-chart data="{
          '0% - Only develop with native tools': 14,
          '25% or greater': 26,
          '50% or greater': 24,
          '75% or greater': 33,
          '100% - Only use cross-platform tools': 109,
        }"></ionic-bar-chart>
      </div>
    </section>
    <section id="data-2" class="data animate-in">
      <div class="container">
        <h3>Section #2</h3>
        <div class="container">
        <h4>What is the *most* important factor when deciding on a mobile development approach?</h4>
        <ionic-bar-chart data="{
          'Cross-platform efficiency (ability to share code across platforms)': 30,
          'Cost to develop and maintain': 16,
          'Quality of user experience across platforms': 15,
          'Speed and time to market': 13,
          'Performance': 10,
          'Skills match with development team': 8,
          'Ease of updates and maintenance': 6,
          'Other': 1
        }"></ionic-bar-chart>

        <h4>Native Only Devs: What is the *most* important factor when deciding on a mobile development approach?</h4>
        <ionic-bar-chart data="{
          'Quality of user experience across platforms': 20,
          'Cross-platform efficiency (ability to share code across platforms)': 20,
          'Performance': 16,
          'Cost to develop and maintain': 13,
          'Speed and time to market': 11,
          'Skills match with development team': 10,
          'Ease of updates and maintenance': 8,
          'Other': 1
        }"></ionic-bar-chart>

        <h4>Cross-platform Only Devs: What is the *most* important factor when deciding on a mobile development approach?</h4>
        <ionic-bar-chart data="{
          'Cross-platform efficiency (ability to share code across platforms)': 34,
          'Cost to develop and maintain': 17,
          'Quality of user experience across platforms': 14,
          'Speed and time to market': 13,
          'Skills match with development team': 9,
          'Performance': 7,
          'Ease of updates and maintenance': 6,
          'Other': 1
        }"></ionic-bar-chart>

        <h4>Which of the following app lifecycle management tools are you currently using?</h4>
        <ionic-bar-chart data="{
          'Ionic Pro (Appflow)': 53,
          'Adobe PhoneGap': 16,
          'Microsoft Mobile App Center': 10,
          'IBM Mobile Foundation': 2,
          'None': 9,
          'Other': 16
        }"></ionic-bar-chart>

        <h4>Which of the following deployment targets have you developed apps for over the last year?</h4>
        <ionic-bar-chart data="{
          'Google Play': 78,
          'iOS App Store': 64,
          'Web Browser (including PWAs)': 51,
          'Desktop Container (e.g. Electron)': 14,
          'Microsoft Store': 4,
          'Smart TVs': 2,
          'Wearables': 2
        }"></ionic-bar-chart>

        <h4>How are you currently distributing apps to your users (check all that apply)?</h4>
        <ionic-bar-chart data="{
          'App Stores (Apple, Google Play, Microsoft Store, etc.)': 83,
          'Hosted web apps (including PWAs)': 48,
          'MDM (MobileIron, Airwatch, XenMobile, etc.)': 4,
          'Other': 3
        }"></ionic-bar-chart>

        <h4>Have you published a Progressive Web App (PWA) in the last year?</h4>
        <ionic-bar-chart data="{
          'No': 39,
          'Yes': 31,
          'No, but we plan to next year': 30
        }"></ionic-bar-chart>
      </div>
    </section>
    <section id="data-3" class="data animate-in">
      <div class="container">
        <h3>Section #3</h3>
        <h4>Who are you building PWAs for?</h4>
        <ionic-bar-chart data="{
          'Consumers': 78,
          'Employees': 32,
          'Partners': 25,
          'Other': 3
        }"></ionic-bar-chart>

        <h4>Are you updating an existing app or is this a new application?</h4>
        <ionic-bar-chart data="{
          'Building a brand-new app': 72,
          'Updating an existing app': 28
        }"></ionic-bar-chart>

        <h4>Will the app also be available as a native binary in the app stores?</h4>
        <ionic-bar-chart data="{
          'Yes': 42,
          'Maybe': 36,
          'No': 22
        }"></ionic-bar-chart>

        <h4>What is the *primary* motivation for building a PWA?</h4>
        <ionic-bar-chart data="{
          'Cross-platform efficiency (easier to serve multiple platforms with one app)': 41,
          'Improve mobile web experience': 20,
          'Distribute the app directly to users, without having to rely on third-parties': 19,
          'Make it easier to update the app whenever we want': 13,
          'Acquire new users': 4,
          'Everyone else is doing it': 3
        }"></ionic-bar-chart>

        <h4>If you have published a PWA already, what is the biggest impact you have observed so far?</h4>
        <ionic-bar-chart data="{
          'Simplified operations: Easier for our team to manage and maintain the app': 44,
          'Better engagement: Increased usage compared to traditional web app': 20,
          'No impact since publishing the PWA': 18,
          'Increased user acquisition: More users trying the app': 13,
          'More revenue: Increased in-app or ad-driven revenue': 4
        }"></ionic-bar-chart>

        <h4>Which tools, libraries, or frameworks are you using to build PWAs?</h4>
        <ionic-bar-chart data="{
          'Ionic': 76,
          'Angular': 71,
          'React': 17,
          'Vue': 15,
          'Stencil': 7,
          'Polymer': 3,
          'Preact': 1,
          'Other': 1
        }"></ionic-bar-chart>

        <h4>How are you hosting the PWA(s)?</h4>
        <ionic-bar-chart data="{
          'Self-hosted': 38,
          'Firebase': 28,
          'AWS': 18,
          'Azure': 7,
          'Netlify': 2,
          'Digital Ocean': 1,
          'Heroku': 1,
          'NextJS': 1,
          'Google Cloud Platform': 1,
          'Citrix': 0,
          'Other': 4
        }"></ionic-bar-chart>

        <h4>Which of the following services do you use to send Push Notifications?</h4>
        <ionic-bar-chart data="{
          'Firebase': 66,
          'OneSignal': 24,
          'GCM': 21,
          'APNS': 19,
          'IBM': 2,
          'Urban Airship': 1,
          'Pushwoosh': 3,
          'Azure': 1,
          'Other': 6
        }"></ionic-bar-chart>

        <h4>Which of the following database technologies have you used extensively over the past year?</h4>
        <ionic-bar-chart data="{
          'MySQL': 59,
          'Firebase': 42,
          'MongoDB': 33,
          'Postgres': 22,
          'AWS RDS': 9,
          'Microsoft SQL Server': 6,
          'AWS Dynamo DB': 6,
          'MariaDB': 0,
          'Couch': 1,
          'Oracle': 2,
          'Other':3
        }"></ionic-bar-chart>

        <h4>Which of the following technologies do you use to host the backend of your apps?</h4>
        <ionic-bar-chart data="{
          'Self-hosting': 40,
          'Firebase': 35,
          'Amazon ECS': 19,
          'Digital Ocean': 15,
          'Heroku': 14,
          'Azure': 14,
          'Google App Engine/ GCP Containers': 10,
          'AWS Lambda': 10,
          'VPS Provider': 8,
          'AWS LightSail': 2,
          'Microsoft': 2,
          'IBM': 0,
          'Kinvey': 0,
          'Other': 3
        }"></ionic-bar-chart>

        <h4>Which of the following user authentication services have you used extensively over the past year?</h4>
        <ionic-bar-chart data="{
          'Firebase Auth': 44,
          'Custom OAuth': 32,
          'Auth0': 28,
          'Auth.io': 9,
          'OpenID Connect': 7,
          'Azure Authentication': 6,
          'Amazon Cognito': 5,
          'Microsoft ADFS': 4,
          'GCP Auth': 3,
          'Fabric Digits': 1,
          'Stormpath': 1,
          'Other': 7
        }"></ionic-bar-chart>
        {% endraw %}
      </div>
    </section>
    <hgroup class="text-center data">
      <div class="container">
        <h2>Methodology</h2>
        <p class="lg">
          The Ionic Developer Survey was fielded from February 2017 to June 
          2017. A total of 13,248 respondents completed the survey during that 
          period. Responses were collected directly by Ionic using Google Forms. 
          Analysis of the results was performed by Ionic following completion of 
          the survey in June 2017.
        </p>
      </div>
    </hgroup>
  </article>
</main>

{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script>
window.sr = ScrollReveal({ duration: 1000, scale: 1, distance: '10px' });
sr.reveal('.animate-in p, .animate-in h4, .animate-in aside, ' +
          '.animate-in .tools, .animate-in ionic-bar-chart');
sr.reveal('.animate-in ionic-bar-chart', {duration: 500});


          {# var gradient = d3.select('defs')
            .append('linearGradient')
            .attr('id', 'gradient')
            .attr('x1', '-100%').attr('y1', '50%')
            .attr('x2', '100%').attr('y2', '50%');

          gradient.append('stop')
            .attr('offset', '0%')
            .attr('stop-color', '#00fcd5');
          
          gradient.append('stop')
            .attr('offset', '100%')
            .attr('stop-color', '#00c6ff'); #}
</script>
{% endblock %}