{% extends '_layouts/blank.html' %}
{% set id = 'x' %}
{% set header_style = 'transparent' %}
{% set cssPath = 'x' %}
{% set title = data.title %}
{# {% set meta_image = ''%} #}
{# {% set meta_description = ''%} #}
{% set hide_pre_header = true %}


{% block main %}
<header>
  <div class="container">
    <nav>
      <a href="/x"><img src="/img/x/logo.png" alt="Ionic Logo" class="logo"></a>

      <ul>
        <li>
          <a href="/x/love-letter">Why X?</a>
        </li>
        <li>
          <a href="/books/rethinking-low-code">Read our Whitepaper</a>
        </li>
        <li>
          <a href="#schedule" class="btn dark anchor">Join beta</a>
        </li>
      </ul>
    </nav>
  </div>

  <hgroup class="container">
    <h1>{{ data.headline }}</h1>
    <p>{{ data.tagline }}</p>
    <div class="btns">
      <a href="#schedule" class="btn anchor">Get early access</a>

    </div>
    <a href="#sneak-peak" class="keep-reading anchor">
      Or keep scrolling to learn more
      <ion-icon name="ios-arrow-down"></ion-icon>
    </a>
  </hgroup>
</header>

<main>
  <div class="container hero">
    <img id="sneak-peak" src="/img/x/preview.png" alt="Ionic X Preview">
  </div>

  <section id="uncompromising" class="center">
    <div class="container">
      <hgroup>
        {{ PrismicDOM.RichText.asHtml(data.experiences_heading) }}
      </hgroup>

      <ul class="items">
        <li>
          <img src="/img/x/ico-backlog.png" alt="Checklist Icon" width="48">
          {{ PrismicDOM.RichText.asHtml(data.experiences_item_1) }}
        </li>
        <li>
          <img src="/img/x/ico-talent.png" alt="People Icon" width="48">
          {{ PrismicDOM.RichText.asHtml(data.experiences_item_2) }}
        </li>
        <li>
          <img src="/img/x/ico-control.png" alt="Settings Icon" width="48">
          {{ PrismicDOM.RichText.asHtml(data.experiences_item_3) }}
        </li>
      </ul>
    </div>
  </section>

  <section id="create" class="left">
    <div class="container">
      <hgroup>
        {{ PrismicDOM.RichText.asHtml(data.drag___drop) }}
        <a href="#schedule" class="more anchor">Get a demo <ion-icon name="ios-arrow-forward"></ion-icon></a>
      </hgroup>
      <img src="/img/x/drag-drop.png" alt="Drag and Drop app Creation" class="graphics">
    </div>
  </section>

  <section id="data" class="right">
    <div class="container">
      <hgroup>
        {{ PrismicDOM.RichText.asHtml(data.data) }}
        <a href="#schedule" class="more anchor">Get a demo <ion-icon name="ios-arrow-forward"></ion-icon></a>
      </hgroup>
      <img src="/img/x/data-connector.png" alt="Control your data visually" class="graphics">
    </div>
  </section>

  <section id="ide" class="left">
    <div class="container">
      <hgroup>
        {{ PrismicDOM.RichText.asHtml(data.code) }}
        <a href="#schedule" class="more anchor">Get a demo <ion-icon name="ios-arrow-forward"></ion-icon></a>
      </hgroup>
      <img src="/img/x/ide.png" alt="" class="graphics">
    </div>
  </section>

  <section id="ci" class="right">
    <div class="container">
      <hgroup>
        {{ PrismicDOM.RichText.asHtml(data.ci) }}
        <a href="#schedule" class="more anchor">Get a demo <ion-icon name="ios-arrow-forward"></ion-icon></a>
      </hgroup>
      <img src="/img/x/live-updates.png" alt="" class="graphics">
    </div>
  </section>

  <div class="bar">
    <div class="container">
      <h2>{{ data.community_headline }}</h2>
      <ul>
        <li>{{ data.community_item_1_html | safe }}</li>
        <li>{{ data.community_item_2_html | safe }}</li>
        <li>{{ data.community_item_3_html | safe }}</li>
        <li>{{ data.community_item_4_html | safe }}</li>
      </ul>
    </div>
  </div>

  <section class="center">
    <div class="container">
      <hgroup>
        {{ PrismicDOM.RichText.asHtml(data.platform_headline) }}
      </hgroup>
      <ul class="items">
        {% for item in data.platform_items %}
          <li>
            <img src="{{item.image.url}}"
                 srcset="{{item.image['1x'].url}} 1x, {{item.image.url}} 2x"
                 alt="{{item.image.alt}}">
            {{ PrismicDOM.RichText.asHtml(item.text) }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <div id="what-you-got">
    <div class="container">
      <h2>What you get</h2>
      <ul class="checkmark-list checkmark-list--split">

        {% for feature in data.what_you_get %}
          <li>{{ feature.item }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</main>

<div id="schedule">
  <div class="container">
    <div class="expander">
      <hgroup>
        {{ PrismicDOM.RichText.asHtml(data.footer_cta) }}
        <div class="hubspot-override hubspot-override--large">
          <!--[if lte IE 8]>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
              portalId: "3776657",
              formId: "cf56f622-dbdb-4b82-a30b-7f5e066d877f",
              css: ""
          });
          </script>
        </div>
      </hgroup>
      <img src="/img/x/make-it-easy.png" class="graphics"/>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <img src="/img/x/logo-white.png" alt="Ionic Logo - White" class="logo">
    <hgroup>
      {{ PrismicDOM.RichText.asHtml(data.footer_text) }}
    </hgroup>
    {{ PrismicDOM.RichText.asHtml(data.footer_links) }}
  </div>
</footer>

{# <pre><code>{{ data | dump(2) }}</code></pre> #}

{% endblock %}

{% block modals %}

{% endblock %}

{% block scripts %}

{% endblock %}
