{% extends '_layouts/blank.html' %}
{% set id = 'x' %}
{% set header_style = 'transparent' %}
{% set cssPath = 'x' %}
{% set title = data.title %}
{# {% set meta_image = ''%} #}
{# {% set meta_description = ''%} #}
{% set hide_pre_header = true %}


{% block main %}
<header>
  <div class="container">
    <nav>
      <a href="/x"><img src="/img/x/logo.png" alt="Ionic Logo" class="logo"></a>

      <ul>
        <li class="active">
          <a href="/x/love-letter">Why X?</a>
        </li>
        <li>
          <a href="/books/rethinking-low-code">Read our Whitepaper</a>
        </li>
        <li>
          <a href="#schedule" class="btn dark anchor">Join beta</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<main class="letter">
  <div class="container">
    <h2 class="emoji large">🐘</h2>
    <p><strong>It's time we talked about the elephant in the room.</strong></p>
    <p>Low-Code products have been built the same way for almost 15 years, and while they are great for the business to accelerate simple apps, they quickly begin to fall apart as those apps get adopted.</p>
    <p>They say "Pro Dev Friendly," "No Limits," and "Never Hit a Wall."</p>
    <p>The elephant? We all know that's not true.</p>
    <p>I've been to business, low-code, and analyst conferences, I've been on hundreds of phone calls with users, and when talking with people who have already adopted Low-Code, all of them were disappointed.</p>
    <ul>
      <li>We <em>did</em> hit a wall quickly. </li>
      <li>I felt like I was having to say No to our users more often than I'd like when they asked for feature requests.</li>
      <li>We're jumping ship, Low-Code didn't work for us because we need <em>&lt;insert special feature here&gt;.</em></li>
    </ul>
    <p>It seems no one was actually <em>fighting</em> for the Low-Code users, instead, these companies adopt top-down selling patterns - selling the benefits to execs but short-changing the actual development teams and treating them as secondary.</p>

    <h2 class="emoji small">❤️</h2>
    <p>At Ionic, we've been an Open Source, Pro-Developer, company for over 7 years now. We always fight for the developer AND the company to provide better apps that accomplish their goals.</p>
    <p>So while we've already helped thousands and thousands of companies build Full-Code apps, combined with our history of building Drag-and-Drop tools, we thought "Why not us?"</p>
    <p>Why couldn't <em>WE</em> fight for Low-Code?</p>
    <p>So what would it look like?</p>
    <p>A platform fully based on Open Source technology, a robust set of components meticulously crafted for performance and usability, easy connections to your data, empowerment of the developers to truly program anything.</p>
    <p>"Yah, yah, but why should I believe you instead of those other guys? They're Pro Dev friendly!"</p>
    <p>One reason.</p>
    <p>We acknowledge that you'll always need to build something special for an app, there will always be that "one thing" that your users need that the Low-Code platform doesn't provide. So instead of trying to hide that, we embrace it.</p>
    <p>Everything our platform provides works on the code as the source-of-truth. What does that mean?</p>
    <p>It means you can pop open the hood, and edit any code you'd like, and the Low-Code tooling will continue to work!</p>
    <p>So go ahead, start with Low-Code, connect to all your data, rip it open, and have your pro devs program that one amazing feature that makes your app truly impact the business, using technology they already know and love (there are millions of devs familiar with our tech already).</p>
    <p>Simply put: Code matters.</p>
    <p>We believe you should adopt Low-Code to move faster, but you should also have an amazing developer experience to go along with it.</p>

    <p class="pre-form">Are you with me? <br/> <strong>Apply for early access.</strong></p>
    <div class="hubspot-override hubspot-override--large">
      <!--[if lte IE 8]>
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
      <![endif]-->
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
      <script>
        hbspt.forms.create({
          portalId: "3776657",
          formId: "cf56f622-dbdb-4b82-a30b-7f5e066d877f",
          css: ""
      });
      </script>
    </div>

    <p>Welcome to the Ionic X family.</p>
    <p>
      &ndash;
      <em>Matt Kremer,
        <span class="small">Director of Product</span>
      </em>
    </p>
  </div>
</main>

{% endblock %}

{% block modals %}

{% endblock %}

{% block scripts %}

{% endblock %}
