<!DOCTYPE html>
<html lang="en">
  <head>
    {% if page.centered != true %}
      {% assign isDocs = true %}
    {% else %}
      {% assign isDocs = false %}
    {% endif %}
    {% include fluid/head.prod.html %}
  </head>
  <body id="{% if isDocs %}docs-{% endif %}page-{{page.id}}"
        class="{% if isDocs %}v2 docs fluid {% endif %}page-{{page.id}}
               {% if page.body_class %} page-{{page.body_class}}{% endif %}
               {% if layout.body_class %} {{layout.body_class}}{% endif %}
               {% if page.header_style %}{{page.header_style}}{% endif %}"
        data-spy="scroll"
        data-offset="100"
        {% if isDocs %}data-target="#components-index"{% endif %}
        ng-app="IonicSite">
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TKMGCBC"
              style="display:none;visibility:hidden"
              height="0"
              width="0" ></iframe>
    </noscript>
    {% if page.centered != true %}
      {% include fluid/docs_header.html %}
    {% else %}
      {% include fluid/header.html %}
    {% endif %}

    {{ content }}

    {% if page.prev_page_title  or page.next_page_title %}
      <div class="footer-links">
        <hr>
        {% if page.prev_page_title and page.prev_page_link %}
          <a class="footer-link prev" href="{{page.prev_page_link}}">
            {{page.prev_page_title}}</a>
        {% endif %}
        {% if page.next_page_title and page.next_page_link %}
          <a class="footer-link next" href="{{page.next_page_link}}">
            {{page.next_page_title}}</a>
        {% endif %}
      </div>
    {% endif %}

    {% if page.pre_footer == true %}
      {% include fluid/pre_footer.html %}
    {% endif %}

    {% if page.centered == true %}
      {% include fluid/footer.html %}
    {% endif %}

    <div id="search-results">
      <div id="results-api">
        <h3>API</h3>
        <ul></ul>
      </div>
      <div id="results-native">
        <h3>Native</h3>
        <ul></ul>
      </div>
      <div id="results-other">
        <h3>General</h3>
        <ul></ul>
      </div>
    </div>
    {% include fluid/footer_tags.html %}
  </body>
</html>
