---
layout: fluid/default
---

<div class="docs-container"
     {% if page.angular_controller %}
       ng-controller="{{ page.angular_controller }}"
     {% endif %}>
  <nav class="side-nav" id="side-nav" data-spy="affix" data-offset-top="38">
    <form class="form-group search" role="search">
      <input type="text"
             class="form-control search-input"
             placeholder="Search"
             data-searchpos="sidebar"
             ng-model="searchTerm">
    </form>
    {% if page.category == 'api' %}
      {% include fluid/docs_side_nav_api.html %}
    {% elsif page.category == 'native' %}
      {% include fluid/docs_side_nav_native.html %}
    {% else %}
      {% include fluid/docs_side_nav_main.html %}
    {% endif %}
  </nav>
  {% if page.show_preview_device %}
  <aside id="platform-preview" class="platform-preview">
    <div class="platform-toggle">
      <a ng-class="{active: iosActive}"
         ng-click="setPlatform('ios')">iOS</a>
      <a ng-class="{active: androidActive}"
         ng-click="setPlatform('android')">Android</a>
      <a ng-class="{active: windowsActive}"
         ng-click="setPlatform('windows')">Windows</a>
    </div>
    <div id="demo-device-ios"
         ng-class="previewPlatform"
         ng-show="iosActive"
         ng-cloak>
      <iframe id="demo-ios"
            {% if page.preview_device_url %}
              src="{{ page.preview_device_url }}?production=true&ionicplatform=ios"
            {% else %}
              src="/dist/preview-app/www/?production=true&ionicplatform=ios"
            {% endif %}
              frameborder="0">
      </iframe>
    </div>
    <div id="demo-device-android"
         ng-class="previewPlatform"
         ng-show="androidActive"
         ng-cloak>
      <iframe id="demo-android"
            {% if page.preview_device_url %}
              src="{{ page.preview_device_url }}?production=true&ionicplatform=android"
            {% else %}
              src="/dist/preview-app/www/?production=true&ionicplatform=android"
            {% endif %}
              frameborder="0">
      </iframe>
    </div>
    <div id="demo-device-windows"
         ng-class="previewPlatform"
         ng-show="windowsActive"
         ng-cloak>
      <iframe id="demo-windows"
            {% if page.preview_device_url %}
              src="{{ page.preview_device_url }}?production=true&ionicplatform=windows"
            {% else %}
              src="/dist/preview-app/www/?production=true&ionicplatform=windows"
            {% endif %}
              frameborder="0">
      </iframe>
    </div>
    {% if page.preview_device_url %}
      <a href="https://github.com/ionic-team/ionic/tree/v3/{{ page.preview_device_url | replace: '/docs/', '' | replace: '/www/', '' | replace: 'v3/', '' }}">
        Demo source</a>
    {% endif %}
  </aside>
  {% endif %}
  <main>
    {{ content }}
  </main>
  {% if page.category == 'components' %}
    <div  id="components-header" class="fixed-header">
      <hgroup>
        <h3>Overview</h3>
        <h4 class="not-shown">
          <nobr class="top"></nobr>
          <nobr class="middle"></nobr>
          <nobr class="bottom"></nobr>
        </h4>
      </hgroup>
    </div>
  {% endif %}
</div>
