---
layout: fluid/centered
back_button_text_image: "/img/docs/docs-pro-text.png"
body_class: 'responsive-docs light'
hide_version_dropdown: true
navbar_id: 'pro-header'
plain_header: true
is_responsive: true
header_style: transparent
---

<div class="sub-header">
  <div class="container">
    <ul class="left breadcrumbs">
      <li><a href="/developers/">Documentation</a></li>
      <li>Pro docs</li>
    </ul>
    <ul class="right">
      <li><a href="/docs/pro/" class="active">Documentation</a></li>
      <li><a href="https://ionicframework.com/support">Support</a></li>
      <li><a href="https://dashboard.ionicframework.com/">Dashboard</a></li>
    </ul>
  </div>
</div>

<div id="pro-docs"
     class="responsive-docs-container docs-container"
     ng-controller="ProDocsCtrl as vm">
  <div class="container">
    <div class="row">
      <nav class="side-nav responsive-side-nav col-md-4"
           data-spy="affix"
           data-offset="193">
        {% include fluid/pro_docs_side_nav_main.html %}
      </nav>
      <main class="col-md-8">
        {{ content }}
      </main>
    </div>
  </div>
</div>
