@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Poppins');

@font-face {
 font-family: 'Ionicons';
 src:
  url('/fonts/ionicons.woff2') format('woff2'),
  url('/fonts/ionicons.woff') format('woff'),
  url('/fonts/ionicons.ttf') format('ttf'),
  url('/fonts/ionicons.eot#iefix') format('eot')
  url('/fonts/ionicons.svg#Ionicons') format('svg');
 font-weight: normal;
 font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Bold'),
       url('/fonts/avenir-next/bold.woff2') format('woff2'),
       url('/fonts/avenir-next/bold.woff') format('woff'),
       url('/fonts/avenir-next/bold.ttf') format('ttf'),
       url('/fonts/avenir-next/bold.eot?#iefix') format('eot');
  font-weight: 700;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Demi Bold'),
       url('/fonts/avenir-next/demi.woff2') format('woff2'),
       url('/fonts/avenir-next/demi.woff') format('woff'),
       url('/fonts/avenir-next/demi.ttf') format('ttf'),
       url('/fonts/avenir-next/demi.eot?#iefix') format('eot');
  font-weight: 600;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Medium'),
       url('/fonts/avenir-next/medium.woff') format('woff'),
       url('/fonts/avenir-next/medium.ttf') format('truetype'),
       url('/fonts/avenir-next/medium.eot?#iefix') format('eot');
  font-weight: 500;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Regular'),
       url('/fonts/avenir-next/regular.woff') format('woff'),
       url('/fonts/avenir-next/regular.ttf') format('ttf'),
       url('/fonts/avenir-next/regular.eot?#iefix') format('eot');
  font-weight: 400;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Thin'),
       url('/fonts/avenir-next/thin.woff2') format('woff2'),
       url('/fonts/avenir-next/thin.woff') format('woff'),
       url('/fonts/avenir-next/thin.ttf') format('ttf'),
       url('/fonts/avenir-next/thin.eot?#iefix') format('eot');
  font-weight: 300;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Ultra Light'),
       url('/fonts/avenir-next/ultralight.woff2') format('woff2'),
       url('/fonts/avenir-next/ultralight.woff') format('woff'),
       url('/fonts/avenir-next/ultralight.ttf') format('ttf'),
       url('/fonts/avenir-next/ultralight.eot?#iefix') format('eot');
  font-weight: 200;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Eina';
  src: url('/fonts/eina/eina-01-bold.woff2') format('woff2'),
       url('/fonts/eina/eina-01-bold.woff') format('woff'),
       url('/fonts/eina/eina-01-bold.ttf') format('ttf'),
       url('/fonts/eina/eina-01-bold.eot?#iefix') format('eot');
  font-weight: 700;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Eina';
  src: url('/fonts/eina/eina-01-semibold.woff2') format('woff2'),
       url('/fonts/eina/eina-01-semibold.woff') format('woff'),
       url('/fonts/eina/eina-01-semibold.ttf') format('ttf'),
       url('/fonts/eina/eina-01-semibold.eot?#iefix') format('eot');
  font-weight: 600;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Eina';
  src: url('/fonts/eina/eina-01-regular.woff2') format('woff2'),
       url('/fonts/eina/eina-01-regular.woff') format('woff'),
       url('/fonts/eina/eina-01-regular.ttf') format('ttf'),
       url('/fonts/eina/eina-01-regular.eot?#iefix') format('eot');
  font-weight: 400;
  unicode-range: U+000-5FF;
}
