:root {
  --c-white: #ffffff;
  --c-black: #000000;

  --c-ionic-brand: #3880FF;

  --c-blue-0: #F0F6FF;
  --c-blue-100: #E3EDFF;
  --c-blue-200: #CDDFFF;
  --c-blue-300: #B2CEFF;
  --c-blue-400: #97BDFF;
  --c-blue-500: #7CABFF;
  --c-blue-600: #639CFF;
  --c-blue-700: #4D8DFF;
  --c-blue-800: #3880FF;

  --c-grey-100: #F9F9F9;
  --c-grey-200: #F3F3F3;
  --c-grey-300: #EBEBEB;
  --c-grey-400: #E1E1E1;
  --c-grey-500: #D8D8D8;
  --c-grey-600: #C5C5C5;
  --c-grey-700: #AEAEAE;
  --c-grey-800: #8C8C8C;
  --c-grey-900: #727272;
  --c-grey-1000: #555555;
  --c-grey-1100: #444444;
  --c-grey-1200: #222222;

  --c-carbon-100: #778391;
  --c-carbon-200: #616E7E;
  --c-carbon-300: #4E5B6A;
  --c-carbon-400: #414D5C;
  --c-carbon-500: #2F3A48;
  --c-carbon-600: #27323F;
  --c-carbon-700: #1A232F;
  --c-carbon-800: #0E151F;
  --c-carbon-900: #020814;

  --c-indigo-50: #FBFBFD;
  --c-indigo-100: #F6F8FB;
  --c-indigo-200: #E9EDF3;
  --c-indigo-300: #DEE3EA;
  --c-indigo-400: #CED6E0;
  --c-indigo-500: #B2BECD;
  --c-indigo-600: #92A1B3;
  --c-indigo-700: #73849A;
  --c-indigo-800: #5B708B;
  --c-indigo-900: #445B78;
  --c-indigo-1000: #2D4665;
  --c-indigo-1100: #193455;
  --c-indigo-1200: #001A3A;

  --c-purple-0: #F4F4FF;
  --c-purple-100: #E9EAFF;
  --c-purple-200: #D0D2FF;
  --c-purple-300: #B6B9F9;
  --c-purple-400: #9A99FC;
  --c-purple-500: #8582FB;
  --c-purple-600: #786DF9;
  --c-purple-700: #6E5BFD;
  --c-purple-800: #6030FF;

  --c-pink-0: #FFF1FB;
  --c-pink-200: #FFE7F8;
  --c-pink-400: #FBC4DB;
  --c-pink-600: #F37BAB;
  --c-pink-800: #E54385;

  --c-red-0: #FFE3E3;
  --c-red-200: #FFCDCD;
  --c-red-400: #F88D8D;
  --c-red-600: #F45454;
  --c-red-800: #E13535;
}