h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-eina;
  letter-spacing: -0.02em;
  font-weight: 700;
}

a {
  transition: color .2s;

  &:hover {
    text-decoration: none;
  }
}

p {
  &.lg {
    font-size: 18px;
    font-weight: 400;
    color: $darkish-grey;

    &.strong {
      font-weight: 500;
    }

    &.light {
      color: $darkish-grey;
    }
  }

  &.sm {
    font-size: 13px;
  }

  &.xs {
    font-size: 11px;
  }
}

.subheading {
  color: #888;
  font-size: 15px;
}
