$font-family-eina: 'Eina', 'Helvetica Neue', Helvetica, sans-serif;
$font-family-inter: 'Inter', 'Inter UI', Helvetica, Arial, sans-serif;
$font-family-system: apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;

$font-family-monospace: 'Roboto Mono', Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family-serif: 'Adobe Caslon', Georgia, Times, 'Times New Roman', serif;

$font-family-default: $font-family-inter;

$blue:          #4a8bfc;
$blue-800:      #4D8DFF;
$light-blue:    #529eff;
$green:         #00CEAB;
$orange:        #fcb52c;
$purple:        #7580F4;
$red:           #f8556c;
$navy:          #104784;

$whiteish:      #f9fafb;
$lighter-grey:  #ebeef2;
$light-grey:    #e6e9ee;
$lightish-grey: #a0a5b0;
$grey:          #9da5b3;
$darkish-grey:  #898989;
$dark-grey:     #576070;
$blackish:      #4C555A;
$blacker:       #24282e;

$sidenav-width: 230px;
$platform-preview-width: 467px;

// bootstrap overrides
$navbar-default-bg:     $blue;
$navbar-default-border: $blue;
$navbar-default-brand-color: rgba(white, .8);
$navbar-default-link-color:  rgba(white, .8);
$navbar-default-brand-hover-color: #fff;
$navbar-default-link-hover-color:  #fff;
$navbar-default-link-active-color: #fff;
$navbar-default-link-active-bg: transparent;

// $navbar-default-brand-hover-bg;
// $navbar-default-link-hover-bg;
// $navbar-default-link-disabled-color;
// $navbar-default-link-disabled-bg;
// $navbar-default-toggle-border-color;
// $navbar-default-toggle-hover-bg;
// $navbar-default-toggle-icon-bar-bg;

// bootstrap variables and mixins
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
