//
// Ionic v2
//
// SCSS styles for Ionicframework.com.
// Some parts of the site still use styles in ./scss rather than this ./_scss
// These former pages are depreciated and being phased out for the styles here.
//
//
// @import url('https://fonts.googleapis.com/css?family=Nunito:300');
@import 'ionicons-v3/ionicons';

.ionic-example {
  // @import '../../content/docs/demos/css/ionic.css';
}

@import 'vars';
@import 'fonts';

// Reset and dependencies
@import 'bootstrap/normalize';
@import 'bootstrap/print';
@import 'bootstrap/glyphicons';

// Core CSS
@import 'bootstrap/scaffolding';
@import 'bootstrap/type';
@import 'bootstrap/code';
@import 'bootstrap/grid';
@import 'bootstrap/tables';
@import 'bootstrap/forms';
@import 'bootstrap/buttons';

// Components
@import 'bootstrap/component-animations';
@import 'bootstrap/dropdowns';
@import 'bootstrap/button-groups';
@import 'bootstrap/input-groups';
@import 'bootstrap/navs';
@import 'bootstrap/navbar';
// @import 'bootstrap/breadcrumbs';
// @import 'bootstrap/pagination';
// @import 'bootstrap/pager';
// @import 'bootstrap/labels';
@import 'bootstrap/badges';
// @import 'bootstrap/jumbotron';
// @import 'bootstrap/thumbnails';
// @import 'bootstrap/alerts';
// @import 'bootstrap/progress-bars';
// @import 'bootstrap/media';
// @import 'bootstrap/list-group';
// @import 'bootstrap/panels';
// @import 'bootstrap/responsive-embed';
// @import 'bootstrap/wells';
// @import 'bootstrap/close';

// Components w/ JavaScript
@import 'bootstrap/modals';
@import 'bootstrap/tooltip';
// @import 'bootstrap/popovers';
// @import 'bootstrap/carousel';

// Utility classes
@import 'bootstrap/utilities';
@import 'bootstrap/responsive-utilities';

@import 'pygments/ionic';
@import 'hljs';
@import 'typography';

// ionic-site utilities
@import 'animations';
@import 'mixins';

@import 'components/banner';
@import 'components/bar';
@import 'components/bar-chart';
@import 'components/checkmark-list';
@import 'components/form';
@import 'components/header';
@import 'components/hubspot_form';
@import 'components/sub_header';
@import 'components/hero';
@import 'components/cta';
@import 'components/pre_footer';
@import 'components/pre-header';
@import 'components/footer';
@import 'components/utils';
@import 'components/buttons';
@import 'components/draggable';
@import 'components/jquery_UI';
@import 'components/alert';
@import 'components/side_nav';
@import 'components/tables';
@import 'components/toc';
@import 'components/docs_content';
@import 'components/pro_docs_content';
@import 'components/promo';
@import 'components/mobile-nav';
@import 'components/responsive_docs';
@import 'components/resource-card';
@import 'components/modal';
@import 'components/site-search';
@import 'components/snap_bar';
@import 'components/social_share_sidebar';
@import 'components/tabs';
@import 'components/tag';
@import 'components/testimonial-slides';
@import 'components/tooltip';
@import 'components/tippy';

@import 'general';
@import 'pages/404';
// @import 'pages/about';
@import 'pages/articles/pwa-architects-guide';
@import 'pages/articles/why-hybrid';
@import 'pages/books/hybrid-vs-native';
@import 'pages/books/preview';
@import 'pages/community';
// @import 'pages/contact';
@import 'pages/contributors';
@import 'pages/demo';
// @import 'pages/developers';
@import 'pages/enterprise/index';
@import 'pages/enterprise/identity-vault';
// @import 'pages/enterprise/support';
@import 'pages/enterprise/training';
@import 'pages/getting-started';
@import 'pages/go/pwa-architects-guide';
@import 'pages/go/why-hybrid';
@import 'pages/home';
// @import 'pages/jobs';
// @import 'pages/press/index';
@import 'pages/press/release';
// @import 'pages/pricing/index';
// @import 'pages/pricing/table';
// @import 'pages/pricing/trial';
@import 'pages/pro/contact';
@import 'pages/pro/deploy';
@import 'pages/pro/general';
// @import 'pages/pro/index';
@import 'pages/pro/monitor';
@import 'pages/pro/package';
@import 'pages/pro/teams';
@import 'pages/pwa/index';
@import 'pages/pwa/toolkit';
@import 'pages/resources/index';
@import 'pages/resources';
@import 'pages/sales';
@import 'pages/startups';
// @import 'pages/support';
// @import 'pages/survey/surveys';
// @import 'pages/team';
// @import 'pages/trusted-partners';
// @import 'pages/values';
@import 'pages/what-is-ionic';
