//
// Ionic v2
//
// SCSS styles for Ionicframework.com.
// Some parts of the site still use styles in ./scss rather than this ./_scss
// These former pages are depreciated and being phased out for the styles here.
//
//
// @import url('https://fonts.googleapis.com/css?family=Nunito:300');
@import '../../node_modules/ionicons/dist/scss/ionicons';

.ionic-example {
  @import '../../content/docs/demos/css/ionic';
}

@import 'vars';
@import 'fonts';

// Core variables and mixins
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

// Reset and dependencies
@import 'bootstrap/normalize';
@import 'bootstrap/print';
@import 'bootstrap/glyphicons';

// Core CSS
@import 'bootstrap/scaffolding';
@import 'bootstrap/type';
@import 'bootstrap/code';
@import 'bootstrap/grid';
@import 'bootstrap/tables';
@import 'bootstrap/forms';
@import 'bootstrap/buttons';

// Components
@import 'bootstrap/component-animations';
@import 'bootstrap/dropdowns';
@import 'bootstrap/button-groups';
@import 'bootstrap/input-groups';
@import 'bootstrap/navs';
@import 'bootstrap/navbar';
// @import 'bootstrap/breadcrumbs';
// @import 'bootstrap/pagination';
// @import 'bootstrap/pager';
// @import 'bootstrap/labels';
// @import 'bootstrap/badges';
// @import 'bootstrap/jumbotron';
// @import 'bootstrap/thumbnails';
// @import 'bootstrap/alerts';
// @import 'bootstrap/progress-bars';
// @import 'bootstrap/media';
// @import 'bootstrap/list-group';
// @import 'bootstrap/panels';
// @import 'bootstrap/responsive-embed';
// @import 'bootstrap/wells';
// @import 'bootstrap/close';

// Components w/ JavaScript
@import 'bootstrap/modals';
@import 'bootstrap/tooltip';
// @import 'bootstrap/popovers';
// @import 'bootstrap/carousel';

// Utility classes
@import 'bootstrap/utilities';
@import 'bootstrap/responsive-utilities';

@import 'pygments/ionic';
@import 'hljs';
@import 'typography';

@import 'components/animations';
@import 'components/banner';
@import 'components/bar';
@import 'components/bar-chart';
@import 'components/form';
@import 'components/header';
@import 'components/sub_header';
@import 'components/hero';
@import 'components/cta';
@import 'components/pre_footer';
@import 'components/footer';
@import 'components/utils';
@import 'components/buttons';
@import 'components/draggable';
@import 'components/jquery_UI';
@import 'components/alert';
@import 'components/side_nav';
@import 'components/tables';
@import 'components/toc';
@import 'components/docs_content';
@import 'components/pro_docs_content';
@import 'components/responsive_docs';
@import 'components/modal';
@import 'components/slider';
@import 'components/snap_bar';
@import 'components/social_share_sidebar';
@import 'components/tag';
@import 'components/tooltip';

@import 'general';
@import 'pages/404';
@import 'pages/about';
@import 'pages/contact';
@import 'pages/demo';
@import 'pages/developers';
@import 'pages/docs/home';
@import 'pages/docs/ionicons-resource';
@import 'pages/docs/native';
@import 'pages/docs/search';
@import 'pages/docs/pro/beta-testing';
@import 'pages/enterprise';
@import 'pages/getting-started';
@import 'pages/home';
@import 'pages/jobs';
@import 'pages/press';
@import 'pages/pricing/index';
@import 'pages/pricing/trial';
@import 'pages/products/contact';
@import 'pages/products/deploy';
@import 'pages/products/general';
@import 'pages/products/index';
@import 'pages/products/monitor';
@import 'pages/products/package';
@import 'pages/products/view';
@import 'pages/resource-center';
@import 'pages/resources';
@import 'pages/sales';
@import 'pages/support';
@import 'pages/surveys';
@import 'pages/team';
@import 'pages/trusted-partners';
@import 'pages/values';
