.v2 {
  .demo {
    float: right;

    margin-left: 15px;

  }

  .demo.inline {
    float: none;
    margin-left: 0;
  }

  .demo a {
    display: block;
    text-align: right;
    margin-top: 15px;
  }

  .demo iframe {
    width: 328px;
    height: 568px;
    border: none;
    border-radius: 10px;
    border: 4px solid #555;
  }

  .file-title {
    margin-top: 35px;
  }

  &.docs-ui .main-content {

    h3 {
      margin-top: 2em;
    }

    .highlight, p {
      margin-right: 390px;
      &.less-margin {
        margin-right: 120px;
      }
    }

    ul.demo-toggle {
      list-style: none;
      display: block;
      position: absolute;
      top: 32px;
      right: 285px;

      li {
        margin-left: 1px;
        display: inline;
        float: left;

        button {
          background-color: #EFEFF4;
          color: #000;
          border: 1px solid #C8C7CC;
        }

      }

    }
  }


}
