.ee-hero {
  max-width: 640px;
  padding-top: 130px;
  padding-bottom: 160px;

  &::before,
  &::after {
    display: none;
  }

  h1 {
    font-size: 52px;
    line-height: 62px;
    max-width: 930px;
    letter-spacing: -0.03em;

    color: #020814;
    margin-top: 0;
    margin-bottom: 16px;
  }

  h4 {
    font-family: $font-family-monospace;
    font-weight: bold;
    font-size: 13px;
    line-height: 26px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #92A1B3;
    margin-bottom: 29px;
  }

  p {
    font-family: $font-family-eina;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.04em;
    color: rgba(#27323F, .8);
  }

  .btn {
    padding-left: 24px;
    padding-right: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 14px;
    margin-top: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    background: #3880FF;
    box-shadow: 0px 2px 4px rgba(2, 8, 20, 0.1), 0px 1px 2px rgba(2, 8, 20, 0.08);
    border-radius: 210px;
    display: flex;
    align-items: center;

    &::after {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 512 512"><path d="M85 277.375h259.704L225.002 397.077 256 427l171-171L256 85l-29.922 29.924 118.626 119.701H85v42.75z"/></svg>');
      background-size: 100%;
      content: '';
      height: 20px;
      width: 20px;
      display: block;
      margin-left: 8px;
      transform: translateY(-1px);
    }

    &:hover {
      background-color: #4f8bf5;
    }
  }

  &--large {
    h1 {
      font-size: 62px;
      line-height: 69px;
    }
  }

  &--wide {
    max-width: 960px;
  }

  &--centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $screen-xs-max) {
    padding-top: 70px;
    padding-bottom: 0;

    h1 {
      font-size: 44px;
      line-height: 52px;
    }

    &--large h1 {
      font-size: 50px;
      line-height: 60px;
    }
  }

  @media (max-width: $screen-xs) {
    h1 {
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 6px;
    }

    &--large h1 {
      font-size: 42px;
      line-height: 52px;
    }

    .btn {
      margin-top: 8px;
    }
  }
}
