.preview-slides {

    .slide-contents {
      display: block;
      height: 100%;
      padding: 500px 0;
      width: 100%;
      font-weight: bold;
      font-size: 2.5em;
      color: #fff;
    }

    .demo-slide-1 {
      background-color: #32db64;
    }

    .demo-slide-2 {
      background-color: #387ef5;
    }

    .demo-slide-3 {
      background-color: #f53d3d;
    }

}

