<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              id="collapse-toggle"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <i class="ion-md-more"></i>
      </button>
      <button type="button"
              class="sidebar-toggle collapsed"
              id="sidebar-toggle">
        <span class="sr-only">Toggle sidebar</span>
        <i class="ion-md-menu"></i>
        <i class="ion-md-close"></i>
      </button>
      <a class="navbar-brand logo" href="/">
        <img src="/img/docs/ionic-docs-icon.png" id="ionic-docs-logo" />
        <img src="/img/docs/ionic-docs-icon-back.png" id="ionic-docs-back" />
      </a>
      <a class="navbar-brand" href="/docs/v2">
        <img src="/img/docs/ionic-docs-type.png" id="ionic-docs-text" />
      </a>
      <ul class="version">
        <li class="dropdown">
          <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown"
             role="button"
             aria-haspopup="true"
             aria-expanded="false">v2 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" class="active">
                v2 Framework Docs <i class="ion-ios-checkmark"></i>
              </a>
            </li>
            <li><a href="/docs/v1">v1 Framework Docs</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      {% if page.hide_header_search != true %}
      <form class="navbar-form navbar-left"
            role="search"
            data-searchpos="header">
        <div class="form-group">
          <input type="text"
                 class="form-control search-input"
                 placeholder="Search"
                 data-searchpos="header"
                 ng-model="searchTerm">
        </div>
      </form>
      {% endif %}
      <ul class="nav navbar-nav navbar-right">
        {% include v2_fluid/header_nav.html isDocs='true' %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
