<footer>
  <nav class="container">
    <a class="logo" href="/"></a>
    <ul>
      <li><strong>Developers</strong></li>
      <li><a href="/getting-started/">Getting Started</a></li>
      <li><a href="/docs/v2">Documentation</a></li>
      <li><a href="/docs/v2/components/">UI Components</a></li>
      <li><a href="/docs/v2/api/">API Reference</a></li>
      <li><a href="/docs/v2/native/">Ionic Native</a></li>
    </ul>
    <ul>
      <li><strong>Resources</strong></li>
      <li><a href="/docs/v2/theming/">Theming</a></li>
      <li><a href="/docs/v2/ionicons/">Ionicons</a></li>
      <li><a href="http://showcase.ionicframework.com/">Showcase</a></li>
      <li><a href="https://jobs.ionic.io">Job Board</a></li>
      <li><a href="https://market.ionic.io">Ionic Market</a></li>
    </ul>
    <ul>
      <li><strong>Contribute</strong></li>
      <li><a href="https://forum.ionicframework.com">Community Forum</a></li>
      <li><a href="http://ionicworldwide.herokuapp.com">Worldwide Slack</a></li>
      <li><a href="/contribute/">Contribute</a></li>
      <li><a href="/submit-issue/">Submit Issue</a></li>
      <li><a href="https://shop.ionic.io">Ionic Shop</a></li>
    </ul>
    <ul>
      <li><strong>Connect</strong></li>
      <li><a href="https://twitter.com/IonicFramework">Twitter</a></li>
      <li><a href="https://github.com/driftyco/ionic">GitHub</a></li>
      <li><a href="https://www.facebook.com/ionicframework">Facebook</a></li>
      <li><a href="https://plus.google.com/+Ionicframework">Google+</a></li>
      <li><a href="https://www.youtube.com/c/Ionicframework">YouTube</a></li>
    </ul>
    <ul>
      <li><strong>Products</strong></li>
      <li><a href="/">Ionic Framework</a></li>
      <li><a href="https://ionic.io">Ionic Cloud</a></li>
      <li><a href="https://ionic.io/products/creator">Ionic Creator</a></li>
      <li><a href="http://view.ionic.io">Ionic View app</a></li>
      <li><a href="http://ionic.io/enterprise">Enterprise</a></li>
    </ul>
  </nav>
  <div class="signup container">
    <form action="http://codiqa.createsend.com/t/t/s/jytylh/" method="post">
      <input name="cm-jytylh-jytylh"
             type="text"
             class="form-control"
             placeholder="Email address">
      <button class="btn">Subscribe</button>
    </form>
    <hgroup>
      <h3>Stay in the loop!</h3>
      <p>
        Sign up to receive emails for the latest Framework updates, features,
        and news.
      </p>
    </hgroup>
  </div>
  <div class="copyright">
    <div class="container">
      <span class="left">&copy;2013 - {{ site.time | date: '%Y' }} Ionic</span>
      <span class="right">
        Ionic Framework is licensed under <a target="_blank"
        href="https://github.com/driftyco/ionic/blob/master/LICENSE">MIT</a>.
        Docs under <a target="_blank"
        href="https://github.com/driftyco/ionic-site/blob/master/LICENSE">Apache
        2</a>
      </span>
    </div>
  </div>
</footer>
