<li class="capitalize {% if page.id == 'overview' %}active{% endif %}">
  <a href="/docs/v2/native/">Overview</a>
</li>
<li class="capitalize {% if page.id == 'mocking' %}active{% endif %}">
  <a href="/docs/v2/native/browser.html">Browser Usage</a>
</li>
<li class="capitalize {% if page.id == '3d-touch' %}active{% endif %}">
  <a href="/docs/v2/native/3d-touch">3D Touch</a>
</li>
<li class="capitalize {% if page.id == 'action-sheet' %}active{% endif %}">
  <a href="/docs/v2/native/action-sheet">Action Sheet</a>
</li>
<li class="capitalize {% if page.id == 'adbmobfree' %}active{% endif %}">
  <a href="/docs/v2/native/adbmobfree">AdbMobFree</a>
</li>
<li class="capitalize {% if page.id == 'admob' %}active{% endif %}">
  <a href="/docs/v2/native/admob">AdMob</a>
</li>
<li class="capitalize {% if page.id == 'alipay' %}active{% endif %}">
  <a href="/docs/v2/native/alipay">Alipay</a>
</li>
<li class="capitalize {% if page.id == 'android-fingerprint-auth' %}active{% endif %}">
  <a href="/docs/v2/native/android-fingerprint-auth">Android Fingerprint Auth</a>
</li>
<li class="capitalize {% if page.id == 'android-full-screen' %}active{% endif %}">
  <a href="/docs/v2/native/android-full-screen">Android Full Screen</a>
</li>
<li class="capitalize {% if page.id == 'app-availability' %}active{% endif %}">
  <a href="/docs/v2/native/app-availability">App Availability</a>
</li>
<li class="capitalize {% if page.id == 'app-preferences' %}active{% endif %}">
  <a href="/docs/v2/native/app-preferences">App Preferences</a>
</li>
<li class="capitalize {% if page.id == 'app-rate' %}active{% endif %}">
  <a href="/docs/v2/native/app-rate">App Rate</a>
</li>
<li class="capitalize {% if page.id == 'app-update' %}active{% endif %}">
  <a href="/docs/v2/native/app-update">App Update</a>
</li>
<li class="capitalize {% if page.id == 'app-version' %}active{% endif %}">
  <a href="/docs/v2/native/app-version">App Version</a>
</li>
<li class="capitalize {% if page.id == 'appodeal' %}active{% endif %}">
  <a href="/docs/v2/native/appodeal">Appodeal</a>
</li>
<li class="capitalize {% if page.id == 'background-fetch' %}active{% endif %}">
  <a href="/docs/v2/native/background-fetch">Background Fetch</a>
</li>
<li class="capitalize {% if page.id == 'background-geolocation' %}active{% endif %}">
  <a href="/docs/v2/native/background-geolocation">Background Geolocation</a>
</li>
<li class="capitalize {% if page.id == 'background-mode' %}active{% endif %}">
  <a href="/docs/v2/native/background-mode">Background Mode</a>
</li>
<li class="capitalize {% if page.id == 'badge' %}active{% endif %}">
  <a href="/docs/v2/native/badge">Badge</a>
</li>
<li class="capitalize {% if page.id == 'barcode-scanner' %}active{% endif %}">
  <a href="/docs/v2/native/barcode-scanner">Barcode Scanner</a>
</li>
<li class="capitalize {% if page.id == 'base64-to-gallery' %}active{% endif %}">
  <a href="/docs/v2/native/base64-to-gallery">Base64 To Gallery</a>
</li>
<li class="capitalize {% if page.id == 'battery-status' %}active{% endif %}">
  <a href="/docs/v2/native/battery-status">Battery Status</a>
</li>
<li class="capitalize {% if page.id == 'ble' %}active{% endif %}">
  <a href="/docs/v2/native/ble">BLE</a>
</li>
<li class="capitalize {% if page.id == 'bluetooth-serial' %}active{% endif %}">
  <a href="/docs/v2/native/bluetooth-serial">Bluetooth Serial</a>
</li>
<li class="capitalize {% if page.id == 'brightness' %}active{% endif %}">
  <a href="/docs/v2/native/brightness">Brightness</a>
</li>
<li class="capitalize {% if page.id == 'broadcaster' %}active{% endif %}">
  <a href="/docs/v2/native/broadcaster">Broadcaster</a>
</li>
<li class="capitalize {% if page.id == 'browser-tab' %}active{% endif %}">
  <a href="/docs/v2/native/browser-tab">Browser Tab</a>
</li>
<li class="capitalize {% if page.id == 'calendar' %}active{% endif %}">
  <a href="/docs/v2/native/calendar">Calendar</a>
</li>
<li class="capitalize {% if page.id == 'call-number' %}active{% endif %}">
  <a href="/docs/v2/native/call-number">Call Number</a>
</li>
<li class="capitalize {% if page.id == 'camera' %}active{% endif %}">
  <a href="/docs/v2/native/camera">Camera</a>
</li>
<li class="capitalize {% if page.id == 'card-io' %}active{% endif %}">
  <a href="/docs/v2/native/card-io">Card IO</a>
</li>
<li class="capitalize {% if page.id == 'clipboard' %}active{% endif %}">
  <a href="/docs/v2/native/clipboard">Clipboard</a>
</li>
<li class="capitalize {% if page.id == 'code-push' %}active{% endif %}">
  <a href="/docs/v2/native/code-push">Code Push</a>
</li>
<li class="capitalize {% if page.id == 'contacts' %}active{% endif %}">
  <a href="/docs/v2/native/contacts">Contacts</a>
</li>
<li class="capitalize {% if page.id == 'couchbase-lite' %}active{% endif %}">
  <a href="/docs/v2/native/couchbase-lite">Couchbase Lite</a>
</li>
<li class="capitalize {% if page.id == 'crop' %}active{% endif %}">
  <a href="/docs/v2/native/crop">Crop</a>
</li>
<li class="capitalize {% if page.id == 'date-picker' %}active{% endif %}">
  <a href="/docs/v2/native/date-picker">Date Picker</a>
</li>
<li class="capitalize {% if page.id == 'db-meter' %}active{% endif %}">
  <a href="/docs/v2/native/db-meter">DB Meter</a>
</li>
<li class="capitalize {% if page.id == 'deeplinks' %}active{% endif %}">
  <a href="/docs/v2/native/deeplinks">Deeplinks</a>
</li>
<li class="capitalize {% if page.id == 'device' %}active{% endif %}">
  <a href="/docs/v2/native/device">Device</a>
</li>
<li class="capitalize {% if page.id == 'device-accounts' %}active{% endif %}">
  <a href="/docs/v2/native/device-accounts">Device Accounts</a>
</li>
<li class="capitalize {% if page.id == 'device-feedback' %}active{% endif %}">
  <a href="/docs/v2/native/device-feedback">Device Feedback</a>
</li>
<li class="capitalize {% if page.id == 'device-motion' %}active{% endif %}">
  <a href="/docs/v2/native/device-motion">Device Motion</a>
</li>
<li class="capitalize {% if page.id == 'device-orientation' %}active{% endif %}">
  <a href="/docs/v2/native/device-orientation">Device Orientation</a>
</li>
<li class="capitalize {% if page.id == 'diagnostic' %}active{% endif %}">
  <a href="/docs/v2/native/diagnostic">Diagnostic</a>
</li>
<li class="capitalize {% if page.id == 'dialogs' %}active{% endif %}">
  <a href="/docs/v2/native/dialogs">Dialogs</a>
</li>
<li class="capitalize {% if page.id == 'estimote-beacons' %}active{% endif %}">
  <a href="/docs/v2/native/estimote-beacons">Estimote Beacons</a>
</li>
<li class="capitalize {% if page.id == 'facebook' %}active{% endif %}">
  <a href="/docs/v2/native/facebook">Facebook</a>
</li>
<li class="capitalize {% if page.id == 'file' %}active{% endif %}">
  <a href="/docs/v2/native/file">File</a>
</li>
<li class="capitalize {% if page.id == 'file-chooser' %}active{% endif %}">
  <a href="/docs/v2/native/file-chooser">File Chooser</a>
</li>
<li class="capitalize {% if page.id == 'file-opener' %}active{% endif %}">
  <a href="/docs/v2/native/file-opener">File Opener</a>
</li>
<li class="capitalize {% if page.id == 'file-path' %}active{% endif %}">
  <a href="/docs/v2/native/file-path">File Path</a>
</li>
<li class="capitalize {% if page.id == 'firebase' %}active{% endif %}">
  <a href="/docs/v2/native/firebase">Firebase</a>
</li>
<li class="capitalize {% if page.id == 'flashlight' %}active{% endif %}">
  <a href="/docs/v2/native/flashlight">Flashlight</a>
</li>
<li class="capitalize {% if page.id == 'geofence' %}active{% endif %}">
  <a href="/docs/v2/native/geofence">Geofence</a>
</li>
<li class="capitalize {% if page.id == 'geolocation' %}active{% endif %}">
  <a href="/docs/v2/native/geolocation">Geolocation</a>
</li>
<li class="capitalize {% if page.id == 'globalization' %}active{% endif %}">
  <a href="/docs/v2/native/globalization">Globalization</a>
</li>
<li class="capitalize {% if page.id == 'google-analytics' %}active{% endif %}">
  <a href="/docs/v2/native/google-analytics">Google Analytics</a>
</li>
<li class="capitalize {% if page.id == 'google-maps' %}active{% endif %}">
  <a href="/docs/v2/native/google-maps">Google Maps</a>
</li>
<li class="capitalize {% if page.id == 'google-plus' %}active{% endif %}">
  <a href="/docs/v2/native/google-plus">Google Plus</a>
</li>
<li class="capitalize {% if page.id == 'gyroscope' %}active{% endif %}">
  <a href="/docs/v2/native/gyroscope">Gyroscope</a>
</li>
<li class="capitalize {% if page.id == 'header-color' %}active{% endif %}">
  <a href="/docs/v2/native/header-color">Header Color</a>
</li>
<li class="capitalize {% if page.id == 'health' %}active{% endif %}">
  <a href="/docs/v2/native/health">Health</a>
</li>
<li class="capitalize {% if page.id == 'http' %}active{% endif %}">
  <a href="/docs/v2/native/http">HTTP</a>
</li>
<li class="capitalize {% if page.id == 'httpd' %}active{% endif %}">
  <a href="/docs/v2/native/httpd">Httpd</a>
</li>
<li class="capitalize {% if page.id == 'ibeacon' %}active{% endif %}">
  <a href="/docs/v2/native/ibeacon">IBeacon</a>
</li>
<li class="capitalize {% if page.id == 'image-picker' %}active{% endif %}">
  <a href="/docs/v2/native/image-picker">Image Picker</a>
</li>
<li class="capitalize {% if page.id == 'image-resizer' %}active{% endif %}">
  <a href="/docs/v2/native/image-resizer">Image Resizer</a>
</li>
<li class="capitalize {% if page.id == 'in-app-browser' %}active{% endif %}">
  <a href="/docs/v2/native/in-app-browser">In App Browser</a>
</li>
<li class="capitalize {% if page.id == 'in-app-purchase' %}active{% endif %}">
  <a href="/docs/v2/native/in-app-purchase">In App Purchase</a>
</li>
<li class="capitalize {% if page.id == 'insomnia' %}active{% endif %}">
  <a href="/docs/v2/native/insomnia">Insomnia</a>
</li>
<li class="capitalize {% if page.id == 'instagram' %}active{% endif %}">
  <a href="/docs/v2/native/instagram">Instagram</a>
</li>
<li class="capitalize {% if page.id == 'intel-security' %}active{% endif %}">
  <a href="/docs/v2/native/intel-security">Intel Security</a>
</li>
<li class="capitalize {% if page.id == 'is-debug' %}active{% endif %}">
  <a href="/docs/v2/native/is-debug">Is Debug</a>
</li>
<li class="capitalize {% if page.id == 'jins-meme' %}active{% endif %}">
  <a href="/docs/v2/native/jins-meme">Jins Meme</a>
</li>
<li class="capitalize {% if page.id == 'keyboard' %}active{% endif %}">
  <a href="/docs/v2/native/keyboard">Keyboard</a>
</li>
<li class="capitalize {% if page.id == 'launch-navigator' %}active{% endif %}">
  <a href="/docs/v2/native/launch-navigator">Launch Navigator</a>
</li>
<li class="capitalize {% if page.id == 'launch-review' %}active{% endif %}">
  <a href="/docs/v2/native/launch-review">Launch Review</a>
</li>
<li class="capitalize {% if page.id == 'linkedin' %}active{% endif %}">
  <a href="/docs/v2/native/linkedin">LinkedIn</a>
</li>
<li class="capitalize {% if page.id == 'local-notifications' %}active{% endif %}">
  <a href="/docs/v2/native/local-notifications">Local Notifications</a>
</li>
<li class="capitalize {% if page.id == 'location-accuracy' %}active{% endif %}">
  <a href="/docs/v2/native/location-accuracy">Location Accuracy</a>
</li>
<li class="capitalize {% if page.id == 'market' %}active{% endif %}">
  <a href="/docs/v2/native/market">Market</a>
</li>
<li class="capitalize {% if page.id == 'media' %}active{% endif %}">
  <a href="/docs/v2/native/media">Media</a>
</li>
<li class="capitalize {% if page.id == 'media-capture' %}active{% endif %}">
  <a href="/docs/v2/native/media-capture">Media Capture</a>
</li>
<li class="capitalize {% if page.id == 'mixpanel' %}active{% endif %}">
  <a href="/docs/v2/native/mixpanel">Mixpanel</a>
</li>
<li class="capitalize {% if page.id == 'music-controls' %}active{% endif %}">
  <a href="/docs/v2/native/music-controls">Music Controls</a>
</li>
<li class="capitalize {% if page.id == 'native-audio' %}active{% endif %}">
  <a href="/docs/v2/native/native-audio">Native Audio</a>
</li>
<li class="capitalize {% if page.id == 'native-page-transitions' %}active{% endif %}">
  <a href="/docs/v2/native/native-page-transitions">Native Page Transitions</a>
</li>
<li class="capitalize {% if page.id == 'native-storage' %}active{% endif %}">
  <a href="/docs/v2/native/native-storage">Native Storage</a>
</li>
<li class="capitalize {% if page.id == 'network' %}active{% endif %}">
  <a href="/docs/v2/native/network">Network</a>
</li>
<li class="capitalize {% if page.id == 'nfc' %}active{% endif %}">
  <a href="/docs/v2/native/nfc">NFC</a>
</li>
<li class="capitalize {% if page.id == 'onesignal' %}active{% endif %}">
  <a href="/docs/v2/native/onesignal">OneSignal</a>
</li>
<li class="capitalize {% if page.id == 'paypal' %}active{% endif %}">
  <a href="/docs/v2/native/paypal">PayPal</a>
</li>
<li class="capitalize {% if page.id == 'pedometer' %}active{% endif %}">
  <a href="/docs/v2/native/pedometer">Pedometer</a>
</li>
<li class="capitalize {% if page.id == 'photo-library' %}active{% endif %}">
  <a href="/docs/v2/native/photo-library">Photo Library</a>
</li>
<li class="capitalize {% if page.id == 'photo-viewer' %}active{% endif %}">
  <a href="/docs/v2/native/photo-viewer">Photo Viewer</a>
</li>
<li class="capitalize {% if page.id == 'pin-dialog' %}active{% endif %}">
  <a href="/docs/v2/native/pin-dialog">Pin Dialog</a>
</li>
<li class="capitalize {% if page.id == 'power-management' %}active{% endif %}">
  <a href="/docs/v2/native/power-management">Power Management</a>
</li>
<li class="capitalize {% if page.id == 'printer' %}active{% endif %}">
  <a href="/docs/v2/native/printer">Printer</a>
</li>
<li class="capitalize {% if page.id == 'push' %}active{% endif %}">
  <a href="/docs/v2/native/push">Push</a>
</li>
<li class="capitalize {% if page.id == 'safari-view-controller' %}active{% endif %}">
  <a href="/docs/v2/native/safari-view-controller">Safari View Controller</a>
</li>
<li class="capitalize {% if page.id == 'screen-orientation' %}active{% endif %}">
  <a href="/docs/v2/native/screen-orientation">Screen Orientation</a>
</li>
<li class="capitalize {% if page.id == 'screenshot' %}active{% endif %}">
  <a href="/docs/v2/native/screenshot">Screenshot</a>
</li>
<li class="capitalize {% if page.id == 'secure-storage' %}active{% endif %}">
  <a href="/docs/v2/native/secure-storage">Secure Storage</a>
</li>
<li class="capitalize {% if page.id == 'serial' %}active{% endif %}">
  <a href="/docs/v2/native/serial">Serial</a>
</li>
<li class="capitalize {% if page.id == 'shake' %}active{% endif %}">
  <a href="/docs/v2/native/shake">Shake</a>
</li>
<li class="capitalize {% if page.id == 'sim' %}active{% endif %}">
  <a href="/docs/v2/native/sim">Sim</a>
</li>
<li class="capitalize {% if page.id == 'sms' %}active{% endif %}">
  <a href="/docs/v2/native/sms">SMS</a>
</li>
<li class="capitalize {% if page.id == 'social-sharing' %}active{% endif %}">
  <a href="/docs/v2/native/social-sharing">Social Sharing</a>
</li>
<li class="capitalize {% if page.id == 'spinner-dialog' %}active{% endif %}">
  <a href="/docs/v2/native/spinner-dialog">Spinner Dialog</a>
</li>
<li class="capitalize {% if page.id == 'splash-screen' %}active{% endif %}">
  <a href="/docs/v2/native/splash-screen">Splash Screen</a>
</li>
<li class="capitalize {% if page.id == 'sqlite' %}active{% endif %}">
  <a href="/docs/v2/native/sqlite">SQLite</a>
</li>
<li class="capitalize {% if page.id == 'sqlite-porter' %}active{% endif %}">
  <a href="/docs/v2/native/sqlite-porter">SQLite Porter</a>
</li>
<li class="capitalize {% if page.id == 'status-bar' %}active{% endif %}">
  <a href="/docs/v2/native/status-bar">Status Bar</a>
</li>
<li class="capitalize {% if page.id == 'stepcounter' %}active{% endif %}">
  <a href="/docs/v2/native/stepcounter">Stepcounter</a>
</li>
<li class="capitalize {% if page.id == 'streaming-media' %}active{% endif %}">
  <a href="/docs/v2/native/streaming-media">Streaming Media</a>
</li>
<li class="capitalize {% if page.id == 'stripe' %}active{% endif %}">
  <a href="/docs/v2/native/stripe">Stripe</a>
</li>
<li class="capitalize {% if page.id == 'taptic-engine' %}active{% endif %}">
  <a href="/docs/v2/native/taptic-engine">Taptic Engine</a>
</li>
<li class="capitalize {% if page.id == 'text-to-speech' %}active{% endif %}">
  <a href="/docs/v2/native/text-to-speech">Text To Speech</a>
</li>
<li class="capitalize {% if page.id == 'themeable-browser' %}active{% endif %}">
  <a href="/docs/v2/native/themeable-browser">Themeable Browser</a>
</li>
<li class="capitalize {% if page.id == 'toast' %}active{% endif %}">
  <a href="/docs/v2/native/toast">Toast</a>
</li>
<li class="capitalize {% if page.id == 'touch-id' %}active{% endif %}">
  <a href="/docs/v2/native/touch-id">Touch ID</a>
</li>
<li class="capitalize {% if page.id == 'transfer' %}active{% endif %}">
  <a href="/docs/v2/native/transfer">Transfer</a>
</li>
<li class="capitalize {% if page.id == 'twitter-connect' %}active{% endif %}">
  <a href="/docs/v2/native/twitter-connect">Twitter Connect</a>
</li>
<li class="capitalize {% if page.id == 'unique-device-id' %}active{% endif %}">
  <a href="/docs/v2/native/unique-device-id">Unique Device ID</a>
</li>
<li class="capitalize {% if page.id == 'vibration' %}active{% endif %}">
  <a href="/docs/v2/native/vibration">Vibration</a>
</li>
<li class="capitalize {% if page.id == 'video-editor' %}active{% endif %}">
  <a href="/docs/v2/native/video-editor">Video Editor</a>
</li>
<li class="capitalize {% if page.id == 'video-player' %}active{% endif %}">
  <a href="/docs/v2/native/video-player">Video Player</a>
</li>
<li class="capitalize {% if page.id == 'web-intent' %}active{% endif %}">
  <a href="/docs/v2/native/web-intent">Web Intent</a>
</li>
<li class="capitalize {% if page.id == 'youtube-video-player' %}active{% endif %}">
  <a href="/docs/v2/native/youtube-video-player">Youtube Video Player</a>
</li>
<li class="capitalize {% if page.id == 'zbar' %}active{% endif %}">
  <a href="/docs/v2/native/zbar">ZBar</a>
</li>
<li class="capitalize {% if page.id == 'zeroconf' %}active{% endif %}">
  <a href="/docs/v2/native/zeroconf">Zeroconf</a>
</li>
<li class="capitalize {% if page.id == 'zip' %}active{% endif %}">
  <a href="/docs/v2/native/zip">Zip</a>
</li>
<li class="capitalize {% if page.id == 'backlight' %}active{% endif %}">
  <a href="/docs/v2/native/backlight">Backlight <span class="beta">&beta;</span></a>
</li>
<li class="capitalize {% if page.id == 'camera-preview' %}active{% endif %}">
  <a href="/docs/v2/native/camera-preview">Camera Preview <span class="beta">&beta;</span></a>
</li>
<li class="capitalize {% if page.id == 'email-composer' %}active{% endif %}">
  <a href="/docs/v2/native/email-composer">Email Composer <span class="beta">&beta;</span></a>
</li>
<li class="capitalize {% if page.id == 'fingerprint-aio' %}active{% endif %}">
  <a href="/docs/v2/native/fingerprint-aio">Fingerprint AIO <span class="beta">&beta;</span></a>
</li>
<li class="capitalize {% if page.id == 'hotspot' %}active{% endif %}">
  <a href="/docs/v2/native/hotspot">Hotspot <span class="beta">&beta;</span></a>
</li>
<li class="capitalize {% if page.id == 'native-geocoder' %}active{% endif %}">
  <a href="/docs/v2/native/native-geocoder">Native Geocoder <span class="beta">&beta;</span></a>
</li>
<li class="capitalize {% if page.id == 'navigation-bar' %}active{% endif %}">
  <a href="/docs/v2/native/navigation-bar">Navigation Bar <span class="beta">&beta;</span></a>
</li>
<li class="capitalize {% if page.id == 'pinterest' %}active{% endif %}">
  <a href="/docs/v2/native/pinterest">Pinterest <span class="beta">&beta;</span></a>
</li>
<li class="capitalize {% if page.id == 'rollbar' %}active{% endif %}">
  <a href="/docs/v2/native/rollbar">Rollbar <span class="beta">&beta;</span></a>
</li>
<li class="capitalize {% if page.id == 'speech-recognition' %}active{% endif %}">
  <a href="/docs/v2/native/speech-recognition">Speech Recognition <span class="beta">&beta;</span></a>
</li>
