@import '../../../vars';
@import '../../../mixins';
@import '../../../bootstrap/variables';

@import '../shared';
@import './shared';


.banner {

  hgroup {
    padding-top: 75px;
    max-width: 700px;
  }

  img {
    max-width: 100%;
  }

  p {
    margin-top: 61px;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -.008em;
    color: #0f151f;
  }

  ul {
    max-width: 978px;
    padding-top: 51px;
    padding-bottom: 95px;
    list-style: none;
    text-align: left;
    display: grid;
    grid-template-columns: auto auto auto auto;

    @media (max-width: $screen-sm-max) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      li {
        flex: 0 0 234px;
      }
    }

    &::before,
    &::after {
      content: none;
    }
  }

  li {
    padding: 13px 0 13px 28px;
    position: relative;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -.02em;

    &::before {
      font-family: 'Ionicons';
      content: '\f2bc';
      color: #5c77ff;
      position: absolute;
      left: 0;
      top: 10px;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

main {
  font-family: $font-family-inter;
  max-width: 674px;
  margin-bottom: 118px;

  h1,
  h2,
  h3 {
    font-family: $font-family-eina;
    font-weight: 700;
    letter-spacing: -.008em;
    color: #0f1620;
  }

  h2 {
    margin-bottom: 5px;
  }

  h3 {
    font-size: 18px;
    margin-top: 56px;
    margin-bottom: 16px;
  }

  img {
    max-width: 100%;
    margin-top: 1px;
  }

  p {
    letter-spacing: -.01em;
    margin-bottom: 22px;
    line-height: 2em;

    code {
      color: #7058fd;
      background: #eff2f7;
      padding: 2px 8px;
      letter-spacing: .02em;
    }
  }

  ol {
    padding-left: 42px;
    margin-top: 25px;
    margin-bottom: 24px;

    li {
      padding: 4px 0px;
    }
  }

  hgroup {
    margin-top: 144px;
    margin-bottom: 52px;

    &:first-child {
      margin-top: 108px;
      margin-bottom: 59px;
    }

    p {
      line-height: 1.64em;
      font-size: 18px;
      letter-spacing: -.03em;
    }
  }
  
  + footer {
    border-top: 1px solid #eee;
  }
}

.steps {
  list-style: none;
  padding-left: 0;
  margin-bottom: 65px;

  li {
    margin-bottom: 62px;
  }

  p {
    letter-spacing: -.01em;
    margin-bottom: 17px;
  }

  strong {
    font-weight: 500;
    margin-right: 29px;
  }

  code {
    background: none;
  }

  pre {
    border: none;
    background: #f5f7fa;
    font-size: 12px;
    font-weight: 500;
    padding: 15px 14px;
    position: relative;

    .hljs {
      background: none;
    }

    .hljs-built_in {
      color: inherit;
    }

    &::before {
      position: absolute;
      content: 'shell';
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 500;
      top: .2em;
      right: 1em;
      color: #cdd4de;
    }
  }
}
