.alert,
.docs-container main .alert {
  border-radius: 4px;
  display: inline-block;
  padding: 20px 28px;
  position: relative;
  width: 100%;
  font-weight: 500;
  margin: 0 0 20px;
  background: rgba(253,200,69,.1);
  border: 1px solid rgba(253,200,69,.3);
  color: #353940;
  font-size: 14px;

  /*
  &::before {
    content: '\f137';
    font-family: 'Ionicons';
    position: absolute;
    left: 25px;
    font-size: 30px;
    font-weight: 300;
    color: rgba(255,255,255,.9);
  }
  */

  a,
  a:not(.btn) {
    color: rgba(255,255,255, 1);
    opacity: 1;

    &:hover {
      color: #fff;
    }
  }

  &-success {
    background-color: rgba($green, 0.1);
    border-color: rgba($green, 0.3);
  }
}
