.docs-container + footer {
  display: none;
}

footer {
  padding-top: 70px;
  padding-bottom: 20px;
  font-weight: 500;
  font-family: $font-family-eina;

  nav  {
    display: flex;
    justify-content: space-between;

    &.container {
      &::before,
      &::after {
        display: none;
      }
    }

    ul {
      list-style: none;
      font-weight: 500;
      padding-left: 0;
      flex: 0 0 160px;

      &:first-child {
        margin-left: 1px;
      }

      strong {
        color: #545a64;
        display: block;
        font-weight: 700;
        font-size: 16px;
        padding-bottom: 4px;
        letter-spacing: -.02em;
      }

      a {
        color: #a1a9b6;
        font-size: 13px;
        font-weight: 600;
        padding: 7px 0;
        display: inline-block;
        letter-spacing: -.02em;

        &:hover {
          text-decoration: none;
          color: $blue;
        }
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    nav {
      flex-wrap: wrap;
      justify-content: center;

      ul {
        margin-bottom: 20px;
        padding-left: 0;
        padding-right: 40px;
      }
    }
  }

  .signup {
    margin-top: 40px;

    form {
      float: right;
      width: 44.5%;
      display: flex;
      padding-top: 6px;
      height: 50px;

      @media (max-width: $screen-xs-max) {
        float: none;
        width: 100%;
        margin-bottom: 40px;
      }

      button {
        padding: 11px 17px 13px;
      }
    }

    hgroup {
      background: url('/img/footer/footer-newsletter-icon.png') no-repeat 1px 8px;
      background-size: 40px;
      padding-left: 63px;
      min-height: 50px;
      width: 50%;

      @media (max-width: $screen-xs-max) {
        width: 100%;
      }

      h3 {
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 6px;
        padding-top: 11px;
        font-weight: 600;
        letter-spacing: -.02em;
      }

      p {
        font-size: 13px;
        color: #a1a9b6;
        letter-spacing: -.016em;
      }
    }
  }

  .sub-footer {
    font-size: 12px;
    color: #bcc5d5;
    border-top: 1px solid #eff1f5;
    margin-top: 40px;
    padding-top: 29px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;

    .license {
      margin-left: auto;
      margin-right: -3px;
      padding-left: 15px;

      @media (max-width: $screen-xs-max) {
        width: 100%;
        padding-left: 0;
      }
    }

    .copyright {
      flex: 0 0 77px;
    }

    a[id^=btn-footer] {
      position: relative;
      height: 16px;
      width: 16px;
      display: inline-block;
      margin-left: 15px;

      &::before,
      &::after {
        background: url('/img/footer/footer-social-icons.png') no-repeat 0 0;
        background-size: 16px;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      &::after {
        transition: .2s opacity;
        opacity: 0;
      }

      &:hover::after {
        opacity: 1;
      }
    }

    #btn-footer-twitter::after { background-position: 0 -16px; }
    #btn-footer-slack {
      &::before { background-position: 0 -32px; }
      &::after  { background-position: 0 -48px; }
    }
    #btn-footer-github {
      &::before { background-position: 0 -64px; }
      &::after  { background-position: 0 -80px; }
    }
    #btn-footer-facebook {
      &::before { background-position: 0 -96px; }
      &::after  { background-position: 0 -112px; }
    }
    #btn-footer-medium {
      &::before { background-position: 0 -128px; }
      &::after  { background-position: 0 -144px; }
    }
    #btn-footer-youtube {
      &::before { background-position: 0 -160px; }
      &::after  { background-position: 0 -176px; }
    }
    #btn-footer-stack-overflow {
      &::before { background-position: 0 -192px; }
      &::after  { background-position: 0 -208px; }
    }
  }

  .privacy {
    margin-left: auto;
    margin-right: 4px;
    padding-right: 4px;
    height: 1em;
    border-right: 1px solid #bcc5d5;
  }
}
