.docs-container + footer {
  display: none;
}

footer {
  padding-top: 70px;
  padding-bottom: 20px;
  font-weight: 500;
  font-family: $font-family-eina;

  .logo svg {
    fill: #3880FF;
    width: 78px;
    height: 26px;
  }

  nav  {
    display: flex;
    justify-content: space-between;

    &.container {
      &::before,
      &::after {
        display: none;
      }
    }

    .logo,
    ul {
      flex: 1;
    }

    ul {
      list-style: none;
      font-weight: 500;
      padding-left: 0;

      &:first-child {
        margin-left: 1px;
      }

      strong {
        color: #000000;
        display: block;
        font-weight: 600;
        font-size: 16px;
        padding-bottom: 4px;
        letter-spacing: -.01em;
      }

      a {
        line-height: 1;
        font-size: 14px;
        letter-spacing: -0.01em;
        color: #73849A;
        font-weight: 400;
        padding: 11px 0;
        display: inline-block;
        font-family: $font-family-graphik;

        &:hover {
          text-decoration: none;
          color: $blue;
        }
      }
    }
  }

  .signup {
    margin-top: 60px;
    display: flex;

    &::before,
    &::after {
      display: none;
    }

    hgroup {
      flex: 0 0 auto;
    }

    ionic-newsletter-signup {
      flex: 1;
      margin-left: 60px;
    }

    form {
      display: flex;
      height: 50px;
    }

    hgroup {
      background: url('/img/footer/footer-newsletter-icon.png') no-repeat 1px 8px;
      background-size: 40px;
      padding-left: 63px;
      min-height: 50px;

      h3 {
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 3px;
        padding-top: 11px;
        font-weight: 600;
        letter-spacing: -.02em;
      }

      p {
        font-family: $font-family-graphik;
        font-size: 14px;
        color: #73849A;
        letter-spacing: -.016em;
        font-weight: 400;
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    padding-top: 46px;

    nav {
      flex-wrap: wrap;
      justify-content: flex-start;

      .logo {
        flex: 0 0 100%;
        margin-bottom: 40px;
      }


    }

    .signup {
      flex-direction: column;

      hgroup,
      ionic-newsletter-signup {
        flex: 0 0 100%;
      }

      ionic-newsletter-signup {
        margin-top: 4px;
      }
    }
  }

  @media (max-width: $screen-sm-min) {
    nav {
      .logo {
        display: none;
      }

      ul {
        flex: 0 0 33%;
        margin-bottom: 36px
      }

      ul li a {
        padding: 9px 0;
      }
    }

    .signup {
      margin-top: 0;
    }
  }

  @media (max-width: $screen-xs-min) {
    nav ul {
      flex: 0 0 50%;
    }

    .signup ionic-newsletter-signup {
      margin-left: 0;
    }
  }

  .sub-footer {
    font-size: 12px;
    color: $grey;
    border-top: 1px solid #eff1f5;
    margin-top: 40px;
    padding-top: 29px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    ul {
      display: flex;
      flex: 0 0 auto;
      list-style: none;
      padding-left: 0;
    }

    ul:last-child li + li {
      margin-left: 15px;
    }

    .license {
      margin-left: auto;
      margin-right: -3px;
      padding-left: 15px;
      text-align: right;

      @media (max-width: $screen-xs-max) {
        width: 100%;
        padding-left: 0;
      }
    }

    a {
      color: #bcc5d5;

      &:hover {
        color: $grey;
      }
    }

    .copyright,
    .privacy,
    .tos {
      margin-right: 8px;
    }

    .copyright {
      flex: 0 0 77px;
    }

    .privacy {
      height: 1em;
    }

    a[id^=btn-footer] {
      position: relative;
      height: 16px;
      width: 16px;
      display: inline-block;

      &::before,
      &::after {
        background: url('/img/footer/footer-social-icons.png') no-repeat 0 0;
        background-size: 16px;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      &::after {
        transition: .2s opacity;
        opacity: 0;
      }

      &:hover::after {
        opacity: 1;
      }
    }

    #btn-footer-twitter::after { background-position: 0 -16px; }
    #btn-footer-slack {
      &::before { background-position: 0 -32px; }
      &::after  { background-position: 0 -48px; }
    }
    #btn-footer-github {
      &::before { background-position: 0 -64px; }
      &::after  { background-position: 0 -80px; }
    }
    #btn-footer-facebook {
      &::before { background-position: 0 -96px; }
      &::after  { background-position: 0 -112px; }
    }
    #btn-footer-medium {
      &::before { background-position: 0 -128px; }
      &::after  { background-position: 0 -144px; }
    }
    #btn-footer-youtube {
      &::before { background-position: 0 -160px; }
      &::after  { background-position: 0 -176px; }
    }
    #btn-footer-stack-overflow {
      &::before { background-position: 0 -192px; }
      &::after  { background-position: 0 -208px; }
    }
  }
}
