.navbar-default {
  background: linear-gradient(to right, #347eff, #1ea3ff);
  font-family: $font-family-eina;
  margin-bottom: 20px;
  position: relative;
  padding-top: 20px;
  border-radius: 0;
  margin-bottom: 20px;
  min-height: 32px;
  z-index: 30;
  border: 0;

  @media (max-width: $screen-xs-max) {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 1px;
    min-height: 50px;

    &.products-page {
      position: fixed;
    }
  }

  .navbar-header {
    // width: 132px;
    @media (max-width: $screen-sm-max) {
      width: auto;
    }
  }

  .navbar-brand {
    height: 32px;
    padding: 1px 0 0 13px;
    transition: 0.3s opacity;
    @media (max-width: $screen-xs-max) {
      padding-top: 8px;
    }

    img {
      width: 128px;
    }

    &:hover {
      opacity: 0.65;
    }
  }

  &.transparent {
    background: transparent;
    @media (max-width: $screen-xs-max) {
      background: #fff;
      box-shadow: 0px 1px 2px 0px rgba(0, 20, 56, 0.06);
    }
  }

  @media (max-width: $screen-xs-max) {
    .navbar-collapse {
      box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
    }
  }


  #ionic-io-logo {
    fill: #fff;
    height: 30px;
    width: 96px;
    margin: 0;

    .light &,
    &.light {
      fill: #3880FF;
    }

    @media (max-width: $screen-xs-max) {
      fill: #3880FF;
    }
  }

  .navbar-collapse {
    text-align: center;
    max-height: 32px;
    @media (max-width: $screen-xs-max) {
      max-height: 600px;
      margin-top: 20px;
    }
  }

  .navbar-nav {
    &.navbar-center {
      float: none;
      margin: 0 auto;
      display: inline-block;
    }
    @media (min-width: $screen-md-min) {
      &.navbar-center {
        margin-left: 0px; //offset to align with pre-header announcement
      }
    }
    @media (max-width: $screen-xs-max) {
      padding-right: 6px;
      padding-left: 6px;
    }

    > li {
      padding-top: 0;

      &.sm-hide {
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
          display: none;
        }
      }
      @media (max-width: $screen-md-max) {
        &.hide-lt-lg,
        .hide-lt-lg {
          display: none;
        }
      }
      @media (min-width: $screen-lg-min) {
        &.hide-gt-md,
        .hide-gt-md {
          display: none;
        }
      }

      > a {
        color: white;
        font-size: 13px;
        font-weight: 600;
        margin-top: 0;
        padding: 6px 12px;
        letter-spacing: -.01em;
        margin-left: 14px;
        margin-right: 14px;
        transition: 0.2s color;
        border-top: none;
        border-radius: 4px;
        transition-duration: 0.3s;
        @media (max-width: $screen-md-max) {
          margin-left: 9px;
          margin-right: 9px;
        }
        @media (max-width: $screen-sm-max) {
          margin-left: 0;
          margin-right: 0;
        }
        @media (max-width: $screen-xs-max) {
          padding: 15px;
          border: 0;
        }

        &:hover {
          color: rgba(white, .65);
        }
      }

      &.open > a {
        color: rgba(white, .65) !important;
      }

      &.active > a {
        color: rgba(white, 0.4);
        pointer-events: none;
      }

      &.active > a:hover {
        color: rgba(255, 255, 255, 0.65);
      }

      .light &.open > a {
        color: #131924 !important;
      }

      &.header-btn-white {
        a {
          background-color: rgba(white, 1);
          vertical-align: middle;
          padding: 6px 8px 6px;
          border-radius: 4px;
          color: $blue;
          box-shadow: 0 1px 3px rgba(0,0,0,0.1);
          margin-right: 0;
          margin-left: 0;
          transition: 0.3s box-shadow, 0.3s background;

          &:hover {
            opacity: 1;
            color: $blue;
            box-shadow: 0 3px 5px rgba(black, .15);
            background-color: rgba(white, 1);
          }

          &:active {
            box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
          }
        }

        &.blue {
          @media (min-width: $screen-sm-min) {
            a {
              color: white;
              background: $blue;

              &:hover {
                background-color: rgba($blue, .9);
              }
            }
          }
        }
      }
    }
  }



  // mobile width animation & default styles
  .dropdown {
    .dropdown-menu {
      display: block;
      visibility: 0;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 0.3s ease, opacity 0.3s;
    }

    &.open .dropdown-menu {
      // &:hover .dropdown-menu {
      visibility: 1;
      opacity: 1;
      transform: scaleY(1);
    }

    .divider {
      border-bottom: 1px solid #ebeef2;
      margin: 6px 0 13px;
    }
    @media (max-width: $screen-xs-max) {
      .dropdown-menu {
        text-align: center;
      }
    }
  }
  // desktop width animation
  @media (min-width: $screen-sm-min) {
    .dropdown {
      .dropdown-menu {
        display: block;
        position: absolute;
        border: 0;
        border-radius: 8px;
        top: 39px;
        padding: 15px 0;
        right: auto;
        left: 50%;
        box-shadow: 0 10px 28px rgba(0, 16, 44, 0.18), 0 1px 5px rgba(0, 16, 44, 0.2);
        opacity: 0;
        top: -2000px;
        pointer-events: none;
        transform: translate3d(-50%, -10px, 0) scaleY(1);
        z-index: 1;
        transition-delay: 0s;
        transform-origin: 50% 0;
        transition: transform 0.2s cubic-bezier(0.36,0.66,0.04,1), opacity 0.2s linear, top 0.25s step-end;

        h6 {
          font-size: 10px;
          color: #b0bccf;
          font-weight: 700;
          letter-spacing: 0.08em;
          text-transform: uppercase;
          border-bottom: 1px solid #edf2f7;
          padding-bottom: 6px;
        }

        ul + h6 {
          margin-top: 26px;
        }

        a,
        li,
        ul {
          margin: 0;
          padding: 0;
        }

        li {
          list-style-type: none;
          padding: 0;
        }

        a,
        span,
        strong {
          color: #131924;
          display: block;
          font-size: 14px;
          line-height: 1.6;
          font-weight: 600;
          padding: 7px 28px;
          min-width: 230px;
          transition: 0.2s color;

          &:hover {
            background: transparent;
            color: $blue;
          }
        }

        span {
          color: #95a3bd;
          font-size: 11px;
          text-transform: uppercase;
          letter-spacing: .04em;
        }

        .divider {
          padding-top: 10px;
          background: #f8f9fb;
          margin-top: 8px;
          border-bottom: none;

          ~ li a,
          ~ li span {
            background: #f8f9fb;
          }

          ~ li:last-child a {
            margin-bottom: -15px;
            padding-bottom: 21px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
          }
        }

        .split {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          min-width: 360px;
          padding-bottom: 8px;

          a {
            min-width: 0;
          }

          .sm {
            color: #3b5073;
            font-size: 12px;
            font-weight: 400;
            padding: 4px 28px;

            &:hover {
              color: $blue;
            }
          }
        }

        &::after {
          position: absolute;
          top: -10px;
          content: '';
          width: 100%;
          height: 19px;
        }

        &::before {
            position: absolute;
            width: 14px;
            height: 14px;
            top: -5px;
            right: calc(50% - 7px);
            background: white;
            transform: rotate(45deg);
            border-radius: 4px;
            content: '';
            display: block;
        }
      }

      #v4 {
        background: linear-gradient(to right, #7ea9ff, #a0d1ff);
        margin-top: 14px;
        padding: 12px 28px 8px;
        position: relative;
        color: white;

        i {
          font-size: 25px;
          vertical-align: middle;
          margin-right: 7px;
        }

        &::before {
          position: absolute;
          width: 100%;
          height: 14px;
          top: -14px;
          left: 0;
          content: '';
          background: #f8f9fb;
        }

        ion-icon {
          position: absolute;
          right: 22px;
          font-weight: 400;
          font-size: 18px;
          top: 23px;
          transition: .2s transform ease-out;
        }

        &:hover {
          color: #eee;

          ion-icon {
            transform: translateX(2px);
          }
        }
      }

      &.open .dropdown-menu,
      &:hover .dropdown-menu {
        opacity: 1;
        top: 39px;
        z-index: 4;
        pointer-events: all;
        transform: translate3d(-50%, 0, 0) scaleY(1);
        transition: transform 0.25s cubic-bezier(.17,.67,.52,1), opacity 0.1s linear, top 0.25s step-start;
        transition-delay: 0.2s;
      }

      .caret {
        border-top: 3px dashed;
        border-right: 3px solid transparent;
        border-left: 3px solid transparent;
      }
    }
  }

  .version {
    float: left;
    list-style: none;
    padding-left: 0;

    > li > a {
      padding: 12px 5px 0;
      font-size: 18px;
      font-weight: 600;
      color: rgba(255, 255, 255, .5);
      display: block;
      @media (max-width: $screen-xs-max) {
        padding: 13px 10px 0;
      }

      &:active,
      &:focus,
      &:hover {
        color: rgba(white, .7);
        text-decoration: none;
      }
    }

    .dropdown-menu {
      display: block;
      position: absolute;
      border: 0;
      border-radius: 3px;
      padding: 12px 0 10px;
      top: 52px;
      left: 70px;
      right: -100px;
      min-width: 205px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .15), 0 0 1px rgba(0, 0, 0, .2);
      opacity: 0;
      transform: scale(.01);
      transform-origin: 20% 8px;
      transition: all 0.3s cubic-bezier(.155, 1.105, .295, 1.12), opacity 0.1s linear;

      a {
        padding: 6px 23px;
        line-height: 1.6;
        font-size: 13px;
        font-weight: 500;

        i::before {
          font-size: 30px;
          line-height: 10px;
          position: relative;
          top: 7px;
          margin-left: 5px;
        }

        &.active,
        &.active:hover {
          color: $blue;
          text-decoration: none;
          background: transparent;
          cursor: default;
        }
      }

      &::before {
        background: url('/img/ico-nav-arrow.png') center center no-repeat;
        background-size: 15px;
        width: 15px;
        height: 8px;
        position: absolute;
        top: -7px;
        left: 35px;
        content: '';
        z-index: 5;
      }
    }

    &.open .dropdown-menu {
      opacity: 1;
      transform: scale(1);
    }
  }

  .header-form {
    margin: 6px 0 0 110px;

    @media (max-width: 1330px) {
      margin-left: 0;
    }

    .form-group {
      position: relative;
      padding-left: 0;
      margin-bottom: 0;

      input {
        background: rgba(255, 255, 255, .1);
        box-shadow: none;
        border: 0;
        color: white;
        font-size: 14px;
        border-radius: 800px;
        padding-left: 38px;
        width: 150px;
        transition: all 0.3s cubic-bezier(0.2, 0.85, 0.2, 1.1);

        &:focus {
          width: 270px;
          color: white;
          background: rgba(255, 255, 255, .15);
        }

        &::placeholder {
          color: rgba(255, 255, 255, .4);
        }
      }

      &::before {
        font-family: 'Ionicons';
        -webkit-font-smoothing: antialiased;
        content: '\f4a5';
        font-size: 18px;
        font-weight: 800;
        color: rgba(255, 255, 255, .4);
        position: absolute;
        top: 4px;
        left: 14px;
        cursor: pointer;

        @media (max-width: $screen-xs-max) {
          color: rgba(255, 255, 255, 1);
        }
      }
    }
    @media (max-width: $screen-md-max) {
      margin-left: 40px;

      .form-group input:focus {
        width: 192px;
      }
    }
    @media (max-width: $screen-xs-max) {
      float: right;
      margin-left: 10px;

      .form-group input {
        width: 40px;
        padding: 0px;
        opacity: 0;
      }

      .form-group input:focus {
        width: calc(100vw - 20px);
        padding: 6px 12px;
        padding-left: 38px;
        opacity: 1;
        margin-bottom: 10px;
        margin-right: 10px;
      }
    }
  }

  .navbar-toggle,
  .sidebar-toggle {
    border: 0;
    position: relative;
    background: transparent;

    i {
      position: absolute;
      font-size: 27px;
      top: -3px;
      color: #fff;
      transition: color 0.3s, transform 0.3s, opacity 0.3s;
    }

    &:active,
    &:focus,
    &:hover {
      background: transparent;
      outline: none;

      i {
        color: #fff;
        transform: scale(1.05);
      }
    }

    .ion-md-close {
      opacity: 0;
    }

    &.active {
      i {
        transform: rotate(90deg);
      }

      i:not(.ion-md-close) {
        opacity: 0;
      }

      .ion-md-close {
        transform: rotate(90deg);
        opacity: 1;
      }
    }
  }

  &.transparent .navbar-toggle,
  &.transparent .sidebar-toggle {
    i {
      color: $blue;
    }

    &:active,
    &:focus,
    &:hover {
      i {
        color: $blue;
      }
    }
  }


  .sidebar-toggle {
    float: left;
    margin: 8px 10px 0;
    display: none;
    @media (max-width: $screen-xs-max) {
      display: block;
    }
  }

  .container-fluid {
    min-height: 62px;
    padding-top: 13px;
    margin-top: -27px;

    .navbar-nav {
      padding-top: 5px;
      @media (max-width: $screen-md-max) {
        padding-left: 5px;
      }

      > li > a {
        padding-left: 23px;
        padding-right: 23px;
      }
    }

    .header-btn-white {
      margin-top: 0;
    }
    @media (max-width: $screen-xs-max) {
      padding-top: 28px;
    }
    @media (max-width: 1514px) {
      .navbar-nav > li > a {
        padding-left: 14px;
        padding-right: 14px;
      }
    }
    // @media (max-width: 1226px) {
    //   .navbar-nav > li > a {
    //     padding-left: 5px;
    //     padding-right: 4px;
    //   }
    // }
    @media (max-width: 1106px) and (min-width: $screen-sm-min) {
      #header-search {
        // display: none;
      }
    }
    @media (max-width: 1106px) and (min-width: $screen-sm-min) {
      .hide-sm,
      .sm-hide {
        display: none;
      }
    }
    @media (max-width: $screen-md-max) {
      .hide-lt-lg {
        display: none;
      }
    }
    @media (min-width: $screen-lg-min) {
      .hide-gt-md {
        display: none;
      }
    }
    @media (max-width: 892px) and (min-width: $screen-sm-min) {
      .header-btn,
      .header-btn-white {
        display: none;
      }
    }

    #ionic-docs-back,
    #ionic-docs-logo {
      width: 32px;
      transition: 0.3s transform, 0.3s opacity;
      @media (max-width: $screen-xs-max) {
        margin-left: 12px;
        margin-right: -13px;
      }
    }

    #ionic-docs-back {
      position: absolute;
      top: 6px;
      left: 13px;
      opacity: 0;
      transform: scale3d(1.1, 1.1, 1);
    }

    #ionic-docs-text {
      width: 56px;
      margin-left: 5px;
    }

    #ionic-pro-docs-text {
      width: 36px;
      margin-left: 8px;
    }

    .navbar-brand {
      padding-top: 8px;

      img {
        width: 88px;
      }

      &.logo {
        position: relative;
        padding-top: 6px;

        &:hover {
          opacity: 1;

          #ionic-docs-logo {
            opacity: 0;
            transform: translate3d(-3px, 0, 0) scale3d(1.1, 1.1, 1);
          }

          #ionic-docs-back {
            opacity: 1;
            transform: translate3d(-3px, 0, 0) scale3d(1, 1, 1);
          }
        }

        &:active,
        &:focus,
        &:hover:active {
          transform: translate3d(-3px, 0, 0) scale3d(.9, .9, 1);
          transform-origin: 120% 80%;
        }
      }
    }
  }

  + .cta {
    .bar {
      background: rgba(black, .9);
      min-height: 64px;

      .container > div,
      p {
        color: rgba(white,.7);
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 16px;
      }

      &.affix-top {
        position: absolute;
        z-index: 1;
      }

      &.affix {
        top: 0;
        position: fixed;
        z-index: 100;
      }

      &.tabbed {
        background: #fbfcfd;
        border-bottom: 1px solid $whiteish;
        width: 100%;

        &.affix {
          border-bottom-color: transparent;
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);

          ul li a {
            margin-bottom: -2px;
          }
        }

        ul {
          padding: none;
          text-align: center;

          li {
            display: inline-block;

            a {
              padding: 25px 18px;
              display: inline-block;
              line-height: 1em;
              font-size: 13px;
              font-weight: 500;
              margin: 0 15px -1px;
              color: $dark-grey;
              border-bottom: 2px solid transparent;
              transition: color 0.2s, border-color 0.2s;

              &:focus {
                background: transparent;
              }
            }

            &.active a {
              border-color: $blue;
            }

            &.active a,
            a:active,
            a:hover {
              color: $blue;
              background: transparent;
            }
          }
          @media (max-width: $screen-xs-max) {
            display: flex;
            justify-content: space-between;

            li a {
              margin-right: 0;
              margin-left: 0;
              padding-left: 4px;
              padding-right: 4px;
            }
          }
        }
      }
    }
  }
  @media (min-width: $screen-sm-min) {
    &.light {
      #ionic-io-logo {
        fill: #3880FF;
      }

      .navbar-nav > li:not(.header-btn-white) > a {
        color: #788294;

        &:hover {
          color: $blue;
        }
      }

      .navbar-nav > li.active > a {
        color: #c7d0e0;
      }
    }
  }

  .navbar-right > li > a {
    font-weight: 700;
    margin-right: 4px;
    margin-left: 4px;
  }

  &.navbar-sticky {
    z-index: 999;
  }

  ionic-search:not(.hydrated) {
    display: none;
  }
}

.docs .navbar-default .navbar-nav {
  @media (min-width: $screen-md-min) {
    &.navbar-center {
      margin-left: 0;
    }
  }
}

// fix for the header component API docs page. it conflicts w/ a bootstrap
// component

body.page-header {
  padding-bottom: 0;
  margin: 0;
  border-bottom: 0;
}

.navbar-dark {
  background: #11192a;
}
