.navbar-default {
  background: linear-gradient(to right, #347eff, #1ea3ff);
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  position: relative;
  min-height: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 10;

  @media (max-width: $screen-xs-max) {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .navbar-header {
    width: 136px;

    @media (max-width: $screen-sm-max) {
      width: auto;
    }
  }

  .navbar-brand {
    height:  32px;
    padding: 1px 0 0 13px;
    transition: .3s opacity;

    @media (max-width: $screen-xs-max) {
      padding-top: 8px;
    }

    img {
      width: 128px;
    }

    &:hover {
      opacity: .65;
    }
  }

  &.transparent {
    background: transparent;

    @media (max-width: $screen-xs-max) {
      background: linear-gradient(to right, #347eff, #1ea3ff);
    }
  }

  @media (max-width: $screen-xs-max) {
    .navbar-collapse {
      box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
    }
  }

  #ionic-io-logo {
    background: url('/img/ionic-logo.png') no-repeat 0 bottom;
    background-size: 90px;
    height: 32px;
    width: 90px;
    display: block;

    &.light {
      background-position: 0 0px;
    }
  }

  .navbar-collapse {
    text-align: center;
    max-height: 32px;

    @media (max-width: $screen-xs-max) {
      max-height: 600px;
      margin-top: 20px;
    }
  }

  .navbar-nav {
    &.navbar-center {
      float: none;
      margin: 0 auto;
      display: inline-block;
    }

    @media (max-width: $screen-xs-max) {
      padding-left: 22px;
    }

    > li {
      padding-top: 0px;

      &.sm-hide {
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)  {
          display: none;
        }
      }

      > a {
        color: white;
        font-size: 13px;
        font-weight: 600;
        margin-top: 0px;
        padding: 6px 12px 6px;
        letter-spacing: -.01em;
        margin-left: 5px;
        margin-right: 4px;
        transition: .2s color;
        border-top: none;
        border-radius: 4px;
        transition-duration: .3s;

        @media (max-width: $screen-sm-max) {
          // padding: 9px 13px 8px;
        }

        @media (max-width: $screen-xs-max) {
          padding: 15px;
          border: 0;
        }

        &:hover {
          color: rgba(white, .65);
        }
      }

      &:last-child > a {
        //padding-right: 0;
      }

      &.active > a {
        color: rgba(white, .4);
        transition: .2s color;

        &:hover {
          color: rgba(white, 1);
        }
      }

      &.header-btn-white {
        a {
          background-color: rgba(white, 1);
          vertical-align: middle;
          padding: 6px 12px;
          border-radius: 4px;
          color: $blue;
          box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
          margin-right: 0px;
          transition: .3s box-shadow, .3s background;

          &:hover {
            opacity: 1;
            color: $blue;
            box-shadow: 0 3px 5px rgba(black, .15);
            background-color: rgba(white, 1);
          }
        }
      }
    }
  }

  // mobile width animation & default styles
  .dropdown {
    .dropdown-menu {
      display: block;
      visibility: 0;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform .3s ease, opacity .3s;
    }

    &.open .dropdown-menu {
      visibility: 1;
      opacity: 1;
      transform: scaleY(1);
    }

    .divider {
      border-bottom: 1px solid #ebeef2;
      margin: 8px 0 8px;
    }

    @media (max-width: $screen-xs-max) {
      .dropdown-menu {
        text-align: center;
      }

      &.developers {
        text-align: center;
  
        ul {
          padding: 0;
          text-align: center;
        }
  
        i {
          display: none;
        }
  
        a {
          color: rgba(255, 255, 255, 0.8);
          line-height: 20px;
        }
  
        li {
          list-style: none;
        }
  
        .split {
          .title {
            font-weight: 700
          }
  
          a {
            padding-top: 5px;
            padding-bottom: 5px;
            display: block;
          }
  
          ul + ul {
            margin-top: 16px;
          }
        }
      }
    }
  }
  // desktop width animation
  @media (min-width: $screen-sm-min) {
    .dropdown {
      .dropdown-menu {
        display: block;
        position: absolute;
        border: 0;
        border-radius: 4px;
        top: 39px;
        left: -52%;
        padding: 11px 0 10px;
        right: auto;
        min-width: 155px;
        box-shadow: 
          0 12px 28px rgba(0, 0, 0, 0.25),
          0 1px 4px rgba(0, 0, 0, 0.1);
        opacity: 0;
        transform: scale(.01);
        transform-origin: 50% 8px;
        transition: all .3s cubic-bezier(.155, 1.105, .295, 1.12), opacity .1s linear;

        a {
          padding: 7px 52px 7px 52px;
          letter-spacing: -.02em;
          line-height: 1.6;
          font-size: 13px;
          font-weight: 500;
          color: #727c8e;
          transition: .2s color;

          &:hover {
            background: transparent;
            color: $blue;
          }
        }

        &::before {
          background: url('/img/ico-nav-arrow.png') center center no-repeat;
          background-size: 15px;
          width: 15px;
          height: 8px;
          position: absolute;
          top: -7px;
          left: calc(50% - 7px);
          content: '';
          z-index: 5;
        }
      }

      &.open .dropdown-menu {
        opacity: 1;
        transform: scale(1);

      }

      .caret {
        border-top: 3px dashed;
        border-right: 3px solid transparent;
        border-left: 3px solid transparent;
      }
    }

    .developers {
      .dropdown-menu {
        left: -145px;
        transition-delay: .1s !important;
      }

      a {
        &:hover i::before {
          transform: translate3d(0, 0, 0);
          opacity: 1;
          color: $blue;
        }
  
        i {
          float: right;
          display: block;
          font-size: 17px;
          position: relative;
          top: -4px;
  
          &::before {
            color: #727c8e;
            opacity: 0;
            transform: translate3d(-5px, 0, 0);
            transition: .2s transform, .2s opacity, .2s color;
          }
        }
      }
      
      .split {
        display: flex;
        padding-bottom: 14px;
        border-bottom: 1px solid #e8ebf1;
        margin-bottom: 10px;
  
        ul {
          padding: 0;
          list-style: none;
        }
  
        a {
          padding: 5px 13px 5px 26px;
          display: block;
          min-width: 194px;
          letter-spacing: -.02em;
          text-decoration: none;
          position: relative;
        }
        
  
        .title a {
          text-transform: uppercase;
          font-weight: 700;
          font-size: 11px;
          letter-spacing: 0.1em;
          padding: 14px 26px 8px;
        }
      }
  
      .forward {
        padding: 9px 26px 9px 52px !important;
        font-size: 11px !important;
        font-weight: 700 !important;
        text-transform: uppercase !important;
        letter-spacing: .05em !important;
        position: relative;
  
        &::before,
        &::after {
          background: url('/img/dropdown-icons-sm.png') 0 0 no-repeat;
          background-size: 16px;
          content: '';
          width: 16px;
          height: 16px;
          position: absolute;
          left: 29px;
          top: 9px;
          transition: .2s opacity;
        }
  
        &::after { 
          background-position: 0 -16px;
          opacity: 0;
          transition: .3s opacity;
        }
  
        &:hover::after {
          opacity: 1
        }
      }
    }
  
    .businesses,
    .support, 
    .ecosystem {
      ul {
        transition-delay: .1s !important;
      }
      ul a {
         position: relative;
  
        &::before,
        &::after {
          background: url('/img/dropdown-icons-sm.png') 0 0 no-repeat;
          background-size: 16px;
          content: '';
          width: 16px;
          height: 16px;
          position: absolute;
          left: 21px;
          top: 9px;
          transition: .2s opacity;
        }
  
        &::after { opacity: 0; }
  
        &:hover::after { opacity: 1; }
  
        &.customers {
          &::before {background-position: 0 -32px;}
          &::after {background-position: 0 -48px;}
        }
  
        &.resources {
          &::before {background-position: 0 -64px;}
          &::after {background-position: 0 -80px;}
        }
         
        &.enterprise {
          &::before {background-position: 0 -96px;}
          &::after {background-position: 0 -112px;}
        }
        
        &.demo {
          &::before {background-position: 0 -128px;}
          &::after {background-position: 0 -144px;}
        }
        
        &.sales,
        &.contact {
          &::before {background-position: 0 -160px;}
          &::after {background-position: 0 -176px;}
        }
        
        &.about {
          &::before {background-position: 0 -192px;}
          &::after {background-position: 0 -208px;}
        }
        
        &.forum {
          &::before {background-position: 0 -224px;}
          &::after {background-position: 0 -240px;}
        }
        
        &.support {
          &::before {background-position: 0 -256px;}
          &::after {background-position: 0 -272px;}
        }
        
        &.trusted-partners {
          &::before {background-position: 0 -288px;}
          &::after {background-position: 0 -304px;}
        }
        
        &.blog {
          &::before {background-position: 0 -320px;}
          &::after {background-position: 0 -336px;}
        }
        
        &.community {
          &::before {background-position: 0 -352px;}
          &::after {background-position: 0 -368px;}
        }
        
        &.market {
          &::before {background-position: 0 -384px;}
          &::after {background-position: 0 -400px;}
        }
        
        &.jobs {
          &::before {background-position: 0 -416px;}
          &::after {background-position: 0 -432px;}
        }
        
        &.shop {
          &::before {background-position: 0 -448px;}
          &::after {background-position: 0 -464px;}
        }
        
        &.twitter {
          &::before {background-position: 0 -512px;}
          &::after {background-position: 0 -528px;}
        }
        
        &.slack {
          &::before {background-position: 0 -544px;}
          &::after {background-position: 0 -560px;}
        }
        
        &.github {
          &::before {background-position: 0 -576px;}
          &::after {background-position: 0 -592px;}
        }
      }
    }
  
    .businesses ul {
      left: -56px;
    }
  
    .support ul {
      left: -66px !important;
    }
  
    .ecosystem ul {
      left: -41px !important;
    }
  }

  .version {
    float: left;
    list-style: none;
    padding-left: 0;

    > li > a {
      padding: 12px 5px 0px;
      font-size: 18px;
      font-weight: 600;
      color: rgba(255, 255, 255, .5);
      display: block;

      @media (max-width: $screen-xs-max) {
        padding: 13px 10px 0px;
      }

      &:hover,
      &:active,
      &:focus {
        color: rgba(white, .7);
        text-decoration: none;
      }
    }

    .dropdown-menu {
      display: block;
      position: absolute;
      border: 0;
      border-radius: 3px;
      padding: 12px 0 10px;
      top: 52px;
      left: -23px;
      right: -100px;
      min-width: 205px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .15), 0 0 1px rgba(0, 0, 0, .2);
      opacity: 0;
      transform: scale(.01);
      transform-origin: 20% 8px;
      transition: all .3s cubic-bezier(.155, 1.105, .295, 1.12), opacity .1s linear;

      a {
        padding: 6px 23px;
        line-height: 1.6;
        font-size: 13px;
        font-weight: 500;

        i::before {
          font-size: 30px;
          line-height: 10px;
          position:relative;
          top: 7px;
          margin-left:5px;
        }

        &.active,
        &.active:hover {
          color: $blue;
          text-decoration: none;
          background: transparent;
          cursor: default;
        }
      }

      &::before {
        background: url('/img/ico-nav-arrow.png') center center no-repeat;
        background-size: 15px;
        width: 15px;
        height: 8px;
        position: absolute;
        top: -7px;
        left: 35px;
        content: '';
        z-index: 5;
      }
    }

    &.open .dropdown-menu {
      opacity: 1;
      transform: scale(1);

    }
  }

  .navbar-form {
    margin: 6px 0 0 110px;

    @media (max-width: 1630px) {
      margin-left: 0;
    }

    .form-group {
      position: relative;
      padding-left: 0;

      input {
        background: rgba(255, 255, 255, .1);
        box-shadow: none;
        border: 0;
        color: white;
        font-size: 14px;
        border-radius: 800px;
        padding-left: 38px;
        width: 150px;
        transition: all .3s cubic-bezier(0.2, 0.85, 0.2, 1.1);

        &:focus {
          width: 270px;
          color: white;
          background: rgba(255, 255, 255, .15);
        }

        &::placeholder {
          color: rgba(255, 255, 255, .4);
        }
      }

      &::before {
        font-family: 'Ionicons';
        -webkit-font-smoothing: antialiased;
        content: '\f4a5';
        font-size: 18px;
        font-weight: 800;
        color: rgba(255, 255, 255, .4);
        position: absolute;
        top: 4px;
        left: 14px;
      }
    }

    @media (max-width: $screen-sm-max) {
      margin-left: 5px;

      .form-group input:focus {
        width: 192px;
      }
    }

    @media (max-width: $screen-xs-max) {
      margin-top: -1px;
      margin-left: 0;

      .form-group input,
      .form-group input:focus {
        width: 100%;
      }
    }
  }

  .navbar-toggle,
  .sidebar-toggle {
    border: 0;
    position: relative;
    background: transparent;

    i {
      position: absolute;
      font-size: 27px;
      top: -3px;
      color: $navbar-default-link-color;
      transition: color .3s, transform .3s, opacity .3s;
    }

    &:hover,
    &:active,
    &:focus {
      background: transparent;
      outline: none;

      i {
        color: white;
        transform: scale(1.05);
      }
    }

    .ion-md-close {
      opacity: 0;
    }

    &.active {
      i {
        transform: rotate(90deg);
      }

      i:not(.ion-md-close) {
        opacity: 0;
      }

      .ion-md-close {
        transform: rotate(90deg);
        opacity: 1;
      }
    }
  }

  .sidebar-toggle {
    float: left;
    margin: 8px 10px 0;
    display: none;

    @media (max-width: $screen-xs-max) {
      display: block;
    }
  }

  .container-fluid {
    min-height: 74px;
    padding-top: 13px;

    .navbar-nav {
      padding-top: 5px;

      @media (max-width: $screen-md-max) {
        padding-left: 0;
      }

      > li > a {
        padding-left: 28px;
        padding-right: 28px;
      }
    }

    .header-btn-white {
      margin-top: 0;
    }

    @media (max-width: 1514px) {
      .navbar-nav > li > a {
        padding-left: 12px;
        padding-right: 12px;
      }
    }

    @media (max-width: 1226px) {
      .navbar-nav > li > a {
        padding-left: 5px;
        padding-right: 4px;
      }
    }

    @media (max-width: 1062px) and (min-width: $screen-sm-min) {
      #header-search {
        display: none;
      }
    }

    @media (max-width: 1062px) and (min-width: $screen-sm-min) {
      .hide-sm,
      .sm-hide {
        display: none;
      }
    }

    @media (max-width: 816px) and (min-width: $screen-sm-min) {
      .header-btn,
      .header-btn-white {
        display: none;
      }
    }

    #ionic-docs-logo,
    #ionic-docs-back {
      width: 32px;
      transition: .3s transform, .3s opacity;

      @media (max-width: $screen-xs-max) {
        margin-left: 12px;
        margin-right: -13px;
      }
    }

    #ionic-docs-back {
      position: absolute;
      top: 6px;
      left: 13px;
      opacity: 0;
      transform: scale3d(1.1, 1.1, 1);
    }

    #ionic-docs-text {
      width: 56px;
      margin-left: 5px;
    }

    #ionic-pro-docs-text {
      width: 36px;
      margin-left: 8px;
    }

    .navbar-brand {
      padding-top: 8px;

      img {
        width: 88px;
      }

      &.logo {
        position: relative;
        padding-top: 6px;

        &:hover {
          opacity: 1;

          #ionic-docs-logo {
            opacity: 0;
            transform: translate3d(-3px, 0, 0) scale3d(1.1, 1.1, 1);
          }

          #ionic-docs-back {
            opacity: 1;
            transform: translate3d(-3px, 0, 0) scale3d(1, 1, 1);
          }
        }

        &:hover:active,
        &:active,
        &:focus {
          transform: translate3d(-3px, 0, 0) scale3d(.9, .9, 1);
          transform-origin: 120% 80%;
        }
      }
    }
  }

  + .cta {
    .bar {
      background: rgba(black, .9);
      min-height: 64px;

      p,
      .container > div {
        color: rgba(white,.7);
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 16px;
      }

      &.affix-top {
        position: absolute;
        z-index: 1;
      }

      &.affix {
        top: 0;
        position: fixed;
        z-index: 100;
      }

      &.tabbed {
        background: #fbfcfd;
        border-bottom: 1px solid $whiteish;
        width: 100%;

        &.affix {
          border-bottom-color: transparent;
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);

          ul li a {
            margin-bottom: -2px;
          }
        }

        ul {
          padding: none;
          text-align: center;

          li {
            display: inline-block;

            a {
              padding: 25px 18px;
              display: inline-block;
              line-height: 1em;
              font-size: 13px;
              font-weight: 500;
              margin: 0 15px -1px;
              color: $dark-grey;
              border-bottom: 2px solid transparent;
              transition: color .2s, border-color .2s;

              &:focus {
                background: transparent;
              }
            }

              &.active a {
                border-color: $blue;
              }

              &.active a,
              a:hover,
              a:active {
                color: $blue;
                background: transparent;
              }
          }

          @media (max-width: $screen-xs-max)  {
            display: flex;
            justify-content: space-between;

            li a {
              margin-right: 0;
              margin-left: 0;
              padding-left: 4px;
              padding-right: 4px;
            }
          }
        }
      }
    }
  }

  @media (min-width: $screen-sm-min)  {
    &.light {
      #ionic-io-logo {
        background-position: 0 0;
      }

      .navbar-nav > li:not(.header-btn-white) > a {
        color: #697384;
      }
    }
  }
}

// fix for the header component API docs page. it conflicts w/ a bootstrap
// component
body.page-header {
  padding-bottom: 0;
  margin: 0;
  border-bottom: 0;
}


.navbar-dark {
  background: #11192a;
}
