.hbspt-form {
  max-width: 420px;
  margin: 0 auto;

  .hs-form-required {
    display: none;
  }

  form {
    fieldset.form-columns-2 .input {
      margin-right: 12px;
    }

    &.stacked .field {
      margin-bottom: 4px;
    }
  }

  .hs-input,
  input.hs-input,
  select.hs-input {
    border: 1px solid #e1e5ed;
    // padding: 15px 5px 15px 18px;
    font-weight: 500;
    border-radius: 4px;
    transition: border-color .2s;
    box-shadow: none;
    outline: none;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;

    &:placeholder {
      color: $lightish-grey;
    }

    &:valid {
      // border-color: #B4BBC5;
    }

    &:hover,
    &:focus,
    &:active, {
      outline: none;
      border-color: $blue;
      box-shadow: none;
    }

    &.hs-input.error {
      border-color: $red;
    }
  }

  select.hs-input {
    height: 44px;
    width: calc(100% + 6px) !important;
  }

  textarea.hs-input {
    padding: 12px;
    width: calc(100% + 3px) !important;
    min-height: 192px;
  }

  .hs_submit input.hs-button {
    font-size: 13px;
    padding: 10px 18px 10px;
    margin-right: -14px;
    margin-top: -36px;
    line-height: 23px;
    float: right;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: none;
    text-shadow: none;
    background: $blue;
    border: 0;
    outline: 0;
    transition: all .2s linear;
    box-shadow: 0 1px 3px rgba(0,0,0,.12);

    &:hover {
      border: 0;
      box-shadow: 0 4px 8px rgba(0,0,0,.12);
      background: #5995fc;
      color: #fff;
      outline: 0;
    }

    &:active,
    &:active:not(.inactive):not(.link),
    &:focus:not(.inactive) {
      border: 0;
      color: #fff;
      box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
      background: #5995fc;
      outline: 0;
    }
  }

  .submitted-message {
    color: $green;
    font-size: 20px;
    font-weight: 500;
    padding: 86px 0 128px;
    text-align: center;
    font-weight: 700;
    max-width: 410px;
    background-color: white;
    margin: 0 auto;
  }
}

.modal .hbspt-form .hs_submit input.hs-button {
  padding: 0;
}

.hubspot-override .hbspt-form {
  font-family: $font-family-system;
  // TODO these styles are only used on contributors landing,
  // need to be applied to all hubspot forms

  &,
  & fieldset {
    max-width: 100%;
  }

  fieldset + fieldset,
  form.stacked .hs-form-field + .hs-form-field,
  fieldset .hs-form-field + .hs-form-field {
    margin-top: 26px;
  }

  label {
    margin-bottom: 3px;
  }

  .hs-form-required {
    display: inline;
    color: #F45454;
    margin-left: 4px
  }

  .hs-input,
  input.hs-input {
    transition: border 0.3s;
    font-weight: 500;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ced6e3;
    line-height: 1.39286;
    border-radius: 4px;
    padding: 11px 15px;
    font-size: 15px;
    height: auto;
    width: 100%;
    color: #505863;

    &:focus {
      border-color: #629eff;
    }
  }

  select.hs-input {
    height: 44px;
  }

  form fieldset.form-columns-2 .input {
    margin: 0;
  }

  fieldset.form-columns-2 .hs-form-field {
    padding: 0 10px;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    & + .hs-form-field {
      margin-top: 0;
    }
  }

  .inputs-list,
  .hs-error-msgs {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .inputs-list.multi-container {
    overflow: hidden;

    li:nth-last-child(n+6):first-child,
    li:nth-last-child(n+6):first-child ~ li {
      width: 50%;
      float: left;
      padding-right: 11px;
    }
    li:nth-last-child(n+6):first-child ~ li:nth-child(even) {
      padding-right: 0;
      padding-left: 11px;
    }
  }

  .hs-form-checkbox-display {
    margin-top: 4px;
    display: flex;
  }

  .hs-form-checkbox-display .hs-input[type="checkbox"]{
    margin-right: 10px;
  }

  .hs-form-checkbox-display span {
    font-size: 15px;
    color: #505863;
  }


  .hs-error-msgs {
    padding: 5px 0 0;
    font-size: 11px;
    color: #F45454;
  }

  .hs_submit {
    margin-top: 30px;
  }

  .hs_submit input.hs-button {
    transition: all .3s ease;
    margin: 0;
    float: none;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 20px;
    vertical-align: middle;
    color: white;
    background: #3880ff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    line-height: 18px;
    letter-spacing: -0.01em;

    &:hover {
      box-shadow: 0 7px 14px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.08);
      background: #4d8dfd;
      color: #fff;
      outline: none;
    }
  }

  @media (max-width: $screen-sm) {
    fieldset.form-columns-2 .hs-form-field {
      width: 100%;
      float: none;
      padding: 0;

      & + .hs-form-field {
        margin-top: 24px;
      }
    }
    .inputs-list.multi-container {
      li:nth-last-child(n+6):first-child,
      li:nth-last-child(n+6):first-child ~ li {
        width: 100%;
        float: none;
        padding-right: 0;
      }
      li:nth-last-child(n+6):first-child ~ li:nth-child(even) {
        padding-left: 0;
      }
    }
    .hs_submit input.hs-button {
      width: 100%;
    }
  }
}

.hubspot-override--large .hbspt-form {
  label {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.05em;
    margin-bottom: 6px;
  }

  .hs-input,
  input.hs-input {
    padding: 16px 20px 18px;
    font-size: 18px;
  }

  select.hs-input {
    text-indent: 10px;
    height: 60px;
  }
  @-moz-document url-prefix() {
    select.hs-input {
       text-indent: 0;
    }
  }

  .hs-error-msgs label {
    font-size: 11px;
    letter-spacing: 0;
    text-transform: none;
  }

  fieldset.form-columns-2 .hs-form-field {
    padding: 0 20px;
  }

  .hs_submit {
    text-align: center;
    padding-top: 18px;
  }

  .hs_submit input.hs-button {
    padding: 22px 27px 24px;
    border-radius: 6px;
  }

  @media (max-width: $screen-sm) {
    fieldset.form-columns-2 .hs-form-field {
      padding: 0;
    }
  }
}
