.mobile-nav {
  font-family: $font-family-eina;
  transition: opacity 0.4s;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  display: none;
  overflow: touch;

  &.open {
    animation-name: revealIn;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }

  &.closed {
    animation-name: revealOut;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }

  @keyframes revealIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes revealOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

.mobile-nav__wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.mobile-nav__menu {
  margin: 0;
  padding: 0;
  //deal with ie edge bug always rendering bullets
  list-style: none;
  list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
  list-style-type: none;
  max-width: 312px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 59px;
  padding-bottom: 160px;

  h6 {
    font-size: 22px;
    line-height: 37px;
    letter-spacing: -0.02em;
    color: #020814;
    margin-bottom: 0;

    + .mobile-nav__menuitem {
      margin-top: 2px;
    }
  }

  .open & {
    animation-name: navMenuIn;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
    opacity: 0;
  }

  .closed & {
    animation-name: navMenuOut;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }

  @keyframes navMenuIn {
    from {
      transform: translateY(-6px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes navMenuOut {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-6px);
      opacity: 0;
    }
  }
}

.mobile-nav--enterprise .mobile-nav__menu {
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
}

.mobile-nav__menuitem {
  position: relative;
  font-family: $font-family-inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: -0.02em;
  margin-top: 8px;

  & + h6 {
    margin-top: 23px;
  }

  a {
    width: 100%;
    color: #414D5C;
    display: inline-block;
  }
}

.mobile-nav__menuitem--small {
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  margin-top: 26px;

  .mobile-nav__menuitem + & {
    margin-top: 56px;
  }

  a {
    width: 100%;
    display: inline-block;
    color: #5977a8;
  }
}

.mobile-nav__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 28px;

  a {
    color: #BFC8DA;
    font-size: 28px;
  }
}

.mobile-nav__logo {
  position: absolute;
  top: 9px;
  left: 13px;
  fill: #000;
  z-index: 2;
  width: 32px;
  height: 32px;
  margin: 0;
}

.mobile-nav__close {
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 15px;
  opacity: 0.4;
  transition: opacity 0.3s;
  z-index: 2;

  &:hover {
    opacity: 1;
  }

  svg {
    width: 14px;
    height: 14px;
    fill: #5977a8;
    margin: 0;
  }
}

.mobile-nav__footer {
  background-color: #f6f8fe;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 14px;
  display: flex;
  justify-content: flex-end;

  a {
    font-weight: 700;
  }

  a + .btn {
    margin-left: 12px;
  }

  & > div {
  }

  .btn {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 14px 10px;
    vertical-align: middle;
    margin-right: 0;
    background: #4D8DFF;
    border-radius: 8px;
  }

  .open & {
    animation-name: navFooterIn;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateY(100%);
    opacity: 0;
  }

  .closed & {
    animation-name: navFooterOut;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }

  @keyframes navFooterIn {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes navFooterOut {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(6px);
      opacity: 0;
    }
  }
}

.mobile-nav--enterprise .mobile-nav__footer {
  background: #F9F9F9;
  justify-content: center;

  a {
    line-height: normal;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.05em;
    color: #3880FF;
    text-transform: uppercase;
  }

  ion-icon {
    color: rgba(56, 128, 255, 0.7);
    font-size: 12px;
    height: 12px;
    width: 12px;
    display: inline-block;
    vertical-align: -2px;
    opacity: 0;
    transition: .2s transform ease, .2s opacity;
    margin-right: 4px;

    &.hydrated {
      opacity: 1;
    }
  }
}
