.modal {
  .control-label {
    font-weight: 600;
  }

  .form-control {
    font-weight: 500;
  }

  .close,
  .go-back {
    position: absolute;
    top: -10px;
    right: -10px;
    background: white;
    border: 0;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    outline: none;

    &::before {
      font-family: 'Ionicons';
      content: '\f2c0';
      display: block;
      color: $dark-grey;
      font-size: 20px;
    }

    span {
      display: none;
    }
  }

  .go-back {
    right: auto;
    left: -10px;

    &::before {
      content: '\f27d';
    }
  }

  &.fullscreen {
    .container {
      position: relative;
    }

    .close {
      right: 36px;
      top: 27px;
      box-shadow: none;
      background: #ebeff5;

      &::before {
        color: #838fa5;
      }
    }

    .modal-dialog {
      width: 651px;
      transform: translate(0, -10%);
      transition: transform .5s cubic-bezier(0,0,0,1);
    }

    &.in .modal-dialog {
      transform: translate(0, 0);
    }

    .modal-content {
      box-shadow: none;
      border: 0;
      background: transparent;
    }
  }
}
