.pre-header {
  font-family: $font-family-inter;
  background: #F8FAFC;
    box-shadow: 0 1px 0px 0 rgba(0,20,56,.06);
    position: relative;
    z-index: 999;
    padding: 6px 0 7px;
    text-align: center;
    color: #73849A;

  .container {
    position: relative;
    font-size: 11px;
    line-height: 1.8em;
    font-weight: 400;
    letter-spacing: -.01em;

    &:before,
    &:after {
      display: none;
    }
  }

  #optimizely {
    transition: .2s opacity;
  }

  p {
    display: inline;
  }

  strong {
    font-weight: 600;
  }

  a {
    background-color: #73a5ff;
    color: #fff;
    border-radius: 16px;
    margin-left: 12px;
    padding: 6px 8px 5px;
    font-weight: 600;
    font-size: 9px;
    text-transform: uppercase;
    vertical-align: 0;
    white-space: pre;
    letter-spacing: .02em;
    transition: .2s background-color, .2s box-shadow;

    &::after {
      font-family: 'Ionicons';
      content: '\f3d1';
      margin-left: 3px;
    }

    &:hover {
      background-color: #ee7818;
      // background-color: lighten(#30427e, 5);
      box-shadow: 0 1px 2px rgba(black, .1);
    }
  }

  @media (max-width: $screen-xs-max) {
    display: none;
  }

  &.back {
    background: #F9F9F9;
    text-align: left;
    box-shadow: none;
    padding: 3px 0;

    a {
      line-height: normal;
      font-weight: 600;
      font-size: 10px;
      letter-spacing: 0.05em;
      color: #3880FF;
      background: none;
      margin: 0;
      padding: 10px 0;

      &::after {
        display: none;
      }

      ion-icon {
        color: rgba(56, 128, 255, 0.7);
        font-size: 12px;
        height: 12px;
        width: 12px;
        display: inline-block;
        vertical-align: -2px;
        opacity: 0;
        transition: .2s transform ease, .2s opacity;
        margin-right: 4px;

        &.hydrated {
          opacity: 1;
        }
      }

      &:hover {
        box-shadow: none;

        ion-icon {
          transform: translateX(-2px);
        }
      }
    }
  }
}
