.pre-header {
  font-family: $font-family-eina;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 20, 56, 0.06);
  position: relative;
  z-index: 999;
  padding: 8px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &:before,
    &:after {
      display: none;
    }
  }

  .text-link {
    transition: 0.2s color;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #a8b0be;

    .lower-case {
      text-transform: lowercase;
    }

    &:hover {
      color: #3880ff;
    }

    & + .text-link{
      margin-left: 16px;
    }
  }

  .site-search,
  .dropdown {
    margin-right: 16px;
  }

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.pre-header__btn {
  transition: 0.3s background;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 4px 7px;
  border-radius: 4px;
  color: #3880ff;
  background-color: #e3efff;
  box-shadow: none;

  &:hover {
    color: #3880ff;
    background-color: #d9e9ff;
    box-shadow: none;
  }
}

.pre-header__announcement {
  display: flex;
  align-items: center;
  position: relative;
  opacity: 0;
  transform: translateY(-10px);

  a {
    transition: color 0.3s, border 0.3s;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #727a87;
    border-bottom: 2px solid #e8ebf1;
    padding-bottom: 0px;

    &:hover {
      color: #3880ff;
      border-bottom-color: rgba(#3880ff, 0.3);
    }
  }

  &.in,
  &.animate-in {
    opacity: 1;
    transform: translateY(0);
  }

  &.animate-in {
    transition: opacity 0.6s, transform 0.4s;
  }

  @media (max-width: $screen-sm-max) {
    a {
      white-space: nowrap;
      max-width: 270px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.pre-header__menu {
  display: flex;
  align-items: center;
  flex: 0 0 auto;

  ionic-search:not(.hydrated) {
    display: none;
  }
}

.pre-header .dropdown {

  &.open .text-link {
    color: #3880ff;
  }

  .dropdown-menu {
    display: block;
    position: absolute;
    border: 0;
    border-radius: 8px;
    padding: 13px 0 10px;
    background: #1d2a3e;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
    opacity: 0;
    top: -2000px;
    pointer-events: none;
    transform: translate3d(-50%, -10px, 0) scaleY(1);
    z-index: 1;
    transition-delay: 0s;
    transform-origin: 50% 0;
    transition:
      transform .2s cubic-bezier(0.36,0.66,0.04,1),
      opacity .2s linear,
      top .25s step-end;

    a {
      padding: 4px 20px;
      letter-spacing: 0;
      line-height: 1.6;
      font-size: 12px;
      font-weight: 600;
      color: #e8ebf1;
      transition: .2s color;

      &:hover {
        background: transparent;
        color: #fff;
      }
    }

    &::before {
      position: absolute;
      top: -16px;
      content: '';
      width: 100%;
      height: 18px;
    }

    .arrow {
      position: absolute;
      height: 8px;
      width: 20px;
      overflow: hidden;
      top: -8px;
      left: calc(50% - 8px);

      &::before {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 4px;
        background: #1d2a3e;
        transform: rotate(45deg);
        border-radius: 4px;
        box-shadow: 1px 1px 3px rgba(#000, 0.4);
        content: '';
        display: block;
      }
    }
  }

  &.open .dropdown-menu,
  &:hover .dropdown-menu {
    opacity: 1;
    top: 30px;
    z-index: 4;
    pointer-events: all;
    transform: translate3d(-50%, 0, 0) scaleY(1);
    transition:
      transform .25s cubic-bezier(.17,.67,.52,1),
      opacity .1s linear,
      top .25s step-start;
    transition-delay: .2s;
  }

  .caret {
    border-top: 3px dashed;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
  }
}
