.pre-header {
  font-family: $font-family-eina;
  // background: #efa65e;
  background: #33a951;
  // background: linear-gradient(to right, #17203d, #1f2c53);
  box-shadow: 0px 1px 2px 0px rgba(0, 20, 56, 0.06);
  position: relative;
  z-index: 999;
  padding: 6px 0 7px;
  text-align: center;
  color: white;

  .container {
    position: relative;
    font-size: 13px;
    line-height: 1.8em;
    font-weight: 500;
    letter-spacing: -.01em;

    &:before,
    &:after {
      display: none;
    }
  }

  #optimizely {
    transition: .2s opacity;
  }

  strong {
    font-weight: 600;
  }

  a {
    // background-color: #e67316;
    background-color: white;
    color: black;
    // background-color: #30427e;
    border-radius: 16px;
    margin-left: 21px;
    padding: 7px 12px 6px;
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    vertical-align: 0;
    white-space: pre;
    letter-spacing: .02em;
    transition: .2s background-color, .2s box-shadow;

    &::after {
      font-family: 'Ionicons';
      content: '\f3d1';
      margin-left: 3px;
    }

    &:hover {
      background: #dadada;
      // background-color: lighten(#30427e, 5);
      box-shadow: 0 1px 2px rgba(black, .1);
    }
  }

  @media (max-width: $screen-xs-max) {
    display: none;
  }

  &.back {
    background: #F9F9F9;
    text-align: left;
    box-shadow: none;

    a {
      line-height: normal;
      font-weight: 600;
      font-size: 10px;
      letter-spacing: 0.05em;
      color: #3880FF;
      background: none;
      margin: 0;
      padding: 10px 0;

      &::after {
        display: none;
      }

      ion-icon {
        color: rgba(56, 128, 255, 0.7);
        font-size: 12px;
        height: 12px;
        width: 12px;
        display: inline-block;
        vertical-align: -2px;
        opacity: 0;
        transition: .2s transform ease, .2s opacity;
        margin-right: 4px;

        &.hydrated {
          opacity: 1;
        }
      }

      &:hover {
        box-shadow: none;

        ion-icon {
          transform: translateX(-2px);
        }
      }
    }
  }
}
