.promo {
  font-family: $font-family-eina;
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #f3f5f9;
  position: relative;

  .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &::before,
    &::after {
      display: none;
    }
  }

  hgroup {
    width: 50%;
    padding-left: 42px;
  }

  h2,
  p {
    max-width: 460px;
  }

  h2 {
    font-size: 24px;
    letter-spacing: -0.03em;
    font-weight: 700;
    margin-top: 0;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    color: #788497;
    margin-top: 16px;
    margin-bottom: 20px;
  }

  .btn {
    font-size: 14px;
    font-weight: 700;
    background-color: #2d79ff;

    &:hover {
      background-color: #4486fb;
    }

    &.white {
      background: white;

      &:hover {
        background: white;
      }
    }
  }

  &--dark {
    background-color: #112037;

    h2 {
      color: #fff;
    }
    p {
      color: #a8b0be;
    }
  }

  &__illustration {
    width: 459px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-480px);
    z-index: 3;
  }

  &.promo-reversed .container {
    justify-content: flex-start;

    hgroup {
      flex: 1;
    }
  }

  .promo__image {
    max-width: 100%;
    margin: 32px 15px;
  }

  &.promo-btns,
  &.promo-newsletter {
    hgroup {
      flex: 1;
      padding: 46px 0;
    }

    .container {
      padding-top: 37px;
    }

    h2,
    p {
      max-width: 100%;
    }

    h2 {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    p {
      margin-top: 8px;
      font-size: 20px;
      letter-spacing: -.031em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h1,
    h2,
    h3 {
      color: $blue;
    }

    .btns {
      margin-left: 24px;
    }

    @media (max-width: $screen-xs-max) {
      padding-bottom: 64px;

      .btns {
        text-align: center;
      }

      .btn {
        margin-bottom: 12px;
      }
    }
  }

  &.promo-newsletter {
    background: white;

    .container {
      padding-top: 6px;
    }

    strong {
      font-weight: 600;
    }

    .btns {
      flex: 0 1 476px;

      @media (max-width: $screen-sm-max) {
        flex: 0;
      }

      @media (max-width: $screen-xs-max) {
        width: 100%;
        max-width: 476px;
        margin-left: 0;
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    &__illustration {
      transform: translateX(-400px);
    }
  }

  @media (max-width: $screen-xs-max) {
    padding-bottom: 272px;

    &.promo-inline {
      padding-bottom: 64px;
    }

    .container {
      justify-content: center;
      flex-direction: column;
    }

    hgroup {
      width: 100%;
      padding: 0;
      text-align: center;
    }

    h2,
    p {
      margin-left: auto;
      margin-right: auto;
    }

    &__illustration {
      width: 380px;
      transform: translateX(-190px);
    }
  }

  &--tri-cta {
    background: #F6F8FB;

    ul {
      list-style: none;
      letter-spacing: -.01em;
    }

    li {
      margin: 24px 48px;
      position: relative;
      width: calc(33.3% - 64px);

      &::after {
        content: '';
        position: absolute;
        right: 0;
        right: -48px;
        top: calc(50% - 48px);
        height: 96px;
        border-left: 1px solid #DEE3EA;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;

        &::after {
          display: none;
        }
      }
    }

    h4 {
      font-size: 20px;
      color: black;
      font-weight: 600;
    }

    p {
      font-family: $font-family-inter;
      line-height: 29px;
      font-size: 16px;
      color: #73849A;
    }



    @media (max-width: $screen-sm-max) {
      padding-bottom: 64px;

      li {
        width: 100%;
        margin: 0;
        padding: 48px 16px;
        text-align: center;

        &::after {
          display: none;
        }

        p {
          margin: 0 0 1em;
          display: inline-block;
        }

        .btn {
          display: block;
        }
      }
    }
  }

  &#promo--ionic-for-enterprise {
    padding-top: 56px;
    padding-bottom: 72px;
    background: linear-gradient(to right, #F1F8FF 0%, #C8CCFD 49.99%, #F6F6FB 50%, #F6F6FB 100%);

    .promo__illustration {
      width: 568px;
      height: 386px;
      left: calc(50% - 60px);
      z-index: 0;
    }

    hgroup {
      padding-left: 60px;
      padding-right: 40px;
    }

    h3 {
      font-size: 28px;
      line-height:  34px;
      letter-spacing: -0.03em;
      color: #29323e;
      font-weight: 600;
      text-transform: none;
      margin-top: 20px;
      margin-bottom: 20px;
      font-family: $font-family-eina;
      
      em {
        color: #616E7E;
        font-style: normal; 
      }
    }

    #btn-promo-evaluating-ionic-for-enterprise {
      background: rgba(#CFD4FE, .35);
      border-radius: 10px;
      box-shadow: none;
      font-size: 15px;
      padding: 16px 18px 14px;
      letter-spacing: 0.06em;
      text-transform: uppercase;

      ion-icon {
        font-size: 18px;
        vertical-align: -4px;
      }
    }

    @media (max-width: $screen-sm) {
      background: linear-gradient(to right, #F1F8FF 0%, #C8CCFD 100%);
      padding-bottom: 280px;
      overflow: hidden;

      hgroup {
        padding: 0;
        text-align: left;
      }

      h3 {
        text-align: left;
      }

      .promo__illustration {
        bottom: -100px;
      }
    }
  }

  &#promo--enterprise {
    padding-top: 118px;
    padding-bottom: 115px;
    background: none;
    border-top: 1px solid #EFF3F8;

    h2 {
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.04em;
      color: #1A232F;
    }

    p {
      margin-top: 5px;
    }
    
    .container {
      padding-top: 0;
    }

    hgroup {
      padding: 0;
    }

    .btns {
      padding-left: 8px;
      margin-top: 11px;
      margin-right: 4px;
    }

    .btn {
      padding: 13px 17px 9px;
      border-radius: 10px;
      box-shadow: none;
      font-size: 18px;
      font-weight: 600;
      line-height: 25px;
      letter-spacing: -.02em;
    }

    .blue {
      background: $blue-800;
    }

    .light-blue {
      background: #E7F4FF;
      color: $blue;
    }
  }

  &#promo--quad-cta {
    padding: 0;
    background: none;
    border-top: 1px solid #E9EDF3;
    border-bottom: 1px solid #E9EDF3;

    ul {
      padding: 0 15px;
      margin: 0 auto;
    }

    li {
      border-right: 1px solid #E9EDF3;
      padding: 0;
      margin: 0;
      text-align: center;
      width: 25%;

      &:last-child {
        border-right: none;
      }

      &::after {
        display: none;
      }
    }

    a {
      padding: 8px;
      min-height: 240px;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
    }

    h4 {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 25px;
      letter-spacing: -0.02em;
      color: #1A232F;
    }

    p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 14px;
      line-height: 27px;
      letter-spacing: -0.01em;
      color: #73849A;
    }

    .promo--quad-cta__graphic {
      width: 80px;
      height: 80px;
      display: block;
      margin: 8px auto 24px;
      position: relative;

      &::before,
      &::after {
        background: url('/img/promos/sprite-quad-cta.png?1');
        background-size: 100%;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        transition: .3s opacity, .3s transform cubic-bezier(.175,.885,.32,1.275);
      }
      
      &::after {
        opacity: 0;
      }

      &--enterprise {
        &::before { background-position: 0 0; }
        &::after  { background-position: 0 -80px; }
      }

      &--docs {
        &::before { background-position: 0 (80px * 2 * -1); }
        &::after  { background-position: 0 (80px * 3 * -1); }
      }

      &--github {
        &::before { background-position: 0 (80px * 4 * -1); }
        &::after  { background-position: 0 (80px * 5 * -1); }
      }

      &--twitter {
        &::before { background-position: 0 (80px * 6 * -1); }
        &::after  { background-position: 0 (80px * 7 * -1); }
      }
    }

    a:hover .promo--quad-cta__graphic {
      &::before,
      &::after {
        transform: translateY(-5px);
      }

      &::after { opacity: 1; }
    }

    @media (max-width: $screen-sm) {
      ul {
        flex-direction: row;
        flex-wrap: wrap;
      }
      
      li {
        flex: 50%;
        width: 50%;
        border-right: none;
      }
    }
  }

  &-card {
    display: flex;
    align-items: center;
    justify-content: stretch;
    max-width: 1136px;
    padding: 0;
    margin-top: 32px;
    background: white;
    border-radius: 12px;
    box-shadow: 
      0px 12px 24px rgba(2, 8, 20, 0.2), 
      0px 4px 8px rgba(2, 8, 20, 0.1);
  
    &::before,
    &::after {
      display: none;
    }
  
    svg,
    .card-banner {
      flex: 0 0 480px;
      max-width: 480px;
    }
  
    hgroup {
      padding: 8px 5.66% 8px 7%;
    }
  
    h4 {
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
      font-style: normal;
      margin-top: 0;
      margin-bottom: 40px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      font-family: $font-family-inter;
  
      svg {
        vertical-align: -60%;
        margin-right: 11px;
        width: 48px;
        height: 48px;
      }
    }
  
    h3 {
      font-size: 32px;
      color: #020814;
      font-weight: 600;
      line-height: 35px;
      margin-bottom: 3px;
      letter-spacing: -0.03em;
    }
  
    p {
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.02em;
      color: rgba(91, 112, 139, .9);
    }
  
    .btn {
      font-size: 15px;
      font-weight: 700;    
      margin-top: 22px;
      line-height: 21px;
      border-radius: 10px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      padding: 14px 14px 12px 19px;
      text-align: center;
      white-space: normal;
  
      &::after {
        font-family: 'Ionicons';
        content: '';
        font-size: 23px;
        font-weight: 400;
        vertical-align: -3px;
        margin-left: 5px;
      }
    }

    @media (max-width: $screen-md-max) {
      h4 {
        margin-bottom: 0;
      }

      .btn {
        margin-top: 0;
      }
    }

    @media (max-width: $screen-sm-max) {
      flex-direction: column;
      align-items: center;
      padding: 32px;

      hgroup {
        padding: 0;

        h4 svg {
          display: inline-block;
        }
      }

      svg,
      .card-banner {
        display: none;
      }

      .btn {
        margin-top: 16px;
      }
    }

    @media (max-width: $screen-xs-max) {
      margin: 96px 16px 32px;
    }
  
    &--offline-storage {
      h4 {
        color: $purple;
      }

      .btn,
      .btn:active {
        background: $purple;
      }
    }
  
    &--auth-connect {
      h4 {
        color: $green;
      }

      .btn,
      .btn:active {
        background: $green;
      }
    }
  
    &--identity-vault {
      h4 {
        color: $navy;
      }

      .btn,
      .btn:active {
        background: $navy;
      }
    }
  }
}

#promo--hybrid-vs-native {
  overflow: visible;
  background: linear-gradient(to right, #FDFAF3 0%, #F5CD7F 50%, #F9F8F8 50.01%, #F9F8F8 100%);
  padding-top: 54px;
  padding-bottom: 54px;

  hgroup {
    padding-left: 0;
    margin-left: auto;
    max-width: 438px;
    margin-right: 64px;

    @media (max-width: $screen-md-max) {
      margin-right: 0;
      max-width: 400px;
    }

    @media (max-width: $screen-sm-max) {
      margin-right: 0;
      max-width: 320px;
    }
  }

  h3 {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.03em;
    font-weight: 600;
    
    span {
      color: rgba(97, 110, 126, .7);
    }
  }

  .btn.light-purple {
    background: rgba(207, 212, 254, .35);
    color: #7283FF;
    box-shadow: none;
    margin-top: 16px;

    &:hover,
    &:focus,
    &:active {
      background: rgba(207, 212, 254, .35);
    }
  
    &::after {
      font-family: 'Ionicons';
      content: '';
      font-size: 23px;
      font-weight: 400;
      vertical-align: -3px;
      margin-left: 5px;
    }
  }

  @media (max-width: $screen-xs-max) {
    background: #F9F8F8;
    padding-bottom: 320px;

    hgroup {
      max-width: 100%;
    }
  }
}

#promo--offline-storage {
  background: linear-gradient(317.92deg, #7A85FB 16.45%, #EEEFFF 91.77%);
  padding-top: 41px;

  .promo__illustration {
    width: 616px;
    height: 360px;
    transform: none;
    left: calc(50% - 590px);
    z-index: 1;

    @media (max-width: $screen-sm-max) {
      left: calc(50% - 500px);
    }

    @media (max-width: $screen-xs-max) {
      width: 411px;
      height: 240px;
      left: calc(50% - 210px);
    }
  }

  h3 {
    color: white;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 6px;
    letter-spacing: -0.03em;
  }

  p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: rgba(white, .8);
    max-width: 360px;
    margin-top: 0;
    margin-bottom: 32px;
  }

  .btn {
    font-size: 15px;
    color: #7681F5;
    line-height: 21px;
    border-radius: 10px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    padding: 15px 13px 12px 17px;
  }
}

#promo--how-to {
  margin-bottom: 0;
  position: relative;
  padding-top: 140px;

  &::before {
    position: absolute;
    top: 0;
    width: 100vw;
    border-top: 1px solid rgba(#92A1B3, .3);
    content: '';
    display: block;
  }
}

#promo--ionic-for-enterprise__modal,
#promo--offline-storage__modal {
  .modal-dialog {
    width: 672px;
    max-width: calc(100% - 24px);
  }

  .modal-body {
    padding: 48px;
  }

  hgroup {
    margin: 0 0 16px;
    padding: 0;
    text-align: left;
  }

  h2 {
    font-size: 32px;
    line-height: 38px;
  }

  p {
    font-size: 16px !important;
    line-height: 26px !important;
    letter-spacing: -0.02em !important;
  }

  form {
    max-width: 100%;
  }

  .actions {
    text-align: right;

    input {
      width: auto;
      background: $blue-800;
      border-radius: 10px;
      font-size: 15px;
      line-height: 21px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      padding: 14px 18px;
      min-height: auto;
      height: auto;
      
      &::after {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="s-ion-icon"><path d="M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z"></path></svg>');
        background-size: 100%;
        content: '';
        height: 20px;
        width: 20px;
        display: block;
        margin-left: 8px;
        transform: translateY(-1px);
      }
    }
  }
}

