@import '../vars';
@import '../bootstrap/variables';

.resources {
  padding-bottom: 120px;

  @media (max-width: $screen-sm) {
    padding-bottom: 60px;
  }

  .cards {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: -24px;
    margin-right: -24px;
  }

  hgroup {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    h3 {
      font-weight: 600;
      line-height: normal;
      font-size: 28px;
      letter-spacing: -0.02em;
      color: #1A232F;
      margin-bottom: 0;
    }

    h5 {
      font-weight: 700;
      line-height: 1;
      font-size: 14px;
      letter-spacing: 0.08em;
      color: #3880FF;
      text-transform: uppercase;
    }

    ion-icon {
      transform: translateY(2px);
    }
  }

  .cards li {
    display: block;
    flex: 0 0 33.33%;
    padding: 24px;

    a {
      display: block;
      width: 100%;
    }

    .img-wrapper {
      overflow: hidden;
      border-radius: 6px;
    }

    img {
      width: 100%;
    }

    h6 {
      line-height: 23px;
      font-size: 12px;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: #B2BECD;
      margin-bottom: 0;
      margin-top: 16px;
    }

    h4 {
      font-size: 20px;
      margin-top: 10px;
      color: #1A232F;
      font-weight: 600;
    }

    p {
      color: #5B708B;
      line-height: 22px;
      font-size: 14px;
      letter-spacing: -0.02em;
    }
  }

  @media (max-width: $screen-md) {
    .cards {
      margin-left: -12px;
      margin-right: -12px;
    }

    .cards li {
      padding: 12px;
    }
  }

  @media (max-width: $screen-sm) {
    .cards {
      flex-wrap: wrap;
    }
    .cards li {
      flex: 0 0 50%;
    }
  }

  @media (max-width: $screen-xs) {
    .cards li {
      flex: 0 0 100%;
    }

    h5 {
      display: none;
    }
  }
}