.resource-card-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}
.resource-card {
  padding: 16px;
  font-family: $font-family-eina;
}

.resource-card-list--third .resource-card {
  width: 33.33%;
}

.resource-card-list--quarter .resource-card {
  width: 25%;
}

@media (max-width: $screen-md-min) {
  .resource-card-list {
    margin-left: -12px;
    margin-right: -12px;
  }
  .resource-card {
    padding: 12px;
  }
  .resource-card-list--third .resource-card {
    width: 100%;
  }
  .resource-card-list--quarter .resource-card {
    width: 50%;
  }
}

@media (max-width: $screen-sm-min) {
  .resource-card-list {
    margin-left: -8px;
    margin-right: -8px;
  }
  .resource-card {
    padding: 8px;
  }
}

@media (max-width: 500px) {
  .resource-card-list--quarter {
    .resource-card {
      width: 100%;
    }
  }
}

.resource-card__inner {
  position: relative;
  height: 100%;
}

.resource-card {
  position: relative;
  transition: transform 0.3s;
  height: 272px;

  a {
    transition: box-shadow 0.4s;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 24px 28px;
    border-radius: 16px;
    background-color: rgb(36, 40, 46);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1), 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: bottom right;

    .title {
      color: #fff;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.4em;
      margin-top: 0;
      max-width: 350px;
    }

    .eyebrow {
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: rgba(#fff, 0.5);
      font-weight: 700;
      margin-bottom: 6px;
      display: inline-block;
    }

    .action {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.08em;
      color: #fff;
    }
  }

  &:hover {
    transform: translateY(-1px);
  }
  &:hover a {
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.1);
  }
}

.resource-card-large {
  a {
    .title {
      font-size: 24px;
      line-height: 32px;
    }

    .eyebrow {
      margin-bottom: 16px;
    }

    .action:after {
      transition: transform 0.3s;
      font-family: 'Ionicons';
      content: '\f287';
      font-size: 16px;
      margin-left: 6px;
      display: inline-block;
    }

    &:hover .action:after {
      transform: translate3d(3px, 0, 0);
    }
  }
}
