
/*! angularjs-slider - v5.4.3 -
 (c) Rafal Zajac <rzajac@gmail.com>, Valentin Hervieu <valentin@hervieu.me>, Jussi Saarivirta <jusasi@gmail.com>, Angelin Sirbu <angelin.sirbu@gmail.com> -
 https://github.com/angular-slider/angularjs-slider -
 2016-08-07 */
.rzslider {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 4px;
  margin: 25px 0 15px 0;
  vertical-align: middle;
  user-select: none;

  &.with-legend {
    margin-bottom: 40px;
  }

  &[disabled] {
    cursor: not-allowed;

    .rz-pointer {
      cursor: not-allowed;
      background-color: $blue;
    }
  }

  span {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
  }

  .rz-base {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .rz-bar-wrapper {
    left: 0;
    z-index: 1;
    width: 100%;
    height: 32px;
    padding-top: 16px;
    margin-top: -16px;
    box-sizing: border-box;

    &.rz-draggable {
      cursor: move;
    }
  }

  .rz-bar {
    left: 0;
    z-index: 1;
    width: 100%;
    height: 4px;
    background: #e8ebf1;
    border-radius: 2px;

    &.rz-selection {
      z-index: 2;
      background: $blue;
      border-radius: 2px;
    }
  }

  .rz-pointer {
    top: -8px;
    z-index: 3;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    outline: 0;
    transition: .2s transform;

    &:active {
      transform: scale3d(1.1, 1.1, 9);
      box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    }

    &.rz-active {
      z-index: 4;
    }
  }

  .rz-bubble {
    bottom: 16px;
    padding: 1px 3px;
    color: #55637d;
    cursor: default;

    &.rz-selection {
      top: 16px;
    }

    &.rz-limit {
      color: #55637d;
    }
  }

  .rz-ticks {
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 0;
    padding: 0 11px;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    justify-content: space-between;

    .rz-tick {
      width: 10px;
      height: 10px;
      text-align: center;
      cursor: pointer;
      background: #d8e0f3;
      border-radius: 50%;

      &.rz-selected {
        background: #0db9f0;
      }

      .rz-tick-value {
        position: absolute;
        top: -30px;
        transform: translate(-50%, 0);
      }

      .rz-tick-legend {
        position: absolute;
        top: 24px;
        max-width: 50px;
        white-space: normal;
        transform: translate(-50%, 0);
      }
    }

    &.rz-ticks-values-under .rz-tick-value {
      top: initial;
      bottom: -40px;
    }
  }
}
