#snap-bar {
  background: #2e64c3;
  color: white;
  text-align: center;
  padding: 7px 10px;
  font-weight: 500;
  font-size: 14px;

  strong{
    text-transform: uppercase;
    margin-right: 0px;
    font-size: 16px;
    font-weight: 700;
    color: white;
  }

  a {
    color: rgba(255, 255, 255, .8);
    transition: .2s color;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  i {
    font-size: 18px;
    vertical-align: -7%;
  }
}
