#snap-bar {
  background: #2e64c3;
  color: white;
  text-align: center;
  padding: 7px 10px;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  z-index: 10;

  strong{
    text-transform: uppercase;
    margin-right: 0px;
    font-size: 16px;
    font-weight: 700;
    color: white;
  }

  a {
    color: rgba(255, 255, 255, .8);
    transition: .2s color;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  i {
    font-size: 18px;
    vertical-align: -7%;
  }

  + .navbar {
    margin-top: 22px;

    @media (max-width: $screen-xs-max) {
      padding-top: 20px;
      margin-top:0;
      position: relative;
    }
  }
}
body.docs #snap-bar {
  + .navbar {
    margin-top: 0;
  
    @media (max-width: $screen-xs-max) {
      padding-top: 0;
    }
  }

  ~ .docs-container .side-nav {
    padding-top: 38px;
    top: 0;
  }
}

@media (max-width: $screen-xs-max) {
  body.has-snap {
    margin-top: 0;
  }
}