#snap-bar {
  background: #171629;
  color: #CCCAEA;
  text-align: center;
  padding: 9px 10px 7px;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  z-index: 10;

  strong {
    text-transform: uppercase;
    margin-right: 0px;
    font-size: 16px;
    font-weight: 700;
    color: white;
  }

  .loading {
    width: 16px;
    margin-right: 5px;
    vertical-align: text-bottom;
  }

  a {
    color: white;
    transition: .2s color;

    &:hover {
      color: #fd4935;
      text-decoration: none;
    }
  }

  i {
    font-size: 18px;
    vertical-align: -7%;
  }

  + .navbar {
    margin-top: 6px;

    @media (max-width: $screen-xs-max) {
      // padding-top: 20px;
      margin-top:0;
      position: relative;
      min-height: 48px;
    }
  }
}
body.docs #snap-bar {
  + .navbar {
    margin-top: 0;

    @media (max-width: $screen-xs-max) {
      padding-top: 0;
    }
  }
}
body.has-snap {
  margin-top: 0;

  .side-nav.affix-top {
    position: absolute;
    top: 38px;
  }

  @media (max-width: $screen-xs-max) {
    margin-top: 0;
  }
}

body.docs #snap-bar ~ .docs-container .side-nav {
  padding-top: 36px;
}

ionic-snap-bar {
  &:not(.hydrated) {
    display: none;
  }

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}