#sticky-bar {
  box-shadow: 0px 1px 0px #E9EDF3, 0px -1px 0px #E9EDF3;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1;

  ul {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 5px;
    padding-right: 5px;
    overflow-x: auto;

    &::before,
    &::after {
      display: none;
    }
  }

  li {
    list-style: none;

    &.active a:not(.btn) {
      color: $blue;
      font-weight: 600;
      letter-spacing: .076em;
      text-decoration: none;
    }
  }

  a {
    padding: 10px 10px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    display: block;
    white-space: nowrap;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      background: transparent;
      text-decoration: none;
    }

    &.btn {
      padding: 11px 14px 8px;
      margin-right: 3px;
      border-radius: 10px;
      color: white;
      font-weight: 600;

      &:hover,
      &:active,
      &:focus {
        color: white;
        background: darken($blue, 5);
      }
    }
  }

  .anchor {
    color: #92A1B3;
    font-weight: 500;

    &.active,
    &:hover {
      color: #4D8DFF;
    }
  }
}

ionic-sub-header ~ #sticky-bar,
ionic-sub-header ~ .sticky-wrapper #sticky-bar {
  top: 56px;

  @media (max-width: $screen-xs-max) {
    top: 52px;

    backdrop-filter: blur(20px);

    @supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
      background: rgba(white, .95);
    }
  }
}