/**
 * The Sub Header sits under the main navigation to display context-specific
 * page information, widgets, and links.
 * September 2017
 */
.sub-header {

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #272a2f;
    font-size: 13px;
    font-weight: 500;

    &::before,
    &::after { display: none; }
  }

  ul {
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  .breadcrumbs {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

    li {
      font-weight: 600;
      color: #272a2f;

      &::after {
        content: '/';
        color: #ced5e1;
        margin-left: 5px;
        margin-right: 1px;
        font-size: 16px;
        vertical-align: 0px;
      }
  
      &:last-child::after {
        display: none;
      }

      a,
      &::after {
        font-weight: 300;
      }
    }

    a {
      color: #697384;
      transition: .2s color;
      padding: 18px 0;
      display: inline-block;
      font-size: 15px;
      margin-left: -1px;
  
      &:hover {
        color: $blue;
      }
    }
  }

  a {
    color: #272a2f;
    padding: 19px 25px;
    display: inline-block;
    transition: .2s color;

    &.current {
      color: #697384;
    }

    &:hover {
      color: $blue;
    }
  }
}
