/**
 * The Sub Header sits under the main navigation to display context-specific
 * page information, widgets, and links.
 * September 2017
 */
#sub-header {
  position: sticky;
  top: 0;
  z-index: 9999;
  opacity: 0;
  animation: fadeIn .4s ease .5s forwards;
  transition: all .5s ease;

  &__trigger {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 1px;
    pointer-events: none;
    opacity: 0;
  }

  &.sub-header--not-sticky {
    position: relative;

    &.sub-header--stuck { 
      background: none;
      box-shadow: none;
      backdrop-filter: none;
    }
  }

  &.sub-header--stuck {
    background: #020814;
    backdrop-filter: blur(20px);
    box-shadow: 0 1px 2px rgba(black, .1);
  
    @supports ((-webkit-backdrop-filter: blur(1)) or (backdrop-filter: blur(1))) {
      background: rgba(#020814, .9);
    }
  }

  & > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 13px;
    font-weight: 500;
    min-height: 55px;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;

    &::before {
      border-top: 1px solid rgba(white, .06);
      display: block;
      content: '';
      position: absolute;
      top: 0;
      right: 15px;
      left: 15px;
      flex: 0 0 100%
    }

    &::after { display: none; }
  }

  ul {
    padding: 0;
    list-style: none;
    margin-bottom: 0;
  }

  .sub-header__right li:last-child a{
    padding-right: 0;
  }

  ul:not(.sub-header__right) li:first-child a,
  .sub-header__left li:first-child a {
    padding-left: 0;
  }

  li {
    display: inline-block;
  }

  ul {
    font-size: 12px;
    line-height: 14px;
  }

  .sub-header__breadcrumbs,
  .sub-header__title {
    &.sub-header__breadcrumbs--sm {
      font-size: 13px;
    }

    &,
    a {
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: -0.01em;
    }

    li {
      &::after {
        content: '/';
        color: rgba(white, .1);
        margin-left: 5px;
        margin-right: 1px;
        font-size: 16px;
        font-weight: 600;
        vertical-align: 0px;
      }

      &:last-child::after {
        display: none;
      }
    }
  }

  .sub-header__breadcrumbs--small {
    &,
    li:after {
      font-size: 13px;
    }

    li a {
      font-weight: 600;
    }
  }

  span,
  a {
    color: white;
    padding: 18px 15px;
    display: inline-block;
    text-decoration: none;
    transition: .2s color;
  }

  a {
    svg,
    path {
      transition: .2s fill;
      vertical-align: -15%;
    }
      

    &.current,
    &.active,
    &:hover {
      color: rgba(white, .4);
    }

    &.btn {
      padding: 6px 8px 5px;
      font-size: 13px;
      font-weight: 600;
      vertical-align: 0px;
      letter-spacing: -.01em;
      margin-right: 3px;
      margin-left: 9px;
      transition: .3s box-shadow, .3s background;

      &:hover {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
      }

      &:active {
        box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
      }
    }
  }
}
body.light #sub-header {

  &.sub-header--stuck {
    background: white;
  
    @supports ((-webkit-backdrop-filter: blur(1)) or (backdrop-filter: blur(1))) {
      background: rgba(white, .9);
    }
  }

  .container::before {
    border-top-color: rgba(black, .06);
  }

  span,
  a,
  li::after {
    color: #414D5C;
  }

  .sub-header__breadcrumbs,
  .sub-header__title {
    &,
    a {
      color: #1A232F;
    }
  }

  a {
    &.current,
    &.active {
      color: #b1bbca;
    }

    &:hover {
      color: $blue;

      svg,
      path {
        fill: $blue;
      }
    }
  }
}
