/**
 * The Sub Header sits under the main navigation to display context-specific
 * page information, widgets, and links.
 * September 2017
 */
.sub-header {
  & > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #697384;
    font-size: 13px;
    font-weight: 600;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;

    &::before {
      border-top: 1px solid rgba(white, .06);
      display: block;
      content: '';
      position: absolute;
      top: 0;
      right: 15px;
      left: 15px;
    }
    &::after { display: none; }
  }

  ul {
    padding: 0;
    list-style: none;
    flex-shrink: 0;
  }

  li {
    display: inline-block;
    font-weight: 500;
  }

  .breadcrumbs {
    font-family: "Eina", "Helvetica Neue", Helvetica, sans-serif; // todo: Set Eina globally
    font-size: 16px;

    li {
      font-weight: 600;
      color: white;
      padding: 17px 0;

      &::after {
        content: '/';
        color: rgba(white, .1);
        margin-left: 5px;
        margin-right: 1px;
        font-size: 16px;
        vertical-align: 0px;
      }

      &:last-child::after {
        display: none;
      }

      a,
      &::after {
        font-weight: 300;
      }
    }

    a {
      color: rgba(white, .5);
      transition: .2s color;
      padding: 0;
      display: inline-block;
      margin-left: -1px;


      &:hover {
        color: rgba(white, .3);
      }
    }
  }

  .breadcrumbs--small {
    &,
    li:after {
      font-size: 13px;
    }

    li a {
      font-weight: 600;
    }
  }

  a {
    color: white;
    padding: 18px 15px;
    display: inline-block;
    text-decoration: none;
    transition: .2s color;

    &.current,
    &.active {
      color: rgba(white, .4)
    }

    &:hover {
      color: rgba(white, .4);
    }

    &.btn {
      padding: 6px 8px 5px;
      font-size: 13px;
      font-weight: 600;
      vertical-align: 0px;
      letter-spacing: -.01em;
      margin-right: 3px;
      margin-left: 9px;
      transition: .3s box-shadow, .3s background;

      &:hover {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
      }

      &:active {
        box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
      }
    }
  }
}
body.light .sub-header {
  .container::before {
    border-top: 1px solid rgba(black, .06);
  }

  .breadcrumbs {
    li {
      color: #272a2f;

      &::after {
        color:rgba(black, .3)
      }
    }

    a {
      color: #7a88a0;

      &:hover {
        color: $blue;
      }
    }
  }

  a {
    color: #697384;

    &.current,
    &.active {
      color: #b1bbca;
    }

    &:hover {
      color: $blue;
    }
  }
}
