.rounded-tabs {
  background: none;
  margin: 0 0 0 -20px;
  padding: 0;
  display: flex;

  @media (max-width: $screen-xs-max) {
    margin: 0;
    justify-content: space-between;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
  }
}

.rounded-tabs__tab {
  padding: 0;
  display: flex;
  position: relative;
  max-width: 100%;
  margin: 0;

  &::before,
  &::after {
    content: '';
    display: block;
    opacity: 0;
    width: 56px;
    height: 64px;
    flex: 0 0 56px;
    background-size: 56px 64px;
    background-repeat: no-repeat;
  }

  &::before {
    background-image: url('/img/getting-started/tab-border-left.png');
  }

  &::after {
    background-image: url('/img/getting-started/tab-border-right.png');
  }

  & + .rounded-tabs__tab {
    margin-left: -54px;
  }

  @media (max-width: $screen-xs-max) {
    transition: border 0.3s;
    border-bottom: 4px solid transparent;

    &::before,
    &::after {
      display: none;
    }

    & + .rounded-tabs__tab {
      margin-left: 28px;
    }
  }
}

.rounded-tabs__tab-inner {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  height: 64px;
  margin-left: -1px;
  margin-right: -1px;
  padding: 0 2px;
  flex: 0 0 auto;
  cursor: pointer;

  background: transparent;
  color: #D5EAFF;

  svg {
    margin-right: 8px;
    flex: 0 0 20px;
  }

  span {
    flex: 0 0 auto;
  }

  .front {
    fill: #E1F0FF;
  }
  .middle {
    fill: #8DC0FF;
  }
  .back {
    fill: #6FADFF;
  }
  .front--border {
    stroke: #4D92FF;
  }
  .middle--border {
    stroke: #4D93FF;
  }

  &:hover {
    transition: color 0.2s;
    color: #fff;

    .front {
      fill: #fff;
    }
  }

  @media (max-width: $screen-xs-max) {
    flex-direction: column;
    font-size: 14px;
    height: auto;
    padding-bottom: 14px;
    flex: 1;
    text-align: center;
    line-height: 16px;

    svg {
      margin: 8px 0 10px;
    }
  }
}

.rounded-tabs__tab--active {
  pointer-events: none;

  @media (min-width: 768px) {
    &::before,
    &::after {
      opacity: 1;
    }

    .rounded-tabs__tab-inner,
    .rounded-tabs__tab-inner:hover {
      background: #fff;
      color: #161A1F;

      .front {
        fill: #3880FF;
      }
    }

    .front {
      fill: #3880FF;
    }
    .middle {
      fill: #B1D9FF;
    }
    .back {
      fill: #CFE7FF;
    }

    .front--border,
    .middle--border {
      stroke: #fff;
    }
  }

  @media (max-width: $screen-xs-max) {
    border-bottom: 4px solid rgba(#fff, 0.8);

    .rounded-tabs__tab-inner {
      color: #fff;
      .front {
        fill: #fff;
      }
    }
  }
}

.tab-content {
  display: none;

  &--active {
    display: block;
  }
}
