tippy {
  // position: relative;

  .tip {
    position: absolute;
    transform: scale3d(0, 0, 1);
    transition: .15s transform linear;
    background: rgba(black,.8);
    border-radius: 4px;
    padding: 15px 20px;
    color: white;
    z-index: 1;
    width: 100%;
    min-width: 200px;

    &::before {
      position: absolute;
      top: -5px;
      height: 5px;
      width: 100%;
      left: 0;
      content: '';
    }

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent rgba(black, .8);
      position: absolute;
      top: -5px;
      right: 6px;
    }

    a {
      cursor: pointer;

  &:hover {
    color: white;
  }
    }
  }

  > i {
    font-size: 67%;
    font-weight: 700;
    line-height: 1em;
    color: #fff;
    border-radius: 1em;
    padding: 3px 5px 2px;
    background: #c2c8d2;
    position: relative;
    top: -0.2em;
    display: inline-block;
    cursor: pointer;
  }

  &:hover,
  &.active {
    .tip {
      transition-timing-function: cubic-bezier(0,1.5,.5,1);
      transition-duration: .3s;
      transform: scale3d(1, 1, 1);
    }
  }
}
