<!DOCTYPE html>
<html lang="en">
  <head>
    {% include meta_tags.html %}
    <title>{{page.title}} - Ionic Framework</title>
    {% include head_includes.prod.html %}
  </head>

  <body class="docs device-preview-page docs-page docs-css">
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TKMGCBC"
              style="display:none;visibility:hidden"
              height="0" 
              width="0" ></iframe>
    </noscript>
    {% include nav_links.html %}

    {% include header.html %}

    <div class="container content-container">

      <div class="row">

        <div class="col-md-2 col-sm-3 aside-menu">

          <div class="docked-menu">

            <ul class="nav left-menu">
              <li class="menu-title">
                <a href="/docs/v1/overview/">Overview</a>
              </li>
            </ul>

            <!-- Docs: CSS -->
            <ul class="nav left-menu active-menu">
              <li class="menu-title">
                <a href="/docs/v1/components/">CSS Components</a>
              </li>
              <li>
                <a href="/docs/v1/components/#header">Header</a>
                <ul style="display: none;">
                  <li><a href="/docs/v1/components/#subheader">Sub Header</a></li>
                </ul>
              </li>
              <li><a href="/docs/v1/components/#content">Content</a></li>
              <li><a href="/docs/v1/components/#footer">Footer</a></li>
              <li>
                <a href="/docs/v1/components/#buttons">Buttons</a>
                <ul>
                  <li><a href="/docs/v1/components/#block-buttons">Block</a></li>
                  <li><a href="/docs/v1/components/#full-buttons">Full Width</a></li>
                  <li><a href="/docs/v1/components/#button-sizes">Different Sizes</a></li>
                  <li><a href="/docs/v1/components/#outlined-buttons">Outlined</a></li>
                  <li><a href="/docs/v1/components/#clear-buttons">Clear</a></li>
                  <li><a href="/docs/v1/components/#icon-buttons">Icons</a></li>
                  <li><a href="/docs/v1/components/#buttons-headers-footers">Headers/Footers</a></li>
                  <li><a href="/docs/v1/components/#clear-buttons-headers">Clear Buttons in Headers</a></li>
                  <li><a href="/docs/v1/components/#button-bar">Button Bar</a></li>
                </ul>
              </li>
              <li>
                <a href="/docs/v1/components/#list">List</a>
                <ul>
                  <li><a href="/docs/v1/components/#item-dividers">Divider</a></li>
                  <li><a href="/docs/v1/components/#item-icons">Icons</a></li>
                  <li><a href="/docs/v1/components/#item-buttons">Buttons</a></li>
                  <li><a href="/docs/v1/components/#item-avatars">Avatars</a></li>
                  <li><a href="/docs/v1/components/#item-thumbnails">Thumbnails</a></li>
                  <li><a href="/docs/v1/components/#list-inset">Inset Lists</a></li>
                </ul>
              </li>
              <li>
                <a href="/docs/v1/components/#cards">Cards</a>
                <ul>
                  <li><a href="/docs/v1/components/#card-headers-footers">Headers &amp; Footers</a></li>
                  <li><a href="/docs/v1/components/#card-lists">Lists</a></li>
                  <li><a href="/docs/v1/components/#card-images">Images</a></li>
                  <li><a href="/docs/v1/components/#card-showcase">Showcase</a></li>
                </ul>
              </li>
              <li>
                <a href="/docs/v1/components/#forms">Forms</a>
                <ul>
                  <li><a href="/docs/v1/components/#forms-placeholder-labels">Placeholder Labels</a></li>
                  <li><a href="/docs/v1/components/#forms-inline-labels">Inline Labels</a></li>
                  <li><a href="/docs/v1/components/#forms-stacked-labels">Stacked Labels</a></li>
                  <li><a href="/docs/v1/components/#forms-floating-labels">Floating Labels</a></li>
                  <li><a href="/docs/v1/components/#inset-forms">Inset Forms</a></li>
                  <li><a href="/docs/v1/components/#item-input-inset">Inset Inputs</a></li>
                  <li><a href="/docs/v1/components/#input-icons">Input Icons</a></li>
                  <li><a href="/docs/v1/components/#bar-inputs">Header Inputs</a></li>
                </ul>
              </li>
              <li><a href="/docs/v1/components/#toggle">Toggle</a></li>
              <li><a href="/docs/v1/components/#checkbox">Checkbox</a></li>
              <li><a href="/docs/v1/components/#radio-buttons">Radio Buttons</a></li>
              <li><a href="/docs/v1/components/#range">Range</a></li>
              <li><a href="/docs/v1/components/#select">Select</a></li>
              <li>
                <a href="/docs/v1/components/#tabs">Tabs</a>
                <ul>
                  <li><a href="/docs/v1/components/#icon-only-tabs">Icon-only</a></li>
                  <li><a href="/docs/v1/components/#icon-top-tabs">Top Icon</a></li>
                  <li><a href="/docs/v1/components/#icon-left-tabs">Left Icon</a></li>
                  <li><a href="/docs/v1/components/#striped-style-tabs">Striped Style</a></li>
                </ul>
              </li>
              <li>
                <a href="/docs/v1/components/#grid">Grid</a>
                <ul>
                  <li><a href="/docs/v1/components/#grid-even">Even Columns</a></li>
                  <li><a href="/docs/v1/components/#grid-explicit">Explicit Column Sized</a></li>
                  <li><a href="/docs/v1/components/#grid-offset">Offset Columns</a></li>
                  <li><a href="/docs/v1/components/#grid-vertically-align">Vertically Aligned</a></li>
                  <li><a href="/docs/v1/components/#grid-responsive">Responsive Grid</a></li>
                </ul>
              </li>
              <li>
                <a href="/docs/v1/components/#utility">Utility</a>
                <ul>
                  <li><a href="/docs/v1/components/#colors">Colors</a></li>
                  <li><a href="/docs/v1/components/#icons">Icons</a></li>
                  <li><a href="/docs/v1/components/#padding">Padding</a></li>
                </ul>
              </li>
            </ul>

            <ul class="nav left-menu">
              <li class="menu-title">
                <a href="/docs/v1/platform-customization/">Platform Customization</a>
              </li>
            </ul>

            <ul class="nav left-menu">
              <li class="menu-title">
                <a href="/docs/v1/api/">JavaScript</a>
              </li>
            </ul>

            <ul class="nav left-menu">
              <li class="menu-title">
                <a href="/docs/v1/cli/">CLI</a>
              </li>
            </ul>

            <ul class="nav left-menu">
              <li class="menu-title">
                <a href="/docs/v1/guide/">Guide</a>
              </li>
            </ul>

            <ul class="nav left-menu">
              <li class="menu-title">
                <a href="/docs/v1/ionic-cli-faq/">FAQ</a>
              </li>
            </ul>
            <ul class="nav left-menu">
              <li class="menu-title">
                <a href="/docs/v1/getting-help/">Getting Help</a>
              </li>
            </ul>

            <ul class="nav left-menu">
              <li class="menu-title">
                <a href="/docs/v1/concepts/">Ionic Concepts</a>
              </li>
            </ul>

          </div>

        </div>

        <div class="col-md-10 col-sm-9 main-content">
          {{ content }}
        </div>

      </div>

    </div>

    <div class="pre-footer">

      <div class="row ionic">

        <div class="col-sm-6 col-a">
          <h4>
            <a href="/docs/v1/guide/">Read the Guide <span class="icon ion-arrow-right-c"></span></a>
          </h4>
          <p>
            A walk through of getting Ionic installed, creating a new project, building the UI, adding logic, testing, deploying on the device, and publishing to various app stores.
          </p>
        </div>

        <div class="col-sm-6 col-b">
          <h4>
            <a href="http://forum.ionicframework.com/">Community Forum <span class="icon ion-arrow-right-c"></span></a>
          </h4>
          <p>
            Discuss and share ideas, hacks, and quesitons with others building with Ionic on the official Ionic Forum. Stop by and say Hello!
          </p>
        </div>

      </div>

    </div>

    {% include footer.html %}

    {% include base_scripts.html %}

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
    <script src="/js/css-docs-angular.js"></script>

  </body>
</html>
