<!DOCTYPE html>
<html lang="en">

<head>
  {% include meta_tags.html %}
  <title>{{page.title}} - Ionic Framework</title>
  {% include head_includes.prod.html %}
</head>

<body class="docs docs-page docs-css">
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TKMGCBC"
            style="display:none;visibility:hidden"
            height="0" 
            width="0" ></iframe>
  </noscript>
  {% include nav_links.html %} {% include header.html %}

  <div class="container content-container">

    <div class="row">

      <div class="col-md-2 col-sm-3 aside-menu">

        <div class="docked-menu">

          <ul class="nav left-menu">
            <li class="menu-title">
              <a href="/docs/v1/overview/">Overview</a>
            </li>
          </ul>

          <ul class="nav left-menu">
            <li class="menu-title">
              <a href="/docs/v1/components/">CSS Components</a>
            </li>
          </ul>

          <ul class="nav left-menu">
            <li class="menu-title">
              <a href="/docs/v1/platform-customization/">Platform Customization</a>
            </li>
          </ul>

          <ul class="nav left-menu">
            <li class="menu-title">
              <a href="/docs/v1/api/">JavaScript</a>
            </li>
          </ul>

          <ul class="nav left-menu">
            <li class="menu-title">
              <a href="/docs/v1/cli/">CLI</a>
            </li>
          </ul>

          <ul class="nav left-menu">
            <li class="menu-title">
              <a href="/docs/v1/guide/">Guide</a>
            </li>
          </ul>

          <!-- Docs: CSS -->
          <ul class="nav left-menu active-menu">
            <li class="menu-title">
              <a href="/docs/v1/ionic-cli-faq/">FAQ</a>
            </li>

            <li><a href="/docs/v1/components/#platform-ready">Platform.ready</a></li>
            <li><a href="/docs/v1/components/#cordova-plugins">Cordova Plugin Issues</a></li>
            <li><a href="/docs/v1/components/#touch-events">Ionic Touch Event Conflicts</a></li>
            <li><a href="/docs/v1/components/#android-sdk">Android SDK</a>
            </li>
            <li><a href="/docs/v1/components/#genymotion">Faster Android Emulation</a>
            </li>
            <li><a href="/docs/v1/components/#cli-commands">Ionic Commands</a>
            </li>
            <li><a href="/docs/v1/components/#ios-emulate">iOS Emulation</a>
            </li>
            <li><a href="/docs/v1/components/#plugins">Plugins</a>
            </li>
            <li><a href="/docs/v1/components/#cordova-directory">Cordova Directory</a>
            </li>
            <li><a href="/docs/v1/components/#cordova-updates">Cordova Updates</a>
            </li>
            <li><a href="/docs/v1/components/#windows">Windows and Git</a>
            </li>
            <li><a href="/docs/v1/components/#hooks">Cordova Hooks</a>
            </li>
          </ul>
          <ul class="nav left-menu">
            <li class="menu-title">
              <a href="/docs/v1/getting-help/">Getting Help</a>
            </li>
          </ul>

          <ul class="nav left-menu">
            <li class="menu-title">
              <a href="/docs/v1/concepts/">Ionic Concepts</a>
            </li>
          </ul>

        </div>

      </div>

      <div class="col-md-10 col-sm-9 main-content">

        {{ content }}
      </div>

    </div>

  </div>

  <div class="pre-footer">

    <div class="row ionic">

      <div class="col-sm-6 col-a">
        <h4>
            <a href="/docs/v1/guide/">Read the Guide <span class="icon ion-arrow-right-c"></span></a>
          </h4>
        <p>
          A walk through of getting Ionic installed, creating a new project, building the UI, adding logic, testing, deploying on the device, and publishing to various app stores.
        </p>
      </div>

      <div class="col-sm-6 col-b">
        <h4>
            <a href="http://forum.ionicframework.com/">Community Forum <span class="icon ion-arrow-right-c"></span></a>
          </h4>
        <p>
          Discuss and share ideas, hacks, and quesitons with others building with Ionic on the official Ionic Forum. Stop by and say Hello!
        </p>
      </div>

    </div>

  </div>

  {% include footer.html %} {% include base_scripts.html %}

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
  <script src="/js/css-docs-angular.js"></script>

</body>

</html>
