.transparent .cta {
  margin-top: -77px;
  padding-top: 77px;
}

.cta {
  color: white;
  background: $blue;

  &.gradient {
    background: linear-gradient(45deg, rgba(52,126,255,1) 0%,
                                       rgba(41,144,255,1) 50%,
                                       rgba(34,133,255,1) 50%,
                                       rgba(30,161,255,1) 100%);
  }

  .center {
    text-align: center;
  }

  hgroup {
    padding-top: 33px;
    padding-bottom: 94px;

    h1 {
      font-size: 28px;
      margin-bottom: 26px;
      letter-spacing: -.03em;
    }

    h4 {
      font-size: 20px;
      color: rgba(255, 255, 255, .8);
      letter-spacing: -.03em;
    }
  }

  .alert {
    color: #ffeed6;
    font-size: 14px;
    border-radius: 0;
    margin-bottom: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    &::before {
      position: relative;
      font-size: 20px;
      line-height: 14px;
      left: 0;
      top: 2px;
      margin-right: 5px;
      content: "\f17e";
    }

    a {
      color: #ffffff;

      &:hover {
        text-decoration: none;
        color: rgba(white, .8);
      }
    }
  }
}
