@media (max-width: $screen-xs-max) {
  .hide-xs {
    display: none;
  }
  .show-sm,
  .show-md,
  .show-lg {
    display: none;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .hide-sm {
    display: none;
  }
  .show-xs,
  .show-md,
  .show-lg {
    display: none;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .hide-md {
    display: none;
  }
  .show-xs,
  .show-sm,
  .show-lg {
    display: none;
  }
}

@media (min-width: $screen-lg-min ) {
  .hide-lg {
    display: none;
  }
  .show-xs,
  .show-sm,
  .show-md {
    display: none;
  }
}
