<select name="version"
        id="version-toggle"
        onchange="window.location.href=this.options[this.selectedIndex].value">

  <option
   value="/docs/nightly/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
    {% if page.version == "nightly"%}selected{% endif %}>
    nightly 
  </option>

  <option
   value="/docs/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
    {% if page.version == "3.9.2"%}selected{% endif %}>
    3.9.2 (latest)
  </option>

  <option
   value="/docs/3.8.0/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
    {% if page.version == "3.8.0"%}selected{% endif %}>
    3.8.0 
  </option>

  <option
   value="/docs/3.7.1/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
    {% if page.version == "3.7.1"%}selected{% endif %}>
    3.7.1 
  </option>

  <option
   value="/docs/3.7.0/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
    {% if page.version == "3.7.0"%}selected{% endif %}>
    3.7.0 
  </option>

  <option
   value="/docs/3.6.1/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
    {% if page.version == "3.6.1"%}selected{% endif %}>
    3.6.1 
  </option>

  <option
   value="/docs/3.6.0/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
    {% if page.version == "3.6.0"%}selected{% endif %}>
    3.6.0 
  </option>

  <option
   value="/docs/3.5.3/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
    {% if page.version == "3.5.3"%}selected{% endif %}>
    3.5.3 
  </option>

  <option
   value="/docs/3.5.0/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
    {% if page.version == "3.5.0"%}selected{% endif %}>
    3.5.0 
  </option>

  <option
   value="/docs/3.4.2/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
    {% if page.version == "3.4.2"%}selected{% endif %}>
    3.4.2 
  </option>

  <option
   value="/docs/3.4.0/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
    {% if page.version == "3.4.0"%}selected{% endif %}>
    3.4.0 
  </option>

  <option
   value="/docs/3.3.0/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
    {% if page.version == "3.3.0"%}selected{% endif %}>
    3.3.0 
  </option>

  <option
   value="/docs/3.2.0/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
    {% if page.version == "3.2.0"%}selected{% endif %}>
    3.2.0 
  </option>

  <option
   value="/docs/3.1.1/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
    {% if page.version == "3.1.1"%}selected{% endif %}>
    3.1.1 
  </option>

  <option
   value="/docs/3.1.0/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
    {% if page.version == "3.1.0"%}selected{% endif %}>
    3.1.0 
  </option>

  <option
   value="/docs/3.0.1/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
    {% if page.version == "3.0.1"%}selected{% endif %}>
    3.0.1 
  </option>

  <option
   value="/docs/3.0.0/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
    {% if page.version == "3.0.0"%}selected{% endif %}>
    3.0.0 
  </option>

  <option
   value="/docs/2.3.0/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
    {% if page.version == "2.3.0"%}selected{% endif %}>
    2.3.0 
  </option>

  <option
   value="/docs/2.2.0/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
    {% if page.version == "2.2.0"%}selected{% endif %}>
    2.2.0 
  </option>

  <option
   value="/docs/2.1.0/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
    {% if page.version == "2.1.0"%}selected{% endif %}>
    2.1.0 
  </option>

  <option
   value="/docs/2.0.1/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
    {% if page.version == "2.0.1"%}selected{% endif %}>
    2.0.1 
  </option>

  <option
   value="/docs/2.0.0/{% if page.path != ''%}{{page.path}}{% else %}api/{% endif %}"
    {% if page.version == "2.0.0"%}selected{% endif %}>
    2.0.0 
  </option>

</select>
