
<li class="capitalize {% if page.id == 'actionsheetcontroller' %}active{% endif %}">
  <a href="/docs/nightly/api/components/action-sheet/ActionSheetController/">ActionSheetController</a>
</li>
<li class="capitalize {% if page.id == 'alertcontroller' %}active{% endif %}">
  <a href="/docs/nightly/api/components/alert/AlertController/">AlertController</a>
</li>
<li class="capitalize {% if page.id == 'app' %}active{% endif %}">
  <a href="/docs/nightly/api/components/app/App/">App</a>
</li>
<li class="capitalize {% if page.id == 'avatar' %}active{% endif %}">
  <a href="/docs/nightly/api/components/avatar/Avatar/">Avatar</a>
</li>
<li class="capitalize {% if page.id == 'badge' %}active{% endif %}">
  <a href="/docs/nightly/api/components/badge/Badge/">Badge</a>
</li>
<li class="capitalize {% if page.id == 'button' %}active{% endif %}">
  <a href="/docs/nightly/api/components/button/Button/">Button</a>
</li>
<li class="capitalize {% if page.id == 'checkbox' %}active{% endif %}">
  <a href="/docs/nightly/api/components/checkbox/Checkbox/">Checkbox</a>
</li>
<li class="capitalize {% if page.id == 'chip' %}active{% endif %}">
  <a href="/docs/nightly/api/components/chip/Chip/">Chip</a>
</li>
<li class="capitalize {% if page.id == 'col' %}active{% endif %}">
  <a href="/docs/nightly/api/components/grid/Col/">Col</a>
</li>
<li class="capitalize {% if page.id == 'config' %}active{% endif %}">
  <a href="/docs/nightly/api/config/Config/">Config</a>
</li>
<li class="capitalize {% if page.id == 'content' %}active{% endif %}">
  <a href="/docs/nightly/api/components/content/Content/">Content</a>
</li>
<li class="capitalize {% if page.id == 'datetime' %}active{% endif %}">
  <a href="/docs/nightly/api/components/datetime/DateTime/">DateTime</a>
</li>
<li class="capitalize {% if page.id == 'events' %}active{% endif %}">
  <a href="/docs/nightly/api/util/Events/">Events</a>
</li>
<li class="capitalize {% if page.id == 'fabbutton' %}active{% endif %}">
  <a href="/docs/nightly/api/components/fab/FabButton/">FabButton</a>
</li>
<li class="capitalize {% if page.id == 'fabcontainer' %}active{% endif %}">
  <a href="/docs/nightly/api/components/fab/FabContainer/">FabContainer</a>
</li>
<li class="capitalize {% if page.id == 'fablist' %}active{% endif %}">
  <a href="/docs/nightly/api/components/fab/FabList/">FabList</a>
</li>
<li class="capitalize {% if page.id == 'footer' %}active{% endif %}">
  <a href="/docs/nightly/api/components/toolbar/Footer/">Footer</a>
</li>
<li class="capitalize {% if page.id == 'grid' %}active{% endif %}">
  <a href="/docs/nightly/api/components/grid/Grid/">Grid</a>
</li>
<li class="capitalize {% if page.id == 'haptic' %}active{% endif %}">
  <a href="/docs/nightly/api/tap-click/Haptic/">Haptic</a>
</li>
<li class="capitalize {% if page.id == 'header' %}active{% endif %}">
  <a href="/docs/nightly/api/components/toolbar/Header/">Header</a>
</li>
<li class="capitalize {% if page.id == 'hidewhen' %}active{% endif %}">
  <a href="/docs/nightly/api/components/show-hide-when/HideWhen/">HideWhen</a>
</li>
<li class="capitalize {% if page.id == 'icon' %}active{% endif %}">
  <a href="/docs/nightly/api/components/icon/Icon/">Icon</a>
</li>
<li class="capitalize {% if page.id == 'img' %}active{% endif %}">
  <a href="/docs/nightly/api/components/img/Img/">Img</a>
</li>
<li class="capitalize {% if page.id == 'infinitescroll' %}active{% endif %}">
  <a href="/docs/nightly/api/components/infinite-scroll/InfiniteScroll/">InfiniteScroll</a>
</li>
<li class="capitalize {% if page.id == 'input' %}active{% endif %}">
  <a href="/docs/nightly/api/components/input/Input/">Input</a>
</li>
<li class="capitalize {% if page.id == 'ionicerrorhandler' %}active{% endif %}">
  <a href="/docs/nightly/api/util/IonicErrorHandler/">IonicErrorHandler</a>
</li>
<li class="capitalize {% if page.id == 'ionicmodule' %}active{% endif %}">
  <a href="/docs/nightly/api/IonicModule/">IonicModule</a>
</li>
<li class="capitalize {% if page.id == 'ionicpage' %}active{% endif %}">
  <a href="/docs/nightly/api/navigation/IonicPage/">IonicPage</a>
</li>
<li class="capitalize {% if page.id == 'ionicpagemodule' %}active{% endif %}">
  <a href="/docs/nightly/api/IonicPageModule/">IonicPageModule</a>
</li>
<li class="capitalize {% if page.id == 'item' %}active{% endif %}">
  <a href="/docs/nightly/api/components/item/Item/">Item</a>
</li>
<li class="capitalize {% if page.id == 'itemoptions' %}active{% endif %}">
  <a href="/docs/nightly/api/components/item/ItemOptions/">ItemOptions</a>
</li>
<li class="capitalize {% if page.id == 'itemreorder' %}active{% endif %}">
  <a href="/docs/nightly/api/components/item/ItemReorder/">ItemReorder</a>
</li>
<li class="capitalize {% if page.id == 'itemsliding' %}active{% endif %}">
  <a href="/docs/nightly/api/components/item/ItemSliding/">ItemSliding</a>
</li>
<li class="capitalize {% if page.id == 'keyboard' %}active{% endif %}">
  <a href="/docs/nightly/api/platform/Keyboard/">Keyboard</a>
</li>
<li class="capitalize {% if page.id == 'label' %}active{% endif %}">
  <a href="/docs/nightly/api/components/label/Label/">Label</a>
</li>
<li class="capitalize {% if page.id == 'list' %}active{% endif %}">
  <a href="/docs/nightly/api/components/list/List/">List</a>
</li>
<li class="capitalize {% if page.id == 'loadingcontroller' %}active{% endif %}">
  <a href="/docs/nightly/api/components/loading/LoadingController/">LoadingController</a>
</li>
<li class="capitalize {% if page.id == 'menu' %}active{% endif %}">
  <a href="/docs/nightly/api/components/menu/Menu/">Menu</a>
</li>
<li class="capitalize {% if page.id == 'menuclose' %}active{% endif %}">
  <a href="/docs/nightly/api/components/menu/MenuClose/">MenuClose</a>
</li>
<li class="capitalize {% if page.id == 'menucontroller' %}active{% endif %}">
  <a href="/docs/nightly/api/components/app/MenuController/">MenuController</a>
</li>
<li class="capitalize {% if page.id == 'menutoggle' %}active{% endif %}">
  <a href="/docs/nightly/api/components/menu/MenuToggle/">MenuToggle</a>
</li>
<li class="capitalize {% if page.id == 'modalcontroller' %}active{% endif %}">
  <a href="/docs/nightly/api/components/modal/ModalController/">ModalController</a>
</li>
<li class="capitalize {% if page.id == 'nav' %}active{% endif %}">
  <a href="/docs/nightly/api/components/nav/Nav/">Nav</a>
</li>
<li class="capitalize {% if page.id == 'navbar' %}active{% endif %}">
  <a href="/docs/nightly/api/components/toolbar/Navbar/">Navbar</a>
</li>
<li class="capitalize {% if page.id == 'navcontroller' %}active{% endif %}">
  <a href="/docs/nightly/api/navigation/NavController/">NavController</a>
</li>
<li class="capitalize {% if page.id == 'navparams' %}active{% endif %}">
  <a href="/docs/nightly/api/navigation/NavParams/">NavParams</a>
</li>
<li class="capitalize {% if page.id == 'navpop' %}active{% endif %}">
  <a href="/docs/nightly/api/components/nav/NavPop/">NavPop</a>
</li>
<li class="capitalize {% if page.id == 'navpush' %}active{% endif %}">
  <a href="/docs/nightly/api/components/nav/NavPush/">NavPush</a>
</li>
<li class="capitalize {% if page.id == 'note' %}active{% endif %}">
  <a href="/docs/nightly/api/components/note/Note/">Note</a>
</li>
<li class="capitalize {% if page.id == 'option' %}active{% endif %}">
  <a href="/docs/nightly/api/components/option/Option/">Option</a>
</li>
<li class="capitalize {% if page.id == 'platform' %}active{% endif %}">
  <a href="/docs/nightly/api/platform/Platform/">Platform</a>
</li>
<li class="capitalize {% if page.id == 'platformconfigtoken' %}active{% endif %}">
  <a href="/docs/nightly/api/platform/PlatformConfigToken/">PlatformConfigToken</a>
</li>
<li class="capitalize {% if page.id == 'popovercontroller' %}active{% endif %}">
  <a href="/docs/nightly/api/components/popover/PopoverController/">PopoverController</a>
</li>
<li class="capitalize {% if page.id == 'radiobutton' %}active{% endif %}">
  <a href="/docs/nightly/api/components/radio/RadioButton/">RadioButton</a>
</li>
<li class="capitalize {% if page.id == 'radiogroup' %}active{% endif %}">
  <a href="/docs/nightly/api/components/radio/RadioGroup/">RadioGroup</a>
</li>
<li class="capitalize {% if page.id == 'range' %}active{% endif %}">
  <a href="/docs/nightly/api/components/range/Range/">Range</a>
</li>
<li class="capitalize {% if page.id == 'refresher' %}active{% endif %}">
  <a href="/docs/nightly/api/components/refresher/Refresher/">Refresher</a>
</li>
<li class="capitalize {% if page.id == 'registermodeconfigs' %}active{% endif %}">
  <a href="/docs/nightly/api/config/registerModeConfigs/">registerModeConfigs</a>
</li>
<li class="capitalize {% if page.id == 'row' %}active{% endif %}">
  <a href="/docs/nightly/api/components/grid/Row/">Row</a>
</li>
<li class="capitalize {% if page.id == 'scroll' %}active{% endif %}">
  <a href="/docs/nightly/api/components/scroll/Scroll/">Scroll</a>
</li>
<li class="capitalize {% if page.id == 'searchbar' %}active{% endif %}">
  <a href="/docs/nightly/api/components/searchbar/Searchbar/">Searchbar</a>
</li>
<li class="capitalize {% if page.id == 'segment' %}active{% endif %}">
  <a href="/docs/nightly/api/components/segment/Segment/">Segment</a>
</li>
<li class="capitalize {% if page.id == 'segmentbutton' %}active{% endif %}">
  <a href="/docs/nightly/api/components/segment/SegmentButton/">SegmentButton</a>
</li>
<li class="capitalize {% if page.id == 'select' %}active{% endif %}">
  <a href="/docs/nightly/api/components/select/Select/">Select</a>
</li>
<li class="capitalize {% if page.id == 'showwhen' %}active{% endif %}">
  <a href="/docs/nightly/api/components/show-hide-when/ShowWhen/">ShowWhen</a>
</li>
<li class="capitalize {% if page.id == 'slide' %}active{% endif %}">
  <a href="/docs/nightly/api/components/slides/Slide/">Slide</a>
</li>
<li class="capitalize {% if page.id == 'slides' %}active{% endif %}">
  <a href="/docs/nightly/api/components/slides/Slides/">Slides</a>
</li>
<li class="capitalize {% if page.id == 'spinner' %}active{% endif %}">
  <a href="/docs/nightly/api/components/spinner/Spinner/">Spinner</a>
</li>
<li class="capitalize {% if page.id == 'splitpane' %}active{% endif %}">
  <a href="/docs/nightly/api/components/split-pane/SplitPane/">SplitPane</a>
</li>
<li class="capitalize {% if page.id == 'tab' %}active{% endif %}">
  <a href="/docs/nightly/api/components/tabs/Tab/">Tab</a>
</li>
<li class="capitalize {% if page.id == 'tabs' %}active{% endif %}">
  <a href="/docs/nightly/api/components/tabs/Tabs/">Tabs</a>
</li>
<li class="capitalize {% if page.id == 'thumbnail' %}active{% endif %}">
  <a href="/docs/nightly/api/components/thumbnail/Thumbnail/">Thumbnail</a>
</li>
<li class="capitalize {% if page.id == 'title' %}active{% endif %}">
  <a href="/docs/nightly/api/components/toolbar/Title/">Title</a>
</li>
<li class="capitalize {% if page.id == 'toastcontroller' %}active{% endif %}">
  <a href="/docs/nightly/api/components/toast/ToastController/">ToastController</a>
</li>
<li class="capitalize {% if page.id == 'toggle' %}active{% endif %}">
  <a href="/docs/nightly/api/components/toggle/Toggle/">Toggle</a>
</li>
<li class="capitalize {% if page.id == 'toolbar' %}active{% endif %}">
  <a href="/docs/nightly/api/components/toolbar/Toolbar/">Toolbar</a>
</li>
<li class="capitalize {% if page.id == 'typography' %}active{% endif %}">
  <a href="/docs/nightly/api/components/typography/Typography/">Typography</a>
</li>
<li class="capitalize {% if page.id == 'viewcontroller' %}active{% endif %}">
  <a href="/docs/nightly/api/navigation/ViewController/">ViewController</a>
</li>
<li class="capitalize {% if page.id == 'virtualscroll' %}active{% endif %}">
  <a href="/docs/nightly/api/components/virtual-scroll/VirtualScroll/">VirtualScroll</a>
</li>
