<ul class="nested-menu">
  <li class="active">
    <ul>
      <li class="active">
        <ul>
          <li>
            <a href="/docs/v3/cli/" class="{% if page.id == 'cli-index' %}active{% endif %%}">Getting Started</a>
            <a href="/docs/v3/cli/projects.html" class="{% if page.id == 'cli-projects' %}active{% endif %%}">Project Types</a>
            <a href="/docs/v3/cli/starters.html" class="{% if page.id == 'cli-starter-list' %}active{% endif %%}">Starter Templates</a>
            <a href="/docs/v3/cli/commands.html" class="{% if page.id == 'cli-command-list' or page.command_name %}active{% endif %%}">Command List</a>
            <a href="/docs/v3/cli/configuring.html" class="{% if page.id == 'cli-configuration' %}active{% endif %%}">Configuring</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
