<nav class="navbar navbar-default{% if page.dark_header %} navbar-dark{% endif %}" id="{{layout.navbar_id}}">
  <div class="{% if layout.is_responsive %}container{% else %}container-fluid{% endif %}">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              id="collapse-toggle"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <i class="ion-md-more"></i>
      </button>
      <button type="button"
              class="sidebar-toggle collapsed"
              id="sidebar-toggle">
        <span class="sr-only">Toggle sidebar</span>
        <i class="ion-md-menu"></i>
        <i class="ion-md-close"></i>
      </button>
      <a class="navbar-brand logo" href="/">
        <img src="/img/docs/ionic-docs-icon.png" id="ionic-docs-logo" />
        <img src="/img/docs/ionic-docs-icon-back.png" id="ionic-docs-back" />
      </a>
      <a class="navbar-brand" href="/docs/v2">
        {% if layout.back_button_text_image %}
        <img src="{{layout.back_button_text_image}}" id="ionic-pro-docs-text" />
        {% else %}
        <img src="/img/docs/ionic-docs-type.png" id="ionic-docs-text" />
        {% endif %}
      </a>
      {% if layout.hide_version_dropdown %}
      {% else %}
      <ul class="version">
        <li class="dropdown">
          <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown"
             role="button"
             aria-haspopup="true"
             aria-expanded="false"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" class="active">
                Current Framework Docs <i class="ion-ios-checkmark"></i>
              </a>
            </li>
            <li><a href="/docs/v1">v1 Framework Docs</a></li>
          </ul>
        </li>
      </ul>
      {% endif %}

      {% if page.hide_header_search != true %}
      <form class="header-form navbar-left"
            id="header-search"
            role="search"
            data-searchpos="header">
        <div class="form-group">
          <input type="text"
                 class="form-control search-input"
                 placeholder="Search"
                 data-searchpos="header"
                 ng-model="searchTerm">
        </div>
      </form>
      {% endif %}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">

      <ul class="nav navbar-nav navbar-center">
        {% include fluid/header_nav.html isDocs='true' %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="sm-hide">
          <a href="https://apps.ionic.io/login" class="header-btn">Log in</a>
        </li>
        <li class="header-btn-white">
          <a href="https://apps.ionic.io/signup">Sign up</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
