<ul ng-controller="DocsNavCtrl">
  <li class="v4-beta">
    <a href="https://beta.ionicframework.com">
      <strong>Ionic 4 is coming</strong>
      <span>Preview the new beta docs</span>
      <i class="ion-ios-arrow-forward"></i>
    </a>
  </li>

  {% comment %} Getting Started {% endcomment %}
  <li class="{% if page.id == 'home' %}active top-level{% endif %}">
    <a href="/docs/">Home</a>
  </li>

  {% comment %} Getting Started {% endcomment %}
  <li class="{% if page.category == 'intro' %}active{% endif %}">
    <a ng-click="showIntro = !showIntro">Intro</a>
    <ul ng-show="showIntro"
        ng-cloak
        {% if page.category == 'intro' %}
          ng-init="showIntro = true"
        {% endif %}>
      <li class="{% if page.id == 'installation' %}active{% endif %}">
        <a href="/docs/v3/intro/installation">Installation</a>
      </li>
      <li class="{% if page.id == 'tutorial' %}active{% endif %}">
        <a href="/docs/v3/intro/tutorial">Tutorial</a>
      </li>
      <li class="{% if page.id == 'deploying' %}active{% endif %}">
        <a href="/docs/v3/intro/deploying">Deploying</a>
      </li>
      <li class="{% if page.id == 'migration' %}active{% endif %}">
        <a href="/docs/v3/intro/migration">Migration</a>
      </li>
      <li class="{% if page.id == 'concepts' %}active{% endif %}">
        <a href="/docs/v3/intro/concepts">Concepts</a>
      </li>
      <li class="{% if page.id == 'browser-support' %}active{% endif %}">
        <a href="/docs/v3/intro/browser-support">Browser Support</a>
      </li>
    </ul>
  </li>

  {% comment %} Components {% endcomment %}

 {% if page.category != 'components' %}
   {% assign components_link = '/docs/v3/components/' %}
 {% endif %}
  <li id="components-index"
      class="{% if page.category == 'components' %}active{% endif %}">
    <a ng-click="showComponents = !showComponents">Components</a>
    <ul class="nav"
        ng-cloak
        ng-show="showComponents"
       {% if page.category == 'components' %}
         ng-init="showComponents = true"
       {% endif %}>
      <li><a href="{{components_link}}#overview">Overview</a></li>
      <li><a href="{{components_link}}#action-sheets">Action Sheets</a></li>

      <li id="components-alerts"><a href="{{components_link}}#alert">Alerts</a></li>
        <ul class="nav">
          <li class="nav-item-hidden"><a href="{{components_link}}#alert-prompt">Prompt Alerts</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#alert-confirm">Confirmation Alerts</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#alert-radio">Radio</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#alert-checkbox">Checkbox</a></li>
        </ul>

      <li><a href="{{components_link}}#badges">Badges</a></li>

      <li id="components-buttons"><a href="{{components_link}}#buttons">Buttons</a></li>
        <ul class="nav">
          <li class="nav-item-hidden"><a href="{{components_link}}#outline-buttons">Outline Style</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#clear-buttons">Clear Style</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#round-buttons">Round Buttons</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#block-buttons">Block Buttons</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#full-buttons">Full Buttons</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#button-sizes">Button Sizes</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#icon-buttons">Icon Buttons</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#buttons-in-components">Buttons In Components</a></li>
        </ul>

      <li id="components-cards"><a href="{{components_link}}#cards">Cards</a></li>
        <ul class="nav">
          <li class="nav-item-hidden"><a href="{{components_link}}#card-header">Card Headers</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#card-list">List In Cards</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#card-image">Images In Cards</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#card-background">Background Images</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#advanced-cards">Advanced Cards</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#card-advanced-social">Social Cards</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#card-advanced-map">Map Cards</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#card-advanced-weather"></a></li>
        </ul>

      <li><a href="{{components_link}}#checkbox">Checkbox</a></li>

      <li><a href="{{components_link}}#datetime">DateTime</a></li>

      <li><a href="{{components_link}}#fabs">FABs</a></li>

      <li><a href="{{components_link}}#gestures">Gestures</a></li>

      <li><a href="{{components_link}}#grid">Grid</a></li>
      <li><a href="{{components_link}}#icons">Icons</a></li>

      <li id="components-forms"><a href="{{components_link}}#inputs">Inputs</a></li>
        <ul class="nav">
          <li class="nav-item-hidden"><a href="{{components_link}}#fixed-inline-labels">Fixed Inline Labels</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#floating-labels">Floating Labels</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#inline-labels">Inline Labels</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#inset-labels">Inset Labels</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#placeholder-labels">Placeholder Labels</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#stacked-labels">Stacked Labels</a></li>
        </ul>

      <li id="components-lists"><a href="{{components_link}}#lists">Lists</a></li>
        <ul class="nav">
          <li class="nav-item-hidden"><a href="{{components_link}}#list-lines">Basic Usage</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#list-no-lines">No Lines</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#inset-list">Inset List</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#list-dividers">List Dividers</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#list-headers">List Headers</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#icon-list">Icon List</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#avatar-list">Avatar List</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#multiline-list">Multi-line List</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#sliding-list">Sliding List</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#thumbnail-list">Thumbnail List</a></li>
        </ul>


      <li><a href="{{components_link}}#loading">Loading</a></li>
      <li><a href="{{components_link}}#menus">Menus</a></li>
      <li><a href="{{components_link}}#modals">Modals</a></li>
      <li><a href="{{components_link}}#navigation">Navigation</a></li>
      <li><a href="{{components_link}}#popovers">Popover</a></li>
      <li><a href="{{components_link}}#radio">Radio</a></li>
      <li><a href="{{components_link}}#range">Range</a></li>
      <li><a href="{{components_link}}#searchbar">Searchbar</a></li>
      <li><a href="{{components_link}}#segment">Segment</a></li>
      <li><a href="{{components_link}}#select">Select</a></li>
      <li><a href="{{components_link}}#slides">Slides</a></li>

      <li id="components-tabs"><a href="{{components_link}}#tabs">Tabs</a></li>
        <ul class="nav">
          <li class="nav-item-hidden"><a href="{{components_link}}#tabs-icon">Icon Tabs</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#tabs-icon-text">Icon and Text</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#tabs-badges">Badges</a></li>
        </ul>

      <li><a href="{{components_link}}#toast">Toast</a></li>
      <li><a href="{{components_link}}#toggle">Toggle</a></li>

      <li id="components-toolbar"><a href="{{components_link}}#toolbar">Toolbar</a></li>
        <ul class="nav">
          <li class="nav-item-hidden"><a href="{{components_link}}#toolbar-buttons">Buttons in Toolbars</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#toolbar-segment">Segment in Toolbars</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#toolbar-searchbar">Searchbar in Toolbars      s</a></li>
          <li class="nav-item-hidden"><a href="{{components_link}}#toolbar-colors">Changing the Color</a></li>
        </ul>

    </ul>
  </li>


    {% comment %} ### API ### {% endcomment %}
    <li>
      <a href="/docs/v3/api">API</a>
    </li>

  {% comment %} ### Native ### {% endcomment %}
   <li>
     <a href="/docs/v3/native/">Native</a>
   </li>

   {% comment %} ### Native ### {% endcomment %}
    <li class="{% if page.category == 'storage' %}top-level active{% endif %}">
      <a href="/docs/v3/storage/">Storage</a>
    </li>

  {% comment %} ### Theming ### {% endcomment %}
  <li class="{% if page.category == 'theming' %}active{% endif %}">
    <a ng-click="showTheming = !showTheming">Theming</a>
    <ul ng-show="showTheming"
        ng-cloak
        {% if page.category == 'theming' %}
          ng-init="showTheming = true"
        {% endif %}>
      <li class="{% if page.id == 'theming-intro' %}active{% endif %}">
        <a href="/docs/v3/theming/">Intro</a>
      </li>
      <li class="{% if page.id == 'responsive-utilities' %}active{% endif %}">
        <a href="/docs/v3/theming/css-utilities/">CSS Utilities</a>
      </li>
      <li class="{% if page.id == 'responsive-grid' %}active{% endif %}">
        <a href="/docs/v3/theming/responsive-grid/">Responsive Grid</a>
      </li>
      <li class="{% if page.id == 'theming-your-app' %}active{% endif %}">
        <a href="/docs/v3/theming/theming-your-app/">Theming your App</a>
      </li>
      <li class="{% if page.id == 'sass-variables' %}active{% endif %}">
        <a href="/docs/v3/theming/sass-variables/">Sass Variables</a>
      </li>
      <li class="{% if page.id == 'platform-specific-styles' %}active
                 {% endif %}">
        <a href="/docs/v3/theming/platform-specific-styles/">
          Platform Styles
        </a>
      </li>
      <li class="{% if page.id == 'overriding-ionic-variables' %}active
                {% endif %}">
        <a href="/docs/v3/theming/overriding-ionic-variables/">
          Overriding Ionic Variables
        </a>
      </li>
      <li class="{% if page.id == 'rtl-support' %}active
                {% endif %}">
        <a href="/docs/v3/theming/rtl-support/">
         RTL Support
        </a>
      </li>
    </ul>
  </li>

  {% comment %} ### Ionicons ### {% endcomment %}
  <li class="{% if page.category == 'ionicons' %}top-level active{% endif %}">
    <a href="/docs/v3/ionicons/">Ionicons</a>
  </li>

  {% comment %} ### CLI ### {% endcomment %}
  <li>
    <a href="/docs/v3/cli">CLI</a>
  </li>

  {% comment %} ### WkWebview ### {% endcomment %}
  <li class="{% if page.category == 'wkwebview' %}active{% endif %}">
    <a href="/docs/v3/wkwebview/">WKWebview</a>
  </li>

  {% comment %} ### Troubleshooting ### {% endcomment %}
  <li class="{% if page.category == 'troubleshooting' %}top-level active{% endif %}">
    <a href="/docs/v3/troubleshooting/">Troubleshooting</a>
  </li>

  {% comment %} ### Resources ### {% endcomment %}
  <li class="{% if page.category == 'resources' %}active{% endif %}">
    <a href="/docs/v3/developer-resources">Developer Resources</a>
    {% if page.id == 'resources-index' %}
      <ul>
        <li ng-class="{active:hash == 'guides'}">
          <a href="#guides">Guides</a></li>
        <li ng-class="{active:hash == 'videos'}">
          <a href="#videos">Videos</a></li>
        <li ng-class="{active:hash == 'books'}">
          <a href="#books">Books</a></li>
        <li ng-class="{active:hash == 'courses'}">
          <a href="#courses">Courses</a></li>
        <li ng-class="{active:hash == 'tools'}">
          <a href="#tools">Tools</a></li>
        <li ng-class="{active:hash == 'community'}">
          <a href="#community">Community Posts</a></li>
      </ul>
    {% endif %}
  </li>
</ul>
