<script src="/js/ionic-site.min.js?v=3fc9bf1ff60463e990bde7bfb65b71bf"></script>
<script type="text/javascript">
  (function(b,r,a,n,c,h,_,s,d,k){if(!b[n]||!b[n]._q){for(;s<_.length;)c(h,_[s++]);d=r.createElement(a);d.async=1;d.src="https://cdn.branch.io/branch-latest.min.js";k=r.getElementsByTagName(a)[0];k.parentNode.insertBefore(d,k);b[n]=h}})(window,document,"script","branch",function(b,r){b[r]=function(){b._q.push([r,arguments])}},{_q:[],_v:1},"addListener applyCode autoAppIndex banner closeBanner closeJourney creditHistory credits data deepview deepviewCta first getCode init link logout redeem referrals removeListener sendSMS setBranchViewData setIdentity track validateCode trackCommerceEvent".split(" "), 0);

  // For the DevApp
  branch.init('key_live_egwSa60sfZm1rIZp7QRMofjdFrjBL1M1', function(err, data) {
      // callback to handle err or data
  });
</script>

{% if page.footer_includes %}{{ page.footer_includes }}{% endif %}
