<footer>
  <nav class="container">
    <!--<a class="logo" href="/"></a>-->
    <ul>
      <li><strong>Company</strong></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/team">Team</a></li>
      <li><a href="/jobs">Jobs</a></li>
      <li><a href="/press">Press</a></li>
      <li><a href="/support">Support</a></li>
    </ul>
    <ul>
      <li><strong>Developers</strong></li>
      <li><a href="/getting-started/">Getting Started</a></li>
      <li><a href="/docs/">Documentation</a></li>
      <li><a href="/docs/components/">UI Components</a></li>
      <li><a href="/docs/api/">API Reference</a></li>
      <li><a href="/docs/native/">Ionic Native</a></li>
    </ul>
    <ul>
      <li><strong>Resources</strong></li>
      <li><a href="/trusted-partners">Consulting Partners</a></li>
      <li><a href="/docs/ionicons/">Ionicons</a></li>
      <li><a href="http://showcase.ionicframework.com/">Showcase</a></li>
      <!-- <li><a href="https://jobs.ionicframework.com">Job Board</a></li> -->
      <li><a href="https://market.ionicframework.com">Ionic Market</a></li>
    </ul>
    <ul>
      <li><strong>Contribute</strong></li>
      <li><a href="https://forum.ionicframework.com">Community Forum</a></li>
      <li><a href="http://ionicworldwide.herokuapp.com">Worldwide Slack</a></li>
      <li><a href="/contribute/">Contribute</a></li>
      <li><a href="https://shop.ionicframework.com">Ionic Shop</a></li>
    </ul>
    <ul>
      <li><strong>Connect</strong></li>
      <li><a href="https://twitter.com/IonicFramework">Twitter</a></li>
      <li><a href="https://github.com/ionic-team/ionic">GitHub</a></li>
      <li><a href="https://www.facebook.com/ionicframework">Facebook</a></li>
      <li><a href="https://plus.google.com/+Ionicframework">Google+</a></li>
      <li><a href="https://www.youtube.com/c/Ionicframework">YouTube</a></li>
    </ul>
    <ul>
      <li><strong>Products</strong></li>
      <li><a href="/framework">Ionic Framework</a></li>
      <li><a href="/appflow">Ionic Appflow</a></li>
      <li><a href="/pro/creator">Ionic Creator</a></li>
    </ul>
  </nav>
  <div class="signup container">
    <ionic-newsletter-signup></ionic-newsletter-signup>

    <hgroup>
      <h3>Stay in the loop!</h3>
      <p>
        Sign up to receive emails for the latest Framework updates, features,
        and news.
      </p>
    </hgroup>
  </div>
  <div class="copyright">
    <div class="container">
      <span class="left">&copy;2013 - {{ site.time | date: '%Y' }} Ionic</span>
      <span class="right">
        Ionic Framework is licensed under <a target="_blank"
        href="https://github.com/ionic-team/ionic/blob/master/LICENSE">MIT</a>.
        Docs under <a target="_blank"
        href="https://github.com/ionic-team/ionic-site/blob/master/LICENSE">Apache
        2</a>
      </span>
    </div>
  </div>
</footer>
