<nav class="navbar navbar-default transparent light{% if page.header_style %} {{ page.header_style }}{% endif %}">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              id="collapse-toggle"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <i class="ion-md-more"></i>
      </button>
      <a class="navbar-brand" href="/">
        <div id="ionic-io-logo"></div>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="sm-hide">
          <a href="https://dashboard.ionicframework.com/login" class="header-btn">Log in</a>
        </li>
        <li class="header-btn-white blue">
          <a href="https://dashboard.ionicframework.com/signup?source=framework-{{page.id}}">Sign up</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-center">
        {% include fluid/header_nav.html %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
