<!-- <li class="dropdown">
  <a href="#"
     class="dropdown-toggle"
     data-toggle="dropdown"
     role="button"
     aria-haspopup="true"
     aria-expanded="false">
    Open source
  </a>
  <ul class="dropdown-menu">
    <li>
      <a href="/framework" class="framework">
        <strong>Ionic Framework</strong>
        The popular open source SKD, built for developers.
      </a>
    </li>
    <li>
      <a href="https://ionicons.com/" class="ionicons">
        <strong>Ionicons</strong>
        Our 900+ open source system icon pack.
      </a>
    </li>
    <li>
      <a target="_blank" href="https://stenciljs.com" class="stencil">
        <strong>Stencil <span class="tag">New</span></strong>
        Resuable, web standards component generator.
      </a>
    </li>
  </ul>
</li> -->

<li{% if id == 'home' %} class="active"{% endif %}><a href="/framework">
  Framework</a></li>
<li{% if id.indexOf('products') == 0%} class="active"{% endif %}>
  <a href="/pro">Products</a></li>

<!-- <li class="dropdown products">
  <a href="/pro"
     class="dropdown-toggle"
     aria-haspopup="true"
     aria-expanded="false">
    Products
  </a>
  <ul class="dropdown-menu">
    <li>
      <a href="/pro" class="pro">
        <strong>Ionic Pro</strong>
        The premier product suite for serious app creators.
      </a>
    </li>
    <li>
      <a href="/pro/view" class="view">
        <strong>View App</strong>
        The live preview app for device testing &amp; sharing.
      </a>
    </li>
    <li>
      <a href="/pro/deploy" class="deploy">
        <strong>Deploy</strong>
        Push hot code updates live to production apps.
      </a>
    </li>
    <li>
      <a href="/pro/package" class="package">
        <strong>Package</strong>
        Compile and publish native binaries in the cloud.
      </a>
    </li>
    <li>
      <a href="/pro/monitor" class="monitor">
        <strong>Monitor</strong>
        Ionic app error monitoring and log tracking.
      </a>
    </li>
  </ul>
</li> -->

<li class="dropdown developers">
  <a href="#"
     class="dropdown-toggle"
     data-toggle="dropdown"
     role="button"
     aria-haspopup="true"
     aria-expanded="false">Developers</a>
  <ul class="dropdown-menu">
    <li class="split">
      <ul>
        <li class="title"><a href="/docs">
          <i class="ion-md-arrow-forward"></i>Framework Docs</a></li>
        <li><a href="/getting-started">Setup &amp; Installation</a></li>
        <li><a href="/docs/components/">UI Components</a></li>
        <li><a href="/docs/api/">API Reference</a></li>
        <li><a href="/docs/native/">Native Plugins</a></li>
        <li><a href="/docs/developer-resources/">Dev Resources</a></li>
      </ul>
      <ul>
        <li class="title"><a href="/docs/pro">
          <i class="ion-md-arrow-forward"></i>Pro Docs</a></li>
        <li><a href="/docs/pro/beta-testing.html">View app</a></li>
        <li><a href="/docs/pro/package/">Package</a></li>
        <li><a href="/docs/pro/deploy/">Live Deploy</a></li>
        <li><a href="/docs/pro/error-monitoring.html">Monitoring</a></li>
      </ul>
    </li>
    <li>
      <a href="/developers/" class="forward">
        <i class="ion-md-arrow-forward"></i>Developer Center
      </a>
    </li>
  </ul>
</li>

<li class="dropdown businesses">
  <a href="#"
     class="dropdown-toggle"
     data-toggle="dropdown"
     role="button"
     aria-haspopup="true"
     aria-expanded="false">Businesses</a>
  <ul class="dropdown-menu">
    <!-- <li><a href="/customers" class=""></a></li> -->
    <li><a href="/resources" class="resources">Resource Center</a></li>
    <li><a href="/enterprise" class="enterprise">Enterprise</a></li>
    <li><a href="/demo" class="demo">Request a demo</a></li>
    <li><a href="/sales" class="sales">Contact Sales</a></li>
    <li><a href="/about" class="about">About Ionic</a></li>
  </ul>
</li>

<li class="dropdown support">
  <a href="#"
     class="dropdown-toggle"
     data-toggle="dropdown"
     role="button"
     aria-haspopup="true"
     aria-expanded="false">Support</a>
  <ul class="dropdown-menu">
    <li><a href="https://forum.ionicframework.com" class="forum">Community Forum</a></li>
    <li><a href="/support" class="support">Technical Support</a></li>
    <li><a href="/trusted-partners" class="trusted-partners">Trusted Partners</a></li>
    <li><a href="/contact" class="contact">Contact Us</a></li>
  </ul>
</li>

<li class="dropdown ecosystem">
  <a href="#"
     class="dropdown-toggle"
     data-toggle="dropdown"
     role="button"
     aria-haspopup="true"
     aria-expanded="false">Ecosystem</a>
  <ul class="dropdown-menu">
    <li class="hide-gt-md"><a href="https://blog.ionicframework.com" class="blog">Ionic Blog</a></li>
    <!--<li><a href="" class="community">Community Hub</a></li> -->
    <li><a href="https://market.ionicframework.com" class="market">Ionic Market</a></li>
    <!-- <li><a href="https://jobs.ionicframework.com" class="jobs">Job Board</a></li> -->
    <li><a href="https://shop.ionicframework.com/" class="shop">Swag Shop</a></li>
    <li class="divider"></li>
    <li><a href="https://twitter.com/IonicFramework" class="twitter">Twitter</a></li>
    <li><a href="http://ionicworldwide.herokuapp.com" class="slack">Slack</a></li>
    <li><a href="https://github.com/ionic-team/" class="github">GitHub</a></li>
  </ul>
</li>

<li class="hide-lt-lg"><a href="https://blog.ionicframework.com" class="blog">Blog</a></li>

<li class="sm-hide{% if id.indexOf('products') == 0%} active{% endif %}">
  <a href="/pro/pricing">Pricing</a></li>
