<li>
  <a href="/pro" id="btn-header-products">
    Products
  </a>
</li>

<li class="dropdown developers">
  <a href="#"
     class="dropdown-toggle"
     data-toggle="dropdown"
     role="button"
     aria-haspopup="true"
     aria-expanded="false">Developers</a>
  <ul class="dropdown-menu">
    <li><span>Documentation</span></li>
    <li class="split">
      <ul>
        <li><a href="/docs">Framework Docs</a></li>
        <li>
          <a class="sm" id="btn-header-developers-setup-installation" href="/getting-started">
            Installation
          </a>
        </li>
        <li>
          <a class="sm" id="btn-header-developers-ui-components" href="/docs/components/">
            UI Components
          </a>
        </li>
        <li>
          <a class="sm" id="btn-header-developers-api-reference" href="/docs/api/">
            API Reference
          </a>
        </li>
        <li>
          <a class="sm" id="btn-header-developers-native-plugins" href="/docs/native/">
            Native APIs
          </a>
        </li>
      </ul>
      <ul>
        <li><a href="/docs/pro">Pro Docs</a></li>
        <li>
          <a class="sm" id="btn-header-developers-pro-intro" href="/docs/pro/">
            Introduction
          </a>
        </li>
        <li>
          <a class="sm" id="btn-header-developers-pro-package" href="/docs/pro/package/">
            Native Package
          </a>
        </li>
        <li>
          <a class="sm" id="btn-header-developers-pro-deploy" href="/docs/pro/deploy/">
            Live Deploy
          </a>
        </li>
        <li>
          <a class="sm" id="btn-header-developers-pro-monitoring" href="/docs/pro/monitoring/">
            App Monitoring
          </a>
        </li>
      </ul>
    </li>
    <li class="divider"></li>
    <li><span>Open Source</span></li>
    <li>
      <a href="/framework">
        Ionic Framework
      </a>
    </li>
    <li>
      <a href="https://stenciljs.com/" target="_blank">
        Stencil <icon-external></icon-external>
      </a>
    </li>
    <li>
      <a href="https://capacitor.ionicframework.com/" target="_blank">
        Capacitor <icon-external></icon-external>
      </a>
    </li>
    <li>
      <a href="https://beta.ionicframework.com/docs/" id="v4">
        <i class="ion-md-ionic"></i>
        The new v4 beta docs are live
        <ion-icon name="arrow-forward"></ion-icon>
      </a>
    </li>
  </ul>
</li>

<li class="dropdown businesses">
  <a href="#"
     class="dropdown-toggle"
     data-toggle="dropdown"
     role="button"
     aria-haspopup="true"
     aria-expanded="false">Businesses</a>
  <ul class="dropdown-menu">
    <li><span>Ionic for</span></li>
    <li>
      <a id="btn-header-businesses-enterprise" href="/enterprise">
        Enterprise
      </a>
    </li>
    <li>
      <a id="btn-header-businesses-teams" href="/pro/teams">
        Teams
      </a>
    </li>
    <li>
      <a id="btn-header-businesses-startups" href="/startups">
        Startups
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <a id="btn-header-businesses-request-a-demo" href="/demo">
        Request a demo
      </a>
    </li>
    <li>
      <a id="btn-header-businesses-contact-sales" href="/sales">
        Contact sales
      </a>
    </li>
  </ul>
</li>

<li class="dropdown ecosystem">
  <a href="#"
     class="dropdown-toggle"
     data-toggle="dropdown"
     role="button"
     aria-haspopup="true"
     aria-expanded="false">Resources</a>
  <ul class="dropdown-menu">
    <li>
      <a id="btn-header-businesses-resource-center" href="/resources">
        Resource Center
      </a>
    </li>
    <li>
      <a id="btn-header-ecosystem-blog" href="https://blog.ionicframework.com">
        The Ionic Blog
      </a>
    </li>
    <li>
      <a href="https://forum.ionicframework.com">
        Ionic Forum
      </a>
    </li>
    <li>
      <a href="/resources/webinars">
        Webinars
      </a>
    </li>
    <li>
      <a id="btn-header-resources-pwas" href="/pwa">
        PWAs
      </a>
    </li>
  </ul>
</li>

<li class="dropdown support hide-sm">
  <a href="#"
     class="dropdown-toggle"
     data-toggle="dropdown"
     role="button"
     aria-haspopup="true"
     aria-expanded="false">Support</a>
  <ul class="dropdown-menu">
    <li>
      <a href="https://ionic.zendesk.com/">
        Help Center
      </a>
    </li>
    <li>
      <a href="/enterprise/support">
        Enterprise Support
      </a>
    </li>
    <li>
      <a href="/trusted-partners">
        Trusted Partners
      </a>
    </li>
    <li>
      <a href="/contact">
        Talk to us
      </a>
    </li>
  </ul>
</li>

<li>
  <a href="/pro/pricing" id="btn-header-pricing">
    Pricing
  </a>
</li>