<section id="pre-footer" class="continue">
  <ul class="container">
    {% if page.id == "home" %}
      <li class="getting-started">
        <a href="/getting-started">Getting started</a>
        <p>
          Learn more about how to install Ionic Framework. We'll cover the basics
          and get you started from the ground up.
        </p>
      </li>
    {% else %}
      <li class="forum">
        <a href="https://forum.ionicframework.com">Community Forum</a>
        <p>
          Stop by and say hello. The Forum is the best place to connect, ask a
          question, or help out other Ionic developers!
        </p>
      </li>
    {% endif %}
    {% if page.id == "docs-home" %}
      <li class="blog">
        <a href="https://blog.ionicframework.com">Check out our blog</a>
        <p>
          Stay up to date on what's new. We post regular updates on Ionic,
          tutorials, Creator, and our Cloud Services.
        </p>
      </li>
    {% else %}
      <li class="explor-docs">
        <a href="/docs/">Explore the docs</a>
        <p>
          Take a look and get coding! Our documentation covers all you need to
          know to get an app up and running in minutes.
        </p>
      </li>
    {% endif %}
  </ul>
</section>
