<ul class="nested-menu">
  <li class="{% if page.id == 'home' %}active top-level{% endif %}">
    <a href="/docs/pro/">Ionic Pro</a>
  </li>

  <li class="active">
    <ul>
      <li class="{% if page.id == 'pro-installation' %}active{% endif %}">
        <a href="/docs/pro/getting-started.html">Getting Started</a>
        <ul>
          <li>
            <a href="/docs/pro/getting-started.html#signing-up-for-pro">Signing up for Pro</a>
            <a href="/docs/pro/getting-started.html#starting-a-new-app">Starting a New App</a>
            <a href="/docs/pro/getting-started.html#linking-an-existing-app">Linking an Existing App</a>
          </li>
        </ul>
      </li>
      <!--
      <li class="{% if page.category == 'pro-concepts' %}active{% endif %}">
        <a href="/docs/pro/concepts.html">Concepts</a>
        <ul>
          <li>
            <a href="/docs/pro/concepts.html#builds">Builds</a>
          </li>
          <li>
            <a href="/docs/pro/concepts.html#channels">Channels</a>
          </li>
        </ul>
      </li>
    -->
      <li class="{% if page.id == 'pro-setup' %}active{% endif %}">
        <a href="/docs/pro/git.html">Git Workflow</a>
        <ul>
          <li>
            <a href="/docs/pro/git.html#installing-git">Installing Git</a>
          </li>
          <li>
            <a href="/docs/pro/git.html#adding-your-existing-repository">Adding your Existing Repository</a>
          </li>
          <li>
            <a href="/docs/pro/git.html#pushing-new-builds">Pushing New Builds</a>
          </li>
          <li>
            <a href="/docs/pro/git.html#working-with-branches">Working with Branches</a>
          </li>
          <li>
            <a href="/docs/pro/git.html#working-with-other-team-members">Working w/ other Team Members</a>
          </li>
          <li>
            <a href="/docs/pro/git.html#ssh-keys">Adding SSH Keys</a>
          </li>
        </ul>
      </li>
      <!--<li class="{% if page.id == 'pro-device-testing' %}active{% endif %}">
        <a href="/docs/pro/dev-app.html">Local Device Testing</a>
        <ul>
          <li>
            <a href="/docs/pro/dev-app.html#installation">Installing the DevApp</a>
          </li>
          <li>
            <a href="/docs/pro/dev-app.html#connecting">Connecting to Ionic App</a>
          </li>
        </ul>
      </li>-->
      <li class="{% if page.id == 'pro-beta-testing' %}active{% endif %}">
        <a href="/docs/pro/beta-testing.html">Ionic View Beta Testing</a>
        <ul>
          <li>
            <a href="/docs/pro/beta-testing.html#install">Install Ionic View</a>
          </li>
          <li>
            <a href="/docs/pro/beta-testing.html#channel">Setting up a channel</a>
          </li>
          <li>
            <a href="/docs/pro/beta-testing.html#sharing">Inviting Private Testers</a>
          </li>
          <li>
            <a href="/docs/pro/beta-testing.html#sharing">Sharing Publicly</a>
          </li>
        </ul>
      </li>
      <li class="{% if page.id == 'pro-live-deploy' %}active{% endif %}">
        <a href="/docs/pro/live-deploy.html">Live Deployments</a>
        <ul>
          <li>
            <a href="/docs/pro/live-deploy.html#install">Installation</a>
          </li>
          <li>
            <a href="/docs/pro/live-deploy.html#usage">Pushing Deploys</a>
          </li>
          <li>
            <a href="/docs/pro/live-deploy.html#api">Plugin API</a>
          </li>
        </ul>
      </li>
      <li class="{% if page.id == 'native-builds' %}active{% endif %}">
        <a href="/docs/pro/native-builds.html">Native Binary Builds</a>
        <ul>
          <li>
            <a href="/docs/pro/native-builds.html#certificates">Adding Certificates</a>
          </li>
          <li>
            <a href="/docs/pro/native-builds.html#auto">Auto building</a>
          </li>
          <li>
            <a href="/docs/pro/native-builds.html#auto">Manual building</a>
          </li>
        </ul>
      </li>
      <li class="{% if page.id == 'pro-error-monitoring' %}active{% endif %}">
        <a href="/docs/pro/error-monitoring.html">Error Monitoring</a>
        <ul>
          <li>
            <a href="/docs/pro/error-monitoring.html#install">Installation</a>
          </li>
          <li>
            <a href="/docs/pro/error-monitoring.html#source-maps">Adding SourceMaps</a>
          </li>
          <li>
            <a href="/docs/pro/error-monitoring.html#releases">Releases</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="">Additional CLI Commands</a>
      </li>
      <!--
      <li class="{% if page.id == 'pro-pwa' %}active{% endif %}">
        <a href="/docs/pro/pwa-hosting.html">Progressive Web App Hosting</a>
      </li>
    -->
    </ul>
  </li>
</ul>
