<ion-list class="list-md">
<ion-item class="item-block item item-md"><ion-icon item-start="" name="planet" role="img" class="icon-md ion-md-planet item-icon" aria-label="planet" ng-reflect-name="planet"></ion-icon><div class="item-inner"><div class="input-wrapper"><ion-label class="label-md">
Astronomy
</ion-label></div></div></ion-item>

<ion-item class="item-block item item-md"><ion-icon item-start="" name="body" role="img" class="icon-md ion-md-body item-icon" aria-label="body" ng-reflect-name="body"></ion-icon><div class="item-inner"><div class="input-wrapper"><ion-label class="label-md" id="lbl-1">
Muggle Studies
</ion-label></div></div></ion-item>

<ion-item class="item-block item item-md"><ion-icon item-start="" name="leaf" role="img" class="icon-md ion-md-leaf item-icon" aria-label="leaf" ng-reflect-name="leaf"></ion-icon><div class="item-inner"><div class="input-wrapper"><ion-label class="label-md">
Herbology
</ion-label></div></div></ion-item>

<ion-item class="item-block item item-md"><ion-icon item-start="" name="flask" role="img" class="icon-md ion-md-flask item-icon" aria-label="flask" ng-reflect-name="flask"></ion-icon><div class="item-inner"><div class="input-wrapper"><ion-label class="label-md">
Potions
</ion-label></div></div></ion-item>

<ion-item class="item-block item item-md"><ion-icon item-start="" name="color-wand" role="img" class="icon-md ion-md-color-wand item-icon" aria-label="color wand" ng-reflect-name="color-wand"></ion-icon><div class="item-inner"><div class="input-wrapper"><ion-label class="label-md">
Incantation
</ion-label></div></div></ion-item>

<ion-item class="item-block item item-md"><ion-icon item-start="" name="brush" role="img" class="icon-md ion-md-brush item-icon" aria-label="brush" ng-reflect-name="brush"></ion-icon><div class="item-inner"><div class="input-wrapper"><ion-label class="label-md" id="lbl-5">
Quidditch Practice
</ion-label></div></div></ion-item>

<ion-item class="item-block item item-md"><ion-icon item-start="" name="wine" role="img" class="icon-md ion-md-wine item-icon" aria-label="wine" ng-reflect-name="wine"></ion-icon><div class="item-inner"><div class="input-wrapper"><ion-label class="label-md">
Mead Drinking
</ion-label></div></div></ion-item>
</ion-list>
