#app-wizard {
  width: 400px;
  margin: 10px auto;

  button ion-icon {
    vertical-align: middle;
    margin-top: -1px
  }

  ion-segment {
    max-width: 284px;
    margin: auto;
  }

  hgroup {
    text-align: center;
    margin: 86px 0 56px 0;

    h2 {
      margin-top: 0;
      font-size: 32px;
      line-height: 22px;
      letter-spacing: -0.03em;
    }
  }

  label {
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    color: var(--c-carbon-100);
  }

  ui-floating-input {
    margin-bottom: 28px;
  }

  .switcher {
    display: flex;
    justify-content: center;
    user-select: none;

    .switcher-button {
      text-align: center;
      color: #020814;
      flex: 1;
      cursor: pointer;

      ion-icon {
        vertical-align: middle;
        margin-right: 7px;
        margin-bottom: 1px
      }

      &.switcher-button-completed {
        color: #3880FF;
        ion-icon {
          color: #3880FF;
          fill: #3880FF;
          stroke: #3880FF;
        }
      }
      &.switcher-button-inactive {
        color: #92A1B3;
        ion-icon {
          color: #92A1B3;
          fill: #92A1B3;
          stroke: #92A1B3;
        }
      }
    }
  }

  .color-picker {
    display: none;
  }

  .logged-in {
    p {
      margin: 50px 0;
    }
  }

  .finish {
    text-align: center;
    header {
      margin-bottom: 24px;
      font-size: 22px;
      .icon {
        font-size: 36px;
      }
    }

    pre {
      text-align: left;
      background: #0E151F;
      border-radius: 6px;
      padding: 14px 16px;
      color: white;
    }
  }

  .frameworks {
    .framework {
      text-align: center;
    }

    .framework-logo {
      background: url('/img/start/js-framework-sprite.png') no-repeat transparent;
      background-size: 56px;
      margin: 15px auto;
      width: 56px;
      height: 56px;
    }

    .framework-angular { background-position: 0 -56px; }
    .framework-react { background-position: 0 -168px; }
    .framework-vue { background-position: 0 -280px; }

    .selected {
      .framework-angular { background-position: 0 0; }
      .framework-react { background-position: 0 -112px; }
      .framework-vue { background-position: 0 -224px; }
    }
  }

  .themes, .frameworks {
    user-select: none;
    .selected {
      border: 2px solid #3880FF !important;

      h5 {
        color: #4D8DFF;
      }
    }
  }

  .themes {
    display: flex;
    column-gap: 5px;
    margin-bottom: 16px;
    .theme {
      width: 42px;
      height: 42px;
      padding: 2px;

      border-radius: 34px;

      user-select: none;
      border: 2px solid transparent;

      cursor: pointer;

      &.selected {
        border: 2px solid #3880FF;
      }

      .theme-color {
        width: 34px;
        height: 34px;
        border-radius: 34px;
      }

      &.pick-theme {
        width: 38px;
        height: 38px;
        margin-top: 2px;
        margin-left: 2px;
        border: 2px solid #E9EDF3;
        padding: 0;
        color: #5B708B;
        font-size: 20px;
        text-align: center;
        ion-icon {
          vertical-align: middle;
        }
      }
    }
  }

  .templates {
    display: flex;

    .template {
      flex: 1;
      margin: 10px;
      cursor: pointer;

      &.selected {
        .template-image {
          border: 2px solid #3880FF !important;
        }

        h5 {
          color: #4D8DFF;
        }
      }

      .template-image {
        background: url('/img/start/starter-template-sprite.png') no-repeat transparent;
        width: 120px;
        height: 140px;
        border-radius: 8px;
        border: 2px solid transparent;
        box-shadow: 0px 2px 4px rgba(0, 13, 36, 0.04), 0px 2px 8px rgba(0, 13, 36, 0.1);
      }

      .template-tabs { background-position: 0 0 }
      .template-sidemenu { background-position: 0 -140px }
      .template-list { background-position: 0 -280px }

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      h5 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 9px;
        line-height: 11px;
        text-align: center;
        letter-spacing: 0.1em;
      }
    }
  }

  .frameworks {
    display: flex;

    .framework {
      flex: 1;
      cursor: pointer;
      height: 120px;
      margin: 10px;
      border-radius: 8px;
      border: 2px solid transparent;
      box-shadow: 0px 2px 4px rgba(0, 13, 36, 0.04), 0px 2px 8px rgba(0, 13, 36, 0.1);
      font-size: 14px;

      h5 {
        font-size: 14px;
        font-weight: normal;
        letter-spacing: -0.01em;
      }

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}