$fontFamilyRoboto: 'Roboto Mono', Menlo, monospace;
$colorTextMain: #E9EDF3;
$colorButtonMain: linear-gradient(74.26deg, #4CC3FF 0%, #4172FF 100%);
#ionic-slider {
  background: #010610 url('/img/homepage/dots-lines.svg') no-repeat 50% 50%;
  background-size: cover;
}
#ionic-slider #slide-ioniconf {
  clear: both;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 79px;

  & > h1 { 
    margin-bottom: 24px;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -.04em;
    color: #fff;
  }

  & > p {
    margin-bottom: 48px;
    font-size: 23px;
    letter-spacing: -.04em;
    color: #DEE3EA;
    opacity: .9;
  }

  #landingTweet {
    display:inline-flex;
    align-items: center;
    border-radius: 100px;
    background: rgba(98, 178, 255, 0.2);
    padding: 12px 16px;
    margin-top: 32px;
    backdrop-filter: blur(16px);
  
    svg {
      margin-right: 8px;
    }
  
    p {
      font-size: 16px;
      color: #FBFBFD;
      opacity: .9;
      margin: 0;
      @media screen and (max-width: $screen-xs-max) {
        .tweet__extra {
          display: none;
        }
      }
    }

    a {
      color:white;
      position: relative;
      
      &:after {
        content: '';
        width: calc(100% - 1ch);
        height: 1px;
        left: 1ch;        
        top: 100%;
        position: absolute;
        background: rgba(255, 255, 255, 0);
        transition: all .15s ease-out;
      }

      &:hover, &:active, &:focus {
        text-decoration: none;

        &:after {
          background: rgba(255, 255, 255, 1);
          transition: all .15s ease-in;
        }
      }
    }
  }
  
  #landingStream {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    border: 2px solid rgba(255, 255, 255, 0.2);
  
    iframe {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
    }  
  }
}

.nav #btn-header-sign-up  {
  background: #202632;
  color: white;

  &:hover, &:focus {
    background: lighten(#202632, 5%);
  }
}