#slide-ionic-react {
  background: white;
  padding-top: 120px;

  hgroup {
    margin-bottom: 80px;
  }

  h4 {
    display: flex;
    align-items: center;

    &::before {
      background: url('/img/homepage/ico-ionic-react.png');
      background-size: 100%;
      content: '';
      display: inline-block;
      height: 48px;
      width: 45px;
      margin-right: 8px;
    }
  }

  h1 {
    font-size: 64px;
    max-width: 440px;
    line-height: 70px;
    letter-spacing: -.04em;
    color: #020814;
    font-weight: 600;
    margin-top: 32px;

    strong {
      color: #44B4FF;
      font-weight: 600;
      display: block;
    }
  }

  ul {
    padding: 0;
    margin-top: 24px;
    margin-bottom: 32px;
  }

  li {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -.02em;
    padding-left: 28px;
    color: rgba(#2f3a48, .9);
    list-style: none;
    margin-bottom: 12px;
    position: relative;

    &::before {
      color: #44B4FF;
      content: url('/img/homepage/checkmark.svg');
      display: inline-block;
      height: 14px;
      width: 11px;
      position: absolute;
      left: 0;
    }

    code {
      color: #020814;
      padding-right: 6px;
      padding-left: 6px;
    }
  }

  .btn {
    background: #44B4FF;
    border-radius: 10px;
  }

  .graphic {
    height: 560px;
    width: 480px;
    position: absolute;
    right: 16px;
    top: 160px;
    border-radius: 16px;
    box-shadow: 
      0px 20px 40px rgba(2, 8, 20, 0.1), 
      0px 0px 16px rgba(2, 8, 20, 0.08);

    &__container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      border-radius: 16px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
    }

    #ionic-react-app {
      width: 480px;
      height: 560px;
    }

    #ionic-react-code {
      top: -12px;
      left: -24px;
      width: 528px;
      height: 608px;
    }
  }

  @media (max-width: $screen-sm-max) {
    hgroup {
      margin-bottom: 620px;
    }

    .graphic {
      right: auto;
      top: auto;
      bottom: 174px;
      left: calc(50% - 240px);
    }
  }

  @media (max-width: $screen-xs-max) {
    overflow: hidden;
    padding-top: 120px;

    .graphic {
      bottom: 120px;
    }
  }
}






