#slide-ionic-react {
  clear: both;
  padding-block-start: 80px !important;
  padding-block-end: 140px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .activateOnScroll {
    display: inline-block;
  }

  .landing__content {
    flex: 1 1 50%;
    max-width: 480px;

    .darken {
      color: #001a3a;
      font-weight: 500;
    }

    .underline {
      display: inline-block;
      position: relative;

      &:after {
        content: "";
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -5px;
        position: absolute;
      }
    }

    @keyframes fadeDown {
      0% {
        z-index: -1;
        opacity: 0;
        transform: translateY(-15px);
      }
      33.3% {
        z-index: -1;
        opacity: 0;
        transform: translateY(-15px);
      }
      35% {
        z-index: 1;
        opacity: 1;
        transform: translateY(0px);
      }
      66.6% {
        z-index: 1;
        opacity: 1;
        transform: translateY(0px);
      }
      68.3% {
        z-index: -1;
        opacity: 0;
        transform: translateY(15px);
      }
      100% {
        z-index: -1;
        opacity: 0;
        transform: translateY(15px);
      }
    }

    .space {
      white-space: pre;
    }

    .words {
      position: relative;
      display: inline-block;
    }

    .angular,
    .react,
    .vue {
      left: 0;
      white-space: pre;
      position: absolute;

      animation: fadeDown 24s infinite;

      &::after {
        position: absolute;
        bottom: -2px;
      }
    }

    .react {
      color: #42ccff;
      animation-delay: -8s;
      position: relative;
      opacity: 1;

      // transition: opacity .2s, transform .2s;
      // transition-delay: 8s;

      &::after {
        background: rgba(89, 210, 255, 0.3);
      }
    }

    .angular {
      color: #ef4d4d;
      animation-delay: 8s;
      opacity: 0;

      &::after {
        background: rgba(239, 77, 77, 0.3);
      }
    }

    .vue {
      color: #42b983;
      opacity: 0;

      &::after {
        background: rgba(66, 185, 131, 0.3);
      }
    }

    a {
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }

    h1 {
      font-size: 64px;
      line-height: 100%;
      color: #020814;
      margin-block-end: 24px;

      & > span:nth-child(1) {
        transition-delay: 0.1s;
      }
      & > span:nth-child(2) {
        transition-delay: 0.2s;
      }
      & > span:nth-child(3) {
        transition-delay: 0.3s;
      }

      .rotate {
        display: inline-block;
        position: relative;
        height: 48px;
      }
    }

    p {
      transition-delay: 0.4s;
      letter-spacing: -0.02em;
      color: #445b78;
      font-size: 20px;
      line-height: 160%;
      margin-block-end: 40px;
    }

    .btn__group {
      display: flex;
      flex-wrap: wrap;
      transition-delay: 0.5s;
      margin-block-start: -16px;
      margin-inline-start: -16px;

      > * {
        margin-block-start: 16px;
        margin-inline-start: 16px;
      }

      a:first-of-type {
        letter-spacing: -0.02em;
        font-weight: 600;
        padding: 16px 20px;
        line-height: 112%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        box-shadow: none;

        color: #fff;
        background: #3880ff;
        border-radius: 100px;

        transition: background-color 0.2s ease-out;

        &:hover,
        &:focus {
          color: #fff;
          background: #5291ff;
        }
        &:active {
          background: #1f71ff;
        }
      }
      a:last-of-type {
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        display: flex;
        align-items: center;
        letter-spacing: -0.01em;

        transition: opacity 0.2s ease-out;

        &:hover,
        &:focus,
        &:active {
          color: #3880ff;
          opacity: 0.7;
        }
      }
    }

    & > a {
      display: inline-flex;
      align-items: center;
      transition-delay: 0.9s;

      ion-icon {
        margin-inline-start: 4px;
      }
    }

    ion-icon {
      display: inline-block;
      transition: 0.3s transform ease-out;
    }

    a:hover ion-icon {
      transform: translateX(3px);
    }
  }

  .landing__img {
    flex: 1 1 50%;
    max-width: 524px;
    min-height: 542px;
    position: relative;

    img {
      width: 100%;
      height: auto;
      left: 48px;
      position: absolute;
      opacity: 0;
      animation: homeHeroFadeIn 24s infinite;

      &.active {
        opacity: 1;
      }

      &.react {
        animation-delay: -8s;
      }

      &.angular {
        animation-delay: 8s;
      }
    }

    @keyframes homeHeroFadeIn {
      0% {
        z-index: -1;
        opacity: 0;
      }
      32.3% {
        z-index: -1;
        opacity: 0;
      }
      39% {
        z-index: 1;
        opacity: 1;
      }
      65.6% {
        z-index: 1;
        opacity: 1;
      }
      73% {
        z-index: 1;
        opacity: 0;
      }
      100% {
        z-index: -1;
        opacity: 0;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  #slide-ionic-react {
    justify-content: flex-start;
    .landing__img {
      display: none;
    }
  }
}

@media (max-width: 460px) {
  #slide-ionic-react .landing__content h1 .rotate {
    display: block;
  }
}
