#slide-ionic-react {
  padding-block-start: 100px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .landing__content {
    flex: 1 1 50%;
    max-width: 480px;

    .darken {
      color: #001A3A;
      font-weight: 500;
    }

    .underline {
      display:inline-block;
      position: relative;
      &:after {
        content: '';
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -3px;
        position: absolute;
      }
    }

    @keyframes slideInOut{
      0% {
        opacity:0;
        transform: translateY(-20px);
      }
      48% {
        opacity: 0;
        transform: translateY(-20px);
      }
      50% {
        opacity: 1;
        transform: translateY(0px);
      }
      98% {
        opacity: 1;
        transform: translateY(0px);
      }
      100% {
        opacity: 0;
        transform: translateY(20px);
      }
    }
    @keyframes slideOutIn{
      0% {
        opacity: 1;
        transform: translateY(0px);
      }
      48% {
        opacity: 1;
        transform: translateY(0px);
      }
      50% {
        opacity: 0;
        transform: translateY(20px);
      }
      98% {
        opacity: 0;
        transform: translateY(-20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0px);
      }
    }

    .react {
      color: #42CCFF;
      position: absolute;

      animation: slideOutIn 16s ease -4s;
      animation-iteration-count: infinite;

      &:after {
        background: rgba(89, 210, 255, .3);
      }
    }

    .angular {
      color: #EF4D4D;
      position: relative;
      opacity: 0;
      transform: translateY(-10px);

      animation: slideInOut 16s ease -4s;
      animation-iteration-count: infinite;

      &:after {
        background: rgba(239, 77, 77, .3);
      }
    }

    h1 {
      font-size: 64px;
      line-height: 100%;
      letter-spacing: -.04em;
      color: #020814;
      font-weight: bold;
      margin-block-end: 24px;
    }

    p {
      letter-spacing: -0.02em;
      color: #445B78;      
      font-size: 22px;
      line-height: 160%;
      margin-block-end: 32px;
    }

    .btn {
      text-transform: uppercase;
      letter-spacing: .1em;
      border-radius: 8px;
      font-weight: 700;
      padding: 16px 20px;
      margin-block-end: 20px;
      line-height: 100%;
      display:flex;
      align-items: center;
      font-size: 16px
    }

    .btn__group {
      display: flex;
      flex-wrap: wrap;
    }

    a {
      display: flex;
      align-items: center;

      ion-icon {
        margin-inline-start: 4px;
      }
    }
  }
  
  .landing__img {
    flex: 1 1 50%;
    max-width: 524px; 

    svg {
      width: 100%;
      height: auto;
    }
  }

  @media (max-width: $screen-sm-max) {
    hgroup {
      margin-bottom: 620px;
    }

    .graphic {
      right: auto;
      top: auto;
      bottom: 174px;
      left: calc(50% - 240px);
    }
  }

  @media (max-width: $screen-xs-max) {
    overflow: hidden;
    padding-top: 120px;

    .graphic {
      bottom: 120px;
    }
  }
}






