{% extends "_layouts/base.html" %}
{% set id = 'about' %}
{% set title = 'About Ionic Cross-Platform Mobile Development Technologies' %}
{% set meta_description = "Ionic is the easiest way for web developers to build, grow, and scale cross-platform mobile apps. From our popular open source Framework,our goal is to enable more people and organizations to create better apps, faster." %}
{% set cssPath = 'about' %}

{% block main %}
<div class="cta banner">
  <hgroup class="container">
    <h1>All about Ionic</h1>
    <p>
      Ionic is the easiest way for web developers to build, grow, and scale
      cross-platform mobile apps. From our popular open source Framework, to our
      cloud Platform, our goal is to enable more people and organizations to
      create better apps, faster.
    </p>
  </hgroup>
  <div class="bar tabbed" data-spy="affix" data-offset-top="375">
    <div class="container" id="discover-nav" offset="-400">
      <ul class="categories nav">
        <li><a class="about active" href="/about">About Us</a></li>
        <li><a class="values" href="/values">Values</a></li>
        <li><a class="our team" href="/team">Our Team</a></li>
        <li><a class="jobs" href="/jobs">Jobs</a></li>
        <li><a class="contact" href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
<section class="container about-us hero left">
  <div class="graphics active-on-load">
    <div class="period left">
      <h4>Company founded</h4>
      <p>
        Drifty Co. is founded by friends <strong>Ben Sperry</strong> and
        <strong>Max Lynch</strong>.
      </p>
    </div>
    <div class="period right">
      <h4>Codiqa released</h4>
      <p>A drag-and-drop mockup tool for creating jQuery Mobile apps.</p>
    </div>
    <div class="period left">
      <h4>Accepted to Techstars</h4>
      <p>Company is accepted into the Winter 13 Techstars Cloud class.</p>
    </div>
    <div class="period right">
      <h4>Ionic Framework released </h4>
      <p>
        Early preview is released to massive adoption and positive reception.
      </p>
    </div>
    <div class="period left">
      <h4>Ionic, the company</h4>
      <p>
        Drifty Co. identity takes backseat. Ionic becomes public facing brand.
      </p>
    </div>
    <div class="period right">
      <h4>Cloud announced</h4>
      <p>Cloud services are announced and early work on alpha begins.</p>
    </div>
    <div class="period left">
      <h4>Ionic raises $2.6M</h4>
      <p>Lightbank led, with Founder Collective and Arthur Ventures.</p>
    </div>
    <div class="period right">
      <h4>Ionic v2 announced</h4>
      <p>First peek at Ionic Framework v2 released at London Angular Connect.</p>
    </div>
  </div>
  <div class="content">
    <h3>About us</h3>
    <p class="lg strong">
      Ionic was founded in 2012, when using web technologies as a means to build
      native apps was still in its infancy. When we started, we just wanted to
      create a better way for web developers to use their existing skillsets to
      build apps for the app stores.
    </p>
    <p class="lg strong">
      Today, Ionic is the world's most popular cross-platform mobile development
      technology stack, powering fast growing startups to some of the biggest
      companies in the world.
    </p>
    <p class="lg light">
      Millions of developers from nearly every industry around the world have
      built millions of mobile apps with Ionic. Our platform allows developers
      to use web technologies to build and deliver high quality apps for mobile
      and desktop, with everything they need from front-end design to continuous
      delivery.
    </p>
    <p class="lg light">
      Ionic not only makes app development easier, faster, and more
      accessible&mdash;it makes it more fun. Mobile is all about finding new
      ways to  change the way humans interact with the world, and we couldn’t
      think of anything more fun than that.
    </p>
  </div>
</section>
<section class="our">
  <div class="container">
    <div class="mission col-sm-5 col-sm-offset-1">
      <h3>Our Mission</h3>
      <p>
        Ionic’s mission is to provide open source tools and services that
        empower people around the world to participate in the fast-growing
        mobile app economy. Read about <a href="/values">our values</a>.
      </p>
    </div>
    <div class="philosophy col-sm-5">
      <h3>Our Philosophy</h3>
      <p>
        We always bet on the web. It has served developers well for the last
        twenty years, and we think that makes it a pretty great bet for the next
        twenty. Get to know our <a href="/team">team</a>.
      </p>
    </div>
  </div>
</section>
<section class="our-neck">
  <div class="hero left container">
    <div class="content">
      <h3>Our neck of the woods</h3>
      <p class="lg">
        Ionic was proudly founded and headquartered in beautiful Madison,
        Wisconsin, USA. Located on an isthmus between two lakes, we love being
        able to walk or bike to our office, located in the heart of the downtown
        State Capital.
      </p>
      <p class="lg">
        Although many of us work (and play) in Madison, we also have satellite
        offices in Milwaukee and Boston and a large group of remote workers
        scattered around the United States and the Europe.
      </p>
    </div>
  </div>
</section>

<div class="hero dark text-center">
  <hgroup class="container">
    <h3>We’re building the future of mobile</h3>
    <p><a href="/team">Meet the team behind Ionic
      <span class="ion-ios-arrow-round-forward-outline"></span></a></p>
  </hgroup>
</div>
{% endblock %}
