{% extends '_layouts/base.html' %}
{% set id = 'community' %}
{% set title = "Community" %}
{% set header_style = 'transparent light' %}

{% block main %}
<div class="banner">
  <hgroup class="container">
    <h1>Join the global Ionic Community.</h1>
    <p>
      Join the Ionic Community to share ideas, ask questions and build new
      connections. Find or start a meetup, discover the latest resources from
      top community contributors, or simply connect with other Ionic Developers.
    </p>
    <ul class="links">
      <li>
        <a href="https://ionicworldwide.herokuapp.com/">
          Slack<ion-icon name="ios-arrow-forward"></ion-icon>
        </a>
      </li>
      <li>
        <a href="https://forum.ionicframework.com/">
          Forum<ion-icon name="ios-arrow-forward"></ion-icon>
        </a>
      </li>
      <li>
        <a href="//www.meetup.com/topics/ionic-framework/">
          Meetups<ion-icon name="ios-arrow-forward"></ion-icon>
        </a>
      </li>
      <li>
        <a href="/docs/developer-resources">
          Tutorials &amp; Videos<ion-icon name="ios-arrow-forward"></ion-icon>
        </a>
      </li>
    </ul>
  </hgroup>
  <ul class="container features">
    <li><strong>5 M +</strong><span>Apps created</span></li>
    <li><strong>30 K +</strong><span>SO Questions</span></li>
    <li><strong>100 +</strong><span>Meetups</span></li>
    <li><strong>5 M +</strong><span>Developers</span></li>
  </ul>
</div>
<main>
  <section class="meetups">
    <div class="container">
      <div class="split">
        <hgroup>
          <h2>Join or start an Ionic Meetup</h2>
          <p>
            Ionic meetups are all around the world. They’re a great way to meet
            other Ionic developers and share ideas. Find one near you, or start
            your own and we’ll send our starter kit and help you promote it.
          </p>
        </hgroup>
        <div class="btns">
          <a href="https://www.meetup.com/topics/ionic-framework/"
             class="btn sm">Find a meetup</a>
          <a href="" class="btn sm white">Start your own</a>
        </div>
      </div>
      <ul>
        <li><strong>Ionic Zürich</strong><span>Zürich, Switzerland</span></li>
        <li><strong>Ionic Berlin</strong><span>Berlin, Germany</span></li>
        <li><strong>Ionic Israel</strong><span>Tel Aviv-Yafo, Israel</span></li>
        <li><strong>Ionic UK</strong><span>London, UK</span></li>
        <li><strong>Ionic Rio</strong><span>Rio de Janeiro</span></li>
        <li><strong>Ionic Nederland</strong><span>Utrecht, Netherlands</span></li>
      </ul>
      <div class="image-wall">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
      </div>
    </div>
  </section>
  <section class="leaders">
    <hgroup>
      <h2>Ionic Community Leaders</h2>
      <p>
        Here are just a few of the awesome people who make the Ionic Community
        better through the expert content they create, and the knowledge they
        share.
      </p>
    </hgroup>
    <ul>
      <li>
        <img src="" alt="">
        <strong>Simon Grimm</strong>
        <p>
          Ionic expert, educator, consultant, speaker. Creator of <a
          href="https://ionicacademy.com/" target="_blank">Ionic Academy</a>.
        </p>
        <a href="https://twitter.com/schlimmson" class="twitter"></a>
      </li>
      <li>
        <img src="" alt="">
        <strong>Josh Morony</strong>
        <p>
          Author of Ionic Framework blogs  and tutorials. Creator of <a
          href="https://www.joshmorony.com/elite/" target="_blank">Elite
          Ionic</a>.
        </p>
        <a href="https://twitter.com/joshuamorony" class="twitter"></a>
      </li>
      <li>
        <img src="" alt="">
        <strong>Jorge Vergara</strong>
        <p>
          Full Stack Developer, JS/TS, Ionic Framework, Firebase, Angular.
        </p>
        <a href="https://twitter.com/javebratt" class="twitter"></a>
      </li>
      <li>
        <img src="" alt="">
        <strong>Veni Kunche</strong>
        <p>
          Curator of Code With Veni. Working on <a target="_blank"
          href="http://www.ionickits.com/" >Ionic Kits</a>.
        </p>
        <a href="https://twitter.com/venikunche" class="twitter"></a>
      </li>
      <li>
        <img src="" alt="">
        <strong>Ashteya Biharisingh</strong>
        <p>
          Writer on Ionic Framework and Angular. Creator of <a target="_blank"
          href="https://gonehybrid.com/">Gone Hybrid</a>.
        </p>
        <a href="https://twitter.com/ashteya" class="twitter"></a>
      </li>
      <li>
        <img src="" alt="">
        <strong>Paul Halliday</strong>
        <p>
          Author. Developer Advocate. Instructor at <a target="_blank"
          href="https://paulhalliday.io/">paulhalliday.io</a>.
        </p>
        <a href="https://twitter.com/paulhalliday_io" class="twitter"></a>
      </li>
      <li>
        <img src="" alt="">
        <strong></strong>
        <p>
          GDE, author, speaker, trainer for Ionic. Founder of <a target="_blank"
          href="http://www.haibrid.com/">Haibrid Co</a>.
        </p>
        <a href="https://twitter.com/saniyusuf" class="twitter"></a>
      </li>
      <li>
        <img src="" alt="">
        <strong>Leif Wells</strong>
        <p>
          Presenter, author, web &amp; mobile developer based in Atlanta.
        </p>
        <a href="https://twitter.com/leifwells" class="twitter"></a>
      </li>
      <li>
        <img src="" alt="">
        <strong>David Dal Busco</strong>
        <p>
          Ionic Developer. Organtizer of the <a target="_blank"
          href="https://www.meetup.com/Ionic-Zurich/" >Ionic Zürich Meetup</a>
        </p>
        <a href="https://twitter.com/daviddalbusco" class="twitter"></a>
      </li>
      <li>
        <img src="" alt="">
        <strong>Chris Griffith</strong>
        <p>
          Presenter and author of <a target="_blank"
          href="https://www.amazon.com/Mobile-Development-Ionic-Revised-Cross-Platform/dp/1491998121">
          Mobile App Development with Ionic</a>.
        </p>
        <a href="https://twitter.com/ChrisGriffith" class="twitter"></a>
      </li>
      <li>
        <img src="" alt="">
        <strong>Dayana Jabif</strong>
        <p>
          Full stack developer and JS lover. Running <a target="_blank"
          href="https://ionicthemes.com/">Ionic Themes</a>.
        </p>
        <a href="https://twitter.com/dayujabif" class="twitter"></a>
      </li>
      <li>
        <img src="" alt="">
        <strong>Aaron Saunders</strong>
        <p>
          Author, instructor, community builder, CEO of <a target="_blank"
          href="http://www.clearlyinnovative.com/">Clearly Innovative</a>.
        </p>
        <a href="https://twitter.com/aaronksaunders" class="twitter"></a>
      </li>
    </ul>
  </section>
  <section class="container join">
    <div class="split">
      <hgroup>
        <h2>Join the Ionic Community</h2>
        <p>
          Connect and engage with a world-wide community of Ionic developers,
          teachers, educators, and experts all around the world.
        </p>
      </hgroup>
      <aside>
        <h3>Get the Ionic Community Digest</h3>
        <ionic-newsletter-signup></ionic-newsletter-signup>
      </aside>
    </div>
    <ul>
      <li class="slack">
        <strong>World-wide Slack</strong>
        <span>Connect and chat with other Ionic devs</span>
      </li>
      <li class="forum">
        <strong>Ionic Forum</strong>
        <span>One of the best places to get help</span>
      </li>
      <li class="twitter">
        <strong>Twitter</strong>
        <span>The latest updates, news, and content</span>
      </li>
      <li class="github">
        <strong>GitHub</strong>
        <span>Official Ionic Framework GitHub repo’s</span>
      </li>
      <li class="so">
        <strong>Stack Overflow</strong>
        <span>Find answers to the hardest questions</span>
      </li>
      <li class="facebook">
        <strong>Facebook</strong>
        <span>Official Facebook page for Ionic news</span>
      </li>
      <li class="youtube">
        <strong>YouTube</strong>
        <span>The official Ionic YouTube channel</span>
      </li>
      <li class="blog">
        <strong>Ionic Blog</strong>
        <span>Official Blog for Ionic Framework news</span>
      </li>
      <li class="medium">
        <strong>Medium</strong>
        <span>Official Medium blog for Ionic posts</span>
      </li>
    </ul>
  </section>

  <section class="latest">
    <div class="container">
      <hgroup>
        <h2></h2>
        <p></p>
      </hgroup>
      <div class="tutorials">
        <h3>Tutorials</h3>
        <a href="" class="subscribe">Subscribe</a>
        <ul>
          <li>
            <a target="_blank"
               href="https://ionicthemes.com/tutorials/about/building-a-complete-mobile-app-with-ionic-3">
              <strong>
                Ionic Tutorial: Building a complete mobile app with Ionic 3
              </strong>
              <p>
                In this Ionic tutorial we will build an example...
              </p>
              <span>Dayana Jabif &nbsp; June 17, 2018</span>
            </a>
          </li>
          <li>
            <a target="_blank"
               href="https://devdactic.com/10-simple-ionic-hacks/">
              <strong>10 Simple Ionic Hacks</strong>
              <p>
                Even years after starting with Ionic we can learn something new
                that can safe us time or just...
              </p>
              <span>Simon Grimm &nbsp; June 26, 2018</span>
            </a>
          </li>
          <li>
            <a target="_blank"
               href="https://gonehybrid.com/how-to-build-an-ionic-app-with-a-graphcool-backend-part-1/">
              <strong>
                How To Build An Ionic App With A Graphcool Backend - Part 5
              </strong>
              <p>In the previous parts of this tutorial, we created...</p>
              <span>Ashteya Biharisingh &nbsp; February 20, 2018</span>
            </a>
          </li>
          <li>
            <a target="_blank"
               href="https://javebratt.com/ionic-firebase-tutorial-intro/">
              <strong>
                Building Your First Firebase Powered Ionic Framework App
              </strong>
              <p>A 7 post series that will teach you how to bui...</p>
              <span>Jorge Vergara &nbsp; July 2, 2018</span>
            </a>
          </li>
          <li>
            <a target="_blank"
               href="https://www.joshmorony.com/creating-a-custom-scroll-vanish-directive-with-ionic-web-components/">
              <strong>
                Creating a Custom Scroll Vanish Directive with Ionic Web
                Components
              </strong>
              <p>As I was scrolling through Twitter’s PWA...</p>
              <span>Josh Morony &nbsp; July 11, 2018</span>
            </a>
          </li>
          <li>
            <a target="_blank"
               href="https://ionicthemes.com/tutorials/about/ionic-wordpress-integration">
              <strong>
                Ionic and Wordpress Integration using Wordpress REST API
              </strong>
              <p>Let's build an Ionic app for your Wordpress site...</p>
              <span>Dayana Jabif &nbsp; December 31, 2017</span>
            </a>
          </li>
          <li>
            <a target="_blank"
               href="https://www.joshmorony.com/the-ionic-4-migration-survival-guide/">
              <strong>The Ionic 4 Migration Survival Guide</strong>
              <p>
                In the most recent Ionic Dev Newsletter, the Ionic team stated
                that they are fast...
              </p>
              <span>Josh Morony &nbsp; July 10, 2018</span>
            </a>
          </li>
          <li>
            <a target="_blank"
               href="https://devdactic.com/ionic-datatable-ngx-datatable/">
              <strong>Creating Ionic Datatable With ngx-datatable</strong>
              <p>
                If you are working with a lot of data you might have encountered
                the problem of presenting...
              </p>
              <span>Simon Grimm &nbsp; July 10, 2018</span>
            </a>
          </li>
          <li>
            <a target="_blank"
               href="https://leifwells.github.io/2017/09/05/testing-in-ionic-code-coverage/">
              <strong>Testing in Ionic: Code Coverage</strong>
              <p>
                Today, an update made to the ionic-unit-testing-example project
                that will be...
              </p>
              <span>Leif Wells &nbsp; September 5, 2017</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="videos">
        <h3>Videos</h3>
        <a href="" class="subscribe">Subscribe</a>
        <ul>
          <li>
            <a target="_blank"
               href="https://egghead.io/courses/style-and-theme-ionic-applications">
              <strong>Style and Theme Ionic Applications</strong>
              <p>
                Theming Ionic applications is a topic that is often left
                undiscussed. Ionic has a robust API...
              </p>
              <span>Chris Griffith &nbsp; Egghead.io</span>
            </a>
          </li>
          <li>
            <a target="_blank"
               href="https://www.youtube.com/watch?v=E0aTpYTFhDk">
              <strong>Saving Data in Ionic</strong>
              <p>
                In order to persist data throughout different sessions, there
                are multiple different methods...
              </p>
              <span>Josh Morony &nbsp; YouTube</span>
            </a>
          </li>
          <li>
            <a target="_blank"
               href="https://devdactic.com/ionic-image-gallery-zoom/">
              <strong>Building an Ionic Image Gallery</strong>
              <p>
                Easily integrate a Gallery preview of your Images within your
                Ionic app!
              </p>
              <span>Simon Grimm &nbsp; YouTube</span>
            </a>
          </li>
          <li>
            <a target="_blank"
               href="https://www.youtube.com/watch?v=YT47ZEIk1zc">
              <strong>Component and Template Interaction in Ionic</strong>
              <p>
                In this video tutorial, I introduce the concepts of Property
                Binding, Event Binding, Interpolation...
              </p>
              <span>Josh Morony &nbsp; YouTube</span>
            </a>
          </li>
          <li>
            <a target="_blank"
               href="https://www.youtube.com/watch?v=Ji52_xdxkDg">
              <strong>Creating Ionic Datatable With ngx-datatable</strong>
              <p>
                Video Courses, Project Templates, Community &amp; the Support
                you deserve to learn Ionic!
              </p>
              <span>Simon Grimm &nbsp; YouTube</span>
            </a>
          </li>
          <li>
            <a target="_blank"
               href="https://www.youtube.com/watch?v=a4o1534RhC8">
              <strong>
                Ionic 3 and AngularFire v5 - Creating a Project and Installing
                Dependencies
              </strong>
              <p>Welcome to the newly updated AngularFire...</p>
              <span></span>
            </a>
          </li>
          <li>
            <a target="_blank"
               href="https://www.youtube.com/watch?v=nQSpMO6N0tc">
              <strong>Ionic 4 and Capacitor</strong>
              <p>
                In this video we look at integrating Capacitor with our Ionic
                projects...
              </p>
              <span>Paul Halliday &nbsp; YouTube</span>
            </a>
          </li>
          <li>
            <a target="_blank"
               href="https://www.youtube.com/watch?v=YIw-bXm_70s">
              <strong>
                Setting up your dev environment to start building Ionic Apps
              </strong>
              <p>Learn how to set up your development...</p>
              <span>IonicThemes &nbsp; YouTube</span>
            </a>
          </li>
          <li>
            <a target="_blank"
               href="https://www.youtube.com/watch?v=6VA9Qsq8gfE">
              <strong>Ionic Form Handling &amp; Validation</strong>
              <p>
                You can find the step by step tutorial and download the code for
                free in...
              </p>
              <span>IonicThemes &nbsp; YouTube</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="education">
    <div class="container">
      <hgroup>
        <h2>Community Education</h2>
        <p>
          Extend your knowledge of Ionic from premium educational material made
          by community members.
        </p>
      </hgroup>
      <ul>
        <li class="">
          <a href="">
            <h4>Course</h4>
            <h3>Elite Ionic</h3>
            <p>
              A course for building complex, well tested, high performing,
              beautiful, and useable mobile applications.
            </p>
          </a>
        </li>
        <li class="">
          <a href="">
            <h4>Course</h4>
            <h3>Ionic Academy</h3>
            <p>
              Learn Ionic through step-by-step expert screencasts.  Build for
              the Web and Mobile with JS, HTML and CSS.
            </p>
          </a>
        </li>
        <li class="">
          <a href="">
            <h4>Book</h4>
            <h3>Ionic Cookbook</h3>
            <p>
              Recipes for creating cutting edge, real time hybrid mobile apps
              with Ionic.
            </p>
          </a>
        </li>
        <li class="">
          <a href="">
            <h4>Book</h4>
            <h3>Mobile App Development with Ionic</h3>
            <p>Cross-platform apps with Ionic, Angular, and Cordova.</p>
          </a>
        </li>
        <li class="">
          <a href="">
            <h4>Book</h4>
            <h3>Building Firebase Powered Ionic Apps</h3>
            <p>Everything you need to build Ionic apps using Firebase.</p>
          </a>
        </li>
        <li class="">
          <a href="">
            <h4>Course</h4>
            <h3>Ionic 3 for Mobile App Developers</h3>
            <p>
              Develop highly performant mobile apps targeting iOS, Android, and
              Windows with a single code base.
            </p>
          </a>
        </li>
        <li class="">
          <a href="">
            <h4>Course</h4>
            <h3>Build iOS &amp; Android Apps with Angular &amp; Ionic</h3>
            <p>
              Build Native iOS and Android Apps with Angular 2+, Cordova and the
              Ionic 3 Framework. Build 4 Complete Apps!
            </p>
          </a>
        </li>
        <li class="">
          <a href="">
            <h4>Tutorial</h4>
            <h3>Building a complete mobile app with Ionic</h3>
            <p>
              Build an example app with a Q&amp;A format similar to
              StackOverflow.
            </p>
          </a>
        </li>
      </ul>
    </div>
  </section>
</main>

{% include '_includes/promos/newsletter-signup.html' %}

{% endblock %}

{% block scripts %}

{% endblock %}
