{% extends '_layouts/base.html' %}
{% set id = 'community' %}
{% set pre_footer = false %}
{% set title = "Ionic Developer Community" %}
{% set meta_image = 'https://ionicframework.com/img/meta/community-og.png'%}
{% set meta_description = 'The Ionic community allows developers to share ideas, ask questions and build their network of Ionic developers. Become a part of the global Ionic Community today.' %}
{% set header_style = 'transparent light' %}
{% set stickyNav = true %}
{% set cssPath = 'community' %} 

{% block main %}
<div class="banner">
  <hgroup class="container">
    {{ PrismicDOM.RichText.asHtml(data.headline if data.headline else '') }}
    <ul class="links">
      {% for hero_link in data.hero_links %}
        <li>
          <a target="_blank" href="{{hero_link.link.url}}">
            {{hero_link.link_name}}<ion-icon name="ios-arrow-forward"></ion-icon>
          </a>
        </li>
      {% endfor %}
    </ul>
  </hgroup>
  <ul class="container features">
    {% for stat in data.stats %}
      <li><strong>{{stat.number}}</strong><span>{{stat.unit}}</span></li>
    {% endfor %}
  </ul>
</div>
<main>
  <section class="meetups">
    <div class="container">
      <div class="split">
        <hgroup>
          {{ PrismicDOM.RichText.asHtml(data.cta if data.cta else '') }}
        </hgroup>
        <div class="btns">
          <a href="{{data.cta_link_1.url}}"
             target="_blank"
             rel="noopener"
             class="btn sm">{{data.cta_link_1_text}}</a>
          <a href="{{data.cta_link_2.url}}" 
             rel="noopener" 
             class="btn sm white">{{data.cta_link_2_text}}</a>
        </div>
      </div>
      <ul id="countries">
        {% for meetup in data.meetups %}
          <li>
            <a target="_blank"
               rel="noopener"
               href="{{meetup.meetup_url}}">
              <img src="{{meetup.flag.url['2x']}}"
                   srcset="{{meetup.flag.url}} 1x, {{meetup.flag.url['2x'].url}} 2x"
                   alt="{{meetup.flag.alt}}"
                   height="48"
                   width="48"
                   loadgin="lazy">
              <strong>{{meetup.meetup_name}}</strong><span>{{meetup.meetup_location}}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
      <div class="image-wall">
        {% for i in range(1, 10) %}
          <img src="{{data['image_' + i].url['2x']}}"
               srcset="{{data['image_' + i].url}} 1x, {{data['image_' + i].url['2x'].url}} 2x"
               alt="{{data['image_' + i].alt}}"
               height="data['image_' + i].dimensions.height"
               width="data['image_' + i].dimensions.width"
               loadgin="lazy">
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="leaders">
    <hgroup class="container">
      {{ PrismicDOM.RichText.asHtml(data.community_leaders_headline if data.community_leaders_headline else '') }}
    </hgroup>
    <ul class="container">
      {% for leader in data.community_leaders %}
        <li>
          <img src="{{leader.leader_headshot.url['2x']}}"
                   srcset="{{leader.leader_headshot.url}} 1x, {{leader.leader_headshot.url['2x'].url}} 2x"
                   alt="{{leader.leader_headshot.alt}}"
                   height="80"
                   width="80"
                   loadgin="lazy">
          <strong>{{leader.leader_name}}</strong>
          {{ PrismicDOM.RichText.asHtml(leader.leader_bio if leader.leader_bio else '') }}
          <a href="https://twitter.com/{{ leader.schlimmson }}" class="twitter" target="_blank">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
  <section class="container join">
    <div class="split">
      <hgroup>
        {{ PrismicDOM.RichText.asHtml(data.newsletter_cta if data.newsletter_cta else '') }}
      </hgroup>
      <aside>
        <h3>Get the Ionic Community Digest</h3>
        <ionic-newsletter-signup arrow-mode="true" lg="true"></ionic-newsletter-signup>
      </aside>
    </div>
    <ul>
      {% for link in data.social_links %}
        <li>
          <a href="{{link.url}}" rel="noopener" target="_blank">
            <img src="{{link.logo.url['2x']}}"
                 srcset="{{link.logo.url}} 1x, {{link.logo.url['2x'].url}} 2x"
                 alt="{{link.logo.alt}}"
                 height="70"
                 width="70"
                 loadgin="lazy">
            <strong>{{link.network_name}}</strong>
            <span>{{link.description}}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>

  <section class="latest">
    <div class="container">
      <hgroup>
        {{ PrismicDOM.RichText.asHtml(data.latest_headline if data.latest_headline else '') }}
      </hgroup>
      <div class="tutorials">
        <h3>Tutorials</h3>
        {# <a href="" class="subscribe">
          <ion-icon name="logo-rss"></ion-icon> Subscribe
        </a> #}
        <ul>
          {% for tutorial in data.tutorials %}
            <li>
              <a target="_blank"
                 rel="noopener"
                 href="{{tutorial.link.url}}">
                <strong>{{tutorial.title}}</strong>
                <p>{{tutorial.description}}</p>
                <span>{{tutorial.author}} &nbsp; {{tutorial.publication_date}}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="videos">
        <h3>Videos</h3>
        {# <a href="" class="subscribe">
          <ion-icon name="logo-rss"></ion-icon> Subscribe
        </a> #}
        <ul>
          {% for video in data.videos %}
            <li>
              <a target="_blank"
                 rel="noopener"
                 href="{{video.link.url}}">
                <strong>{{video.title}}</strong>
                <p>{{video.description}}</p>
                <span>{{video.author}} &nbsp; {{tutorial.publication_host}}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
  <section class="education" id="section-education">
    <div class="container">
      <hgroup>
        {{ PrismicDOM.RichText.asHtml(data.education_headline if data.education_headline else '') }}
      </hgroup>
      <ul>
        {% for resource in data.educational_resources %}
          <li style="--card-bg-color: {{resource.background_color}}">
            <a target="_blank" rel="noopener" href="{{resource.link.url}}">
              <h4>{{resource.resource_type}}</h4>
              <h3>{{resource.title}}</h3>
              <p>{{resource.description}}</p>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</main>

{% include '_includes/promos/newsletter-signup.html' %}

{# <pre><code>{{ data | dump(2) }}</code></pre> #}
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/plugins/CSSPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/easing/EasePack.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenLite.min.js"></script>
<script>

// header parallax
window.parallax = {
  $banner: document.querySelector('.banner'),
  $bannerHeading: document.querySelector('.banner hgroup'),
  $bannerFeatures: document.querySelector('.banner .features'),
  lastScroll: 0,
  ticking: false,

  update: function() {
    this.$banner.style.transform =
      'matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,' + (this.lastScroll/5) + ',0,1)';
    this.$bannerHeading.style.transform =
      'matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,'+ (this.lastScroll/10)+',0,1)';
    this.$bannerFeatures.style.transform =
      'matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,'+ (this.lastScroll/20 * 1)+',0,1)';
    this.ticking = false;
  },

  // RAF Debounce
  onScroll: function() {
    this.lastScroll = window.scrollY;

    if (!this.ticking) {
      window.requestAnimationFrame(this.update.bind(this));
      ticking = true;
    }
  },

  init: function() {
    window.addEventListener('scroll', this.onScroll.bind(this));
  }
}

parallax.init();


// meetup carousel
window.carousel = {
  $countries: document.getElementById('countries'),
  totalWidth: 0,
  rightMargin: 80,
  speed: 150,

  init: function() {
    this.originalLength = this.$countries.children.length;

    for (var i = 0; i < this.originalLength; i++) {
      this.totalWidth +=
        this.$countries.children[i].offsetWidth + this.rightMargin;
      this.$countries.appendChild(this.$countries.children[i].cloneNode(true));
    }
    this.originalWidth = this.totalWidth;

    this.$countries.addEventListener('mouseover', this.pause.bind(this))
    this.$countries.addEventListener('mouseleave', this.resume.bind(this))

    this.scroll();
  },

  pause: function() {
    TweenLite.to(this.scrollRef, 1, {timeScale: 0.2});
  },

  resume: function() {
    TweenLite.to(this.scrollRef, 1, {timeScale: 1});
  },

  scroll: function() {
    this.scrollRef = TweenLite.to(this.$countries, this.speed, {
      x: this.originalWidth * -1,
      ease: Linear.easeNone,
      force3D: true,
      onCompleteScope: this,
      onComplete: function() {
        // jump back to starting position and restart the scroll in 1 frame
        TweenLite.to(this.$countries, 0, {
          x: 0,
          lazy:true,
          onCompleteScope: this,
          onComplete: function() {
            this.scroll();
          }
        })
      }
    })
  },
}

carousel.init();

</script>
{% endblock %}
