{% extends "_layouts/base.html" %} {% set id = 'contact' %} {% set title =
'Contact Ionic Sales, Help and Support, Press and Partnerships' %} {% set
meta_description = "Contact us to discuss your mobile development strategy, we
are here to help you with your cross platform and hybrid apps. The ionic mobile
development platform is here to solve your app development needs." %} {% set
cssPath = 'contact' %} {% block main %}
<div class="cta banner">
  <hgroup class="container">
    <h1>Get in touch</h1>
    <p>We’re all ears</p>
  </hgroup>
  <div class="bar tabbed" data-spy="affix" data-offset-top="375">
    <div class="container" id="discover-nav" offset="-400">
      <ul class="categories nav">
        <li><a class="about" href="https://ionic.io/about">About Us</a></li>
        <li><a class="values" href="/values">Values</a></li>
        <li><a class="our team" href="/team">Our Team</a></li>
        <li><a class="jobs" href="https://ionic.io/about/jobs">Jobs</a></li>
        <li><a class="active contact" href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>

<hgroup class="container hero text-center">
  <h3>Contact Ionic</h3>
  <p>Please choose a topic below related to your inquiry.</p>
</hgroup>

<div class="container topics">
  <a href="https://ionic.io/support" class="support">
    <h3>Help &amp; Support</h3>
    <div class="detail">
      <p>
        Technical support and help documentation on using the Ionic services and
        other projects we offer.
      </p>
    </div>
  </a>
  <a href="/sales" class="sales">
    <h3>Sales</h3>
    <div class="detail">
      <p>
        Contact sales about purchasing the Ionic for large businesses and
        enterprise companies.
      </p>
    </div>
  </a>
  <a href="/press" class="press">
    <h3>Press</h3>
    <div class="detail">
      <p>
        Get in touch with our marketing team and get information on our press
        and branding/logo guidelines.
      </p>
    </div>
  </a>
  <a href="mailto:devrel@ionic.io" class="partnerships">
    <h3>Partnerships</h3>
    <div class="detail">
      <p>
        Interested in partnering with us or joining forces somehow? Get in touch
        with our business development team.
      </p>
    </div>
  </a>
</div>
<div class="container other">
  <hgroup class="social">
    <h4>Get Social with us</h4>
    <p class="sm">
      <a
        class="twitter"
        href="https://twitter.com/ionicframework"
        target="_blank"
      >
        <i class="icon ion-logo-twitter"></i>
        Twitter
      </a>
      <a
        class="facebook"
        href="https://www.facebook.com/ionicframework"
        target="_blank"
      >
        <i class="icon ion-logo-facebook"></i>
        Facebook
      </a>
      <a
        class="github"
        href="https://github.com/ionic-team/ionic"
        target="_blank"
      >
        <i class="icon ion-logo-github"></i>
        GitHub
      </a>
    </p>
  </hgroup>
  <hgroup class="chat">
    <h4>Chat with Ionic devs</h4>
    <p class="sm">
      Our developers hang out on the community
      <a target="_blank" href="https://forum.ionicframework.com/">Forum</a>, IRC
      (<strong>#ionic</strong> on <strong>freenode</strong>) and the
      <a target="_blank" href="https://ionicworldwide.herokuapp.com/">
        Ionic Worldwide Slack
      </a>
      channel.
    </p>
  </hgroup>
</div>
{% endblock %}
