{% extends "_layouts/base.html" %}
{% set id = 'demo' %}
{% import "_includes/macros.html" as macros %}

{% block main %}
<div class="cta gradient" ng-init="period = 'monthly'">
  <hgroup class="container">
    <h1>Set up a demo</h1>
    <p>Connect with one of our app strategists and get a walkthrough of the Ionic Pro development platform.</p>
  </hgroup>
</div>

<main class="container">
  <div class="box">
    {{ macros.contactForm(
      "demo",
      "Tell us what you're looking for. Which features and functionality are most important to you?"
    )}}
  </div>
  <aside>
    <p>Powering apps at some of the world's smartest companies</p>
    <div>Logos</div>
  </aside>
</main>
{% endblock %}

{% block modals %}

{% endblock %}

{% block scripts %}
{% endblock %}
