{% extends "_layouts/base.html" %}
{% set id = 'developers' %}

{% block main %}

<div class="cta gradient">
  <hgroup class="container center">
    <h1>Developers</h1>
    <h4>Choose an Ionic product below to view its documentation</h4>
  </hgroup>
</div>

<section class="container primary">
  <div class="items">
    <a href="/docs/v2/" class="framework">
      <hgroup>
        <h2>Framework Docs</h2>
        <p>
          Browse Ionic Framework components, api, plugins, theming, and CLI 
          documentation and guides.
        </p>
      </hgroup>
    </a>
    <a href="https://docs.ionic.io/" class="platform">
      <hgroup>
        <h2>Ionic Services</h2>
        <p>
          Browse service configuration, user admin, and troubleshooting docs and 
          guides for Ionic Services.
        </p>
      </hgroup>
    </a>
  </div>
</section>

{% endblock %}
