{% extends "_layouts/base.html" %}
{% set id = 'developers' %}
{% set title = 'Devops: Ionic Framework Components and Ionic Pro Suite' %}
{% set meta_description = "Documentation for hybrid app development for cross platform deliverability while providing the native app experience. Our documentation helps you kick off your mobile development strategy." %}

{% block main %}

<div class="cta gradient">
  <hgroup class="container center">
    <h1>Documentation</h1>
    <h4>Choose an Ionic product below to view documentation and resources</h4>
  </hgroup>
</div>

<section class="container primary">
  <div class="items">
    <a href="/docs/v2/" class="framework">
      <hgroup>
        <h2>Ionic Framework</h2>
        <p>
          Browse Ionic Framework components, api, plugins, theming, and CLI
          documentation and guides.
        </p>
      </hgroup>
    </a>
    <a href="/docs/pro" class="platform">
      <hgroup>
        <h2>Ionic Pro</h2>
        <p>
          Get the most out of Ionic Pro, Ionic's suite of powerful app development
          features for professional developers.
        </p>
      </hgroup>
    </a>
  </div>

  <div style="text-align: center; margin: 20px">
    <i>Looking for Ionic Cloud (legacy) documentation? Visit <a href="https://docs.ionic.io/">docs.ionic.io</a>.</i>
  </div>
</section>

{% endblock %}

{% block scripts %}
<script>
  // enable sticky nav
  stickyNav.init();
</script>
{% endblock %}
