{% extends "_layouts/base.html" %}
{% set id = 'early-access' %}
{% set header_style = 'transparent light' %}

{% block main %}

<div class="banner" >
  <hgroup class="container">
    <h1>Ionic Early Access Program</h1>
    <p>
      Help us change the way native mobile development gets done.
    </p>
  </hgroup>
</div>

<main class="container">
  <p>
    Are you part of a team building native mobile apps that wishes they could ship faster? 
    Ionic is currently testing a new approach that brings the best aspects of web development 
    to your native mobile apps.
  </p>
  <p>
    Sign up for our limited early access program and one of our team members will be in touch 
    with you about taking native mobile app development to the next level.
  </p>
</main>

<aside class="container">
  <h3>Ready to get started? <i>Let's chat.</i></h3>
  <div class="card">
    <script 
      charset="utf-8" 
      type="text/javascript" 
      src="//js.hsforms.net/forms/v2.js"></script>
    <script>
      hbspt.forms.create({ 
        portalId: '3776657',
        formId: '05d9d0fa-4225-4a1e-82e6-b8847b2b9d44'
      });
    </script>
  </div>
</aside>

{% endblock %}

{% block scripts %}
<script>
   /* Replace 'APP_ID' with your app ID */
   window.intercomSettings = {
    app_id: 'm0la1vjm'
};
   /* Replace 'APP_ID' with your app ID */
   (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){
     ic('reattach_activator');ic('update',intercomSettings);}else{var
     d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args)
     {i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');
     s.type='text/javascript';s.async=true;
     s.src='https://widget.intercom.io/widget/APP_ID';
     var x=d.getElementsByTagName('script') [0];x.parentNode.insertBefore(s,x);
     }if(w.attachEvent){w.attachEvent('onload',l);}else{
       w.addEventListener('load',l,false);}}})()
</script>
<script type="text/javascript"
        id="hs-script-loader"
        async
        defer
        src="//js.hs-scripts.com/3776657.js"></script>
{% endblock %}
