{% extends '_layouts/base.html' %}
{% set title = "Getting Started with Ionic" %}
{% set id = "getting-started" %}

{% block main %}
<div class="cta gradient">
  <hgroup class="container center">
    <a class="crash-course" href="https://youtu.be/O2WiI9QrS5s" target="_blank">
      <img src="/img/getting-started/crash-course-thumbnail.png" />
    </a>
    <h1>Get started with Ionic</h1>
    <h4>
      Follow our Getting Started guides for building high-quality Ionic apps with the web tech you know and love.
    </h4>
  </hgroup>
  <div class="tabs">
    <ul class="container">
      <li>
        <a class="code"
           ng-click="active = 'code'"
           ng-class="{active: active == 'code'}">
          <h3>Code with the CLI</h3>
          <p>Use our CLI tool to build your apps.</p>
        </a>
      </li>
      <li>
        <a class="creator"
           ng-click="active = 'creator'"
           ng-class="{active: active == 'creator'}">
          <h3>Design with Ionic Creator</h3>
          <p>Build your apps visually, without code.</p>
        </a>
      </li>
    </ul>
  </div>
</div>

<main ng-init="active='code'">
  <section class="container code" ng-show="active == 'code'">
    <ul class="steps">
      <li>
        <h3>Install Ionic</h3>
        <div class="left">
          <figure class="highlight">
            <pre><code class="language-bash hljs"
                    data-lang="bash">npm install -g ionic</code></pre>
          </figure>
        </div>
        <div class="right">
          <p>
            First, install <a href="http://nodejs.org/">Node.js</a>. Then,
            install the latest Ionic command-line tools in your
            terminal. Follow the <a
            href="https://cordova.apache.org/docs/en/latest/guide/platforms/android">
            Android</a> and <a
            href="https://cordova.apache.org/docs/en/latest/guide/platforms/ios">
            iOS</a> platform guides to install required tools for development.
          </p>
          <div class="info-container">
            <a class="info" href="https://blog.ionicframework.com/new-to-the-command-line/">
              If you’re new to the command line, read our Terminal tutorial
              <i class="ion-ios-arrow-forward"></i>
            </a>
          </div>
        </div>
      </li>
      <li>
        <h3>Start an App</h3>
        <div class="left">
          <figure class="highlight">
            <pre><code class="language-bash hljs"
                    data-lang="bash">ionic start myApp tabs</code></pre>
          </figure>
        </div>
        <div class="right">
          <p>
            Create an Ionic App using one of our ready-made app templates, or a
            blank one to start fresh. Check out the <a target="_blank"
            href="https://market.ionicframework.com/starters/">Market</a> for more designs.
          </p>
          <p>For v1 projects, use the <code>--type ionic1</code> flag.</p>
        </div>
        <ul class="templates">
          <li class="blank">
            <code>$ ionic start myApp blank</code>
          </li>
          <li class="tabs">
            <code>$ ionic start  myApp tabs</code>
          </li>
          <li class="sidemenu">
            <code>$ ionic start myApp sidemenu</code>
          </li>
        </ul>
      </li>
      <li>
        <h3>Run your App</h3>
        <div class="clearfix">
          <div class="left">
            <figure class="highlight">
              <pre>
                <code class="language-bash hljs"
                      data-lang="bash">cd myApp
ionic serve</code>
              </pre>
            </figure>
          </div>
          <div class="right">
            <p>
              Much of your app can be built right in the browser with <code>
              ionic serve</code>. We recommend starting with this workflow.
            </p>
            <p>
              When you're ready to deploy your app to a real device, check out
              our <a href="/docs/intro/deploying"> Deploying guide</a>.
            </p>
          </div>
        </div>
      </li>
    </ul>
    <section id="dashboard-cta">
      <div class="help">
        <a href="/pro">Learn more</a> about Ionic Pro.
        <br>
        Your dashboard is always available at <a href="https://dashboard.ionicframework.com/">dashboard.ionicframework.com</a>
      </div>
    </section>
  </section>



  <!--
  <section class="view-cta" ng-show="active == 'code'">
    <div class="container">
      <div class="content">
        <h4>Live App Testing</h4>
        <h2>Test your apps, live on the device</h2>
        <p>
          The <a href="/pro/view" target="_blank">Ionic View app</a>
          makes it easy to preview, test, and share your apps directly on the
          device with co-workers, testers, and clients alike.
        </p>
        <div class="links">
          <a href="/pro/view/"
             class="btn white rounded sm"
             target="_blank">
            Learn more about View <i class="ion-ios-arrow-forward"></i>
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.ionic.viewapp"
             target="_blank"
             class="play-store"></a>
          <a href="https://itunes.apple.com/us/app/ionic-view/id849930087"
             target="_blank"
             class="app-store"></a>
        </div>
      </div>
    </div>
  </section>
  -->

  <section class="what-next" ng-show="active == 'code'">
    <hgroup class="container">
      <h2>That’s it. You’re done.</h2>
      <p>
        Head over to the <a href="/docs/">Docs</a> for more information, or
        explore some of the Ionic Framework’s other features below.
      </p>
    </hgroup>
    <div class="items container">
      <a class="native" href="/docs/native/">
        <h3>Ionic Native</h3>
        <p>
          A curated set of ES5/ES6/TypeScript wrappers for plugins to easily add
          any native functionality to your Ionic apps.
        </p>
      </a>
      <a class="components" href="/docs/components/">
        <h3>UI Components</h3>
        <p>
          Tabs, buttons, inputs, lists, cards, and more! A comprehensive library
          of mobile UI components, ready to go.
        </p>
      </a>
      <a class="theming" href="/docs/theming/">
        <h3>Theming</h3>
        <p>
          Learn how to easily customize and modify your app’s design to fit your
          brand across all mobile platform styles.
        </p>
      </a>
    </div>
    <div class="subscribe container">
      <h4>
        Get our newsletter with Ionic feature and security updates, along with
        tips and tutorials.
      </h4>
      <form action="http://codiqa.createsend.com/t/t/s/jytylh/" method="post">
        <input name="cm-jytylh-jytylh"
               type="text"
               class="form-control"
               placeholder="Email address">
        <button class="btn">
          <i class="ion-md-checkmark-circle-outline"></i> Subscribe
        </button>
      </form>
    </div>
  </section>

  <section class="creator container" ng-show="active == 'creator'" ng-cloak>
    <hgroup>
      <img src="/img/getting-started/creator-logo.png"
           alt="Creator"
           class="logo">
      <h2>Create your Ionic apps visually</h2>
      <p>
        A simple drag-&amp;-drop tool for going from idea to App Store, with
        just the drag of a mouse.
      </p>
      <a href="https://usecreator.com" class="btn">
        Start an app in Creator <i class="ion-md-arrow-forward"></i>
      </a>
    </hgroup>
    <img src="/img/getting-started/creator-devices.png"
         alt="Creator preview"
         class="xl">
  </section>
</main>

{% endblock %}

{% block scripts %}
<script>
  // enable sticky nav
  stickyNav.init();
</script>
{% endblock %}
