{% extends '_layouts/base.html' %}
{% set title = "Build Amazing Native Apps and Progressive Web Apps with Ionic Framework and Angular" %}
{% set id = "home" %}
{% set pre_footer = false %}

{% block main %}
<div class="banner">
  <div class="container">
    <hgroup>
      <h1>
        Build amazing apps in one codebase, for any platform, with the web.
      </h1>
      <p>
        From <a href="/framework">open source</a> to <a href="/products">pro
        services</a>, Ionic helps you build, deploy, test, and monitor apps
        easier than ever before.
      </p>
      <div class="btns">
        <a href="/getting-started" class="btn white">Start building apps</a>
        <a href="/products" class="btn navy">Explore Ionic Pro</a>
      </div>
    </hgroup>

    <div class="graphics">
      <div class="iphone">
        <div class="layer-1"></div>
        <div class="layer-2"></div>
      </div>
      <div class="android">
        <div class="layer-3"></div>
        <div class="layer-4"></div>
      </div>
    </div>
  </div>
</div>
<main class="container">
  <ul class="paths">
    <li class="framework">
      <h4>Ionic Framework</h4>
      <h2>Get up and running with the open source UI kit.</h2>
      <a href="/getting-started" class="btn white sm">Setup docs</a>
    </li>
    <li class="pro">
      <h4>Ionic Pro</h4>
      <h2>Boost your app workflow with powerful services.</h2>
      <a href="/products" class="btn white sm">Learn about Pro</a>
    </li>
    <li class="enterprise">
      <h4>Ionic Enterprise</h4>
      <h2>A better way to build secure apps, together.</h2>
      <a href="/enterprise" class="btn white sm">Try Ionic Enterprise</a>
    </li>
  </ul>

  <div class="company">
    <h2>
      <strong>You’re in good company.</strong> Ionic powers millions of apps at
      some of the smartest companies around the world.
    </h2>
    <div class="logos"></div>
  </div>

  <div class="newsletter">
    <hgroup>
      <h3>Start building better apps today.</h3>
      <p>
        Sign up for <a href="/products">Ionic Pro</a> to get an access to the full
        Ionic experience.
      </p>
    </hgroup>
    <form action="https://dashboard.ionicjs.com/signup" method="get">
      <input type="text" name="email" placeholder="Your email address">
      <ionic-button>Get started now</ionic-button>
    </form>
  </div>
</main>
{% endblock %}

{% block scripts %}

{% endblock %}
