{% extends '_layouts/blank.html' %}
{% set title = "Ionic - Login" %}
{% set id = "login" %}
{% set recaptcha = true %}
{% set meta_description = "Log in to Ionic." %}
{% set cssPath = 'auth' %}
{% set cssVersion = 2 %}
{% block main %}

<header>
  {% if query.source === 'appflow' %}
  <a class="header__logo header__logo--appflow" href="/">
    {% include '_includes/svg/appflow-logo-w-text.svg' %}
  </a>
  {% else %}
  <a class="header__logo" href="/">
    {% include '_includes/svg/ionic-black.svg' %}
  </a>
  {% endif %}
</header>
<main>
  <div class="container-fluid">
    <div class="auth-form-container">
      <div class="form-area">
        <hgroup>
          <h2>Log in to Ionic</h2>
        </hgroup>
        <ionic-login-form></ionic-login-form>
      </div>
    </div>
  </div>
</main>
{% endblock %} {% block scripts %} {# Promise, fetch, URLSearchParams polyfills
#}
<script
  src="https://cdn.jsdelivr.net/npm/promise-polyfill@8.1.3/dist/polyfill.min.js"
  integrity="sha384-Oa9qd3zGPgIOjIcotuclp6o+1G/FJtvOBKJRGkHSQt/nQWcZY/UwxnQYvVL5dfV5"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/whatwg-fetch@3.0.0/dist/fetch.umd.min.js"
  integrity="sha384-izk5QhlJG4UwhAQ3P3QgvguhYiTV1GRKBu41DyczWbFPX3hVK89Q+CLwVAzBBcy8"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/core-js-bundle@3.6.4/minified.js"
  integrity="sha384-0klsXCJV+cWaC+zXWBGWot1n1vMkFkbxy6BtBjwrn+fEoS5kflOTchfH9PUQPaN+"
  crossorigin="anonymous"
></script>
{% endblock %}
