{% extends "_layouts/base.html" %}
{% set id = 'press' %}
{% set title = 'Press Coverage for Ionic Conferences, News and Press Releases' %}
{% set cssPath = 'press/index' %}
{% set stickyNav = true %}

{% block main %}
<div class="cta banner">
  <hgroup class="container">
    <h1>Press &amp; Media</h1>
    <p>
      Ionic assets and press information. For media inquiries, contact
      <a href="mailto:press@ionic.io">press@ionic.io</a>
    </p>
  </hgroup>
</div>

<ul class="container cards">
  <li class="primary-logo">
    <h3>Primary Logo</h3>
    <p>Use this version against light backgrounds.</p>
    <a href="/files/primary_logo.zip"
       target="_blank"
       class="btn sm">Download</a>
  </li>
  <li class="light-logo">
    <h3>Light Logo</h3>
    <p>Use this version against dark backgrounds.</p>
    <a href="/files/light_logo.zip"
       target="_blank"
       class="btn sm">Download</a>
  </li>
  <li class="all">
    <h3>ALL Brand assets</h3>
    <p>All of Ionic’s brand assets, logos to colors.</p>
    <a href="http://ionicframework.com.s3.amazonaws.com/press-pack.zip"
       target="_blank"
       class="btn sm">Download</a>
  </li>
</ul>

<div class="container tabs">
  <div class="tab-menu">
    <ul class="nav nav-stacked">
    <li role="presentation"><h4>Media</h4></li>
      <li role="presentation" class="active"><a data-toggle="tab"
        href="#press">Press coverage</a></li>
      <li role="presentation"><a data-toggle="tab" href="#press-releases">Press
        releases</a></li>
      {# <li role="presentation"><a data-toggle="tab" href="#assets">Brand
        guidelines</a></li> #}
    </ul>
  </div>
  <main class="tab-content">
    <section role="tabpanel" class="tab-pane active" id="press">
      <ul>
        <li>
          <a href="https://www.forbes.com/sites/forbestechcouncil/2020/06/11/the-intersection-between-the-mobile-economy-and-the-pandemic-era/#50647a030716"
             target="_blank">
            <strong>Forbes</strong>
            <time>June 11 2020</time>
            <span>The Intersection Between The Mobile Economy And The Pandemic Era</span>
          </a>
        </li>
        <li>
          <a href="https://www.jsonline.com/story/money/business/2020/02/18/cross-platform-development-program-ionic-growing-madison/4786580002/"
             target="_blank">
            <strong>Milwaukee Journal Sentinel</strong>
            <time>Feb 18 2020</time>
            <span>This Madison company is behind thousands of the apps that you probably use</span>
          </a>
        </li>
        <li>
          <a href="https://hub.packtpub.com/ionic-framework-4-0-has-just-been-released-now-backed-by-web-components-not-angular/"
             target="_blank">
            <strong>Packt</strong>
            <time>Jan 23 2017</time>
            <span>Ionic Framework 4.0 has just been released, now backed by Web Components, not Angular</span>
          </a>
        </li>
        <li>
          <a href="https://www.infoq.com/news/2019/01/ionic-framework-4-release"
             target="_blank">
            <strong>Infoq</strong>
            <time>Jan 23 2017</time>
            <span>Latest Version of Ionic Provides Universal Design System for Enterprises</span>
          </a>
        </li>
        <li>
          <a href="http://searchsoftwarequality.techtarget.com/news/450431838/Ionic-Pro-embodies-mobile-app-dev-tools-DevOps-embrace"
             target="_blank">
            <strong>TechTarget</strong>
            <time>Dec 14 2017</time>
            <span>Ionic Pro embodies mobile app dev tools' DevOps embrace</span>
          </a>
        </li>
        <li>
          <a href="https://www.xconomy.com/wisconsin/2017/12/06/ionic-unveils-new-app-making-tools-continues-push-to-make-money/?single_page=true"
             target="_blank">
            <strong>Xconomy</strong>
            <time>Dec 6 2017</time>
            <span>Ionic Unveils New App-Making Tools for Enterprise Developers
              &amp; Teams</span>
          </a>
        </li>
        <li>
          <a href="https://news.wisc.edu/app-software-firm-with-uw-madison-roots-starts-selling-pro-version/"
             target="_blank">
            <strong>University of Wisconsin News</strong>
            <time>Dec 6 2017</time>
            <span>App software firm with UW-Madison roots starts selling "pro"
              version</span>
          </a>
        </li>
        <li>
          <a href="https://www.theregister.co.uk/2017/07/25/dev_app_survey/"
             target="_blank">
            <strong>The Register</strong>
            <time>July 25 2017</time>
            <span>Devs shun smartwatch work, gaze longingly at web-only apps
              again</span></a>
        </li>
        <li>
          <a href="http://devblog.blackberry.com/2015/07/top-javascript-frameworks-for-enterprise-mobility-part-13/"
             target="_blank">
            <strong>BlackBerry</strong>
            <time>Jul 23 2015</time>
            <span>Top JavaScript Frameworks for Enterprise Mobility</span>
          </a>
        </li>
        <li>
          <a href="http://www.programmableweb.com/news/appery.io-integrates-ionic-sdk-hybrid-mobile-app-development/2015/07/21"
             target="_blank">
            <strong>Programmable Web</strong>
            <time>Jul 21 2015</time>
            <span>Ionic and Appery.io Partner</span>
          </a>
        </li>
        <li>
          <a href="https://www-03.ibm.com/press/us/en/pressrelease/46623.wss"
             target="_blank">
            <strong>IBM News Room</strong>
            <time>May 8 2015</time>
            <span>IBM and Ionic Empower Business Users to Accelerate Mobile App
              Development</span>
          </a>
        </li>
        <li>
          <a href="http://techcrunch.com/2015/03/30/drifty-grabs-2-6-million-to-turn-web-developers-into-mobile-app-makers/#.wchkt9:0HOM"
             target="_blank">
            <strong>TechCrunch</strong>
            <time>Mar 30 2015</time>
            <span>Ionic raises $2.6M to turn Web Developers into Mobile App
              Makers</span></a>
        </li>
        <li>
          <a href="https://www.cs.wisc.edu/features/2015-05-28-madison-based-ionic-cofounded-cs-alumnus-supercharges-mobile-app-development"
             target="_blank">
            <strong>UW-Madison Computer Science</strong>
            <time>Mar 28 2015</time>
            <span>Ionic, cofounded by CS alumnus, supercharges mobile app
              development</span>
          </a>
        </li>
        <li>
          <a href="http://www.forbes.com/sites/bruceupbin/2015/01/05/meet-the-30-under-30-rising-stars-in-enterprise-technology/#2715e4857a0b760c0d8b675c"
             target="_blank">
            <strong>Forbes.com</strong>
            <time>Jan 5 2015</time>
            <span>Ionic CEO Max Lynch named to Forbes 30 under 30 in Enterprise
              Technology</span>
          </a>
        </li>
        <li>
          <a href="http://www.developer.com/ws/android/development-tools/developing-hybrid-apps-with-the-ionic-framework.html"
             target="_blank">
            <strong>Developer.com</strong>
            <time>Sep 10 2014</time>
            <span>Developing apps with the Ionic Framework</span>
          </a>
        </li>
        <li>
          <a href="http://techcrunch.com/2014/03/10/drifty-makers-of-the-ionic-mobile-framework-raise-1-million/"
             target="_blank">
            <strong>TechCrunch</strong>
            <time>Mar 3 2014</time>
            <span>Ionic raises $1M</span>
          </a>
        </li>
      </ul>
    </section>

    <section role="tabpanel" class="tab-pane" id="press-releases">
      <ul>
        <li>
          <a href="/press/release/2020/capacitor-adds-support-for-swift-5-and-android-10-securty-performance">
            <strong>Capacitor 2.0 Adds Support for Swift 5 and Android 10, Major Security and Performance Improvements</strong>
            <time>FEB 12 2020 </time>
          </a>
        </li>
        <li>
          <a href="/press/release/2020/ionic-5-brings-major-design-updates">
            <strong>Ionic 5 Brings Major Design Updates for Mobile App Developers</strong>
            <time>FEB 12 2020 </time>
          </a>
        </li>
        <li>
          <a href="/press/release/2020/ionic-achieves-record-revenue-growth-in-2019">
            <strong>Ionic Achieves Record Revenue Growth in 2019, Spurred by Enterprise Adoption and New Product Lines</strong>
            <time>Jan 7 2020</time>
          </a>
        </li>
        <li>
          <a href="/press/release/2019/ionic-alan-announce-integration">
            <strong>Ionic and Alan Announce Integration to Unlock the Power of Apps with Voice & AI</strong>
            <time>Aug 22 2019</time>
          </a>
        </li>
        <li>
          <a href="/press/release/2019/ionic-framework-4-release">
            <strong>Ionic Version 4: From Angular to React, Vue, and Web Components</strong>
            <time>Jan 23 2019</time>
          </a>
        </li>
        <li>
          <a href="/press/release/2019/latest-version-of-ionic-provides-universal-design-system-for-enterprises">
            <strong>Latest Version of Ionic Provides Universal Design System for Enterprises</strong>
            <time>Jan 23 2019</time>
          </a>
        </li>
        <li>
          <a href="/press/release/2017/ionic-brings-powerful-app-development-suite-to-teams-and-enterprises">
            <strong>Ionic Brings Powerful App Development Suite to Teams and
              Enterprises</strong>
            <time>Dec 6 2017</time>
          </a>
        </li>
        <li>
          <a href="/press/release/2017/dev-survey-says-the-web-is-wining-in-mobile-dev">
            <strong>Survey Says: The Web is Winning in Mobile Dev</strong>
            <time>July 25 2017</time>
          </a>
        </li>
      </ul>
    </section>

    <section role="tabpanel" class="tab-pane" id="assets">
      <h3>Press Pack</h3>
      <p>
        <a href="https://s3.amazonaws.com/ionicframework.com/press-pack.zip"
           target="_blank">Download Press Pack</a>
      </p>
    </section>
  </main>
</div>
{% endblock %}
