{% extends "_layouts/base.html" %}
{% set id = 'press' %}

{% block main %}
<div class="cta banner">
  <hgroup class="container">
    <h1>Press and Media</h1>
    <p>
      Assets and information for our users and the press. <br> for media
      inquiries, contact <a href="mailto:press@ionic.io">press@ionic.io</a>
    </p>
  </hgroup>
</div>

<div class="container tabs">
  <div class="col-sm-3">
    <ul class="nav nav-stacked">
      <li role="presentation" class="active"><a data-toggle="tab"
        href="#press">Press and coverage</a></li>
      <!--<li role="presentation"><a data-toggle="tab" href="#facts">Company facts
      </a></li>-->
      <li role="presentation"><a data-toggle="tab" href="#assets">Brand assets
        </a></li>
      <!--<li role="presentation"><a data-toggle="tab" href="#media">Media files
      </a></li>-->
    </ul>
  </div>
  <div class="col-sm-9 tab-content">
    <div role="tabpanel" class="tab-pane active" id="press">
      <h3>Featured Press Coverage</h3>
      <p>
        <a href="https://www.xconomy.com/wisconsin/2017/12/06/ionic-unveils-new-app-making-tools-continues-push-to-make-money/?single_page=true"
           target="_blank">Ionic Unveils New App-Making Tools for Enterprise 
          Developers &amp; Teams</a> - Xconomy
      </p>
      <p>
        <a href="https://news.wisc.edu/app-software-firm-with-uw-madison-roots-starts-selling-pro-version/"
           target="_blank">App software firm with UW-Madison roots starts selling 
          “pro” version</a> - University of Wisconsin News
      </p>
      <p>
        <a href="https://www.theregister.co.uk/2017/07/25/dev_app_survey/"
           target="_blank">Devs shun smartwatch work, gaze longingly at web-only 
          apps again</a> - The Register
      </p>
      <p>
        <a href="https://www-03.ibm.com/press/us/en/pressrelease/46623.wss"
           target="_blank">IBM and Ionic Empower Business Users to Accelerate 
          Mobile App Development</a> - IBM News Room
      </p>
      <p>
        <a href="http://devblog.blackberry.com/2015/07/top-javascript-frameworks-for-enterprise-mobility-part-13/"
           target="_blank">Top JavaScript Frameworks for Enterprise Mobility</a> 
        - BlackBerry
      </p>
      <p>
        <a href="http://www.programmableweb.com/news/appery.io-integrates-ionic-sdk-hybrid-mobile-app-development/2015/07/21"
           target="_blank">Ionic and Appery.io Partner</a> - Programmable Web
      </p>
      <p>
        <a href="https://www.cs.wisc.edu/features/2015-05-28-madison-based-ionic-cofounded-cs-alumnus-supercharges-mobile-app-development"
           target="_blank">Ionic, cofounded by CS alumnus, supercharges mobile 
          app development</a> - UW-Madison Computer Science
      </p>
      <p>
        <a href="http://www.forbes.com/sites/bruceupbin/2015/01/05/meet-the-30-under-30-rising-stars-in-enterprise-technology/#2715e4857a0b760c0d8b675c"
           target="_blank">Ionic CEO Max Lynch named to Forbes 30 under 30 in 
          Enterprise Technology</a> - Forbes.com
      </p>
      <p>
        <a href="http://techcrunch.com/2015/03/30/drifty-grabs-2-6-million-to-turn-web-developers-into-mobile-app-makers/#.wchkt9:0HOM"
           target="_blank">Ionic raises $2.6M to turn Web Developers into Mobile 
          App Makers</a> - TechCrunch
      </p>
      <p>
        <a href="http://www.developer.com/ws/android/development-tools/developing-hybrid-apps-with-the-ionic-framework.html"
           target="_blank">Developing apps with the Ionic Framework</a> - 
          Developer.com
      </p>
      <p>
        <a href="http://techcrunch.com/2014/03/10/drifty-makers-of-the-ionic-mobile-framework-raise-1-million/"
           target="_blank">Ionic raises $1M</a> - TechCrunch
      </p>
    </div>
    <div role="tabpanel" class="tab-pane" id="facts">
    </div>
    <div role="tabpanel" class="tab-pane" id="assets">
      <h3>Press Pack</h3>
      <p>
        <a href="https://ionicframework.com.s3.amazonaws.com/press-pack.zip">
        Download Press Pack</a>
      </p>
    </div>
    <div role="tabpanel" class="tab-pane" id="media">
    </div>

  </div>
</div>
{% endblock %}
