{% extends '_layouts/blank.html' %}
{% set id = 'react' %}
{% set header_style = 'transparent' %}
{% set cssPath = 'react' %}
{% set title = data.title %}
{# {% set meta_image = ''%} #}
{# {% set meta_description = ''%} #}
{% set hide_pre_header = true %}

{% block main %}
<header>

  <hgroup class="container">
    <img src="/img/react/logo.png" alt="Ionic Logo" class="logo">
    <h1>{{ data.headline }}</h1>
    <p>{{ data.tagline }}</p>
    <a href="#learn" class="btn anchor">Explore</a>
    <a href="#demo" class="btn anchor">Live Demo</a>
    <a href="#sneak-peak" class="keep-reading anchor">
      Scroll to learn more
      <ion-icon name="ios-arrow-down"></ion-icon>
    </a>
  </hgroup>
</header>
<main>
  <div>
    <div class="container">
      <h2>100+ Beautiful React Components</h2>
      <p>React-optimized mobile and web components for building industry-leading mobile, web, and desktop apps</p>
    </div>
  
    <div class="container">
      <h2>Build Once Run Anywhere with Capacitor</h2>
      <p>Access every native API and access native UI through Capacitor</p>
    </div>

    <div class="container">
      <h2>Try it now</h2>

      <iframe id="demo" src="https://stackblitz.com/edit/ionic-v4-react-gjfqzk?embed=1&file=index.js"></iframe>
    </div>
    <div class="container">
      <h2>Ionic React for Enterprises</h2>
    </div>
  </div>
</main>
{% endblock %}
