{% extends '_layouts/blank.html' %}
{% set id = 'react' %}
{% set header_style = 'transparent' %}
{% set cssPath = 'react' %}
{% set title = data.title %}
{# {% set meta_image = ''%} #}
{# {% set meta_description = ''%} #}
{% set hide_pre_header = true %}

{% block main %}
<header>

  <hgroup class="container">
    <img src="/img/react/logo.png" alt="Ionic Logo" class="logo" />
    <h1>{{ data.headline }}</h1>
    <p>{{ data.tagline }}</p>
    <a href="#demo" class="btn anchor">Live Demo</a>
    <a href="#start" class="btn anchor">Get Started</a>
    <a href="#sneak-peak" class="keep-reading anchor">
      Scroll to learn more
      <ion-icon name="ios-arrow-down"></ion-icon>
    </a>
  </hgroup>
</header>
<main>
  <div>
    <div class="container" id="components">
      <h2>100+ Beautiful React Components</h2>
      <p>React-optimized mobile and web components for building industry-leading mobile, web, and desktop apps</p>
      <div class="features">
        <div class="feature">
          <div class="icon"></div>
          <h3><a href="https://ionicframework.com/docs/api/list">Lists</a></h3>
          <p>
            Advanced lists with navigation hints,
            swipeable options, and powerful layout options
          </p>
        </div>
        <div class="feature">
          <div class="icon"></div>
          <h3><a href="https://ionicframework.com/docs/api/card">Cards</a></h3>
          <p>
            Flexible Card controls and layouts for building
            stunning media-based experiences
          </p>
        </div>
        <div class="feature">
          <div class="icon"></div>
          <h3><a href="https://ionicframework.com/docs/api/list">Navigation</a></h3>
          <p>
            Build tab, menu, or list-based apps with powerful
            routing capabilities
          </p>
        </div>
        <div class="feature">
          <div class="icon"></div>
          <h3><a href="https://ionicframework.com/docs/components">Kitchen Sink</a></h3>
          <p>
            Ionic React comes with more out-of-the-box controls than 
            native, accelerating your unique app design
          </p>
        </div>
      </div>
    </div>
  
    <div class="container" id="native">
      <h2>Build Once Run Anywhere with Capacitor</h2>
      <p>Ionic React apps use Capacitor (not Cordova) to unlock every native API and native UI controls across iOS, Android, Electron, and Web</p>
      <div class="features">
        <div class="feature">
          <div class="icon"></div>
          <p>
            Take photos and acces the camera roll with the 
            <a href="https://capacitor.ionicframework.com/docs/apis/camera">Camera API</a>
          </p>
        </div>
        <div class="feature">
          <div class="icon"></div>
          <p>
            Read and write files with the 
            <a href="https://capacitor.ionicframework.com/docs/apis/filesystem">Filesystem API</a>
          </p>
        </div>
        <div class="feature">
          <div class="icon"></div>
          <p>
            Send remote and local notifications with the
            <a href="https://capacitor.ionicframework.com/docs/apis/push-notifications">Push</a> and
            <a href="https://capacitor.ionicframework.com/docs/apis/local-Notifications">Local</a>
              Notifications APIs
          </p>
        </div>
        <div class="feature">
          <div class="icon"></div>
          <p>
            Track geolocation in realtime with the
            <a href="https://capacitor.ionicframework.com/docs/apis/geolocation">Geolocation API</a>
          </p>
        </div>
      </div>
    </div>

    <div class="container" id="demo">
      <h2>Try it now</h2>
      <p>
        Try this demo Music App built with Ionic React and following best practices.
        <br />
        <i>Note: App does not actually play music due to lack of legal public music APIs.</i>
      </p>
      <iframe id="demo" src="https://stackblitz.com/edit/ionic-react-demo?embed=1&file=App.jsx"></iframe>
    </div>
    <div class="container" id="samples">
      <h2>Sample Apps</h2>
      <p>
        One of the best ways to get started and learn best practices is to explore a sample app
      </p>
      <div class="features">
        <div class="feature">
          <h3><a href="https://stackblitz.com/edit/ionic-react-demo" target="_blank">Music Player</a></h3>
          <p>
            The demo available on this page is a simple demo of a music player app, tab-based navigation,
            and basic user account features
          </p>
        </div>
        <div class="feature">
          <h3><a href="https://github.com/ionic-team/ionic-react-conference-app" target="_blank">Conference App</a></h3>
          <p>
            Ionic's fake conference app is a great example of an app combining both tabs and menu navigation
          </p>
        </div>
        <div class="feature">
          <h3><a href="https://github.com/mhartington/StarTrack-react" target="_blank">StarTrack</a></h3>
          <p>
            An Apple Music player demo that plays real music. Note: Must have an Apple Music account.
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="enterprise">
      <h2>Ionic React for Enterprises</h2>
      <p>Enterprise-ready integrations and support for your next mission critical app project</p>
      <div class="features">
        <div class="feature">
          <div class="icon"></div>
          <p>
            Powerful enterprise features available for Ionic React apps, like secure identity, authentication, and encrypted
            offline storage.
          </p>
        </div>
        <div class="feature">
          <div class="icon"></div>
          <p>
            Dedicated support you can rely on, with SLAs, security notices, and more.
          </p>
        </div>
        <div class="feature">
          <div class="icon"></div>
          <p>
            Beat the competition with powerful Mobile DevOps features like
            real-time app updates, cloud builds, and automatic push to app store (coming soon!).
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="accolades">
      <h2>What People are Saying</h2>
      <div class="tweets">
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Super excited about Ionic React! I’ve always dreamed of a “ruby on rails” equivalent for React where all the environment is setup to be productive right away. <a href="https://t.co/IBx2cfBQJv">https://t.co/IBx2cfBQJv</a></p>&mdash; vjeux ✪ (@Vjeux) <a href="https://twitter.com/Vjeux/status/1184258196707233793?ref_src=twsrc%5Etfw">October 16, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <blockquote class="twitter-tweet" data-conversation="none"><p lang="en" dir="ltr">I’m new to both Ionic and React but I’ve found ionic-react to be really nice!</p>&mdash; Kevin Southworth (@ksouthworth) <a href="https://twitter.com/ksouthworth/status/1226937939285901313?ref_src=twsrc%5Etfw">February 10, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">I wanna start another app tonight. Ionic + React makes dev fun. Lmk if you got an idea.</p>&mdash; Diana Lopez (@pixelswithin) <a href="https://twitter.com/pixelswithin/status/1220956268539441153?ref_src=twsrc%5Etfw">January 25, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Working with Ionic 4 has been amazing. The improvements, the React support, and the docs were all a major improvement. I can’t wait to get my hands on 5.0.0! <a href="https://t.co/2eJBOrii9Z">https://t.co/2eJBOrii9Z</a></p>&mdash; Devin (@paranoidcoder) <a href="https://twitter.com/paranoidcoder/status/1220788490809544712?ref_src=twsrc%5Etfw">January 24, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <blockquote class="twitter-tweet" data-conversation="none"><p lang="en" dir="ltr">I’m new to both Ionic and React but I’ve found ionic-react to be really nice!</p>&mdash; Kevin Southworth (@ksouthworth) <a href="https://twitter.com/ksouthworth/status/1226937939285901313?ref_src=twsrc%5Etfw">February 10, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Building apps with Ionic React is a joy. Using JavaScript and a build-free process makes the experience that much sweeter. Check <a href="https://t.co/3bKjusE44s">https://t.co/3bKjusE44s</a> to see how to run JavaScript <a href="https://twitter.com/ionic?ref_src=twsrc%5Etfw">@ionic</a> react apps in the browser build-free.</p>&mdash; Adnan Sagar, PhD (@adnan_msagar) <a href="https://twitter.com/adnan_msagar/status/1224420056752381952?ref_src=twsrc%5Etfw">February 3, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
    <div class="container" id="start">
      <h2>Get Started</h2>
      <p>
        <pre><code>
          npm install -g @ionic/cli
          ionic start myApp --type=react
        </code></pre>
      </p>
    </div>
  </div>
</main>
{% endblock %}
