{% extends "_layouts/base.html" %}
{% set id = 'resource-center' %}
{% set bodyController = 'ResourceCenterCtrl' %}

{% block body_attributes %}
  data-spy="scroll" data-target="#resource-center-nav"
{% endblock %}

{% block main %}

<div class="banner">
  <hgroup class="container">
    <h1>Ionic Resource Center</h1>
    <p>Customer stories, product info, and viewpoints from the Ionic team.</p>
  </hgroup>
  <div class="bar" data-spy="affix" data-offset-top="375">
    <div class="container" id="resource-center-nav" offset="-400">
      <ul class="categories nav">
        <li><a class="anchor whitepaper"
               ng-class="{'active': current == 'whitepaper'}"
               ng-click="filter('whitepaper')"
               id="btn-resources-articles">Articles</a></li>
        <li><a class="anchor case-study"
               ng-class="{'active': current == 'case-study'}"
               ng-click="filter('case-study')"
               id="btn-resources-case-study">Case studies</a></li>
        <li><a class="anchor video"
               ng-class="{'active': current == 'video'}"
               ng-click="filter('video')"
               id="btn-resources-videos">Videos</a></li>
        {#<li><a class="anchor webinar"
               ng-class="{'active': current == 'webinar'}"
               ng-click="filter('webinar')">Book</a></li>#}
      </ul>
    </div>
  </div>
</div>

<section class="container">
  <div class="items"
       id="resource-center-items"
       ng-class="{'filtered': !!current}">
    <a href="/files/NapaGroup_CS_05.pdf"
       class="case-study" ng-class="{'active': current == 'case-study'}"
       target="_blank" id="btn-resources-napa-group">
      <hgroup>
        <h3>Napa Group</h3>
        <p>Ionic Pro helps innovative wine merchant simplify and accelerate the entire app lifecycle, from development and testing to live updates of its auction application.</p>
      </hgroup>
    </a>
    <a href="/books/hybrid-vs-native" class="whitepaper"
       target="_blank" ng-class="{'active': current == 'whitepaper'}"
       id="btn-resources-hybrid-v-native">
      <hgroup>
        <h3>Guide to Hybrid Vs. Native App Development</h3>
        <p>
          This guidebook explains the essential elements of hybrid develoment,
          and what it could mean for your next project.
        </p>
      </hgroup>
    </a>
    <a href="https://ionicframework.com/case-studies/MarketWatch.pdf"
       class="case-study" ng-class="{'active': current == 'case-study'}"
       target="_blank" id="btn-resources-marketwatch">
      <hgroup>
        <h3>MarketWatch</h3>
        <p>
          How one lean dev team at Dow Jones drastically improved the
          MarketWatch mobile app experience, while doubling their team's output
          with Ionic.
        </p>
      </hgroup>
    </a>
    <a href="/files/Ionic_Enterprise_SB_2018.pdf" class="whitepaper"
       target="_blank" ng-class="{'active': current == 'whitepaper'}"
       id="btn-resources-ionic-for-enterprise">
      <hgroup>
        <h3>Ionic for Enterprise</h3>
        <p>
          Ionic makes it easy for enterprise teams to build high performance
          apps that look and feel beautiful on any platform or device, with
          superpowered tools developers love.
        </p>
      </hgroup>
    </a>
    <a href="https://ionicframework.com/files/Airbus_Case_Study.pdf"
       class="case-study" ng-class="{'active': current == 'case-study'}"
       target="_blank" id="btn-resources-airbus">
      <hgroup>
        <h3>Airbus</h3>
        <p>
          How the leading helicopter manufacturer encourages collaboration and
          fields innovative mobile applications faster with Ionic Framework and
          Creator.
        </p>
      </hgroup>
    </a>
    <a href="https://youtu.be/O2WiI9QrS5s" target="_blank" class="video"
       ng-class="{'active': current == 'video'}"
       id="btn-resources-ionic-2-crash-course">
      <hgroup>
        <h3>Ionic 2 Crash Course</h3>
        <p>
          Ionic Co-Founder Max Lynch provides a quick introduction to Ionic 2.x
          and above (i.e Ionic 3, etc) and how to build your first app.
        </p>
      </hgroup>
    </a>
    <a href="/files/SenseCorp_CS_04.pdf" target="_blank" class="case-study"
       ng-class="{'active': current == 'case-study'}"
       id="btn-resources-sense-corp">
      <hgroup>
        <h3>Sense Corp</h3>
        <p>
          How a leading consulting firm modernized a large-scale fleet
          management business with Ionic - and then successfully turned the keys
          over to their client’s in-house web teams.
        </p>
      </hgroup>
    </a>
    <a href="/files/Anonymous_CS_02.pdf" target="_blank" class="case-study"
       ng-class="{'active': current == 'case-study'}"
       id="btn-resources-interactive-gaming-company">
      <hgroup>
        <h3>Interactive Gaming Company</h3>
        <p>
          See how a skilled team of in-house web developers is taking control of
          internal apps at a multi-billion dollar interacting gaming company.
        </p>
      </hgroup>
    </a>
    <a href="https://blog.ionicframework.com/the-mobile-delivery-gap/"
       target="_blank" ng-class="{'active': current == 'whitepaper'}"
       class="whitepaper" id="btn-resources-mobile-delivery-gap">
      <hgroup>
        <h3>The Mobile Delivery Gap</h3>
        <p>
          Demand for mobile experiences is growing 5x faster than internal IT
          teams can deliver. Discover what's behind the mobile delivery gap.
        </p>
      </hgroup>
    </a>
    <a href="https://ionicframework.com/case-studies/MillionEyez.pdf"
       class="case-study" ng-class="{'active': current == 'case-study'}"
       target="_blank" id="btn-resources-million-eyez">
      <hgroup>
        <h3>Million Eyez</h3>
        <p>
          Million Eyez is reinventing visual storytelling. Ionic helps them
          deliver stunning web and mobile experiences from a single code base.
        </p>
      </hgroup>
    </a>
    <a href="http://docs.usecreator.com/docs/getting-started" target="_blank"
       class="video" ng-class="{'active': current == 'video'}"
       id="btn-resources-creator-getting-started">
      <hgroup>
        <h3>Ionic Creator: Getting Started</h3>
        <p>
          Creator is a simple drag-&amp;-drop tool for going from idea to App
          Store, with just the drag of a mouse. Start building with this
          introductory quick video.
        </p>
      </hgroup>
    </a>
    <a href="https://ionicframework.com/case-studies/Pacifica.pdf"
       class="case-study" ng-class="{'active': current == 'case-study'}"
       target="_blank" id="btn-resources-pacifica">
      <hgroup>
        <h3>Pacifica</h3>
        <p>
          Pacifica takes a unique approach to treating stress and
          depression. Discover how Ionic gives Pacifica the power to build the
          ultimate user experience in a single app.
        </p>
      </hgroup>
    </a>
    <a href="https://blog.ionicframework.com/the-amazing-evolution-of-the-web-on-mobile/"
       class="whitepaper" ng-class="{'active': current == 'whitepaper'}"
       target="_blank" id="btn-resources-amazing-evolution">
      <hgroup>
        <h3>The Amazing Evolution of Web on Mobile</h3>
        <p>
          A look at the rapid progression and evolution of the web on mobile
          devices over the last few years - and what's different about today.
        </p>
      </hgroup>
    </a>
    <a href="https://ionicframework.com/case-studies/Sworkit.pdf"
       class="case-study" ng-class="{'active': current == 'case-study'}"
       target="_blank" id="btn-resources-sworkit">
      <hgroup>
        <h3>Sworkit</h3>
        <p>
          How a top-featured fitness app grew to millions of delighted users
          with a single code base across all major platforms with Ionic.
        </p>
      </hgroup>
    </a>
    <a href="https://blog.ionicframework.com/built-with-ionic-untappd/"
       class="case-study" ng-class="{'active': current == 'case-study'}"
       target="_blank" id="btn-resources-untappd">
      <hgroup>
        <h3>Untapp'd</h3>
        <p>
          Untappd helps beer lovers connect and discover new brews. Ionic helps
          them speed up and simplify app development, with full native
          functionality.
        </p>
      </hgroup>
    </a>
    <a href="https://blog.ionicframework.com/ionic-native-native-powers-for-your-app/"
       class="whitepaper" ng-class="{'active': current == 'whitepaper'}"
       target="_blank" id="btn-resources-ionic-native-powers">
      <hgroup>
        <h3>Ionic Native: Native Powers for Your App</h3>
        <p>
          The very best mobile apps take full advantage of the amazing features
          available to them natively on iOS and Android devices - Ionic apps are
          no exception.
        </p>
      </hgroup>
    </a>
    <a href="https://blog.ionicframework.com/built-with-ionic-diesel-mobile-app/"
       class="case-study" ng-class="{'active': current == 'case-study'}"
       target="_blank" id="btn-resources-diesel">
      <hgroup>
        <h3>Diesel</h3>
        <p>
          Deisel's Ionic-based app helps teams analyze store and product
          performance, and identify new ways to positively represent the Diesel
          brand.
        </p>
      </hgroup>
    </a>
    <a href="https://blog.ionicframework.com/built-with-ionic-2-the-national-museum-of-african-american-history-and-culture-mobile-app/"
       class="case-study" ng-class="{'active': current == 'case-study'}"
       target="_blank" id="btn-resources-national-museum-of-african-history">
      <hgroup>
        <h3>The National Museum of African American History and Culture</h3>
        <p>
          The National Museum of African American History and Culture offers a
          stunning mobile experience to showcase exhibits and guide visitors
          through their journey.
        </p>
      </hgroup>
    </a>
    {#<a href="" class="webinar" ng-class="{'active': current == 'webinar'}">
      <hgroup>
        <h3>The Hybrid Perspective</h3>
        <p>
          Leggings anim fingerstache, heirloom non meh seitan mollit narwhal.
          Odio taxidermy dolore dreamcatcher keytar gentrify. Incididunt four
          dollar toast keffiyeh hammock sustainable.
        </p>
      </hgroup>
    </a>#}
  </div>
</section>

{% endblock %}


{% block scripts %}
<script>
   /* Replace 'APP_ID' with your app ID */
   window.intercomSettings = {
    app_id: 'm0la1vjm'
};
   /* Replace 'APP_ID' with your app ID */
   (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){
     ic('reattach_activator');ic('update',intercomSettings);}else{var
     d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args)
     {i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');
     s.type='text/javascript';s.async=true;
     s.src='https://widget.intercom.io/widget/APP_ID';
     var x=d.getElementsByTagName('script') [0];x.parentNode.insertBefore(s,x);
     }if(w.attachEvent){w.attachEvent('onload',l);}else{
       w.addEventListener('load',l,false);}}})()
</script>
{% endblock %}
