{% extends '_layouts/blank.html' %}
{% set title = "Ionic - Signup" %}
{% set id = "signup" %}
{% set header_style = 'transparent light' %}
{% set meta_description = "Create your Ionic account." %}

{% block main %}
<header class="navbar navbar-default transparent light">
  <a class="navbar-brand" href="/">
    {% include '_includes/svg/ionic-black.svg' %}
  </a>
</header>
<main>
  <div class="banner">
    <hgroup class="container">
      <h1>Create your Ionic account</h1>
    </hgroup>
  </div>
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <ionic-signup-form
          source="framework-signup"
          ga-event-name="Get started"
          ga-event-label="btn-get-started-signup-submit"
          hubspot-event-id="000006040735"
          id="signup-form"
          allow-login="true"
          allow-social="true"
          oauth-redirect="false"
          button-text="Create account ➔"
        ></ionic-signup-form>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block scripts %}
{# Promise, fetch, URLSearchParams polyfills #}
<script
  src="https://cdn.jsdelivr.net/npm/promise-polyfill@8.1.3/dist/polyfill.min.js"
  integrity="sha384-Oa9qd3zGPgIOjIcotuclp6o+1G/FJtvOBKJRGkHSQt/nQWcZY/UwxnQYvVL5dfV5"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/whatwg-fetch@3.0.0/dist/fetch.umd.min.js"
  integrity="sha384-izk5QhlJG4UwhAQ3P3QgvguhYiTV1GRKBu41DyczWbFPX3hVK89Q+CLwVAzBBcy8"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/core-js-bundle@3.6.4/minified.js"
  integrity="sha384-0klsXCJV+cWaC+zXWBGWot1n1vMkFkbxy6BtBjwrn+fEoS5kflOTchfH9PUQPaN+"
  crossorigin="anonymous"
></script>
{# Google reCAPTCHA #}
<script src="https://www.google.com/recaptcha/api.js?render=6LfbcKAUAAAAACUDq_t59TP8MawQXB37DVEeSOjZ"></script>
{% endblock %}
