{% extends '_layouts/base.html' %}
{% set id = 'startups' %}
{% set title = "App Development for Start-Ups - Ionic Web App Development" %}
{% set meta_image = 'https://ionicframework.com/img/meta/ionic-framework-og.png'%}
{% set meta_description = "Ionic's Cross platform app development framework and Mobile DevOps suite enables the fastest growing startups to turn their vision into reality with the power of open web technology. With Ionic you can provide users with flawless app experiences, ship in weeks, not months and always be innovating." %}
{% set header_style = 'transparent light' %}
{% set stickyNav = true %}

{% block main %}

<main>
  <section class="cta">
    <div class="container">
      <h1>Ionic Powers Startups</h1>
      <p>Ionic helps some of the world's fastest growing startups turn their vision into reality with stunning cross platform app experiences, powered by open web technology.</p>
      <div class="cta__buttons">
        <a href="/framework" class="btn">Start with Framework</a>
        <a href="/appflow" class="btn btn--secondary">Scale with Appflow</a>
      </div>
    </div>
  </section>

  <section class="video">
    <div class="video-player">
      <svg class="video-player-button" viewBox="0 0 278 278">
        <title>Play Video</title>
        <g fill="none" fill-rule="evenodd">
          <circle fill="#FAFAFA" cx="139" cy="139" r="139"/>
          <path d="M186.816 139.258l-74 48c-.998.648-2.316-.068-2.316-1.258V90c0-1.19 1.318-1.906 2.316-1.258l74 48a1.5 1.5 0 0 1 0 2.516z" fill="#9BA4B3" fill-rule="nonzero"/>
        </g>
      </svg>
      <div class="video-player-frame">
        <div class="js-video-target"><div>
      </div>
    </div>
  </section>

  <div class="video-footer">
    <p>The Sworkit team uses Ionic to power their cross-platform app with millions of happy users all around the world.</p>
    <blockquote>
      <p>&ldquo;Ionic is our development lifecycle. It is our main focus in terms of anything app related.&rdquo;</p>
      <small>Ryan Hanna <span>Founder, VP of Product</span></small>
    </blockquote>
</div>

  <section class="key-benefits">
    <div class="container">
      <header class="section-header">
        <h2>Helping small teams do big things</h2>
        <p>Ionic powers startups all around the globe, enabling the big thinkers to bring their visions to life faster than ever before.</p>
      </header>
      <ul class="feature-list">
        <li>
          <div class="feature">
            <div class="feature__icon dazzle"></div>
            <div class="feature__text">
              <strong>Flawless app experiences</strong>
              <p>To win you'll need to need to stand out. Deliver a flawless experience by creating high-performance apps that look and feel beautiful across any platform or device.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="feature">
            <div class="feature__icon speed"></div>
            <div class="feature__text">
              <strong>Ship in weeks, not months</strong>
              <p>You don't have six months to build your app. Ionic lets you use your current web developers to build apps in weeks rather than months using a single code base.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="feature">
            <div class="feature__icon takeoff"></div>
            <div class="feature__text">
              <strong>Always be innovating</strong>
              <p>Getting your app to market is just the start. <a href="/appflow">Ionic Appflow</a> helps manage the entire app lifecycle for rapid iteration and continuous delivery of content.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="oss">
    <div class="container">
      <figure class="app-showcase">
        <img class="app-showcase__image" src="/img/startups/startups-untappd-phones.png" loading="lazy" width="1072" height="1712" alt="Untappd App Preview">
        <footer class="app-showcase__footer">
          <img class="app-showcase__icon" src="/img/startups/startups-untappd-app-icon.png" loading="lazy" width="186" height="186" alt="Untappd Icon">
          <div class="app-showcase__text">
            <blockquote>&ldquo;Ionic is the perfect match of dynamic binding and easy, simple UI elements.&rdquo;</blockquote>
            <small>Greg Avola <span>Untappd</span></small>
          </div>
        </footer>
      </figure>
      <div>
        <header class="section-header">
          <h2>Powered by <span>OSS</span></h2>
          <p>Ionic is the best toolkit for building apps with modern web tech, shipping quickly, and scaling as you grow.</p>
        </header>
        <ul class="feature-list">
          <li>
            <div class="feature">
              <div class="feature__icon platforms"></div>
              <div class="feature__text">
                <strong>100% Cross Platform</strong>
                <p>Build highly performant apps for iOS, Android, and as a Progressive Web App - all with the same codebase.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="feature">
              <div class="feature__icon native"></div>
              <div class="feature__text">
                <strong>Premier Native Access</strong>
                <p>Get access to Ionic’s premier native plugin ecosystem, powered by the <a href="https://capacitorjs.com/">Capacitor</a> project and <a href="/native">Ionic Native</a>.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="feature">
              <div class="feature__icon worldwide"></div>
              <div class="feature__text">
                <strong>Worldwide Community</strong>
                <p>Join the Ionic Community with over 5 Million devs all across the globe. Check out the Ionic <a href="https://forum.ionicframework.com/">Forum</a>.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="quotes">
    <div class="quotes__quote joule">
      <div class="quotes__content">
        <div class="quotes__logo joule" title="Joule"></div>
        <blockquote>
          <p>&ldquo;The Ionic team has built an incredible platform for mobile app development, and it forms the bedrock of the Joule app.&rdquo;</p>
          <small>Ryan Miller <span>Mobile Engineer</span></small>
        </blockquote>
      </div>
    </div>
    <div class="quotes__quote comichaus">
      <div class="quotes__content">
        <div class="quotes__logo comichaus" title="Comichaus"></div>
        <blockquote>
          <p>&ldquo;Ionic enabled us to deploy to iOS and Android on both handsets and tablets at a reduced cost of build compared to building it natively for each platform.&rdquo;</p>
          <small>Peter Ward-Edwards <span>Director</span></small>
        </blockquote>
      </div>
    </div>
  </section>

  <section class="pro">
    <div class="container">
      <figure class="app-showcase">
        <img class="app-showcase__image" loading="lazy" width="1072" height="1712" src="/img/startups/startups-shipt-phones.png" alt="Shipt App Preview">
        <!--<footer class="app-showcase__footer">
          <img class="app-showcase__icon" src="/img/startups/startups-shipt-app-icon.png" alt="Shipt Icon">
          <div class="app-showcase__text">
            <blockquote>&ldquo;Ionic is our development lifecycle. It is our to main focus in terms of anything app.&rdquo;</blockquote>
            <small>Ryan Hanna <span>Shipt</span></small>
          </div>
        </footer>-->
      </figure>
      <div>
        <header class="section-header">
          <h2>Scale with <span>Appflow</span></h2>
          <p>Always be shipping with the power of Ionic Appflow. Focus on your app, we'll take care of everything else.</p>
        </header>
        <ul class="feature-list">
          <li>
            <div class="feature">
              <div class="feature__icon deploy"></div>
              <div class="feature__text">
                <strong>
                  <span>Deploy Live Updates</span>
                  <a href="/pro/deploy">Learn More &rarr;</a>
                </strong>
                <p>Skip the app stores by continuously pushing new versions of your app directly to users, in realtime.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="feature">
              <div class="feature__icon compile"></div>
              <div class="feature__text">
                <strong>
                  <span>Compile Native Binaries</span>
                  <a href="/pro/package">Learn More &rarr;</a>
                </strong>
                <p>Pro will package your app and create native APK and IPA binaries based on the version you select.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="quotes">
    <div class="quotes__quote pacifica">
      <div class="quotes__content">
        <div class="quotes__logo pacifica" title="Pacifica"></div>
        <blockquote>
          <p>&ldquo;There is no way we would have launch with both iOS and Android as quickly as we did if we went native. Ionic allows to constantly improve the app quickly.&rdquo;</p>
          <small>Dale Beerman <span>Co-Founder, CEO</span></small>
        </blockquote>
      </div>
    </div>
    <div class="quotes__quote natural-cycles">
      <div class="quotes__content">
        <div class="quotes__logo natural-cycles" title="Natural Cycles"></div>
        <blockquote>
          <p>&ldquo;Ionic helped us scale our app user base to 650,000 users, and reach 3 platforms at once without compromise in quality: iOS, Android, and the Web.&rdquo;</p>
          <small>Kirill Katalevsky <span>Head of Engineering</span></small>
        </blockquote>
      </div>
    </div>
  </section>

  <section class="resources">
    <div class="container">
      <header class="section-header">
        <h2>Startup Corner</h2>
        <p>Resources and guides to start a successful app. Get info and help to ensure your app does well.</p>
      </header>
      <div class="resource-card-list">
        <a href="http://startupstash.com/" class="resource-card">
          <small class="resource-card__eyebrow">Startup Stash</small>
          <div class="resource-card__title">Curated resources to help build your startup.</div>
          <div class="resource-card__cta">Learn More</div>
        </a>
        <a href="https://labs.openviewpartners.com/" class="resource-card">
          <small class="resource-card__eyebrow">Openview</small>
          <div class="resource-card__title">Research and advice for early-stage startups.</div>
          <div class="resource-card__cta">Learn More</div>
        </a>
        <a href="https://startup.deals/" class="resource-card">
          <small class="resource-card__eyebrow">Startup Deals</small>
          <div class="resource-card__title">Tools to save startups time and money.</div>
          <div class="resource-card__cta">Learn More</div>
        </a>
        <a href="http://www.growthgeeks.com/" class="resource-card">
          <small class="resource-card__eyebrow">Growth Geeks</small>
          <div class="resource-card__title">The exclusive network of digital marketing experts.</div>
          <div class="resource-card__cta">Learn More</div>
        </a>
        <a href="https://cofounderslab.com/" class="resource-card">
          <small class="resource-card__eyebrow">Cofounder Labs</small>
          <div class="resource-card__title">Connect, meet and collaborate with other entrepreneurs.</div>
          <div class="resource-card__cta">Learn More</div>
        </a>
        <a href="https://ionicacademy.com/" class="resource-card">
          <small class="resource-card__eyebrow">Ionic Academy</small>
          <div class="resource-card__title">In-depth Ionic courses, projects and a community hub.</div>
          <div class="resource-card__cta">Learn More</div>
        </a>
        <a href="https://startuplaunchlist.com/" class="resource-card">
          <small class="resource-card__eyebrow">Startup Launch List</small>
          <div class="resource-card__title">Articles to read before launching your startup.</div>
          <div class="resource-card__cta">Learn More</div>
        </a>
      </div>
    </div>
  </section>

  <section class="get-started">
    <div class="container">
      <header>
        <h2>Start building apps the better way.</h2>
        <p>Free accounts and free advice. Everything you need to get started.</p>
      </header>
      <div>
        <a href="/framework" class="btn white">Start with Framework</a>
        <a class="btn btn--secondary" href="/appflow">Learn about Appflow</a>
      </div>
    </div>
  </section>
</main>

{% endblock %}

{% block scripts %}

<script async src="https://www.youtube.com/iframe_api"></script>
<script>

  (function() {
    const videoPlayer = document.querySelector('.video-player');
    const iframeTarget = document.querySelector('.js-video-target');

    function onYouTubeReady() {
      videoPlayer.classList.add('is-ready');
      videoPlayer.addEventListener('click', onPlayerClick);
    }

    function onPlayerClick() {
      videoPlayer.classList.add('is-playing');
      new YT.Player(iframeTarget, {
        height: '1164',
        width: '1800',
        videoId: 'cTHjJ5-e6YQ',
        events: {
          'onReady': onPlayerReady
        },
        playerParams: {
          color: 'white',
          enablejsapi: 1,
          modestbranding: 1,
          rel: 0,
          showinfo: 0
        }
      });
    }

    function onPlayerReady(e) {
      e.target.playVideo();
    }

    window.onYouTubeIframeAPIReady = onYouTubeReady;
  })();
</script>

{% endblock %}
