{% extends '_layouts/blank.html' %}
{% set title = "Create your Ionic App" %}
{% set id = "start" %}
{% set pre_footer = false %}
{% set meta_description = "Create your own beautiful mobile app with just a few clicks and the power of Ionic Framework." %}
{% set cssPath = 'auth' %}

{% block main %}
<header>
  <a class="header__logo" href="/" >
    {% include '_includes/svg/ionic-black.svg' %}
  </a>

  <a class="header__feedback" href="https://github.com/ionic-team/app-wizard-issues/issues/new?assignees=&labels=&template=bug_report.md&title=" target="_blank">Send Feedback</a>
</header>
<main>
  <div class="container-fluid">
    <ionic-app-wizard></ionic-app-wizard>
  </div>
</main>
{% endblock %}

{% block scripts %}
<script src="https://www.google.com/recaptcha/api.js?render=6LfbcKAUAAAAACUDq_t59TP8MawQXB37DVEeSOjZ"></script>
{% endblock %}
