{% extends '_layouts/base.html' %}
{% set id = 'startups' %}
{% set title = "Ionic Framework - Startups" %}
{% set meta_image = '/img/meta/ionic-pro-og.png'%}
{% set meta_description = ''%}
{% set header_style = 'transparent light' %}

{% block main %}

<main>
  <section class="cta">
    <div class="container">
      <h1>Ionic Powers Startups</h1>
      <p>Ionic helps some of the world's fastest growing startups turn their vision into reality with stunning cross platform app experiences, powered by open web technology.</p>
      <div class="cta__buttons">
        <a href="#" class="btn">Start with Framework</a>
        <a href="#" class="btn btn--secondary">Scale with Pro</a>
      </div>
    </div>
  </section>

  <section class="video">
    <div class="video-player">
      <svg class="video-player-button" viewBox="0 0 278 278">
        <title>Play Video</title>
        <g fill="none" fill-rule="evenodd">
          <circle fill="#FAFAFA" cx="139" cy="139" r="139"/>
          <path d="M186.816 139.258l-74 48c-.998.648-2.316-.068-2.316-1.258V90c0-1.19 1.318-1.906 2.316-1.258l74 48a1.5 1.5 0 0 1 0 2.516z" fill="#9BA4B3" fill-rule="nonzero"/>
        </g>
      </svg>
      <div class="video-player-frame">
        <div class="js-video-target" data-youtube-id="ZB5lQTP987s"></div>
      </div>
    </div>
  </section>

  <section class="quotes">
    <div class="quotes__quote joule">
      <div class="quotes__content">
        <div class="quotes__logo joule" title="Joule"></div>
        <blockquote>
          <p>&ldquo;The Ionic team has built an incredible platform for mobile app development, and it forms the bedrock of the Joule app.&rdquo;</p>
          <small>Ryan Miller <span>Mobile Engineer</span></small>
        </blockquote>
      </div>
    </div>
    <div class="quotes__quote comichaus">
      <div class="quotes__content">
        <div class="quotes__logo comichaus" title="Comichaus"></div>
        <blockquote>
          <p>&ldquo;Ionic enabled us to deploy to iOS and Android on both handsets and tablets at a reduced cost of build compared to building it natively for each platform.&rdquo;</p>
          <small>Peter Ward-Edwards <span>Director</span></small>
        </blockquote>
      </div>
    </div>
  </section>

  <section class="quotes">
    <div class="quotes__quote pacifica">
      <div class="quotes__content">
        <div class="quotes__logo pacifica" title="Pacifica"></div>

        <blockquote>
          <p>&ldquo;There is no way we would have launch with both iOS and Android as quickly as we did if we went native. Ionic allows to constantly improve the app quickly.&rdquo;</p>
          <small>Dale Beerman <span>Co-Founder, CEO</span></small>
        </blockquote>
      </div>
    </div>
    <div class="quotes__quote natural-cycles">
      <div class="quotes__content">
        <div class="quotes__logo natural-cycles" title="Natural Cycles"></div>
        <blockquote>
          <p>&ldquo;Ionic helped us scale our app user base to 650,000 users, and reach 3 platforms at once without compromise in quality: iOS, Android, and the Web.&rdquo;</p>
          <small>Kirill Katalevsky <span>Head of Engineering</span></small>
        </blockquote>
      </div>
    </div>
  </section>
</main>

{% endblock %}

{% block scripts %}

<script async src="https://www.youtube.com/iframe_api"></script>
<script>
  (function() {
    const videoPlayer = document.querySelector('.video-player');
    const iframeTarget = document.querySelector('.js-video-target');

    function onYouTubeReady() {
      videoPlayer.classList.add('is-ready');
      videoPlayer.addEventListener('click', onPlayerClick);
    }

    function onPlayerClick() {
      videoPlayer.classList.add('is-playing');
      new YT.Player(iframeTarget, {
        height: '1164',
        width: '1800',
        videoId: 'ZB5lQTP987s',
        events: {
          'onReady': onPlayerReady
        },
        playerParams: {
          color: 'white',
          enablejsapi: 1,
          modestbranding: 1,
          rel: 0,
          showinfo: 0
        }
      });
    }

    function onPlayerReady(e) {
      e.target.playVideo();
    }

    window.onYouTubeIframeAPIReady = onYouTubeReady;
  })();
</script>

{% endblock %}
