{% extends '_layouts/blank.html' %}

{% block scripts %}
<script>
  (function (t, e, s, n) {
    var o, a, c;
    (t.SMCX = t.SMCX || []),
      e.getElementById(n) ||
        ((o = e.getElementsByTagName(s)),
        (a = o[o.length - 1]),
        (c = e.createElement(s)),
        (c.type = "text/javascript"),
        (c.async = !0),
        (c.id = n),
        (c.src =
          "https://widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgdxm4Ha670b7ZvVwzlmytSfD5mBjTC6c3L5L0eYW34nPA.js"),
        a.parentNode.insertBefore(c, a));
  })(window, document, "script", "smcx-sdk");
</script>
{% endblock %}
