{% extends "_layouts/base.html" %}
{% set id = 'strategy-session' %}
{% set meta_description = "Book a strategy session with one of Ionic's solution architects to help kickstarter your organizations mobile development." %}
{% import "_includes/macros.html" as macros %}

{% block main %}
<div class="cta demo-cta gradient" ng-init="period = 'monthly'">
  <div class="container">
    <img class="demo-cta__icon" src="/img/demo/demo-icon.png">
    <hgroup>
      <h1>Let's Talk Strategy</h1>
      <p>Connect with one of our app strategists for a tailored discussion on how Ionic can jumpstart your app dev strategy.</p>
    </hgroup>
  </div>
</div>

<main class="container demo-form">
  <div class="demo-form__box hubspot-override">
    <script charset="utf-8"
            type="text/javascript"
            src="https://js.hsforms.net/forms/v2.js"></script>
    <script>
      hbspt.forms.create({
        portalId: '3776657',
        formId: '4e2c7c3c-626a-45d6-9ec8-927a41f6fc68'
      });
    </script>

  </div>
  <aside class="demo-form__aside">
    <p>See how Ionic has helped the world's smartest companies</p>
    <ul>
      <li>It has never been easier: one codebase, one user experience, running everywhere</li>
      <li>Empower teams with web tech they already know and love</li>
      <li>Build for the future, where the web is the platform</li>
    </ul>
  </aside>
</main>
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}
