{% extends '_layouts/base.html' %}
{% set title = "Subscribe to the Ionic Newsletter" %}
{% set id = "subscribe" %}
{% set header_style = 'transparent' %}
{% set pre_footer = false %}
{% set cssPath = 'subscribe' %}

{% block main %}

<div class="cta banner">
  <hgroup class="container">
    <h2>Sign up for our newsletter to get the latest from Ionic</h2>
    <p>
      The Ionic Newsletter is a monthly newsletter of the lastest from Ionic as
      well as the open source and hybrid development communities. Hear from
      featured guests about how to build your best apps and keep your users 
      happy.
    </p>
  </hgroup>
</div>

<div class="container subscribe">
    <img src="/img/ionic-dev-newsletter-logo.png" />
  <ionic-newsletter-signup></ionic-newsletter-signup>
</div>

{% endblock %}
