{% extends "_layouts/base.html" %} {% set id = 'team' %} {% set title = 'Get to
Know the Team Behind Ionic' %} {% import "_includes/macros.html" as macros %} {%
set cssPath = 'team' %} {% block main %}
<div class="cta banner">
  <hgroup class="container">
    <h1>The team</h1>
    <p>Get to know the team behind Ionic</p>
  </hgroup>
  <div class="bar tabbed" data-spy="affix" data-offset-top="375">
    <div class="container" id="discover-nav" offset="-400">
      <ul class="categories nav">
        <li><a class="about" href="https://ionic.io/about">About Us</a></li>
        <li><a class="values" href="/values">Values</a></li>
        <li><a class="active team" href="/team">Our Team</a></li>
        <li><a class="jobs" href="/jobs">Jobs</a></li>
        <li><a class="contact" href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>

<hgroup class="container made-of">
  <h3>What we’re made of</h3>
  <p class="lg strong">
    We are a devoted group of creative designers, coders, writers, thinkers, and
    tinkerers building amazing experiences for others. This stuff is our
    passion, and we like to think we have a knack for it. We hope you do, too.
  </p>
</hgroup>

<section class="container employees">
  {% for e in employees %} {{ macros.employee(e) }} {% endfor %} {% if
  employees.length % 4 != 0 %}
  <a class="employee apply" href="/jobs">
    <img class="avatar" src="/img/team/apply.jpg" />
    <hgroup>
      <h4>You?</h4>
      <p class="blue">Check openings</p>
    </hgroup>
  </a>
  {% endif %}
</section>

<div class="hero text-center">
  <hgroup class="container">
    <h3>Help us build the mobile platform of the future.</h3>
    <p><a href="/jobs" class="btn white">See available openings</a></p>
  </hgroup>
</div>

{% endblock %}
