{% extends "_layouts/base.html" %}
{% set id = 'trusted-partners' %}
{% set title = 'Trusted Ionic Partners - Ionic App Development Partners' %}
{% set bodyController = 'trustedPartnersCtrl' %}
{% set meta_description = "Ionic Trusted Partners are certified consulting agencies that we connect with businesses looking to jumpstart their Ionic app development." %}
{% set cssPath = 'trusted-partners' %}
{% set stickyNav = true %}

{% import "_includes/macros.html" as macros %}

{% block body_attributes %}
   ng-click="deselect()"
{% endblock %}

{% block main %}
<div class="banner cta">
  <hgroup class="container">
    {% if notification %}
      <h2 class="text-center {{notificationClass}}">
        {{ notification }}
      </h2>
    {% endif %}
    <h1>Supercharge your apps with <strong>Trusted Partners</strong></h1>
    <p>
      Ionic <strong>Trusted Partners</strong> are certified consulting agencies
      that we connect with businesses looking to jumpstart their Ionic app
      development.
    </p>
    <button class="btn rounded white"
            onclick="$('html, body').animate({scrollTop: $('#partners').offset().top + 'px'});">
            Find a Trusted Partner
    </button>
    <p class="sm">
      Or <a data-toggle="modal" data-target="#applicationForm">apply</a> to
      become one.
    </p>
  </hgroup>
</div>

<div class="perks">
  <div class="container">
    <hgroup class="text-center">
      <h3>
        Your custom <strong>apps</strong>. Built by <strong>pros</strong>.
        Vetted by <strong>Ionic</strong>.
      </h3>
      <p class="lg">
        Boost your Ionic app development and deliver better mobile apps, faster.
      </p>
    </hgroup>
    <div class="list">
      <div class="item pros">
        <h4>Connect with pros</h4>
        <p>
          Let Ionic help you connect with the perfect partner to build your
          mobile apps.
        </p>
      </div>
      <div class="item quality">
        <h4>Ensure quality</h4>
        <p>
          All our Trusted Partners have experience building Ionic apps, approved
          by us.
        </p>
      </div>
      <div class="item platforms">
        <h4>Go cross-platform</h4>
        <p>
          Why manage multiple codebases? Ionic apps are one codebase, for all
          platforms.
        </p>
      </div>
    </div>
  </div>
</div>

<section class="partners" id="partners">
  <div class="map" id="partner-map">
    <ul class="dots container">
      {% for tp in trustedPartners %}
        <li style="left:{{tp.coordinates[0]}}%; top:{{tp.coordinates[1]}}%;"
            class="{{tp.slug}}">
          <div class="box
                      {{tp.slug}}
                      {% if tp.coordinates[0] > 55 %} left{% endif %}
                      {% if tp.coordinates[1] > 55 %} bottom{% endif %}">
            <!-- <strong>{{tp.name}}</strong> -->
            <a class="btn ionic sm" ng-click="learnMore('{{tp.slug}}')">
              Learn more
            </a>
        </li>
      {% endfor %}
    </ul>
    <hgroup class="text-center container">
      <h3>
        Connect with a <strong>Trusted Partner</strong> for your project.
      </h3>
      <p class="lg">
        Select the right partner that fits your mobile app development needs
        best.
      </p>
    </hgroup>
  </div>
  <div class="container">
    <ul class="list" id="tp-list">
      {% for tp in trustedPartners %}
        {{ macros.trustedPartner(tp) }}
      {% endfor %}
    </ul>
  </div>
</div>
<div class="bar hero text-center">
  <hgroup class="container">
    <h3>Does your business build Ionic apps professionally?</h3>
    <a class="btn white sm" data-toggle="modal" data-target="#applicationForm">
      Apply to be a Trusted Partner
    </a>
  </hgroup>
</section>
{% endblock %}

{% block modals %}
<div id="tp-learn-more"
     class="modal collapse fade"
     tabindex="-1"
     role="dialog">
  <div class="modal-dialog" role="document" ng-class="{'flip':showContact}">
    <div class="modal-content">
      <div class="modal-body front">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span>&times;</span>
        </button>
        <aside>

        <iframe width="238"
                height="120"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
                src="https://maps.google.com/maps?amp;ie=UTF8&amp;gl=pl&amp;t=m&amp;z=12&amp;iwloc=A&amp;output=embed&q=google+maps+121+s+pinckney+madison+wi">
        </iframe>
          <a class="btn ionic"
             ng-click="showContact = true"
             ng-bind="'Connect with ' + selectedCompany"></a>
          <address>
          </address>
          <ul class="features">
          </ul>
        </aside>
        <section>
          <div class="logo"></div>
          <ul class="tablist" role="tablist">
            <li role="presentation" class="active">
              <a href="#company-info"
                 aria-controls="company-info"
                 role="tab"
                 data-toggle="tab">Company Info</a>
            </li>
            <li role="presentation" ng-show="hasCaseStudy">
              <a href="#case-studies"
                 aria-controls="case-studies"
                 role="tab"
                 data-toggle="tab">Case studies</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel"
                 class="tab-pane active"
                 id="company-info"
                 ng-bind-html="company.info">

            </div>
            <div role="tabpanel" class="tab-pane" id="case-studies">
            </div>
          </div>
        </section>
      </div>

      <div class="modal-body back">
        <button type="button"
                class="go-back"
                aria-label="go back"
                ng-click="showContact = false">
          <span class="icon ion-android-arrow-back"></span>
        </button>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span>&times;</span>
        </button>
        <hgroup class="text-center">
          <h3 ng-bind="'Get in touch with ' + selectedCompany"></h3>
          <p class="lg">
            Send us a detailed message and a sales representative will
            get back to you soon.
          </p>
        </hgroup>
        <form action="/trusted-partners"
              class="form-inline container"
              method="post"
              name="lead">
          <input class="form-control"
                 type="text"
                 name="first_name"
                 placeholder="Your first name *"
                 required>
          <input class="form-control"
                type="text"
                name="last_name"
                placeholder="Your last name *"
                required>
          <input class="form-control"
                 type="email"
                 name="email"
                 placeholder="Email *"
                 ng-model="email"
                 ng-class="{ 'invalid': contact.email.$error.email }"
                 required>
          <input class="form-control"
                 type="text"
                 name="company"
                 placeholder="Company name *"
                 required>
          <div class="select-wrapper"><select class="form-control select-helper"
                  name="employees"
                  required>
            <option value="null" disabled selected>Employees *</option>
            <option value="1-5">1-5</option>
            <option value="5-20">5-20</option>
            <option value="20-50">20-50</option>
            <option value="50-500">50-500</option>
            <option value="500-10000">500-10000</option>
            <option value="10000+">10000+</option>
          </select><div class="up"></div><div class="dn"></div></div>

          <input class="form-control"
                 type="text"
                 name="title"
                 placeholder="Job title *"
                 required>
          <div class="select-wrapper">
            <select class="form-control select-helper"
                    name="budget"
                    required>
              <option value="null" disabled selected>Budget (optional)</option>
              <option value="25000-50000">$25,000-50,000</option>
              <option value="50000-100000">$50,000-100,000</option>
              <option value="100000-250000">$100,000-250,000</option>
              <option value="250000+">$250,000+</option>
            </select>
            <div class="up"></div>
            <div class="dn"></div>
          </div>
          <input class="form-control"
                 type="tel"
                 name="phone"
                 placeholder="Phone *"
                 required>

          <textarea name="message"
                    cols="30"
                    rows="10"
                    placeholder="Tell us about you company and the app(s) you'd like to build"
                    required
                    ></textarea>

          <input type="hidden" name="form_name" value="need_trusted_partner" />
          <input type="hidden" name="selected-partner" ng-value="selectedCompany" />
          <input type="hidden" name="form" value="lead" />
          <button type="submit" class="btn ionic" value="Send message">
            Send message
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal collapse fade"
     id="applicationForm"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span>&times;</span>
        </button>
        <hgroup class="hero text-center">
          <p class="lg">
            We are currently not accepting new applications for the Trusted
            Partners program. We will reopen the application process when the
            current applications have been processed.
          </p>
          <button class="btn ionic text-center sm"
                  type="button"
                  data-dismiss="modal">
            Close
          </button>
        </hgroup>
        {# <hgroup class="hero text-center">
          <h3>Apply to be a Trusted Partner</h3>
          <p class="lg">
            Let us know about your company, the apps you've built, and why you
            are applying.
          </p>
        </hgroup>
        <form action="/trusted-partners"
              class="form-inline container"
              method="post"
              name="application">
          <input class="form-control"
                 type="text"
                 name="first_name"
                 placeholder="Your first name *"
                 required>
          <input class="form-control"
                type="text"
                name="last_name"
                placeholder="Your last name *"
                required>
          <input class="form-control"
                 type="email"
                 name="email"
                 placeholder="Email *"
                 ng-model="email"
                 ng-class="{ 'invalid': contact.email.$error.email }"
                 required>
          <input class="form-control"
                 type="text"
                 name="company"
                 placeholder="Company name *"
                 required>
          <div class="select-wrapper"><select class="form-control select-helper"
                  name="employees"
                  required>
            <option value="null" disabled selected>Employees *</option>
            <option value="1-5">1-5</option>
            <option value="5-20">5-20</option>
            <option value="20-50">20-50</option>
            <option value="50-500">50-500</option>
            <option value="500+">500+</option>
          </select><div class="up"></div><div class="dn"></div></div>
          <input class="form-control"
                 type="tel"
                 name="phone"
                 placeholder="Phone *"
                 required>
          <input class="form-control full-width"
                 type="text"
                 name="title"
                 placeholder="Job title *"
                 required>
          <textarea name="message"
                    cols="30"
                    rows="10"
                    placeholder="Please tell us about your case studies and projects with Ionic."
                    required
                    ></textarea>

          <input type="hidden" name="form_name" value="become_trusted_partner" />
          <input type="hidden" name="form" value="application" />
          <button type="submit" class="btn ionic" value="Send message">
            Send message
          </button>
        </form> #}
      </div>
    </div>
  </div>
</div>
{% endblock %}
