{% extends "_layouts/base.html" %}
{% set id = 'values' %}
{% set title = 'Ionic Core Values | About Ionic Framework' %}
{% set header_style = 'transparent light' %}

{% block main %}

<div class="cta banner">
  <hgroup class="container">
    <h1>What we believe</h1>
    <p>Our values define us, and stay with us for the long haul.</p>
  </hgroup>
  <div class="bar tabbed" data-spy="affix" data-offset-top="375">
    <div class="container" id="discover-nav" offset="-400">
      <ul class="categories nav">
        <li><a class="about" href="/about">About Us</a></li>
        <li><a class="active values" href="/values">Values</a></li>
        <li><a class="team" href="/team">Our Team</a></li>
        <li><a class="jobs" href="/jobs">Jobs</a></li>
        <li><a class="contact" href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
<dl class="container">
  <dt><span>1</span>Empower others</dt>
  <dd>
    We devote a lot of our time to work, and there’s an important reason for why
    we all do it. We are in service to others, and our work empowers the people
    who experience it. We get a kick out of making people happier and more
    successful. It gives us purpose.
  </dd>
  <dt><span>2</span>Less is more</dt>
  <dd>
    We work smarter, not longer. Our engineering prowess lets us leverage the
    full power of software in a way other teams cannot. Our software works for
    us, not the other way around. That is our advantage.
  </dd>
  <dt><span>3</span>Be authentic</dt>
  <dd>
    The best companies are built on the foundation of strong, authentic
    communication. We don’t buy fans, we don’t spam our message. We teach, we
    share, we listen. We’re an active part of the community.
  </dd>
  <dt><span>4</span>Build with empathy</dt>
  <dd>
    We care about the person on the other side of everything we create. We take
    the time to understand who they are, and how they might see the world. It
    enables us to make better products that solve real problems, for more
    people.
  </dd>
  <dt><span>5</span>Team first</dt>
  <dd>
    We’re a family. Everyone plays a uniquely important role; we don’t have room
    for rockstars. We are a respectful, collaborative, and supportive bunch, and
    our impact is maximized through trust and composition of work.
  </dd>
  <dt><span>6</span>Be worldclass</dt>
  <dd>
    We’re hyper focused on doing better, and being better, at every single thing
    we do. Heck, we want to be known for it. If we don’t know something, we
    learn it. If we need help, we ask for it. If there’s a ceiling, we break it
    - and help others break theirs. Our biggest competitor is ourselves.
  </dd>
</dl>

<div class="hero text-center">
  <hgroup class="container">
    <h3>Ionic is built by incredible people</h3>
    <p><a href="/team" class="btn white">meet the team</a></p>
  </hgroup>
</div>

{% endblock %}
