{% extends '_layouts/blank.html' %}
{% set id = 'vue' %}
{% set header_style = 'transparent' %}
{% set cssPath = 'vue' %}
{% set title = 'Build Native and Progressive Web Apps with Vue and Ionic' %}
{% set meta_image = 'https://ionicframework.com/img/meta/ionic-vue-og.png'%}
{% set meta_description = 'Cross-platform development with Vue and Ionic Framework' %}
{% set hide_pre_header = true %}

{% block main %}
<div class="header-wrapper">
  <header>
    <a href="/" class="back-button">
      <div class="arrow"><-<span> </span></div>
      Ionic Home
    </a>

    <hgroup class="container">
      <img
        src="/img/vue/logo@2x.png"
        alt="Ionic Logo"
        class="logo"
        width="116"
        height="64"
      />
      <h1>
        Build iOS & Android apps from a single codebase.
        <span class="highlight">All in Vue.</span>
      </h1>
      <div class="cta-row">
        <a
          href="https://ionicframework.com/start#vue"
          target="_blank"
          id="ionic-react-get-started-cta"
          class="primary-btn"
        >
          Start an app
          <span class="arrow"> -></span>
        </a>
        <a href="https://ionic.io/demo" id="ionic-react-live-demo-cta" class="secondary-btn">
          Live Demo
          <span class="arrow"> -></span>
        </a>
      </div>
    </hgroup>
  </header>
</div>

<nav id="sticky-bar">
  <div class="container">
    <ul class="nav" role="tablist">
      <li>
        <a class="anchor" data-offset="150" href="#components">Components</a>
      </li>
      <li><a class="anchor" data-offset="150" href="#native">Native</a></li>
      <li>
        <a class="anchor" data-offset="150" href="#samples">Sample Apps</a>
      </li>
      <li>
        <a class="anchor" data-offset="150" href="#enterprise">Enterprise</a>
      </li>
      <li>
        <a class="anchor" data-offset="150" href="#why">Why Ionic Vue?</a>
      </li>
      <li><a class="anchor" data-offset="150" href="#accolades">Love</a></li>
      <li>
        <a class="anchor try-it" data-offset="150" href="#start"
          >Try it <span class="arrow"> -></span></a
        >
      </li>
    </ul>
  </div>
</nav>

<main>
  <section class="container">
    <div id="intro">
      <article>
        <img src="/img/vue/intro/0@2x.png" alt="" width="48" height="48" />
        <h3>Vue UI Components</h3>
        <p class="p3">
          Ionic Vue combines the core Ionic UI Components, gestures, and
          animiations with the tooling and APIs that are tailored to Vue
          Developers.
        </p>
      </article>
      <article>
        <img src="/img/vue/intro/1@2x.png" alt="" width="52" height="48" />
        <h3>Familiar tooling</h3>
        <p class="p3">
          Ionic Vue apps ship with the same tooling and APIs as regular Vue CLI
          projects. Starter apps also ship with new features like Routing and
          TypeScript support.
        </p>
      </article>
      <article>
        <img src="/img/vue/intro/2@2x.png" alt="" width="48" height="48" />
        <h3>Completely cross-platform</h3>
        <p class="p3">
          Capacitor is the official cross-platform app runtime used to make your
          Ionic Vue web app run natively on iOS, Android, and the Web—all from
          the same code base.
        </p>
      </article>
    </div>
  </section>

  <section class="container">
    <div id="components">
      <hgroup>
        <h2>100+ Beautiful Vue Components</h2>
        <p class="p2">
          Vue-optimized mobile and web components for building blazing fast
          mobile, web, and desktop apps. Ionic Vue comes with more
          out-of-the-box controls than native, accelerating custom app design.
        </p>
        <ul id="components-list" class="components-list">
          <li data-type="card" class="selected">
            <div class="icon">
              <svg
                width="30"
                height="26"
                viewBox="0 0 30 26"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="1"
                  y="1"
                  width="28"
                  height="24"
                  rx="4"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M7 7H15"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M7 11H21"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="title"><span class="word">Cards</span></div>
          </li>
          <li data-type="lists">
            <div class="icon">
              <svg
                width="32"
                height="22"
                viewBox="0 0 32 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.5 20H31"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M2 19C2.55228 19 3 19.4477 3 20C3 20.5523 2.55228 21 2 21C1.44772 21 1 20.5523 1 20C1 19.4477 1.44772 19 2 19Z"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M8.5 11H31"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M2 10C2.55228 10 3 10.4477 3 11C3 11.5523 2.55228 12 2 12C1.44772 12 1 11.5523 1 11C1 10.4477 1.44772 10 2 10Z"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M8.5 2H31"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M2 1C2.55228 1 3 1.44772 3 2C3 2.55228 2.55228 3 2 3C1.44772 3 1 2.55228 1 2C1 1.44772 1.44772 1 2 1Z"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="title"><span class="word">Lists</span></div>
          </li>
          <li data-type="actionSheet">
            <div class="icon">
              <svg
                width="30"
                height="26"
                viewBox="0 0 30 26"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 1V19C1 22.3137 3.68629 25 7 25H23C26.3137 25 29 22.3137 29 19V1"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M2 5H29"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6 10H14"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6 15H23"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6 20H19"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="title"><span class="word">Action Sheet</span></div>
          </li>
        </ul>
      </hgroup>
      <vue-components></vue-components>
    </div>
  </section>

  <section class="container">
    <div id="native">
      <div class="wrapper">
        <react-capacitor></react-capacitor>
        <hgroup>
          <h2>Build once, run natively on iOS, Android, & the Web.</h2>
          <p class="p2">
            Ionic Vue apps use the
            <a class="highlight" href="capacitorjs.com">Capacitor</a> project
            (instead of Cordova) to unlock every native API across iOS, Android,
            Electron, and Web.
          </p>
          <ul id="native-list" class="components-list">
            <li data-type="camera" class="selected">
              <div class="icon">
                <svg
                  width="30"
                  height="26"
                  viewBox="0 0 30 26"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M21.3633 4.951L19.5715 1.7965C19.1939 1.306 18.6763 1 18.0962 1H11.9038C11.3237 1 10.8061 1.306 10.4285 1.7965L8.63673 4.951C8.25913 5.44225 7.7725 5.8 7.19231 5.8H3.15385C2.58261 5.8 2.03477 6.05286 1.63085 6.50294C1.22692 6.95303 1 7.56348 1 8.2V22.6C1 23.2365 1.22692 23.847 1.63085 24.2971C2.03477 24.7471 2.58261 25 3.15385 25H26.8462C27.4174 25 27.9652 24.7471 28.3692 24.2971C28.7731 23.847 29 23.2365 29 22.6V8.2C29 7.56348 28.7731 6.95303 28.3692 6.50294C27.9652 6.05286 27.4174 5.8 26.8462 5.8H22.875C22.2928 5.8 21.7409 5.44225 21.3633 4.951Z"
                    stroke="black"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M15 20C17.7614 20 20 17.7614 20 15C20 12.2386 17.7614 10 15 10C12.2386 10 10 12.2386 10 15C10 17.7614 12.2386 20 15 20Z"
                    stroke="black"
                    stroke-width="2"
                    stroke-miterlimit="10"
                  />
                  <path
                    d="M6.11467 5.2625V3.75H4.49928V5.2625"
                    stroke="black"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="title"><span class="word">Camera</span></div>
            </li>
            <li data-type="notifications">
              <div class="icon">
                <svg
                  width="30"
                  height="30"
                  viewBox="0 0 30 30"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M27 13V23C27 26.3137 24.3137 29 21 29H7C3.68629 29 1 26.3137 1 23V9C1 5.68629 3.68629 3 7 3H17"
                    stroke="black"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <circle
                    cx="25"
                    cy="5"
                    r="4"
                    transform="rotate(-180 25 5)"
                    stroke="black"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="title"><span class="word">Notifications</span></div>
            </li>
            <li data-type="geolocation">
              <div class="icon">
                <svg
                  width="26"
                  height="34"
                  viewBox="0 0 26 34"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13 1C6.375 1 1 5.72254 1 11.539C1 21 9 28.8375 11.9375 32.5008C12.0594 32.6554 12.2192 32.7813 12.4039 32.868C12.5886 32.9548 12.7928 33 13 33C13.2072 33 13.4115 32.9548 13.5961 32.868C13.7808 32.7813 13.9406 32.6554 14.0625 32.5008C17 28.8391 25 20.5556 25 11.539C25 5.72254 19.625 1 13 1Z"
                    stroke="black"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13 16.4074C15.2091 16.4074 17 14.6166 17 12.4074C17 10.1983 15.2091 8.40742 13 8.40742C10.7909 8.40742 9 10.1983 9 12.4074C9 14.6166 10.7909 16.4074 13 16.4074Z"
                    stroke="black"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="title"><span class="word">Geolocation</span></div>
            </li>
          </ul>
        </hgroup>
      </div>
    </div>
  </section>

  <section class="container">
    <div id="samples">
      <hgroup>
        <h2>Try an Ionic Vue sample app.</h2>
        <p class="p2">
          One of the best ways to get started and learn best practices is to
          explore a sample app.
        </p>
      </hgroup>
      <div class="features">
        <div class="feature">
          <img
            loading="lazy"
            width="616"
            height="560"
            src="/img/vue/samples/0@2x.png"
            alt="iphone popup asking if app can access camera"
          />
          <h3>Photo Gallery App</h3>
          <p class="p3">
            A tour of everything Ionic Vue has to offer. Take photos with your
            device's camera and store them permanently on the device.
          </p>
          <a
            class="try-it"
            href="https://ionicframework.com/docs/vue/your-first-app"
            target="_blank"
            rel="noopener"
          >
            Try it
            <span class="arrow"> -></span>
          </a>
        </div>
        <div class="feature">
          <img
            loading="lazy"
            width="616"
            height="560"
            src="/img/vue/samples/1@2x.png"
            alt="phone app screen"
          />
          <h3>Car Leasing Template</h3>
          <p class="p3">
            A nicely designed Car Leasing starter template built by Ionic
            community member, Simo Mafuxwana.
          </p>
          <a
            class="try-it"
            href="https://github.com/dlodeprojuicer/ionic-vue-mobile-template-03"
            target="_blank"
            rel="noopener"
          >
            Try it <span class="arrow"> -></span>
          </a>
        </div>
        <div class="feature">
          <img
            loading="lazy"
            width="616"
            height="560"
            src="/img/vue/samples/2@2x.png"
            alt="phone app displaying list"
          />
          <h3>Memory Capture App</h3>
          <p class="p3">
            Capture memories from your travels. Learn how to build it by
            following along with the in-depth tutorial video.
          </p>
          <a
            class="try-it"
            href="https://github.com/academind/ionic-vue-getting-started"
            target="_blank"
            rel="noopener"
          >
            Try it
            <span class="arrow"> -></span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <div id="enterprise">
      <div class="graphics">
        <img
          src="/img/vue/enterprise/0@2x.png"
          loading="lazy"
          width="568"
          height="568"
          alt="Ionic Vue for Enterprise"
        />
      </div>
      <hgroup>
        <h2>Ionic Vue for Enterprise.</h2>
        <p class="p2">
          Enterprise-ready integrations, tools, and expert support for you next
          mission-critical app project. Unlock powerful features like secure
          identity, encrypted offline storage, cloud builds, and real-time hot
          code app deployments..
        </p>
        <a
          class="primary-btn"
          id="ionic-react-enterprise-cta"
          href="https://ionicframework.com/enterprise"
          target="_blank"
        >
          Learn more
          <span class="arrow"> -></span>
        </a>
      </hgroup>
    </div>
  </section>

  <section class="container">
    <div id="why">
      <hgroup>
        <h2>Why build with Ionic Vue?</h2>
        <p class="p2">
          Ionic Vue offers Vue-optimized mobile and web components for building
          blazing fast mobile, web, and desktop apps.
        </p>
      </hgroup>
      <div class="features">
        <div class="feature">
          <div class="image">
            <img
              src="/img/vue/why/0@2x.png"
              loading="lazy"
              width="56"
              height="56"
              alt="vue icon"
            />
          </div>

          <h3>It's just Vue</h3>
          <p class="p3">
            Ionic Vue combines the core Ionic developer experience with the
            tooling and APIs that are tailored to Vue Developers.
          </p>
        </div>
        <div class="feature">
          <div class="image">
            <img
              src="/img/vue/why/1@2x.png"
              loading="lazy"
              width="56"
              height="56"
              alt="pwa icon"
            />
          </div>

          <h3>First-class PWA</h3>
          <p class="p3">
            Ionic Vue components work anywhere, including iOS, Android, and
            PWAs. Build native apps without every leaving the Web.
          </p>
        </div>
        <div class="feature">
          <div class="image">
            <img
              src="/img/vue/why/2@2x.png"
              loading="lazy"
              width="56"
              height="52"
              alt="browser icon"
            />
          </div>

          <h3>Build in the Browser</h3>
          <p class="p3">
            First-class browser development support means you can build a
            significant portion of your app right in Chrome, then integrate and
            test on mobile devices when ready.
          </p>
        </div>
        <div class="feature">
          <div class="image">
            <img
              src="/img/vue/why/3@2x.png"
              loading="lazy"
              width="50"
              height="54"
              alt="building icon"
            />
          </div>

          <h3>Enterprise-ready</h3>
          <p class="p3">
            Ionic Vue is supported by a company dedicated to enterprise app dev,
            with supported native plugins, DevOps, expert services, and more.
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="container" id="accolades">
    <h2>What People are Saying</h2>
    <p class="p2">Don’t just take our word for it.</p>
    <div id="tweets" class="tweets">
      <div id="tweet-share" class="tweet-share tweet">
        <h4>Love Ionic Vue?</h4>
        <a
          target="_blank"
          href="http://twitter.com/share?text=Check out Ionic Vue to build native mobile and Progressive Web Apps with Vue&url=https://ionicframework.com/vue&via=ionicframework"
        >
          Let us know on Twitter
        </a>
      </div>
    </div>
  </div>

  <section class="container">
    <div id="start">
      <div class="wrapper">
        <div class="inside-wrapper">
          <hgroup>
            <h2>Get Started with Ionic Vue</h2>
            <p class="p2">Start building better apps faster, all in Vue</p>
          </hgroup>
          <div class="code">
            <pre><code>
npm install -g @ionic/cli
ionic start --type=vue
      </code></pre>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% include '_includes/footer.html' %}

{% endblock %}

{% block scripts %}
<script>
  $("#components-list li").click(function () {
    const type = $(this).attr("data-type");
    $("vue-components").prop("component", type);
    $("#components-list li").removeClass("selected");
    $(this).addClass("selected");
  });
  $("#native-list li").click(function () {
    const type = $(this).attr("data-type");
    $("react-capacitor").prop("tab", type);
    $("#native-list li").removeClass("selected");
    $(this).addClass("selected");
  });
  const tweets = [
    {
      author_username: "maxedapps",
      author_name: "Maximilian Schwarzmüller",
      date: "November 2020",
      avatar: "/img/vue/twitter-profile-pictures/maxedapps.jpg",
      link: "https://twitter.com/maxedapps/status/1323298624147726337",
      content: `It's awesome! Building cross-platform apps has always been amazing with Ionic (and Capacitor) but Vue being Vue, it's of course super smooth and straightforward. You and the entire team really did an amazing job with Ionic/ Capacitor as well as the Vue bindings for Ionic.`,
    },
    {
      author_username: "IT_MikeS",
      author_name: "Mike Summerfeldt",
      date: "October 2020",
      avatar: "/img/vue/twitter-profile-pictures/IT_MikeS.jpg",
      link: "https://twitter.com/IT_MikeS/status/1313638008374132736",
      content: `For me it's the sheer flexibility of vue. I love react because of how small it can be, and I love angular because it's ecosystem just works, vue does both so I choose vue. Ionic Vue is the icing on top of this custom cake, where I can use robust ui elements with it all. 🎂🍰🍮`,
    },
    {
      author_username: "sarah_edo",
      author_name: "Sarah Drasner",
      date: "November 2020",
      avatar: "/img/vue/twitter-profile-pictures/sarah_edo.jpg",
      link: "https://twitter.com/sarah_edo/status/1325477797670789120",
      content: `I feel like I can be productive today! Whew. Thinking about learning some Ionic and Vue for native development, checking out these great examples by @dlodeprojuicer.`,
    },
    {
      author_username: "26th_edmund",
      author_name: "Edmund Ekott",
      date: "November 2020",
      avatar: "/img/vue/twitter-profile-pictures/26th_edmund.jpg",
      link: "https://twitter.com/26th_edmund/status/1329198301007269888",
      content: `Ionic Vue!!!!!! 🔥🔥🔥🔥🔥🔥`,
    },
    {
      author_username: "olidotjpg",
      author_name: "Oli.jpg",
      date: "October 2020",
      avatar: "/img/vue/twitter-profile-pictures/olidot.jpg",
      link: "https://twitter.com/olidotjpg/status/1320745944149839876",
      content: `Seriously, I can't get over how amazing @Ionicframework is for making mobile apps. The workflow is so damn smooth and feels so gooood`,
    },
  ];

  const tweetsList = $("#tweets");
  tweets.forEach((t) =>
    $(`
  <div class="tweet">
    <div class="tweet-author">
      <div class="tweet-author-avatar">
        <img src="${t.avatar}" loading="lazy"/>
      </div>
      <div class="tweet-author-info">
        <h3><a href="https://twitter.com/${t.author_username}">${t.author_name}</a></h3>
        <h5><a href="https://twitter.com/${t.author_username}">@${t.author_username}</a></h5>
      </div>
      <div class="tweet-twitter-icon"></div>
    </div>
    <div class="tweet-content">
      ${t.content}
    </div>
    <div class="tweet-footer">
      <div class="tweet-date">${t.date}</div>
      <div class="tweet-view"><a target="_blank" href="${t.link}">View Tweet</a></div>
    </div>
  </div>
  `).insertBefore("#tweet-share")
  );

  // Hubspot event tracking
  var _hsq = (window._hsq = window._hsq || []);
  _hsq.push(["trackEvent", { id: "Viewed_Vue_Landing" }]);
</script>
{% endblock %}
