{% extends '_layouts/blank.html' %}
{% set id = 'x' %}
{% set header_style = 'transparent' %}
{% set cssPath = 'x' %}
{% set title = 'Ionic X: Coming Soon'%}
{# {% set meta_image = ''%} #}
{# {% set meta_description = ''%} #}
{% set hide_pre_header = true %}


{% block main %}
<header>
  <hgroup class="container">
    <img src="/img/x/logo.png" alt="Ionic Logo" class="logo">
    <h1>Developer friendly low-code app creation.</h1>
    <p>Build & ship native mobile apps & PWAs in a fraction of the time, with open web tech and limitless control.</p>
    <div class="hubspot-override hubspot-override--large">
      <!--[if lte IE 8]>
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
      <![endif]-->
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
      <script>
        hbspt.forms.create({
          portalId: "3776657",
          formId: "cf56f622-dbdb-4b82-a30b-7f5e066d877f",
          css: ""
      });
      </script>
    </div>
  </hgroup>
</header>

<main>
  <div class="container hero">
    <img src="/img/x/preview.png" alt="Ionic X Preview">
  </div>

  <section id="uncompromising" class="center">
    <div class="container">
      <hgroup>
        <h2>Uncompromised digital experiences.</h2>
        <p>Meet the demand for digital experiences, without compromising on developer experience or the need for open standards.</p>
      </hgroup>

      <ul class="items">
        <li>
          <img src="/img/x/ico-backlog.png" alt="Checklist Icon" width="48">
          <h4>Tackle the app backlog</h4>
          <p>Accelerate development by building data-driven apps in minutes, without writing a single line of code.</p>
        </li>
        <li>
          <img src="/img/x/ico-talent.png" alt="People Icon" width="48">
          <h4>Empower your existing talent</h4>
          <p>Turn your in-house engineers and web developers into super-powered app creators.</p>
        </li>
        <li>
          <img src="/img/x/ico-control.png" alt="Settings Icon" width="48">
          <h4>Unlocked power and control</h4>
          <p>The only dev-friendly platform that embraces open standards and gives you full control without limits.</p>
        </li>
      </ul>
    </div>
  </section>

  <section id="create" class="left">
    <div class="container">
      <hgroup>
        <h2>Create stunning mobile apps and PWAs in minutes.</h2>
        <p>Supercharge app development with a powerful visual app builder. Drag and drop over 100 mobile-optimized UI components and design patterns to quickly create stunning app experiences.</p>
        <a href="#schedule" class="more anchor">Get a demo <ion-icon name="ios-arrow-forward"></ion-icon></a>
      </hgroup>
      <img src="/img/x/drag-drop.png" alt="Drag and Drop app Creation" class="graphics">
    </div>
  </section>

  <section id="data" class="right">
    <div class="container">
      <hgroup>
        <h2>Connect to your existing data. Without code.</h2>
        <p>Integrate with your existing data sources and dynamically bind data objects and properties to your UI. No need to write or host your own API end points. Securely connect to any relational database, and we take care of the rest.</p>
        <a href="#schedule" class="more anchor">Get a demo <ion-icon name="ios-arrow-forward"></ion-icon></a>
      </hgroup>
      <img src="/img/x/data-connector.png" alt="Control your data visually" class="graphics">
    </div>
  </section>

  <section id="ide" class="left">
    <div class="container">
      <hgroup>
        <h2>Full code access. Only when you want it.</h2>
        <p>Customize every aspect of your project. Your code is always the source of truth. Use built-in code editing features, or work outside of the tool in your text editor of choice.</p>
        <a href="#schedule" class="more anchor">Get a demo <ion-icon name="ios-arrow-forward"></ion-icon></a>
      </hgroup>
      <img src="/img/x/ide.png" alt="" class="graphics">
    </div>
  </section>

  <section id="ci" class="right">
    <div class="container">
      <hgroup>
        <h2>Continuously ship new features and live app updates.</h2>
        <p>Deploy to native iOS, Android, and the web as a ProgressiveWeb App (PWA), all from the same codebase. Push to App Stores directly from the cloud, automate app builds, and send live updates directly to your users.</p>
        <a href="#schedule" class="more anchor">Get a demo <ion-icon name="ios-arrow-forward"></ion-icon></a>
      </hgroup>
      <img src="/img/x/live-updates.png" alt="" class="graphics">
    </div>
  </section>

  <div class="bar">
    <div class="container">
      <h2>Backed by a global developer community</h2>
      <ul>
        <li><strong>5 M +</strong>Developers</li>
        <li><strong>100 +</strong>Global Meetups</li>
        <li><strong>200 +</strong>Countries</li>
        <li><strong>5 M +</strong>App Built</li>
      </ul>
    </div>
  </div>

  <section class="center">
    <div class="container">
      <hgroup>
        <h2>A complete app platform</h2>
        <p>Ionic X gives you everything you need to continuously build, connect, and deploy award-winning apps.</p>
      </hgroup>
      <ul class="items">
        <li>
          <img src="/img/x/ico-wysiwyg.png" alt="Drag and Drop Icon" width="48"/>
          <h4>Visual App Builder</h4>
          <p>Combines drag-and-drop visual app building with full code control and unlimited customizations.</p>
        </li>
        <li>
          <img src="/img/x/ico-ui.png" alt="UI Toggle Icon" width="48"/>
          <h4>Mobile-Ready UI Library</h4>
          <p>Choose from over 100 mobile-ready UI components and design patterns to create rich user interactions.</p>
        </li>
        <li>
          <img src="/img/x/ico-integrations.png" alt="Layered Integrations Icon" width="48"/>
          <h4>App Integrations</h4>
          <p>Easily access native device features and third-party apps with over 250 pre-built plugins and APIs integrations. </p>
        </li>
        <li>
          <img src="/img/x/ico-data-binding.png" alt="Data Binding Icon"/ width="42">
          <h4>Dynamic Data Binding</h4>
          <p>Dynamically bind data objects and properties to your app using a GraphQL-based API, without any code.</p>
        </li>
        <li>
          <img src="/img/x/ico-data.png" alt="Secure Database Icon" width="50"/>
          <h4>Data Access Control</h4>
          <p>Control read and update access to data inside your app by integrating with your existing identity provider.</p>
        </li>
        <li>
          <img src="/img/x/ico-security.png" alt="Security Icon"/ width="48">
          <h4>Built-In Security</h4>
          <p>Add secure biometrics authentication, encrypted storage, and single sign-on, ready to deploy in minutes.</p>
        </li>
        <li>
          <img src="/img/x/ico-push.png" alt="Upload Icon" width="38"/>
          <h4>Push to App Stores</h4>
          <p>Publish directly to the Apple App Store and Google Play Store, directly from your cloud dashboard.</p>
        </li>
        <li>
          <img src="/img/x/ico-updates.png" alt="Dwonload Icon" width="38"/>
          <h4>Live App Updates</h4>
          <p>Push live updates and bug fixes directly to your users, instantly, without waiting for app store or MDM approval.</p>
        </li>
        <li>
          <img src="/img/x/ico-expert.png" alt="Idea Icon" width="34"/>
          <h4>Expert Services</h4>
          <p>Your app creation partner. Ionic's mobile experts are here to help your team through every phase of the app lifecycle.</p>
        </li>
      </ul>
    </div>
  </section>

  <div id="what-you-got">
    <div class="container">
      <h2>What you get</h2>
      <ul class="checkmark-list checkmark-list--split">
        <li>Visual app builder</li>
        <li>Cloud app management</li>
        <li>100+ mobile-ready UI components</li>
        <li>Push to app stores</li>
        <li>Full code editor</li>
        <li>Live app updating</li>
        <li>Dynamic data binding</li>
        <li>CI/CD automation</li>
        <li>Data access control</li>
        <li>Pre-built security &amp; storage</li>
        <li>Native &amp; 3rd-party integrations</li>
        <li>Expert support &amp; services</li>
      </ul>
    </div>
  </div>
</main>

<div id="schedule">
  <div class="container">
    <div class="expander">
      <hgroup>
        <h2>Mobile apps, the easy way.</h2>
        <h5>Schedule a demo of Ionic X.</h5>
        <div class="hubspot-override hubspot-override--large">
          <script>
            hbspt.forms.create({
              portalId: "3776657",
              formId: "cf56f622-dbdb-4b82-a30b-7f5e066d877f",
              css: ""
          });
          </script>
        </div>
      </hgroup>
      <img src="/img/x/make-it-easy.png" class="graphics"/>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <img src="/img/x/logo-white.png" alt="Ionic Logo - White" class="logo">
    <hgroup>
      <h3>About Ionic</h3>
      <p>Ionic helps entrepreneurs and enterprises build high-performance mobile and Progressive Web Apps that look and feel beautiful on any platform or device. Ionic’s open source Framework and developer-friendly tools and services power apps for some of the world’s best-known brands.</p>
    </hgroup>
    <ul>
      <li>
        <a href="/about">
          About us <ion-icon name="ios-arrow-forward"></ion-icon>
        </a>
      </li>
      <li>
        <a href="/customers">
          Customers <ion-icon name="ios-arrow-forward"></ion-icon>
        </a>
      </li>
      <li>
        <a href="/community">
          Community <ion-icon name="ios-arrow-forward"></ion-icon>
        </a>
      </li>
    </ul>
  </div>
</footer>

{% endblock %}

{% block modals %}

{% endblock %}

{% block scripts %}

{% endblock %}
