<footer>
  <nav class="container">
    <!--<a class="logo" href="/"></a>-->
    <ul>
      <li><strong>Company</strong></li>
      <li><a href="/about" id="btn-footer-about">About Us</a></li>
      <li><a href="/team" id="btn-footer-team">Team</a></li>
      <li><a href="/jobs" id="btn-footer-jobs">Jobs</a></li>
      <li><a href="/press" id="btn-footer-press">Press</a></li>
      <li><a href="/support" id="btn-footer-support">Support</a></li>
    </ul>
    <ul>
      <li><strong>Developers</strong></li>
      <li><a href="/getting-started" id="btn-footer-getting-started">Getting
        Started</a></li>
      <li><a href="/docs" id="btn-footer-documentation">Documentation</a></li>
      <li><a href="/docs/components" id="btn-footer-ui-components">UI
        Components</a></li>
      <li><a href="/docs/api" id="btn-footer-api-reference">API
        Reference</a></li>
      <li><a href="/docs/native" id="btn-footer-ionic-native">Ionic
        Native</a></li>
    </ul>
    <ul>
      <li><strong>Resources</strong></li>
      <li><a href="/trusted-partners" id="btn-footer-consulting-partners">
        Consulting Partners</a></li>
      <li><a href="/docs/ionicons" id="btn-footer-ionicons">Ionicons</a></li>
      <li><a href="/resources" id="btn-footer-resources-center">Resources
        Center</a></li>
      {# <li><a href="https://jobs.ionicframework.com" id="btn-footer-job-board">
        Job Board</a></li> #}
      <li><a href="https://market.ionicframework.com"
        id="btn-footer-ionic-market">Ionic Market</a></li>
    </ul>
    <ul>
      <li><strong>Contribute</strong></li>
      <li><a href="https://forum.ionicframework.com" id="btn-footer-forum">
        Community Forum</a></li>
      <li><a href="http://ionicworldwide.herokuapp.com" id="btn-footer-slack">
        Worldwide Slack</a></li>
      <li><a href="/contribute" id="btn-footer-contribute">Contribute</a></li>
      <li><a href="https://shop.ionicframework.com" id="btn-footer-shop">Ionic
        Shop</a></li>
      <li><a href="http://status.ionicframework.com" id="btn-footer-status">
        Service Status</a></li>
    </ul>
    <ul>
      <li><strong>Connect</strong></li>
      <li><a href="https://twitter.com/IonicFramework" id="btn-footer-twitter">
        Twitter</a></li>
      <li><a href="https://github.com/ionic-team/ionic" id="btn-footer-github">
        GitHub</a></li>
      <li><a href="https://www.facebook.com/ionicframework"
        id="btn-footer-facebook">Facebook</a></li>
      <li><a href="https://plus.google.com/+Ionicframework"
        id="btn-footer-google-plus">Google+</a></li>
      <li><a href="https://www.youtube.com/c/Ionicframework"
        id="btn-footer-youtube">YouTube</a></li>
    </ul>
    <ul>
      <li><strong>Products</strong></li>
      <li><a href="/framework" id="btn-footer-framework">Ionic
        Framework</a></li>
      <li><a href="/pro" id="btn-footer-cloud">Ionic Pro</a></li>
      <li><a href="/pro/creator" id="btn-footer-creator">Ionic
        Creator</a></li>
      <li><a href="/pro/view" id="btn-footer-view">Ionic View app</a></li>
      <li><a href="/enterprise" id="btn-footer-enterprise">Ionic
        Enterprise</a></li>
    </ul>
  </nav>
  <div class="signup container">
    <ionic-newsletter-signup></ionic-newsletter-signup>
    <hgroup>
      <h3>Stay in the loop!</h3>
      <p>
        Sign up to receive emails for the latest Framework updates, features,
        and news.
      </p>
    </hgroup>
  </div>
  <div class="copyright">
    <div class="container">
      <span class="left">
        &copy;2013 - 2017 Drifty Co | <a href="/tos">Terms</a>
      </span>
      <span class="right">
        Ionic Framework is licensed under <a target="_blank"
        href="https://github.com/ionic-team/ionic/blob/master/LICENSE">MIT</a>.
        Docs under <a target="_blank"
        href="https://github.com/ionic-team/ionic-site/blob/master/LICENSE">
        Apache 2</a>.
      </span>
    </div>
  </div>
</footer>
