<li class="dropdown dropdown--has-container">
  <a href="#"
     class="dropdown-toggle"
     role="button"
     aria-haspopup="true"
     aria-expanded="false">
    Platform {% include '_includes/svg/chevron-down.svg' %}
  </a>
  <ul class="dropdown-menu dropdown-menu--container" id="dropdown-platform">
    <li class=" dropdown-menu__row">
      <ul class="dropdown-menu__column dropdown-menu__sprite-child">
        <li><span class="dropdown-menu__text--l2">Products</span></li>
        <li>
          <a href="/docs" class="dropdown-menu__text--l3 icon--lg icon--framework">
            Ionic Framework
            <small>Cross-platform UI Toolkit for building apps</small>
          </a>
        </li>
        <li>
          <a href="/docs/native" class="dropdown-menu__text--l3 icon--lg icon--native">
            Ionic Native
            <small>Premium native solutions and core plugins</small>
          </a>
        </li>
        <li>
          <a href="/studio" class="dropdown-menu__text--l3 icon--lg icon--studio">
            Ionic Studio
            <small>A visual app-building environment</small>
          </a>
        </li>
        <li>
          <a href="/appflow" class="dropdown-menu__text--l3 icon--lg icon--appflow">
            Ionic Appflow
            <small>Mobile devops cloud app management</small>
          </a>
        </li>
      </ul>
  
      <ul class="dropdown-menu__column">
        <li><span class="dropdown-menu__text--l2">Services</span></li>
        <li>
          <a href="/enterprise/support" class="dropdown-menu__text--l3 icon--enterprise">
            Enterprise Support
          </a>
        </li>
        <li>
          <a href="/advisory" class="dropdown-menu__text--l3 icon--advisory">
            Advisory
          </a>
        </li>
        <li>
          <a href="/enterprise/training" class="dropdown-menu__text--l3 icon--training">
            Training
          </a>
        </li>
      </ul>
    </li>{# end .dropdown-menu__row #}
    <li>
      <a href="/pricing" class="dropdown-menu__text--l3 dropdown-menu__no-icon" id="btn-header-pricing">
        Platform Pricing
        {% include '_includes/svg/ico-forward.svg' %}
      </a>
    </li>
  </ul>{# end .dropdown-menu__container #}
</li>

<li class="dropdown dropdown--has-container">
  <a href="#"
     class="dropdown-toggle"
     role="button"
     aria-haspopup="true"
     aria-expanded="false">
      Developers {% include '_includes/svg/chevron-down.svg' %}
  </a>
  <ul class="dropdown-menu dropdown-menu--container" id="dropdown-developers">
    <li>
      <a href="https://ionicframework.com/docs" class="dropdown-menu__text--l3 icon--docs">
        Ionic Docs
        {% include '_includes/svg/ico-forward.svg' %}
      </a>
    </li>
    <li class=" dropdown-menu__row">
      <ul class="dropdown-menu__column">
        <li><span class="dropdown-menu__text--l2">Topics</span></li>
        <li>
          <a href="https://ionicframework.com/docs/installation/cli" class="dropdown-menu__text--l3 icon--installation">
            Installation
          </a>
        </li>
        <li>
          <a href="https://ionicframework.com/docs/components" class="dropdown-menu__text--l3 icon--ui-components" id="btn-header-developers-ui-components">
            UI Components
          </a>
        </li>
        <li>
          <a href="https://ionicframework.com/docs/native/" class="dropdown-menu__text--l3 icon--native-apis" id="btn-header-developers-native-plugins">
            Native APIs
          </a>
        </li>
        <li>
          <a href="https://ionicframework.com/docs/native/" class="dropdown-menu__text--l3 icon--deployment" id="btn-header-developers-native-plugins">
            Deployment
          </a>
        </li>
        <li>
          <a href="https://ionicframework.com/docs/cli" class="dropdown-menu__text--l3 icon--cli" id="btn-header-developers-setup-installation">
            CLI
          </a>
        </li>
      </ul>

      <ul class="dropdown-menu__column">
        <li><span class="dropdown-menu__text--l2">Community</span></li>
        <li>
          <a href="/community" class="dropdown-menu__text--l3 icon--hub">
            Hub
          </a>
        </li>
        <li>
          <a href="https://ionicworldwide.herokuapp.com/" class="dropdown-menu__text--l3 icon--slack">
            Slack
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UChYheBnVeCfhCmqZfCUdJQw" class="dropdown-menu__text--l3 icon--youtube">
            YouTube
          </a>
        </li>
        <li>
          <a href="https://github.com/ionic-team/ionic" class="dropdown-menu__text--l3 icon--github">
            GitHub
          </a>
        </li>
        <li>
          <a href="https://twitter.com/Ionicframework" class="dropdown-menu__text--l3 icon--twitter">
            Twitter
          </a>
        </li>
      </ul>

      <ul class="dropdown-menu__column">
        <li><span class="dropdown-menu__text--l2">Help</span></li>
        <li>
          <a href="/resources" class="dropdown-menu__text--l3 icon--resources">
            Resources
          </a>
        </li>
        <li>
          <a href="/support" class="dropdown-menu__text--l3 icon--help-center">
            Help Center
          </a>
        </li>
        <li>
          <a href="/trusted-partners" class="dropdown-menu__text--l3 icon--trusted-partners">
            Trusted Partners
          </a>
        </li>
        <li>
          <a href="https://forum.ionicframework.com/" class="dropdown-menu__text--l3 icon--forum">
            Forum
          </a>
        </li>
      </ul>
    </li>{# end .dropdown-menu__row #}
  </ul>{# end .dropdown-menu__container #}
</li>

<li class="dropdown dropdown--has-container">
  <a href="#"
     class="dropdown-toggle"
     role="button"
     aria-haspopup="true"
     aria-expanded="false">
    Enterprise {% include '_includes/svg/chevron-down.svg' %}
  </a>
  <ul class="dropdown-menu dropdown-menu--container" id="dropdown-resources">
    <li>
      <a href="/enterprise" class="dropdown-menu__text--l3 icon--enterprise">
        Ionic Enterprise
        {% include '_includes/svg/ico-forward.svg' %}
      </a>
    </li>
    <li class="dropdown-menu__row">
      <ul class="dropdown-menu__column">
        <li><span class="dropdown-menu__text--l2">Use Cases</span></li>
        <li>
          <a href="/enterprise/solutions/cross-platform" class="dropdown-menu__text--l3 icon--cross-platform-dev">
            Cross-platform dev
          </a>
        </li>
        <li>
          <a href="/pwa" class="dropdown-menu__text--l3 icon--progressive-web-apps">
            Progressive Web Apps
          </a>
        </li>
        <li>
          <a href="/appflow#automate" class="dropdown-menu__text--l3 icon--continuous-delivery">
            Continuous Delivery
          </a>
        </li>
      </ul>

      <ul class="dropdown-menu__column">
        <li><span class="dropdown-menu__text--l2">Native Solutions</span></li>
        <li>
          <a href="/identity-vault" class="dropdown-menu__text--l3 icon--biometric-sign-in">
            Biometric Sign In
          </a>
        </li>
        <li>
          <a href="/auth-connect" class="dropdown-menu__text--l3 icon--user-authentication">
            User Authentication
          </a>
        </li>
        <li>
          <a href="/offline-storage" class="dropdown-menu__text--l3 icon--offline-storage">
            Offline Storage
          </a>
        </li>
      </ul>

      <ul class="dropdown-menu__column">
        <li><span class="dropdown-menu__text--l2">For Enterprise</span></li>
        <li>
          <a href="/why-ionic" class="dropdown-menu__text--l3 icon--why-ionic">
            Why Ionic?
          </a>
        </li>
        <li>
          <a href="/enterprise/customers" class="dropdown-menu__text--l3 icon--customers">
            Customers
          </a>
        </li>
        <li>
          <a href="/enterprise/platform" class="dropdown-menu__text--l3 icon--platform">
            Platform
          </a>
        </li>
      </ul>
    </li>{# end .dropdown-menu__row #}
  </ul>{# end .dropdown-menu__container #}
</li>

<li class="{% if id.indexOf('pricing') == 0%} active{% endif %}">
  <a href="/pricing" id="btn-header-pricing">Pricing</a>
</li>

<li><a href="/blog" id="btn-header-ecosystem-blog">Blog</a></li>