<li class="dropdown dropdown--has-container">
  <a href="#"
     class="dropdown-toggle"
     data-toggle="dropdown"
     role="button"
     aria-haspopup="true"
     aria-expanded="false">
    Platform {% include '_includes/svg/chevron-down.svg' %}
  </a>
  <ul class="dropdown-menu dropdown-menu--container" id="dropdown-platform">
    <li class=" dropdown-menu__row">
      <ul class="dropdown-menu__column">
        <li><span class="dropdown-menu__text--l2">Products</span></li>
        <li>
          <a href="/docs" class="dropdown-menu__text--l3">
            Framework
          </a>
        </li>
        <li>
          <a href="/studio" class="dropdown-menu__text--l3">
            Studio
          </a>
        </li>
        <li>
          <a href="/appflow" class="dropdown-menu__text--l3">
            Appflow
          </a>
        </li>
        <li>
          <a href="/docs/native" class="dropdown-menu__text--l3">
            Native
          </a>
        </li>
      </ul>
  
      <ul class="dropdown-menu__column">
        <li><span class="dropdown-menu__text--l2">Solutions</span></li>
        <li>
          <a href="/integrations" class="dropdown-menu__text--l3">
            Integrations
          </a>
        </li>
        <li>
          <a href="/enterprise/solutions/cross-platform" class="dropdown-menu__text--l3">
            Cross Platform Apps
          </a>
        </li>
        <li>
          <a href="/enterprise/identity-vault" class="dropdown-menu__text--l3">
            Biometric Sign In
          </a>
        </li>
        <li>
          <a href="/enterprise/solutions/pwa" class="dropdown-menu__text--l3">
            Progressive Web Apps
          </a>
        </li>
      </ul>
  
      <ul class="dropdown-menu__column">
        <li><span class="dropdown-menu__text--l2">Get Help</span></li>
        <li>
          <a href="/support" class="dropdown-menu__text--l3">
            Support
          </a>
        </li>
        <li>
          <a href="/advisory" class="dropdown-menu__text--l3">
            Advisory
          </a>
        </li>
        <li>
          <a href="/enterprise/training" class="dropdown-menu__text--l3">
            Training
          </a>
        </li>
      </ul>
    </li>{# end .dropdown-menu__row #}
  </ul>{# end .dropdown-menu__container #}
</li>

<li class="dropdown dropdown--has-container">
  <a href="#"
     class="dropdown-toggle"
     data-toggle="dropdown"
     role="button"
     aria-haspopup="true"
     aria-expanded="false">
      Developers {% include '_includes/svg/chevron-down.svg' %}
  </a>
  <ul class="dropdown-menu dropdown-menu--container" id="dropdown-developers">
    <li class=" dropdown-menu__row">
      <ul class="dropdown-menu__column">
        <li>
          <a href="https://ionicframework.com/docs" class="dropdown-menu__text--l2">
            Docs {% include '_includes/svg/ico-forward.svg' %}
          </a>
        </li>
        <li>
          <a href="https://ionicframework.com/docs/installation/cli" class="dropdown-menu__text--l3">
            Installation
          </a>
        </li>
        <li>
          <a href="https://ionicframework.com/docs/components" class="dropdown-menu__text--l3" id="btn-header-developers-ui-components">
            UI Components
          </a>
        </li>
        <li>
          <a href="https://ionicframework.com/docs/native/" class="dropdown-menu__text--l3" id="btn-header-developers-native-plugins">
            Native
          </a>
        </li>
        <li>
          <a href="https://ionicframework.com/docs/cli" class="dropdown-menu__text--l3" id="btn-header-developers-setup-installation">
            CLI
          </a>
        </li>
      </ul>
  
      {#<ul class="dropdown-menu__column">
        <li><span class="dropdown-menu__text--l2">Get Started</span></li>
        <li>
          <a href="https://ionicframework.com/docs/angular/overview" class="dropdown-menu__text--l3">
            Angular
          </a>
        </li>
        <li>
          <a href="https://ionicframework.com/docs/react/overview" class="dropdown-menu__text--l3">
            React
          </a>
        </li>
        <li>
          <a href="https://ionicframework.com/docs/vue/overview" class="dropdown-menu__text--l3">
            Vue
          </a>
        </li>
        <li>
          <a href="https://ionicframework.com/docs/installation/cdn" class="dropdown-menu__text--l3">
            Javascript
          </a>
        </li>
      </ul>#}

      <ul class="dropdown-menu__column">
        <li>
          <a href="https://ionicframework.com/docs/appflow" class="dropdown-menu__text--l2">
            Appflow Docs {% include '_includes/svg/ico-forward.svg' %}
          </a>
        </li>
        <li>
          <a href="https://ionicframework.com/docs/appflow/quickstart" class="dropdown-menu__text--l3">
            Quickstart
          </a>
        </li>
        <li>
          <a href="https://ionicframework.com/docs/appflow/package/intro" class="dropdown-menu__text--l3">
            Native Builds
          </a>
        </li>
        <li>
          <a href="https://ionicframework.com/docs/appflow/deploy/intro" class="dropdown-menu__text--l3">
            Live Updating
          </a>
        </li>
        <li>
          <a href="https://ionicframework.com/docs/appflow/automation/intro" class="dropdown-menu__text--l3">
            Automation
          </a>
        </li>
      </ul>
  
      <ul class="dropdown-menu__column">
        <li><span class="dropdown-menu__text--l2">Open Source</span></li>
        <li>
          <a href="/framework" class="dropdown-menu__text--l3">
            Framework
          </a>
        </li>
        <li>
          <a href="https://stenciljs.com/" target="_blank" class="dropdown-menu__text--l3">
            Stencil
          </a>
        </li>
        <li>
          <a href="https://capacitor.ionicframework.com/" target="_blank" class="dropdown-menu__text--l3">
            Capacitor
          </a>
        </li>
      </ul>
    </li>{# end .dropdown-menu__row #}
  </ul>{# end .dropdown-menu__container #}
</li>

<li class="dropdown dropdown--has-container">
  <a href="#"
     class="dropdown-toggle"
     data-toggle="dropdown"
     role="button"
     aria-haspopup="true"
     aria-expanded="false">
    Resources {% include '_includes/svg/chevron-down.svg' %}
  </a>
  <ul class="dropdown-menu dropdown-menu--container" id="dropdown-resources">
    <li class="dropdown-menu__row">
      <ul class="dropdown-menu__column">
        <li>
          <a href="/community" class="dropdown-menu__text--l2">
            Community Hub {% include '_includes/svg/ico-forward.svg' %}
          </a>
        </li>
        <li>
          <a href="https://ionicframework.com/blog" id="btn-header-ecosystem-blog" class="dropdown-menu__text--l3">
            Blog
          </a>
        </li>
        <li>
          <a href="https://forum.ionicframework.com/" class="dropdown-menu__text--l3">
            Forum
          </a>
        </li>
        <li>
          <a href="https://ionicworldwide.herokuapp.com/" class="dropdown-menu__text--l3">
            Slack
          </a>
        </li>
        <li>
          <a href="https://twitter.com/Ionicframework" class="dropdown-menu__text--l3">
            Twitter
          </a>
        </li>
        <li>
          <a href="https://github.com/ionic-team/ionic" class="dropdown-menu__text--l3">
            GitHub
          </a>
        </li>
      </ul>

      <ul class="dropdown-menu__column">
        <li>
          <a href="/enterprise/resources" class="dropdown-menu__text--l2">
            Resource Center {% include '_includes/svg/ico-forward.svg' %}
          </a>
        </li>
        <li>
          <a href="/enterprise/resources/articles" class="dropdown-menu__text--l3">
            Articles & Whitepapers
          </a>
        </li>
        <li>
          <a href="/enterprise/resources/case-studies" class="dropdown-menu__text--l3">
            Case Studies
          </a>
        </li>
        <li>
          <a href="/enterprise/resources/webinars" class="dropdown-menu__text--l3">
            Webinars
          </a>
        </li>
        <li>
          <a href="/enterprise/resources/videos" class="dropdown-menu__text--l3">
            Videos
          </a>
        </li>
        <li>
          <a href="https://betontheweb.ionicframework.com/episodes" class="dropdown-menu__text--l3">
            Podcast
          </a>
        </li>
      </ul>

      <ul class="dropdown-menu__column">
        <li><span class="dropdown-menu__text--l2">Courses</span></li>
        <li>
          <a href="https://www.joshmorony.com/elite/" class="dropdown-menu__text--l3" target="_blank">
            Elite Ionic {% include '_includes/svg/ico-external.svg' %}
          </a>
        </li>
        <li>
          <a href="https://ionicacademy.com/" class="dropdown-menu__text--l3" target="_blank">
            Ionic Academy {% include '_includes/svg/ico-external.svg' %}
          </a>
        </li>
        <li>
          <a href="https://www.pluralsight.com/courses/ionic-cli" class="dropdown-menu__text--l3" target="_blank">
            Ionic CLI {% include '_includes/svg/ico-external.svg' %}
          </a>
        </li>
        <li>
          <a href="https://www.udemy.com/ionic-4-build-pwa-and-mobile-apps-with-angular/" class="dropdown-menu__text--l3" target="_blank">
            PWAs with Ionic {% include '_includes/svg/ico-external.svg' %}
          </a>
        </li>
        <li>
          <a href="/community#section-education" class="dropdown-menu__text--l3">
            See all...
          </a>
        </li>
      </ul>
    </li>{# end .dropdown-menu__row #}

    <li class="dropdown-menu__item">
      <a href="https://ionicframework.com/blog">
        {% include '_includes/svg/logo-blog.svg' %}
        <span>Using React Hooks in Ionic React...</span>
        {% include '_includes/svg/ico-forward.svg' %}
      </a>
    </li>
  </ul>{# end .dropdown-menu__container #}
</li>


{#<li class="dropdown dropdown--has-container" id="dropdown-pricing">
  <a href="#"
     class="dropdown-toggle"
     data-toggle="dropdown"
     role="button"
     aria-haspopup="true"
     aria-expanded="false">
    Pricing {% include '_includes/svg/chevron-down.svg' %}
  </a>
  <ul class="dropdown-menu dropdown-menu--container">
    <li class=" dropdown-menu__row">
      <ul class="dropdown-menu__column">
        <li><span class="dropdown-menu__text--l2">Pricing</span></li>
        <li>
          <a href="" class="dropdown-menu__text--l3">
            Plans
          </a>
        </li>
        <li>
          <a href="" class="dropdown-menu__text--l3">
            Comparison
          </a>
        </li>
      </ul>
  
      <ul class="dropdown-menu__column">
        <li><span class="dropdown-menu__text--l2">Buying Help</span></li>
        <li>
          <a href="" class="dropdown-menu__text--l3">
            Talk to an Expert
          </a>
        </li>
        <li>
          <a href="/demo" class="dropdown-menu__text--l3">
            Get a Demo
          </a>
        </li>
        <li>
          <a href="/sales" class="dropdown-menu__text--l3">
            Contact Sales
          </a>
        </li>
      </ul>
    </li>
  </ul>
</li>#}

<li class="{% if id.indexOf('pricing') == 0%} active{% endif %}">
  <a href="/pricing" id="btn-header-pricing">Pricing</a>
</li>

<li><a href="/enterprise">Enterprise</a></li>
