{% import "_includes/macros.html" as macros %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% if dev %}
  <link href="/css/styles.css" rel="stylesheet">
{% else %}
  <link href="/css/styles.min.css" rel="stylesheet">
{% endif %}

{% if cssPath %}
  {{ macros.pageSpecificCSS(dev, cssPath) }}
{% endif %}

{% if title %}
  <title>{{title}}</title>
{% elif 'products-' in id %}
  <title>Ionic Appflow - {{ id | replace('products-','') | title}}</title>
{% elif isEnterprise %}
  <title>Ionic for Enterprise - {{ id | replace('enterprise-','') | replace("-", " ") | title}}</title>
{% elif name %}
  <title>Ionic Framework - {{name}}</title>
{% elif id %}
  <title>Ionic Framework - {{id | replace("-", " ") | title}}</title>
{% else %}
  <title>Ionic Framework</title>
{% endif %}

{% if 'products' in id %}
  {% if not meta_image %}
    {% set meta_image = 'https://ionicframework.com/img/meta/ionic-pro-og.png' %}
  {% endif %}
  {% if not meta_description %}
    {% set meta_description = "The Ionic Appflow platform helps you build better apps on ionic framework with Appflow's integrated suite of tools and services designed for the entire app lifecycle." %}
  {% endif %}
  {% set meta_keywords = "html5,javascript,mobile,drifty,ionic,hybrid,phonegap,cordova,native,ios,android,angularjs, ionic pro, ionic pro apps, ionic pro suite, ionic pro product, ionic pro tools" %}
{% endif %}

{% if meta_description %}
  <meta name="description" content="{{ meta_description }}">
{% endif %}

<meta name="author" content="Ionic">
<meta name="keywords" content="{% if meta_keywords %}{{ meta_keywords }}{% else %}html5,javascript,mobile,drifty,ionic,hybrid,phonegap,cordova,native,ios,android,angularjs{% endif %}">
{% if meta_canonical %}
  <link rel="canonical" href="{{meta_canonical}}">
{% else %}
  <link rel="canonical" href="https://ionicframework.com{{requrl}}">
{% endif %}

<!-- Social: Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ionicframework">
<meta name="twitter:creator" content="ionicframework">
{% if title %}
  <meta name="twitter:title" content="{{title}}">
{% elif name %}
  <meta name="twitter:title" content="Ionic Framework - {{name}}">
{% elif id %}
  <meta name="twitter:title" content="Ionic Framework - {{id | title}}">
{% else %}
  <meta name="twitter:title" content="Ionic Framework">
{% endif %}
<meta name="twitter:description" content="{% if meta_description %}{{ meta_description }}{% else %}Ionic is the app platform for web developers. Build amazing mobile, web, and desktop apps all with one shared code base and open web standards{% endif %}">
<meta name="twitter:image" content="{% if meta_image %}{{meta_image}}{% else %}https://ionicframework.com/img/meta/ionic-framework-og.png{% endif %}">

<!-- Social: Facebook / Open Graph -->
<meta property="fb:page_id" content="1321836767955949">
<meta property="og:url" content="https://ionicframework.com{{url}}">
<meta property="og:type" content="article">
{% if title %}
  <meta property="og:title" content="{{title}}">
{% elif name %}
  <meta property="og:title" content="Ionic Framework - {{name}}">
{% elif id %}
  <meta property="og:title" content="Ionic Framework - {{id | title}}">
{% else %}
  <meta property="og:title" content="Ionic Framework">
{% endif %}
<meta property="og:image" content="{% if meta_image %}{{meta_image}}{% else %}https://ionicframework.com/img/meta/ionic-framework-og.png{% endif %}"/>
<meta property="og:description" content="{% if meta_description %}{{ meta_description }}{% else %}Ionic is the app platform for web developers. Build amazing mobile, web, and desktop apps all with one shared code base and open web standards{% endif %}">
<meta property="og:site_name" content="Ionic Framework">
<meta property="article:publisher" content="https://www.facebook.com/ionicframework">
<meta property="og:locale" content="en_US" />
<link href="https://plus.google.com/+Ionicframework" rel="publisher" />

<link rel="apple-touch-icon" sizes="57x57" href="/img/meta/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/img/meta/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/img/meta/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/img/meta/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/img/meta/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/img/meta/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/img/meta/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/img/meta/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/img/meta/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/img/meta/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/img/meta/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/img/meta/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/img/meta/favicon-192x192.png" sizes="192x192">
<link rel="manifest" href="/manifest.json">
<link rel="preconnect" href="https://snap.licdn.com">
<link rel="preconnect" href="https://upload.wikimedia.org">
<link rel="preconnect" href="https://www.google.com">
<link rel="preconnect" href="https://www.googleadservices.com">
<link rel="preconnect" href="https://googleads.g.doubleclick.net">
<link rel="preconnect" href="https://www.googletagmanager.com">
<link rel="preconnect" href="https://media.pitchfork.com">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/img/meta/ms-icon-70x70.png">
<meta name="msapplication-TileImage" content="/img/meta/ms-icon-144x144.png">
<meta name="theme-color" content="#4c8fff">

<meta http-equiv="X-UA-Compatible" content="IE=edge">

<script type="module" src="/js/stencil/ionic-site-components/ionic-site-components.esm.js"></script>
<script nomodule src="/js/stencil/ionic-site-components.js"></script>