{% include '_includes/mobile_nav.html' %}

{% if not hide_pre_header and announcementBar %}
<a href="{{announcementBar.data.link.url}}"
         onclick="return c('MarketingCTAs','btn-header-announcement', this, 0);"
         target="_blank">
<nav class="pre-header pre-header--{{announcementBar.data.theme | lower }}">
  <div class="container">
    <div{# id="optimizely"#}>
      {# Google Optimize hiding added for the top bar 10/18 #}
      {# <style>.optimize-loading { opacity: 0 !important} </style>
      <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
      h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
      (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
      })(window,document.getElementById('optimizely'),'optimize-loading','dataLayer',4000,
      {'GTM-TKMGCBC':true});</script> #}
      {{PrismicDOM.RichText.asHtml(announcementBar.data.text)}}
      <span id="btn-header-announcement">{{announcementBar.data.button_text}}</span>
    </div>
  </div>
</nav>
</a>
{% endif %}

<nav class="navbar navbar-default{% if header_style %} {{ header_style }}{% endif %}">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              id="collapse-toggle"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <i class="ion-md-more"></i>
      </button>
      <a class="navbar-brand" href="/">
        {% include '_includes/svg/ionic-black.svg' %}
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">

      <ul class="nav navbar-nav navbar-right">
        <!--
        <li style="position:static">
          <ionic-search>
            <ul>
              <li><a href="/framework">Framework</a></li>
              <li><a href="/getting-started">Getting Started</a></li>
              <li><a href="/docs">Documentation</a></li>
            </ul>
          </ionic-search>
        </li>
        -->

        <li class="dropdown dropdown--has-container">
          <a href="#"
             class="dropdown-toggle"
             role="button"
             aria-haspopup="true"
             aria-expanded="false">
              Support {% include '_includes/svg/chevron-down.svg' %}
          </a>
          <ul class="dropdown-menu dropdown-menu--container" id="dropdown-support">
            <li class=" dropdown-menu__row">
              <ul class="dropdown-menu__column">
                <li><span class="dropdown-menu__text--l2">Topics</span></li>
                <li>
                  <a href="https://ionic.io/support" class="dropdown-menu__text--l3 icon--help-center">
                    Help Center
                  </a>
                </li>
                <li>
                  <a href="/trusted-partners" class="dropdown-menu__text--l3 icon--trusted-partners">
                    Trusted Partners
                  </a>
                </li>
              </ul>
            </li>
          </ul>{# end .dropdown-menu__container #}
        </li>

        {% if user %}
        <li class="sm-hide">
          <a href="/logout">Log out</a>
        </li>
        <li class="header-btn-white{% if header_style.indexOf('light') != -1 %} blue{% endif %} ">
          <a href="{{ DASHBOARD_URL }}" id="btn-header-dashboard">Dashboard</a>
        </li>
        {% else %}
        <li class="sm-hide">
          <a href="/login?source=framework-{{id | default(id, 'default', true)}}">
            Log in</a>
        </li>
        <li class="header-btn-white{% if header_style.indexOf('light') != -1 %} blue{% endif %} ">
          <a href="/getting-started"
             id="btn-header-sign-up">Get Started</a>
        </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar">
        {% include '_includes/header_nav.html' %}
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
