

<li>
  <a href="/enterprise/why-ionic">
    Why Ionic
  </a>
</li>
<li>
  <a href="/enterprise/platform">
    Platform
  </a>
</li>

<li class="dropdown">
  <a href="#"
     class="dropdown-toggle"
     data-toggle="dropdown"
     role="button"
     aria-haspopup="true"
     aria-expanded="false">Solutions</a>
  <ul class="dropdown-menu">
    <li>
      <a href="/solutions/cross-platform" class="dropdown-menu__text--l2">
        Cross-Platform Development
      </a>
    </li>
    <li>
      <a href="/solutions/design-systems" class="dropdown-menu__text--l2">
        Design Systems
      </a>
    </li>
    <li>
      <a href="/pwa/toolkit" class="dropdown-menu__text--l2">
        Progressive Web Apps
      </a>
    </li>
  </ul>
</li>

<li class="{% if id.indexOf('enterprise-customers') == 0%} active{% endif %}">
  <a href="/enterprise/customers">
    Customers
  </a>
</li>

<li class="dropdown ecosystem">
  <a href="#"
     class="dropdown-toggle"
     data-toggle="dropdown"
     role="button"
     aria-haspopup="true"
     aria-expanded="false">
     Resources

  </a>
  <ul class="dropdown-menu">
    <li>
      <a id="btn-header-businesses-resource-center" href="/resources" class="dropdown-menu__text--l1">
        Resource Center <ion-icon name="ios-arrow-forward"></ion-icon>
      </a>
    </li>
    <li class="split">
      <ul>
        <li>
          <a class="dropdown-menu__text--l3" href="/resources/articles">
            Articles
          </a>
        </li>
        <li>
          <a class="dropdown-menu__text--l3" href="/resources/webinars">
            Webinars
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a class="dropdown-menu__text--l3" href="/resources/videos">
            Videos
          </a>
        </li>
        <li>
          <a class="dropdown-menu__text--l3" href="/resources/ebooks">
            Guides &amp; Ebooks
          </a>
        </li>
      </ul>
    </li>
  </ul>
</li>