{% include '_includes/mobile_nav.html' %}

{% if not hide_pre_header and announcementBar %}
<nav class="pre-header pre-header--{{announcementBar.data.theme | lower }}">
  <div class="container">
    <div{# id="optimizely"#}>
      {# Google Optimize hiding added for the top bar 10/18 #}
      {# <style>.optimize-loading { opacity: 0 !important} </style>
      <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
      h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
      (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
      })(window,document.getElementById('optimizely'),'optimize-loading','dataLayer',4000,
      {'GTM-TKMGCBC':true});</script> #}

      {# <strong>Studio is almost here!</strong>
      Join the waitlist to be the first in line on launch
      <a href="/studio" #}
      {# <pre><code>{{ announcementBar | dump(2) }}</code></pre> #}
      {{PrismicDOM.RichText.asHtml(announcementBar.data.text)}}
      <a href="{{announcementBar.data.link.url}}"
         onclick="c('MarketingCTAs','btn-header-announcement', this, 0)"
         target="_blank"
         id="btn-header-announcement">{{announcementBar.data.button_text}}</a>
    </div>
  </div>
</nav>
{% endif %}

<nav class="navbar navbar-default{% if header_style %} {{ header_style }}{% endif %}">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              id="collapse-toggle"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <i class="ion-md-more"></i>
      </button>
      <a class="navbar-brand" href="/">
        {% include '_includes/svg/ionic-black.svg' %}
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">

      <ul class="nav navbar-nav navbar-right">
        <!--
        <li style="position:static">
          <ionic-search>
            <ul>
              <li><a href="/framework">Framework</a></li>
              <li><a href="/getting-started">Getting Started</a></li>
              <li><a href="/docs">Documentation</a></li>
            </ul>
          </ionic-search>
        </li>
        -->
        <li class="sm-hide">
          <a href="https://dashboard.ionicframework.com/login?source=framework-{{id | default(id, 'default', true)}}">
            Log in</a>
        </li>
        <li class="header-btn-white{% if header_style.indexOf('light') != -1 %} blue{% endif %} ">
          <a href="/getting-started"
             id="btn-header-sign-up">Get Started</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar">
        {% include '_includes/header_nav.html' %}
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
