{# <li class="dropdown">
  <a href="#"
     class="dropdown-toggle"
     data-toggle="dropdown"
     role="button"
     aria-haspopup="true"
     aria-expanded="false">
    Open source
  </a>
  <ul class="dropdown-menu">
    <li>
      <a href="/" class="framework">
        <strong>Ionic Framework</strong>
        The popular open source SKD, built for developers.
      </a>
    </li>
    <li>
      <a href="https://ionicons.com/" class="ionicons">
        <strong>Ionicons</strong>
        Our 900+ open source system icon pack.
      </a>
    </li>
    <li>
      <a target="_blank" href="https://stenciljs.com" class="stencil">
        <strong>Stencil <span class="tag">New</span></strong>
        Resuable, web standards component generator.
      </a>
    </li>
  </ul>
</li> #}

<li class="dropdown products">
  <a href="#"
     class="dropdown-toggle"
     data-toggle="dropdown"
     role="button"
     aria-haspopup="true"
     aria-expanded="false">
    Products
  </a>
  <ul class="dropdown-menu">
    <div class="arrow"></div>
    <li>
      <a href="/pro" class="pro">
        <strong>Ionic Pro</strong>
        The premier product suite for serious app creators.
      </a>
    </li>
    <li>
      <a href="/pro/view" class="view">
        <strong>View App</strong>
        The live preview app for device testing &amp; sharing.
      </a>
    </li>
    <li>
      <a href="/pro/deploy" class="deploy">
        <strong>Deploy</strong>
        Push hot code updates live to production apps.
      </a>
    </li>
    <li>
      <a href="/pro/package" class="package">
        <strong>Package</strong>
        Compile and publish native binaries in the cloud.
      </a>
    </li>
    <li>
      <a href="/pro/monitor" class="monitor">
        <strong>Monitor</strong>
        Ionic app error monitoring and log tracking.
      </a>
    </li>
  </ul>
</li>

<li class="dropdown developers">
  <a href="#"
     class="dropdown-toggle"
     data-toggle="dropdown"
     role="button"
     aria-haspopup="true"
     aria-expanded="false">Developers</a>
  <ul class="dropdown-menu">
    <div class="arrow"></div>
    <li>
      <a id="btn-header-developers-framework-docs"
         href="/docs"
         class="framework-docs">
        <strong>Framework Docs</strong>
        <span>Documentation home for the Ionic Framework</span>
      </a>
    </li>
    <li>
      <a id="btn-header-developers-pro-docs"
         href="/docs/pro"
         class="pro-docs">
        <strong>Pro Docs</strong>
        <span>Documentation for Ionic Pro platform services</span>
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <a id="btn-header-developers-setup-installation"
         href="/getting-started"
         class="setup">
        <strong>Setup &amp; Installation</strong>
        <span>Quickstart for installing Ionic Framework</span>
      </a>
    </li>
    <li>
      <a id="btn-header-developers-ui-components"
         href="/docs/components/"
         class="ui">
        <strong>UI Components</strong>
        <span>Comprehensive component library, ready to go</span>
      </a>
    </li>
    <li>
      <a id="btn-header-developers-api-reference"
         href="/docs/api/"
         class="api">
        <strong>API Reference</strong>
        <span>Component methods, properties, and events</span>
      </a>
    </li>
    <li>
      <a id="btn-header-developers-native-plugins"
         href="/docs/native/"
         class="native">
        <strong>Native APIs</strong>
        <span>Documentation for integration of native plugins</span>
      </a>
    </li>
    <li>
      <a id="btn-header-developers-dev-resources"
         href="/docs/developer-resources/"
         class="dev-resources">
        <strong>Dev Resources</strong>
        <span>Help and resources for further learning</span>
      </a>
    </li>
  </ul>
</li>

<li class="dropdown businesses">
  <a href="#"
     class="dropdown-toggle"
     data-toggle="dropdown"
     role="button"
     aria-haspopup="true"
     aria-expanded="false">Businesses</a>
  <ul class="dropdown-menu">
    <div class="arrow"></div>
    <li>
      <a id="btn-header-businesses-enterprise"
         href="/enterprise"
         class="enterprise">
        <strong>Ionic for Enterprise</strong>
        <span>The developer friendly, enterprise ready platform</span>
      </a>
    </li>
    <li>
      <a id="btn-header-businesses-startups"
         href="/startups"
         class="startups">
        <strong>Ionic for Startups</strong>
        <span>Learn how Ionic helps small teams do big things</span>
      </a>
    </li>
    <li>
      <a id="btn-header-businesses-request-a-demo"
         href="/demo"
         class="demo">
        <strong>Request a Demo</strong>
        <span>Get a walkthrough of the Ionic Pro platform</span>
      </a>
    </li>
    <li>
      <a id="btn-header-businesses-contact-sales"
         href="/sales"
         class="sales">
        <strong>Contact Sales</strong>
        <span>Ready to take your company further? Get in touch</span>
      </a>
    </li>
    <li>
      <a id="btn-header-businesses-about-ionic"
         href="/about"
         class="about">
        <strong>About Ionic</strong>
        <span>Learn more about Ionic and what we offer</span>
      </a>
    </li>
  </ul>
</li>

<li class="dropdown ecosystem">
  <a href="#"
     class="dropdown-toggle"
     data-toggle="dropdown"
     role="button"
     aria-haspopup="true"
     aria-expanded="false">Resources</a>
  <ul class="dropdown-menu">
    <div class="arrow"></div>
    <li>
      <a id="btn-header-businesses-resource-center"
         href="/resources"
         class="resources">
        <strong>Resource Center</strong>
        <span>Case studies, papers, videos and more on Ionic</span>
      </a>
    </li>
    <li>
      <a id="btn-header-ecosystem-blog"
         href="https://blog.ionicframework.com"
         class="blog">
        <strong>Blog</strong>
        <span>Community projects, updates, and announcements</span>
      </a>
    </li>
    <li>
      <a id="btn-header-ecosystem-events"
         href="https://www.meetup.com/pro/ionic/"
         class="events"
         target="_blank">
        <strong>Events</strong>
        <span>List of events related to Ionic Framework</span>
      </a>
    </li>
    <li>
      <a id="btn-header-ecosystem-showcase"
         href="/showcase"
         class="showcase">
        <strong>Showcase</strong>
        <span>Check our some of the best Ionic-built apps</span>
      </a>
    </li>
    <li>
      <a id="btn-header-ecosystem-market"
         href="https://market.ionicframework.com"
         class="market">
        <strong>Ionic Market</strong>
        <span>Community templates, themes, and starter apps</span>
      </a>
    </li>
    <li>
      <a id="btn-header-ecosystem-swag-shop"
         href="https://shop.ionicframework.com/"
         class="shop">
        <strong>Swag Shop</strong>
        <span>Grab some official Ionic t-shirt, hoodie, or stickers</span>
      </a>
    </li>
  </ul>
</li>

<li class="sm-hide{% if id.indexOf('pricing') == 0%} active{% endif %}"> <a
  href="/pro/pricing" id="btn-header-pricing">Pricing</a></li>
