{% macro employee(e) %}
<a class="employee" href="https://twitter.com/{{ e.twitter }}" target="_blank">
  <div class="avatar" style="background-position: center -{{ e.spritePosition }}px">
  </div>
  <hgroup>
    <h4>{{ e.name }}</h4>
    <p>{{ e.title }}</p>
  </hgroup>
  <div class="description">
    <p>
      {{ e.description|safe }}
    </p>
  </div>
</a>
{% endmacro %}

{% macro trustedPartner(tp) %}
<li class="{{ tp.slug }}">
  <p><strong>{{ tp.name }}</strong> {{ tp['short-description'] }}</p>
  <a class="btn ionic sm" ng-click="learnMore($event)">Learn more</a>
  <div class="modal-info" data-name="{{ tp.name }}" data-handle="{{ tp.slug }}">
    <div class="company-info">{{ tp['long-description']|safe }}</div>
    <div class="case-studies"></div>
    <address><strong>{{ tp.name }}</strong><br>{{ tp.address|safe }}</address>
    <ul class="features">
      {% if tp.features == null %}
        <li> Angular 1 &amp; 2</li>
        <li>Ionic 1 &amp; 2</li>
        <li>App design</li>
        <li>App development</li>
        <li>Development consulting</li>
      {% else %}
        {% for feature in tp.features %}
          <li>{{ feature }}</li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
</li>
{% endmacro %}

{% macro contactForm(
  page,
  messagePlaceholder="Send us a message"
)%}
<form class="form-inline container"
      name="contact"
      ng-controller="ContactCtrl"
      ng-submit="submit($event)"
      ng-init="form.page = '{{page}}'">
  <h3 class="text-center"
      ng-if="!!status"
      ng-class="{'text-danger':!status.ok}"
      ng-bind="status.message"></h3>
  <input class="form-control"
         type="text"
         name="first_name"
         ng-model="form.first_name"
         placeholder="Your first name *"
         ng-focus="track('Form Progress', 'first name')"
         required>
  <input class="form-control"
        type="text"
        name="last_name"
        ng-model="form.last_name"
        placeholder="Your last name *"
        ng-focus="track('Form Progress', 'last name')"
        required>
  <input class="form-control"
         type="email"
         name="email"
         ng-modal="form.email"
         placeholder="Email *"
         ng-model="form.email"
         ng-class="{ 'invalid': contact.email.$error.email }"
         ng-focus="track('Form Progress', 'email')"
         required>
  <input class="form-control"
         type="text"
         name="company"
         ng-model="form.company"
         placeholder="Company name *"
         ng-focus="track('Form Progress', 'company name')"
         required>
  <input class="form-control"
         type="text"
         name="title"
         ng-model="form.title"
         placeholder="Job title *"
         ng-focus="track('Form Progress', 'job title')"
         required>
  <input class="form-control"
         type="tel"
         name="phone"
         ng-model="form.phone"
         placeholder="Phone *"
         ng-focus="track('Form Progress', 'phone')"
         required>
  <div class="select-wrapper full-width"><select 
         required 
         class="form-control select-helper"
         name="employees"
         ng-model="form.employees"
         ng-focus="selectFocus()"
         ng-options="employee.label disable when employee.disabled for employee in employees">
  </select><div class="up"></div><div class="dn"></div></div>
  <textarea name="message"
            ng-model="form.message"
            cols="30"
            rows="10"
            placeholder="{{messagePlaceholder}}"
            ng-focus="track('Form Progress', 'message')"
            required
            ></textarea>
  <button type="submit" 
          class="btn ionic" 
          value="Send message"
          ng-disabled="formDisabled">
    Send message
  </button>
</form>
{% endmacro %}