{% macro employee(e) %}
<a class="employee" href="https://twitter.com/{{ e.twitter }}" target="_blank">
  <div class="avatar" style="background-position: center -{{ e.spritePosition }}px">
  </div>
  <hgroup>
    <h4>{{ e.name }}</h4>
    <p>{{ e.title }}</p>
  </hgroup>
  <div class="description">
    <p>
      {{ e.description|safe }}
    </p>
  </div>
</a>
{% endmacro %}

{% macro trustedPartner(tp) %}
<li class="{{ tp.slug }}">
  <p><strong>{{ tp.name }}</strong> {{ tp['short-description'] }}</p>
  <a class="btn ionic sm" ng-click="learnMore($event)">Learn more</a>
  <div class="modal-info" data-name="{{ tp.name }}" data-handle="{{ tp.slug }}">
    <div class="company-info">{{ tp['long-description']|safe }}</div>
    <div class="case-studies"></div>
    <address><strong>{{ tp.name }}</strong><br>{{ tp.address|safe }}</address>
    <ul class="features">
      {% if tp.features == null %}
        <li> Angular 1 &amp; 2</li>
        <li>Ionic 1 &amp; 2</li>
        <li>App design</li>
        <li>App development</li>
        <li>Development consulting</li>
      {% else %}
        {% for feature in tp.features %}
          <li>{{ feature }}</li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
</li>
{% endmacro %}
