<nav class="mobile-nav closed">
  <ionic-search mobile="true">
    <ul>
      <li class="mobile-nav__menuitem"><a href="https://ionic.io/appflow" rel="noopener">Appflow</a></li>
      <li class="mobile-nav__menuitem"><a href="/getting-started">Getting Started</a></li>
      <li class="mobile-nav__menuitem"><a href="/docs">Docs</a></li>
    </ul>
  </ionic-search>

  <div class="mobile-nav__pane">
    <i class="mobile-nav__close">
      <svg
        id="icon-close-mobile"
        width="100%"
        height="100%"
        viewBox="0 0 14 14"
      >
        <g>
          <path
            d="M8.65881121,7 L13.6590731,1.9984285 C14.1136423,1.54374018 14.1136423,0.795704557 13.6590731,0.341016239 C13.2045038,-0.11367208 12.456664,-0.11367208 12.0020948,0.341016239 L7.00183294,5.34258774 L2.00157109,0.341016239 C1.54700183,-0.11367208 0.799162084,-0.11367208 0.344592825,0.341016239 C0.117308196,0.568360398 0,0.869041383 0,1.16972237 C0,1.47040335 0.117308196,1.77108434 0.344592825,1.9984285 L5.34485467,7 L0.344592825,12.0015715 C0.117308196,12.2289157 2.08381216e-15,12.5295966 2.08381216e-15,12.8302776 C2.08381216e-15,13.1309586 0.117308196,13.4316396 0.344592825,13.6589838 C0.799162084,14.1136721 1.54700183,14.1136721 2.00157109,13.6589838 L7.00183294,8.65741226 L12.0020948,13.6589838 C12.456664,14.1136721 13.2045038,14.1136721 13.6590731,13.6589838 C14.1136423,13.2042954 14.1136423,12.4562598 13.6590731,12.0015715 L8.65881121,7 Z"
            id="Shape"
          ></path>
        </g>
      </svg>
    </i>

    <div class="mobile-nav__wrapper">
      <a href="/" class="mobile-nav__logo">
        {% include '_includes/svg/ionic-framework.svg' %}
      </a>

      <ul class="mobile-nav__menu">
        <h6>Docs</h6>
        <li class="mobile-nav__menuitem">
          <a href="https://ionicframework.com/docs/intro/cli"
             class="dropdown-menu__text--l3 icon--installation">
            Installation
          </a>
        </li>
        <li class="mobile-nav__menuitem">
          <a href="https://ionicframework.com/docs/components"
             class="dropdown-menu__text--l3 icon--ui-components">
            UI Components
          </a>
        </li>
        <li class="mobile-nav__menuitem">
          <a href="https://ionicframework.com/docs/native"
             class="dropdown-menu__text--l3 icon--native-apis">
            Native APIs
          </a>
        </li>
        <li class="mobile-nav__menuitem">
          <a href="https://ionicframework.com/docs/angular/overview"
             class="dropdown-menu__text--l3 icon--angular">
            Angular
          </a>
        </li>
        <li class="mobile-nav__menuitem">
          <a href="https://ionicframework.com/react"
             class="dropdown-menu__text--l3 icon--react">
            React
          </a>
        </li>
        <li class="mobile-nav__menuitem">
          <a href="https://ionicframework.com/vue"
             class="dropdown-menu__text--l3 icon--vue">
            Vue
          </a>
        </li>
        <li class="mobile-nav__menuitem">
          <a href="https://ionicframework.com/docs/cli"
             class="dropdown-menu__text--l3 icon--cli">
            CLI
          </a>
        </li>

        <h6>Tools</h6>
        <li class="mobile-nav__menuitem">
          <a href="https://ionic.io/appflow"
             rel="noopener"
             class="dropdown-menu__text--l3 icon--appflow">
            Appflow
          </a>
        </li>
        <li class="mobile-nav__menuitem">
          <a href="https://ionic.io/products/identity-vault"
             class="dropdown-menu__text--l3 icon--identity-vault">
            Identity Vault
          </a>
        </li>
        <li class="mobile-nav__menuitem">
          <a href="https://ionic.io/products/auth-connect"
             class="dropdown-menu__text--l3 icon--auth-connect">
            Auth Connect
          </a>
        </li>
        <li class="mobile-nav__menuitem">
          <a href="https://ionic.io/products/secure-storage"
             class="dropdown-menu__text--l3 icon--secure-storage">
            Secure Storage
          </a>
        </li>
        <li class="mobile-nav__menuitem">
          <a href="https://ionicframework.com/integrations"
             class="dropdown-menu__text--l3 icon--integrations">
            Integrations
          </a>
        </li>

        <h6>Ecosystem</h6>
        <li class="mobile-nav__menuitem"><a href="/blog/">Blog</a></li>
        <li class="mobile-nav__menuitem">
          <a href="/community" 
             class="dropdown-menu__text--l3 icon--hub">
            Community
          </a>
        </li>
        <li class="mobile-nav__menuitem">
          <a href="/trusted-partners" 
             class="dropdown-menu__text--l3 icon--trusted-partners">
            Trusted Partners
          </a>
        </li>
        <li class="mobile-nav__menuitem">
          <a href="https://forum.ionicframework.com/"
             class="dropdown-menu__text--l3 icon--forum">
            Forum
          </a>
        </li>
        <li class="mobile-nav__menuitem">
          <a href="/resources"
             class="dropdown-menu__text--l3 icon--resources">
            Resources
          </a>
        </li>

        <h6>Get Help</h6>
        <li class="mobile-nav__menuitem">
          <a href="https://ionic.io/support" 
             class="dropdown-menu__text--l3 icon--help-center">
            Help Center
          </a>
        </li>
        <li class="mobile-nav__menuitem">
          <a href="/enterprise/support" 
             class="dropdown-menu__text--l3 icon--enterprise">
            Enterprise Support
          </a>
        </li>
        <li class="mobile-nav__menuitem">
          <a href="https://ionic.io/advisory" 
             class="dropdown-menu__text--l3 icon--advisory-services">
            Advisory Services
          </a>
        </li>
        <li class="mobile-nav__menuitem">
          <a href="/enterprise">Enterprise</a>
        </li>

        <li class="mobile-nav__social">
          <a target="_blank" href="https://twitter.com/Ionicframework"
            ><ion-icon name="logo-twitter"></ion-icon
          ></a>
          <a target="_blank" href="https://github.com/ionic-team/ionic"
            ><ion-icon name="logo-github"></ion-icon
          ></a>
          <a target="_blank" href="https://www.facebook.com/ionicframework/"
            ><ion-icon name="logo-facebook"></ion-icon
          ></a>
          <a
            target="_blank"
            href="https://www.youtube.com/channel/UChYheBnVeCfhCmqZfCUdJQw"
            ><ion-icon name="logo-youtube"></ion-icon
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="mobile-nav__footer">
    <div>
      <a href="/login" id="btn-header-log-in-mobile">Log in</a>
      <a
        class="btn"
        href="/signup?source=framework-{{id | default(id, 'default', true)}}"
        id="btn-header-sign-up"
        >Sign up</a
      >
    </div>
  </div>
</nav>
