{% if dev %}
<script src="/js/ionic-site.js"></script>
{% else %}
<script src="/js/ionic-site.min.js"></script>
{% endif %}
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" 
        id="hs-script-loader" 
        async 
        defer 
        src="https://js.hs-scripts.com/3776657.js"></script>
<!-- End of HubSpot Embed Code -->

<script async src="https://ga.clearbit.com/v1/ga.js?authorization=pk_15ddaa2a40791f38734f40e0565526b7"></script>
<!-- Start of Async Drift Code -->
<script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, i;
    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js", 
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('yyr33dt5npxy');
</script>
<!-- End of Async Drift Code -->
{% if page.footer_includes %}{{ page.footer_includes }}{% endif %}
