
<li class="menu-section active">
  <ul>
    <li>
      <a href="/docs/v2/getting-started/">Welcome</a></li>
    </li>
    <li>
      <a href="/docs/v2/getting-started/concepts/">Concepts</a></li>
    </li>
    <li>
      <a href="/docs/v2/getting-started/installation/">Installation</a></li>
    </li>
    <li>
      <a href="/docs/v2/getting-started/tutorial/">Tutorial</a></li>
      <ul>
        <li>
          <a href="/docs/v2/getting-started/tutorial/">Project Structure</a>
        </li>
        <li>
          <a href="/docs/v2/getting-started/tutorial/adding-pages/">Adding Pages</a>
        </li>
        <li>
          <a href="/docs/v2/getting-started/tutorial/navigation/">Navigation</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/docs/v2/getting-started/migration/">Migration</a></li>
    </li>
  </ul>
</li>
