
<li class="menu-section active">
  <ul>
    <li>
      <a href="/docs/v2/">Welcome</a></li>
    </li>
    <li>
      <a href="/docs/v2/getting-started/concepts/">Concepts</a></li>
    </li>
    <li>
      <a href="/docs/v2/getting-started/installation/">Installation</a></li>
    </li>

    <li class="{% if page.subid == 'tutorial' %}active{% endif %}">
      <a href="/docs/v2/getting-started/tutorial/">Tutorial</a>
    </li>

    {% if page.subid == 'tutorial' %}
    <li class="menu-section active">
      <ul>
        <li>
          <a href="/docs/v2/getting-started/tutorial/">1. Starting A New App</a></li>
        </li>
        <li>
          <a href="/docs/v2/getting-started/tutorial/project-structure/">2. Project Structure</a>
        </li>
        <li>
          <a href="/docs/v2/getting-started/tutorial/adding-pages/">3. Adding Pages</a>
        </li>
        <li>
          <a href="/docs/v2/getting-started/tutorial/navigation/">4. Navigation</a>
        </li>
      </ul>
    </li>
    {% endif %}


    <li>
      <a href="/docs/v2/getting-started/migration/">Migration</a></li>
    </li>
  </ul>
</li>
