
<li class="menu-section active">
  <ul>
    <li>
      <li><a href="/docs/v2/plugins/applinks/">App Links</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/plugins/barcode/">Barcode</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/plugins/battery/">Battery</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/plugins/camera/">Camera</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/plugins/contacts/">Contacts</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/plugins/device/">Device</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/plugins/device-motion/">Device Motion</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/plugins/device-orientation/">Device Orientation</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/plugins/dialogs/">Dialogs</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/plugins/geolocation/">Geolocation</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/plugins/keyboard/">Keyboard</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/plugins/statusbar/">Status Bar</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/plugins/storage/">Storage</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/plugins/vibration/">Vibration</a></li>
    </li>
    <!--
    <li>
      <li><a href="/docs/v2/plugins/push-notifications/">Push Notifications</a></li>
    </li>
    -->
  </ul>
</li>
