
<li class="menu-section active">
  <ul>
    <li>
      <li><a href="/docs/v2/resources/building-to-a-device/">Building to a Device</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/resources/developer-tips/">Developer Tips</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/resources/what-is/">Glossary</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/ionicons/">Ionicons</a></li>
    </li>

    <li>
      <li><a href="/docs/v2/resources/troubleshooting/">Troubleshooting</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/resources/editors_and_ides/">Editors and IDEs</a></li>
    </li>
  </ul>
</li>
