<li class="menu-section active">
  <ul>
    <li>
      <li><a href="/docs/v2/theming/sass-variables/">Sass Variables</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/theming/overriding-ionic/">Overriding Ionic Variables</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/theming/ionic-themes/">Ionic Themes</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/theming/ionic-modes/">Ionic Modes</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/theming/ionic-variables/">Ionic Sass Variables</a></li>
    </li>
  </ul>
</li>
