<li class="menu-section active">
  <ul>
    <li>
      <li><a href="/docs/v2/ui/navigation/">Navigation</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/ui/buttons/">Buttons</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/ui/icons/">Icons</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/ui/cards/">Cards</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/ui/lists/">Lists</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/ui/slides/">Slides</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/ui/aside/">Aside</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/ui/modals/">Modals</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/ui/action-menus/">Action Menus</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/ui/animation/">Animation</a></li>
    </li>
  </ul>
</li>
