<li class="menu-section active">
  <ul>
    <li>
      <a href="/docs/v2/ui/navigation/">Navigation</a>
      <ul>
        <li><a href="/docs/v2/ui/navigation/#Hierarchical">Hierarchical</a></li>
        <li><a href="/docs/v2/ui/navigation/#Flat">Flat</a></li>
        <li><a href="/docs/v2/ui/navigation/#Content_Driven">Content Driven</a></li>
        <li><a href="/docs/v2/ui/navigation/#URL_to_State_vs_Just_States">URLs and States</a></li>
        <li><a href="/docs/v2/ui/navigation/#Views_in_Ionic">Ionic Views</a></li>
        <li><a href="/docs/v2/ui/navigation/#Lifecycle">Lifecycle events</a></li>
      </ul>
    </li>
    <li>
      <li><a href="/docs/v2/ui/tabs/">Tabs</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/ui/buttons/">Buttons</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/ui/icons/">Icons</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/ui/cards/">Cards</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/ui/lists/">Lists</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/ui/slides/">Slides</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/ui/menu/">Menu</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/ui/modals/">Modals</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/ui/action-sheets/">Action Sheets</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/ui/animation/">Animation</a></li>
    </li>
  </ul>
</li>
