<li class="menu-section active">
  <ul>
    <li>
      <a href="/docs/v2/components/navigation/">Navigation</a>
      <ul>
        <li><a href="/docs/v2/components/navigation/#Hierarchical">Hierarchical</a></li>
        <li><a href="/docs/v2/components/navigation/#Flat">Flat</a></li>
        <li><a href="/docs/v2/components/navigation/#Content_Driven">Content Driven</a></li>
        <li><a href="/docs/v2/components/navigation/#URL_to_State_vs_Just_States">URLs and States</a></li>
        <li><a href="/docs/v2/components/navigation/#Views_in_Ionic">Ionic Views</a></li>
        <li><a href="/docs/v2/components/navigation/#Lifecycle">Lifecycle events</a></li>
      </ul>
    </li>
    <li>
      <li><a href="/docs/v2/components/tabs/">Tabs</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/components/buttons/">Buttons</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/components/icons/">Icons</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/components/cards/">Cards</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/components/lists/">Lists</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/components/slides/">Slides</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/components/menu/">Menu</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/components/modals/">Modals</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/components/action-sheets/">Action Sheets</a></li>
    </li>
    <li>
      <li><a href="/docs/v2/components/animation/">Animation</a></li>
    </li>
  </ul>
</li>
