@import '../../vars';
// @import '../../../../node_modules/prismjs/themes/prism-tomorrow';
@import './prism-ionic';

home-components {
  display: grid;
  grid-template-columns: 634px 1fr;
  border-radius: 10px;
  margin-right: -24px;
  margin-left: -24px;

  @media (min-width: 1200px) {
    margin-right: -64px;
    margin-left: -64px;
  }

  .code-header {
    background: #0B1521;
    border-radius: 10px 0 0 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
      flex-direction: row;
      padding: 0;
      margin: 0;
    }

    li {
      color: #7A8EA7;
      border: 1px solid transparent;
      list-style: none;
      padding: 20px;
      cursor: pointer;
      transition: .2s color, .2s background-color;

      &.active {
        background: #1C2B3E;
        border-color: #283A50;
        color: #FFFFFF;
      }

      &:first-child {
        border-radius: 10px 0 0 0;
      }

      &:hover {
        color: #FFFFFF;
      }
    }

    a {
      background: rgba(#7CABFF, 0.3);
      color: #7CABFF;
      border-radius: 16px;
      padding: 8px;
      align-self: center;
      margin-right: 20px;
      transition: .2s background-color;
      
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        background: rgba(#7CABFF, 0.5);
      }
    }
  }

  .preview-header {
    background: #F9FAFC;
    border: 1px solid #E9EDF3;
    border-radius: 0px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-segment {
      display: flex;
      justify-content: center;
    }

    ion-segment-button {
      flex: 0 1;
    }
  }

  .tab-content,
  .preview-content {
    position: relative;
    padding: 0;

    li {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  .tab-content {
    background: #1C2B3E;
    border: 1px solid #283A50;
    border-radius: 0 0 0 10px;
    align-items: flex-start;

    li {
      padding: 24px 16px 48px 56px;
    }

    pre  {
      background: transparent;
      padding: 0;
      margin: 0;
      color: white;
      border: none;
      font-size: 13px;
      line-height: 23px;
      letter-spacing: -.01em;
      font-weight: 500;
      font-family: $font-family-mono;

      code {
        white-space: pre;
      }
    }

    .tag {
      background: transparent;
      margin-left: 0;
      padding: 0;
      border-radius: 0;
      font-weight: 700;
      font-size: inherit;
      text-transform: none;
      letter-spacing: 0;
    }
  }

  .preview-content {
    background: radial-gradient(#E8EBEF 10%, #FCFDFE 10%) repeat;
    border: 1px solid #E9EDF3;
    background-size: 10px 10px;
    border-radius: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    iframe {
      background: white;
    }
  }
}