---
layout: blog
title: "Ionic Blog"
---

{% for post in paginator.posts %}
<div class="post">
  <div class="post-info">
    <h3 class="post-title"><a href="{{post.url}}">{{post.title}}</a></h3>
    <time class="post-time">By {{post.author}} on {{post.date | date: "%B %d, %Y" }}</time>
    <div class="post-social">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{post.title}}" data-url="http://ionicframework.com{{post.url}}" data-via="ionicframework" data-related="ionicframework">Tweet</a>
      <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      </script>

      <!-- Place this tag where you want the +1 button to render. -->
      <div class="g-plusone" data-size="medium" data-href="http://ionicframework.com{{post.url}}"></div>

      <!-- Place this tag after the last +1 button tag. -->
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/platform.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>

      <!--<div class="fb-share-button" data-href="http://ionicframework.com{{post.url}}" data-type="button_count"></div>-->
    </div>
  </div>
  {% if post.content contains "<!-- more -->" %}
    {{post.content | split:"<!-- more -->" | first % }}
    <a href="{{post.url}}">Read more...</a>
  {% else %}
    {{post.content}}
  {% endif %}
  <hr>
</div>

{% endfor %}

<!-- Pagination links -->
<div class="clearfix">
  <div class="pagination">
    <div class="pull-left">
      <!--<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>-->
      {% if paginator.next_page %}
        <a href="/blog/page{{ paginator.next_page }}/" class="next">Older</a>
      {% endif %}
    </div>
    <div class="pull-right">
      {% if paginator.previous_page == 1 %}
        <a href="/blog/" class="previous">Newer</a>
      {% else %}
        {% if paginator.previous_page %}
          <a href="/blog/page{{ paginator.previous_page }}/" class="previous">Newer</a>
        {% endif %}
      {% endif %}
    </div>
  </div>

  <p style="text-align:center; margin-bottom: 40px;" class="ionic">
    <a href="http://ionicframework.com/blog/feed.xml">
      <i class="ion-social-rss"></i>
      Ionic Blog RSS Feed
    </a>
  </p>
</div>
