ionicate {
  display: block;
  position: fixed;
  bottom: 0;
  right: 15px;
  width: 300px;
  height: 400px;
  background-color: white;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
  z-index: 1000;
}
ionicate .ionicate-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
ionicate .ionicate-title {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}

ionicate .ionicate-content {
  padding: 10px;
  flex: 1;
  overflow-y: auto;
}
ionicate .ionicate-contact {
  padding-bottom: 15px;
}
ionicate .ionicate-contact-buttons {
  display: flex;
  padding-bottom: 15px;
}
ionicate .ionicate-contact-buttons a {
  flex: 1;
}
ionicate .ionicate-submit-button {
  cursor: pointer;
  display: flex;
  padding-bottom: 15px;
}
ionicate a.ionicate-button {
  display: block;
  padding: 10px;
  background-color: #448BFA;
  color: white;
  text-align: center;
  border-radius: 4px;
  flex: 1;
  margin: 5px;
  text-decoration: none;
}
ionicate ul {
  margin: 0;
  padding: 0;
}
ionicate ul li {
  list-style: none;
  margin: 0;
  padding: 0;

  padding: 10px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  background-color: white;

  color: #333;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
ionicate ul li input[type="checkbox"] {
  margin-right: 10px;
}
ionicate .ionicate-close {
  color: #eee;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
ionicate .ionicate-close i {
  font-size: 20px;
  color: #222;
}
