/**
 * Ionic Dark theme for JavaScript, CSS and HTML
 * Based on prism.js Dark theme
 * @author Perry Govier
 */

 code[class*="language-"],
 pre[class*="language-"] {
   color: #4d4d4c;
   background: none;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
 
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
 
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }
 
 pre[class*="language-"],
 :not(pre) > code[class*="language-"] {
   background: hsl(30, 20%, 25%);
 }
 
  /* Code blocks */
 pre[class*="language-"] {
   padding: 1em;
   margin: .5em 0;
   overflow: auto;
   border: .3em solid hsl(30, 20%, 40%);
   border-radius: .5em;
   box-shadow: 1px 1px .5em black inset;
 }
 
  /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: .15em .2em .05em;
   border-radius: .3em;
   border: .13em solid hsl(30, 20%, 40%);
   box-shadow: 1px 1px .3em -.1em black inset;
   white-space: normal;
 }
 
 /* Tomorrow Comment */
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: #8c9296;
 }
 
 .token.punctuation {
   opacity: .7;
 }
 
 .namespace {
   opacity: .7;
 }
 
 .token.tag {
   color: #97bdff;
 }
 
 .token.tag .token.tag {
   color: #639cff;
 }
 
 .token.property,
 .token.attr-name,
 .token.boolean,
 .token.number,
 .token.constant,
 .token.symbol {
   color: #8582fb;
 }
 
 .token.selector,
 .token.char,
 .token.function,
 .token.builtin,
 .token.inserted {
   color: #EADA8A;
 }
 
 .token.operator,
 .token.string,
 .token.entity,
 .token.url,
 .token.attr-value,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
   color: #92e1a7;
 }
 
 .token.atrule {
   color: #ffbb01;
 }
 
 .token.regex,
 .token.keyword,
 .token.important {
   color: #639BFF;
 }
 
 .token.important,
 .token.bold {
   font-weight: bold;
 }
 .token.italic {
   font-style: italic;
 }
 
 .token.entity {
   cursor: help;
 }
 
 .token.deleted {
   color: red;
 }
 