#page-demo .demo-cta {

  @media (max-width: $screen-xs-max) {
    margin-top: 0;
  }

  > .container {
    align-items: center;
    display: flex;
    padding-bottom: 104px;
    padding-top: 53px;

    @media (max-width: $screen-xs-max) {
      flex-direction: column;
      padding-top: 23px;
      text-align: center;
    }
  }

  hgroup {
    max-width: none;
    padding-bottom: 0;
    padding-top: 0;

    @media (max-width: $screen-xs-max) {
      max-width: 480px;
    }
  }

  hgroup p {
    margin-bottom: 0;

    @media (max-width: $screen-xs-max) {
      font-size: 15px;
    }
  }

  h1 {
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 0;

    @media (min-width: $screen-md-min) {
      font-size: 32px;
    }
  }

  &__icon {
    display: block;
    margin-right: 20px;
    width: 64px;

    @media (max-width: $screen-xs-max) {
      margin-right: 0;
      margin-bottom: 2em;
    }
  }
}

#page-demo .demo-form {

  display: flex;

  &__box {
    @include box;
    margin-bottom: 50px;
    margin-top: -40px;
    max-width: 67%;
    padding: 2em;

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 100%;
      padding: 0;

      &:before {
        display: none; // Bootstrap clearfix messes up flex alignment
      }
    }

    button {
      float: none;
      margin-top: 0;
    }

    @media (max-width: $screen-xs-max) {
      max-width: 100%;
    }
  }

  &__logos {
    max-width: 33%;
  }

  textarea,
  .form-control,
  .select-wrapper {
    margin-bottom: 2%;
    margin-right: 0;

    @media (max-width: 520px) {
      margin-bottom: 10px;
    }
  }

  .form-control {
    width: 49%;

    @media (max-width: 520px) {
      width: 100%;
    }
  }
}
