#page-getting-started {
  font-family: $font-family-eina;

  .cta {
    &.gradient {
      background-image: linear-gradient( 90deg, rgb(56,128,255) 15%, rgb(103,167,255) 100%);
    }
    hgroup {
      padding-top: 62px;
      padding-bottom: 0;
      max-width: 100%;
    }

    h1,
    h4 {
      text-align: left;
      max-width: 540px;

      @media (max-width: $screen-xs-max) {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
    }

    h1 {
      font-size: 36px;
      font-weight: 700;
    }

    h4 {
      font-size: 20px;
      line-height: 32px;
      color: #E3E9F4;
      margin-bottom: 60px;
    }

    @media (max-width: $screen-xs-max) {
      hgroup {
        padding-top: 42px;
      }

      h4 {
        margin-bottom: 30px;
      }
    }
  }

  .crash-course {
    float: right;
    cursor: pointer;
    margin-top: -30px;
    margin-left: 30px;
    color: white;
    text-decoration: none;
    transition: .2s transform cubic-bezier(.2,.78,.66,1.73);

    img {
      max-width: 358px;
    }

    h3 {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 700;
      letter-spacing: 0.08em;
      color: #fff;
      margin: 0;
      transform: translate(-8px, -91px) rotate(3.70deg);
    }

    &:hover {
      transform: scale(1.02, 1.02);
    }

    @media (max-width: $screen-md-min) {
      margin-top: 0;

      img {
        max-width: 300px;
      }
    }

    @media (max-width: $screen-xs-max) {
      float: none;
      margin-left: 0;
    }
  }

  .tab-content {
    padding: 100px 0 0;

    @media (max-width: $screen-xs-max) {
      padding: 80px 0 0;
    }

    .container:last-child {
      border-bottom: 1px solid #edf2f7;
      padding-bottom: 120px;

      @media (max-width: $screen-sm-max) {
        padding-bottom: 70px;
      }
    }

    .logo {
      width: 158px;
      margin-bottom: 24px;
    }

    hgroup {
      margin: 0 auto;
      max-width: 460px;
      text-align: center;
      padding-bottom: 120px;

      .btn {
        margin-top: 32px;
      }
    }

    h1 {
      font-size: 24px;
      font-weight: 600;
      letter-spacing: -0.02em;
    }

    h2 {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.012em;
      margin-top: 14px;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      letter-spacing: -0.02em;
    }

    h4 {
      font-size: 16px;
      line-height: 22px;
      color: #0F1620;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: 700;
    }

    p {
      font-family: $font-family-graphik;
      font-size: 15px;
      line-height: 28px;
      letter-spacing: -0.01em;
    }

    code {
      font-size: 15px;
      color: #E05C7B;
      background: none;
      font-weight: 500;
    }

    pre {
      border: 0;
      padding: 0;
      margin: 0;
      background-color: #F5F7FA;
      border-radius: 6px;

      code {
        color: #272A2F;
        padding: 16px 24px 20px;
        margin-top: 4px;
      }
    }

    .img {
      width: 100%;
    }

    ol {
      margin-left: 0;
      padding: 0;
      list-style-type: none;
    }

    ol li {
      counter-increment: step-counter;
      display: flex;
      position: relative;

      h1 {
        margin-top: 0;
      }

      & + li,
      & + .supercharge {
        margin-top: 140px;

        @media (max-width: $screen-xs-max) {
          margin-top: 60px;
        }
      }

      &::before {
        content: counter(step-counter);
        margin-right: 14px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        flex: 0 0 25px;
        height: 25px;
        font-size: 14px;
        font-weight: 600;
        background-color: #3880FF;
        color: #fff;
        border-radius: 100px;
      }

      & > div {
        flex: 1;
      }

      @media (max-width: $screen-xs-max) {
        flex-direction: column;
        padding-top: 40px;

        &::before {
          margin-bottom: 18px;
          margin-right: 0;
          position: absolute;
          left: 50%;
          top: 0;
          transform: translateX(-50%);
        }

        h1 {
          text-align: center;
        }

        & + .supercharge li::before {
          display: none;
        }
      }
    }

    .content-row {
      display: flex;
      justify-content: space-between;
      margin-top: 24px;
      margin-left: -24px;
      margin-right: -24px;

      & + .content-row {
        margin-top: 80px;

        @media (max-width: $screen-xs-max) {
          margin-top: 24px;
        }
      }

      .col {
        padding-left: 24px;
        padding-right: 24px;
      }

      .col--half {
        flex: 0 0 50%;
      }

      .col--third {
        flex: 0 0 33%;
      }

      .col--full {
        flex: 0 0 100%;
        margin-left: 0;
        margin-right: 0;

      }

      .col--centered {
        text-align: center;

        code {
          font-size: 14px;
        }
      }

      @media (max-width: $screen-sm-min) {
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;

        .col {
          flex: 0 0 100%;
          margin: 0;
        }
        .col + .col {
          margin-top: 24px;
        }
      }
    }

    .form-row {
      display: flex;
      justify-content: space-between;

      .form-wrapper {
        flex: 0 0 640px;
      }

      @media (max-width: $screen-sm-max) {
        display: block;
      }
    }

    .form {
      padding: 64px;
      background: #FFFFFF;
      box-shadow: 0 10px 20px 0 rgba(0,13,36,0.16), 0 2px 8px 0 rgba(0,13,36,0.08);
      border-radius: 16px;

      h1 {
        margin-top: 0;
      }

      h2 {
        margin-top: 10px;
        margin-bottom: 42px;
      }

      label {
        font-size: 13px;
        color: #3B434D;
        letter-spacing: -0.015em;
        font-weight: 600;
        margin-bottom: 3px;
      }

      input[type="text"],
      input[type="password"] {
        transition: border 0.2s;
        display: block;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #C3CDDF;
        border-radius: 6px;
        padding: 11px 16px;

        &:focus {
          outline: none !important;
          border: 1px solid #3880ff;
        }
      }

      .error input[type="text"],
      .error input[type="password"] {
        border-color: #f45454;
      }

      .checkbox-label {
        color: #727A87;
        font-size: 11px;
        font-weight: 600;
        margin-left: 4px;
      }

      .form-group {
        margin-bottom: 20px;
      }

      .form-message {
        color: #f45454;
        font-weight: 600;

        &--small {
          font-size: 11px;
          line-height: 16px;
          margin-top: 6px;
        }
      }

      .btn {
        display: block;
        width: 100%;
      }

      .disclaimer {
        display: block;
        text-align: center;
        font-size: 11px;
        color: #a0a9b7;
        font-weight: 600;
      }

      .well {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        width: 100%;
        border: 1px solid #E1E5ED;
        border-radius: 6px;
        margin-top: 16px;
        color: #3B424D;
        font-size: 14px;
        font-weight: 600;
      }

      .text-link {
        text-decoration: underline;
        margin-left: 8px;
      }

      @media (max-width: $screen-xs-min) {
        padding: 36px 28px;
      }
    }

    .errorlist {
      display: none;
      color: #f45454;
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
      margin-bottom: 28px;

      &.error {
        display: block;
      }
    }

    .benefits {
      max-width: 390px;
      margin-left: 48px;
      margin-top: 76px;


      & > p {
        font-size: 16px;
        line-height: 28px;
        color: #424C5A;
        margin-top: 18px;

        b {
          font-weight: 500;
          color: #424C5A;
        }
      }

      ul {
        list-style-type: none;
        margin: 60px 0 0;
        padding: 0;
      }

      h5 {
        color: #161A1F;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        margin-bottom: 4px;
      }

      li {
        position: relative;
        padding-left: 42px;

        p {
          font-size: 14px;
          line-height: 24px;
          color: #545C6A;
        }

        &::before {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          font-family: Ionicons;
          content: '\f2bc';
          color: #D0E6FF;
          background: #67A2FF;
          border-radius: 100px;
          font-size: 1.2em;
          margin-left: 5px;
          font-weight: 400;
          line-height: 1em;
          position: relative;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      li + li {
        margin-top: 40px;
      }

      @media (max-width: $screen-md-max) {
        margin-top: 0;

        ul {
          margin-top: 40px;
        }
      }

      @media (max-width: $screen-sm-max) {
        margin-top: 100px;
        margin-left: 0;
        max-width: 590px;
      }
    }

    .sign-up-logos {
      padding: 100px 0 40px;

      .sign-up-logos__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 34px;
      }

      .sign-up-logos__content > div {
        background-image: url('/img/getting-started/getting-started-signup-logo-sprite.png');
        background-repeat: no-repeat;
        background-size: 128px 186px;

        &.target {
          width: 22px;
          height: 22px;
          background-position: 0 0;
        }

        &.verizon {
          width: 79px;
          height: 18px;
          background-position: 0 -23px;
        }

        &.amtrak {
          width: 52px;
          height: 22px;
          background-position: 0 -42px;
        }

        &.marketwatch {
          width: 129px;
          height: 18px;
          background-position: 0 -65px;
        }

        &.usarmy {
          width: 52px;
          height: 18px;
          background-position: 0 -84px;
        }

        &.ge {
          width: 22px;
          height: 22px;
          background-position: 0 -103px;
        }

        &.comcast {
          width: 80px;
          height: 22px;
          background-position: 0 -126px;
        }

        &.ea {
          width: 37px;
          height: 18px;
          background-position: 0 -149px;
        }

        &.ibm {
          width: 48px;
          height: 18px;
          background-position: 0 -168px;
        }
      }

      @media (max-width: $screen-sm-min) {
        .sign-up-logos__content {
          justify-content: center;
          max-width: 590px;
          margin: 34px auto 0;
          flex-wrap: wrap;
        }

        .sign-up-logos__content > div {
          margin: 0 20px 30px;
          flex: 0 0 auto;
        }
      }
    }

    .content-tip {
      transition: border 0.2s;
      color: #8594AF;
      font-weight: 600;
      font-size: 13px;
      border: 1px solid #E1E5ED;
      padding: 12px 14px;
      border-radius: 6px;
      margin-top: 8px;
      display: inline-flex;
      align-items: center;

      &:hover {
        border-color: #c5cfe2;
      }

      &::before {
        content:'?';
        background: #ABB8CE;
        padding: 0 2px;
        border-radius: 4px;
        color: #fff;
        font-size: 11px;
        display: inline-block;
        width: 14px;
        flex: 0 0 14px;
        height: 14px;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
      }

      &::after {
        font-family: Ionicons;
        content: '\f3d1';
        font-size: 18px;
        margin-left: 8px;
        font-weight: 400;
        line-height: 1;
        display: inline-block;
        transform: translateY(-1px);
        transition: .3s transform;
        flex: 0 0 6px;
      }

      &:hover::after {
        transform: translate(2px, -1px);
      }
    }

    .supercharge {
      background-image: linear-gradient(-90deg, #7245D9 0%, #4C5BE3 52%, #2472EF 100%);
      box-shadow: 0 10px 20px 0 rgba(0,13,36,0.16), 0 2px 8px 0 rgba(0,13,36,0.08);
      border-radius: 11px;
      padding: 40px 40px 0;
      color: #fff;
      position: relative;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: -34px;
        left: 50%;
        transform: translateX(-50%);
        width: 68px;
        height: 68px;
        background: url('/img/getting-started/supercharge-logo.png') no-repeat;
        background-size: 100%;
      }

      li::before {
        background: #fff;
        color: #3880FF;
      }

      pre {
        background: rgba(0,0,0,0.18);

        code {
          color: #fff;
        }
      }

      .img {
        margin-top: 48px;
      }

      @media (max-width: $screen-xs-max) {
        padding: 20px 20px 0;

        .img {
          margin-top: 20px;
        }
      }
    }

    .learn-more {
      padding: 50px 0 60px;
      text-align: center;

      p {
        margin: 0;
      }
    }

    .next-steps {
      border-top: 1px solid #EDEDED;

      hgroup {
        max-width: 900px;
        padding-top: 100px;
        padding-bottom: 0;
      }

      .content-row {
        margin-top: 44px;
        margin-left: -12px;
        margin-right: -12px;

        .col {
          margin-left: 12px;
          margin-right: 12px;
        }

        .content-card {
          position: relative;
          padding-right: 100px;
          overflow: hidden;

          &::after {
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: 80px;
            width: 80px;
            height: 144px;
            content: '';
            display: block;
            position: absolute;
            right: 0;
            top: calc(50% - 72px);
          }

          &:nth-child(1)::after {
            background-image: url(/img/getting-started/ionic-native-card.png);
          }
          &:nth-child(2)::after {
            background-image: url(/img/getting-started/components-card.png);
          }
          &:nth-child(3)::after {
            background-image: url(/img/getting-started/theming-card.png);
          }
        }
      }

      @media (max-width: $screen-sm-max) {
        hgroup {
          padding-top: 42px;
        }
      }

      @media (max-width: $screen-md-max) {
        .content-row {
          flex-direction: column;

          .col {
            flex: 0 0 100%;
            margin: 12px 12px 0;
          }
        }
      }
    }

    .content-card {
      transition: box-shadow 0.3s;
      background: #FFFFFF;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,.1), 0 2px 4px 0 rgba(0,0,0,.08);
      border-radius: 8px;
      padding: 16px 92px 16px 32px;

      h3 {
        color: #0F1620
      }

      p {
        color: #545C6A;
      }

      &:hover {
        box-shadow: 0 5px 10px 0 rgba(0,13,36,0.08), 0 2px 8px 0 rgba(0,13,36,0.08);
      }
    }
  }

  .btn {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.08em;
    border-radius: 6px;
    padding: 20px 22px;
    display: inline-flex;
    align-items: center;

    i {
      transition: transform 0.2s;
      margin-left: 10px;
      font-size: 18px;
    }

    &:hover i {
      transform: translate(2px, 0);
    }
  }
}
