.page-home {
  .banner {
    background-image: linear-gradient( 90deg, rgb(56,128,255) 15%, rgb(103,167,255) 100%);

    margin-top: -80px;
    font-family: $font-family-eina;

    .container {
      position: relative;
      overflow: hidden;
      padding-bottom: 166px;
      padding-top: 144px;
      clear: left;
    }

    h1 {
      max-width: calc(50% - 71px);
      color: white;
      font-weight: 600;
      line-height: 56px;
      font-size: 44px;
      letter-spacing: -.039em;

      @media (min-width: $screen-lg-min) {
        height: 172px;
      }
    }

    p {
      font-family: $font-family-graphik;
      font-size: 21px;
      line-height: 36px;
      font-weight: 400;
      margin-top: 20px;
      margin-bottom: 35px;
      letter-spacing: -.03em;
      max-width: calc(50% - 72px);
      color: #f0f4fe;

      @media (min-width: $screen-lg-min) {
        height: 74px;
      }

      a {
        color: white;
        text-decoration: underline;
      }
    }

    hgroup {
      text-align: left;
    }

    .btns {
      font-family: $font-family-graphik;
      color: #dde6ff;
    }

    .btn {
      font-family: $font-family-eina;
      padding: 17px 20px 17px;
      font-size: 15px;
      letter-spacing: 0;
      font-weight: 700;
      margin-right: 10px;
      color: #3880ff;
      text-transform: uppercase;
      letter-spacing: 0.08em;
      display: inline-flex;
      align-items: center;

      &:after {
        font-family: Ionicons;
        content: '\f3d1';
        font-size: 24px;
        margin-left: 5px;
        font-weight: 400;
        line-height: 1;
        display: inline-block;
        transform: translateY(-1px);
        transition: .3s transform;
      }
      &:hover:after {
        transform: translate(2px, -1px);
      }

      @media (min-width: $screen-lg-min) {
        height: 54px;
      }
    }

    .text-link {
      transition: border 0.2s;
      color: #fff;
      border-bottom: 1px solid #fff;
      font-weight: 600;

      &:hover {
        border-bottom: 1px solid rgba(#fff, 0);
      }
    }

    .target {
      margin-top: 12px;
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.08em;
      color: #ccdfff;

      i {
        display: inline-block;
        width: 143px;
        height: 13px;
        background: url('/img/homepage/hero-target-icons.png') 0 0 no-repeat;
        background-size: 100%;
        margin-left: 6px;
        transform: translateY(2px);
      }
    }

    .graphics {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 550px;
      animation: 1s cubic-bezier(0, 0, 0.25, 1) 1s backwards fadeInUp;
      transition: .3s bottom, .3s transform, .3s left;

      @media (max-width: $screen-md-max) {
        bottom: 160px;
      }

      .iphone,
      .android {
        transform: rotateY(15deg);
        transition: 1.9s transform;
      }

      &:hover {
        .android {
          transform: translateX(-3px) rotateY(0deg);

          .layer-2 {
            transform: translateX(5px);
          }
        }

        .iphone {
          transform: translateX(3px) rotateY(0deg);

          .layer-4 {
            transform: translateX(5px);
          }
        }

      }

      .android {
        animation: 1.4s cubic-bezier(0, 0, 0.25, 1) 1.4s backwards home-app-group-android;
      }

      .iphone {
        animation: 1.4s cubic-bezier(0, 0, 0.25, 1) 1.4s backwards home-app-group-iphone;
      }

      .layer-1 {
        position: absolute;
        background: url('/img/homepage/hero-img-android-blue.png') 0 0 no-repeat;
        background-size: 100%;
        width: 410px;
        height: 870px;
        bottom: -216px;
        right: -21px;
      }

      .layer-2 {
        position: absolute;
        background: url('/img/homepage/hero-img-components-android-blue.png') 0 0 no-repeat;
        background-size: 100%;
        width: 316px;
        height: 571px;
        bottom: -147px;
        right: 52px;
        transition: 2s transform;
        animation: 1s cubic-bezier(0, 0, 0.25, 1.25) 2s backwards home-app-android;
      }

      .layer-3 {
        position: absolute;
        background: url('/img/homepage/hero-img-iphone-blue.png') 0 0 no-repeat;
        background-size: 100%;
        width: 420px;
        height: 830px;
        bottom: -214px;
        right: 110px;
      }

      .layer-4 {
        position: absolute;
        background: url('/img/homepage/hero-img-components-blue.png') 0 0 no-repeat;
        background-size: 100%;
        width: 286px;
        height: 612px;
        bottom: -157px;
        right: 247px;
        transition: 2s transform;
        animation: 1s cubic-bezier(0, 0, 0.25, 1.25) 2s backwards home-app-iphone;
      }
    }

    @media (max-width: $screen-sm-max) {

      .container {
        padding-top: 84px;
        padding-bottom: 64px;
      }

      hgroup {
        text-align: center;
        position: relative;
        z-index: 1;
      }

      h1,
      p {
        max-width: 528px;
        margin-left: auto;
        margin-right: auto;
      }

      .graphics {
        bottom: 0;
        transform: scale(.667, .667);
        animation-name: fadeInUpSmall;
        left: calc(50% - 270px);
        opacity: .5;
      }
    }

    @media (max-width: $screen-xs-max) {
      .container {
        padding-top: 124px;
      }
    }
  }

  main {
    font-family: $font-family-eina;
    position: relative;
    z-index: 1;
    background: white;
  }

	.paths {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;

    @media (max-width: $screen-md-max) {
      justify-content: space-around;
    }

		&::before {
			display: none;
    }

    .layer-1,
    .layer-2 {
      -webkit-font-smoothing: antialiased;
      will-change: transform;
    }

    .layer-1 {
      transform: translate3d(0, 0, 10px);
    }

    .layer-2 {
      transform: translate3d(0, 0, 20px);
    }

    h4 {
      text-transform: uppercase;
      letter-spacing: .13em;
      color: rgba(255, 255, 255, 0.7);
      font-weight: 700;
      font-size: 12px;
      margin-top: 0;

      em {
        font-style: normal;
        color: #fff !important;
      }
    }

    h2 {
      color: white;
      font-weight: 700;
      font-size: 24px;
      margin-top: 20px;
      line-height: 32px;
    }

    .card-link {
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: 700;
      line-height: 1;

      &::after {
        font-family: Ionicons;
        content: '\f287';
        font-size: 1.2em;
        margin-left: 5px;
        font-weight: 400;
        line-height: 1em;
        position: relative;
        top: 1px;
        display: inline-block;
        transition: .3s transform;
      }
    }

    li {
      flex: 0 0 370px;
      max-width: 100%;
      height: 308px;
      margin-bottom: 16px;
      list-style: none;
      position: relative;
      perspective: 600px;

      .card-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: .5s transform cubic-bezier(0.215, 0.61, 0.355, 1);
        will-change: transform;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        transform: translateZ(0);

        &:hover {
          transform: translateZ(10px);
        }
      }

      .card {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        will-change: transform, box-shadow;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        transition: box-shadow 0.3s ease;
        background-image:
          url('/img/homepage/feature-card-enterprise.png'),
          linear-gradient(60deg, #273350 0%, #364d78 100%);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 18px;
        box-shadow: 0 6px 12px rgba(black, .08), 0 2px 4px rgba(black, .08);

        h4 {
          color: #a8bcd3;
        }

        &:hover {
          box-shadow:
            0 16px 32px rgba(black, .08),
            0 6px 12px rgba(black, .08);
        }
      }

      .layer-1 {
        padding: 38px;
        will-change: transform;
      }

      .layer-2 {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 38px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        will-change: transform;

        @media (max-width: 380px) {
          padding-top: 246px;
        }

      }

      &.teams .card {
        background-image:
          url('/img/homepage/feature-card-teams.png'),
          linear-gradient(60deg, #666feb 0%, #7eaef3 100%);

        h4 {
          color: #d3e5ff;
        }
      }

      &.startups .card {
        background-image:
          url('/img/homepage/feature-card-startups.png'),
          linear-gradient(60deg, #3f9b7b 0%, #80d19d 100%);

        h4 {
          color: #ccede9;
        }
      }
    }

  }

  .company {
    margin: 100px auto;

    h2 {
      color: #7f8fab;
      margin: 0 auto;
      font-size: 28px;
      max-width: 760px;
      text-align: center;
      line-height: 1.4em;
      letter-spacing: -.04em;
      font-weight: 600;

      strong {
        color: #131924;
        font-weight: 600;
      }
    }

    h3 {
      color: #7f8fab;
      font-weight: 600;
      line-height: 1.4em;
      letter-spacing: -.04em;
      text-align: center;
      font-size: 16px;
    }

    .logos {
      display: flex;
      flex-wrap: wrap;
      margin-top: 51px;
      justify-content: space-between;
      max-width: 1138px;
      margin-left: auto;
      margin-right: auto;

      .logo {
        background-image: url('/img/homepage/enterprise-logos-dark-sprite.png');
        background-repeat: no-repeat;
        background-size: 110px 210px;

        &--cat {
          width: 44px;
          height: 26px;
          background-position: -1px -2px;
        }
        &--comcast {
          width: 90px;
          height: 24px;
          background-position: -1px -33px;
        }
        &--ge {
          width: 31px;
          height: 30px;
          background-position: -1px -60px;
        }
        &--ibm {
          width: 61px;
          height: 24px;
          background-position: -1px -93px;
        }
        &--target {
          width: 103px;
          height: 22px;
          background-position: -1px -124px;
        }
        &--mcdonalds {
          width: 26px;
          height: 22px;
          background-position: -1px -152px;
        }
        &--microsoft {
          width: 92px;
          height: 22px;
          background-position: -1px -183px;
        }
      }


    }

    @media (max-width: $screen-sm-min) {
      margin: 60px 0 40px;

      .logos {
        justify-content: center;
        max-width: 420px;
      }

      .logo {
        margin-bottom: 32px;
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }

  .newsletter {
    // border-top: 1px solid #edf2f7;
    border-bottom: 1px solid #edf2f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 55px 0 57px;

    hgroup {
      flex: 1 1 50%;

      h3 {
        color: $blue;
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 5px;
        letter-spacing: -0.02em;
      }

      p {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.02em;
        color: #7f8fab;
      }

      a {
        color: #131924;
      }

      @media (max-width: $screen-md-max) {
        text-align: center;
      }
    }

    form {
      flex: 0 1 517px;
      min-width: 140px;
      align-items: center;
      display: flex;
      align-content: stretch;
      margin-top: 24px;
      margin-bottom: 24px;
      border-radius: 4px 0 0 4px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.14);

      input {
        flex-grow: 1;
        border: none;
        background: rgba(white, .2);
        border-radius: 4px 0 0 4px;
        font-size: 13px;
        color: $blacker;
        box-shadow: none;
        font-weight: 500;
        width:140px;
        height: 100%;
        outline: 0;
        flex-grow: 1;
        padding: 1px 16px 0px;
        transition: .2s background, .2s box-shadow;

        &:hover {
          box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
        }

        &:focus {
          box-shadow: inset 0 0 2px rgba(0, 0, 0, .1);
        }

        &::placeholder {
          padding-left: 0;
          color: #a1a9b6;
        }
      }

      button {
        flex-grow: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 48px;
        font-weight: 600;
        min-width: 148px;
      }
    }
  }
}
