.page-home {
  .banner {
    background: linear-gradient(
      60deg,
      #3d7afd 0%,
      #4c6df9 50%,
      #4a68ef 50%,
      #5b5ef4 100%
    );
    margin-top: -80px;
    font-family: $font-family-eina;

    .container {
      position: relative;
      overflow: hidden;
      padding-bottom: 166px;
      padding-top: 124px;
      clear: left;
    }

    h1 {
      max-width: calc(50% - 71px);
      color: white;
      font-weight: 600;
      line-height: 56px;
      font-size: 44px;
      letter-spacing: -.039em;

      @media (min-width: $screen-lg-min) {
        height: 172px;
      }
    }

    p {
      font-size: 21px;
      line-height: 36px;
      font-weight: 400;
      margin-top: 20px;
      margin-bottom: 35px;
      letter-spacing: -.03em;
      max-width: calc(50% - 72px);
      color: #f0f4fe;

      @media (min-width: $screen-lg-min) {
        height: 74px;
      }

      a {
        color: white;
        text-decoration: underline;
      }
    }

    hgroup {
      text-align: left;
    }

    .btn {
      padding: 15px 15px 11px;
      font-size: 16px;
      letter-spacing: 0;
      font-weight: 600;
      margin-right: 7px;

      @media (min-width: $screen-lg-min) {
        height: 48px;
      }

      @media (max-width: $screen-xs-max) {
        margin-bottom: 16px;
      }
    }

    .graphics {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 550px;
      animation: 1s cubic-bezier(0, 0, 0.25, 1) 1s backwards fadeInUp;
      transition: .3s bottom, .3s transform, .3s left;

      @media (max-width: $screen-md-max) {
        bottom: 160px;
      }

      .iphone,
      .android {
        transform: rotateY(15deg);
        transition: 1.9s transform;
      }

      &:hover {
        .android {
          transform: translateX(-3px) rotateY(0deg);

          .layer-2 {
            transform: translateX(5px);
          }
        }

        .iphone {
          transform: translateX(3px) rotateY(0deg);

          .layer-4 {
            transform: translateX(5px);
          }
        }

      }

      .android {
        animation: 1.4s cubic-bezier(0, 0, 0.25, 1) 1.4s backwards home-app-group-android;
      }

      .iphone {
        animation: 1.4s cubic-bezier(0, 0, 0.25, 1) 1.4s backwards home-app-group-iphone;
      }

      .layer-1 {
        position: absolute;
        background: url('/img/homepage/hero-img-android.png') 0 0 no-repeat;
        background-size: 100%;
        width: 410px;
        height: 870px;
        bottom: -216px;
        right: -21px;
      }

      .layer-2 {
        position: absolute;
        background: url('/img/homepage/hero-img-components-android.png') 0 0 no-repeat;
        background-size: 100%;
        width: 316px;
        height: 571px;
        bottom: -147px;
        right: 52px;
        transition: 2s transform;
        animation: 1s cubic-bezier(0, 0, 0.25, 1.25) 2s backwards home-app-android;
      }

      .layer-3 {
        position: absolute;
        background: url('/img/homepage/hero-img-iphone.png') 0 0 no-repeat;
        background-size: 100%;
        width: 420px;
        height: 830px;
        bottom: -214px;
        right: 110px;
      }

      .layer-4 {
        position: absolute;
        background: url('/img/homepage/hero-img-components.png') 0 0 no-repeat;
        background-size: 100%;
        width: 286px;
        height: 612px;
        bottom: -157px;
        right: 247px;
        transition: 2s transform;
        animation: 1s cubic-bezier(0, 0, 0.25, 1.25) 2s backwards home-app-iphone;
      }
    }

    @media (max-width: $screen-sm-max) {

      .container {
        padding-top: 44px;
        padding-bottom: 64px;
      }

      hgroup {
        text-align: center;
        position: relative;
        z-index: 1;
      }

      h1,
      p {
        max-width: 100%;
      }

      .graphics {
        bottom: 0;
        transform: scale(.667, .667);
        animation-name: fadeInUpSmall;
        left: calc(50% - 270px);
        opacity: .5;
      }
    }

    @media (max-width: $screen-xs-max) {
      .container {
        padding-top: 124px;
      }
    }
  }

  main {
    font-family: $font-family-eina;
    position: relative;
    z-index: 1;
    background: white;
  }

	.paths {
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;

    @media (max-width: $screen-md-max) {
      justify-content: space-around;
    }

		&::before {
			display: none;
    }

    .layer-1,
    .layer-2 {
      -webkit-font-smoothing: antialiased;
      will-change: transform;
    }

    .layer-1 {
      transform: translate3d(0, 0, 10px);
    }

    .layer-2 {
      transform: translate3d(0, 0, 20px);
    }

		li {
      flex: 0 0 370px;
      max-width: 100%;
      height: 308px;
      margin-bottom: 16px;
      list-style: none;
      position: relative;
      perspective: 600px;

      .card-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: .5s transform cubic-bezier(0.215, 0.61, 0.355, 1);
        will-change: transform;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        transform: translateZ(0);

        &:hover {
          transform: translateZ(10px);
        }
      }

      .card {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        will-change: transform, box-shadow;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        transition: box-shadow 0.3s ease;
        background-image:
          url('/img/homepage/feature-card-bg-framework.png'),
          linear-gradient(60deg, #73c5ff 0%, #3880ff 100%);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 18px;
        box-shadow: 0 6px 12px rgba(black, .08), 0 2px 4px rgba(black, .08);

        &:hover {
          box-shadow:
            0 16px 32px rgba(black, .08),
            0 6px 12px rgba(black, .08);
        }
      }

      .layer-1 {
        padding: 122px 40px 31px 30px;
        will-change: transform;
      }

      .layer-2 {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 232px 40px 31px 30px;
        will-change: transform;

        @media (max-width: 380px) {
          padding-top: 246px;
        }

        &::before {
          background: url('/img/homepage/feature-card-icons.png') 0 0 no-repeat;
          background-size: 80px;
          width: 80px;
          height: 80px;
          content: '';
          position: absolute;
          top: 30px;
        }
      }

      &.pro .card {
        background-image:
          url('/img/homepage/feature-card-bg-pro.png'),
          linear-gradient(60deg, #050a14 0%, #062456 100%);

        .layer-2::before { background-position: 0 -80px; }
        .btn { color: #000f2a; }
      }

      &.enterprise .card {
        background-image:
          url('/img/homepage/feature-card-bg-entrps-support.png'),
          linear-gradient(60deg, #fcc14e 0%, #fed4d1 100%);

        .layer-2::before { background-position: 0 -160px; }
        .btn { color: #faa218; }
      }
    }

		h4 {
      text-transform: uppercase;
      letter-spacing: .13em;
      color: rgba(255, 255, 255, 0.7);
      font-weight: 700;
      font-size: 11px;
		}

		h2 {
			color: white;
			text-shadow: 0 2px 4px rgba(white, .1);
			font-weight: 700;
      font-size: 23px;
      margin-top: 13px;
      line-height: 1.24em;
    }

    .btn {
      font-weight: 700;
      letter-spacing: 0;
      text-transform: none;
      padding: 13px 15px 10px;
      font-size: 14px;
      margin-top: 0;
      border-radius: 4px;
      color: #418bff;

      &::after {
        font-family: Ionicons;
        content: '\f287';
        font-size: 1.2em;
        margin-left: 5px;
        font-weight: 400;
        line-height: 1em;
        position: relative;
        top: 1px;
        display: inline-block;
        transition: .3s transform;
      }

      &:hover::after {
        transform: translate3d(3px,0,0);
      }
    }
  }

  .company {
    margin: 77px auto 68px;

    h2 {
      color: #7f8fab;
      margin: 0 auto;
      font-size: 28px;
      max-width: 760px;
      text-align: center;
      line-height: 1.4em;
      letter-spacing: -.04em;
      font-weight: 600;

      strong {
        color: #131924;
        font-weight: 600;
      }
    }

    h3 {
      color: #7f8fab;
      font-weight: 600;
      line-height: 1.4em;
      letter-spacing: -.04em;
      text-align: center;
      font-size: 16px;
    }

    .logos {
      display: flex;
      flex-wrap: wrap;
      margin-top: 51px;
      justify-content: space-evenly;

      &::before,
      &::after {
        background: url('/img/homepage/enterprise-logos.png') 0 0 no-repeat;
        background-size: 494px;
        width: 494px;
        height: 42px;
        content: '';
        max-width: 100%;
        margin-bottom: 32px;
        display: inline-block;
      }

      &::after {
        background-position: 0 bottom;
      }
    }
  }

  .newsletter {
    // border-top: 1px solid #edf2f7;
    border-bottom: 1px solid #edf2f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 55px 0 57px;

    hgroup {
      flex: 1 1 50%;

      h3 {
        color: $blue;
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 5px;
        letter-spacing: -0.02em;
      }

      p {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.02em;
        color: #7f8fab;
      }

      a {
        color: #131924;
      }

      @media (max-width: $screen-md-max) {
        text-align: center;
      }
    }

    form {
      flex: 0 1 517px;
      min-width: 140px;
      align-items: center;
      display: flex;
      align-content: stretch;
      margin-top: 24px;
      margin-bottom: 24px;
      border-radius: 4px 0 0 4px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.14);

      input {
        flex-grow: 1;
        border: none;
        background: rgba(white, .2);
        border-radius: 4px 0 0 4px;
        font-size: 13px;
        color: $blacker;
        box-shadow: none;
        font-weight: 500;
        width:140px;
        height: 100%;
        outline: 0;
        flex-grow: 1;
        padding: 1px 16px 0px;
        transition: .2s background, .2s box-shadow;

        &:hover {
          box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
        }

        &:focus {
          box-shadow: inset 0 0 2px rgba(0, 0, 0, .1);
        }

        &::placeholder {
          padding-left: 0;
          color: #a1a9b6;
        }
      }

      button {
        flex-grow: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 48px;
        font-weight: 500;
        min-width: 148px;
      }
    }
  }
}
