#page-login {
  font-family: $font-family-eina;

  .tab-content {
    padding: 20px 0 0;

    @media (max-width: $screen-xs-max) {
      padding: 80px 0 0;
    }

    .container:last-child {
      border-bottom: 1px solid #edf2f7;
      padding-bottom: 120px;

      @media (max-width: $screen-sm-max) {
        padding-bottom: 70px;
      }
    }

    hgroup {
      margin: 0 auto;
      max-width: 580px;
      text-align: center;
      padding-bottom: 60px;

      .btn {
        margin-top: 32px;
      }
    }

    h1 {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.02em;
    }

    .content-row {
      display: flex;
      justify-content: space-between;
      margin-top: 24px;
      margin-left: -24px;
      margin-right: -24px;

      .col {
        padding-left: 24px;
        padding-right: 24px;
      }

      .col--full {
        flex: 0 0 100%;
        margin-left: 0;
        margin-right: 0;
      }

      .col--centered {
        text-align: center;
      }

      a {
        ion-icon {
          color: #b0dbff;
        }

        &:hover ion-icon {
          color: #3880ff;
        }
      }
    }

    .form-row {
      display: flex;
      justify-content: center;

      .form-wrapper {
        flex: 0 0 580px;
      }

      @media (max-width: $screen-sm-max) {
        display: block;
      }
    }

    .form {
      padding: 64px;
      background: #FFFFFF;
      box-shadow: 0 10px 20px 0 rgba(0,13,36,0.16), 0 2px 8px 0 rgba(0,13,36,0.08);
      border-radius: 16px;

      &.hide-password #field-password {
        height: 0px;
        margin-bottom: 0px;
        overflow: hidden;
      }

      label {
        display: block;
        font-size: 13px;
        color: #3B434D;
        letter-spacing: -0.015em;
        font-weight: 600;
        margin-bottom: 3px;
      }

      input[type="text"],
      input[type="password"] {
        transition: border 0.2s;
        display: block;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #C3CDDF;
        border-radius: 6px;
        padding: 11px 16px;

        &:focus {
          outline: none !important;
          border: 1px solid #3880ff;
        }
      }

      .error input[type="text"],
      .error input[type="password"] {
        border-color: #f45454;
      }

      .form-group {
        margin-bottom: 20px;
      }

      .form-message {
        color: #f45454;
        font-weight: 600;

        &--small {
          font-size: 11px;
          line-height: 16px;
          margin-top: 6px;
        }
      }

      .btn {
        display: block;
        width: 100%;
      }

      .disclaimer {
        display: block;
        text-align: center;
        font-size: 11px;
        color: #a0a9b7;
        font-weight: 600;
      }

      .well {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        width: 100%;
        border: 1px solid #E1E5ED;
        border-radius: 6px;
        margin-top: 16px;
        color: #3B424D;
        font-size: 14px;
        font-weight: 600;
      }

      .text-link {
        text-decoration: underline;
        margin-left: 8px;
      }

      .forgot-password {
        float: right;
      }

      @media (max-width: $screen-xs-min) {
        padding: 36px 28px;
      }
    }

    .errorlist {
      display: none;
      color: #f45454;
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
      margin-bottom: 28px;

      &.error {
        display: block;
      }
    }
  }

  .btn {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.08em;
    border-radius: 6px;
    padding: 20px 22px;
    display: inline-flex;
    align-items: center;

    i {
      transition: transform 0.2s;
      margin-left: 10px;
      font-size: 18px;
    }

    &:hover i {
      transform: translate(2px, 0);
    }
  }
}
