#page-press {
  .navbar + .banner {
    background: #182949 no-repeat center top;
    background-image: url('/img/press/press-cta-bg.jpg'),
                      linear-gradient(to right, #1f3253 0%, #39485d 100%);
    background-size: cover, 100%;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .tabs {
    margin-top: 60px;
    padding-top: 8px;
    margin-bottom: 50px;
    position: relative;

    &:before {
      position: absolute;
      background: $whiteish;
      width: 1px;
      left: 275px;
      top: 0;
      bottom: 0;
      display: block;
      content: '';
      @media (max-width: $screen-md-max)  {
        left: 235px;
      }
      @media (max-width: $screen-sm-max)  {
        left: 180px;
      }
      @media (max-width: $screen-xs-max)  {
        left: auto;
        right: 29px;
      }
    }

    .nav-stacked {
      a {
        font-weight: 500;
        color: $blackish;
        font-size: 14px;
        border-right: 1px solid transparent;
        margin-right: -1px;
        background: transparent !important;
        transition: color .2s, border-color .2s;
      }

      li.active a,
      li a:hover,
      li a:active {
        color: $blue;
        border-color: $blue;
      }
    }
  }
}
