#page-pricing {
  .navbar {
    + .cta {
      background: #061833 linear-gradient(45deg,#081834 0,#051b33 50%,#041629 50%,#031f33 100%);;
      padding-top: 97px;

      hgroup {
        padding-bottom: 226px;
        color: white;
        text-align: center;

        h1 {
          padding-bottom: 10px;
          margin: 0 0 8px;
          font-size: 34px;
          letter-spacing: -0.2px;
          font-weight: 400;
        }

        .success {
          color: $green;
        }
      }
    }
  }

  .cards {
    margin: -182px auto 50px;
    text-align: center;
    display: flex;

    .card {
      background: white;
      position: relative;
      vertical-align: top;
      width: 286px;
      padding: 41px 35px 16px;
      cursor: pointer;

      &::before {
        background: white;
        bottom: 0;
        border-radius: 2px;
        box-shadow: 0 8px 32px rgba(0, 0, 0, .1), 0 2px 8px rgba(0, 0, 0, .1);
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform: scale3d(1, 1, 1);
        transition: .3s transform, .3s background, .3s box-shadow;
      }

      &::after {
        background: no-repeat 0 0 url('/img/pricing/pricing-box-active-carrot.png');
        background-size: 19px;
        width: 19px;
        height: 8px;
        position: absolute;
        content: '';
        display: block;
        bottom: -26px;
        left: calc(50% - 15px);
        opacity: 0;
        transform: translate3d(0, -19px, 0);
        transition: .3s border-top-color, .3s transform;
      }

      &:hover {
        &::before {
          transform: scale3d(1.05, 1.05, 1);
        }

        &::after {
          transform: translate3d(0, -9px, 0);
        }

        .cta {
          transform: translate3d(0, 9px, 0);
        }
      }

      &.active {
        z-index: 2;
        cursor: default;

        &::before {
          background: linear-gradient(to bottom, white 0%, white 80%, $blue 80%, $blue 100%);
          transform: scale3d(1.1, 1.1, 1);
          box-shadow: 0 8px 32px rgba(0, 0, 0, .15), 0 2px 8px rgba(0, 0, 0, .15);
        }

        &::after {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }

        .cta {
          bottom: 5000px;
          transform: translate3d(0, 16px, 0);
          transition: .3s transform, .3s color, .3s bottom step-start;
        }

        a.cta {
          bottom: 0;
          transition: .3s transform, .3s color, .3s bottom step-start;
        }
      }

      .title {
        color: $blue;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2px;
        padding-top: 48px;
        position: relative;
        text-transform: uppercase;
        z-index: 1;
      }

      &:nth-child(2) .title {
        padding-top: 30px;
        color: $green;
      }

      h2 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 26px;
        position: relative;
        text-transform: uppercase;
        z-index: 1;

        sup {
          font-size: 20px;
          top: -5px;
        }

        sub {
          font-size: 10px;
          top: -1px;
          left: 1px;
          margin-left: -10px;
        }

        &.free {
          font-size: 36px;
          letter-spacing: 2px;
        }
      }

      h3 {
        color: #aab7cc;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: 0;
        position: relative;
        text-transform: uppercase;
        z-index: 1;
      }

      ul {
        padding: 20px 0 0 13px;
        text-align: left;
      }

      li {
        color: #404349;
        font-size: 14px;
        list-style: none;
        padding: 15px 0 0 23px;
        position: relative;

        &::before {
          background: no-repeat 0 0 url('/img/pricing/checkmark.png');
          background-size: 16px;
          content: '';
          display: block;
          height: 16px;
          left: 0;
          position: absolute;
          top: 16px;
          width: 16px;
        }
      }

      .cta {
        padding-bottom: 30px;
        padding-top: 30px;
        bottom: 0;
        display: block;
        color: $blue;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2px;
        position: absolute;
        text-transform: uppercase;
        transition: .3s transform, .3s color, .3s opacity;
        width: 100%;
      }

      a.cta {
        text-decoration: none;
        color: white;
        bottom: 5000px;
        transition: .3s transform, .3s color, .3s opacity, .3s bottom step-start;

        &::after {
          background: no-repeat 0 0 url('/img/pricing/arrow.png');
          background-size: 14px;
          height: 14px;
          width: 14px;
          display: inline-block;
          content: '';
          left: -7px;
          top: 1px;
          opacity: 0;
          transition: .3s opacity, .3s transform;
          position: relative;
        }

        &:hover {
          transform: translate3d(-5px, 16px, 0);

          &::after {
            opacity: 1;
            transform: translate3d(10px, 0, 0);
          }
        }
      }


      @media (max-width: $screen-xs-max)  {
        display: block;
        width: 80%;
        margin: 0 auto;
        padding-right: 5px;
        padding-left: 5px;

        ul {
          padding-left: 0;
          text-align: center;

          li {
            display: block;
            padding-left: 0;

            &::before {
              display: none;
            }
          }
        }
      }
    }
  }

  .builder {
    padding-top: 50px;

    .head-wrapper {
      min-height: 45px;
      @media (min-width: $screen-sm-max)  {
        &.affix {
          padding-top: 25px;
          border-bottom: 1px solid #e8ebf1;
          top: 0;
          left:0;
          right: 0;
          background: white;
          z-index: 5;
          width: 100%;

          .head {
            padding-bottom: 0;

          }

          + .container {
            padding-top: 45px;
          }
        }
      }
    }

    .head {
      padding-bottom: 23px;

      .emc {
        color: #727a87;
        float: right;
        font-size: 14px;
        position: relative;
        top: -11px;
        vertical-align: top;

        .cost {
          color: #272a2f;
          font-size: 24px;
          font-weight: 700;
          margin-left: 10px;

          sup {
            font-size: .6em;
            top: -.2em;
            font-weight: 600;
          }
        }

        a {
          letter-spacing: 0;
          font-size: 18px;
          transition: none;
          top: -2px;
          position: relative;

          &.btn {
            padding: 11px 14px 10px;
            font-size: 13px;
            vertical-align: text-bottom;
            margin-left: 16px;
          }
        }
      }

      .title {
        color: #272a2f;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .service {
      border-top: 1px solid #e8ebf1;
      padding: 30px 0 20px;
      position: relative;

      &::before {
        background: no-repeat 0 0 url('/img/pricing/services-overview-icons.png');
        background-size: 32px;
        height: 32px;
        width: 32px;
        content: '';
        display: block;
        position: absolute;
        top: 30px;
        left: 0;
      }

      &.push::before { background-position: 0 -32px; }
      &.package::before { background-position: 0 -64px; }
      &.users::before { background-position: 0 -96px; }
      &.analytics::before { background-position: 0 -128px; }
    }

    h3,
    p {
      padding-right: 640px;
      padding-left: 50px;
    }

    h3 {
      font-size: 20px;
      line-height: 1em;
      margin-top: 0;
    }

    p {
      font-size: 14px;
      line-height: 1.8em;

      a::after {
        content: ' \f3d1';
        font-family: 'Ionicons';
        font-size: 13px;
        position: relative;
        top: 1px;
      }
    }

    .widget {
      float: right;
      position: relative;
      width: 50%;

      h4 {
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 4px;
      }

      .qty {
        font-size: 24px;
        font-weight: 500;

        span {
          color: #a8b0be;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .cost {
        font-size: 20px;
        font-weight: 700;
        position: absolute;
        right: 0;
        top: -3px;

        em {
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          position: relative;
          top: -2px;
        }

        span {
          color: #a8b0be;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .rate {
        position: absolute;
        right: 0;
        top: 35px;
        color: #a8b0be;
        font-size: 13px;
        font-weight: 500;
      }
    }

    &.indie,
    .service.free {
      h4,
      .qty {
        text-align: right;
      }

      .widget {
        width: 200px;
      }

      h3,
      p {
        padding-right: 200px;
      }
    }

    @media (max-width: $screen-md-max)  {
      h3,
      p {
        padding-right: 40%;
        padding-left: 50px;
      }
    }

    @media (max-width: $screen-sm-max)  {
      .head-wrapper.affix {
        position: relative;
      }
    }

    @media (max-width: $screen-xs-max)  {
      h3,
      p {
        padding-right: 0;
        padding-left: 50px;
      }

      .service.free,
      .service.indie {
        padding-bottom: 10px;

        h3,
        p {
          padding-right: 0;
        }

        .widget {
          display: none;
        }
      }

      .service {
        padding-bottom: 130px;
      }

      .widget {
        float: none;
        position: absolute;
        bottom: 20px;
        width: 80%;
        left: 10%;

        .rate {
          display: none;
        }
      }
    }

    @media (max-width: 530px)  {
      .head {
        .emc {
          .btn {
            display: none;
          }
        }
      }
    }
  }


  .also {
    background: #f9fafc;
    border: 1px solid $whiteish;
    border-left: 0;
    border-right: 0;
    margin-top: 81px;
    padding-top: 88px;

    h3 {
      font-size: 23.5px;
    }

    .items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 80px 0 0;
    }

    .item {
      flex: 0 1 325px;
      list-style: none;
      margin-bottom: 80px;
      padding-left: 70px;
      position: relative;

      &::before {
        background: no-repeat center top url('/img/pricing/included-icons.png');
        background-size: 48px;
        content: '';
        height: 48px;
        left: 0;
        position: absolute;
        top: 0;
        width: 48px;
      }

      &:nth-child(2)::before { background-position: center -48px; }
      &:nth-child(3)::before { background-position: center -96px; }
      &:nth-child(4)::before { background-position: center -144px; }
      &:nth-child(5)::before { background-position: center -192px; }
      &:nth-child(6)::before { background-position: center -240px; }

      h4 {
        font-size: 16px;
      }

      p {
        font-size: 14px;
        line-height: 28px;
      }
    }
  }

  .faq {
    padding-top: 96px;

    ul {
      float: left;
      margin: 0 auto;
      max-width: 501px;
      width: 50%;

      @media (max-width: $screen-xs-max)  {
        float: none;
        width: 100%;
      }
    }

    li {
      display: block;
      list-style: none;
      padding: 80px 20px 0;
      width: 100%;
    }

    h4 {
      font-size: 18px;
    }

    p {
      color: $darkish-grey;
      font-weight: 500;
      line-height: 2.2em;

      strong {
        color: $blacker;
      }
    }
  }

  .hero.dark {
    background: #2b559b linear-gradient(to right, #407be2 0%, #1b335c 100%);
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 96px;

    h3 {
      color: white;
    }

    .btn {
      border-radius: 4px;

      &.white {
        color: $blue;
      }

      &.ionic {
        background: #4c79c5;
        border-color: #4c79c5;

        &:hover {
          background: darken(#4c79c5, 5);
          border-color: darken(#4c79c5, 5);
        }
      }
    }
  }
}
