#page-pricing {
  .navbar {
    + .cta {
      background: #061833 linear-gradient(45deg,#081834 0,#051b33 50%,#041629 50%,#031f33 100%);;
      padding-top: 97px;

      hgroup {
        padding-bottom: 402px;
        padding-top: 28px;
        color: white;
        text-align: center;
        max-width: 665px;

        h1 {
          padding-bottom: 10px;
          margin: 0 0 8px;
          font-size: 25px;
          font-weight: 700;
          letter-spacing: -.015em;
        }

        p {
          letter-spacing: .001em;
          font-size: 15px;
          line-height: 1.8em;
        }

        .success {
          color: $green;
        }
      }
    }
  }

  .cards {
    margin: -335px auto 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    background: white;
    border-radius: 6px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, .1), 0 2px 8px rgba(0, 0, 0, .1);

    .card {
      position: relative;
      vertical-align: top;
      width: 285px;
      flex: 1 0 285px;
      padding: 40px 33px 122px;

      + .card {
        border-left: 1px solid #eee;
      }

      .title {
        color: $blue;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2px;
        padding-top: 0px;
        margin-top: 0;
        position: relative;
        text-transform: uppercase;
        z-index: 1;
      }

      &.developer {
        .title,
        .plus {
          color: $green;
        }
      }

      &.business {
        .title,
        .plus {
          color: #5f57ff;
        }
      }

      &.enterprise {
        .title,
        .plus {
          color: #f73a66;
        }
      }

      h2 {
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 19px;
        margin-top: 20px;
        position: relative;
        text-transform: uppercase;
        z-index: 1;

        sup {
          font-size: 20px;
          top: -9px;
        }

        sub {
          font-size: 10px;
          top: -1px;
          left: 1px;
          margin-left: -10px;
        }

        small {
          display: block;
          font-size: 11px;
          font-weight: 700;
          color: #333;

          sup {
            font-size: 12px;
            top: 0px;
          }
        }

        &.free,
        &.contact {
          font-size: 28px;
          letter-spacing: 2px;
          margin-top: 34px;
          margin-bottom: 23px;
        }
      }

      h3 {
        color: #aab7cc;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: .06em;
        line-height: 1.6em;
        margin-top: 0;
        margin-bottom: 26px;
        position: relative;
        text-transform: uppercase;
        z-index: 1;
      }

      .infinite {
        z-index: 1;
        position: relative;
        margin-top: 5px;
        display: inline-block;
        background: #e9f1ff;
        color: #498aff;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: .09em;
        padding: 4px 7px;
        border-radius: 3px;

        &::before {
          font-family: 'Ionicons';
          content: '\f310';
          font-size: 19px;
          font-weight: 500;
          line-height: 11px;
          margin-right: 5px;
          vertical-align: -4px;
        }
      }

      ul {
        padding: 18px 0 0 7px;
        text-align: left;
        margin: 0 auto;
        max-width: 220px;
      }

      li {
        color: #404349;
        font-size: 13px;
        list-style: none;
        padding: 14px 0 0 22px;
        position: relative;

        &.plus {
          font-weight: 600;
          letter-spacing: -.012em;
        }

        &::before {
          font-family: 'Ionicons';
          content: '\f2ba';
          position: absolute;
          display: block;
          left: 0;
          top: 14px;
        }

        b {
          font-weight: 500;
        }

        a {
          font-weight: 500;
        }
      }

      .cta {
        font-weight: 700;
        position: absolute;
        text-transform: uppercase;
        text-decoration: none;
        padding-bottom: 21px;
        padding-top: 23px;
        bottom: 34px;
        display: block;
        z-index: 1;
        left: 32px;
        right: 32px;
        font-size: 12px;
        letter-spacing: .18em;

        &.outline {
          padding: 21px 33px 19px;
          border: 2px solid $blue;
        }

        + small {
          position: absolute;
          bottom: 100px;
          letter-spacing: .2em;
          font-size: 10px;
          left: 32px;
          right: 32px;
          color: #bbb;
          font-weight: 500;
          text-transform: uppercase;
        }
      }

      @media (max-width: $screen-md-max)  {
        &:nth-child(4) {
          border-top: 1px solid #eee;
        }
      }

      @media (max-width: $screen-sm-max)  {
        &:nth-child(3) {
          border-top: 1px solid #eee;
        }
      }

      @media (max-width: $screen-xs-max)  {
        display: block;
        width: 80%;
        margin: 0 auto;
        padding-right: 5px;
        padding-left: 5px;

        &:nth-child(2) {
          border-top: 1px solid #eee;
        }

        ul {
          padding-left: 0;
          text-align: center;

          li {
            display: block;
            padding-left: 0;

            &::before {
              display: none;
            }
          }
        }
      }
    }
  }

  .also {
    border-left: 0;
    border-right: 0;
    margin-top: 48px;

    h3 {
      font-size: 23.5px;
    }

    .items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 80px 0 0;
    }

    .item {
      flex: 1 0 325px;
      list-style: none;
      margin-bottom: 80px;
      margin-right: 16px;
      padding-left: 48px;
      position: relative;

      &::before {
        background: no-repeat center top url('/img/pricing/pro-feature-icons.png');
        background-size: 32px;
        position: absolute;
        height: 32px;
        width: 32px;
        content: '';
        left: 0;
        top: 0;
      }

      &.unlimited::before { background-position: center -32px; }
      &.templates::before { background-position: center -64px; }
      &.dev::before { background-position: center -96px; }
      &.dashboard::before { background-position: center -128px; }
      &.git::before { background-position: center -160px; }
      &.forum::before { background-position: center -192px; }
      &.market::before { background-position: center -224px; }
      &.lab::before { background-position: center -256px; }

      h4 {
        font-size: 16px;
      }

      p {
        font-size: 14px;
        line-height: 28px;
      }
      
      // @media (max-width: $screen-xs-max)  {
      //   flex-grow: 1;
      // }
    }
  }

  .faq {
    padding-top: 96px;
    padding-bottom: 64px;

    ul {
      float: left;
      margin: 0 auto;
      width: 50%;

      @media (max-width: $screen-xs-max)  {
        float: none;
        width: 100%;
      }
    }

    li {
      display: block;
      list-style: none;
      padding: 80px 20px 0;
      width: 100%;
    }

    h4 {
      font-size: 18px;
    }

    p {
      color: $darkish-grey;
      font-weight: 500;
      line-height: 2.2em;

      strong {
        color: $blacker;
      }
    }
  }

  .hero.dark {
    background: #2b559b linear-gradient(to right, #407be2 0%, #1b335c 100%);
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 96px;

    h3 {
      color: white;
    }

    .btn {
      border-radius: 4px;

      &.white {
        color: $blue;
      }

      &.ionic {
        background: #4c79c5;
        border-color: #4c79c5;

        &:hover {
          background: darken(#4c79c5, 5);
          border-color: darken(#4c79c5, 5);
        }
      }
    }
  }

  .modal .modal-body {
    padding: 48px;

    .hero {
      padding-top: 0;
      padding-bottom: 0;
      max-width: 400px;
      margin:0 auto 32px;
    }
  }
}
