#docs-page-resources-index main {
  h1.banner {
    height: 178px;
    background: no-repeat center top url('/img/docs/resources/resources-header-img.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    position: relative;
    padding-top: 92px;
    margin-top: -50px;
    margin-left: -40px;
    margin-right: -40px;
    padding-bottom: 150px;
    padding-left: 50px;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 14px;
    font-weight: 500;
    overflow: hidden;
    text-shadow: 0 1px 4px rgba(0,0,0,.1);

    @media (max-width: 420px) {
      letter-spacing: 4px;
    }

    .bg {
      background: no-repeat center center;
      position: absolute;
      padding-top: 92px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transform: scale(1.01, 1.01);
      transform-origin: top center;
      transition: .3s transform, .3s opacity;

      &::before {
        background: no-repeat center top url('/img/docs/resources/resources-header-icon.png');
        background-size: 60px;
        height: 60px;
        width: 60px;
        content: '';
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -5px;
        margin-right: 20px;

        @media (max-width: 420px) {
          margin-right: 5px;
        }
      }

      &.active {
        opacity: 1;
        transform: scale(1, 1);
      }

      &.videos {
        background-image: url('/img/docs/resources/video.jpg');
        background-size: cover;
      }

      &.books {
        background-image: url('/img/docs/resources/books.jpg');
        background-size: cover;
      }

      &.courses {
        background-image: url('/img/docs/resources/courses.jpg');
        background-size: cover;
      }

      &.guides {
        background-image: url('/img/docs/resources/guides.jpg');
        background-size: cover;
      }

      &.community {
        background-image: url('/img/docs/resources/community.jpg');
        background-size: cover;
      }

      &.tools {
        background-image: url('/img/docs/resources/tools.jpg');
        background-size: cover;
      }
    }
  }

  h2 {
    text-align: center;
    font-size: 32px;
  }

  form {
    max-width: 722px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;

    input {
      border-radius: 50px;
      padding: 18px 5px 17px 59px;
      font-size: 16px;
      height: 56px;

      &::placeholder {
        color: $grey;
        font-weight: 300;
      }
    }

    &::before {
      content: '\f20a';
      font-family: 'Ionicons';
      position: absolute;
      left: 25px;
      font-size: 26px;
      top: 10px;
      color: $grey;
      font-weight: 300;
    }
  }

  .sections {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 50px;


    &.filtered {
      section {
        &:not(.active) {
          width: 0;
          opacity: 0;
          padding-left: 0;
          padding-bottom: 0;
          transform-origin: left center;
        }

        &.active {
          width: 100%;
        }
      }

      .show-all {
        color: $blue;
        top: 20px;
        transform: translate3d(0,0,0);
        transition: .5s color, .5s transform ease-in-out, .5 top step-end;
      }
    }

    .show-all {
      font-size: 13px;
      color: transparent;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: .1em;
      position: absolute;
      top: -900px;
      right: 0;
      cursor: pointer;
      transform: translate3d(0,-15px,0);
      transition: .5s color, .5s transform ease-in-out, .5 top step-end;

      &.active {
        color: $blue;
      }

      &:hover {
        color: darken($blue, 5);
      }
    }

    section {
      width: 325px;
      padding-left: 68px;
      padding-bottom: 50px;
      position: relative;
      overflow: visible;
      transition: .3s transform, .3s width, .3s opacity, .3s padding-left,
                  .3s height, .3s padding-bottom;

      &::before {
        background: no-repeat center top url('/img/docs/resources/resources-icons.png?1');
        background-size: 32px;
        height: 32px;
        width: 32px;
        content: '';
        position: absolute;
        left: 15px;
        top: 0;
      }
      &.guides::before { background-position: center -32px; }
      &.tools::before {    background-position: center -64px; }
      &.community::before {   background-position: center -96px; }
      &.books::before {   background-position: center -128px; }
      &.courses::before {   background-position: center -160px; }
    }

    h3 {
      text-transform: uppercase;
      font-size: 15px;
      margin-bottom: 40px;
      margin-top: 6px;
      cursor: pointer;
      font-weight: 600;
      letter-spacing: 0.1em;
    }

    ul {
      padding: 0;
    }

    li {
      padding-bottom: 25px;
      list-style: none;
      width: 300px;
      margin-right: 25px;
      display: inline-block;
      vertical-align: top;

      a {
        font-size: 14px;
        font-weight: 500;
      }

      p {
        font-size: 13px;
        margin-top: 0;
      }
    }
  }
}
