#page-sales {
  font-family:$font-family-eina;

  .hero {
    padding-top: 60px;
    padding-bottom: 0;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;



    h1 {
      font-size: 36px;
      font-weight: 700;
      letter-spacing: -0.03em;
      margin-bottom: 8px;
    }

    p {
      font-size: 20px;
      font-weight: 500;
    }

  }

  .hubspot-override {
    max-width: 860px;
    margin-top: 40px;
    margin-bottom: 120px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $screen-sm) {
      margin-bottom: 60px;
    }
  }
}
