#page-start {
  .form {
    h1 {
      margin-top: 0;
    }
  
    h2 {
      margin-top: 10px;
      margin-bottom: 42px;
    }
  
    .checkbox-label {
      color: #727A87;
      font-size: 11px;
      font-weight: 600;
      margin-left: 4px;
    }
  
    .btn {
      display: block;
      width: 100%;
    }
  
    .disclaimer {
      display: block;
      text-align: center;
      font-size: 11px;
      color: #a0a9b7;
      font-weight: 600;
    }
  
    .well {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px;
      width: 100%;
      border: 1px solid #E1E5ED;
      border-radius: 6px;
      margin-top: 16px;
      color: #3B424D;
      font-size: 14px;
      font-weight: 600;
    }
  
    .text-link {
      text-decoration: underline;
      margin-left: 8px;
    }
  
    @media (max-width: $screen-xs-min) {
      padding: 36px 28px;
    }
  }
}