#page-team {
  .navbar + .banner {
    background: #393e49 no-repeat center top;
    background-image: url('/img/team/team-cta-bg.jpg'),
                      linear-gradient(to right, #1a2538 0%, #1f2b40 100%);
    background-size: cover, 100%;
    height: 360px;
  }

  .made-of {
    max-width: 530px;
    width: 100%;
    margin: 160px auto 90px;

    h3 {
      margin-bottom: 30px;
    }

    p {
      line-height: 34px;
    }
  }

  .cofounders {

    .img {
      background: #f9f9fa no-repeat center top;
      background-image: url('/img/team/max-ben.jpg');
      background-size: cover;
      height: 436px;
      width: 100%;
      @media (max-width: $screen-xs-max)  {
        height: 290px;
      }
    }

    .bar {
      background: #f9f9fa repeat-y center top;
      background-image: url('/img/team/max-ben-bar.jpg');
      background-size: cover;
      padding-top: 30px;

      h4 {
        font-size: 18px;
        margin-bottom: 0;
      }

      p {
        color: $dark-grey;
      }
    }

    .max,
    .ben {
      width: 49%;
      float: left;
    }

    .max {
      padding-left: 15%;
      @media (max-width: $screen-xs-max)  {
        padding-left: 0;
      }
    }

    .ben {
      padding-left: 6%;
    }
  }

  .employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 100px;

    .employee {
      flex: 0 1 350px;
      padding: 0 50px 50px;
      position: relative;
      margin: 0 auto;
      text-decoration: none;

      .avatar {
        background: no-repeat center top url('/img/team/team-avatars.jpg?1');
        background-size: 250px;
        height: 250px;
        width: 250px;
        transition: opacity .5s;
      }

      hgroup {
        text-align: center;
        margin-top: 18px;

        h4 {
          font-size: 16px;
          margin-bottom: 0;
          font-weight: 500;
        }

        p {
          font-size: 14px;
          color: $dark-grey;
          font-weight: 400;

          &.blue {
            color: $blue;

          }
        }
      }

      .description {
        position: absolute;
        width: 250px;
        height: 260px;
        top: 0;
        line-height: 260px;
        opacity: 0;
        transition: opacity .5s;

        p {
          display: inline-block;
          vertical-align: middle;
          color: $blackish;
          font-weight: 400;
          font-size: 13px;
          line-height: 22px;
        }
      }

      &:not(.apply):hover {
        .avatar {
          opacity: .05;
        }

        .description {
          opacity: 1;
        }
      }
    }
  }

  .hero {
    background: no-repeat center top url('/img/team/see-openings-bg.jpg');
    background-size: cover;
    height: 260px;
    padding-top: 87px;

    h3 {
      color: white;
    }

    .btn.white {
      text-transform: none;
      letter-spacing: .5px;
      font-weight: 600;
      font-size: 14px;
      border-radius: 3px;
      padding: 16px 15px 14px;
      margin-top: 15px;
    }
  }
}
