@import '../vars';
@import '../mixins';

#page-case-studies {
  position: relative;

  .sub-header .download {
    padding-right: 0;
    text-transform: uppercase;
    letter-spacing: .02em;
    font-size: 12px;
  }

  hgroup,
  main {
    max-width: 978px;
  }

  hgroup {
    margin-top: 43px;
    margin-bottom: 53px;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 0;
    }

    strong {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 600;
      color: #9cabc4;
      font-family: $font-family-eina;
    }

    h1 {
      font-size: 46px;
    }

    p {
      font-weight: 400;
      color: #898989;
      max-width: 750px;
      margin: 13px auto;
      font-size: 20px;
      line-height: 1.8em;
      letter-spacing: .01em;
    }

    img {
      margin: 58px auto;
      max-width: 100%;
    }
  }

  main {
    display: flex;
    overflow: visible;

    @media (max-width: $screen-xs-max) {
      flex-direction: column;
    }
  }

  .sticky-wrapper {
    position: sticky;
    top: 100px;
  }

  aside {
    flex: 0 1 210px;
    padding-right: 20px;
    margin-bottom: 36px;

    h4 {
      font-size: 10px;
      text-transform: uppercase;
      color: #a4b3cc;
      font-weight: 600;
      letter-spacing: .16em;
    }

    ul {
      padding: 0;
      font-size: 14px;
      margin: 9px 0 30px;
      list-style: none;
      line-height: 1.4em;
    }

    li {
      margin: 12px 0 13px;
    }

    a {
      color: #52678c;
      display: block;
      transition: .2s transform ease, .2s color;

      &:hover,
      .active {
        color: $blue;
      }

      .active {
        transform: translateX(8px);
      }
    }

    .lightblue {
      background: #e6f0f8;
      color: $blue;
      border-radius: 4px;
      padding: 9px 16px;
      display: inline-block;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: .07em;

      ion-icon {
        font-size: 18px;
        vertical-align: -5px;
      }
    }
  }

  .main-col {
    flex: 0 1 663px;
    margin-left: auto;
    max-width: 663px;
  }

  article {
    padding-bottom: 58px;
    border-bottom: 1px solid #edf0f6;
    margin-bottom: 37px;

    h2,
    h3,
    h4 {
      margin-top: -60px;
      padding-top: 60px;
    }

    h2 {
      padding-top: 67px;
      font-size: 32px;
      margin-bottom: .85em;
    }

    p {
      font-size: 16px;
      letter-spacing: -.011em;
      line-height: 1.75em;
      margin-bottom: 1.8em;
    }

    h3 {
      // margin-top: 2.3em;
      padding-top: 88px;
      margin-bottom: .6em;
      letter-spacing: -.014em;
    }

    blockquote {
      background: #f2f5f8;
      border-radius: 4px;
      position: relative;
      padding: 64px 80px 68px 111px;
      color: #5e749a;
      font-family: $font-family-serif;
      font-style: italic;
      border: none;
      margin: 77px -16px 54px;

      &::before {
        position: absolute;
        top: -6px;
        left: 54px;
        font-size: 180px;
        content: '\201C';
        color: #e3e7ec;
      }

      p {
        font-size: 18px;
        position: relative;
        z-index: 1;
        letter-spacing: .042em;
        line-height: 1.8em;

        &:last-child {
          margin-bottom: 0;
        }
      }

      cite {
        font-size: 15px;
        letter-spacing: .02em;

        span {
          color: #9da9bd;
          margin-left: 8px;
        }
      }
    }

    figure {
      width: 295px;
      float: right;
      margin: 8px -20px 16px 74px;

      &.left {
        float: left;
        margin-right: 74px;
        margin-left: -20px;
      }

      img {
        max-width: 100%;
        box-shadow: 0 4px 48px rgba(0,0,0,.2);
      }

      figcaption {
        color: #a8b0be;
        font-size: 11px;
        margin-top: 13px;
      }

      @media (max-width: $screen-xs-max) {
        margin-right: 0;
        margin-left: 32px;

        &.left {
          margin-left: 0;
          margin-right: 32px;
        }
      }

      @media (max-width: $screen-xs-min) {
        width: 100%;
      }
    }
  }

  .resource-list {
    &__header {
      .all {
        float: right;
  
        ion-icon {
          display: inline-block;
          transition: .2s transform ease;
        }
  
        &:hover ion-icon {
          transform: translateX(2px);
        }
      }

      h4 {
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: .12em;
      }
    }

    .resource-card-list--third .resource-card a .title {
      font-size: 18px;
    }
  }
}