@import '../vars';
@import '../bootstrap/variables';

#page-contact {
  .navbar + .banner {
    background: #6e4a71 no-repeat center top;
    background-image: url('/img/contact/contact-cta-bg.jpg'),
                      linear-gradient(to right, #29477d 0%, #a8444e 100%);
    background-size: cover, 100%;
    height: 360px;
  }

  .hero {
    padding-top: 80px;
    padding-bottom: 40px;

    p {
      color: #5d636c;
      font-size: 18px;
      line-height: 28px;
      font-weight: 400;
    }
  }

  .topics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    a {
      flex: 0 1 255px;
      padding: 150px 25px 15px;
      margin: 0 auto 100px;
      position: relative;
      text-align: center;
      min-height: 265px;
      min-width: 160px;

      &:before {
        background: no-repeat top left url('/img/contact/contact-icons.png');
        background-size: 140px;
        width: 140px;
        height: 140px;
        content: '';
        position: absolute;
        top: 38px;
        left: calc(50% - 75px);
        transition: transform .4s cubic-bezier(0.155, 1.105, 0.295, 1.12);
      }

      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        border: 1px solid #e6ebf2;
        border-radius: 4px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06);
        transition: all .4s cubic-bezier(0.155, 1.105, 0.295, 1.12);
      }

      &:hover,
      &:active {
        text-decoration: none;

        &:before {
          transform: translate3d(0, -50px, 0) scale3d(.5, .5, 1);
        }

        &:after {
          border-color: #dde3eb;
          transform: scale(1.05);
        }

        .detail {
          opacity: 1;
          transform: translate3d(0, 0, 0);
          transition-duration: .2s;
          transition-timing-function: ease;
        }

        h3 {
          transform: translate3d(0, -100px, 0);
        }
      }

      h3 {
        font-size: 16px;
        position: absolute;
        font-weight: 700;
        top: 195px;
        left: 0;
        right: 0;
        color: $blackish;
        transition: transform .4s cubic-bezier(0.155, 1.105, 0.295, 1.12);
      }

      .detail {
        opacity: 0;
        position: relative;
        transform: translate3d(0, 35px, 0);
        transition: opacity .1s linear, transform .1s linear;

        p {
          line-height: 20px;
          font-size: 13px;
          letter-spacing: -0.01em;
          padding: 0 13px;
          color: $dark-grey;
        }
      }

      &.sales:before {        background-position: left -140px; }
      &.press:before {        background-position: left -280px; }
      &.partnerships:before { background-position: left -420px; }
    }
  }

  .other {
    max-width: 875px;
    padding-bottom: 100px;

    hgroup {
      width: 49.5%;
      padding-right: 50px;
      position: relative;
      float: left;

      &:last-child {
        padding-right: 0;
        padding-left: 50px;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 15px;
          bottom: 15px;
          border-left: 1px solid $whiteish;
        }
      }

      h4 {
        font-size: 16px;
      }

      p {
        line-height: 22px;
        margin-bottom: 3px;
        color: $dark-grey;
        font-size: 13px;
      }

      &:first-child a {
        margin-right: 18px;
      }

      .icon {
        font-size: 20px;
      }

      .twitter { color: #5ea9dc; &:hover { color: lighten(#5ea9dc, 10); }}
      .facebook { color: #3b5998; &:hover { color: lighten(#3b5998, 15); }}
      .goolge-plus { color: #e94335; &:hover { color: lighten(#e94335, 15); }}
      .github { color: #000000; &:hover { color: lighten(#000000, 30); }}

    }

  }
}
