@import '../vars';
@import '../bootstrap/variables';

#page-developers {
  .cta {
    background: #111c30 no-repeat center top;
    background-image: url('/img/developers/cta-bg.png');
    background-size: cover;
    margin-bottom: -106px;

    strong {
      color: white;
    }

    hgroup {
      padding-bottom: 140px;

      h1 {
        padding-left: 70px;
        position: relative;
        background: no-repeat left center url('/img/developers/heading-ionic-icon.png');
        background-size: 61px;
        display: inline-block;
        font-size: 33px;
        font-weight: 700;
        letter-spacing: 6px;
        margin-bottom: 25px;
        padding-top: 10px;
        text-transform: uppercase;
      }

      p {
        font-size: 20px;
        max-width: 660px;
        margin: 0 auto;
      }
    }
  }

  section.container {
    padding-top: 42px;
    overflow-x: hidden;
    margin: 0 auto;
    max-width: 1030px;

    h2 {
      font-size: 20px;
      font-weight: 700;
      min-height: 24px;
      margin-bottom: 11px;
      color: $blacker;
      margin-top: 0;
    }

    .items {
      display: flex;
      flex-wrap: wrap;

      a {
        flex: 1 1;
        padding: 182px 25px 48px;
        margin-bottom: 35px;
        position: relative;
        text-align: center;
        min-height: 238px;
        min-width: 130px;
        margin-right: 12px;
        z-index: 1;

        &:last-child {
          margin-right: 0;
        }

        &::before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          content: '';
          background: white;
          border-radius: 4px;
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.06),
                      0 0 0 1px rgba(0, 32, 88, 0.06);
          transition: all .4s cubic-bezier(0.155, 1.105, 0.295, 1.12);
        }

        &::after {
          background: no-repeat top left url('/img/developers/ionic-framework-img.png');
          background-size: 200px;
          width: 200px;
          height: 128px;
          content: '';
          position: absolute;
          top: 32px;
          left: calc(50% - 100px);
          transition: transform .4s cubic-bezier(0.155, 1.105, 0.295, 1.12);
        }

        &.platform::after {
          background-image: url('/img/developers/ionic-services-img.png');
        }

        &:hover,
        &:active {
          text-decoration: none;

          &::before {
            border-color: #dde3eb;
            transform: scale(1.03);
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08), 0 0 0 1px rgba(0, 32, 88, 0.1);
          }
        }

        hgroup {
          position: relative;
          z-index: 5;
        }

        p {
          color: #727a87;
          font-size: 15px;
          line-height: 22px;
          max-width: 410px;
          margin: 0 auto;
        }
      }
    }

    @media (max-width: 525px)  {
      &.primary .items a,
      .items a {
        width: 100%;
        flex: 1 1 100%;
        margin-right: 0;
      }
    }
  }
}
