// #region ---------------------- IMPORTS -------------------------

@import '../vars';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../utilities/u-getting-started';
// #endregion -----------------------------------------------------

// #region ---------------------- VARIABLES ----------------------
$headingColor: #010610;
$pColorMain: #2D4665;
$pColorSecondary: #445B78;
// #endregion -----------------------------------------------------

// #region ---------------------- COMPONENTS ----------------------

// #endregion -----------------------------------------------------

// #region ---------------------- GENERIC -------------------------
h1, h2, h3, p {
  margin: 0;
}

h2, h3 {
  font-family: $font-family-inter;
}

h1 {
@include font($fs:64px, $fw:bold, $lh:100%, $ls:-.04em, $color: $headingColor);
}

h2 {
@include font($fs:28px, $fw: 600, $lh: 160%, $ls: -.02em, $color: $headingColor);
}

h3 {
@include font($fs:20px, $fw: 500, $lh: 24px, $ls: -.01em, $color: $headingColor);
}

p {
@include font($fs:16px, $ls:-.01em);
}

// a:not(.button) {
//   border-bottom: 1px solid rgba(74, 139, 252, 0);
//   transition: border-color .2s;

//   &:hover, &:active, &:focus {
//     transition: border-color .2s;
//     border-color: rgba(74, 139, 252, 1);
//     color: #4a8bfc;
//   }
// }
// #endregion -----------------------------------------------------

// #region ---------------------- PAGE STYLES ---------------------
#landing {
@include box($pos:relative, $pt:149px, $pb:104px, $mb:143px);

  .landing__content {
    h1 {
    @include box($mxw:455px, $mb:25px);
    }
    p {
    @include box($mxw:448px);
    @include font($fs:22px, $lh:160%, $color: $pColorMain);
    }
  }

  .landing__image {
  @include box($pos:absolute, $r:-140px, $t:0, $z:-1);
  @include media($thresh:$screen-sm-max, $o:.1);
  }
}

#wizard {
  .wizard__wrapper {
  @include box($d:flex, $fw:wrap, $br:8px, $p: 48px 40px 48px 120px, $jc:space-between, $ai:flex-end,
               $back: #486FFF url('/img/getting-started/bg-app-wizard.svg') left center no-repeat,
               $bs: '0px 8px 16px rgba(2, 8, 20, 0.08), 0px 4px 8px rgba(2, 8, 20, 0.12)');
      
    h2 {
    @include font($fs:24px, $color:#fff);
    }
    p {
    @include box($color:#fff, $mxw: 620px, $o:.8, $mt:6px);
    @include font($lh:160%);

    }
  }

  .wizard__btn {
  @include box($d:flex, $ai:center, $br:8px, $p:'10px 12px', $bord:none, $back:#6C9DFF, $mt: 16px, $trans:'all .3s');
  @include font($fs:15px, $fw:bold, $tt:uppercase, $ls:.08em, $ws:nowrap, $color:white);

    &:hover, &:active, &:focus {
      box-shadow:0 3px 5px rgba(0,0,0,.15);
      background: lighten(#6C9DFF, 2%);
      transition: all .3s;
      text-decoration:none;
    }

    ion-icon {
      font-size:16px;
      margin-left:4px;
    }
  }
}

#install {
@include box($d:flex, $fw:wrap, $mt:160px);

  h2 {
  @include box($mb:34px);
  }

  .install_cards {
  @include box($d:grid, $gtc:repeat(auto-fit, minmax(308px, 1fr)), $cg:50px, $rg: 64px, $w:100%, $mb:64px);
  }
  .account__cards {
  @include box($d:grid, $gtc:repeat(auto-fit, minmax(335px, 1fr)), $cg:128px, $rg:64px);
  @include media($thresh:$screen-md-max, $cg:50px);
  }

  article {

    .card__step {
    @include font($ff:'"SF Mono", "Roboto Mono", Menlo, Courier, monospace', $lh:100%, $ls:.08em, $fw:500, $color:#92A1B3);
      margin-bottom: 18px;
    }
    
    h3 {
      margin-bottom: 16px;
    }

    .card__text {
    @include font($fs:16px, $lh: 180%, $color:#2D4665);
      
    }

    .card__code {
      margin-top: 32px;

      pre {
      @include box($back:#F6F7FA, $br:8px, $bord:none);
      }

      code {
      @include box($back:none, $color:black);
      @include font($fs:16px, $ls:-.02em, $lh:180%, $fw:500);
      }

      .highlight, .hljs-keyword {
        background: #F6F7FA;
        color: #FF7B5E;
        font-weight: 500;
      }

      .hljs-built_in{
        color: black;
      }
    
    }

    ionic-signup-form {
    @include box($mt:32px);
    @include media($thresh:$screen-xs-max, $mt:0px);
    }
    #signup-thanks {
      margin-top: 28px;
    }
  } 

  .card__subText {
  @include box($mt: 8px);
  @include font($fs:12px, $lh:180%, $ls:-.01em, $color:#5B708B);

    a {
    @include box($d:flex, $ai:center);
      ion-icon {
        margin-left: 2px;
      }
    }
  }
}

#nextSteps {
@include box($mt:200px, $mb:200px);

  .next__cards {
  @include box($d:grid, $gtc:repeat(auto-fill, minmax(312px, 1fr)), $cg:44px, $rg:44px);
  }

  h2 {
    margin-bottom: 36px;
  }

  article {
    a {
      &:hover, &:active, &:focus {
        svg {
          transform: scale(1.05,1.05);
          transition: transform 200ms cubic-bezier(0.32, 0.72, 0, 1),
        }
      } 
    }


    .card__image {
    @include box($d:flex, $of:hidden, $br:6px);

      svg {
        flex-grow:1;
        transition: transform 200ms cubic-bezier(0.32, 0.72, 0, 1);
      }
    }

    .card__superTitle {
    @include box($mt:24px, $mb:12px);
    @include font($fs:10px, $fw:500, $lh:100%, $ls:.08em, $tt:uppercase, $color:#92A1B3);
    }

    h3 {
    @include box($mb:12px);
    }

    p {
    @include font($lh:160%, $color:#445B78);
    }

  }

}
// #endregion -----------------------------------------------------