@import '../vars';
@import '../mixins';

ionic-site-slider {
  position: relative;
  margin-top: -72px;
  display: block;
  min-height: 860px;

  [slot^="slide-"] {
    padding-top: 100px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  #slide-limitless {
    background: #548fff linear-gradient(to right, #4278ff, #67a7ff);
    background-size: 100%;

    hgroup {
      color: white;
      max-width: 600px;
      margin-top: 13px;
      text-align: center;
    }

    h1 {
      font-size: 64px;
      line-height: 74px;
      margin-bottom: 16px;
      letter-spacing: -.03em;
    }

    p {
      font-size: 24px;
      line-height: 36px;
      font-family: $font-family-eina;
      letter-spacing: -0.03em;
      color: #e4f1ff;
    }

    .btn {
      font-size: 15px;
      font-weight: 700;
      margin-top: 18px;
      padding: 20px 22px;
      margin-right: -4px;
      letter-spacing: .1em;
      text-transform: uppercase;
      color: #3880ff;

      ion-icon {
        font-size: 16px;
        margin-left: -4px;
        vertical-align: -2px;
      }
    }

    ul {
      padding: 0;
      margin-top: 8px;
      list-style: none;
    }

    li {
      display: inline-block;
      margin-right: 8px;

      &:last-child {
        margin-right: 0;

        img {
          height: 23px;
          vertical-align: -8px;
        }
      }

      img {
        height: 13px;
        opacity: .6;
      }
    }
  }
}

#page-home {
  #used-by {
    padding-top: 60px;
    padding-bottom: 58px;
    border-bottom: 1px solid #f2f5f9;

    ul {
      display: block;
      margin-bottom: 0;
      text-align: center;
    }

    li {
      margin: 0 34px;
      list-style: none;
      min-height: 34px;
      display: inline-block;
    }
  }

  section {
    padding-top: 170px;
    line-height: 1.75em;
    padding-bottom: 170px;
    position: relative;

    &.center {
      text-align: center;
    }

    &.left,
    &.right {
      display: flex;

      .content {
        width: 465px;
      }
    }

    &.right .content {
      margin-left: auto;
    }

    h2 {
      font-size: 47px;
      margin-bottom: 15px;
      letter-spacing: -.02em;
      color: #0d121c;
    }

    h3 {
      font-size: 35px;
      letter-spacing: -0.016em;
    }

    h4 {
      font-size: 12px;
      color: #808fa7;
      letter-spacing: .14em;
      text-transform: uppercase;
      font-family: $font-family-monospace;

      + h2 {
        margin-top: 36px;
      }
    }

    h5 {
      font-size: 20px;
      margin-bottom: 16px;
      font-weight: 600;
    }

    p {
      font-size: 16px;
      color: #7484a3;
      margin-bottom: 7px;
      line-height: 1.78em;
      letter-spacing: -.02em;
    }

    hgroup p,
    p.lg {
      color: #596a89;
      font-size: 22px;
      line-height: 36px;
      margin-bottom: 23px;
      letter-spacing: -.02em;
      font-family: $font-family-eina;
    }

    .cta {
      font-size: 20px;
      margin-top: 11px;
      padding-top: 0;
      color: #5a98ff;
      display: inline-block;
      position: relative;
      background: none;
      letter-spacing: -.02em;
      font-weight: 600;
      font-family: $font-family-eina;

      &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        border-bottom: 2px solid #dbe6ff;
        border-radius: 2px;
      }
    }
  }

  #for-devs {
    padding-bottom: 87px;
    
    hgroup {
      max-width: 740px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      margin-top: 46px;
      justify-content: space-around;
      max-width: 1064px;
      font-family: $font-family-eina;

      &::before,
      &::after {
        display: none;
      }
    }

    li {
      list-style: none;

      a {
        color: #798fb8;
        font-weight: 700;
        padding-top: 73px;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        width: 130px;
        display: block;
        letter-spacing: .08em;
        transition: .2s color;
        font-size: 13px;

        &::before,
        &::after {
          background: url('/img/homepage/offering-icons.png') 0 0 no-repeat;
          background-size: 56px;
          height: 56px;
          width: 56px;
          content: '';
          position: absolute;
          top: 0;
          left: calc(50% - 28px);
        }

        &:hover {
          color: $blue;
        }
      }

      @include hoverSprite(
        'oss'  
        'devops'
        'ide'
        'integration'
      , 56, ' a::before', ' a::after');
    }
  }

  #oss {
    padding-top: 276px;
    padding-bottom: 400px;

    .frameworks {    
      margin-bottom: 33px;

      @include flex-list(); 

      li {
        height: 32px;
        width: 32px;
        background-size: 100%;
        display: inline-block;
        margin-right: 12px;
        
        &.frameworks__angular { 
          background-image: url('/img/homepage/framework-support-angular.png')
        }

        &.frameworks__react { 
          background-image: url('/img/homepage/framework-support-react.png')
        }

        &.frameworks__vue { 
          background-image: url('/img/homepage/framework-support-vue.png')
        }

        &.frameworks__js { 
          background-image: url('/img/homepage/framework-support-javascript.png')
        }
      }
    }

    .graphics {
      position: absolute;
      top: 125px;
      right: 15px;

      &.active {
        &::before,
        &::after {
          animation: fadeInUp 1s ease forwards;
        }

        &::after { animation-delay: .5s; }
        .shadow { 
          animation: fadeIn 2s ease .1s forwards;
        }
      }

      &::before,
      &::after,
      .shadow {
        position: absolute;
        content: '';
        opacity: 0;

        background: url('/img/homepage/framework-device-android.jpg') 0 0 no-repeat;
        background-size: 100%;
        top: 78px;
        right: 99px;
        width: 470px;
        height: 624px;
      }

      &::after {
        background-image: url('/img/homepage/framework-device-iphone.png');
        background-size: 100%;
        width: 490px;
        height: 790px;
        top: 0px;
        right: 0px;
      }

      .shadow {
        background-image: url('/img/homepage/framework-devices-shadow.png');
        background-size: 100%;
        width: 1266px;
        height: 214px;
        top: 654px;
        right: -200px;
      }
    }
  }

  #devops {
    padding-top: 204px;
    padding-bottom: 252px;

    .content {
      position: relative;
    }

    .git-hosts {
      margin-bottom: 42px; 

      @include flex-list(); 

      li {
        margin-right: 19px;
      }
      
      img {
        height: 20px;
      }
    }

    .graphics {
      background: url('/img/homepage/devops-appflow-preview.png') 0 0 no-repeat;
      background-size: 100%;
      width: 1324px;
      height: 812px;
      position: absolute;
      top: 14px;
      left: -227px;
      opacity: 0;

      &.active {
        animation: fadeInUp 1s ease forwards;
      }
    }
  }

  #studio {
    padding-bottom: 54px;

    .content {
      max-width: 720px;
    }

    .graphics {
      background: url('/img/homepage/studio-desktop-bg.jpg') 50% 0 no-repeat;
      background-size: cover;
      width: 100%;
      padding-top: 100px;
      padding-bottom: 100px;
      margin-top: 58px;
      
      video {
        min-height: 738px;
      }
    }
  }

  #integration {
    padding-bottom: 4px;

    .content {
      max-width: 894px;
    }

    .integration-list {
      position: relative;
      height: 360px;
      margin-top: 32px;

      li {
        list-style: none;
        position: absolute;
      }

      img {
        width: 128px;
        border-radius: 50%;
        box-shadow: 0 6px 24px rgba(black, .1);
        // opacity: 0;
      }
    }
  }

  #why-build {
    padding-bottom: 90px;

    .why {
      @include flex-list();

      justify-content: space-between;
      margin-top: 75px;
      margin-bottom: 75px;

      li {
        padding-top: 61px;
        max-width: 310px;
        position: relative;

        @include sprite(
          'why__future-proof'
          'why__community'
          'why__os'
        , 48);

        &::before {
          background: url('/img/homepage/why-build-icons.png') 0 0 no-repeat;
          background-size: 100%;
          position: absolute;
          top: 0;
          left: 0;
          height: 48px;
          width: 48px;
          content: '';
        }

        p {
          letter-spacing: -.01em;
        }
      }
    }
  }

  #difference {
    background: linear-gradient(to right, #d1ebff, #f3f8fb);
    display: flex;
    padding-top: 60px;
    padding-bottom: 69px;

    .container{
      position: relative;
    
      &::before {
        background: url('/img/homepage/hybrid-vs-native-ionic-ebook.png') 0 0 no-repeat;
        background-size: 100%;
        width: 424px;
        height: 310px;
        content: '';
        position: absolute;
        bottom: -69px;
        left: 52px;
      }
    }

    hgroup {
      max-width: 550px;
      margin-right: 50px;
      margin-left: auto;
    }

    h5 {
      font-size: 18px;
      margin-bottom: 11px;
      color: #1f3256;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.6em;
      letter-spacing: -.01em;
      color: #6c81a6;
    }

    .btn {
      padding: 12px 13px 10px;
      font-size: 14px;
      background-color: #668bff;
    }
  }

  #good-company {
    padding-top: 159px;

    hgroup {
      max-width: 732px;
      margin: 0 auto;

      p {
        line-height: 32px;
        margin-top: 15px;
      }
    }

    .case-studies {
      @include flex-list();
  
      justify-content: space-between;
      margin-top: 54px;
  
      li {
        flex: 0 0 270px;
        padding: 236px 27px 23px;
        text-align: left;
        position: relative;
        border-radius: 8px;
        box-shadow: 
          0 2px 4px rgba(0, 0, 0, .08),
          0 4px 8px rgba(0, 0, 0, .1);

        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          display: block;
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
        }

        strong {
          font-weight: 600;
          color: #253950;
        }

        p {
          font-size: 14px;
          letter-spacing: -.01em;
        }

        .cta {
          font-size: 15px;
          font-family: Eina;
          font-weight: 600;
          margin-top: 10px;
          letter-spacing: .03em;

          &::after {
            display: none;
          }
        }
      }
    }

    .others {
      @include flex-list();

      justify-content: center;
    }

    .cta::after {
      color: #dbe6ff;
    }
  }

  #join {
    background: linear-gradient(to right, #4f74fe, #70aafb);
    padding-top: 150px;
    padding-bottom: 150px;
    color: white;
    text-align: center;

    hgroup {
      max-width: 760px;
    }

    h1 {
      font-weight: 400;
      color: white;
    }
  }
}