//#region ----------------------------- IMPORTS ------------------------------------------
@import 'bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/normalize';

@import '../vars';
@import '../fonts';
@import '../components/mobile-nav';

@import '../utilities/u-mixins';

@font-face {
  font-family: 'Ionicons';
  src:
    local('Ionicons'),
    url('/fonts/ionicons.woff2') format('woff2'),
    url('/fonts/content/fonts/ionicons.woff') format('woff'),
    url('/fonts/content/fonts/ionicons.ttf') format('ttf'),
    url('/fonts/content/fonts/ionicons.eot#iefix') format('eot'),
    url('/fonts/content/fonts/ionicons.svg#Ionicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
//#endregion ----------------------------------------------------------------------------

//#region ----------------------------- ANIMATIONS ----------------------------------------

//#endregion ------------------------------------------------------------------------------

//#region ----------------------------- VARIABLES -----------------------------------------
$colorBackMain: #000715;
$colorTitleMain: white;
$colorTextMain: #E9EDF3;
$colorTextHighlight: #5887FF;
$colorButtonMain: linear-gradient(74.26deg, #4CC3FF 0%, #4172FF 100%);
$fontFamilyRoboto: 'Roboto Mono', Menlo, Courier, monospace;
$fontFamilyInter: $font-family-inter;
$fontFamilyEina: $font-family-eina;
$fontFamilyMono: $font-family-monospace;
$timingFunction: cubic-bezier(.16,.66,.64,.83);
$timingFunction2: cubic-bezier(.19,1,.22,1);

:root {
  --navHeight:78px;
}
//#endregion ------------------------------------------------------------------------------

//#region ----------------------------- COMPONENTS ----------------------------------------
@keyframes pushUp {
  to {
    transform: translateY(-1px);
    filter:  hue-rotate(125deg);
    box-shadow: 0px 4px 8px black;
  }
}
@keyframes pushDown {
  0% {
    transform: translateY(-1px);
    filter:  hue-rotate(125deg);
    box-shadow: 0px 4px 8px black;
  }
  100% { transform: translateY(0px); }
}

.highlight {
  color: $colorTextHighlight;
}

.btn-main {
@include box($d:inline-flex, $ai:center, $back: $colorButtonMain, $color: white, $br: 8px, $bord: none, $p:16px 20px);
@include font($fw: 600, $fs: 16px, $lh: 16px, $ws: nowrap, $tt:uppercase, $ls:.1em);
  animation: pushDown 200ms $timingFunction;
  animation-fill-mode: forwards;

  &:hover, &:active, &:focus{
    animation: pushUp 200ms $timingFunction;
    animation-fill-mode: forwards;
  }
}

.btn-secondary {
@include box($d:flex, $ai:center, $curs: pointer, $pos:relative, $bord:1px solid $colorTextHighlight, $h:39px, $br:8px, $back:transparent);
@include font($fw:600, $fs:16px, $lh:19px, $ws:nowrap, $color:#fff);
  transition: all .15s ease-in; 

  &:hover, &:active, &:focus, &:focus-within {
  @include box($bord:1px solid #ff4db5);
    transition: all .15s ease-in;   

    & .checkbox, & .arrow {
      transform: translateX(2px);
      transition: all .15s ease-in; 
    }
  }

  .text {
  @include box($d:flex, $ai:center, $z:1, $p:10px 12px, $pie:30px);
  }

  .arrow {
  @include box($d:flex, $ai:center, $w:18px, $curs:pointer, $pos:absolute, $back:$colorBackMain, $r:8px, $z:1);
  @include font($fs:18px);
  transition: all .15s ease-in; 
  }

  .checkbox {
  @include box($pos:absolute, $r:10px, $pis:12px, $z:-1);
  transition: all .15s ease-in; 
  }

  .checkbox:checked {
  @include box($z:-1);
    & ~ hubspot-form {
    @include box($o:1, $trans:all .15s ease-in, $tf:translateY(0px), $z:1);
    }

    & ~ .text {
    @include box($o:0, $trans:all .15s ease-in, $tf:translateY(10px));
    }
    & ~ .arrow {
    @include box($z:-1);
    }
  
  }

  hubspot-form {
  @include box($pos:absolute, $h:100%, $w:100%, $o:0, $tf:translateY(-10px));
    fieldset {
    @include box($w:100%, $h:100%);
    }
    label {
    @include box($v:hidden, $pos:absolute);
    }
    input {
    @include box($h:100%, $w:100%, $br:8px, $bord:none, $p:10px 12px, $pie: 36px);
    @include font($lh: 16px, $color:#000, $fw:400);
    }
    .button {
    @include box($d:flex, $ai:center, $pos:absolute, $r:0, $t:1px, $h:calc(100% - 2px), $bord:none, $br:8px, $back: #fff, $p:12px 6px);
    @include font($color:black, $fs:18px);
    }
    .success {
    @include box($pos:absolute, $t:1px, $r:1px, $h:calc(100% - 2px));
    }
  }
}


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

@media (min-width: 768px) {
  .container {
      width:750px
  }
}

@media (min-width: 992px) {
  .container {
      width:970px
  }
}

@media (min-width: 1104px) {
  .container {
      width:1054px
  }
}


// #endregion ------------------------------------------------------------------------

//#region ----------------------------- GENERIC -------------------------------------------

body * {
  box-sizing: border-box;
}

fieldset {
  border: none;
  padding:0;
  margin:0;
}

.no-scroll {
  overflow:hidden;
}

body {
  overflow-x: hidden;
}

a:focus, a:hover, a:active, a:visited{
  color: white;
  text-decoration:none;
}

nav {
  &::before, &::after {
    display:none !important;
  }
}

section {
  margin-block-start: 200px;
  margin-block-end: 200px;
}

a {
  text-decoration:none;
  color:inherit;
}

html, body, main {
  background: $colorBackMain;
  position:relative;
  z-index: -2;  
  font-family:$fontFamilyInter;
}

button, .mobile-nav {
  font-family:$fontFamilyInter;
}

h1, h2{
  font-family: $fontFamilyEina;
}

ul {
  list-style-type: none;
  margin:0;
  padding-left: 0;
}

h1 {
  margin:0;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #fff;
}

h2 {
  margin: 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: #fff;
  display: flex;
  letter-spacing: -0.03em;
}

h3 {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #FFF;
}

p {
  margin: 0;
  font-weight:400;
  color: #fff;
}

.p2 {
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -0.03em;
  color: #DEE3EA;
}

.p3 {
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #DEE3EA;
}

// #endregion --------------------------------------------------------------------------------


//#region ----------------------------- PAGE STYLES ----------------------------------------
#header {
@include box($pos:sticky, $t: 0, $z:1);

  .nav {
  @include box($ai:center, $h: var(--navHeight), $pos:absolute, $back: transparent, $l:0, $t:0, $w:100%);
    transition: background-color .3s $timingFunction;

    .nav__wrap {
    @include box($d:flex);
    }
    
    .nav__sections {
    @include box($d:flex, $ai:center, $w:100%, $jc:center);
      a {        
      @include box($d:inline-block, $pos:relative, $trans:all 0.3s $timingFunction, $tf:translateY(0px));

        &::before {
        @include box($c:'', $pos:absolute, $b:-10px, $w:0, $h:5px, $mbs:5px, $trans:all 0.3s $timingFunction, $o:0,
                     $back:linear-gradient(74.26deg, #ff4db5 0%, #ff4262 100%));
        }
      }
      a:hover, a:active, a:focus, li.active > a{
        transform:translateY(-1px);
        &:before {       
          width: 100%;
          opacity: 1;
        }
      }
    
      & > li {
      @include box($mis:32px, $mie:32px, $color:white);
        font-size: 16px;
      }
    }

    &.scrolled {
      background:rgba(0, 7, 21, .95);
    }
  }
}
#mainNav {
@include box($d:flex);
@include media($val:$screen-xs-max, $d:none);
}

#mobileNavBar {
@include box($d:none);
@include media($val:$screen-xs-max, $d:flex);
}

.mobile-nav {
@include box($d:none, $back:$colorBackMain);

  .mobile-nav__close{
    opacity:1;


    svg {
      fill:white;
      width: 20px;
      height: 20px;
    }
  }

  .mobile-nav__bg {
    z-index:-1;
    position:absolute;
    top:0;
  }

  .mobile-nav__menu {
    background: url('/img/ioniconf/bg-menu.svg');
    background-size:cover;
    background-repeat:no-repeat;
    padding:0;
    padding-top:34px;
    padding-block-end: 67px;
    max-width:100%;
    color:white;
    display:flex;
    flex-direction:column;
    height: 100%;

    .mobile-nav__menuitem {
      flex-basis:0;
      margin-top:0;
      padding: 16px;
      svg {
        max-height: 35vh;
      }
  
      a {
        color: white;
        text-align:center;
      }
    }
  }

  .mobile-nav__register {
  @include box($h: 39px, $back: $colorButtonMain, $color: white, $br: 8px, $bord: none, $pi: 12px, $pb: 10px);
  @include font($fw: 600, $fs: 16px, $lh: 16px, $ws: nowrap);
  }

  .mobile-nav__footer {
    display:flex;
    justify-content: center;
    background-color: $colorBackMain;
    position:absolute;
    z-index:2;
    bottom:0;

    .footer__cta {
      width:100%;
    }

    .text {
      padding-inline-start: 0px;
      padding-inline-end: 0px;
      margin-left:auto;
      margin-right:auto;
    }
  }
}

#mobileNavBar {
  display:none;
  justify-content:space-between;

  .nav__logo{
  @include box($d:flex, $ai:center);
  }
  button {
  @include box($d:flex, $ai:center, $color:white, $back:none, $bord:none, $p:0);
  @include font($fs:34px, $lh:34px, $fw:bold);

  }
}

#navSpace {
  height: var(--navHeight);
  
}

#landing {
@include box($mbs:0, $mbe:0, $pbe:246px, $pos:relative, $of:hidden);

  .landing__wrap {
  @include box($d:flex, $ai:center, $jc:space-between, $pbs:121px);
  @include media($val:$screen-sm-max, $fd:column, $ai:flex-start);
  }
  .landing__content {
  @include box($mxw:448px);
  @include media($val:$screen-sm-max, $order:2, $mbs:48px);

    h1 {
    @include box($mbe:24px);

      span {
      @include box($d:block, $mbe:40px);
      @include font($fw:500, $fs:16px, $lh:160%, $ls:.16em, $ff:$fontFamilyRoboto, $tt:uppercase);    
      }
    }

    p {
    @include box($mbe:40px);
    @include font($fs:24px, $lh:160%, $ls:-.02em);
    }
  }
  .landing__img {
  @include box($h:100%, $w:100%, $mxw:448px);
  @include media($val:$screen-sm-max, $mxw:50%);
  }
}

#landingBack {
@include box($pos: absolute, $z: -1, $l:calc((100% - 1800px) / 2));
  
}


#backgroundImage {
  background:url('/img/ioniconf/bg-tessellation.min.svg');
  background-position: center top;
  background-size: cover;
}

#keynote {
@include box($mbs:0);

  h2 {
  @include box($pbe:32px);
  }
  
  .keynote__video {
  @include box($pos:relative, $pbe:56.25%, $pbs:25px,$h:0,$bord:2px solid rgba(255, 255, 255, 0.5));

    iframe {
    @include box($pos:absolute, $t:0, $l:0, $w:100%, $h:100%);
    }
  }
}

#talks {
  .talks__cards {
  @include box($d:grid, $gtc:repeat(auto-fill, minmax(298px, 1fr)), $cg:63px, $rg:40px, $mbs:36px);
  }

  .card__video {
  @include box($pos:relative, $pbe:56.25%, $pbs:25px,$h:0,$bord:2px solid rgba(255, 255, 255, 0.5));

    iframe {
    @include box($pos:absolute, $t:0, $l:0, $w:100%, $h:100%);
    }
  }
  .card__title {
  @include box($d:flex, $ai:center, $jc:space-between, $mbs:32px, $mbe:20px);

    .info {
    @include box($d:flex, $ai:center);
      
      img {
      @include box($mie:12px);
      }
    }
    .social {
    @include box($d:grid, $gtc:repeat(2, minmax(18px, 20px)), $cg:16px);    

      a {
      @include box($d:flex, $ai:center);

        svg {
        @include box($f:transparent, $trans:fill .1s ease-in);

          &:hover, &:active, &:focus, &:focus-within {
          @include box($f:#fff, $trans:fill .1s ease-in);
          }
        }
      }
    }
  }
  .card__info {
  @include box($mnh:73px);
  @include font($lh:140%, $ls:-.03em);
  }
}


#topics {
  h3 {
  @include font($ff: $fontFamilyRoboto, $fw:500, $fs:16px, $lh:160%, $ls: .16em, $tt:uppercase);
  @include box($color: #B2BECD, $mbe:8px, $ta:center);
  }
}

#topicsContent {
@include box($d:flex, $fd:column, $ai:center);
  img {
    margin-left: 36px;
    margin-right: 36px;
    margin-top: 48px;
  }
  div {
    display: inline-block;
    text-align:center;
  }
}

#event {
  .container {
  @include box($d:flex, $jc:space-between);
  }

  .sticky {
  @include box($pos:sticky, $t:calc(var(--navHeight) + 44px));
  }
}

#eventInfo {
@include box($d:inline-block, $va:top, $mxw:480px, $pos:sticky, $t: calc(var(--navHeight) + 44px), $mie:16px);
@include media($val:$screen-xs-max, $mie:0);

  h2 {
  @include box($mbe:34px);
  }
  .p2 + .p2{
    margin-top:32px;
  }
  
}

#eventContent {
@include box($d:inline-block, $mis:16px);
@include media($val:$screen-xs-max, $mis:0);
  margin-top: 88px;

  .card {
  @include box($mxw: 448px, $color:white, $p: 48px, $br:8px, $mbe:48px);
  &:last-of-type {
    margin-block-end:0;
  }

    .card__text {
    @include font($fs:22px, $lh: 180%);
    @include box($mbs: 30px);
    }

    &.card__automate{
    @include box($back: 'linear-gradient(237.26deg, #786CFF 0%, #6C99FF 100%)');

      .card__icon {
      @include box($mxw: 102px, $mxh: 96px);
      }
    }
    &.card__animations{
    @include box($back: 'linear-gradient(237.26deg, #FF7B5E 0%, #FF6A7B 100%)');

      .card__icon {
      @include box($mxw: 102px, $mxh: 96px);
      }
    }
    &.card__staticHosting{
    @include box($back: 'linear-gradient(237.26deg, #36DCBD 0%, #58D565 100%)');

      .card__icon {
      @include box($mxw: 102px, $mxh: 96px);
      }
    }
    &.card__authentication{
    @include box($back: 'linear-gradient(237.26deg, #4790FF 0%, #67D3F7 100%)');

      .card__icon {
      @include box($mxw: 102px, $mxh: 96px);
      }
    }
    &.card__testing{
    @include box($back: 'linear-gradient(237.26deg, #FFD84D 0%, #FFD748 0.01%, #FF9F45 100%)');

      .card__icon {
      @include box($mxw: 102px, $mxh: 96px);
      }
    }
  }
}


#footer {
@include font($fs:14px, $lh:17px, $color:white);
  margin-bottom:0px;

  // & > div.container::before, & > div.container::after {
  //   display:none;
  // }

  .footer__wrap {
  @include box($d:flex, $ai:center, $fw:wrap);
  @include media($val:$screen-xs-max, $jc:center);
  }

  .footer__cta {
  @include box($p:24px 0px);
  }
}

.footer__list{
@include box($d:flex, $ai:center, $jc:space-evenly, $fw:wrap);
  flex-grow:1;
  & > li {
    padding: 24px;

    & > a {
      &:hover, &:active, &:focus {
        color: $colorTextHighlight;
      }
    }
  }
}



#footerIcon {
  width:auto;
  object-fit: contain;
  padding: 24px 0;
}
//#endregion --------------------------------------------------------------------------------

//#region ----------------------------- MEDIA QUERIES ---------------------------------------
@media screen and (min-width: 1800px) {
  #tessellationBg, #landingBack {
    left:0 !important;
    width:100%;
  }
}

@media screen and (max-width: $screen-xs-max) {
  :root {
    --navHeight:50px;
  }
  body {
    padding-top:0px;
  }
  #mainNav {
    display:none !important;
  }
  #mobileNavBar {
    display:flex !important;
  }

  #landingContent {
  @include box($mbs:32px);
    flex-direction: column;

    .u-spacer {
      display:none !important;
    }
  }
  #landingImage {
  @include box($mbe:32px, $mnh: 35vh, $mxw: 461px, $jc:center);
    order: 1;

    svg {
    @include box($mxw: 50vw);
    }
  }
  #landingMain {
    order:3;
  }

  #event > .container {
    flex-wrap: wrap;
  }

  #event .u-spacer {
    display:none;
  }

  #eventInfo {
   @include box($pos:static);
  }

  #footer .u-spacer {
    display:none;
  }
}



//#endregion --------------------------------------------------------------------------------------