@import '../vars';
@import '../bootstrap/variables';

#page-jobs {
  .navbar + .banner {
    background: #26708a no-repeat center top;
    background-image: url('/img/jobs/jobs-cta-bg.jpg'),
                      linear-gradient(to right, #1e4e8b 0%, #298776 100%);
    background-size: cover;
    height: 360px;
  }

  .what-we {
    padding-top: 100px;

    .content {
      padding: 95px 50px 75px;
    }

    .graphics {
      width: 100%;
    }

    .col {
      width: 49.9%;
      padding-right: 35px;
      float: left;

      + .col {
        padding-right: 0;
        padding-left: 35px;
      }

      p {
        font-size: 18px;
        line-height: 32px;
        font-weight: 400;
      }
    }

    @media (max-width: $screen-xs-max) {
      .col,
      .col + .col {
        width: 100%;
        padding: 0 0 50px;
      }
    }
  }

  .why.hero.top {
    padding-top: 0;

    .content {
      max-width: 675px;
      margin: 95px auto 55px;

      p {
        color: #5d636c;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
      }
    }

    .graphics {
      width: 100%;
    }
  }

  .reasons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .reason {
      padding-left: 72px;
      padding-right: 10px;
      padding-bottom: 70px;
      flex: 1 0 290px;
      max-width: 350px;
      position: relative;
      margin: 0 auto;

      &:before {
        background: no-repeat center top url('/img/jobs/jobs-perks-icons.png');
        background-size: 48px;
        height: 48px;
        width: 48px;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
      }

      &:nth-child(2):before { background-position: center -48px; }
      &:nth-child(3):before { background-position: center -96px; }
      &:nth-child(4):before { background-position: center -144px; }
      &:nth-child(5):before { background-position: center -192px; }
      &:nth-child(6):before { background-position: center -240px; }
      h4 {
        font-size: 16px;
        line-height: 24px;
      }

      p {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  .bennefits {
    background: #2466d2;
    background: linear-gradient(to right, #4688f4 0%, #1e60cc 100%);
    position: relative;
    overflow: hidden;

    .content {
      padding-top: 90px;
      padding-bottom: 72px;

      &:before {
        background: no-repeat left top url('/img/jobs/ionic-photos-3.jpg');
        background-size: cover;
        width: 1000px;
        content: '';
        position: absolute;
        bottom: 0;
        top: 0;
        display: block;
        left: 45%;
        @media (max-width: $screen-sm-max)  {
          left: 60%;
          background-position: left -340px;
        }
        @media (max-width: $screen-xs-max)  {
          display: none;
        }
        @media (min-width: 1820px)  {
          width: 924px;
          height: 700px;
          left: auto;
          right: 0;
        }
      }
    }

    h3 {
      color: white;
      padding-left: 72px;
      position: relative;

      &:before {
        background: no-repeat center -288px url('/img/jobs/jobs-perks-icons.png');
        background-size: 48px;
        height: 48px;
        width: 48px;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    ul {
      list-style: none;
      padding-left: 72px;

      li {
        color: white;
        opacity: .8;
        position: relative;
        line-height: 1em;
        padding: 15px 0 15px 23px;
        font-weight: 400;
        font-size: 16px;

        &:before {
          background: no-repeat center center url('/img/jobs/job-perks-checkmark.png');
          background-size: 12px;
          height: 12px;
          width: 12px;
          content: '';
          position: absolute;
          left: 0;
          top: 16px;
        }
      }
    }
  }

  .open-positions {
    max-width: 690px;
    margin: 0 auto;

    hgroup {
      padding: 90px 25px 70px;
    }

    hgroup p {
      color: #5d636c;
      font-size: 18px;
      line-height: 28px;
      font-weight: 400;
    }

    ul,
    .rbox-opening-list {
      padding: 0;

      li,
      .rbox-opening-li {
        list-style: none;
        padding: 29px 0 5px;
        border-top: 1px solid $lighter-grey;
        position: relative;

        &:last-child {
          border-bottom: 1px solid $lighter-grey;
        }

        strong,
        .rbox-opening-li-title {
          font-size: 18px;
          line-height: 1.4em;
          color: $blackish;
        }

        .location,
        .rbox-job-shortdesc {
          font-weight: 400;
          font-size: 16px;
        }

        .learn-more {
          float: right;
          margin-top: 18px;
          font-weight: 500;
          cursor: pointer;
        }

        .rbox-opening-position-info {
          position: absolute;
          right: 0;
          top: 20px;
        }

        &.active .details {
          transform: scale3d(1, 1 , 1);
          max-height: 800px;
          opacity: 1;
        }
      }

      .rbox-opening-li {
        padding-bottom: 29px;
      }
    }

    .details {
      transform: scale3d(1, 0 , 1);
      max-height: 0;
      opacity: 0;
      transform-origin: top;
      transition: opacity .5s,
                  max-height .5s,
                  transform .5s cubic-bezier(0.155, 1.105, 0.295, 1.12);
    }

    .rbox-application-form input {
      float: none;
      width: 100%;

      &[type='file'] {
        border: 0;
      }
    }

  }
}
