@import '../vars';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../utilities/skeleton.scss';

@include stack('', 40px);

$container-sm: $container-sm - $grid-gutter-width;
$mainColor: #193455;
$heroHeight: 768px;
$sectionPadding: 200px;

body[data-theme="light"] {
  // Main
  --colorBack: white;
  --colorBackInvert: #{$mainColor};

  // Text
  --colorTitle: #010610;
  --colorTitleInvert: white;
  --colorSubtext1: #2D4665;
  --colorSubtext2: #616E7E;
  --colorSubtext3: #445B78;
  --colorSubtextInvert: #E9EDF3;
  --colorSubtextInvert2: #CED6E0;

  // buttons
  --btnPrimaryBack: #{$mainColor};
  --btnPrimaryText: white;
  --btnSecondaryBack: #DEE3EA;
  --btnSecondaryText: #{$mainColor};
}

body[data-theme="dark"] {
  //dark theme variables
}

:root {
  --pX2: calc(var(--horizontal-padding) / 2);
  --horizontal-padding-3: calc(var(--horizontal-padding) / 4);

  --vertical-padding-2: calc(var(--vertical-padding) / 2);
  --vertical-padding-3: calc(var(--vertical-padding) / 4);

  --line-height: 1.8rem;

  --footer-background: hsl(var(--accent-hue), 18%, 24%);
}

// ------------------------ BUTTONS --------------------------


%btn {
  border-radius: 8px;
  height: 51px;
  cursor: pointer;
  text-transform: uppercase;
  border:none;  
  font-weight: bold;
  letter-spacing: .1rem;
}

@include box('.btn-primary', 16px, 20px, var(--btnPrimaryBack), var(--btnPrimaryText));
.btn-primary {
  @extend %btn;
}

@include box('.btn-secondary', 16px, 20px, var(--btnSecondaryBack), var(--btnSecondaryText));
.btn-secondary {
  @extend %btn;
}

// -------------------------------- STANDARD --------------------------------
h1 {
  font-weight: 900;
  font-size: 64px;
  line-height: 100%;
  margin: 0px;
}
h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 112%;
  letter-spacing: -.04em;
  color: var(--colorTitle);
  margin-bottom: 40px;
  margin-top: 0px;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  font-family: $font-family-inter;
  color: var(--colorTitle);
  letter-spacing: -.01em;
}
.p1 {
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -.03em;
}
.p2 {
  font-size: 16px;
  line-height: 180%;
  letter-spacing: -.01em;
}
img {
  max-width: 100%;
}

// ------------------------- CUSTOM PAGE STYLES -----------------------------

@include box('#hero', $pY: 134px);
#hero {
  height: $heroHeight;
  background-image: url('/img/native/bg_native.svg');
  background-position: center;
}

@include box('#heroText', $mW: 448px);
#heroText {

  @include box(h1, $color: var(--colorTitle));
  h1 {
    
  }

  @include box(p, $color: var(--colorSubtext1));
  p {
    font-size: 22px;
  }
}

@include box('#native h2', $mW: 678px, $mBot: 120px);
@include switcher('#native', 3, $container-sm, 44px);
#native {
  article {
    flex: 1 1 312px;
  }

  svg {
    height: 64px;
  }
}

@include box('#pluginsText', $color: var(--colorTitle), $mW: 448px);
@include stack('#pluginsText', 40px);
#plugins {
  svg {
    width: 48px;
  }
}
#pluginsImg {
  max-width: 566px;
}

@include box('#securityText', $color: var(--colorTitle), $mW: 448px);
@include stack('#securityText', 40px);
#security {

}
#securityText {
  order: 2;
}
#securityImg {
  max-width: 570px;
}

@include stack('#supGuidance', 40px);
@include switcher('#supGuidance', 2, $container-sm, 128px);
#supGuidance {
  svg {
    height: 176px;
  }
  @include box ('article', $mW: 448px);
  @include box ('h2', $color: var(--colorTitle));
  @include box ('p', $color: var(--colorSubtext3));
}

@include box('.panel', 32px, 32px, var(--colorSubtext3), null, 324px);
@include box('.panel > h3', $color: var(--colorTitleInvert));
@include box('.panel > p', $color: var(--colorSubtextInvert2));
.panel {
  border-radius: 8px;
}

@include box('#secFeatures', $back: var(--colorBackInvert));
@include box('#secFeaturesText', $mBot: 96px, $mW: 640px);
@include box('#secFeaturesText > h2', $color:var(--colorTitleInvert));
@include box('#secFeaturesText > p', $color:var(--colorSubtextInvert));
@include switcher('#secFeatures', 3, $container-sm, 26px);
#secFeatures {  
  svg {
    width: 80px;
  }

}

@include switcher('#keyFeatures', 2, $container-sm, 87px);
@include box('#keyFeaturesTitle', $color: var(--colorTitle), $mW: 489px);
@include box('#keyFeaturesContent', $mW: 351px);
#keyFeatures {  
  svg {
    width: 56px;
  }
}
@media (max-width: $container-sm) {
  #keyFeaturesTitle {
    position: static;
  }  
}
main {
  overflow: visible;
}

#tag-along {  
  position:relative;
  #keyFeaturesTitle {
    position:sticky;
    top:150px;
    height: 100%;
  }
}
ionic-sub-header {
  svg {
    height: 24px;
  }
}

@include stack('.main1', $sectionPadding);
@include box('.main1', $pY: $sectionPadding);
.main1 {

}
@include box('.main2', $pY: $sectionPadding);
.main2 {

}
@include box('.main3', $pY: $sectionPadding);
.main3 {

}

@media (max-width: $container-sm) {

}
