@import '../vars';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/variables';

@import './enterprise/shared';
@import './enterprise/solutions/shared';
@import './solutions/shared';


#page-react {
  background: #ffffff;
  
  h1, 
  h2,
  h3, 
  h4,
  h5,
  strong {
    color: #111111;
    font-weight: 600;

    @media (max-width: $screen-sm-max) {
      hyphens: auto;
    }
  }

  .container {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 55px;
  }

  twitter-widget {
    float: left;
  }

  .logo {
    width: 128px;
  }

  header {
    .container {
      max-width: 654px;
      text-align: center;
      padding: 88px 0 0;
    }

    .logo {
      height: 72px;
      width: 72px;
    }

    p {
      max-width: 620px;
      margin: 0 auto;
    }

    a.btn {
      padding-top: 17px;
      margin-top: 48px;
    }

    .keep-reading {
      margin-top: 32px;
      font-size: 14px;
      display: block;
      color: rgba(white,.5);
      transition: .2s color;
      text-decoration: none;

      ion-icon {
        display: block;
        font-size: 26px;
        height: 26px;
        text-align: center;
        margin: 0 auto;
        transition: .2s transform ease-out;
      }

      &:hover {
        color: rgba(white,.7);

        ion-icon {
          transform: translateY(4px);
        }
      }
    }
  }

  .hero {
    img {
      width: calc(100% + 256px);
      margin-left: -128px;

      @media (max-width: 1200px) {
        width: calc(100% + 128px);
        margin-left: -64px;
      }

      @media (max-width: $screen-sm-max) {
        width: calc(100% + 64px);
        margin-left: -32px;
      }
    }
  }

  h1 {
    font-size: 64px;
    line-height: 70px;
    letter-spacing: -.04em;
  }

  h2 {
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -.03em;
  }

  h3 {
    font-size: 32px;
    letter-spacing: -.03em;
  }

  h4 {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -.02em;
  }

  p,
  li {
    color: rgba(47,58,72,.9);
    font-size: 16px;
    line-height: 29px;
    letter-spacing: -.01em;
  }

  hgroup {
    p {
      font-size: 24px;
      line-height: 38px;
      letter-spacing: -.03em;
    }

    .more {
      font-size: 24px;
      line-height: 40px;
    }
  }

  img {
    object-fit: contain;
  }

  li {
    color: #E9EDF3;
  }

  .features {
    display: flex;
  }

  .feature {
    flex: 1;

    .icon {
      width: 96px;
      height: 96px;
      background-color: #44b4ff;
      border-radius: 100%;

      margin: 20px auto;
    }
  }

  #demo {
    width: 100%;
    height: 750px;
  }

}
