@import '../vars';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/variables';

@import './enterprise/shared';
@import './enterprise/solutions/shared';
@import './solutions/shared';

#page-react {
  background: #ffffff;

  .grid {
    display: grid;
  }

  .grid-cols-1	{ grid-template-columns: repeat(1, minmax(0, 1fr)); }
  .grid-cols-2	{ grid-template-columns: repeat(2, minmax(0, 1fr)); }
  .grid-cols-3	{ grid-template-columns: repeat(3, minmax(0, 1fr)); }
  .grid-cols-4	{ grid-template-columns: repeat(4, minmax(0, 1fr)); }
  
  h1, 
  h2,
  h3, 
  h4,
  h5,
  strong {
    color: #111111;
    font-weight: 600;

    @media (max-width: $screen-sm-max) {
      hyphens: auto;
    }
  }

  twitter-widget {
    float: left;
  }

  .logo {
    width: 128px;
  }

  react-components {
    height: 566px;
    width: 100%;
    max-width: 500px;
    margin: auto;
  }

  header {
    background-color: #131A23;
    color: white;

    h1 {
      color: white;
      font-size: 30px;
      line-height: 36px;
    }

    .container {
      max-width: 654px;
      text-align: center;
      padding: 88px 0;
    }

    .logo {
      height: 72px;
      width: 72px;
    }

    p {
      max-width: 620px;
      margin: 0 auto;
    }

    a.btn {
      padding-top: 17px;
      margin-top: 48px;
    }

    a.btn.get-started {
      background-color: #29ADFF;
      border-radius: 10px;
    }
    a.btn.live-demo {
      background-color: #414D5C;
      border-radius: 10px;
    }

    .keep-reading {
      margin-top: 32px;
      font-size: 14px;
      display: block;
      color: rgba(white,.5);
      transition: .2s color;
      text-decoration: none;

      ion-icon {
        display: block;
        font-size: 26px;
        height: 26px;
        text-align: center;
        margin: 0 auto;
        transition: .2s transform ease-out;
      }

      &:hover {
        color: rgba(white,.7);

        ion-icon {
          transform: translateY(4px);
        }
      }
    }
  }

  .hero {
    img {
      width: calc(100% + 256px);
      margin-left: -128px;

      @media (max-width: 1200px) {
        width: calc(100% + 128px);
        margin-left: -64px;
      }

      @media (max-width: $screen-sm-max) {
        width: calc(100% + 64px);
        margin-left: -32px;
      }
    }
  }

  h1 {
    font-size: 64px;
    line-height: 70px;
    letter-spacing: -.04em;
  }

  h2 {
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -.03em;
  }

  h3 {
    font-size: 32px;
    letter-spacing: -.03em;
  }

  h4 {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -.02em;
  }

  p,
  li {
    color: rgba(47,58,72,.9);
    font-size: 16px;
    line-height: 29px;
    letter-spacing: -.01em;
  }

  hgroup {
    h2 {
      font-size: 40px;
      letter-spacing: -0.03em;
      line-height: 110%;
      font-weight: 600;
    }

    p {
      color: #1A232F;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: -.03em;
      margin-bottom: 16px;
    }

    ul {
      margin: 0;
      padding: 0;
    }
    li {
      display: flex;
      cursor: pointer;

      &:before {
        display: none;
      }

      font-size: 22px;
      color: #1A232F;
      margin: 0;
      list-style: none;

      .icon {
        width: 28px;
      }

      .title {
        padding: 16px 0;
        border-bottom: 2px solid #E6E6E8;
        flex: 1;
      }

      &.selected {
        color: #009DFF;
        .title {
          border-bottom: 2px solid #009DFF;
        }
      }
    }

    .more {
      font-size: 24px;
      line-height: 40px;
      p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
      }
    }
  }

  img {
    object-fit: contain;
  }

  li {
    color: #E9EDF3;
  }

  .features {
    grid-gap: 50px;
  }

  .feature {
    h3 a {
      color: #020814;
      font-size: 20px;
      font-weight: 600px;
    }

    img {
      width: 100%;
      max-width: 308px;
    }
  }

  #components {
    margin-bottom: 100px;
    @media (max-width: $screen-sm-max) {
      grid-template-columns: 1fr;
    }
  }

  #native {
    .content {
      margin-top: 100px;
    }
    .graphics {
      margin-top: -16px;
      margin-right: -68px;
      position: relative;

      > img {
        position: absolute;
        top: -115px;
        left: calc(50% - 207px);
        height: 761px;
        width: 499px;
        z-index: -1;
      }

      home-native {
        position: relative;
      }
    }

    @media (max-width: $screen-sm-max) {
      flex-direction: column;

      .graphics {
        margin-top: 64px;
        margin-right: auto;
        max-width: 100%;
      }
    }
  }

  #start {
    max-width: 500px;
    margin: auto;
    text-align: center;
    pre {
      background-color: #111;
      color: white;
      border: none;
      text-align: left;
      font-size: 18px;
    }
    code {
      background: transparent;
      color: white;
      .hljs-tag {
        color: white;
      }
      .hljs-keyword {
        color: white;
      }
    }
  }

  #demo-info {
    p {
      margin: 15px 0;
    }
  }

  #demo {
    width: 100%;

    iframe {
      height: 750px;
      width: 100%;
      border: none;
    }
  }
}
