@import '../vars';
@import '../bootstrap/variables';

#page-strategy-session {
  .cta {
    background-color: #243c54;
    background-image: url('/img/strategy-session/strategy-session-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .cta hgroup {
    padding-top: 54px;
    padding-bottom: 80px;
    max-width: 510px;

    h1 {
      font-size: 48px;
      letter-spacing: -0.03em;
    }

    p {
      font-family: $font-family-eina;
      font-size: 22px;
      line-height: 36px;
      letter-spacing: -0.02em;
      color: #F6F8FB;
      opacity: 0.8;
    }

    @media (max-width: $screen-sm) {
      text-align: center;
      margin: 0 auto;
      padding-top: 46px;
      padding-bottom: 50px;

      h1 {
        font-size: 40px;
      }
    }
  }

  main {
    overflow: visible;
  }

  .content-row {
    display: flex;

    @media (max-width: $screen-md) {
      flex-direction: column;
      max-width: 560px;
      margin: 0 auto;
    }
  }

  .content,
  .signup-form {
    flex: 0 0 50%;

    @media (max-width: $screen-md) {
      flex: 0 0 100%;
    }
  }

  .content {
    padding-right: 100px;
    margin-top: 80px;

    h2 {
      font-weight: 600;
      font-size: 26px;
      line-height: 39px;
      letter-spacing: -0.02em;
      color: #1A232F;
    }

    ul {
      margin: 40px 0 0;
      padding: 0;
      max-width: 100% !important;
    }

    @media (max-width: $screen-md) {
      padding-right: 0px;
      margin-top: 42px;
      margin-bottom: 84px;
    }
  }

  .signup-form {
    position: relative;
    z-index: 100;
    margin-top: -26px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(2, 8, 20, 0.1), 0px 8px 16px rgba(2, 8, 20, 0.08);
    border-radius: 8px;
    padding: 48px 56px 56px;
    box-sizing: border-box;

    h3 {
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: -0.02em;
      color: #020814;
      margin-top: 0;
      margin-bottom: 16px;
    }

    .hs_submit input.hs-button {
      width: 100%;
    }

    @media (max-width: $screen-md) {
      padding: 32px 36px 36px;

      fieldset.form-columns-2 .hs-form-field {
        width: 100%;
        float: none;
        padding: 0;

        & + .hs-form-field {
          margin-top: 24px;
        }
      }
      .inputs-list.multi-container {
        li:nth-last-child(n+6):first-child,
        li:nth-last-child(n+6):first-child ~ li {
          width: 100%;
          float: none;
          padding-right: 0;
        }
        li:nth-last-child(n+6):first-child ~ li:nth-child(even) {
          padding-left: 0;
        }
      }
    }

    @media (max-width: $screen-sm) {
      padding: 26px 24px 24px;
      position: static;
      z-index: 1;
    }
  }

  .testimonial {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E9EDF3;
    font-family: $font-family-inter;
    font-weight: 600;
    letter-spacing: -0.01em;
    margin-top: 64px;

    &__img,
    &__caption {
      flex: 0 0 45%;
    }

    &__img {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      img {
        width: 100%;
      }
    }

    &__caption {
      position: relative;
      padding-top: 16px;

      &::before {
        content: '';
        display: block;
        background-image: url('/img/strategy-session/quotes.svg');
        width: 32px;
        height: 24px;
        position: absolute;
        left: -46px;
        top: 20px;
      }
    }

    &__quote {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #5B708B;
      margin: 0 0 16px;
    }

    &__name {
      font-size: 14px;
      line-height: 22px;
      color: #1A232F;
      margin: 0;
    }

    &__title {
      font-size: 10px;
      line-height: 17px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #73849A;
      margin: 0 0 16px;
    }

    @media (max-width: $screen-xs) {
      flex-direction: column;
      border-bottom: 0;

      &__img,
      &__caption {
        flex: 0 0 100%;
      }

      &__img {
        align-items: center;
      }
      img{
        max-width: 210px;
      }

      &__caption {
        border-top: 1px solid #E9EDF3;
        padding-left: 46px;
        &::before {
          left: 0;
        }
      }
    }

  }

}

@import '../components/customer-callout';
@import '../components/resources_read_more';
