@import '../vars';
@import '../mixins';
@import '../bootstrap/variables';

.subscribe {
  @include box;
  
  max-width: 400px;
  margin: -64px auto 80px auto;
  padding: 32px 24px;

  img {
    width: 100%;
    margin-bottom: 32px;
  }

}