@import '../vars';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/variables';

@import './enterprise/shared';
@import './enterprise/solutions/shared';
@import './solutions/shared';


#page-x {
  background: #000000;

  @media (max-width: $screen-sm-max) {
    padding-top: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  strong {
    color: #FFFFFF;
    font-weight: 600;
    line-height: 1.2;
  }

  h1 {
    font-size: 64px;
    letter-spacing: -.04em;
  }

  h2 {
    font-size: 48px;
    letter-spacing: -.03em;
  }

  h3 {
    font-size: 32px;
    letter-spacing: -.03em;
  }

  h4 {
    font-size: 20px;
    letter-spacing: -.02em;
  }

  p,
  li {
    color: #CED6E0;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: -.01em;
  }

  hgroup {
    p {
      font-size: 24px;
      line-height: 38px;
      letter-spacing: -.03em;
    }

    .more {
      font-size: 24px;
      line-height: 40px;
    }
  }

  img {
    object-fit: contain;
  }

  li {
    color: #E9EDF3;
  }

  .more,
  footer ul a {
    color: #4B8FFF;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -.03em;
    display: inline-block;
    text-decoration: none;

    ion-icon {
      font-size: 16px;
      vertical-align: -3px;
      display: inline-block;
      transition: .3s transform ease;
    }

    &:hover,
    &:focus,
    &:active {

      ion-icon {
        transform: translateX(3px);
      }
    }
  }

  input[type="submit"],
  header .btn {
    font-family: $font-family-eina;
    font-weight: 700;
    background: var(--c-blue-800);
    box-shadow: 0px 2px 4px rgba(2, 8, 20, 0.1), 0px 1px 2px rgba(2, 8, 20, 0.08), inset 0px 1px 0px rgba(255, 255, 255, 0.12);
    border-radius: 10px;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.08em;
    padding: 16px 24px;

    &:hover {
      background: var(--c-blue-700);
    }
  }

  header hgroup .btn {
    margin-top: 32px;
  }

  @media (max-width: $screen-xs-max) {
    h1 {
      font-size: 53px;
    }

    h2 {
      font-size: 40px;
    }
  }

  header {
    margin-top: 16px;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ul {
        list-style-type: none;
        display: flex;
        align-items: center;
      }

      ul li + li {
        margin-left: 32px;
      }

      li a {
        transition: color 0.2s;
        font-size: 16px;
        color: #CED6E0;
      }

      li.active a,
      li:hover a {
        color: #fff;
      }

      li.active a {
        pointer-events: none;
        border-bottom: 2px solid #193455;
        padding-bottom: 2px;
      }

      li a.btn {
        height: unset;
        font-size: 16px;
        letter-spacing: 0;
        text-transform: unset;
        font-weight: 600;
        padding: 10px 16px;
        letter-spacing: -0.03em;
      }
    }

    @media (max-width: 560px) {
      nav {
        justify-content: flex-start;

        & > a {
          flex: 0 0 50%;
        }

        ul {
          flex-direction: column;
          text-align: left;
          align-items: flex-start;
          margin-bottom: 0;
          padding-left: 0;
        }

        ul li + li {
          margin-left: 0;
        }


        .btn {
          display: none;
        }


      }
    }

    @media (max-width: 346px) {
      nav > a {
        flex: 0;
        margin-right: 24px;
      }
    }

    hgroup {
      max-width: 654px;
      text-align: center;
      padding-top: 88px;
    }

    .logo {
      height: 72px;
      width: 72px;
    }

    p {
      max-width: 620px;
      margin: 0 auto;
    }

    a.btn {

      &.dark {
        background: #212A3A;
        box-shadow:
          0px 2px 4px rgba(2, 8, 20, 0.1),
          0px 1px 2px rgba(2, 8, 20, 0.08),
          inset 0px 1px 0px rgba(255, 255, 255, 0.12);

          &:hover {
            box-shadow:
              0px 4px 8px rgba(2, 8, 20, 0.1),
              0px 2px 4px rgba(2, 8, 20, 0.08),
              inset 0px 2px 2px rgba(255, 255, 255, 0.12);
          }

          &:active {
            box-shadow:
              0px 1px 2px rgba(2, 8, 20, 0.1),
              0px 1px 1px rgba(2, 8, 20, 0.08),
              inset 0px 0px 0px rgba(255, 255, 255, 0.12);
          }
      }
    }

    .keep-reading {
      margin-top: 32px;
      font-size: 14px;
      display: block;
      color: rgba(white,.5);
      transition: .2s color;
      text-decoration: none;

      ion-icon {
        display: block;
        font-size: 26px;
        height: 26px;
        text-align: center;
        margin: 0 auto;
        transition: .2s transform ease-out;
      }

      &:hover {
        color: rgba(white,.7);

        ion-icon {
          transform: translateY(4px);
        }
      }
    }
  }

  .letter {
    margin-bottom: 256px;

    .container {
      max-width: 50em;
    }

    .emoji {
      margin: 128px 0;
      text-align: center;

      &.large {
        font-size: 80px;
      }
      &.small {
        font-size: 48px;
      }
    }

    p, ul {
      font-size: 22px;
      line-height: calc(1em + 10px);
      margin: 1em 0;
    }

    ul {
      margin: 2.4em 0;
    }

    ul li {
      font-size: 22px;
      color: #B2BECD;
      padding-left: 0;
    }

    span.small {
      color: #92A1B3;
    }

    li:before {
      content: '“';
      margin-left: -1em;
      font-family: 'Georgia','Times New Roman', Times, serif;
      font-size: 56px;
      position: absolute;
      top: 15px;
      left: 20px;
      color: #5B708B;
      display: inline-block;
      opacity: 0.75;
    }

    p.pre-form {
      margin-top: 128px;
      margin-bottom: 0;
    }

    form {
      margin-top: 0;
      margin-bottom: 56px;
    }

    .hubspot-override--large .hbspt-form .hs_submit {
      margin-top: 16px;
      text-align: left;
    }

    @media (max-width: $screen-xs) {
      p, ul, ul li {
        font-size: 18px;
      }
      .emoji {
        margin: 96px 0;
      }
    }
  }

  .hero {
    padding-top: 80px;

    img {
      width: calc(100% + 256px);
      margin-left: -128px;

      @media (max-width: 1200px) {
        width: calc(100% + 128px);
        margin-left: -64px;
      }

      @media (max-width: $screen-sm-max) {
        width: calc(100% + 64px);
        margin-left: -32px;
      }
    }
  }

  main section.right,
  main section.left {
    margin-top: 192px;
    margin-bottom: 192px;

    .container {
      align-items: flex-start;
    }

    .container.v-center {
     align-items: center;
    }

    hgroup {
      max-width: 420px;
    }

    @media (max-width: $screen-sm-max) {
      margin-top: 90px;
      margin-bottom: 90px;

      .container {
        align-items: center;

        hgroup {
          margin-top: 32px;
          margin-left: auto;
          margin-right: auto;
          max-width: 680px;
          text-align: center;
        }
      }
    }
  }

  #uncompromising {
    margin-top: 80px;
    margin-bottom: 192px;

    ul li {
      display: flex;
      padding-left: 0;

      p {
        font-size: 18px;
        color: #92A1B3;
        line-height: 1.6;
        margin-bottom: 0;
      }
      svg {
        margin-top: 6px;
        flex: 0 0 22px;
        margin-right: 16px;
      }

      @media (max-width: $screen-sm-max) {
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        align-items: center;
        svg {
          margin-right: 0;
          margin-bottom: 16px;
        }
      }
    }

    .graphics {
      max-width: 556px;
      margin-right: -64px;
    }
  }

  #app-backlog {

    .app-backlog-animation {
      position: relative;
      display: flex;
      width: 100%;
      height: 300px;
      overflow: hidden;
      margin-top: 24px;
    }

    .app-card,
    .app-card .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .app-card {
      --card-bg: #E26E6E;
      --icon-bg: #CB5858;
      flex: 0 0 168px;
      width: 168px  ;
      height: 300px;
      background: var(--card-bg);
      border-radius: 12px;
      padding: 116px 20px 0;
      position: relative;

      &.js-animate {
        position: absolute;
        top: 0;
      }

      &:not(.js-animate) + .app-card {
        margin-left: 48px;
      }

      .icon {
        justify-content: center;
        background: var(--icon-bg);
        width: 36px;
        height: 36px;
        border-radius: 36px;
      }

      ion-icon {
        font-size: 20px;
        color: #fff;
      }

      .label {
        font-family: $font-family-eina;
        font-size: 13px;
        margin-top: 12px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.03em;
        font-weight: 600;
        color: #fff;
      }
      &:nth-child(1n) {
        --card-bg: #E26E6E;
        --icon-bg: #CB5858;
      }
      &:nth-child(2n) {
        --card-bg: #599FD2;
        --icon-bg: #438DC4;
      }
      &:nth-child(3n) {
        --card-bg: #2D4665;
        --icon-bg: #203B5C;
      }
      &:nth-child(4n) {
        --card-bg: #3C61BF;
        --icon-bg: #2D50A9;
      }
      &:nth-child(5n) {
        --card-bg: #C8A94D;
        --icon-bg: #A78B38;
      }
      &:nth-child(6n) {
        --card-bg: #E07763;
        --icon-bg: #D25C47;
      }
      &:nth-child(7n) {
        --card-bg: #5282D6;
        --icon-bg: #4170C2;
      }
      &:nth-child(8n) {
        --card-bg: #5C708A;
        --icon-bg: #45576F;
      }
      &:nth-child(9n) {
        --card-bg: #1E6E9B;
        --icon-bg: #105175;
      }
      &:nth-child(10n) {
        --card-bg: #219992;
        --icon-bg: #17837E;
      }
      &:nth-child(11n) {
        --card-bg: #9149CA;
        --icon-bg: #7732B7;
      }
    }

    @media (max-width: $screen-xs-max) {
      .app-backlog-animation {
        height: 216px;
      }
      .app-card {
        padding: 72px 20px 0;
        flex: 0 0 122px;
        width: 122px  ;
        height: 216px;

        &:not(.js-animate) + .app-card {
          margin-left: 32px;
        }

        .label {
          font-size: 11px
        }
      }
    }
  }

  .callout {
    margin-top: 80px;
    margin-bottom: 80px;
    background: #1C1D20;
    display: flex;
    border-radius: 16px;

    & > * {
      flex: 0 0 50%;
    }

    &__illustration {
      background: linear-gradient(282.43deg, rgba(41, 49, 64, 0.4) -1.4%, rgba(27, 33, 45, 0) 95.99%);
      img {
        width: 100%;
        height: 320px;
        position: relative;
        right: -20px;
      }
    }

    &__content {
      padding: 48px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    h3 {
      font-size: 28px;
      line-height: 120%;
      letter-spacing: -0.03em;
    }

    h3 span {
      color: #73849A;
    }

    a {
      font-family: $font-family-eina;
      text-transform: uppercase;
      letter-spacing: 0.06em;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #3880FF;
    }

    ion-icon {
      font-size: 20px;
      transform: translateY(4px);
    }

    @media (max-width: $screen-xs-max) {
      flex-direction: column;

      &__illustration {
        position: relative;
        max-height: 300px;
        display: flex;
        img {
          width: 100%;
          height: auto;
        }
      }

      &__content {
        padding: 16px 32px 32px;
      }
    }
  }

  #create {
    .graphics {
      max-width: 436px;
    }

  }

  #data {
    .graphics {
      max-width: 494px;
      margin-right: -56px;
    }
  }

  #native {
    ul {
      flex: 0 0 50%;
      display: flex;
      flex-wrap: wrap;
    }

    li {
      flex: 0 0 33%;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      padding-left: 0;
    }

    li::before {
      display: none;
    }

    li img {
      margin-bottom: 12px;
      max-width: 56px;
    }

    li.footnote {
      font-size: 14px;
      color: #515A64;
    }

    @media (max-width: $screen-sm-max) {
      .container {
        flex-direction: column;
        align-items: unset;
      }
      ul {
        margin-top: 24px;
        justify-content: center;
      }
      li {
        align-items: center;

      }
    }

    @media (max-width: $screen-xs-max) {
      hgroup {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      ul {
        justify-content: flex-start;
      }
      li {
        flex: 0 0 50%;
        justify-content: flex-end;
      }
    }
  }

  #ci {
    .graphics {
      width: 591px;
      margin-left: -100px;
    }

    @media (max-width: $screen-md-max) {
      .graphics {
        width: 50%;
        margin-left: 0;
      }
    }
    @media (max-width: $screen-sm-max) {
      .graphics {
        max-width: 440px;
      }
    }
  }

  .bar {
    background: #1C1D20;
    padding: 132px 0;

    h2 {
      text-align: center;
      margin-bottom: 64px;
    }

    ul {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    li  {
      padding: 0;

      &::before,
      &::after {
        display: none;
      }

      strong {
        display: block;
        font-size: 48px;
        line-height: 58px;
        letter-spacing: -0.03em;
        font-family: $font-family-eina;
      }
    }
  }

  #what-you-got {
    .container {
      display: flex;
      flex-wrap: wrap;

      &::before,
      &::after {
        display: none;
      }

      @media (max-width: $screen-sm-max) {
        flex-direction: column;
      }
    }

    h2 {
      flex: 1;
    }

    ul {
      flex: 0 1 64%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 16px;

      @media (max-width: $screen-xs-max) {
        display: block;
      }
    }

    li {
      margin: 0;

      &::before {
        content: url('/img/x/check.svg');
      }
    }
  }

  #schedule {
    margin: 128px 0 0;
    padding-bottom: 128px;

    .expander {
      background: #1C1D20;
      border-radius: 16px;
      margin: 0 -128px;
      padding: 46px 64px;
      overflow: hidden;
      position: relative;
      text-align: center;
      max-width: 768px;
      margin-left: auto;
      margin-right: auto;

      @media (max-width: 1280px) {
        margin: 0 auto;
      }

      @media (max-width: $screen-sm-max) {
        max-height: none;
        padding: 32px 48px 64px;
      }

      @media (max-width: $screen-xs-max) {
        padding: 8px 16px 32px;
      }
    }

    h5 {
      font-size: 24px;
      line-height: 24px;
      letter-spacing: -0.03em;
    }
  }

  footer {
    border-top: none;

    .container {
      display: flex;
      flex-wrap: wrap;

      &::before,
      &::after {
        display: none;
      }
    }

    .logo {
      width: 36px;
      height: 36px;
    }

    hgroup {
      padding: 0 60px 40px;
      flex: 1;
      max-width: calc(552px + 120px);

      h3 {
        margin-top: 0;
      }

      p {
        font-size: 16px;
        line-height: 29px;
      }
    }

    ul  {
      font-weight: 500;
      margin-left: auto;
      align-self: center;
      list-style: none;
    }

    a::after {
      background: url('/img/x/ico-forward.svg') no-repeat;
      height: 13px;
      width: 8px;
      content: '';
      display: inline-block;
      vertical-align: -1px;
      margin-left: .4em;

    }

    @media (max-width: $screen-xs-max) {
      hgroup {
        padding: 0 10px 20px 24px;
      }

      ul {
        order: -1;
        flex: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 48px;
        padding: 0;
      }
    }
  }

  form {
    margin-top: 40px;

    label {
      display: none;
    }

    fieldset.form-columns-2 .hs-form-field {
      padding: 0 8px;

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }

      @media (max-width: $screen-xs-max) {
        padding: 0;
      }
    }

    input[type="email"],
    input[type="text"] {
      transition: background 0.2s;
      color: white;
      background: #30323A;
      box-shadow: 0px 2px 4px rgba(2, 8, 20, 0.1), 0px 1px 2px rgba(2, 8, 20, 0.08);
      border-radius: 10px;
      height: 56px;
      max-width: 100%;
      border: none;


      &:focus {
        background: #3D3F49;
      }
      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
    }

    @media (max-width: $screen-sm-max) {
      flex-direction: column;
      align-items: center;

      .hs_submit,
      .hs_email {
        margin-top: 20px;
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    .hero .container {
      width: 100%;
    }
    section {
      .container {
        flex-direction: column-reverse;
      }

      &#uncompromising,
      &#create,
      &#data,
      &#ide,
      &#ci {
        .graphics {
          margin: 0 auto;
          width: 80%;
        }
      }
    }
  }
}
