@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/avenir-next/bold.eot');
  src: url('/fonts/avenir-next/bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/avenir-next/bold.woff2') format('woff2'),
       url('/fonts/avenir-next/bold.woff') format('woff'),
       url('/fonts/avenir-next/bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/avenir-next/demi.eot');
  src: url('/fonts/avenir-next/demi.eot?#iefix') format('embedded-opentype'),
       url('/fonts/avenir-next/demi.woff2') format('woff2'),
       url('/fonts/avenir-next/demi.woff') format('woff'),
       url('/fonts/avenir-next/demi.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/avenir-next/medium.eot');
  src: url('/fonts/avenir-next/medium.eot?#iefix') format('embedded-opentype'),
       url('/fonts/avenir-next/medium.woff') format('woff'),
       url('/fonts/avenir-next/medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/avenir-next/regular.eot');
  src: url('/fonts/avenir-next/regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/avenir-next/regular.woff') format('woff'),
       url('/fonts/avenir-next/regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/avenir-next/thin.eot');
  src: url('/fonts/avenir-next/thin.eot?#iefix') format('embedded-opentype'),
       url('/fonts/avenir-next/thin.woff2') format('woff2'),
       url('/fonts/avenir-next/thin.woff') format('woff'),
       url('/fonts/avenir-next/thin.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/avenir-next/ultralight.eot');
  src: url('/fonts/avenir-next/ultralight.eot?#iefix') format('embedded-opentype'),
       url('/fonts/avenir-next/ultralight.woff') format('woff'),
       url('/fonts/avenir-next/ultralight.ttf') format('truetype');
  font-weight: 200;
}
