@import '../../vars';

#page-survey-2018 {

  .navbar + .banner {
    background: #709df0 no-repeat 50% 50%;
    background-image: 
      linear-gradient(135deg, #2a67ff 0%, #317ef0 10%, #5bb2e6 30%, #6fb2e4 36%, #996CC7 66%, #95a0fd 100%);
    background-image: 
      url('/img/survey/2018-bg.jpg'),
      linear-gradient(135deg, #2a67ff 0%, #317ef0 10%, #5bb2e6 30%, #6fb2e4 36%, #996CC7 66%, #95a0fd 100%);
    background-size: cover, 100%;
  }
}