#page-enterprise {
  .navbar.transparent + .banner {
    background: #3a75f3 no-repeat center bottom url('/img/enterprise/cta-bg.jpg');
    background-size: cover;
    padding-bottom: 168px;
    padding-top: 225px;
    margin-top: -78px;
    color: rgba(white, .9);

    @media (max-width: $screen-sm-max) {
      padding-top:160px;
      padding-bottom:100px;
    }

    hgroup {
      max-width: 710px;
      position: relative;
      padding-top: 0;
      padding-bottom: 0;

      &::before {
        background: no-repeat 50% 0 url('/img/enterprise/ionic-enterprise-icon.png');
        background-size: 64px;
        width: 64px;
        height: 64px;
        content: '';
        display: block;
        position: absolute;
        top: -90px;
        left: calc(50% - 32px);
      }

      .btn {
        margin-top: 32px;
      }
    }

    h1 {
      font-size: 28px;
      margin-bottom: 20px;
    }

    p {
      font-size: 17px;
      font-weight: 500;
    }
  }

  .ready {
    hgroup {
      max-width: 880px;
      margin: 0 auto;
      padding-top: 75px;
    }

    h2 {
      font-size: 28px;
    }

    p {
      font-weight: 500;
      font-size: 18px;
    }

    img {
      width: 100%;
      max-width: 824px;
      margin: 67px auto 0;
    }
  }

  .icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;

    li {
      position: relative;
      padding-top: 60px;
      list-style: none;
      flex: 0 0 225px;
      margin-bottom: 35px;

      @media (max-width: $screen-sm-max) {
        flex-basis: 49%;
      }

      @media (max-width: 444px) {
        flex-basis: 100%;
      }

      &::before {
        background: no-repeat 0 0 url('/img/enterprise/icons.png');
        background-size: 48px;
        width: 48px;
        height: 48px;
        content: '';
        position: absolute;
        top: 0;
      }

      h4 {
        font-size: 16px;
      }

      p {
        font-size: 14px;
        color: $darkish-grey;
        line-height: 1.85em;
      }

      &.accelerated::before { background-position: 0px 0px; }
      &.noticed::before {     background-position: 0px -48px; }
      &.teams::before {       background-position: 0px -96px; }
      &.workflow::before {    background-position: 0px -144px; }
      &.platforms::before {   background-position: 0px -192px; }
      &.optimized::before {   background-position: 0px -240px; }
      &.design::before {      background-position: 0px -288px; }
      &.performant::before {  background-position: 0px -336px; }
      &.developers::before {  background-position: 0px -384px; }
      &.future::before {      background-position: 0px -432px; }
      &.solution::before {    background-position: 0px -480px; }
      &.support::before {     background-position: 0px -528px; }
      &.tools::before {       background-position: 0px -576px; }
    }
  }

  .companies {
    background: $whiteish;
    padding-top: 70px;
    text-align: center;
    margin-top: 42px;

    h2 {
      font-size: 28px;
    }

    img {
      width: 100%;
      margin: 50px auto 85px;
      max-width: 901px;
    }
  }

  .solution {
    h2 {
      text-align: center;
      margin-top: 90px;
      margin-bottom: 50px;
    }

    li {
      flex-basis: 300px;

      @media (max-width: 650px) {
        flex-basis: 100%;
      }
    }
  }

  .powerful {
    background: #202834;
    color: white;
    padding-top: 90px;
    padding-bottom: 50px;

    p,
    .icons li p {
      color: rgba(white, .8);
    }

    .btn {
      margin-top: 24px;
    }

    hgroup,
    img {
      width: 46%;

      @media (max-width: $screen-sm-max) {
        width: 100%;
      }
    }

    img {
      float: right;

      @media (max-width: $screen-sm-max) {
        float: none;
        margin-bottom: 40px;
      }
    }

    hgroup {
      h2 {
        margin-top: 0;
        margin-bottom: 20px;
        line-height: 1.4em;
      }

      p {
        line-height: 1.85em;

        strong {
          font-weight: 500;
        }
      }
    }

    ul {
      clear: both;
      margin-top: 68px;
    }

    li {
      flex-basis: 315px;

      @media (max-width: $screen-md-max) {
        flex-basis: 300px;
      }

      @media (max-width: $screen-sm-max) {
        flex-basis: 100%;
      }
    }
  }

  .get-in-touch {
    text-align: center;
    background: $blue;
    color: white;
    padding-bottom: 92px;
    padding-top: 75px;

    .btn {
      font-weight: 500;
      margin-top: 20px;
    }
  }

  .modal-body {
    padding-bottom: 20px;

    .hero {
      max-width: 400px;
      margin: 25px auto 0;
      padding-bottom: 30px;
      padding-top: 0;
    }
  }
}
