#page-enterprise {
  font-family: $font-family-eina;

  .navbar.transparent + .banner {
    background: #293340 no-repeat center bottom url('/img/enterprise/cta-background.jpg');
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 0;
    top: -65px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    hgroup {
      flex: 0 0 auto;
      max-width: 780px;
      position: relative;
      padding-top: 0;
      padding-bottom: 0;

      &::before {
        background: no-repeat 50% 0 url('/img/enterprise/ionic-enterprise-icon.png');
        background-size: 80px;
        width: 80px;
        height: 80px;
        content: '';
        display: block;
        position: absolute;
        top: -104px;
        left: calc(50% - 40px);
      }

      .btn {
        margin-top: 28px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        padding: 18px 20px;
        color: #3880ff;
        cursor: pointer;
      }
    }

    h1 {
      font-size: 56px;
      margin-bottom: 20px;
      font-weight: 700;
    }

    h1 em {
      font-family: 'Georgia', serif;
      font-size: 36px;
      font-style: italic;
      font-weight: normal;
      padding: 0 0px 0 8px;
      position: relative;
      top: -6px;
    }

    p {
      font-size: 22px;
      font-weight: 500;
      color: #d6dee8;
    }

    .logos {
      background-color: #212a36;
      overflow:hidden;
      padding: 34px 0;
      width: 100%;
      flex: 1 0 auto;
      margin-top: 140px;
      position: relative;

      .container {
        position: relative;
        z-index: 2;
      }
    }

    .logos__bg {
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: no-repeat center bottom url('/img/enterprise/cta-background.jpg');
      background-size: cover;
      filter: url('#blur');
      filter: blur(20px);
      z-index: 1;

      &:after {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.18);
      }
    }

    @media (max-width: $screen-sm-min) {
      padding-top: 310px;

      h1 {
        font-size: 48px;
      }

      h1 em {
        font-size: 30px;
        top: -6px;
      }

      p {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
      }

      .logos {
        padding: 22px 0;
        margin-top: 70px;
      }
    }
  }

  .logos .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:before,
    &:after {
      display: none;
    }

    @media (max-width: $screen-sm-min) {
      max-width: 540px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .logo {
        margin: 10px;
      }
    }
  }

  .section__content.logos .container {
    max-width: 960px;

    @media (max-width: $screen-sm-min) {
      .logo {
        margin: 15px;
      }
    }
  }

  .logos .logo {
    background: url('/img/enterprise/logo-sprite.png') no-repeat;
    background-size: 324px 381px;
    background-position: center center;

    &--target {
      background-position: -167px -6px;
      width: 22px;
      height: 22px;
    }
    &--verizon {
      background-position: -167px -46px;
      width: 79px;
      height: 18px;
    }
    &--marketwatch {
      background-position: -167px -82px;
      width: 128px;
      height: 19px;
    }
    &--usarmy {
      background-position: -167px -122px;
      width: 52px;
      height: 18px;
    }
    &--ea {
      background-position: -167px -159px;
      width: 37px;
      height: 18px;
    }
    &--diesel {
      background-position: -167px -200px;
      width: 92px;
      height: 13px;
    }
    &--bmw {
      background-position: -167px -232px;
      width: 24px;
      height: 24px;
    }
    &--ibm {
      background-position: -167px -272px;
      width: 48px;
      height: 18px;
    }
    &--lendingclub {
      background-position: -5px -8px;
      width: 145px;
      height: 22px;
    }
    &--airbus{
      background-position: -5px -44px;
      width: 128px;
      height: 24px;
    }
    &--cat {
      background-position: -5px -81px;
      width: 41px;
      height: 24px;
    }
    &--study {
      background-position: -5px -122px;
      width: 130px;
      height: 20px;
    }
    &--comcast {
      background-position: -5px -156px;
      width: 88px;
      height: 24px;
    }
    &--amtrak {
      background-position: -5px -194px;
      width: 56px;
      height: 24px;
    }
    &--aaa {
      background-position:  -5px -228px;
      width: 54px;
      height: 32px;
    }
    &--ge {
      background-position: -5px -264px;
      width: 34px;
      height: 34px;
    }
    &--usaa {
      background-position: -5px -302px;
      width: 28px;
      height: 32px;
    }
    &--ing {
      background-position: -5px -343px;
      width: 87px;
      height: 22px;
    }
  }

  .overview {
    margin-top: -65px;

    hgroup {
      text-align: center;
      max-width: 680px;
      margin: 0 auto;
    }
  }

  .section__content {
    padding-top: 150px;
    padding-bottom: 150px;

    & + .section__content {
      padding-top: 80px;
    }

    &.overview {
      padding-top: 120px;
    }

    & + .section__content.form {
      padding-top: 30px;
    }

    &.overview + .section__content {
      padding-top: 0px;
    }

    hgroup {
      position: relative;
    }

    h2 {
      font-size: 40px;
      font-weight: 700;
      letter-spacing: -0.01em;
      color: #161a1f;
      b {
        font-weight: 700;
      }
    }

    h3 {
      font-size: 32px;
      line-height: 48px;
      font-weight: 700;
      letter-spacing: -0.03em;
      max-width: 596px;
      margin-top: 30px;
      margin-bottom: 80px;
      color: #161a1f;
    }

    h4 {
      font-size: 24px;
      line-height: 32px;
      font-weight: 600;
      color: #161a1f;
      letter-spacing: -0.02em;
      margin-bottom: 16px;
    }

    h4.sm {
      font-size: 20px;
      line-height: 26px;
    }

    h5 {
      font-size: 20px;
      font-weight: 600;
      b {
        font-weight: 600;
      }
    }

    .hgroup-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 40px;

      h3 {
        margin-bottom: 0
      }

      a {
        padding-bottom: 8px;
      }
    }

    .text-link {
      transition: color 0.2s;
      text-transform: uppercase;
      color: #2880ff;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.08em;
      display: flex;
      align-items: center;
      padding-left: 40px;

      svg {
        transition: transform 0.2s;
        width: 15px;
        height: 16px;
        position: relative;
        top: -1px;
        fill: #2880ff;
        margin: 0;
      }

      &:hover {
        color: lighten(#2880ff, 5%);
      }

      &:hover svg {
        transform: translateX(2px);
      }
    }

    .two-tone {
      color: #828e9e;

      b {
        color: #15191e;
      }
    }

    p {
      font-size: 18px;
      line-height: 32px;
    }

    p.lead {
      font-size: 22px;
      line-height: 36px;
      letter-spacing: -0.03em;
      margin-top: 22px;
    }

    p.sm {
      font-size: 16px;
      line-height: 28px;
    }

    .row {
      display: flex;
      justify-content: space-between;

      &:before,
      &:after {
        display: none;
      }
    }

    .row .col {
      padding-left: 15px;
      padding-right: 35px;
    }

    &--align-right {
      hgroup {
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }

    @media (max-width: $screen-sm-max) {
      padding-top: 100px;
      padding-bottom: 74px;

      &.overview {
        padding-top: 80px;
      }

      .row {
        flex-direction: column;
      }

      .row .col + .col {
        margin-top: 20px;
      }

      .text-link {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    @media (max-width: $screen-sm-min) {
      padding-top: 65px;

      & + .section__content {
        padding-top: 10px;
      }

      h2 {
        font-size: 36px;
      }

      .form h2 {
        max-width: 340px;
        margin-left: auto;
        margin-right: auto;
      }

      h3 {
        font-size: 28px;
        line-height: 40px;
        margin-top: 8px;
        margin-bottom: 30px;
      }

      &:not(.overview) hgroup {
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      h4 {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 6px;
      }

      p {
        font-size: 16px;
        line-height: 28px;
      }

      p.lead {
        font-size: 20px;
        line-height: 32px;
      }

      .hgroup-header {
        margin-bottom: 40px;

        h3 {
          margin-top: 20px;
        }
      }

      .text-link {
        padding-top: 11px;
      }
    }

    @media (max-width: 420px) {
      .hgroup-header {
        flex-direction: column;
        align-items: flex-start;
      }
      .text-link {
        position: static;
        padding: 20px 0 0;
      }
    }
  }

  .framework-section,
  .pro-section,
  .support-section {
    position: relative;

    &:after {
      transition: opacity 1s, transform 1s;
      display: block;
      content: '';
      background-repeat: none;
      position: absolute;
      z-index: -1;
      background-size: contain;
      top: 50%;
      transform-origin: center top;
      transform: translateY(-52%);
      opacity: 0;
    }

    &.animate-bg-in:after {
      transform: translateY(-50%);
      opacity: 1;
    }
  }

  .framework-section:after {
    background-image: url('/img/enterprise/framework-bg.jpg');
    width: 480px;
    height: 749px;
    right: 80px;
  }

  .pro-section:after {
    background-image: url('/img/enterprise/pro-bg.jpg');
    width: 1274px;
    height: 844px;
    left: -80px;
  }

  .support-section:after {
    background-image: url('/img/enterprise/support-bg.jpg');
    width: 564px;
    height: 690px;
    right: 80px;
  }

  @media (max-width: $screen-sm-max) {
    .framework-section:after {
      top: 0;
      transform: translateY(0);
      right: 0px;
    }

    .pro-section:after {
      top: 50px;
      transform: translateY(0);
      left: -120px;
    }

    .support-section:after {
      top: 0;
      transform: translateY(0);
      right: -70px;
    }
  }

  @media (max-width: $screen-sm-min) {
    .framework-section:after,
    .pro-section:after,
    .support-section:after {
      display: none;
    }
  }

  .form {
    padding-top: 60px;
    max-width: 960px;
    margin: 0 auto;

    h2 {
      text-align: center;
      margin-bottom: 60px;
    }
  }

  .get-started {
    background: #f5f7fc;
    overflow: auto;

    .container {
      align-items: center;
      display: flex;
      margin-bottom: 110px;
      margin-top: 110px;
    }

    hgroup {
      letter-spacing: -.025em;
      flex-grow: 1;
    }

    h2 {
      color: #24282e;
      font-size: 28px;
      font-weight: 700;
      letter-spacing: inherit;
      margin: 0 0 5px;
    }

    p {
      color: #4f5864;
      font-size: 20px;
      font-weight: 600;
      margin: 0;
    }

    .btn {
      font-size: 16px;
      font-weight: 700;
      padding: 15px 18px 12px;
    }

    @media (max-width: $screen-sm-max)  {
      .form {
        padding-top: 24px;
      }
      .container {
        display: block;
        text-align: center
      }
      h2 {
        margin-bottom: 10px;
      }

      hgroup {
        padding-bottom: 16px;
      }

      .btn-group {
        padding-bottom: 96px;
      }
    }
  }
}
