.ee-hero {
  max-width: 640px;
  padding: 130px 0 80px;

  &::before,
  &::after {
    display: none;
  }

  h1 {
    font-size: 62px;
    line-height: 69px;
    max-width: 930px;
    letter-spacing: -0.03em;

    color: #020814;
    margin-top: 0;
    margin-bottom: 16px;
  }

  h4 {
    font-family: $font-family-monospace;
    font-weight: bold;
    font-size: 13px;
    line-height: 26px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #92A1B3;
    margin-bottom: 29px;
  }

  p {
    font-family: $font-family-eina;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.04em;
    color: rgba(#27323F, .8);
  }

  .btn {
    font-size: 16px;
    margin-top: 16px;
    line-height: normal;
    letter-spacing: 0.08em;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    background: #3880FF;
    box-shadow: 0px 2px 4px rgba(2, 8, 20, 0.1), 0px 1px 2px rgba(2, 8, 20, 0.08);
    border-radius: 210px;
    min-width: 200px;

    &::after {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 512 512"><path d="M85 277.375h259.704L225.002 397.077 256 427l171-171L256 85l-29.922 29.924 118.626 119.701H85v42.75z"/></svg>');
      background-size: 100%;
      content: '';
      height: 20px;
      width: 20px;
      float: right;
      display: block;
    }
  }

  &--secondary {
    h1 {
      font-size: 52px;
      line-height: 62px;
    }
  }

  &--wide {
    max-width: 960px;
  }

  &--centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

main {
  margin-top: 128px;

  section {
    margin-bottom: 200px;
  }

  .left,
  .right,
  .center {
    display: flex;

    &::before,
    &::after {
      display: none;
    }
  }

  .left,
  .right {
    .content {
      max-width: 480px;

      @media (max-width: $screen-xs-max) {
        max-width: 100%;
        text-align: center;
      }
    }
  }

  .left {
    flex-direction: row;

    .graphics {
      margin-left: auto;
    }
  }

  .right {
    flex-direction: row-reverse;
    margin-left: auto;

    .graphics {
      margin-right: auto;
    }
  }

  .center {
    flex-direction: column;
    align-items: center;
    text-align: center;

    .content {
      width: 800px;
      max-width: 100%;
    }
  }

  .full {
    .content {
      max-width: 568px;
    }
  }


  @media (max-width: $screen-xs-max) {
    .right,
    .left {
      flex-direction: column-reverse;

      .graphics {
        margin-bottom: 24px;
      }
    }

    section {
      margin-bottom: 100px;
    }
  }

  .graphics {
    justify-content: flex-end;

    img {
      width: 100%;
    }
  }

  h2 {
    font-size: 44px;
    line-height: 51px;
    letter-spacing: -0.03em;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    font-size: 20px;
    line-height: 31px;
    letter-spacing: -0.02em;
    color: #5B708B;
    margin-bottom: 54px;
  }

  .content {
    li {
      font-size: 16px;
      line-height: 23px;
      letter-spacing: -0.02em;
      color: #1A232F;
      margin-bottom: 40px;
      padding-left: 30px;
      list-style: none;
      position: relative;

      &::before {
        background-image: url('/img/enterprise/check.svg');
        background-size: 100%;
        content: '';
        height: 10px;
        width: 13px;
        position: absolute;
        left: 0;
        top: 8px;
      }
    }
  }

  .features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 64px;
    grid-row-gap: 10px;
    padding: 0;

    li {
      list-style: none;
    }

    .icon {
      margin-bottom: 24px;
      width: 48px;
    }

    @media (max-width: $screen-sm-max) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }
}

.cards--red-v-blue {
  display: flex;
  text-align: left;
  justify-content: center;
  margin-top: 38px;

  &__card {
    background: #7CABFF;
    border-radius: 8px;
    padding: 40px 40px 34px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 24px;
    flex: 0 1 460px;
    border-radius: 8px;

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(2) {
      background: #F88D8D;

      .btn {
        background: rgba(#F45454, .5);
      }
    }
  }

  h3 {
    font-size: 24px;
    line-height: normal;
    letter-spacing: -0.02em;
    color: white;
    margin-top: 0;
  }

  p {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: rgba(white, .7);
  }

  .btn {
    margin-top: auto;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    padding: 10px 14px;
    font-weight: 600;
    border-radius: 8px;
    background: rgba(#3880FF, .5);

    ion-icon {
      display: inline-block;
      height: 14px;
      width: 14px;
      vertical-align: -2px;
    }
  }

  @media (max-width: $screen-xs-max) {
    flex-direction: column;

    .card {
      flex: auto;
      margin-right: 0;
      margin-top: 20px;
    }
  }
}

aside {
  background: #F6F8FB;
  padding-top: 114px;
  padding-bottom: 120px;

  p {
    color: #414D5C;
  }

  .content {
    max-width: 432px;
    margin: 0 auto;
    text-align: center;
    display: block;
  }
}

.ee-get-started {
  max-width: 700px;

  h3 {
    color: #414D5C;
  }
}

@import '../../components/resources_read_more';

.resources {
  .cards {
    text-align: left;

    li {
      p {
        font-size: 16px;
        line-height: 29px;
        letter-spacing: -0.01em;
        color: #73849A;
      }
    }

    .img-wrapper {
      border-radius: 6px;

      + h4 {
        margin-top: 24px;
      }
    }

    // a little extra spacing between cards on the largest width
    @media (min-width: $screen-lg-min) {
      margin-left: -40px;
      margin-right: -40px;

      li {
        padding: 40px;
      }
    }
  }

  img {
    max-width: 100%;
  }
}
