.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    display: none;
  }

  h1 {
    font-size: 62px;
    line-height: 69px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #020814;
    max-width: 632px;
    margin-bottom: 28px;
  }

  p {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.04em;
    color: rgba(#27323F, .8);
    max-width: 458px;
  }

  .btn {
    font-size: 16px;
    margin-top: 36px;
    line-height: normal;
    letter-spacing: 0.08em;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    background: #3880FF;
    box-shadow: 0px 2px 4px rgba(2, 8, 20, 0.1), 0px 1px 2px rgba(2, 8, 20, 0.08);
    border-radius: 210px;
    min-width: 200px;

    &::after {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 512 512"><path d="M85 277.375h259.704L225.002 397.077 256 427l171-171L256 85l-29.922 29.924 118.626 119.701H85v42.75z"/></svg>');
      background-size: 100%;
      content: '';
      height: 20px;
      width: 20px;
      float: right;
      display: block;
    }
  }
}

main {
  margin-top: 128px;

  section {
    margin-bottom: 200px;
  }
  
  .left,
  .right,
  .center {
    display: flex;

    &::before,
    &::after {
      display: none;
    }
  }

  .left,
  .right {
    .content {
      max-width: 480px;
    }
  }

  .left {
    flex-direction: row;
  }

  .right {
    flex-direction: row-reverse;
    margin-left: auto;
  }

  .center {
    flex-direction: column;
    align-items: center;
    text-align: center;

    .content {
      width: 800px;
    }
  }

  .full {
    .content {
      max-width: 568px;
    }
  }

  .graphics {
    justify-content: flex-end;
  }

  h2 {
    font-size: 44px;
    line-height: 51px;
    letter-spacing: -0.03em;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    font-size: 20px;
    line-height: 31px;
    letter-spacing: -0.02em;
    color: #5B708B;
    margin-bottom: 54px;
  }

  .features {
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-column-gap: 64px;
    grid-row-gap: 10px;
    padding: 0;

    li {
      list-style: none;
      min-width: 320px;
    }

    .icon {
      margin-bottom: 24px;
      width: 48px;
    }
  }
}