@import '../../vars';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/variables';

@import './shared';
@import './solutions/shared';

img {
  height: auto;
}

@keyframes spin-in {
  0% {
    transform: 
      scale3d(.9, .9, 1)
      rotate(-10deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale3d(1, 1, 1) rotate(0deg);
    opacity: 1;
  }
}

#page-auth-connect {
  ionic-sub-header .btn {
    background: #00CEAB;
  }

  .top {
    .btn {
      margin-top: 26px;
    }
  }
}

#header-video {
  position: absolute;
  right: 96px;
  top: 250px;
  text-align: center;

  .video-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px 16px 32px rgba(2, 8, 20, 0.08), 0px 8px 16px rgba(2, 8, 20, 0.08);
    border-radius: 16px;

    svg {
      display: block;
    }

    .video-blur {
      border-radius: 16px;
      backdrop-filter: blur(20px);
    }
    .video-circles {
      position: absolute;
    }
    .video-play {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover .video-play-btn, &:focus .video-play-btn, &:active .video-play-btn, &:focus-within .video-play-btn {
        transition: transform .25s ease, filter .25 ease;
        transform: translateX(4px) scale(1.05);
        filter: drop-shadow(0 7px 14px rgba(0, 0, 0, 0.12)) drop-shadow(0 3px 6px rgba(0, 0, 0, 0.08));
        path {
          transition: fill .25s ease;
          fill: #00e8c0;
        }        
      }
      &:focus {
        outline: none;
      }

      .video-play-circle {
        filter: drop-shadow(0px 8px 16px rgba(2, 8, 20, 0.12));        
      }
      .video-play-btn {
        filter: drop-shadow(0 7px 14px rgba(0, 0, 0, 0)) drop-shadow(0 3px 6px rgba(0, 0, 0, 0));
        position: absolute;
        transition: transform .25s ease;
        transform: translateX(4px);

        path {
          transition: fill .25s ease;
        }
      }
    }  
    &.play {
    }  
  }
  .video {
    position: absolute;
    z-index: 1;
    top: 0;
    // border: 1px solid rgba(0, 206, 171, .2);
    border-radius: 16px;
    opacity: 0;
    display: none;

    iframe {
      border-radius: 16px;
      display: block;
    }

    &.play {
      
      @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
      }
      display:block;
      animation: fadeIn .5s ease-in;
      animation-fill-mode: forwards;
    }
  }
  .video-desc {
    margin-top: 12px;
    font-family: $font-family-monospace;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .16em;
    font-size: 12px;
    color: #445B78;
  }
}

.cta h3 {
  color: #00CEAB;
}

#promo--how-to {
  padding-top: 0;

  &::before {
    display: none;
  }

  .content {
    margin-top: 0;
    margin-bottom: 0;
  }
}

#sticky-bar {
  li.active a:not(.btn) {
    color: $green;
  }

  @media (max-width: $screen-sm-max) {
    a {
      letter-spacing: 0;
    }
  }
}

#powerful-api {
  .graphics {
    max-width: 568px;

    @media (max-width: $screen-sm-max) {
      max-width: 100%;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

#promo--how-to {
  h2 {
    text-align: center;
  }
}