@import '../../vars';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/variables';

@import './shared';
@import './solutions/shared';
html {
  height: auto;
}
body {
  // overflow: hidden;
}

@keyframes spin-in {
  0% {
    transform: 
      scale3d(.9, .9, 1)
      rotate(-10deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale3d(1, 1, 1) rotate(0deg);
    opacity: 1;
  }
}

#page-auth-connect {
  ionic-sub-header .btn {
    background: #00CEAB;
  }

  .top {
    position: relative;
    .btn {
      margin-top: 26px;
    }
  }
}

// .dummy-container {
//   margin-block-start: -120px;
// }

#dummy-element {
  width: 100%;
  height: 240px;
  display: none;
  position: relative;
  margin-block-end: 94px;
  z-index: -1;
  @media screen and (max-width: $screen-sm-max) {
    display: inline-block;
  }
}

.cta {
  clear: left;
  h3 {
    color: #00CEAB;
  }
}

#promo--how-to {
  padding-top: 0;

  &::before {
    display: none;
  }

  .content {
    margin-top: 0;
    margin-bottom: 0;
  }
}

#sticky-bar {
  li.active a:not(.btn) {
    color: $green;
  }

  @media (max-width: $screen-sm-max) {
    a {
      letter-spacing: 0;
    }
  }
}

#powerful-api {
  .graphics {
    max-width: 568px;

    @media (max-width: $screen-sm-max) {
      max-width: 100%;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

#promo--how-to {
  h2 {
    text-align: center;
  }
}