@import '../../vars';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import 'shared';

img {
  height: auto;
}


.ee-hero {
  max-width: 714px;
  padding-bottom: 62px;
  h1 {
    font-size: 64px;
    font-weight:bold;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #010610;
  }
  p, a {
    font-size: 24px;
    line-height: 160%;
    letter-spacing: -0.04em;
    opacity: 0.9;
  }
  p {
    color: #414D5C;
    margin: 0px;
    font-weight: 500;
  }
  a{
    color: #3880FF;
    font-weight: 300;
  }
}
#good-company {
  h2 {
    color: #020814;
    font-weight: 600;
    margin-bottom: 24px;
  }

  p {
    font-size: 20px;
    line-height: 160%;
    letter-spacing: -0.03em;
    color: #414D5C;
  }
}
.ee-main {
  h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 112%;
    letter-spacing: -0.04em;
    color: #020814;
  }
  .left .spacer {
    flex-grow:1;
    max-width: 32px;
  }
  .right .spacer {

  }
  .left,
  .right {
    .content {
      max-width: 420px;
    }
    .graphics {
      margin: 0;
    }
  }

  .cards li h4 {
    color: #010610;
  }
  .cards li p {
    line-height: 180%;
    color: #616E7E;
  }
  .left,
  .right {
    align-items: center;

    .graphics {
      width: calc(100% - 520px);
      max-width: 560px;

      img {
        max-width: 100%;
      }

      @media (max-width: $screen-xs-max) {
        width: 320px;
        max-width: 100%;
      }
    }
  }

  section:first-child {
    padding-bottom: 0;
  }

  .ee-section-wrapper{
  
    section {
      justify-content:center;
      padding-top: 120px;
      padding-bottom: 120px;

      h2 {
        margin-bottom: 24px;
      }
    }

    aside {
      padding-top: 150px;
      background: none;
      padding-bottom: 0px;
    }
  }
  p {
    line-height: 165.6%;
    &.sm {
      color: #73849A;
    }
  }
}

#companies {
  list-style: none;
  padding: 0;
  position: relative;
  height: 440px;
  margin-bottom: 326px;

  @media (max-width: $screen-xs-max) {
    left: -50px;
  }

  li {
    position: absolute;
    top: 0;
    left: 0;
    animation: fadeInUp 1s ease-out forwards;
    opacity: 0;

    &:nth-child(1) {
      left: 40%;
      animation-delay: .8s;
    }

    &:nth-child(2) {
      left: 74%;
      animation-delay: .9s;
    }

    &:nth-child(3) {
      left: 96%;
      top: 48%;
      animation-delay: 1s;
    }

    &:nth-child(4) {
      left: 5.5%;
      top: 2.5%;
      animation-delay: 1.1s;
    }

    &:nth-child(5) {
      left: 55.5%;
      top: 39.5%;
      animation-delay: 1.2s;
    }

    &:nth-child(6) {
      left: 46%;
      top: 97%;
      animation-delay: 1.3s;
    }

    &:nth-child(7) {
      left: 76%;
      top: 78%;
      animation-delay: 1.4s;
    }

    &:nth-child(8) {
      left: 10%;
      top: 86.5%;
      animation-delay: 1.5s;
    }

    &:nth-child(9) {
      left: 25%;
      top: 43%;
      animation-delay: 1.6s;
    }

    &:nth-child(10) {
      left: -10.5%;
      top: 47.5%;
      animation-delay: 1.7s;
    }
  }
}

.resources hgroup {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 32px;

  p {
    max-width: 600px;
  }
}

#good-company {
  
  h2 {
    color: #020814;
    font-size: 48px;
    letter-spacing: -.03em;
  }

  p {
    max-width: 512px;
    margin: 0 auto;
  }
}

#comp86400 {
  .logo {
    width: 137px;
    height: 32px;
  }

  .graphics {
    img {
      width: 546px;
    }
  }
}

#sworkit {
  .logo {
    width: 200px;
    height: 34px;
  }

  .graphics {
    img {
      width: 560px;
    }
  }
}

#instant-pot {
  .logo {
    width: 193px;
    height: 36px;
  }

  .graphics {
    img {
      width: 546px;
    }
  }
}

#shipt {
  .logo {
    width: 148px;
    height: 50px;
  }

  .graphics {
    img {
      width: 546px;
    }
  }
}

#untappd {
  .logo {
    width: 192px;
    height: 32px;
  }

  .graphics {
    img {
      width: 560px;
    }
  }
}

