@import '../../vars';
@import '../../bootstrap/variables';
@import 'shared';

.ee-hero p {
  max-width: 458px;
}

#difference {
  display: flex;
  padding-top: 60px;
  padding-bottom: 69px;
  margin-top: 20px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  .container {
    position: relative;

    &::before {
      background: url('/img/enterprise/ionic-enterprise-development-ebook.png') 0 0 no-repeat;
      background-size: 100%;
      width: 424px;
      height: 310px;
      content: '';
      position: absolute;
      bottom: -69px;
      left: 52px;
    }
  }

  hgroup {
    max-width: 550px;
    margin-right: 50px;
    margin-left: auto;
  }

  h5 {
    font-size: 18px;
    margin-bottom: 11px;
    color: #1f3256;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
    letter-spacing: -.01em;
    color: #6c81a6;
  }

  .btn {
    padding: 12px 13px 10px;
    font-size: 14px;
    background-color: #668bff;
  }

  @media (max-width: $screen-md-max) {
    .container::before {
      left: 0;
    }

    hgroup {
      max-width: 500px;
    }
  }

  @media (max-width: $screen-sm-max) {
    hgroup {
      margin: 0 auto;
      max-width: 100%;
    }

    .container::before {
      width: 212px;
      height: 155px;
      right: 0;
      left: auto;
    }
  }

  @media (max-width: 370px) {
    .container::before {
      display: none;
    }
  }
}

#best-way h2 {
  max-width: 320px;
}

#best-way .graphics {
  width: 640px;
  min-height: 532px;
  margin-left: auto;

  img {
    width: 945px;
  }

  @media (max-width: $screen-sm-max) {
    width: calc(100% - 300px);
  }

  @media (max-width: $screen-xs-max) {
    width: 100%;
  }
}

#friendly .graphics {
  width: 560px;
  margin-right: auto;

  img {
    max-width: 560px;
  }

  @media (max-width: $screen-md-max) {
    width: calc(100% - 300px);

    img {
      max-width: calc(100% - 20px);
    }
  }

  @media (max-width: $screen-md-max) {
    width: 373px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    img {
      max-width: 100%;
    }
  }
}

#supercharged {
  figure {
    width: 100%;
    max-width: 800px;
  }

  figcaption {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: -0.01em;
    color: #73849A;
  }

  ul {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 16px;
    flex-wrap: wrap;

    @media (max-width: $screen-md-max) {
      justify-content: space-around;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      border: 2px solid #E3EDFF;
      border-top: none;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      height: 9px;
    }
  }

  li {
    list-style: none;
    display: inline-block;

    font-family: $font-family-monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 50px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #5B708B;
  }

  .icon {
    background: #F0F6FF;
    border-radius: 50%;
    height: 172px;
    width: 172px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 11px;

    img {
      margin: 0 auto;
    }
  }

  caption {
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #73849A;
  }
}
