@import '../../vars';
@import '../../bootstrap/variables';
@import 'shared';

#page-enterprise {
  // #sub-header .btn {
  //   color: #1A232F;
  //   background-color: #FF9982;
  //   font-weight: bold;
  //   line-height: normal;
  //   font-size: 11px;
  //   text-align: center;
  //   letter-spacing: 0.08em;
  //   text-transform: uppercase;
  //   padding-left: 15px;
  //   padding-right: 15px;

  //   &:hover {
  //     background-color: lighten(#FF9982, 8%);
  //   }
  // }

  h3,
  h2,
  p.large {
    letter-spacing: -0.01em;
  }

  p {
    font-weight: 400;

    &:not(.large) {
      font-family: $font-family-inter;
    }
  }

  main {
    overflow: visible;
  }

  section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .top {
    margin-top: -218px;
    padding-top: 286px;
    padding-bottom: 143px;
    background: #F8FAFD;
    position: relative;
    z-index: 0;
    background-image: url('/img/products/enterprise-engine/enterprise-edition-hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

    hgroup {
      position: relative;
      max-width: 520px;

      h4 {
        line-height: 25px;
        font-size: 12px;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        color: #92A1B3;
        font-family: $font-family-monospace;
        margin-bottom: 0;
      }

      h1 {
        line-height: 64px;
        font-size: 64px;
        letter-spacing: -0.03em;
        color: #020814;
        margin-top: 32px;
      }

      p {
        font-family: $font-family-inter;
        font-size: 24px;
        color: #414D5C;
        line-height: 38px;
        margin: 0;
        letter-spacing: -0.04em;
      }

      .btn {
        margin-top: 20px;
        color: #fff;
        background: #3880FF;
        box-shadow: 
          0px 2px 4px rgba(2, 8, 20, 0.1), 
          0px 1px 2px rgba(2, 8, 20, 0.08);
        border-radius: 10px;
        font-weight: 700;
        font-size: 15px;
        line-height: 1em;
        letter-spacing: 0.08em;
        padding: 13px 18px 14px;

        &:hover {
          background-color: lighten(#3880FF, 2%);
        }

        ion-icon {
          font-size: 1.3em;
          vertical-align: -25%;
        }
      }

      @media (max-width: $screen-xs) {
        h1 {
          font-size: 40px;
          line-height: 44px;
        }

        p {
          line-height: 30px;
          font-size: 20px;
        }
      }
    }

    @media (max-width: $screen-sm) {
      padding-top: 264px;
      padding-bottom: 78px;
    }
  }

  main {
    section {
      padding-top: 100px;
      padding-bottom: 140px;
    }

    section.divider {
      border-top: 1px solid #E9EDF3;
      padding-top: 140px;
    }

    .container {
      position: relative;
    }

    .two-col {
      display: flex;
      justify-content: space-between;

      & > * {
        flex: 0 0 50%;
      }
    }

    .measure {
      max-width: 558px;
    }

    h3 {
      color: #92A1B3;
      font-size: 12px;
      line-height: 1;
      margin-top: 0;
      font-weight: 600;
      margin-bottom: 36px;
      letter-spacing: 0.14em;
      text-transform: uppercase;
      font-family: $font-family-monospace;
    }

    h2 {
      color: #020814;
      line-height: 48px;
      font-size: 40px;
      margin-top: 0;
      margin-bottom: 9px;
      font-weight: 600;
      letter-spacing: -0.04em;
    }

    h3.large {
      font-size: 32px;
      color: #1A232F;
      letter-spacing: -0.03em;
      margin-bottom: 38px;
    }

    p.large,
    hgroup p {
      font-family: $font-family-inter;
      line-height: 32px;
      font-size: 20px;
      letter-spacing: -0.03em;
      color: #4E5B6A;

      em {
        font-style: normal;
        color: #2F3A48;
      }
    }

    .checkmark-list {

      &--large {
        max-width: none;
      }

      li {
        letter-spacing: -0.02em;
        line-height: 24px;
      }

      i {
        background: #E7F4FF;

        ion-icon {
          color: $blue;
        }
      }

      a {
        color: #020814;
      }
    }

    .contact-sales {
      font-size: 16px;
      letter-spacing: -.03em;
      margin-top: 9px;
      display: inline-block;
      
      ion-icon {
        font-size: 16px;
        vertical-align: -3px;
      }
    }

    @media (max-width: $screen-md) {
      h2 {
        line-height: 52px;
        font-size: 48px;
      }
    }

    @media (max-width: $screen-sm) {
      section {
        padding-top: 80px;
        padding-bottom: 80px;
      }

      h3,
      h2,
      p.large {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
      }

      h3 {
        margin-bottom: 16px;
      }

      h3.large {
        font-size: 28px;
        line-height: 34px;
      }

      h2 {
        line-height: 48px;
        font-size: 42px;
        max-width: 100% !important;
        margin-bottom: 16px;
      }

      .two-col {
        flex-direction: column;
        & > * {
          flex: 0 0 100%;
        }
      }
    }

    @media (max-width: $screen-xs) {
      h3.large {
        font-size: 24px;
        line-height: 30px;
      }
    }

  }

  #overview {
    margin-top: 90px;
    margin-bottom: 70px;

    h3 {
      line-height: 40px;
      font-size: 28px;
      letter-spacing: -0.02em;
      color: #616E7E;

      em {
        font-style: normal;
        color: #020814;
      }
    }

    .content img {
      width: 100%;
      height: auto;
      margin-top: 60px;
      max-width: 344px;
      
      + img {
        margin-top: 36px;
      }
    }

    .two-col > div:first-child {
      flex: 0 1 400px;
      padding-right: 12px;
      padding-top: 18px;
    }

    .two-col > div:last-child {
      flex: 0 1 614px;
      margin-right: 4px;
    }

    @media (max-width: $screen-md) {
      .two-col {
        flex-direction: column;
  
        & > div {
          max-width: 624px;
          margin-left: auto;
          margin-right: auto;
        }
  
        & > div:first-child {
          flex: 0 0 100%;
          padding-right: 0px;
          text-align: left;

          img {
            margin-left: auto;
            margin-right: auto;
            display: block;
          }
        }
  
        & > div:last-child {
          margin-top: 40px;
          flex: 0 0 100%;
        }
      }

      .contact-sales {
        display: block;
      }
    }
  }

  .chart {

    h5 {
      text-align: center;
      font-family: $font-family-monospace;
      color: #92A1B3;
      line-height: 25px;
      font-size: 12px;
      text-align: center;
      letter-spacing: 0.14em;
      text-transform: uppercase;
      position: relative;

      span {
        z-index: 2;
        position: relative;
        background: #fff;
        padding: 0 12px;
        display: inline-block;
      }

      &:before {
        width: 100%;
        height: 12px;
        display: block;
        content: '';
        border-top: 1px solid #DCE3EF;
        border-left: 1px solid #DCE3EF;
        border-right: 1px solid #DCE3EF;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
      }
    }

    h6 {
      font-weight: 600;
      margin-top: 0px;
      margin-bottom: 16px;
      font-size: 14px;
      color: #193B5E;
      text-align: center;
      letter-spacing: 0;
    }

    .checkmark-list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: -8px;

      li {
        flex: 0 0 33%;
        margin-bottom: 8px;
      }
    }

    @media (max-width: $screen-lg) {
      .checkmark-list li {
        flex: 0 0 50%;
      }
    }

    @media (max-width: $screen-lg) {
      h5 {
        font-size: 11px;
      }
    }


    @media (max-width: $screen-xs) {
      max-width: 100% !important;
    }
  }

  .chart__box {
    padding: 21px 23px 12px;
    background: #EFF2F7;
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 32px;
  }

  .chart__card-list {
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;

    @media (max-width: $screen-xs) {
      flex-direction: column;
    }
  }

  .chart__card-list--trio li {
    flex-direction: column;

    img {
      margin: 0 auto 12px;
    }
  }

  .chart__card-list--duo {
    .chart__card {
      padding-bottom: 28px;
    }

    img {
      display: inline-block;
      margin-right: 10px;
    }
  }

  .chart__card {
    flex: 1;
    min-height: 96px;
    margin: 12px 8px;
    padding: 37px 22px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #FFFFFF;
    // box-shadow: 0px 4px 8px rgba(2, 8, 20, 0.06), 0px 1px 2px rgba(2, 8, 20, 0.08);
    border-radius: 8px;
    color: #020814;
    font-weight: 600;
    line-height: 17px;
    font-size: 14px;
    font-family: $font-family-eina;

    @media (max-width: $screen-xs) {
      min-height: 0;
    }
  }

  .platform-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0 -6px;

    li {
      font-weight: 500;
      line-height: normal;
      font-size: 9px;
      text-align: center;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      padding: 15px;
      background: white;
      border-radius: 8px;
      color: #020814;
      flex: 1;
      margin-right: 10px;
      margin-left: 10px;
    }

    .platform {
      display: flex;
      flex-direction: column;
      align-items: center;

      &::before {
        display: inline-block;
        content: '';
        height: 32px;
        width: 32px;
        background-image: url('/img/products/enterprise-engine/enterprise-engine-platform-sprite.png');
        background-repeat: no-repeat;
        background-size: 32px 160px;
        margin-bottom: 3px;
      }

      &--ios::before {
        background-position: 0 0;
      }

      &--android::before {
        background-position: 0 -32px;
      }

      &--electron::before {
        background-position: 0 -64px;
      }

      &--pwa::before {
        background-position: 0 -96px;
      }

      &--browser::before {
        background-position: 0 -128px;
      }

    }

    @media (max-width: $screen-xs) {
      flex-wrap: wrap;

      .platform {
        margin-bottom: 16px;
      }
    }
  }

  .checkmark-list {
    letter-spacing: -0.02em;

    &--large {
      margin-top: 60px;
    }
  }

  #cross-platform-sdk {
    margin-top: 264px;
    margin-bottom: 130px;

    .container {
      &::before,
      &::after {
        display: none;
      }
    }

    hgroup {
      max-width: 486px;
    }

    p {
      max-width: 474px;
      letter-spacing: -0.02em;
    }

    @media (max-width: $screen-sm) {
      margin-top: 64px;
      margin-bottom: 64px;

      .graphics--framework {
        display: none;
      }
    }
  }

  .graphics--framework {
    // position: absolute;
    position: relative;
    top: 0;
    right: -40px;
    height: 500px;
    z-index: 0;

    &.active {
      &::before,
      &::after {
        animation: fadeInUp 1s .8s ease forwards;
      }

      &::after { animation-delay: .4s; }
      .shadow {
        animation: fadeIn 2s .2s ease forwards;
      }
    }

    &::before,
    &::after,
    .shadow {
      position: absolute;
      content: '';
      opacity: 0;

      background: url('/img/enterprise/framework-device-android.png') 0 0 no-repeat;
      background-size: 100%;
      top: 19px;
      right: 107px;
      width: 418px;
      height: 555px;
    }

    &::after {
      background-image: url('/img/enterprise/framework-device-iphone.png');
      background-size: 100%;
      width: 420px;
      height: 678px;
      top: -48px;
      right: 45px;
    }

    .shadow {
      background-image: url('/img/enterprise/framework-devices-shadow.png');
      background-size: 100%;
      width: 1056px;
      height: 178px;
      top: 516px;
      right: -116px;
    }

    @media (max-width: $screen-lg) {
      transform: scale(0.75, 0.75);
      top: -60px;
      right: -80px;
    }

    @media (max-width: $screen-md) {
      transform: scale(0.6, 0.6);
      right: -100px;
    }

    @media (max-width: $screen-sm) {
      height: 440px;
      transform: scale(0.4, 0.4);
      right: -40px;
      top: -90px;
    }

  }

  @media (max-width: $screen-sm) {
    #front-end-framework {
      padding-top: 0;

      .two-col {
        flex-direction: column-reverse;
      }

        .checkmark-list {
          margin-left: auto;
          margin-right: auto;
        }
    }
  }

  #native-plugins {
    hgroup.two-col {
      margin-bottom: 66px;
    }

    hgroup h2 {
      max-width: 500px;
    }

    .large {
      margin-top: -8px;
    }

    @media (max-width: $screen-sm) {
      hgroup.two-col {
        margin-bottom: 60px;
      }

      .two-col {
        flex-direction: column;
      }

      hgroup h2 {
        max-width: 100%;
      }
    }
  }

  .feature-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -44px;
    margin-right: -44px;

    li {
     flex: 0 0 33.2%;
     padding: 44px 44px 10px;
    }

    h4 {
      font-size: 20px;
      line-height: 1.4;
      letter-spacing: -0.027em;
      color: #2F3A48;
      font-weight: 600;
      margin-bottom: 10px;
      padding-right: 28px;
    }

     p {
      font-size: 16px;
      line-height: 29px;
      letter-spacing: -0.01em;
      color: #5B708B;
     }


     &--large {
       flex-direction: column;
       margin: 0;

       li {
         display: flex;
         flex: none;
         padding: 0;
       }

       li + li {
         margin-top: 24px;
       }

       h4 {
         margin-top: 0;
       }

       p {
         line-height: 29px;
         font-size: 16px;
         letter-spacing: -0.02em;
         color: #5B708B;
       }

       i {
         margin-right: 24px;
         margin-bottom: 18px;
       }
     }

     @media (max-width: $screen-md) {
       margin-right: -16px;
       margin-left: -16px;

       li {
         flex: 0 0 33%;
         padding-left: 16px;
         padding-right: 16px;
       }

        &--large li {
          flex: none;
        }
     }
     @media (max-width: $screen-sm) {

       li {
         flex: 0 0 50%;
       }
     }
     @media (max-width: $screen-xs) {
       li {
         flex: 0 0 100%;
       }

       li,
       li hgroup {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         text-align: left;
       }

       &--large i {
         margin-right: 0;
       }

      h4 {
         padding-right: 0;
       }
     }
  }

  .feature-icon {
    &::before {
      display: block;
      content: '';
      height: 56px;
      width: 56px;
      background-image: url('/img/enterprise/sprite-native-features.png');
      background-repeat: no-repeat;
      background-size: 100%;
      margin-bottom: 19px;
    }

    &--plugins::before {
      background-position: 0 0;
    }

    &--sla::before {
      background-position: 0 -56px;
    }

    &--release-schedule::before {
      background-position: 0 -112px;
    }

    &--security::before {
      background-position: 0 -168px;
    }

    &--issues::before {
      background-position: 0 -224px;
    }

    &--guaranteed::before {
      background-position: 0 -280px;
    }
  }

  .feature-list--large .feature-icon {
    &::before {
      height: 56px;
      width: 56px;
      background-image: url('/img/enterprise/sprite-services.png');
      background-size: 100%;
      margin-bottom: 0;
    }

    &--services::before {
      background-position: 0 0;
    }

    &--training::before {
      background-position: 0 -56px;
    }

    &--slack::before {
      background-position: 0 -112px;
    }

    &--reviews::before {
      background-position: 0 -168px;
    }
  }

  #powerful-developer-tools {
    padding-top: 108px;
    padding-bottom: 187px;

    .two-col {
      align-items: flex-end;

      &.two-col--basic {
        align-items: center;
      }
    }

    .checkmark-list {
      margin-bottom: 34px;
    }

    hgroup {
      max-width: 500px;
      padding-right: 20px;
    }

    @media (max-width: $screen-md) {
      padding-bottom: 100px;

      .two-col {
        flex-direction: column;
        align-items: stretch;

        &.two-col--left {
          flex-direction: column-reverse;
        }
      }

      hgroup {
        max-width: 100%;
      }
    }
  }

  .two-col--basic {
    margin-top: 90px;

    + .two-col--basic {
      margin-top: 72px;
    }

    .content {
      max-width: 388px;
    }

    h4 {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #27323F;
    }

    p {
      font-size: 16px;
      line-height: 29px;
      letter-spacing: -0.01em;
      color: #5B708B;
    }

    &.two-col--right {
      img {
        margin-right: -200px;
        margin-left: -22px;
        margin-top: 28px;
      }

      .content {
        margin-right: 80px;
      }
    }

    &.two-col--left {
      img {
        margin-left: -200px;
      }

      .content {
        margin-left: 80px;    
        margin-top: 8px;
        margin-right: -15px;
      }
    }


    @media (max-width: $screen-md) {
      &.two-col--right,
      &.two-col--left {
        .content {
          margin: 0;
          max-width: 100%;
        }

        img {
          margin: 0 auto;
        }
      }
    }
  }

  #img-studio {
    width: 765px;
    height: 469px;
  }

  #img-devops {
    width: 767px;
    height: 470px;
  }

  @media (max-width: $screen-md) {
    #img-studio,
    #img-devops {
      width: 300px;
      max-width: 100%;
      height: auto;
    }
  }

  #pre-built-solutions {
    .two-col {
      align-items: center;
    }

    hgroup {
      flex: 0 0 484px;
    }

    h2 {
      max-width: 500px;
    }

    .checkmark-list {
      max-width: none;
    }

    @media (max-width: $screen-md) {
      .two-col {
        // display: block;
        flex-direction: column-reverse;
      }

      .integrations {
        width: 400px;
        height: 600px;
        display: block;
        flex: 700px;
        align-self: flex-end;
        margin-top: -240px;
      }
    }

    @media (max-width: $screen-sm) {

      .checkmark-list {
        max-width: none;
        columns: 1 auto;
        column-gap: 8px;
        width: 100%;
      }

      .integrations {
        position: static;
        display: flex;
        margin-top: 0;
        width: 100%;
        max-width: 100%;
        left: auto;
        flex: 100%;
        transform: none;
        flex-wrap: wrap;
        justify-content: space-around;
      }
    }
  }

  .integrations {
    position: relative;
    height: 890px;
    flex: calc(100% - 670px);
  }

  .integrations__identity-vault,
  .integrations__aws-amplify,
  .integrations__couchbase,
  .integrations__active-directory,
  .integrations__auth-connect,
  .integrations__mparticle {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #5B708B;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    i {
      border-radius: 999px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 2px 8px rgba(2, 8, 20, 0.1), 0px 8px 16px rgba(2, 8, 20, 0.08);
      background-color: #fff;
      margin-bottom: 15px;
    }

    i::before {
      content: '';
      display: block;
      background-image: url('/img/enterprise/sprite-pre-built-solutions.png');
      background-repeat: no-repeat;
      background-size: 96px;
      background-position: center center;
    }

    @media (max-width: $screen-sm) {
      position: static;
      margin: 12px 16px;
      align-self: center;
    }
  }

  .integrations__aws-amplify {
    top: 0;
    left: 31px;

    i {
      width: 128px;
      height: 128px;
    }
    i::before {
      width: 64px;
      height: 50px;
      background-position: 0 0;
    }
  }

  .integrations__active-directory {
    top: 18.5%;
    left: 62%;

    i {
      width: 148px;
      height: 148px;
    }
    i::before {
      width: 76px;
      height: 76px;
      background-position: 0 -50px;
    }
  }

  .integrations__identity-vault {
    top: 24.1%;
    left: 0;

     i {
       width: 192px;
       height: 192px;
     }
    i::before {
      width: 96px;
    	height: 96px;
      background-position: 0 -126px;
    }
  }

  .integrations__auth-connect {
    top: 45%;
    left: 48%;

     i {
       width: 192px;
       height: 192px;
     }
    i::before {
      width: 96px;
    	height: 96px;
      background-position: 0 -222px;
    }
  }

  .integrations__couchbase {
    top: 59%;
    left: 8%;

    i {
      width: 128px;
      height: 128px;
    }
    i::before {
      width: 64px;
      height: 64px;
      background-position: 0 -318px;
    }
  }

  .integrations__mparticle {
    top: 79%;
    left: 39%;

    i {
      width: 128px;
      height: 128px;
    }
    i::before {
      width: 52px;
      height: 48px;
      background-position: 0 -382px;
    }
  }

  @media (max-width: $screen-lg) {
    // .integrations__identity-vault {
    //   left: 212px;
    // }

    // .integrations__couchbase {
    //   left: 284px;
    // }

    // .integrations__active-directory {
    //   left: 119px;
    // }
  }

  @media (max-width: $screen-md) {
    // .integrations {
    //   flex: none;
    //   height: 362px;
    //   width: 586px;
    //   margin-bottom: 40px;
    // }

    // .integrations__identity-vault {
    //   left: 232px;
    // }

    // .integrations__aws-amplify {
    //   top: 82px;
    // }

    // .integrations__couchbase {
    //   left: 251px;
    //   top: 188px;
    // }

    // .integrations__active-directory {
    //   left: 416px;
    //   top: 70px;
    // }
  }

  @media (max-width: $screen-sm) {
    .integrations {
      position: absolute;
      top: -90px;
      left: 50%;
      transform-origin: center center;
      transform: translateX(-50%) scale(0.7);
    }

    .integrations + div {
      margin-top: 260px;
    }
  }

  @media (max-width: $screen-xs) {
    .integrations {
      transform: translateX(-50%) scale(0.6);
    }
  }


  #expert-services {
    padding-top: 107px;
    padding-bottom: 200px;

    hgroup {
      max-width: 456px;
    }

    .feature-list {
      margin-top: 38px;

      i {
        margin-right: 47px;
      }

      h4 {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #27323F;
        font-family: $font-family-inter;
      }

      li {
        margin-bottom: 18px;   
      }
    }

    .checkmark-list--large {
      max-width: none;
      padding-left: 116px;
      margin-top: 0;
    }

    @media (max-width: $screen-md) {
      .two-col {
        flex-direction: column;
      }

      hgroup {
        max-width: 100%;
      }
    }

    @media (max-width: $screen-sm) {
      padding-bottom: 64px;

      .feature-list,
      .checkmark-list {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        margin-top: 64px;
      }
      .checkmark-list--large {
        padding-left: 0;
        margin-top: 30px;
      }
    }
  }


  #comparison-table {
    margin-top: 8px;
    position: relative;

    &::before {
      content: '';
      background: linear-gradient(180deg, #F9FAFB 0%, #FFFFFF 100%);
      height: 464px;
      position: absolute;
      width: 100vw;
      left: 0;
      top: 0;
      pointer-events: none;
    }

    .container {
      position: relative;
    }

    hgroup {
      max-width: 540px;
      margin-bottom: 50px;
      margin-top: 198px;

      h2 {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.04em;
        color: #020814;
      }
    }

    @media (max-width: $screen-sm) {
      padding-top: 100px;

      hgroup {
        margin-bottom: 30px;
      }

      h2 {
        text-align: left;
      }
    }

    @media (max-width: $screen-xs) {
      h2 {
        line-height: 38px;
        font-size: 32px;
      }
    }
  }

  .comp-table-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-right: -15px;
    padding-right: 15px;
  }

  .comp-table {
    min-width: 546px;

    th, td {
      width: 33%;

      &:not(:first-child) {
        text-align: center;
        vertical-align: middle;
      }

      &:first-child {
       width: 40%;
      }

      &:last-child {
        background: #F0F6FF;
      }
     }

     th {
       padding: 20px;
       border-bottom: 0;
       font-family: $font-family-eina;
       font-size: 16px;
       color: #5B708B;
       font-weight: 600;

       &:last-child {
         border-top-right-radius: 8px;
         border-top-left-radius: 8px;
         color: #3880FF;
       }
     }

     td {
       font-size: 13px;
       letter-spacing: -0.01em;
       color: #73849A;
       padding: 14px 20px;
       border: 0;

       &:first-child {
         font-size: 14px;
         color: #4E5B6A;
       }

       ion-icon[name="checkmark"] {
         font-size: 18px;
         color: #43C465;
       }

       &:last-child ion-icon[name="checkmark"] {
         color: #4D8DFF;
       }

       .dash {
         width: 10px;
         height: 2px;
         background: #CED6E0;
         display: inline-block;
         transform: translateY(-2px);
       }

       .pill {
         display: inline-block;
         line-height: 1.2;
         font-size: 8px;
         text-align: center;
         letter-spacing: 0.1em;
         text-transform: uppercase;
         color: #fff;
         font-weight: 600;
         background: #639CFF;
         border-radius: 20px;
         padding: 5px 10px;
       }
     }

    .stripe td {
      background: #F6F8FB;

      &:last-child {
        background: #E3EDFF;
      }
    }

    &__section {
      td {
        padding: 20px 20px 12px;
        border-top: 1px solid #E9EDF3;

        &:first-child {
          font-family: $font-family-eina;
          font-size: 16px;
          color: #020814;
          font-weight: 600;
        }
      }

      td:last-child {
        border-top-color: #E9EDF3;
      }

      &--pad td {
        padding-bottom: 20px;
      }
    }

    tr:last-child td:last-child {
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  }

  .call-to-action {
    background-color: #F6F8FB;
    padding-top: 140px;
    padding-bottom: 100px;

    .container {
      max-width: 768px;
    }

    hgroup {
      margin-bottom: 40px;

      h3 {
        font-size: 28px;
        text-align: center;
        letter-spacing: -0.01em;
        color: #1A232F;
        margin-bottom: 4px;
      }
      p {
        line-height: 32px;
        font-size: 18px;
        text-align: center;
        letter-spacing: -0.01em;
        color: #5B708B;

        b {
          font-weight: 500;
        }
      }
    }
  }
}
