@import '../../vars';
@import '../../bootstrap/variables';

#page-enterprise-support {
  .navbar.transparent + .banner {
    background: #00295b no-repeat center bottom url('/img/enterprise/support/enterprise-support-hero-bg.jpg');
    background-size: cover;
    padding-bottom: 118px;
    padding-top: 135px;
    color: rgba(white, 1);

    hgroup {
      padding-top: 0;
      padding-bottom: 0;
    }

    h1 {
      font-weight: 700;
      font-size: 50px;
      font-family: $font-family-eina;
    }

    p {
      font-size: 20px;
      font-weight: 500;
      color: #bccce4;
    }
  }

  .btn {
    font-size: 15px;
    font-weight: 700;
  }

  section.help {
    hgroup {
      padding-top: 64px;
      padding-bottom: 64px;

      h2 {
        font-weight: 700;
        font-size: 34px;
        letter-spacing: -.04em;
      }

      p {
        font-size: 18px;
        font-weight: 500;
      }
    }

    .features {
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 850px;
      margin: 16px auto 16px;

      @media (max-width: $screen-xs-max)  {
        justify-content: center;
      }

      li {
        flex: 0 0 240px;
        padding-top: 80px;
        position: relative;
        margin-bottom: 64px;

        &::before {
          background: url('/img/enterprise/support/enterprise-support-icons.png') no-repeat 0 0;
          background-size: 48px;
          width: 48px;
          height: 48px;
          content: '';
          position: absolute;
          top: 0;
        }

        @media (max-width: $screen-xs-max)  {
          flex: 0 0 100%;
          text-align: center;

          &::before {
            left: calc(50% - 24px);
          }
        }

        &.reviews::before { background-position: 0 -48px; }
        &.sla::before { background-position: 0 -96px; }
        &.training::before { background-position: 0 -144px; }
        &.contact::before { background-position: 0 -192px; }
        &.slack::before { background-position: 0 -240px; }

        h4 {
          font-weight: 600;
          font-size: 20px;
          margin-bottom: 16px;
        }

        p {
          font-size: 16px;
          font-weight: 400;
          color: #727a87;
        }
      }
    }
  }

  section.plan {
    background: #f5f7fb;
    padding-top: 64px;
    // text-align: center;
    padding-bottom: 64px;

    .container {
      max-width: 768px;
    }

    hgroup {
      h2 {
        font-weight: 700;
        font-size: 34px;
        letter-spacing: -.04em;
      }

      p {
        margin-top: 16px;
        color: #626a77;
        font-weight: 500;
        margin-bottom: 64px;
      }
    }
  }

  section.get-in-touch {
    margin-top: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    background: linear-gradient(to right, #4c8cff 0%, #76c6ff 100%);

    .container {
      display: flex;
      align-items: center;

      @media (max-width: $screen-xs-max)  {
        display: block;
        text-align: center;
      }
    }

    hgroup {
      padding-bottom: 33px;
    }

    h2 {
      font-size: 28px;
      letter-spacing: -.02em;
      font-weight: 600;
      display: inline-block;
    }

    p {
      color: #003e82;
      font-size: 18px;
      font-weight: 500;
      display: inline-block;
    }

    .btn-group {
      text-align: right;
    }

    .btn {
      margin-bottom: 8px;
    }
  }
}
