@import '../../vars';
@import '../../bootstrap/variables';
@import 'shared';

#experiences {
  .content {
    max-width: 500px;
  }

  .graphics {
    width: 580px;
    margin-right: 28px;

    img {
      width: 757px;
      float: right;
    }

    @media (max-width: $screen-md-max) {
      width: 320px;
      padding-right: 20px;
    }

    @media (max-width: $screen-xs-max) {
      width: 100%;
      margin-right: 0;

      img {
        width: 100%;
        float: none;
        max-width: 757px;
      }
    }
  }
}

#streamline .graphics {
  padding-left: 20px;
}

#talent .graphics {
  width: 560px;

  @media (max-width: $screen-md-max) {
    width: calc(100% - 520px);
  }

  @media (max-width: $screen-xs-max) {
    width: 100%;
    max-width: 560px;
    margin: 0 auto 20px;
  }
}

#create .graphics {
  width: 593px;
  padding-left: 20px;
  max-width: 100%;
}

#developers {
  margin-bottom: 140px;

  .graphics {
    padding-right: 20px
  }
}

#how-to {
  padding-top: 113px;
  border-top: 1px solid rgba(#92A1B3, .3);
}
