#page-products {

  .cta,
  .pro-nav,
  .pro-nav-text,
  .video-player,
  main {
    font-family: $font-family-eina;
  }

  .sub-header > .container {
    align-items: center;
  }

  > .cta,
  > .pro-nav,
  > .pro-nav-text,
  > .video-player::before {
    background: #0d1321 no-repeat center bottom;
    background-image: linear-gradient(to right, #11182a 0%, #060c17 100%);
    background-size: 100%;
  }

  > .cta {
    margin-top: -138px;
    padding-top: 138px;

    hgroup {
      text-align: center;
      position: relative;
      max-width: 830px;

      h1 {
        margin-top: 30px;
        font-size: 48px;
        font-weight: 700;
        letter-spacing: -.038em;
        margin-bottom: 26px;
      }

      p {
        letter-spacing: -.03em;
        max-width: 680px;
        line-height: 1.8em;
        margin: 0 auto;
        font-size: 18px;
        font-weight: 600;
        color: #a0abbf;
      }

      .cta-buttons {
        margin-top: 30px;
        padding-left:24px;
        padding-right:24px;
        color: white;
        letter-spacing: -.02em;

        > .btn {
          align-items: center;
          background-color: #ffb016;
          border-radius: 2em;
          display: inline-flex;
          font-size: 16px;
          font-weight: 700;
          padding: 14px 20px;

          &:after {
            content: '\f287';
            font-family: 'Ionicons';
            font-size: 14px;
            margin-left: 0.25em;
          }
        }

        .sales {
          color: rgba(white, .5);
          margin-top: 6px;
          display: inline-block;
          text-decoration: underline;
          transition: .2s color;

          &:hover {
            color: rgba(white, .8);
          }
        }
      }
    }
  }

  .pro-nav > .container,
  .pro-nav-icons,
  .pro-nav-text {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: auto;

    &:before,
    &:after {
      display: none;
    }
  }

  .pro-nav--upper {
    padding: 1em;
    position: sticky;
    top: 0;
    z-index: 1;

    .container {
      overflow-y: visible;
    }

    .pro-logo {
      margin-right: auto;
    }

    .pro-pricing-btn {
      margin-left: auto;
      text-align: right;
    }

    .btn {
      font-size: 14px;
      font-weight: 600;
      padding: 8px 16px;
    }

    .pro-logo img {
      width: 64px;
    }
  }

  .pro-nav--upper .pro-pricing-btn,
  .pro-nav--upper .pro-logo {
    opacity: 0;
    pointer-events: none;
    transform: translateY(5px);
    transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
    width: 120px;
  }

  .pro-nav--upper.is-stuck .pro-pricing-btn,
  .pro-nav--upper.is-stuck .pro-logo {
    opacity: 1;
    transform: translateY(0);

    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }

  .pro-nav-icons a {
    background-image: url("/img/pro/product-icons.png");
    background-size: 100%;
    display: block;
    height: 32px;
    margin: 0 auto;
    opacity: 0.85;
    transition: opacity 200ms ease-in-out;
    width: 32px;

    &.testing { background-position-y: -32px; }
    &.updates { background-position-y: -64px; }
    &.build { background-position-y: -96px; }
    &.reporting { background-position-y: -128px; }

    &:hover {
      opacity: 1;
    }
  }

  .pro-nav-text,
  .pro-nav-icons {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      width: 130px;
      text-align: center;
    }
  }

  .pro-nav--lower {
    padding: 0 1em 2em;
  }

  .pro-nav-text {
    align-items: start;
    font-size: 11px;

    a strong {
      color: rgba(255,255,255,0.9);
      display: block;
      letter-spacing: 1px;
      margin-bottom: 4px;
      text-transform: uppercase;
    }

    a {
      color: rgba(255,255,255,0.7);
      display: inline-block;
    }

    a,
    a strong {
      transition: color 200ms ease-in-out;
    }

    a:hover,
    a:hover strong {
      color: #ffffff;
    }
  }

  .video-player {
    align-items: center;
    background-color: #f9fafc;
    display: flex;
    justify-content: center;
    position: relative;

    &:before {
      content: "";
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .hero {
    background: no-repeat center center;
    background-size: cover;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;

    .content {
      width: 39%;
      text-align: left;
      padding-top: 100px;
      padding-bottom: 120px;
      color: #070f1a;
      min-height: 700px;
      position: relative;

      &.dark {
        color: rgba(white, .8);

        h2,
        h4,
        .hero__cta {
          color: white;
        }

        p {
          color: rgba(white, .7);
        }
      }

      h4 {
        font-family: $font-family-monospace;
        padding-top: 100px;
        position: relative;

        &::before {
          background: url('/img/pro/product-header-icons.png') 0 0 no-repeat;
          background-size: 64px;
          width: 64px;
          height: 64px;
          content: '';
          position: absolute;
          top: 0;
        }
      }
    }

    &__cta {
      border-bottom-style: solid;
      border-bottom-width: 2px;
      color: inherit;
      font-size: 18px;
      font-weight: 700;
      padding-bottom: 4px;
      transition: border-bottom-color 100ms ease-in-out;

      &:after {
        content: '\f287';
        font-family: 'Ionicons';
        font-size: 16px;
        margin-left: 5px;
      }

      &:hover {
        border-bottom-color: transparent;
      }
    }

    .container {
      position: relative;

      &::before {
        background-repeat: no-repeat;
        background-position: right 0;
        background-size: contain;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        content: '';
        display: block;
        position: absolute;
        opacity: 0;
        transition: .2s opacity;
      }
    }

    &.active .container::before {
      opacity: 1;
    }

    h4 {
      font-size: 11px;
      font-weight: 700;
      letter-spacing: 0.2em;
      color: #272a2f;
      text-transform: uppercase;
      margin-bottom: 30px;
    }


    h3 {
      font-size: 36px;
      font-weight: 700;
      letter-spacing: -.02em;
      margin-bottom: 30px;
    }

    h2 {
      color: #272a2f;
      font-size: 36px;
      margin-bottom: 23px;
      margin-top: 14px;
      font-weight: 700;
      letter-spacing: -.015em;
    }

    p {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: -.026em;
      line-height: 1.8em;
      margin-bottom: 30px;
      color: #5e6777;

      strong {
        color: #272a2f;
        font-weight: 700;
      }

      a {
        &:hover {
          color: $blue;
        }
      }
    }

    .btn {
      padding: 13px 15px;
      font-size: 14px;
      font-weight: 600;

      strong {
        font-weight: 700;
      }

      &::after {
        font-family: 'Ionicons';
        content: '\f287';
        font-size: 15px;
        line-height: 10px;
        vertical-align: -1px;
        margin-left: 8px;
        font-weight: 600;
        display: inline-block;
        transition: .2s transform;
      }

      &:hover::after {
        transform: translate3d(2px, 0, 0);
      }
    }
  }

  #overview {
    background-color: #f9fafc;
    color: #272a2f;
    padding-bottom: 67px;
    padding-top: 67px;

    hgroup {
      max-width: 660px;
      margin: 0 auto 68px;

      h3 {
        color: #070f1a;
      }

      p {
        font-size: 18px;
      }
    }

    .features {
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
      max-width: 1056px;
      margin: 0 auto;

      h4 {
        font-size: 17px;
        text-transform: none;
        letter-spacing: .001em;
        margin-top: 5px;
        margin-bottom: 13px;
      }

      p {
        letter-spacing: -.015em;
      }
    }

    li {
      padding-top: 68px;
      flex: 0 1 320px;
      position: relative;

      &::before {
        background: url('/img/pro/pro-feature-icons.png') 0 0 no-repeat;
        background-size: 48px;
        height: 48px;
        width: 48px;
        content: '';
        position: absolute;
        top: 0;
      }

      &.faster::before { background-position: 0 -48px; }
      &.happier::before { background-position: 0 -96px; }

      @media (max-width: $screen-md-max)  {
        + li {
          margin-left: 24px;
        }
      }
    }

    @media (max-width: $screen-xs-max)  {
      padding-top: 132px;
    }

    @media (max-width: 520px)  {
      .features {
        display: block;
      }

      li {
        text-align: center;

        &::before {
          left: calc( 50% - 24px);
        }

        + li {
          margin-left: 0;
        }
      }
    }
  }

  #prototyping {
    background-color: #ffffff;
    background-image: url('/img/pro/landing-hero-creator.png');
    background-position: right -85px bottom;
    background-size: 950px;
    overflow: visible;
    padding: 50px 0;

    h4,
    .btn {
      color: #a1afcb;
    }

    .content {
      padding-top: 148px;
    }

    @media (max-width: 1440px) {
      background-position: right -200px bottom;
    }

    @media (max-width: $screen-md-max) {
      background-position: right -400px bottom;
    }

    @media (max-width: $screen-sm-max)  {
      background-position: right -720px bottom -100px;

      .content {
        padding-top: 64px;
        width: 70%;
        min-height: 0;
      }
    }

    @media (max-width: $screen-xs-max)  {
      background-image: none;
      padding: 0;

      .content {
        min-height: 0;
        padding-top: 64px;
        padding-bottom: 64px;
        width: 100%;
        text-align: center;

        h4::before {
          left: calc(50% - 32px);
        }
      }
    }
  }

  #testing {
    background: #192434;

    h4 {
      color: #707e92;

      &::before { background-position: 0 -64px; }
    }

    .container::before {
        background-image: url('/img/pro/landing-hero-view.png');
        background-position: top left;
        background-size: 540px;
        top: 72px;
    }

    .content {
      padding-top: 163px;
    }

    @media (max-width: $screen-sm-max)  {
      .container::before {
        background-position: center left;
        background-size: contain;
        left: -140px;
      }

      .content {
        padding-top: 64px;
        width: 73%;
        min-height: 0;
      }
    }

    @media (max-width: $screen-xs-max)  {
      .container::before {
        display: none;
      }

      .content {
        min-height: 0;
        padding-top: 64px;
        padding-bottom: 64px;
        width: 100%;
        text-align: center;

        h4::before {
          left: calc(50% - 32px);
        }
      }
    }
  }

  #updates {
    background-color: #0d0f1c;
    background-size: 100%;

    h4 {
      color: #657284;

      &::before { background-position: 0 -128px; }
    }

    .container::before {
      background-image: url('/img/pro/product-deploy-img.png');
    }

    .content {
      padding-top: 179px;

      @media (max-width: $screen-md-max)  {
        padding-top: 148px;
      }
    }

    @media (max-width: $screen-sm-max)  {
      .container::before {
        display: none;
      }

      .content {
        min-height: 0;
        padding-top: 64px;
        padding-bottom: 64px;
        width: 100%;
        text-align: center;

        h4::before {
          left: calc(50% - 32px);
        }
      }
    }
  }

  #build {
    background-color: #f75982;
    background-image: linear-gradient(90deg, #fff0f6 50%, #f75982 50%);

    h4 {
      color: #ffc2d2;

      &::before { background-position: 0 -192px; }
    }

    .container::before {
        background-image: url('/img/pro/product-package-img.png');
        background-position: left 0;
        top: 102px;
        bottom: 104px;
    }

    .content {
      padding-top: 140px;
    }

    @media (max-width: $screen-sm-max)  {
      .container::before {
        background-size: 40%;
        top: 128px;
        bottom: 128px;
      }

      .content {
        padding-top: 64px;
        min-height: 0;
        width: 40%;
      }
    }

    @media (max-width: $screen-xs-max)  {
      background-image: none;

      .container::before {
        display: none;
      }

      .content {
        min-height: 0;
        padding-top: 64px;
        padding-bottom: 64px;
        width: 100%;
        text-align: center;

        h4::before {
          left: calc(50% - 32px);
        }
      }
    }
  }

  #reporting {
    background: #081b17;

    h4,
    .btn {
      color: #607d79;

      &::before { background-position: 0 -256px; }
    }

    .container::before {
        background-image: url('/img/pro/product-monitor-img.png');
    }

    .content {
      padding-top: 172px;
      width: 40%;
    }

    @media (max-width: $screen-sm-max)  {
      .content {
        min-height: 0;
        padding-top: 64px;
        width: 100%;
      }
    }

    @media (max-width: $screen-xs-max)  {
      .container::before {
        display: none;
      }

      .content {
        min-height: 0;
        padding-top: 64px;
        padding-bottom: 64px;
        width: 100%;
        text-align: center;

        h4::before {
          left: calc(50% - 32px);
        }
      }
    }
  }

  #push {
    background: #ffbc2a no-repeat center bottom;
    background-image: linear-gradient(to right, #ffce39 0%, #ffad20 100%);
    background-size: 100%;

    h4 {
      color: #d26d00;

      &::before { background-position: 0 -320px; }
    }

    .container::before {
      background-image: url('/img/pro/product-push-img.png');
      background-position: left 0;
      top: 80px;
      bottom: 80px;

      @media (max-width: $screen-md-max)  {
        top: 130px;
        bottom: 130px;
      }
    }

    .content {
      padding-top: 172px;
      width: 35%;
    }

    @media (max-width: $screen-sm-max)  {
      .container::before {
        display: none;
      }

      .content {
        min-height: 0;
        padding-top: 64px;
        padding-bottom: 64px;
        width: 100%;
        text-align: center;

        h4::before {
          left: calc(50% - 32px);
        }
      }
    }
  }

  .get-started {
    background: #eef2f8;
    overflow: auto;

    .container {
      align-items: center;
      display: flex;
      margin-bottom: 110px;
      margin-top: 110px;
    }

    hgroup {
      letter-spacing: -.025em;
      flex-grow: 1;
    }

    h2 {
      color: $blue;
      font-size: 28px;
      font-weight: 700;
      letter-spacing: inherit;
      margin: 0 0 5px;
    }

    p {
      color: #24282e;
      font-size: 20px;
      font-weight: 600;
      margin: 0;
    }

    .btn {
      font-size: 16px;
      font-weight: 700;
    }

    @media (max-width: $screen-sm-max)  {
      .container {
        display: block;
        text-align: center
      }

      hgroup {
        padding-bottom: 16px;
      }

      .btn-group {
        padding-bottom: 96px;
      }
    }
  }
}
