#page-products {

  .cta,
  main {
    font-family: $font-family-eina;
  }

  .sub-header > .container {
    align-items: center;
  }

  > .cta {
    background: #0d1321 no-repeat center bottom;
    background-image: linear-gradient(to right, #11182a 0%, #060c17 100%);
    background-size: 100%;
    margin-top: -138px;
    padding-top: 138px;

    hgroup {
      text-align: center;
      padding-bottom: 505px;
      position: relative;
      max-width: 830px;

      h1 {
        margin-top: 30px;
        font-size: 48px;
        font-weight: 700;
        letter-spacing: -.038em;
        margin-bottom: 26px;
      }

      p {
        letter-spacing: -.03em;
        max-width: 680px;
        line-height: 1.8em;
        margin: 0 auto;
        font-size: 18px;
        font-weight: 600;
        color: #a0abbf;
      }

      &::after {
        content: '';
        position: absolute;
        background: url('/img/pro/pro-dash-video-screenshot.png') 0 0 no-repeat;
        background-size: 100%;
        width: 850px;
        height: 632px;
        bottom: -320px;
        left: calc(50% - 425px);
        z-index: 1;
      }

      .cta-buttons {
        margin-top: 30px;
        padding-left:24px;
        padding-right:24px;
        color: white;
        letter-spacing: -.02em;

        > .btn {
          align-items: center;
          background-color: #ffb016;
          border-radius: 2em;
          display: inline-flex;
          font-size: 16px;
          font-weight: 700;
          padding: 14px 20px;

          &:after {
            content: '\f287';
            font-family: 'Ionicons';
            font-size: 14px;
            margin-left: 0.25em;
          }
        }

        .sales {
          color: rgba(white, .5);
          margin-top: 6px;
          display: inline-block;
          text-decoration: underline;
          transition: .2s color;

          &:hover {
            color: rgba(white, .8);
          }
        }

        @media (max-width: $screen-xs-max)  {
          margin-top: 40px;
        }
      }

      @media (max-width: $screen-xs-max)  {
        padding-bottom: 300px;

        &::after {
          bottom: -480px;
          width: 380px;
          left: calc(50% - 190px);
        }
      }

      @media (max-width: 406px)  {
        padding-bottom: 230px;

        &::after {
          bottom: -560px;
          width: 320px;
          left: calc(50% - 160px);
        }
      }
    }

    .bar {
      min-height: 64px;
      position: absolute;
      width: 100%;
      top: 490px;
      background: transparent;

      .container {
        position: relative;
      }

      .pro-logo,
      .btn {
        top:14px;
        opacity: 0;
        transform: translate3d(0, 15px, 0);
        transition: .5s opacity, .5s transform;
        transition-delay: 0;
        pointer-events: none;

        @media (max-width: 660px)  {
          display: none;
        }
      }

      .pro-logo {
        position: absolute;
        left: 15px;

        img {
        width: 64px;
        }
      }

      .btn {
        position: absolute;
        right: 15px;
        padding:8px 16px;
        font-size: 14px;
        font-weight: 600;
      }

      &.affix {
        position: fixed;
        top: 0;
        background: #0d1321 no-repeat center bottom;
        background-image: linear-gradient(to right, #11182a 0%, #060c17 100%);
        background-size: 100%;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),0 1px 0 rgba(0, 0, 0, 0.05);
        z-index: 1;

        .pro-logo,
        .btn {
          opacity: 1;
          transform: translate3d(0, 0, 0);
          transition-delay: .2s;
          pointer-events: auto;
        }
      }

      .categories {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        max-width: 740px;

        li {
          float: left;
          flex: 0 0 130px;

          a {
            color: rgba(white, .7);
            border-bottom: 2px solid transparent;
            bottom: -1px;
            position: relative;
            font-size: 11px;
            line-height: 1.9em;
            text-align: center;
            padding: 0 4px;
            font-weight: 500;
            width: 100%;
            height: 64px;
            cursor: pointer;
            transition: color .2s, padding-bottom .2s;

            &::before {
              background: url('/img/pro/product-icons.png') 0 0 no-repeat;
              background-size: 32px;
              width: 32px;
              height: 32px;
              content: '';
              cursor: pointer;
              position: absolute;
              top: 12px;
              opacity: .8;
              left: calc(50% - 16px);
              transition: .2s opacity;
            }

            &.testing::before { background-position: 0 -32px; }
            &.updates::before { background-position: 0 -64px; }
            &.build::before { background-position: 0 -96px; }
            &.reporting::before { background-position: 0 -128px; }
            &.hosting::before { background-position: 0 -160px; }


            span {
              transition: .2s color;
            }

            strong {
              text-transform: uppercase;
              display: block;
              letter-spacing: .05em;
              color: rgba(white, .9);
              transition: .2 color;
            }

            .sm {
              display: none;
            }

          }

          a:active,
          a:hover,
          a:focus,
          a.hover,
          &.active a {
            color: rgba(white, .9);
            background: transparent;

            &::before {
              opacity: 1;
            }

            strong {
              color: rgba(white, 1);
            }
          }
        }
      }

      + .bar {
        top: 545px;

        .categories li a {
          height: auto;

          &::before,
          &::after {
            display: none;
          }
        }
      }

      @media (max-width: $screen-md-max)  {
        .categories {
          // max-width: 500px;
        }
      }

      @media (max-width: $screen-sm-max)  {
        .categories {
          max-width: 450px;

          li {
            flex: 0 0 90px;
          }
        }
      }

      @media (max-width: $screen-xs-max)  {
        top: 470px;

        + .bar {
          top: 524px;
        }

        .categories {
          li {
            flex: 0 0 60px;

            a {
              width: 60px;
              padding: 0;

              .lg {
                display: none;
              }

              .sm {
                display: inline;
              }
            }
          }
        }
      }

      @media (max-width: 406px)  {
        top: 560px;


        .categories {
          li {
            flex: 0 0 50px;

            a {
              width: 50px;
            }
          }
        }

        + .bar {
          display: none;
        }
      }
    }
  }



  .hero {
    background: no-repeat center center;
    background-size: cover;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;

    .content {
      width: 39%;
      text-align: left;
      padding-top: 100px;
      padding-bottom: 120px;
      color: #070f1a;
      min-height: 700px;
      position: relative;

      &.dark {
        color: rgba(white, .8);

        h2,
        h4 {
          color: white;
        }

        p {
          color: rgba(white, .7);
        }
      }

      h4 {
        font-family: $font-family-monospace;
        padding-top: 100px;
        position: relative;

        &::before {
          background: url('/img/pro/product-header-icons.png') 0 0 no-repeat;
          background-size: 64px;
          width: 64px;
          height: 64px;
          content: '';
          position: absolute;
          top: 0;
        }
      }
    }

    &__cta {
      border-bottom-style: solid;
      border-bottom-width: 2px;
      color: inherit;
      font-size: 18px;
      font-weight: 700;
      padding-bottom: 4px;
      transition: border-bottom-color 100ms ease-in-out;

      &:after {
        content: '\f287';
        font-family: 'Ionicons';
        font-size: 16px;
        margin-left: 5px;
      }

      &:hover {
        border-bottom-color: transparent;
      }
    }

    .container {
      position: relative;

      &::before {
        background-repeat: no-repeat;
        background-position: right 0;
        background-size: contain;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        content: '';
        display: block;
        position: absolute;
        opacity: 0;
        transition: .2s opacity;
      }
    }

    &.active .container::before {
      opacity: 1;
    }

    h4 {
      font-size: 11px;
      font-weight: 700;
      letter-spacing: 0.2em;
      color: #272a2f;
      text-transform: uppercase;
      margin-bottom: 30px;
    }


    h3 {
      font-size: 36px;
      font-weight: 700;
      letter-spacing: -.02em;
      margin-bottom: 30px;
    }

    h2 {
      color: #272a2f;
      font-size: 36px;
      margin-bottom: 23px;
      margin-top: 14px;
      font-weight: 700;
      letter-spacing: -.015em;
    }

    p {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: -.026em;
      line-height: 1.8em;
      margin-bottom: 30px;
      color: #5e6777;

      strong {
        color: #272a2f;
        font-weight: 700;
      }

      a {
        &:hover {
          color: $blue;
        }
      }
    }

    .btn {
      padding: 13px 15px;
      font-size: 14px;
      font-weight: 600;

      strong {
        font-weight: 700;
      }

      &::after {
        font-family: 'Ionicons';
        content: '\f287';
        font-size: 15px;
        line-height: 10px;
        vertical-align: -1px;
        margin-left: 8px;
        font-weight: 600;
        display: inline-block;
        transition: .2s transform;
      }

      &:hover::after {
        transform: translate3d(2px, 0, 0);
      }
    }
  }

  #overview {
    background-color: #f9fafc;
    color: #272a2f;
    padding-top: 282px;
    padding-bottom: 67px;

    hgroup {
      max-width: 660px;
      margin: 0 auto 68px;

      h3 {
        color: #070f1a;
      }

      p {
        font-size: 18px;
      }
    }

    .features {
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
      max-width: 1056px;
      margin: 0 auto;

      h4 {
        font-size: 17px;
        text-transform: none;
        letter-spacing: .001em;
        margin-top: 5px;
        margin-bottom: 13px;
      }

      p {
        letter-spacing: -.015em;
      }
    }

    li {
      padding-top: 68px;
      flex: 0 1 320px;
      position: relative;

      &::before {
        background: url('/img/pro/pro-feature-icons.png') 0 0 no-repeat;
        background-size: 48px;
        height: 48px;
        width: 48px;
        content: '';
        position: absolute;
        top: 0;
      }

      &.faster::before { background-position: 0 -48px; }
      &.happier::before { background-position: 0 -96px; }

      @media (max-width: $screen-md-max)  {
        + li {
          margin-left: 24px;
        }
      }
    }

    @media (max-width: $screen-xs-max)  {
      padding-top: 132px;
    }

    @media (max-width: 520px)  {
      .features {
        display: block;
      }

      li {
        text-align: center;

        &::before {
          left: calc( 50% - 24px);
        }

        + li {
          margin-left: 0;
        }
      }
    }
  }

  #prototyping {
    background-color: #ffffff;
    overflow: visible;

    h4,
    .btn {
      color: #a1afcb;
    }

    .container::before {
      background-image: url('/img/pro/landing-hero-creator.png');
      background-position: center bottom -50px;
      background-size: 100%;
      left: 50%;
      width: 950px;
    }

    .content {
      padding-top: 148px;
    }

    @media (max-width: $screen-sm-max)  {
      .content {
        padding-top: 64px;
        width: 70%;
        min-height: 0;
      }

      .container::before {
        background-position: right bottom;
        background-size: 240px;
      }
    }

    @media (max-width: $screen-xs-max)  {
      .container::before {
        display: none;
      }

      .content {
        min-height: 0;
        padding-top: 64px;
        padding-bottom: 64px;
        width: 100%;
        text-align: center;

        h4::before {
          left: calc(50% - 32px);
        }
      }
    }
  }

  #testing {
    background: #192434;

    h4 {
      color: #707e92;

      &::before { background-position: 0 -64px; }
    }

    .container::before {
        background-image: url('/img/pro/landing-hero-view.png');
        background-position: top left;
        background-size: 540px;
        top: 72px;
    }

    .content {
      padding-top: 163px;
    }

    @media (max-width: $screen-sm-max)  {
      .container::before {
        background-position: 0 bottom;
        background-size: 240px;
      }

      .content {
        padding-top: 64px;
        width: 73%;
        min-height: 0;
      }
    }

    @media (max-width: $screen-xs-max)  {
      .container::before {
        display: none;
      }

      .content {
        min-height: 0;
        padding-top: 64px;
        padding-bottom: 64px;
        width: 100%;
        text-align: center;

        h4::before {
          left: calc(50% - 32px);
        }
      }
    }
  }

  #updates {
    background-color: #0d0f1c;
    background-size: 100%;

    h4 {
      color: #657284;

      &::before { background-position: 0 -128px; }
    }

    .container::before {
      background-image: url('/img/pro/product-deploy-img.png');
    }

    .content {
      padding-top: 179px;

      @media (max-width: $screen-md-max)  {
        padding-top: 148px;
      }
    }

    @media (max-width: $screen-sm-max)  {
      .container::before {
        display: none;
      }

      .content {
        min-height: 0;
        padding-top: 64px;
        padding-bottom: 64px;
        width: 100%;
        text-align: center;

        h4::before {
          left: calc(50% - 32px);
        }
      }
    }
  }

  #build {
    background: #dd98ec no-repeat center bottom;
    background-image: linear-gradient(to right, #b37df7 0%, #ffafe5 100%);
    background-position: left 0;
    background-size: 100%;

    h4,
    .btn {
      color: #d2478c;

      &::before { background-position: 0 -192px; }
    }

    .container::before {
        background-image: url('/img/pro/product-package-img.png');
        background-position: left 0;
        top: 102px;
        bottom: 104px;
    }

    .content {
      padding-top: 193px;
    }

    @media (max-width: $screen-sm-max)  {
      .container::before {
        top: 128px;
        bottom: 128px;
      }

      .content {
        padding-top: 64px;
        min-height: 0;
        width: 60%;
      }
    }

    @media (max-width: $screen-xs-max)  {
      .container::before {
        display: none;
      }

      .content {
        min-height: 0;
        padding-top: 64px;
        padding-bottom: 64px;
        width: 100%;
        text-align: center;

        h4::before {
          left: calc(50% - 32px);
        }
      }
    }
  }

  #reporting {
    background: #142f2d no-repeat center bottom;
    background-image: linear-gradient(to right, #0e211f 0%, #142f2d 100%);
    background-size: 100%;

    h4,
    .btn {
      color: #607d79;

      &::before { background-position: 0 -256px; }
    }

    .container::before {
        background-image: url('/img/pro/product-monitor-img.jpg');
    }

    .content {
      padding-top: 172px;
      width: 40%;
    }

    @media (max-width: $screen-sm-max)  {
      .content {
        min-height: 0;
        padding-top: 64px;
        width: 100%;
      }
    }

    @media (max-width: $screen-xs-max)  {
      .container::before {
        display: none;
      }

      .content {
        min-height: 0;
        padding-top: 64px;
        padding-bottom: 64px;
        width: 100%;
        text-align: center;

        h4::before {
          left: calc(50% - 32px);
        }
      }
    }
  }

  #push {
    background: #ffbc2a no-repeat center bottom;
    background-image: linear-gradient(to right, #ffce39 0%, #ffad20 100%);
    background-size: 100%;

    h4 {
      color: #d26d00;

      &::before { background-position: 0 -320px; }
    }

    .container::before {
      background-image: url('/img/pro/product-push-img.png');
      background-position: left 0;
      top: 80px;
      bottom: 80px;

      @media (max-width: $screen-md-max)  {
        top: 130px;
        bottom: 130px;
      }
    }

    .content {
      padding-top: 172px;
      width: 35%;
    }

    @media (max-width: $screen-sm-max)  {
      .container::before {
        display: none;
      }

      .content {
        min-height: 0;
        padding-top: 64px;
        padding-bottom: 64px;
        width: 100%;
        text-align: center;

        h4::before {
          left: calc(50% - 32px);
        }
      }
    }
  }

  .get-started {
    background: #ecf0f7;

    .container {
      display: flex;
      align-items: center;
    }

    hgroup {
      padding-top: 92px;
      padding-bottom: 80px;
      flex-grow: 1;
    }

    h2 {
      letter-spacing: -.05em;
    }

    p {
      font-size: 23px;
      letter-spacing: -0.01em;
    }

    @media (max-width: $screen-sm-max)  {
      .container {
        display: block;
        text-align: center
      }

      hgroup {
        padding-bottom: 16px;
      }

      .btn-group {
        padding-bottom: 96px;
      }
    }
  }
}
