#page-products-monitor {
  .top {
    margin-top: -150px;
    padding-top: 174px;
    background: #0c1c1c;
    background: linear-gradient(to right, #051312 0%, #112624 100%);
    text-align: center;

    hgroup {
      padding-top: 97px;
      padding-bottom: 355px;
      position: relative;

      &::before {
        background: url('/img/pro/monitor/monitor-cta-icon.png') 0 0 no-repeat;
        background-size: 80px;
        width: 80px;
        height: 80px;
        content: '';
        position: absolute;
        top: 0;
        left: calc(50% - 40px);
      }
    }

    h1 {
      color: white;
      letter-spacing: -.03em;
      font-weight: 700;
      font-size: 48px;
      max-width: 860px;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      color: #abb3b2;
      max-width: 760px;
      margin-bottom: 32px;

      strong {
        color: white;
        font-weight: 700;
      }
    }

    .btns {
      margin-top: 16px;

      .btn {
        font-size: 16px;
        font-weight: 700;

        &.green {
          background: #31ca74;
          padding: 12px 19px 10px;
          margin-right: 9px;
        }

        &.dark  {
          color: #31ca74;
          background: #313f3f;
          padding: 12px 19px 10px;
        }
      }
    }
  }

  #heart-monitor-stage {
    // height: calc(100vw * .35);
    // width: 100%;
    height: 250px;
    width: 400px;
    position: absolute;
    bottom: 64px;
    // left: 0;
    left: calc(50% - 200px);
    overflow: hidden;
    // background-color: #434343;
    // background-image:linear-gradient(to right, #051413, #102624);

    #grid {
      background-color: transparent;
      background-image: linear-gradient(0deg,
        transparent 24%,
        rgba(255, 255, 255, .05) 25%,
        rgba(255, 255, 255, .05) 26%,
        transparent 27%,
        transparent 74%,
        rgba(255, 255, 255, .05) 75%,
        rgba(255, 255, 255, .05) 76%,
        transparent 77%,
        transparent
      ), linear-gradient(90deg,
        transparent 24%,
        rgba(255, 255, 255, .05) 25%,
        rgba(255, 255, 255, .05) 26%,
        transparent 27%,
        transparent 74%,
        rgba(255, 255, 255, .05) 75%,
        rgba(255, 255, 255, .05) 76%,
        transparent 77%,
        transparent
      );
      height:100%;
      background-size:50px 50px;
      // mask-image: radial-gradient(black 50%, transparent 80%);
      mask-image: radial-gradient(black 20%, transparent 70%);
    }

    #edges,
    #spotlight {
      background-image:linear-gradient(to right, #051413, #102624);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      mask-image: radial-gradient(transparent 50%, black 70%);
    }

    #spotlight {
      left: -100%;
      mask-image: radial-gradient(transparent 30%, black 80%);
    }

    svg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }

    .path {
      fill:transparent;
      stroke:rgba(0,200,126,.5);
      stroke-miterlimit:10;
    }

    .path-3 {
      fill:transparent;
      stroke:rgba(0,200,126,.8);
      stroke-miterlimit:10;
    }

    .path-2 {
      fill:transparent;
      stroke:rgba(154, 255, 192, 1);
      stroke-miterlimit:20;
    }
  }

  .pinpoint {
    .container {
      max-width: 1092px;
    }

    hgroup {
      max-width:960px;

      h3 {
        text-transform: uppercase;
        color: $green;
        font-weight: 700;
        letter-spacing: .06em;
        font-size: 24px;
      }

      h2 {
        margin-top: 15px;
      }

      p {
        strong {
          font-weight: 600;
        }
      }
    }

    .items {
      padding: 50px 0 46px;

      li {
        flex: 0 1 303px;

        @media (max-width: $screen-sm-max)  {
          flex-basis: 200px;
        }

        @media (max-width: $screen-xs-max)  {
          flex-basis: 100%;
        }

        &::before {
          background: url('/img/pro/monitor/feature-icons-sm.png') 0 0 no-repeat;
          background-size: 48px;
        }

        &.built::before { background-position: 0 -48px; }
        &.typescript::before { background-position: 0 -96px; }
      }

      strong {
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        letter-spacing: -.02em;
        line-height: 28px;
      }
    }

    .get-started {
      background: transparent;
      border-top: 1px solid #f0f4f8;
      padding-top: 30px;
      padding-bottom: 64px;
      display: flex;
      align-items: center;

      hgroup {
        text-align: left;
        margin-left: 0;
        padding-top: 0;
        margin-top: 20px;
      }

      h2 {
        color: $green;
        margin-bottom: 0;
        font-size: 28px;
        letter-spacing: -.03em;
        font-weight: 600;
      }

      p {
        margin-top: 0;
        letter-spacing: -.02em;

        strong {
          font-weight: 700;
          letter-spacing: 0;
        }
      }

      .btn {
        background: $green;
        margin-right: 4px;
        padding: 12px 19px 10px;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: .01em;
      }

      @media (max-width: $screen-sm-max)  {
        .btns {
          width: auto;
        }
      }
    }
  }

  section.left,
  section.right,
  section.both {
    hgroup::before {
      background-image: url('/img/pro/monitor/feature-icons-lg.png');
      background-size: 64px;

      @media (max-width: $screen-sm-max)  {
        left: calc(50% - 32px);
      }
    }

    h2 {
      margin-bottom: 20px;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: -0.03em;
      line-height: 42px;
    }

    p {
      font-size: 17px;
      letter-spacing: -.008em;
    }

    @media (max-width: $screen-sm-max)  {
      hgroup {
        width: 100%;
        float: none;
        text-align: center;
      }
    }
  }

  .confidence {
    background: #f4f9f7;
    position: relative;

    .container {
      position: static;
    }

    hgroup {
      position: relative;
      z-index: 1;
    }

    .graphics {
      background-image: url('/img/pro/monitor/feature-img-confidence.png');
      background-size: 1145px;
      background-position: bottom center;
      width: 1145px;

      @media (max-width: $screen-md-max)  {
        right: -20%;
      }

      @media (max-width: $screen-sm-max)  {
        display: none;
      }
    }
  }

  .ahead {
    background: #e1ebe9;

    hgroup::before { background-position: 0 -64px; }

    .graphics {
      background-image: url('/img/pro/monitor/feature-img-ahead.png');
      background-size: 621px;
      width: 621px;

      @media (max-width: $screen-md-max)  {
        // right: -20%;
      }

      @media (max-width: $screen-sm-max)  {
        display: none;
      }
    }
  }

  .both {
    background: linear-gradient(to right, #7c9c91 50%, #4e7366 50%);

    hgroup {
      &::before { background-position: 0 -128px; }

      + hgroup::before { background-position: 0 -192px; }
    }

    h2 {
      color: white;
    }

    p {
      color: #bdd8d3;

      strong {
        color: #e5fefa;
      }
    }

    @media (max-width: $screen-sm-max)  {
      background: linear-gradient(to bottom, #7c9c91 50%, #4e7366 50%);

      .container {
        display: block;
      }
    }
  }

  section.get-started {
    background: #e6f1ed;

    h2 {
      color: #202624;
    }

    p {
      color: #556861;

      strong {
        font-weight: 600;
      }
    }

    .btn {
      &.green {
        background: $green;
      }

      &.white {
        color: $green;
      }
    }
  }

}
