#page-products-view {
  .sub-header .btn {
    color: $blue;
  }

  .show-mobile {
    display: none;
  }

  &.is-mobile {
    .show-desktop { display: none; }
    .show-mobile { display: inline-block; }
  }
  &.is-desktop .show-mobile { display: none; }

  .top {
    overflow: hidden;
    padding-top: 42px;
    min-height: 650px;

    @media (max-width: $screen-sm-max)  {
      min-height: 500px;
    }

    hgroup {
      padding-top: 112px;
      margin-right: 668px;
      background: url('/img/pro/view/ionic-view-logo.png') 0 0 no-repeat;
      background-size: 184px;
      margin-top: 0;
      margin-left: -1px;

      @media (max-width: $screen-md-max)  {
        margin-right: 600px;
      }

      @media (max-width: $screen-sm-max)  {
        margin-right: 390px;
        // margin-top: 56px;
      }

      @media (max-width: $screen-xs-max)  {
        margin-right: 0;
        position: relative;
        z-index: 1;
        text-align: center;
        background-position: 50% 0;
        margin-top: 0;
      }
    }

    .stores {
      font-size: 12px;
      font-weight: 600;
      margin-top: 25px;

      @media (max-width: $screen-xs-max)  {
        text-align: center;
      }

      .apple,
      .google {
        background: url('/img/pro/view/app-store-btns.png') 0 0 no-repeat;
        background-size: 100%;
        width: 90px;
        height: 20px;
        margin-left: 17px;
        display: inline-block;
        vertical-align: -5px;
        transition: .2s opacity;

        &:hover {
          opacity: .6;
        }
      }

      .google {
        background-position: 0 bottom;
        margin-left: 8px;
      }
    }
    .graphics {
      top: 42px;
      right: 0;
      bottom: 0;
      width: 560px;

      @media (max-width: $screen-sm-max)  {
        width: 400px;
      }

      .iphone,
      .android {
        opacity: .01;
        transform: translateY(20px);
        // fixes chrome bug w/ image clipping on opacity change
        backface-visibility: hidden;

        &.loaded {
          animation: 1s fadeInDown;
          animation-fill-mode: forwards;
        }

        @media (max-width: $screen-xs-max)  {
          display: none;
        }
      }

      .iphone {
        width: 346px;
        height: 680px;
        position: absolute;
        right: 226px;
        top: 22px;

        @media (max-width: $screen-sm-max)  {
          width: 231px;
          height: 453px;
          right: 150px;
        }
      }

      .android {
        width: 360px;
        height: 700px;
        position: absolute;
        right: 12px;

        &.loaded {
          animation-delay: .2s;
          animation-duration: 1.5s;
        }

        @media (max-width: $screen-sm-max)  {
          width: 240px;
          height: 467px;
        }
      }
    }
  }

  .simple {
    background: #f6f8fc;

    .container {
      position: relative;
      padding-bottom: 211px;

      @media (max-width: $screen-xs-max)  {
        padding-bottom: 48px;
      }
    }


    li {
      flex: 0 1 224px;

      &::before {
        background-image: url('/img/pro/view/feature-icons-sm.png');
        background-size: 100%;
      }

      &.sharing::before { background-position: 0 -48px; }
      &.feedback::before { background-position: 0 -96px; }
      &.native::before { background-position: 0 -144px; }

      @media (max-width: $screen-sm-max)  {
        flex-basis: 330px;
        margin-bottom: 18px;
      }

      @media (max-width: $screen-xs-max)  {
        flex-basis: 100%;
      }
    }

    #phone-tilt {
      background: url('/img/pro/view/tilt-iphone.png') 0 0 no-repeat;
      background-size: 100%;
      width: 840px;
      height: 280px;
      margin: 0 auto;
      position: absolute;
      left: calc(50% - 402px);
      bottom: -73px;
      transform: rotateX(-30deg);

      &.active {
        animation: 2s tiltIn;
        animation-fill-mode: forwards;
      }

      @media (max-width: $screen-xs-max)  {
        width: 420px;
        height:140px;
        left: calc(50% - 200px);
        bottom: -32px;
      }
    }
  }

  section.left,
  section.right {
    hgroup::before {
      background-image: url('/img/pro/view/feature-icons-lg.png');
      background-size: 100%;
    }

    .graphics {
      background-image: url('/img/pro/view/feature-img-share.png');
      background-size: 100%;
      width: 470px;
    }

    &.testers {
      background: linear-gradient(to right,
        #fff 0%,#fff 50%,#20a0ff 50%,#20a0ff 100%);
    }

    &.choose {
      background: linear-gradient(to left,
        #fff 0%,#fff 50%,#e6ecf4 50%,#e6ecf4 100%);

      hgroup::before { background-position: 0 -64px; }

      .graphics {
        background-image: url('/img/pro/view/feature-img-testers.png');
        width: 480px;
      }
    }

    &.feedback {
      background: linear-gradient(to right,
        #fff 0%,#fff 50%,#3f84ff 50%,#3f84ff 100%);

      hgroup::before { background-position: 0 -128; }

      .graphics {
        background-image: url('/img/pro/view/feature-img-feedback.png');
        background-position: 0 100%;
      }
    }

    &.experience {
      background: linear-gradient(to left,
        #fff 0%,#fff 50%,#0b1526 50%,#0b1526 100%);

      hgroup::before { background-position: 0 -192px; }

      .graphics {
        background-image: url('/img/pro/view/feature-img-experience.png');
        background-position: 0 100%;
      }
    }

    @media (max-width: $screen-xs-max)  {
      &.testers,
      &.choose,
      &.feedback,
      &.experience {
        background: transparent;
      }

      hgroup {
        width: 100%;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 50px;

        &::before {
          top: 0;
          left: calc(50% - 32px);
        }
      }

      &.testers hgroup {
        margin-top: 64px;
      }

      .graphics {
        display: none;
      }
    }
  }

  .get-started {
    background-image: url('/img/pro/view/pre-footer-bg.jpg');
    background-size: cover;

    .btn-default {
      background: #0066af;
    }
  }

  #downloadForm,
  .modal-backdrop {
    top: 116px;
  }

  #downloadForm {
    .modal-body {
      position: relative;

      &::before {
        background: url('/img/pro/view/view-balloon.png') 0 0 no-repeat;
        background-size: 100%;
        height: 300px;
        width: 200px;
        content: '';
        position: absolute;
        top: 150px;
        right: 17px;
        animation: 16s hoverY ease infinite;
      }
    }

    hgroup {
      margin-top: 137px;
      padding-top: 44px;
      width: 330px;
      position: relative;
      padding-bottom: 8px;

      &::before {
        background: url('/img/pro/view/download-view-icon.png') 0 0 no-repeat;
        background-size: 100%;
        height: 40px;
        width: 40px;
        content: '';
        position: absolute;
        top: 0;
      }
    }

    h3 {
      margin-bottom: 12px;
      font-size: 19px;
      font-weight: 600;
    }

    p {
      font-size: 15px;
      line-height: 24px;
      font-weight: 500;
      letter-spacing: -0.02em;
    }

    small {
      text-align: center;
      display: inline-block;
      font-size: 10px;
      color: #afb4bb;
    }

    form {
      margin-top: 20px;
    }

    input {
      width: 100%;
      float: none;
      border-width: 1px;
      border-radius: 4px;
      font-size: 13px;
      margin-bottom: 0px;
    }

    .btn {
      width: 100%;
      margin-top: 8px;
      float: none;
      text-align: left;
      position: relative;

      &::before {
        content: '\f287';
        font-family: 'Ionicons';
        float: right;
        font-size: 16px;
        line-height: 14px;
        position: relative;
        top: -2px;
      }

    }
  }

  &.modal-open {
    .modal-backdrop {
      background: rgba(255,255,255,0.9);
      transition-duration: .2s;

      &.in {
        opacity: 1;
        transition-delay: 0;
      }
    }

    > .top,
    section.simple {
      filter: blur(15px) saturate(150%);
      transition-delay: .25s;
    }
  }

  > .top,
  section {
    transition: .2s filter;
    // transition-delay: 0;
  }
}
