{% extends '_layouts/base.html' %}
{% set id = 'articles-pwa-architects-guide' %}
{% set title = 'The Architects Guide to PWAs - Ionic Framework' %}
{% set meta_image = 'https://ionicframework.com/img/meta/ionic-framework-og.png'%}
{% set meta_description = "Learn what makes a Progressive Web App, how they work, and how you can fit PWAs into your app strategy, and how to get started developing apps with web technology today." %}

{% set pre_footer = false %}
{% set header_style = 'transparent light' %}
{% set stickyNav = true %}

{% block main %}

<div class="sub-header">
  <div class="container">
    <ul class="left breadcrumbs breadcrumbs--small">
      <li><a href="/resources">Resources</a></li>
      <li><a href="/resources/articles">Articles</a></li>
      <li>Download</li>
    </ul>
  </div>
</div>

<div class="cta">
  <hgroup class="container">
    <h5>White Paper</h5>
    <h1>The Architect’s Guide to PWAs</h1>
    <p>By 2020, 50% of apps will be PWAs. See what’s behind the trend. Discover when and how PWAs can help boost your app strategy by tapping into the power of the web.</p>
  </hgroup>
</div>

<div class="container">
  <div class="signup-form">
    <div class="left-col">
      <div class="illustration">
        <div class="card">
          <div class="layer-1"></div>
          <div class="layer-2"></div>
        </div>
      </div>
      <p class="p-large">Big brands like Twitter and Pinterest are demonstrating how Progressive Web Apps (PWAs) can boost user acquisition, engagement, and ultimately, revenue.</p>
      <p>This guide provides enterprise architects and app dev leaders with practical insights on which projects are right for PWAs, and how to build a production-ready PWA today.</p>
      <p>In this guide, you’ll learn:</p>
      <ul>
        <li><span><strong>What makes a PWA.</strong> The key capabilities and features that define PWAs</li></span>
        <li><span><strong>How PWAs work.</strong> An overview of the APIs and browser standards that allow PWAs to provide reliable, fast, engaging experiences with the web.</li></span>
        <li><span><strong>How PWAs fit into your app strategy.</strong> When and why to use a PWA in favor of a traditional native mobile app.</li></span>
        <li><span><strong>How to get started.</strong> Everything you need to get started with PWAs today.</li></span>
      </ul>
    </div>
    <div class="right-col hubspot-override">
      <h3>Download now</h3>
      <!--[if lte IE 8]>
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
      <![endif]-->
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
      <script>
        hbspt.forms.create({
      	portalId: "3776657",
      	formId: "504e0e0c-29f0-4234-8853-61110a01a2ef",
      	css: ""
      });
      </script>
    </div>
  </div>

  <div class="company">
    <h2>
      <strong>You’re in good company.</strong> Ionic powers millions of apps at
      some of the smartest companies around the world.
    </h2>
    <div class="logos"></div>
  </div>
</div>
<section class="bar get-started">
  <div class="container">
    <hgroup>
      <h2>Get your team started with Ionic Appflow today. </h2>
      <p class="lg">
        Start building better apps faster with Ionic Appflow.
      </p>
    </hgroup>
    <div>
      <a href="https://dashboard.ionicframework.com/signup?source=framework-{{id}}"
        class="btn sm" id="btn-products-create-account">Create an Appflow account
        </a>
      <a class="btn sm white" id="btn-products-see-pricing"
        href="/pricing">See pricing</a>
    </div>
  </div>
</section>

</main>
{% endblock %}
