<ionic-sub-header>
  <a slot="title" href="/pricing">Pricing</a>
  <ul slot="right">
    <li><a href="/pricing" {% if id == 'pricing' %}class="active"{% endif %}>Overview</a></li>
    <li><a href="/pricing/compare" {% if id == 'pricing-compare' %}class="active"{% endif %}>Appflow Plans</a></li>
    <li><a href="/pricing/enterprise" {% if id == 'pricing-enterprise' %}class="active"{% endif %}>Enterprise Platform</a></li>
    <li><a class="btn white"
           href="#"
           data-toggle="modal"
           data-target="#contactForm">Contact Sales</a></li>
  </ul>
</ionic-sub-header>