{% extends "_layouts/base.html" %}
{% set id = 'pricing' %}
{% set title = 'Ionic Platform Pricing - Cross-Platform Web App Development Tools' %}
{% set header_style = 'transparent light' %}
{% set bodyController = 'pricingCtrl' %}
{% set meta_description = "Get pricing on the Ionic Development Platform. From DevOps to our app building solutions and our enterprise mobile app framework." %}
{% set cssPath = 'pricing/index' %}
{% set pre_footer = false %}

{% block main %}
<ionic-sub-header>
  <a slot="title" href="/pricing">Pricing</a>
  <ul slot="right">
    <li><a href="/pricing">Overview</a></li>
    <li><a href="/pricing/compare">Cloud Plans</a></li>
    <li><a href="/pricing/compare">Comparison</a></li>
    <li><a class="btn white"
           href="#"
           data-toggle="modal"
           data-target="#contactForm">Contact Sales</a></li>
  </ul>
</ionic-sub-header>
<div class="cta cta--transparent">
  <hgroup class="container center">
    <h1>Ionic platform pricing</h1>
    <p>Everything you need to continuously build, connect, and ship award-winning cross-platform apps.</p>
  </hgroup>
</div>

<main>

</main>
{% endblock %}

{% block modals %}
{% include './_modal--contact.html' %}
{% endblock %}

