@import '../../vars';
@import '../../mixins';
@import '../../bootstrap/variables';

.cta.banner {
  background: #F6F8FB;
  text-align: left;

  hgroup {
    max-width: 480px;
    margin-top: 86px;
    margin-bottom: 80px;
  }

  .container {
    position: relative;
  }

  h4,
  h1,
  p {
    position: relative;
    z-index: 1;
  }

  h4 {
    font-family: $font-family-monospace;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #92A1B3;
    margin-bottom: 29px;
  }

  h1 {
    font-size: 64px;
    line-height: 71px;
    letter-spacing: -0.03em;
    color: #020814;
    margin-bottom: 14px;
  }
  
  p {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.04em;
    color: #27323F;
    opacity: 0.9;
  }
}

#sticky-bar {
  box-shadow: 0px 1px 0px #E9EDF3, 0px -1px 0px #E9EDF3;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1;

  ul {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 17px;
    flex-wrap: wrap;

    @media (max-width: $screen-sm-max) {
      justify-content: space-around;
    }

    &::before,
    &::after {
      display: none;
    }
  }

  li {
    list-style: none;

    &.active a:not(.btn) {
      color: $blue;
    }
  }

  a {
    padding: 10px 0;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    display: block;

    &:hover,
    &:active,
    &:focus {
      background: transparent;
      text-decoration: none;
    }

    &.btn {
      padding: 11px 14px 8px;
      margin-right: 3px;
      border-radius: 10px;
      color: white;
      font-weight: 600;

      &:hover,
      &:active,
      &:focus {
        color: white;
        background: darken($blue, 5);
      }
    }
  }

  .anchor {
    color: #92A1B3;
    font-weight: 500;

    &.active,
    &:hover {
      color: #4D8DFF;
    }
  }
}

main {
  letter-spacing: -0.028em;
  color: #2F3A48;

  h2 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.03em;
    color: #020814;
    margin-bottom: 15px;
  }

  h3 {
    color: #414D5C;
    font-weight: 600;
    margin-bottom: 4px;

    + h2 {
      margin-top: 0;
    }
  }

  p {
    font-size: 20px;
    line-height: 31px;
    margin-bottom: 40px;
  }

  ul {
    padding-left: 0;
  }

  li {
    font-size: 16px;
    line-height: 23px;
    color: #1A232F;
    margin-bottom: 32px;
    position: relative;
    list-style: none;
    padding-left: 30px;
    letter-spacing: -.016em;


    &::before {
      content: url('data:image/svg+xml,
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path d="M186.301 339.893L96 249.461l-32 30.507L186.301 402 448 140.506 416 110z"/>
        </svg>');
      position: absolute;
      left: 0;
      top: 1px;
      height: 15px;
      width: 15px;
      fill: #1A232F;
      display: block;
    }
  }

  section {
    display: flex;
    position: relative;

    &.container {
      &::before,
      &::after {
        display: none;
      }
    }

    &.right {
      flex-direction: row-reverse;
    }

    &.center {
      justify-content: center;
      
      .content {
        max-width: 798px;
        
        h2,
        p {
          margin-right: 140px;
          margin-left: 140px;

          @media (max-width: $screen-sm-max) {
            margin-right: 0;
            margin-left: 0;
          }
        };

        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          @media (max-width: $screen-sm-max) {
            justify-content: flex-start;
          }
        }

        li {
          max-width: 376px;
          width: 100%;
        }
      }
    }
  }

  .content {
    max-width: 482px;
    margin: 232px 0 184px;

    @media (max-width: $screen-sm-max) {
      max-width: 100%;
      margin: 60px auto;
    }
  }

  aside {
    background: #F6F8FB;
    padding-top: 114px;
    padding-bottom: 120px;

    p {
      color: #414D5C;
    }

    .content {
      max-width: 432px;
      margin: 0 auto;
      text-align: center;
      display: block;
    }
  }

  .get-started {
    max-width: 700px;
  }
}

.resources {
  margin-top: 96px;
}
@import '../../components/resources_read_more';