ionic-signup-form {
  width: 100%;

  section {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
  }

  #signup-form {
    margin-top: 12px;
    margin-bottom: 48px;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 1fr 1fr;
  }

  ui-floating-input:not(:nth-child(1)):not(:nth-child(2)),
  #submit {
    grid-column: 1 / 3;
  }

  ui-floating-input {
    position: relative;

    .form-message {
      position: absolute;
      top: 100%;
    }
  }

  #submit {
    &:disabled {
      background: #E9EDF3;
      color: #B2BECD;
      box-shadow: none;
    }
  }

  .form-errors {
    margin-bottom: 12px;
    text-align: center;
    font-weight: bold;
    color: var(--c-red-800);
    background-color: var(--c-red-0);
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
  }

  .well {
    text-align: center;
    color: #414D5C;
  }

  .disclaimer {
    margin: 12px 0 24px;
    font-size: 12px;
    text-align: center;

    &,
    a {
      color: #92A0B3;
    }

    a {
      border-bottom: 1px solid #CED6E0;
    }
  }

  .btn {
    border-radius: 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
