ionic-signup-form {
  display: block;

  #github {
    background-color: #24292e;

    ion-icon {
      margin: 0px 8px;
    }
  }

  #bitbucket {
    background-color: #0052cc;

    ion-icon {
      margin: 0px 8px;
    }
  }

  button {
    justify-content: center;
  }

  ui-floating-input {
    margin-bottom: 25px;
  }

  .well {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 100%;
    border: 1px solid #E1E5ED;
    border-radius: 6px;
    margin-top: 16px;
    color: #3B424D;
    font-size: 14px;
    font-weight: 600;

    .text-link {
      margin-left: 5px;
    }
  }

  .disclaimer {
    margin-top: 16px;
  }

  .form-errors {
    margin: 24px 0;
    text-align: center;
    font-weight: bold;
    color: var(--c-red-800);
  }
}
