ionic-signup-form {
  --row-gap: 10px;
  width: 100%;

  section {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
  }

  hgroup {
    text-align: center;

    h2 {
      font-size: 32px;
      line-height: 1;
      letter-spacing: -0.03em;
    }

    p {
      font-weight: normal;
      font-size: 18px;
      letter-spacing: -0.02em;
      margin-top: 16px;
      color: #414D5C;
    }
  }

  #signup-form {
    margin-top: var(--row-gap);
    margin-bottom: 32px;
    display: grid;
    grid-gap: var(--row-gap);
    grid-auto-flow: row;

    ui-floating-input {
      position: relative;
      margin-bottom: 0;

      .form-message {
        position: absolute;
        top: 100%;
      }
    }
  }


  #submit {
    &:disabled {
      background: #E9EDF3;
      color: #B2BECD;
      box-shadow: none;
    }
  }

  .form-errors {
    margin-bottom: var(--row-gap);
    text-align: center;
    font-weight: bold;
    color: var(--c-red-800);
    background-color: var(--c-red-0);
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
  }

  .login-prompt {
    text-align: center;
    color: #414D5C;
  }

  .disclaimer {
    margin: var(--row-gap) 0 0;
    font-size: 12px;
    text-align: center;

    &,
    a {
      color: #92A0B3;
    }

    a {
      border-bottom: 1px solid #CED6E0;
    }
  }

  .btn {
    border-radius: 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }
}
