ionic-signup-form {
  display: block;

  #submit {
    justify-content: center;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.1em;
    font-weight: bold;

    &:disabled {
      background: #E9EDF3;
      color: #B2BECD;
      box-shadow: none;
    }
  }


  ui-floating-input {
    margin-bottom: 25px;
  }

  .well {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 100%;
    border: 1px solid #E1E5ED;
    border-radius: 6px;
    margin-top: 16px;
    color: #3B424D;
    font-size: 14px;
    font-weight: 600;

    .text-link {
      margin-left: 5px;
    }
  }

  .disclaimer {
    margin-top: 16px;
  }

  .form-errors {
    margin: 24px 0;
    text-align: center;
    font-weight: bold;
    color: var(--c-red-800);
  }
}
