#page-integrations {
  background: url('/img/integrations/integrations-hero-bg.png');
  background-repeat: repeat-x;
  background-size: 1680px;
  background-position: center -20px;

  &.show {
    display: block;
  }

  &.hide {
    display: none;
  }

  .integrations-hero {
    text-align: center;
    margin: 100px 0;

    h1 {
      font-size: 48px;
      letter-spacing: -0.02em;
      color: #000000;
    }

    p {
      font-size: 24px;
      letter-spacing: -0.02em;
      color: #394D71;
    }
  }

  .integrations-featured {

  }

  .integrations-featured__list{
    display: flex;
    margin-left: -8px;
  }

  .integrations-list {
    display: flex;
    margin: 100px 0 140px;
  }

  .integrations-list__filter {
    flex: 0 0 200px;

    h4 {
      font-weight: 600;
      font-size: 11px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #92A0B9;
      margin-bottom: 14px;
    }
  }

  .integrations-searchbox {
    position: relative;

    ion-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &[name="search"] {
        color: #3880FF;
        left: 11px;
      }

      &[name="close"] {
        transition: opacity 0.3s;
        right: 11px;
        pointer-events: none;
        color: rgba(69, 88, 121, 0.75);
        opacity: 0;
      }
    }

    input {
      border-radius: 100px;
      border: none;
      outline: none;
      background: #F5F8FC;
      font-size: 14px;
      padding: 8px 30px;
      color: #455879;

      &::placeholder {
        color: #8E9FBC;
      }
    }

    &.active {
      ion-icon[name="close"] {
        opacity: 1;
        pointer-events: all;
        cursor: pointer;
      }
    }
  }

  .integrations-category-filter a,
  .integrations-check__label {
    font-family: $font-family-eina;
    font-weight: 600;
    line-height: 1;
    font-size: 14px;
    color: #2C3B55;
  }


  .integrations-toggles {
    margin: 36px 0;

    .integrations-check,
    .integrations-check__label,
    .integrations-check__input {
      cursor: pointer;
    }

    .integrations-check + .integrations-check {
      margin-top: 6px;
    }

    .integrations-check__label {
      margin-left: 6px;
    }
  }


  .integrations-category-filter {
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: opacity 0.3s;

    li a {
      transition: color 0.3s;
      height: 20px;
      display: flex;
      align-items: center;
      outline: none;
      text-decoration: none;

      &:hover {
        color: #3880FF;
      }
    }

    li + li {
      margin-top: 12px;
    }

    &:not(.disable) li.active a {
      pointer-events: none;
      color: #3880FF;
      padding-left: 8px;
      border-left: 2px solid rgba(56, 128, 255, 0.4);
    }

    &.disable {
      cursor: not-allowed;
      opacity: 0.4;

      a {
        pointer-events: none;
      }
    }
  }



  .integrations-list__results {
    margin-left: 80px;
    flex: 1 0 auto;
  }

  .integrations-list__results-category {
    &:not(:first-child) {
      margin-top: 64px;
    }
  }

  .integrations-list__results-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 8px;

    h4 {
      font-size: 20px;
      font-weight: 600;
    }

    a {
      font-weight: 600;
      font-size: 16px;
      font-family: $font-family-eina;

      ion-icon {
        transition: transform 0.3s;
        transform: translate(0, 1px);
      }

      &:hover ion-icon {
        transform: translate(2px, 1px);
      }
    }
  }

  .integrations-list__results-row {
    display: flex;
    margin-left: -8px;
  }

  .integrations-list__results-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;

    .integrations-card {
      margin-bottom: 16px;
    }
  }

  .integrations-list__empty-row {
    opacity: 0.5;
    margin-left: 8px;
  }

  .integrations-list__results-form {
    display: none;
    background: #F6F8FB;
    border-radius: 16px;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    h3 {
      text-align: center;
      max-width: 400px;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      font-size: 22px;
      font-weight: 600;
      line-height: 30px;
      color: #000;
    }

    &.show {
      display: flex;
    }

    .hs_submit {
      text-align: center;
    }
  }

  .integrations-list__results-search {
    display: none;
  }

  .integrations-list__empty-message {
    text-align: center;
    display: block;
    margin-bottom: 48px;
    font-size: 16px;
    width: 100%;

    b {
      font-weight: 600;
    }
  }
}

@media (max-width: $screen-sm) {
  .integrations-featured {
    overflow-x: scroll;
    padding-bottom: 18px;

    .container {
      padding: 0;
    }
  }
}
