#docs-page-native {
  h1.banner {
    height: 178px;
    background: no-repeat center top url('/img/docs/native/native3.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    position: relative;
    padding-top: 92px;
    margin-top: -50px;
    margin-left: -40px;
    margin-right: -40px;
    margin-bottom: 64px;
    padding-bottom: 150px;
    padding-left: 50px;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 14px;
    font-weight: 500;
    overflow: hidden;
    text-shadow: 0 1px 4px rgba(0,0,0,.1);

    &::before {
      background: no-repeat center top url('/img/docs/resources/resources-header-icon.png');
      background-size: 60px;
      height: 60px;
      width: 60px;
      content: '';
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -5px;
      margin-right: 20px;
    }
  }
  .show-old {
    i {
      position: relative;
      top: 1px;
      display: inline-block;
      transition: .2s transform;
    }

    &.active i {
      transform: rotate(90deg);
    }
  }
}


.docs-container .installation li {
  font-size:15px;
  margin-bottom:10px;

  pre {
    margin-top:10px;
  }
}