#search-results {
  display: none;
  position: absolute;
  top: 77px;
  left: 233px;
  right: 0;
  bottom: 0;
  background: rgba(white, .97);
  padding: 30px 0 30px 40px;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  opacity: 0;
  transform: translate3d(0, -50px, 0);
  transition: all .3s;

  &.sidebar {
    top: 0;
    transform: translate3d(-50px, 0, 0);


  }

  &.index {
    top: 320px;
    position: absolute;
  }

  &.ready {
    display: flex;
  }

  &.active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  > div {
    flex: 1 0 245px;
    margin-right: 40px;

    &:first-child {
      flex: 1 0 560px;

      ul {
        display: flex;
        flex-wrap: wrap;

        li {
          flex: 1 0 150px;
          margin-right: 5px;
        }
      }
    }
  }

  h3 {
    color: $blue;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;

    &::after {
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      height: 3px;
      background: $blue;
      height: 2px;
      content: '';
    }
  }

  ul {
    list-style: none;
    padding: 2px 0 0;

    li {
      margin-top: 20px;

      a {
        color: $darkish-grey;
        font-weight: 500;
        line-height: 1.4em;
        text-decoration: none;
        transition: color .2s;
        font-size: 13px;

        &:hover,
        &:active {
          text-decoration: none;
          color: $blue;
        }
      }
    }
  }

  &.resources {
    position: absolute;
    top: 580px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);

    @media (max-width: $screen-xs-max) {
      max-width: 300px;
      left: 0;
    }

    #results-api,
    #results-native,
    #results-other h3 {
      display: none;
    }

    #results-other li a {
      color: $blue;
      font-size: 14px;
      font-weight: 400;
      transition: .3s color;

      &:hover {
        color: darken($blue, 10);
      }
    }

    @media (max-width: $screen-xs-max) {
      top: 553px;
    }
  }

  @media (max-width: $screen-xs-max) {
    left: 0;
    z-index: 10000;
    top: 100px;

    &.sidebar {
      top: 127px;
    }

    &.active {
      display: block;
    }
  }
}
