<!DOCTYPE html>
<html lang="en">
  <head>
    {% include v2_fluid/header_tags.html %}

    <title>{{page.title}}{% if page.header_sub_title %} - {{ page.header_sub_title}}{% endif %} -  Ionic Framework</title>

  </head>
  <body id="docs-page-{{page.id}}"
        class="v2 docs page-{{page.id}}"
        data-spy="scroll"
        data-target="#components-index"
        ng-app="IonicDocs">
    {% include v2_fluid/io_header.html %}
    <div class="docs-container"
         {% if page.angular_controller %}
           ng-controller="{{ page.angular_controller }}"
         {% endif %}>
      <nav class="side-nav" id="side-nav">
        <form class="form-group search" role="search">
          <input type="text"
                 class="form-control search-input"
                 placeholder="Search"
                 data-searchpos="sidebar"
                 ng-model="searchTerm">
        </form>
        {% if page.category == 'api' %}
          {% include v2_fluid/docs_side_nav_api.html %}
        {% else %}
          {% include v2_fluid/docs_side_nav_main.html %}
        {% endif %}
      </nav>
      {% if page.show_preview_device %}
      <aside id="platform-preview" class="platform-preview">
        <div class="platform-toggle">
          <a ng-class="{active: iosActive}"
             ng-click="setPlatform('ios')">iOS</a>
          <a ng-class="{active: androidActive}"
             ng-click="setPlatform('android')">Android</a>
        </div>
        <div id="demo-device-ios" ng-class="previewPlatform">
          <iframe id="demo-ios"
                {% if page.preview_device_url %}
                  src="{{ page.preview_device_url }}?ionicplatform=ios"
                {% else %}
                  src="/dist/preview-app/www/?ionicplatform=ios"
                {% endif %}
                  frameborder="0">
          </iframe>
        </div>
        <div id="demo-device-android" ng-class="previewPlatform">
          <iframe id="demo-android"
                {% if page.preview_device_url %}
                  src="{{ page.preview_device_url }}?ionicplatform=android"
                {% else %}
                  src="/dist/preview-app/www/?ionicplatform=android"
                {% endif %}
                  frameborder="0">
          </iframe>
        </div>
      </aside>
      {% endif %}
      <main>
        {{ content }}
      </main>
    </div>
    {% if page.prev_page_title  or page.next_page_title %}
    <div class="footer-links">
      <hr>
      {% if page.prev_page_title and page.prev_page_link %}
        <a class="footer-link prev" href="{{page.prev_page_link}}">
          {{page.prev_page_title}}</a>
      {% endif %}
      {% if page.next_page_title and page.next_page_link %}
        <a class="footer-link next" href="{{page.next_page_link}}">
          {{page.next_page_title}}</a>
      {% endif %}
    </div>
    {% endif %}
    {% include v2_fluid/footer_tags.html %}
    <div id="search-results">
      <div id="results-api">
        <h3>API</h3>
        <ul></ul>
      </div>
      <div id="results-platform">
        <h3>Native</h3>
        <ul></ul>
      </div>
      <div id="results-other">
        <h3>General</h3>
        <ul></ul>
      </div>
    </div>
  </body>
</html>
