---
layout: v2_fluid/docs_base
category: cli
title: Ionic 2 | CLI | Generators
header_title: Ionic CLI
header_sub_title: Ionic 2 Developer Preview
---

{% for command in site.data.cliData %}
  {% if page.command_name == command.name %}

    {% if page.command_name %}
      <h1 style="margin-bottom: 2em">{{ page.command_name }}</h1>
    {% endif %}

    <table class="table param-table" style="margin:0;">
      <thead>
        <tr>
          <th>Command</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            ionic {{command.name}}
          </td>
          <td>
            {{command.summary}}
          </td>
        </tr>
      </tbody>

      {% if command.options %}
        <thead>
          <tr>
            <th>Flags</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for opt in command.options %}
          <tr>
            <td>
              {{opt[0]}}
            </td>
            <td>
              {{opt[1].title}}
            </td>
            {% endfor %}
          </tr>
        </tbody>
      {% endif %}


    </table>
  {% endif %}
{% endfor %}

{{content}}

