<!DOCTYPE html>
<html lang="en">
  <head>
    {% include v2_fluid/header_tags.html %}

    <title>{{page.title}}{% if page.header_sub_title %} - {{ page.header_sub_title}}{% endif %} -  Ionic Framework</title>

  </head>
  <body id="docs-page-{{page.id}}" class="v2 docs page-{{page.id}}">
    {% include v2_fluid/io_header.html %}
    <div class="docs-container" ng-app="IonicDocs">
      <nav class="side-nav">
        {% include v2_fluid/docs_menu_2.0.0-alpha-1.html %}
      </nav>
      <!-- <aside class="platform-preview">
        <div class="platform-toggle">
          <a class="active" ng-click="setPlatform('ios')">iOS</a>
          <a ng-click="setPlatform('android')">Android</a>
          <a ng-click="setPlatform('windows')">Windows</a>
        </div>
        <div id="demo-device" class="ios"><iframe src="" frameborder="0"></iframe></div>
      </aside> -->
      <main>
        {{ content }}
      </main>
    </div>
  </body>
</html>
