{% extends '_layouts/base.html' %}
{% set id = 'products-enterprise' %}
{% set mixpanelEnabled = true %}
{% set bodyController = "ProductsPageCtrl" %}

{% block header_style %}transparent{% endblock %}

{% block body_attributes %}
  data-spy="scroll"
  data-target="#platform-nav"
  data-offset="100"
{% endblock %}

{% block main %}

<div class="cta gradient">
  <hgroup class="container">
    <h1>Ionic Enterprise Cloud</h1>
    <p>
      <strong>Build robust &amp; secure apps faster.</strong> Ionic takes care of the
      rest, with a suite of powerful mobile development tools and services with enterprise-grade
      capabilities.
    </p>
  </hgroup>
</div>

<main>

  <section class="hero" id="prototyping">
    <div class="container">
      <div class="content">
        <h2>Enterprise Cloud Integration</h2>
        <p>
          Ease development with our exclusive enterprise framework capabilities. Take advantage of configurable components
          and pages that let you access capabilities such as offline data syncing, corporate authentication, code-in-the-cloud,
          and much more!  
        </p>
      </div>
    </div>
  </section>

  <section class="framework hero" id="framework">
    <div class="container">
      <div class="content dark">
        <h2>Security First</h2>
        <p>
          Stay in control with deeper Organization capabilities like roles and permissions. Authenticate with single sign-on through existing
          systems like Microsfot Active Directory, PingFederation, and Okta. Review audit logs for peace of mind and to know who's doing what.
        </p>
      </div>
    </div>
  </section>

  <section class="packaging hero" id="packaging">
    <div class="container">
      <div class="content dark">
        <h2>Mobile Platform Integrations</h2>
        <p>
          Whether you're already an existing user or ready to leverage the power of existing
          Mobile Platform providers like AWS or Azure we get you moving faster with direct integrations so
          you can focus more on your app code and not configuring services.
        </p>
      </div>
    </div>
  </section>
  
  <section class="hero" id="enterprise-contact">
    <div class="container">
      <div class="content">
        <h2>Interested in learning more?</h2>
        <p>
          Tell us a bit more about your project and needs and we'll get back to you.
        </p>
        <form action="" method="POST">
          <div>
            <input type="text" name="text_first_name" placeholder="First name*" class="form-control"> 
          </div>
          <div>
            <input type="text" name="text_last_name" placeholder="Last name*" class="form-control"> 
          </div>
          <div>
            <input type="text" name="text_email" placeholder="Email*" class="form-control"> 
          </div>
          <div>
            <input type="text" name="text_phone" placeholder="Phone Number" class="form-control"> 
          </div>
          <div>
            <input type="text" name="text_company_name" placeholder="Company*" class="form-control"> 
          </div>
          <div>
            <select name="country" class="form-control">
              <option value="">Country</option>
              <option value="United States">United States</option>
              <option value="Afghanistan">Afghanistan</option>
              <option value="Aland Islands">Aland Islands</option>
              <option value="Albania">Albania</option>
              <option value="Algeria">Algeria</option>
              <option value="Andorra">Andorra</option>
              <option value="Angola">Angola</option>
              <option value="Anguilla">Anguilla</option>
              <option value="Antarctica">Antarctica</option>
              <option value="Antigua and Barbuda">Antigua and Barbuda</option>
              <option value="Argentina">Argentina</option>
              <option value="Armenia">Armenia</option>
              <option value="Aruba">Aruba</option>
              <option value="Australia">Australia</option>
              <option value="Austria">Austria</option>
              <option value="Azerbaijan">Azerbaijan</option>
              <option value="Bahamas">Bahamas</option>
              <option value="Bahrain">Bahrain</option>
              <option value="Bangladesh">Bangladesh</option>
              <option value="Barbados">Barbados</option>
              <option value="Belarus">Belarus</option>
              <option value="Belgium">Belgium</option>
              <option value="Belize">Belize</option>
              <option value="Benin">Benin</option>
              <option value="Bermuda">Bermuda</option>
              <option value="Bhutan">Bhutan</option>
              <option value="Bolivia, Plurinational State of">Bolivia, Plurinational State of</option>
              <option value="Bonaire, Sint Eustatius and Saba">Bonaire, Sint Eustatius and Saba</option>
              <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
              <option value="Botswana">Botswana</option>
              <option value="Bouvet Island">Bouvet Island</option>
              <option value="Brazil">Brazil</option>
              <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
              <option value="Brunei Darussalam">Brunei Darussalam</option>
              <option value="Bulgaria">Bulgaria</option>
              <option value="Burkina Faso">Burkina Faso</option>
              <option value="Burundi">Burundi</option>
              <option value="Cambodia">Cambodia</option>
              <option value="Cameroon">Cameroon</option>
              <option value="Canada">Canada</option>
              <option value="Cape Verde">Cape Verde</option>
              <option value="Cayman Islands">Cayman Islands</option>
              <option value="Central African Republic">Central African Republic</option>
              <option value="Chad">Chad</option>
              <option value="Chile">Chile</option>
              <option value="China">China</option>
              <option value="Chinese Taipei">Chinese Taipei</option>
              <option value="Christmas Island">Christmas Island</option>
              <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
              <option value="Colombia">Colombia</option>
              <option value="Comoros">Comoros</option>
              <option value="Congo">Congo</option>
              <option value="Congo, the Democratic Republic of the">Congo, the Democratic Republic of the</option>
              <option value="Cook Islands">Cook Islands</option>
              <option value="Costa Rica">Costa Rica</option>
              <option value="Cote d’Ivoire">Cote d’Ivoire</option>
              <option value="Croatia">Croatia</option>
              <option value="Cuba">Cuba</option>
              <option value="Curaçao">Curaçao</option>
              <option value="Cyprus">Cyprus</option>
              <option value="Czech Republic">Czech Republic</option>
              <option value="Denmark">Denmark</option>
              <option value="Djibouti">Djibouti</option>
              <option value="Dominica">Dominica</option>
              <option value="Dominican Republic">Dominican Republic</option>
              <option value="Ecuador">Ecuador</option>
              <option value="Egypt">Egypt</option>
              <option value="El Salvador">El Salvador</option>
              <option value="Equatorial Guinea">Equatorial Guinea</option>
              <option value="Eritrea">Eritrea</option>
              <option value="Estonia">Estonia</option>
              <option value="Ethiopia">Ethiopia</option>
              <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
              <option value="Faroe Islands">Faroe Islands</option>
              <option value="Fiji">Fiji</option>
              <option value="Finland">Finland</option>
              <option value="France">France</option>
              <option value="French Guiana">French Guiana</option>
              <option value="French Polynesia">French Polynesia</option>
              <option value="French Southern Territories">French Southern Territories</option>
              <option value="Gabon">Gabon</option>
              <option value="Gambia">Gambia</option>
              <option value="Georgia">Georgia</option>
              <option value="Germany">Germany</option>
              <option value="Ghana">Ghana</option>
              <option value="Gibraltar">Gibraltar</option>
              <option value="Greece">Greece</option>
              <option value="Greenland">Greenland</option>
              <option value="Grenada">Grenada</option>
              <option value="Guadeloupe">Guadeloupe</option>
              <option value="Guatemala">Guatemala</option>
              <option value="Guernsey">Guernsey</option>
              <option value="Guinea">Guinea</option>
              <option value="Guinea-Bissau">Guinea-Bissau</option>
              <option value="Guyana">Guyana</option>
              <option value="Haiti">Haiti</option>
              <option value="Heard Island and McDonald Islands">Heard Island and McDonald Islands</option>
              <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
              <option value="Honduras">Honduras</option>
              <option value="Hungary">Hungary</option>
              <option value="Iceland">Iceland</option>
              <option value="India">India</option>
              <option value="Indonesia">Indonesia</option>
              <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
              <option value="Iraq">Iraq</option>
              <option value="Ireland">Ireland</option>
              <option value="Isle of Man">Isle of Man</option>
              <option value="Israel">Israel</option>
              <option value="Italy">Italy</option>
              <option value="Jamaica">Jamaica</option>
              <option value="Japan">Japan</option>
              <option value="Jersey">Jersey</option>
              <option value="Jordan">Jordan</option>
              <option value="Kazakhstan">Kazakhstan</option>
              <option value="Kenya">Kenya</option>
              <option value="Kiribati">Kiribati</option>
              <option value="Korea, Democratic People’s Republic of">Korea, Democratic People’s Republic of</option>
              <option value="Korea, Republic of">Korea, Republic of</option>
              <option value="Kuwait">Kuwait</option>
              <option value="Kyrgyzstan">Kyrgyzstan</option>
              <option value="Lao People’s Democratic Republic">Lao People’s Democratic Republic</option>
              <option value="Latvia">Latvia</option>
              <option value="Lebanon">Lebanon</option>
              <option value="Lesotho">Lesotho</option>
              <option value="Liberia">Liberia</option>
              <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
              <option value="Liechtenstein">Liechtenstein</option>
              <option value="Lithuania">Lithuania</option>
              <option value="Luxembourg">Luxembourg</option>
              <option value="Macao">Macao</option>
              <option value="Macedonia, the former Yugoslav Republic of">Macedonia, the former Yugoslav Republic of</option>
              <option value="Madagascar">Madagascar</option>
              <option value="Malawi">Malawi</option>
              <option value="Malaysia">Malaysia</option>
              <option value="Maldives">Maldives</option>
              <option value="Mali">Mali</option>
              <option value="Malta">Malta</option>
              <option value="Martinique">Martinique</option>
              <option value="Mauritania">Mauritania</option>
              <option value="Mauritius">Mauritius</option>
              <option value="Mayotte">Mayotte</option>
              <option value="Mexico">Mexico</option>
              <option value="Moldova, Republic of">Moldova, Republic of</option>
              <option value="Monaco">Monaco</option>
              <option value="Mongolia">Mongolia</option>
              <option value="Montenegro">Montenegro</option>
              <option value="Montserrat">Montserrat</option>
              <option value="Morocco">Morocco</option>
              <option value="Mozambique">Mozambique</option>
              <option value="Myanmar">Myanmar</option>
              <option value="Namibia">Namibia</option>
              <option value="Nauru">Nauru</option>
              <option value="Nepal">Nepal</option>
              <option value="Netherlands">Netherlands</option>
              <option value="New Caledonia">New Caledonia</option>
              <option value="New Zealand">New Zealand</option>
              <option value="Nicaragua">Nicaragua</option>
              <option value="Niger">Niger</option>
              <option value="Nigeria">Nigeria</option>
              <option value="Niue">Niue</option>
              <option value="Norfolk Island">Norfolk Island</option>
              <option value="Norway">Norway</option>
              <option value="Oman">Oman</option>
              <option value="Pakistan">Pakistan</option>
              <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
              <option value="Panama">Panama</option>
              <option value="Papua New Guinea">Papua New Guinea</option>
              <option value="Paraguay">Paraguay</option>
              <option value="Peru">Peru</option>
              <option value="Philippines">Philippines</option>
              <option value="Pitcairn">Pitcairn</option>
              <option value="Poland">Poland</option>
              <option value="Portugal">Portugal</option>
              <option value="Qatar">Qatar</option>
              <option value="Reunion">Reunion</option>
              <option value="Romania">Romania</option>
              <option value="Russian Federation">Russian Federation</option>
              <option value="Rwanda">Rwanda</option>
              <option value="Saint Barthélemy">Saint Barthélemy</option>
              <option value="Saint Helena, Ascension and Tristan da Cunha">Saint Helena, Ascension and Tristan da Cunha</option>
              <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
              <option value="Saint Lucia">Saint Lucia</option>
              <option value="Saint Martin (French part)">Saint Martin (French part)</option>
              <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
              <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
              <option value="Samoa">Samoa</option>
              <option value="San Marino">San Marino</option>
              <option value="Sao Tome and Principe">Sao Tome and Principe</option>
              <option value="Saudi Arabia">Saudi Arabia</option>
              <option value="Senegal">Senegal</option>
              <option value="Serbia">Serbia</option>
              <option value="Seychelles">Seychelles</option>
              <option value="Sierra Leone">Sierra Leone</option>
              <option value="Singapore">Singapore</option>
              <option value="Sint Maarten (Dutch part)">Sint Maarten (Dutch part)</option>
              <option value="Slovakia">Slovakia</option>
              <option value="Slovenia">Slovenia</option>
              <option value="Solomon Islands">Solomon Islands</option>
              <option value="Somalia">Somalia</option>
              <option value="South Africa">South Africa</option>
              <option value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
              <option value="South Sudan">South Sudan</option>
              <option value="Spain">Spain</option>
              <option value="Sri Lanka">Sri Lanka</option>
              <option value="Sudan">Sudan</option>
              <option value="Suriname">Suriname</option>
              <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
              <option value="Swaziland">Swaziland</option>
              <option value="Sweden">Sweden</option>
              <option value="Switzerland">Switzerland</option>
              <option value="Syrian Arab Republic">Syrian Arab Republic</option>
              <option value="Tajikistan">Tajikistan</option>
              <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
              <option value="Thailand">Thailand</option>
              <option value="Timor-Leste">Timor-Leste</option>
              <option value="Togo">Togo</option>
              <option value="Tokelau">Tokelau</option>
              <option value="Tonga">Tonga</option>
              <option value="Trinidad and Tobago">Trinidad and Tobago</option>
              <option value="Tunisia">Tunisia</option>
              <option value="Turkey">Turkey</option>
              <option value="Turkmenistan">Turkmenistan</option>
              <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
              <option value="Tuvalu">Tuvalu</option>
              <option value="Uganda">Uganda</option>
              <option value="Ukraine">Ukraine</option>
              <option value="United Arab Emirates">United Arab Emirates</option>
              <option value="United Kingdom">United Kingdom</option>
              <option value="Uruguay">Uruguay</option>
              <option value="Uzbekistan">Uzbekistan</option>
              <option value="Vanuatu">Vanuatu</option>
              <option value="Venezuela, Bolivarian Republic of">Venezuela, Bolivarian Republic of</option>
              <option value="Vietnam">Vietnam</option>
              <option value="Virgin Islands, British">Virgin Islands, British</option>
              <option value="Wallis and Futuna">Wallis and Futuna</option>
              <option value="Western Sahara">Western Sahara</option>
              <option value="Yemen">Yemen</option>
              <option value="Zambia">Zambia</option>
              <option value="Zimbabwe">Zimbabwe</option>
            </select>
          </div>
          <div>
            <textarea name="message" placeholder="Send us a message*" class="form-control"></textarea>
          </div>
          <div>
            <input class="btn btn-primary btn-lg" type="submit" value="Send">
          </div>
        </form>
      </div>
    </div>
  </section>

  
</main>
{% endblock %}

{% block scripts %}
<div class="modal fade pricing-survey" 
     id="myModal" 
     tabindex="-1" 
     role="dialog" 
     aria-labelledby="myModalLabel"
     ng-controller="PricingFormCtrl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" 
                class="close" 
                data-dismiss="modal" 
                aria-label="Close"
                id="modal-close"
                onclick="c('Pricing','FormClose')"></button>
        <h2 ng-show="section==1" class="modal-title">Let's talk</h2> 
        <h2 ng-show="section!=1 && section!=5" class="modal-title">Got it, thanks!</h2> 
        <h2 ng-show="section==5" class="modal-title">That's it!</h2> 
        <!--<p>
          We're currently evaluating this product and would love your feedback
        </p>-->
        
      </div>
      <div class="modal-body">
        <form id="pricingInterestedForm">

          <div ng-show="section==1">

            <!--<img src="/img/products/mattkremer.jpg" class="matt-picture" />-->

            <div class="matt-talking">
              <!-- <p>Hey there,</p> -->

              <p>
                Thanks for showing interest in what we have to offer. We're 
                currently evaluating this package, and would love to <i>reach 
                out to you to talk about your exact needs after learning a 
                little more about you</i>.
              </p>

              <p>Fill out this survey and we'll be in touch!</p>

              <!-- <p>Thanks,<br />Matt</p> -->

              <!-- <img src="/img/products/signature.png" class="matt-signature" /> -->
            </div>

            <div class="form-group small-form">
              <label for="name" class="control-label">
                Name
              </label>
              <input type="text" 
                     class="form-control" 
                     id="name"
                     name="name"
                     ng-model="form.name">
            </div>

            <div class="form-group small-form">
              <label for="email" class="control-label">
                Email
              </label>
              <input type="email" 
                     class="form-control" 
                     id="email"
                     name="email"
                     ng-model="form.email"
                     ng-enter="nextSection(form)">
            </div>
          </div>

          <div ng-show="section==2">

            <!-- <img src="/img/products/mattkremer.jpg" class="matt-picture-small" /> -->

            <div class="matt-talking one-line">
              <p>How did you feel about the offering?</p>
            </div>

            <div class="form-group">
              <label for="would-this-offering" class="control-label">
                Would this offering solve any problems you currently have?
              </label><br>
              <label class="radio-inline">
                <input type="radio" 
                       name="solve_problems" 
                       id="solve_problems_yes" 
                       ng-value="true"
                       ng-model="form.solve_problems"> Yes
              </label>
              <label class="radio-inline">
                <input type="radio" 
                       name="solve_problems" 
                       id="solve_problems_no" 
                       ng-value="false"
                       ng-model="form.solve_problems"> No
              </label>
            </div>
            <div class="form-group">
            <label class="control-label">
              Is there anything in this offering you wouldn't use?
            </label><br>
            <label class="checkbox-inline">
              <input type="checkbox" 
                     value="unused_features_creator" 
                     name="unused_features_creator"
                     ng-model="form.unused_features.creator"> 
              Prototyping
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" 
                     value="unused_features_view"
                     ng-model="form.unused_features.view"> 
              Device Preview/Testing
            </label>
            <br>
            <label class="checkbox-inline">
              <input type="checkbox" 
                     value="unused_features_deploy"
                     name="unused_features_deploy"
                     ng-model="form.unused_features.deploy"> 
              Live Updates
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" 
                     value="unused_features_package"
                     name="unused_features_package"
                     ng-model="form.unused_features.package"> 
              Cloud Builds
            </label>
          </div>

          <!--<div class="form-group">
            <label class="control-label">
              Is there anything missing from this offering that would prevent 
              you from buying it?
            </label><br>
            <label class="radio-inline">
              <input type="radio" 
                     name="missing_purchase" 
                     id="missing_purchase_yes" 
                     ng-value="true"
                     ng-model="form.missing_purchase"> Yes
            </label>
            <label class="radio-inline">
              <input type="radio" 
                     name="missing_purchase" 
                     id="missing_purchase_no" 
                     ng-value="false"
                     ng-model="form.missing_purchase"> No
            </label>
          </div>-->

          <div class="form-group">
            <label class="control-label">
              Is there anything missing in this offering that is critical to 
              your workflow?
            </label><br>
            <label class="radio-inline">
              <input type="radio" 
                     name="missing_workflow" 
                     id="missing_workflow_yes" 
                     ng-value="true"
                     ng-model="form.missing_workflow"> Yes
            </label>
            <label class="radio-inline">
              <input type="radio" 
                     name="missing_workflow" 
                     id="missing_workflow_no" 
                     ng-value="false"
                     ng-model="form.missing_workflow"> No
            </label>
          </div>
          </div>

          <div ng-show="section==3">

            <!-- <img src="/img/products/mattkremer.jpg" class="matt-picture-small" /> -->

            <div class="matt-talking one-line">
              <p>Great, now how about the price?</p>
            </div>

            <div class="form-group">
              <label for="if-this-package" class="control-label">
                If this package was Ionic’s only offering, and existed today for 
                $1999/user/year, would you buy it?
              </label><br>
              <label class="radio-inline">
                <input type="radio" 
                       name="would_buy" 
                       id="would_buy_yes" 
                       ng-value="true"
                       ng-model="form.would_buy"> Yes
              </label>
              <label class="radio-inline">
                <input type="radio" 
                       name="would_buy" 
                       id="would_buy_no" 
                       ng-value="false"
                       ng-model="form.would_buy"> No
              </label>
            </div>
            <div class="form-group">
              <label for="price" class="control-label">
                Is the offering presented
              </label>
              <select id="price" 
                      name="price" 
                      class="form-control" 
                      ng-model="form.price">
                <option value="null" disabled selected></option>
                <option value="inexpensive">Inexpensive</option>
                <option value="fair">Fair</option>
                <option value="expensive">Expensive</option>
                <option value="prohibitively expensive">
                  Prohibitively expensive
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="expensive_point" class="control-label">
                At what price point does this offering become prohibitively 
                expensive?
              </label>
              <input type="number" 
                     class="form-control" 
                     id="expensive_point"
                     name="expensive_point" 
                     ng-model="form.expensive_point">
            </div>
          </div>

          <div ng-show="section==4">
            <!-- <img src="/img/products/mattkremer.jpg" class="matt-picture-small" /> -->

            <div class="matt-talking one-line">
              <p>Just some final basic questions:</p>
            </div>

            <div class="form-group">
              <label for="company_size" class="control-label">Company Size</label>
              <select id="company_size" 
                      name="company_size" 
                      class="form-control" 
                      ng-model="form.company_size">
                <option ng-value="null" disabled selected></option>
                <option ng-value="1">Self Employed</option>
                <option ng-value="10">2-10</option>
                <option ng-value="50">11-50</option>
                <option ng-value="500">51-500</option>
                <option ng-value="1000">500+</option>
              </select>
            </div>

            <div class="form-group">
              <label for="have-you-ever" class="control-label">
                Have you ever used Ionic Creator or Ionic Cloud?
              </label><br>
              <label class="radio-inline">
                <input type="radio" 
                       name="used_services" 
                       id="used_services_yes" 
                       ng-value="true"
                       ng-model="form.used_services"> Yes
              </label>
              <label class="radio-inline">
                <input type="radio" 
                       name="used_services" 
                       id="used_services_no" 
                       ng-value="false"
                       ng-model="form.used_services"> No
              </label>
            </div>
          </div>

          <div ng-show="section==5">
            <div class="matt-talking one-line">
              <p>Thank you so much for your time, we'll reach out soon!</p>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" 
                class="btn btn-primary" 
                ng-show="section!==5" 
                ng-click="nextSection(form)">
          <span ng-show="section==4">Submit</span>
          <span ng-show="section!=4">Next</span>
        </button>
        <button type="button" 
                class="btn white" 
                ng-show="section==5"
                data-dismiss="modal" 
                aria-label="Close"
                onclick="c('Pricing','FormClose: Complete')">Close
        </button>
      </div>
    </div>
  </div>
</div>

<script>
var $form = document.querySelector('#pricingInterestedForm');
$form.addEventListener('change', function(e) {
  var $t = e['target'];
  window.c('Pricing',
           'FormFieldChange: ' + $t.getAttribute('name'), 
           null, 
           $t.getAttribute('value'));
});
</script>
{% endblock %}
