<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ionic: The Most Advanced HTML5 Mobile App Framework">
    <title>{{page.title}}</title>
    {% include head_styles.html %}
  </head>

  <body class="about {{page.body_css}}">

    {% include nav_links.html %}

    <div class="container content-container">

      <div class="row">

        <div class="col-md-2">

          <ul class="left-menu" id="about-menu">
            <li><a href="#">Why we built it</a>
            <li><a href="#license">License FAQs</a>
            <li><a href="#contribute">Contribute</a>
            <li><a href="/getting-started/">Getting started</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="https://github.com/driftyco/ionic">Github</a>
          </ul>
          
        </div>

        <div class="col-md-10 main-content">
          {{ content }}
        </div>

      </div>
      
    </div>
	
    {% include footer.html %}

    {% include base_scripts.html %}

  </body>
</html>