<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ionic: The Most Advanced HTML5 Mobile App Framework">
    <meta name="author" content="Drifty">
    <title>{{page.title}}</title>
    {% include head_includes.html %}
  </head>

  <body class="blog-page {{page.body_css}}">
    <div id="blog-wrapper">
      <div id="blog-top">
        <a href="/"><img src="/img/ionic_blog.png" height="96"></a>
        <h5>The Official <a href="/">Ionic Blog</a></h5>
      </div>
      <div id="posts">
        {{ content }}
      </div>
    </div>
	
    {% include footer.html %}

    {% include base_scripts.html %}

  </body>
</html>
