<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ionic is the most advanced HTML5 mobile app development framework. Ionic makes it incredibly easy to build performant, beautiful hybrid native apps using web technologies like HTML5, Javascript, CSS, and AngularJS.">
    <meta name="author" content="Drifty">

    <title>{{page.title}}</title>

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">
  </head>

  <body>
    {{ content }}

    <div class="container">
    </div>
    <footer>
      <div class="container">
        Copyright &copy; <a href="http://drifty.com/">Drifty</a> 2013
        <div class="pull-right credits">
          Built by <a href="http://twitter.com/helloimben">@helloimben</a> <a href="http://twitter.com/maxlynch">@maxlynch</a> and <a href="http://twitter.com/adamdbradley">@adamdbradley</a>
        </div>
      </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

  </body>

</html>
