<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.meta_description %}{{ page.meta_description }}{% else %}Ionic: The Most Advanced HTML5 Mobile App Framework{% endif %}">
    <meta name="author" content="Drifty">
    <title>{{page.title}}{% if page.title_sufix %}{{ page.title_sufix }}{% else %} - Ionic Framework{% endif %}</title>
    {% include head_includes.html %}
  </head>

  <body class="{{ page.body_class }}">

    {% include nav_links.html %}

    {% include header.html %}

    <div class="container content-container">

      {{ content }}
      
    </div>
  
    {% include footer.html %}

    {% include base_scripts.html %}

  </body>
</html>