<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ionic: The Most Advanced HTML5 Mobile App Framework">
    <meta name="author" content="Drifty">
    <title>{{page.title}}</title>
    {% include head_includes.html %}
    <link href="../dist/css/ionic-scoped.css" rel="stylesheet">
    <!--<script src="../dist/js/ionic.js"></script>-->
  </head>

  <body class="docs-page docs device-preview-page heading-tile">

    {% include nav_links.html %}

    <div class="row container header">
      <div class="col-lg-12">
        <h3>Documentation</h3>
        <h4>How to get the most out of Ionic.</h4>
        <ul>
          <li><a href="https://github.com/driftyco/ionic">Github Repo</a>
          <li><a href="https://github.com/driftyco/ionic/issues">Issues</a>
          <li><a href="/docs/change-log/">Change Log</a>
          <li><a href="/contribute/">Contribute</a>
        </ul>
      </div>
    </div>

    <div class="container content-container">

      <div class="row">

        <div class="col-md-2">

          <div class="docked-menu">

            <ul class="nav left-menu">
              <li class="active">
                <a href="#overview">Overview</a>
              </li>
              <li>
                <a href="#layout">Layout</a>
                <ul>
                  <li>
                    <a href="#header">Header</a>
                    <ul>
                      <li><a href="#subheader">Sub Header</a></li>
                    </ul>
                  </li>
                  <li><a href="#content">Content</a></li>
                  <li><a href="#footer">Footer</a></li>
                  <li><a href="#utility">Utility</a></li>
                </ul>
              </li>
              <li>
                <a href="#components">Components</a>
                <ul>
                  <li>
                    <a href="#buttons">Buttons</a>
                    <ul>
                      <li><a href="#block-buttons">Block</a></li>
                      <li><a href="#full-buttons">Full Width</a></li>
                      <li><a href="#outlined-buttons">Outlined</a></li>
                      <li><a href="#clear-buttons">Clear</a></li>
                      <li><a href="#buttons-headers-footers">Headers/Footers</a></li>
                      <li><a href="#clear-buttons-headers">Clear Buttons in Headers</a></li>
                      <li><a href="#button-bar">Button Bar</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#list">List</a>
                    <ul>
                      <li><a href="#list-dividers">Divider</a></li>
                      <li><a href="#list-icons">Icons</a></li>
                      <li><a href="#list-thumbnails">Thumbnails</a></li>
                      <li><a href="#list-thumbnails-lrg">Large Thumbnails</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#tabbar">Tab Bar</a>
                    <ul>
                      <li><a href="#text-only-tabbar">Text-only</a></li>
                      <li><a href="#icon-only-tabbar">Icon-only</a></li>
                      <li><a href="#icon-text-tabbar">Icon Text</a></li>
                    </ul>
                  </li>
                  <li><a href="#sidemenu">Side Menu</a></li>
                  <li>
                    <a href="#cards">Cards</a>
                    <ul>
                      <li><a href="#cards-headers-footers">Card Headers and Footers</a></li>
                      <li><a href="#card-lists">Card Lists</a></li>
                      <li><a href="#card-images">Card Images</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#forms">Forms</a>
                    <ul>
                      <li><a href="#forms-placeholder-labels">Placeholder Labels</a></li>
                      <li><a href="#forms-inline-labels">Inline Labels</a></li>
                      <li><a href="#forms-stacked-labels">Stacked Labels</a></li>
                    </ul>
                  </li>
                  <li><a href="#toggle">Toggle</a></li>
                  <li><a href="#checkbox">Checkbox</a></li>
                  <li><a href="#radio-buttons">Radio Buttons</a></li>
                  <li><a href="#range">Range</a></li>
                </ul>
              </li>
              <li>
                <a href="#view-controllers">View Controllers</a>
                <ul>
                  <li><a href="#navigation-stack">Navigation Stack</a></li>
                  <li><a href="#tabs">Tabs</a></li>
                  <li><a href="#modals">Modals</a></li>
                  <li><a href="#action-sheets">Action Sheets</a></li>
                  <li><a href="#popups">Popups</a></li>
                  <li><a href="#alerts">Alerts</a></li>
                </ul>
              </li>
            </ul>

          </div>
          
        </div>

        <div class="col-md-10 main-content">
          {{ content }}
        </div>

      </div>
      
    </div>
	
    {% include footer.html %}

    {% include base_scripts.html %}

  </body>
</html>
