<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ionic: The Most Advanced HTML5 Mobile App Framework">
    <meta name="author" content="Drifty">
    <title>{{page.title}}, v0.9.0 - Ionic Framework</title>
    {% include head_includes.html %}
  </head>

  <body class="docs-page docs device-preview-page">

    {% include nav_links.html %}

    {% include header.html %}

    <div class="container content-container">

      <div class="row">

        <div class="col-md-2">

          <div class="docked-menu">

            <ul class="nav left-menu">
              <li class="menu-title">Components</li>
              <li class="active">
                <a href="#header">Header</a>
                <ul>
                  <li><a href="#subheader">Sub Header</a></li>
                </ul>
              </li>
              <li><a href="#content">Content</a></li>
              <li><a href="#footer">Footer</a></li>
              <li>
                <a href="#buttons">Buttons</a>
                <ul>
                  <li><a href="#block-buttons">Block</a></li>
                  <li><a href="#full-buttons">Full Width</a></li>
                  <li><a href="#outlined-buttons">Outlined</a></li>
                  <li><a href="#clear-buttons">Clear</a></li>
                  <li><a href="#icon-buttons">Icons</a></li>
                  <li><a href="#buttons-headers-footers">Headers/Footers</a></li>
                  <li><a href="#clear-buttons-headers">Clear Buttons in Headers</a></li>
                  <li><a href="#button-bar">Button Bar</a></li>
                </ul>
              </li>
              <li>
                <a href="#list">List</a>
                <ul>
                  <li><a href="#item-dividers">Divider</a></li>
                  <li><a href="#item-icons">Icons</a></li>
                  <li><a href="#item-buttons">Buttons</a></li>
                  <li><a href="#item-avatars">Avatars</a></li>
                  <li><a href="#item-thumbnails">Thumbnails</a></li>
                </ul>
              </li>
              <li>
                <a href="#cards">Cards</a>
                <ul>
                  <li><a href="#card-headers-footers">Headers and Footers</a></li>
                  <li><a href="#card-lists">Lists</a></li>
                  <li><a href="#card-images">Images</a></li>
                  <li><a href="#card-showcase">Showcase</a></li>
                </ul>
              </li>
              <li>
                <a href="#forms">Forms</a>
                <ul>
                  <li><a href="#forms-placeholder-labels">Placeholder Labels</a></li>
                  <li><a href="#forms-inline-labels">Inline Labels</a></li>
                  <li><a href="#forms-stacked-labels">Stacked Labels</a></li>
                  <li><a href="#inset-forms">Inset</a></li>
                </ul>
              </li>
              <li><a href="#toggle">Toggle</a></li>
              <li><a href="#checkbox">Checkbox</a></li>
              <li><a href="#radio-buttons">Radio Buttons</a></li>
              <li><a href="#range">Range</a></li>
              <li>
                <a href="#tab-bar">Tab Bar</a>
                <ul>
                  <li><a href="#icon-only-tab-bar">Icon-only</a></li>
                  <li><a href="#icon-top-tab-bar">Top Icon</a></li>
                  <li><a href="#icon-left-tab-bar">Left Icon</a></li>
                </ul>
              </li>
              <li><a href="#sidemenu">Side Menu</a></li>
              <li>
                <a href="#utility">Utility</a>
                <ul>
                  <li><a href="#colors">Colors</a></li>
                  <li><a href="#icons">Icons</a></li>
                  <li><a href="#padding">Padding</a></li>
                  <li>
                    <a href="#grid">Grid</a>
                    <ul>
                      <li><a href="#grid-even">Even Columns</a></li>
                      <li><a href="#grid-explicit">Explicit Column Sized</a></li>
                      <li><a href="#grid-offset">Offset Columns</a></li>
                      <li><a href="#grid-vertically-align">Vertically Align Columns</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-title">API</li>
              <li><a href="#">Content</a></li>
              <li><a href="#">Header</a></li>
              <li><a href="#">List</a></li>
              <li><a href="#">Tab Bar</a></li>
              <li><a href="#">Side Menu</a></li>
              <li><a href="#">Modal</a></li>
              <li><a href="#">Action Sheet</a></li>
              <li><a href="#">Gestures</a></li>
            </ul>

          </div>
          
        </div>

        <div class="col-md-10 main-content">
          {{ content }}
        </div>

      </div>
      
    </div>

    <div class="continue-row">

      <div class="row ionic">

        <div class="col-sm-6 col-a">
          <h4>
            <a href="/getting-started/">Getting started <span class="icon ion-arrow-right-c"></span></a>
          </h4>
          <p>
            Learn more about how Ionic was built, why you should use it, and what's included. We'll cover
            the basics and help you get started from the ground up.
          </p>
        </div>

        <div class="col-sm-6 col-b">
          <h4>
            <a href="/docs/">Documentation <span class="icon ion-arrow-right-c"></span></a>
          </h4>
          <p>
            What are you waiting for? Take a look and get coding! Our documentation covers all you need to know
            to get an app up and running in minutes.
          </p>
        </div>

      </div>

    </div>
	
    {% include footer.html %}

    {% include base_scripts.html %}

  </body>
</html>