<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ionic: The Most Advanced HTML5 Mobile App Framework">
    <meta name="author" content="Drifty">
    <title>{{page.title}}</title>
    {% include head_includes.html %}
  </head>

  <body class="docs-page docs heading-tile">

    {% include nav_links.html %}

    <div class="row container header">
      <div class="col-lg-12">
        <h3>List Documentation</h3>
        <h4>Detailed information about the List component.</h4>
      </div>
    </div>

    <div class="container content-container">

      <div class="row">

        <div class="col-md-2">

          <div class="docked-menu">

            <ul class="nav left-menu">
              <li class="active">
                <a href="#overview">List</a>
                <ul>
                  <li><a href="#items">Items</a></li>
                  <li><a href="#repeater">Repeater</a></li>
                </ul>
              </li>
            </ul>

          </div>
          
        </div>

        <div class="col-md-10 main-content">
          {{ content }}
        </div>

      </div>
      
    </div>
	
    {% include footer.html %}

    {% include base_scripts.html %}

  </body>
</html>
