<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ionic: The Most Advanced HTML5 Mobile App Framework">
    <meta name="author" content="Drifty">
    <title>{{page.title}}</title>
    {% include head_includes.html %}
  </head>

  <body class="{{page.body_css}}">

    {% include nav_links.html %}

    <div class="container content-container">
      {{ content }}
    </div>
	
    {% include footer.html %}

    {% include base_scripts.html %}

  </body>
</html>