<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ionic: The Most Advanced HTML5 Mobile App Framework">
    <meta name="author" content="Drifty">
    <title>{{page.title}}</title>
    {% include head_includes.html %}
  </head>

  <body class="{% if page.body_class %}{{ page.body_class}}{% else %}getting-started-page{% endif %}">

    {% include nav_links.html %}

    {% include header.html %}

    <div class="container content-container">

      <div class="row">

        <div class="col-md-2">

          <div class="docked-menu">

            <ul class="nav left-menu">
              {% if page.left_menu %}
                {{page.left_menu}}
              {% else %}
                <li class="active"><a href="#overview">Getting Started</a></li>
                <li><a href="#download">Download</a></li>
                <li><a href="#whats-included">What's included</a></li>
                <li><a href="#basic-template">Basic Template</a></li>
                <li><a href="#sass">SASS</a></li>
                <li><a href="#angularjs">AngularJS</a></li>
                <li><a href="#phonegap">Phonegap</a></li>
                <li><a href="#browser-support">Browser Support</a></li>
                <li><a href="#examples">Examples</a></li>
                <li><a href="#license">Licensing</a></li>
                <li><a href="#contribute">Contribute</a></li>
                <li><a href="#about">About Ionic</a></li>
              {% endif %}
            </ul>
            
          </div>

        </div>

        <div class="col-md-10 main-content">
          {{ content }}
        </div>

      </div>
      
    </div>
	
    {% include footer.html %}

    {% include base_scripts.html %}

  </body>
</html>
