---
layout: default
body_class: "docs-page"
---

<div class="row">

  <div class="col-md-2">

    <div class="docked-menu">

      <h4>Chapters</h4>
      <ul class="nav left-menu">
        <li><a href="preface.html">1. What is Ionic?</a></li>
        <li><a href="installation.html">2. Installation</a></li>
        <li><a href="starting.html">3. Starting our app</a></li>
        <li><a href="building.html">4. Building it out</a></li>
        <li><a href="publishing.html">5. Publishing</a></li>
        <li><a href="closing.html">6. Closing Thoughts</a></li>
      </ul>
      
    </div>

  </div>

  <div class="col-md-10 main-content guide-content">
    {{ content }}
  </div>

</div>