<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ionic: The Most Advanced HTML5 Mobile App Framework">
    <meta name="author" content="Drifty">
    <title>{{page.title}}</title>
    {% include head_includes.html %}
  </head>

  <body class="getting-started-page">

    {% include nav_links.html %}

    {% include header.html %}

    <div class="container content-container">

      <div class="row">

        <div class="col-md-2">

          <div class="docked-menu">

            <h4>Versions</h4>
            <ul class="nav left-menu">
              <li><a href="/guide/0.9.0/">0.9.0</a></li>
            </ul>
            
          </div>

        </div>

        <div class="col-md-10 main-content guide-content">
          {{content}}
        </div>

      </div>
      
    </div>
	
    {% include footer.html %}

    {% include base_scripts.html %}

  </body>
</html>
