<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ionic: The Most Advanced HTML5 Mobile App Framework">
    <meta name="author" content="Drifty">
    <title>{{page.title}}</title>
    {% include head_includes.html %}
  </head>

  <body class="getting-started-page heading-tile">

    {% include nav_links.html %}

    <div class="row container header">
      <div class="col-lg-12">
        <h3>The Official Ionic Guide</h3>
        <h4>{{page.title}}</h4>
      </div>
    </div>

    <div class="container content-container">

      <div class="row">

        <div class="col-md-2">

          <div class="docked-menu">

            <h4>Chapters</h4>
            <ul class="nav left-menu">
              <li><a href="preface.html">1. What is Ionic?</a></li>
              <li><a href="installation.html">2. Installation</a></li>
              <li><a href="starting.html">3. Starting our app</a></li>
              <li><a href="building.html">4. Building it out</a></li>
              <li><a href="logic.html">5. Logic</a></li>
              <li><a href="backend.html">6. Backend</a></li>
              <li><a href="testing.html">7. Testing</a></li>
              <li><a href="publishing.html">8. Publishing</a></li>
            </ul>
            
          </div>

        </div>

        <div class="col-md-10 main-content guide-content">
          {{ content }}
        </div>

      </div>
      
    </div>
	
    {% include footer.html %}

    {% include base_scripts.html %}

  </body>
</html>
