<!DOCTYPE html>
<html lang="en">
  <head>
    {% include meta_tags.html %}
    <title>{{page.title}}{% if page.title_sufix %}{{ page.title_sufix }}{% else %} - Ionic Framework{% endif %}</title>
    <link href="/css/site.css" rel="stylesheet">
    <link href="/css/job.css" rel="stylesheet">
    {% include analytics.html %}
  </head>

  <body class="{{ page.body_css }}">
    {% include nav_links.html %}
    <div id="job" class="container content-container">
      <div class="row">
        <div class="col-sm-7">
          <a href="/jobs">&laquo; All Jobs</a>
          <h1>{{page.title}}</h1>
          <h4>{{page.location}}</h4>
          {{content}}

          <h3>About Us</h3>

          <p>
          <a href="http://drifty.com/">Drifty</a> is a <a href="http://techcrunch.com/2014/03/10/drifty-makers-of-the-ionic-mobile-framework-raise-1-million/">well-funded</a>, Madison-based (with workers around the US) developer of the fast growing <a href="http://ionicframework.com/">Ionic Framework</a>, a suite of cross-platform mobile developer tools that is changing the way mobile apps get built.
          </p>

          <p>
Ionic is one of the top 50 most popular open source projects in the world, with over hundreds of thousand of developers. We are looking for more great developers to help us take over the world of mobile development!
          </p>

          <p id="job-apply">
          <b>To apply for this position</b>, send us an email with your background, resume, or anything you want to show us: <a href="mailto:jobs@drifty.com">jobs@drifty.com</a>. Thanks!
          </p>
        </div>
        <div class="col-sm-offset-1 col-sm-4" id="office-sidebar">
          <div id="office-shots">
            <div class="row">
              <div class="col-sm-6">
                <img src="/img/office/1.jpg">
              </div>
              <div class="col-sm-6">
                <img src="/img/office/2.jpg">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <img src="/img/office/3.jpg">
              </div>
              <div class="col-sm-6">
                <img src="/img/office/4.jpg">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <img src="/img/office/5.jpg">
              </div>
              <div class="col-sm-6">
                <img src="/img/office/6.jpg">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <img src="/img/office/7.jpg">
              </div>
              <div class="col-sm-6">
                <img src="/img/office/8.jpg">
              </div>
            </div>
          </div>
          <h3>Madison Office</h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2914.44036312108!2d-89.38101189999999!3d43.0742365!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8806533fb7eb51df%3A0xbd41d9318d6e8a4d!2s121+S+Pinckney+St%2C+Madison%2C+WI+53703!5e0!3m2!1sen!2sus!4v1420481275451" width="100%" height="300" frameborder="0" style="border:0"></iframe>
        </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include base_scripts.html %}
  </body>
</html>
