---
layout: blog
---
<div class="post">
  <div class="post-info">
    <h3 class="post-title"><a href="{{page.url}}/">{{page.title}}</a></h3>

    <div class="post-social">
    
      {% if page.author_twitter %}
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{page.title}}" data-url="http://ionicframework.com{{page.url}}" data-via="{{page.author_twitter}}" data-related="ionicframework">Tweet</a>
      {% else %}
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{page.title}}" data-url="http://ionicframework.com{{page.url}}" data-via="ionicframework" data-related="ionicframework">Tweet</a>
      {% endif %}
      <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      </script>

      <!-- Place this tag where you want the +1 button to render. -->
      <div class="g-plusone" data-size="medium" data-href="http://ionicframework.com{{page.url}}"></div>

      <!-- Place this tag after the last +1 button tag. -->
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/platform.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>

      <!--<div class="fb-share-button" data-href="http://ionicframework.com{{page.url}}" data-type="button_count"></div>-->
    </div>
    <time class="post-time">By {{page.author}}{% if page.hide_date %}{% else %} on {{page.date | date: "%B %d, %Y" }}{% endif %}</time>
  </div>

{{ content }}

  <div class="share-bottom">
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{page.title}}" data-url="http://ionicframework.com{{page.url}}" data-via="ionicframework" data-related="ionicframework">Tweet</a>
    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>

    <!-- Place this tag where you want the +1 button to render. -->
    <div class="g-plusone" data-size="medium" data-href="http://ionicframework.com{{page.url}}"></div>

    <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>

    <a href="http://bufferapp.com/add" class="buffer-add-button" data-count="horizontal" data-via="ionicframework" ></a><script type="text/javascript" src="https://d389zggrogs7qo.cloudfront.net/js/button.js"></script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1490315864556760&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

  </div>

  <div class="join-bottom">
    <form action="http://codiqa.createsend.com/t/t/s/jytylh/" method="post" class="form">
      <div class="form-inline">
        <!--<label for="fieldEmail">Join our list to get news and updates on Ionic!</label><br />-->
        <div class="input-group">
          <input id="fieldEmail" class="form-control" name="cm-jytylh-jytylh" type="email" placeholder="Join our list to get Ionic news and updates just like this one!" required />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Subscribe!</button>
          </span>
        </div>
      </div>
    </form>

    <div>
      <iframe src="http://ghbtns.com/github-btn.html?user=driftyco&repo=ionic&type=watch&count=true"
        allowtransparency="true" frameborder="0" scrolling="0" width="120" height="20"></iframe>
      <a href="https://twitter.com/ionicframework" class="twitter-follow-button">Follow @ionicframework</a>
    </div>

  </div>

  <div class="disqus">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'ionic'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</div>
