{% extends "_layouts/base.html" %}
{% set id = 'case-studies' %}
{% set cssPath = 'case-studies' %}
{% set header_style = 'transparent light' %}
{% set title = 'Ionic Case Study: ' + data.title %}
{% set meta_description = data.description %}
{% set meta_image = data.hero_image['1x'].url %}
{% import "_includes/macros.html" as macros %}
{% set stickyNav = true %}

{% block main %}
<div class="sub-header">
  <div class="container">
    <ul class="left breadcrumbs sm">
      <li><a href="/resources">Resources</a></li>
      <li><a href="/resources/case-studies">Case Study</a></li>
      <li>{{ data.title }}</li>
    </ul>
  </div>
</div>

<main class="container">
  <aside>
    <nav class="sticky-wrapper" id="sidenav">
      <h4>Contents</h4>
      <ul>
        {% for group in data.body %}
          {% if group.slice_type == 'normal_text' %}
            {% for section in group.primary.content %}
              {% if ['heading2', 'heading3', 'heading4'].indexOf(section.type) != -1 %}
                <li>
                  <a href="#{{ section.text | lower | replace(' ', '-' ) | replace(',', '' )  }}"
                     class="anchor nav-link"
                     data-offset="100">{{ section.text }}</a>
                </li>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul>
      {% if data.download_link.url.length %}
        <a href="{{data.download_link.url}}"
           class="btn sm lightblue"
           target="_blank">
          <ion-icon name="arrow-down"></ion-icon> Download PDF
        </a>
      {% endif %}
      <ul class="sharing">
        <li>
          <a href="http://twitter.com/home?status={{data.title | urlencode}}+{{'https://ionicframework.com'+url | urlencode}}"
             onclick="window.open(this.href, 'Share via Twitter', 'width=400, height=300'); return false;">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>
        <li>
          <a href="http://www.facebook.com/share.php?u={{'https://ionicframework.com'+url | urlencode}}&amp;title={{data.title | urlencode}}"
          onclick="window.open(this.href, 'Share via Facebook', 'width=555, height=656'); return false;">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>
        <li>
          <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{'https://ionicframework.com'+url | urlencode}}&amp;title={{data.title | urlencode}}&amp;source={{'https://ionicframework.com' | urlencode}}"
             onclick="window.open(this.href, 'Share via LinkedIn', 'width=500, height=600'); return false;">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>
        <li id="web-share"><a><ion-icon name="share"></ion-icon></a></li>
      </ul>
    </nav>
  </aside>
  <div class="main-col">
    <div class="main-col__inner">
      {# {{ ctx.htmlSerializer }} #}

      <hgroup>
        <h1>{{ data.title }}</h1>
        <p class="lg">{{ data.tagline }}</p>
        <img src="{{data.hero_image.url}}"
             srcset="{{data.hero_image['1x'].url}} 1x, {{data.hero_image.url}} 2x"
             alt="{{data.hero_image.alt}}">
      </hgroup>

      <article>
        {% for group in data.body %}
          {% if group.slice_type == 'normal_text' %}
            {{ PrismicDOM.RichText.asHtml(group.primary.content, null, ctx.htmlSerializer) }}
          {% endif %}

          {% if group.slice_type == 'quote' %}
            <blockquote>
              {{ PrismicDOM.RichText.asHtml(group.primary.quote) }}
              {% if group.primary.name  %}
                <cite>
                  {{ group.primary.name }}
                  <span>{{ group.primary.description }}</span>
                </cite>
              {% endif %}
            </blockquote>
          {% endif %}

          {% if group.slice_type == 'floating_image' %}
            <figure class="floating-image {{ group.primary.side | lower}}">
              <img src="{{ group.primary.illustration.url }}"
                   alt="{{ group.primary.illustration.alt }}">
              {% if group.primary.caption.length != 0 %}
                <figcaption>{{ group.primary.caption[0].text }}</figcaption>
              {% endif %}
            </figure>
          {% endif %}
        {% endfor %}
      </article>
      <section class="resource-list">
        <div class="resource-list__header">
          <a class="all" href="/resources/case-studies">
            See all <ion-icon name="arrow-round-forward"></ion-icon>
          </a>
          <h4>Up Next</h4>
        </div>
        <div class="resource-card-list resource-card-list--third">
          {% for r in resources.sectionFeatured['case-studies'] %}
            {% if loop.index0 < 3 %}
              <div class="resource-card">
                <div class="resource-card__inner">
                  {{ macros.resource(r) }}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </section>
    </div>
  </div>
</main>
{% endblock %}

{% block scripts %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
<script>
$('body').scrollspy({target: "#sidenav", offset: 150});

{# if ( true ) { #}
if(navigator.share) {
  const webShare = document.getElementById('web-share');
  webShare.style.display = 'inline-block';
  webShare.addEventListener("click", () => {
    navigator.share({
      title: '{{ data.title }}',
      text: 'Check out this article by Ionic Framework: {{ data.title }}',
      url: '{{ "https://ionicframework.com"+url }}',
    });
  });
}
</script>
{% endblock %}
