{% extends "_layouts/base.html" %}
{% set id = 'case-studies' %}
{% set cssPath = 'case-studies' %}
{% set header_style = 'transparent light' %}
{% import "_includes/macros.html" as macros %}
{% set stickyNav = true %}

{% block main %}
<div class="sub-header">
  <div class="container">
    <ul class="left breadcrumbs sm">
      <li><a href="/resources">Resources</a></li>
      <li><a href="/resources/case-studies">Case Study</a></li>
      <li>{{data.title}}</li>
    </ul>
    <ul class="right">
      <li>
        <a href="{{data.download_link.url}}" 
           class="download"
           target="_blank">
          <ion-icon name="arrow-down"></ion-icon> Download PDF
        </a>
      </li>
    </ul>
  </div>
</div>

<hgroup class="container text-center">
  <strong>Case Study</strong>
  <h1>{{data.title}}</h1>
  <p class="lg">{{data.tagline}}</p>
  <img src="{{data.hero_image.url}}"
       srcset="{{data.hero_image['1x'].url}} 1x, {{data.hero_image.url}} 2x"
       alt="{{data.hero_image.alt}}">
</hgroup>

<main class="container">
  <aside>
    <h4>Contents</h4>
    <ul>
      {% for section in data.body %}
        {% 
          if ['heading2', 'heading3', 'heading4'].indexOf(section.type) != -1 
          and section.spans.length == 0  
        %}
          <li><a>{{section.text}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    <a href="{{data.download_link.url}}" 
       class="btn sm lightblue"
       target="_blank">
      <ion-icon name="arrow-down"></ion-icon> Download PDF
    </a>
  </aside>
  {# <article>{{PrismicDOM.RichText.asHtml(data.body)}}</article> #}
</main>

<div class="container">
  <div class="transitionBody">
    <div class="transitionBody">
      <section class="resource-list">
        <div class="resource-list__header">
          <a class="scrollTopLink" href="/resources/case-studies">
            See all <ion-icon name="arrow-round-forward"></ion-icon>
          </a>
          <h4>Other Resources you might like</h4>
        </div>
        <div class="resource-card-list resource-card-list--quarter">
          {% for r in resources.sectionFeatured['case-studies'] %}
            <div class="resource-card">
              <div class="resource-card__inner">
                {{ macros.resource(r) }}
              </div>
            </div>
          {% endfor %}
        </div>
      </section>
    </div>
  </div>
</div>
<pre><code>{{ data | dump(2) }}</code></pre>
{% endblock %}
