{% extends "_layouts/enterprise.html" %}
{% set id = 'resources' %}
{% set cssPath = 'resources/index' %}

{% import "_includes/macros.html" as macros %}
{% set header_style = 'transparent light' %}
{% if resources.resources[currentCategory].meta %}
  {% set title = resources.resources[currentCategory].meta %}
{% else %}
  {% set title = 'Ionic Resources: eBooks, Articles, Case Studies and Webinars' %}
{% endif %}
{% if resources.resources[currentCategory].meta_description %}
  {% set meta_description = resources.resources[currentCategory].meta_description %}
{% endif %}
{% set stickyNav = true %}

{% block main %}

<div class="banner">
  <div class="container">
    <!-- <hgroup>
      <h1 class="f-1">{{ resources.resources[currentCategory].title }}</h1>
      <p>{{ resources.resources[currentCategory].description }}</p>
    </hgroup> -->
    <hgroup class="ee-hero">
      <h1>Resource Center</h1>
      <p>Learn about everything from customer success stories, product info, to viewpoints from the core team.</p>
    </hgroup>

    <div class="hero-content">
      <div class="resource-card-list resource-card-list--third">
      {% for r in resources.heroFeatured %}
        <div class="resource-card resource-card-large">
          <div class="resource-card__inner">
          {{ macros.resource(r, true) }}
          </div>
        </div>
      {% endfor %}
      </div>

      {{ macros.resourcesTabs(currentCategory) }}

    </div>
  </div>
</div>

<div class="container">
  <div class="pjxTransitionBody">
    <section class="resource-list">
      <div class="resource-list__header">
        <h4>Recent {{ resources.resources[currentCategory].title }}</h4>
      </div>
        <div class="resource-card-list resource-card-list--quarter">
        {% for r in resources.resources[currentCategory].items %}
          <div class="resource-card">
            <div class="resource-card__inner">
            {{ macros.resource(r) }}
            </div>
          </div>
        {% endfor %}
        </div>
    </section>
  </div>
</div>
{# <pre><code>{{ resources.resources[currentCategory] | dump(2) }}</code></pre> #}
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TimelineLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/plugins/CSSPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/easing/EasePack.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/plugins/AttrPlugin.min.js"></script>
<script>
(function(){

  // enable page transitions
  pjx.init('resources', '#page-resource-center');

  var tabs = document.querySelector('.tabs');
  ['scroll','touchmove'].forEach( function(evt) {
    tabs.addEventListener(evt, function () {
      tabs.parentElement.classList.remove('hint')
    });
  });

  window.addEventListener('click', function(ev) {
    if (ev.target.matches('.scrollTopLink')) {
      var scrollTop = (window.pageYOffset || document.scrollTop)  - (document.clientTop || 0);
      window.scrollTo({
        top: tabs.getBoundingClientRect().top + window.scrollY - 80,
        behavior: "smooth"
      });
    }
  });

})()
</script>
{% endblock %}
