{% extends "_layouts/base.html" %}
{% set id = 'resource-center' %}
{% import "_includes/macros.html" as macros %}
{% set header_style = 'transparent light' %}
{% set name = 'Resource Center - Ionic Framework' %}

{% block main %}

<div class="banner">
  <div class="container">
    <div class="transitionTitle">
      <hgroup>
        <h1 class="f-1">{{ resources.resources[currentCategory].title }}</h1>
        <p>{{ resources.resources[currentCategory].description }}</p>
      </hgroup>
    </div>

    <div class="hero-content">
      <div class="card-list card-list--third transitionHero">
      {% for r in resources.resources[currentCategory].items.slice(0, 3) %}
        <div class="card card-large">
          <div class="card__inner">
          {{ macros.resource(r, true) }}
          </div>
        </div>
      {% endfor %}
      </div>

      {{ macros.resourcesTabs(currentCategory) }}

    </div>
  </div>
</div>

<div class="container">
  <div class="transitionBody">
    <section class="resource-list">
      <div class="resource-list__header">
        <h4>Recent {{ resources.resources[currentCategory].title }}</h4>
      </div>
        <div class="card-list card-list--quarter">
        {% for r in resources.resources[currentCategory].items.slice(3) %}
          <div class="card">
            <div class="card__inner">
            {{ macros.resource(r) }}
            </div>
          </div>
        {% endfor %}
        </div>
    </section>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TimelineLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/plugins/CSSPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/easing/EasePack.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/plugins/AttrPlugin.min.js"></script>
<script>
  (function(){
    // enable sticky nav
    stickyNav.init();

    // enable page transitions
    pjx.init();

    window.addEventListener('click', function(ev) {
      if (ev.target.matches('.scrollTopLink')) {
        window.scrollTo({
          top: 0,
          behavior: "smooth"
        });
      }
    });

    var tabs = document.querySelector('.tabs');
    ['scroll','touchmove'].forEach( function(evt) {
      tabs.addEventListener(evt, function () {
        tabs.parentElement.classList.remove('hint')
      });
    });
  })()
</script>
{% endblock %}
