{% extends "_layouts/base.html" %}
{% set id = 'webinars' %}
{% set cssPath = 'resources/webinars' %}
{% set title = 'Ionic Videos: ' + data.title %}
{% set meta_description = data.meta_description.url or meta_description %}
{% set meta_image = data.meta_image.url or meta_image %}
{% import "_includes/macros.html" as macros %}
{% set stickyNav = true %}

{% block main %}
<div class="sub-header">
  <div class="container">
    <ul class="left breadcrumbs">
      <li><a href="/resources">Resources</a></li>
      <li><a href="/resources/podcasts">Videos</a></li>
      <li>{{data.title}}</li>
    </ul>
  </div>
</div>

<div class="cta gradient videos">
  <hgroup class="container">
    <strong>Ionic Videos</strong>
    <h1>{{data.title}}</h1>
    <p>
      {{data.when | date('add', -5, 'hours') | date('dddd, MMM D')}}
      &nbsp;|
      &nbsp;Hosted by
      {% for host in data.hosts %}
        <a target="{{host.profile_link.target}}"
           href="{{host.profile_link.url}}">
          {{host.name}}{#
      #}</a>{#
      #}{% if loop.length > 1 and not loop.last %}, {% endif %}
      {% endfor %}
    </p>
  </hgroup>
</div>

<div class="container">
  <main class="card">
    <article>

      {% if data.video_id.length == 11 %}
        <div id="youtube-responsive">
          <iframe width="560" 
                  height="315" 
                  src="https://www.youtube.com/embed/{{data.video_id}}" 
                  frameborder="0" 
                  allow="accelerometer; autoplay; encrypted-media; gyroscope" 
                  allowfullscreen></iframe>
        </div>

      {% else %}
        <script src="https://fast.wistia.com/embed/medias/{{data.video_id}}.jsonp" 
                async></script>
        <script src="https://fast.wistia.com/assets/external/E-v1.js" 
                async></script>
        <div id="wistia_responsive_padding">
          <div class="wistia_responsive_wrapper">
            <div class="wistia_embed wistia_async_{{data.video_id}} videoFoam=true">
              <div class="wistia_swatch">
                <img src="https://fast.wistia.com/embed/medias/{{data.video_id}}/swatch"
                     alt="{{ data.title }}" 
                     onload="this.parentNode.style.opacity=1;" />
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      
      {{PrismicDOM.RichText.asHtml(data.description)}}
    </article>
    <aside>
      <h4>Your Host{% if data.hosts.length > 1 %}s{% endif %}:</h4>
      {% for host in data.hosts %}
        <a target="{{host.profile_link.target}}"
           href="{{host.profile_link.url}}"
           class="host">
          <img src="{{host.photo.url}}"
               srcset="{{host.photo['1x'].url}} 1x, {{host.photo.url}} 2x"
               atl="{{host.name}}">
          <strong>{{host.name}}</strong>
          <span>{{host.title}}</span>
        </a>
      {% endfor %}

      <div class="subscribe-cta">
        <h3>Never miss a video!</h3>
        <p>Subscribe to always stay up to date.</p>
        {# <a href="" class="btn sm lightblue">Subscribe now!</a> #}
        <ionic-newsletter-signup kind="podcast"></ionic-newsletter-signup>
      </div>
    </aside>
  </main>
</div>

<div class="container">
  <div class="pjxTransitionBody">
    <section class="resource-list">
      <div class="resource-list__header">
        <a class="scrollTopLink" href="/resources/podcasts">
          See all <ion-icon name="arrow-round-forward"></ion-icon>
        </a>
        <h4>Other Resources you might like</h4>
      </div>
      <div class="resource-card-list resource-card-list--quarter">
        {% for r in resources.sectionFeatured['videos'] %}
          <div class="resource-card">
            <div class="resource-card__inner">
              {{ macros.resource(r) }}
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
  </div>
</div>
{# <pre><code>{{ data | dump(2) }}</code></pre> #}
{% endblock %}
