{% extends "_layouts/base.html" %}
{% set id = 'webinars' %}
{% set cssPath = 'resources/webinars' %}
{% set title = 'Ionic Webinar: ' + data.title %}
{% if data.meta_description %}
  {% set meta_description = data.meta_description %}
{% endif %}
{% set meta_image = data.meta_image.url or meta_image %}
{% import "_includes/macros.html" as macros %}
{% set stickyNav = true %}

{% block main %}
<div class="sub-header">
  <div class="container">
    <ul class="left breadcrumbs">
      <li><a href="/resources">Resources</a></li>
      <li><a href="/resources/webinars">Webinars</a></li>
      <li>{{data.title}}</li>
    </ul>
  </div>
</div>

<div class="cta gradient"
  {% if data.header_background %}
     style="
      background-image:
        url('/img/resource-center/webinars/webinar-bg-img-{{data.header_background}}.jpg'),
        linear-gradient(120deg, #4864ec, #84aff4);
      background-size: cover, 100%;
      background-position: 50% 50%;"
  {% endif %}>

  <hgroup class="container">
    <strong>Ionic Webinar</strong>
    <h1>{{data.title}}</h1>
    <p>
      {% if Date.parse(data.when) - now <= 0 %}
        On Demand
      {% else %}
        {{data.when|date('add', -5, 'hours')|date('dddd, MMM D @ ha')}} CST 
      {% endif %}&nbsp;|
      &nbsp;Speaker{% if data.hosts.length > 1 %}s{% endif %}: 
      {% for host in data.hosts %}
        <a target="{{host.profile_link.target}}"
           href="{{host.profile_link.url}}">
          {{host.name}}{#
      #}</a>{#
      #}{% if loop.length > 1 and not loop.last %}, {% endif %}
      {% endfor %}
    </p>
    <div class="cta-buttons">
      {# <a class="btn sm white" href="{{data.watch_now_link.url}}">
        Watch Now</a> #}
      <a class="btn sm white"
         data-toggle="modal"
         data-target="#contactForm">
        {% if Date.parse(data.when) - now <= 0 %}
          Watch Now
        {% else %}
          Register Now
        {% endif %}
      </a>
    </div>
  </hgroup>
</div>

<div class="container">
  <main class="card">
    <article>
      {{PrismicDOM.RichText.asHtml(data.description)}}
      <a class="btn sm"
         data-toggle="modal"
         data-target="#contactForm">
        {% if Date.parse(data.when) - now <= 0 %}
          Watch Now
        {% else %}
          Register Now
        {% endif %}
      </a>
    </article>
    <aside>
      <h4>Your Speaker{% if data.hosts.length > 1 %}s{% endif %}:</h4>
      {% for host in data.hosts %}
        <a target="{{host.profile_link.target}}"
           href="{{host.profile_link.url}}"
           class="host">
          <img src="{{host.photo.url}}"
               srcset="{{host.photo['1x'].url}} 1x, {{host.photo.url}} 2x"
               atl="{{host.name}}">
          <strong>{{host.name}}</strong>
          <span>{{host.title}}</span>
        </a>
      {% endfor %}

      <div class="subscribe-cta">
        <h3>Never miss a webinar!</h3>
        <p>Subscribe to our newsletter for all the latest Ionic content.</p>
        {# <a href="" class="btn sm lightblue">Subscribe now!</a> #}
        <ionic-newsletter-signup></ionic-newsletter-signup>
      </div>
    </aside>
  </main>
</div>

<div class="container">
  <div class="pjxTransitionBody">
    <section class="resource-list">
      <div class="resource-list__header">
        <a class="scrollTopLink" href="/resources/articles">
          See all <ion-icon name="arrow-round-forward"></ion-icon>
        </a>
        <h4>Other Resources you might like</h4>
      </div>
      <div class="resource-card-list resource-card-list--quarter">
        {% for r in resources.sectionFeatured['webinars'] %}
          <div class="resource-card">
            <div class="resource-card__inner">
            {{ macros.resource(r) }}
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
  </div>
</div>
{# <pre><code>{{ data | dump(2) }}</code></pre> #}
{% endblock %}

{% block modals %}
<div class="modal collapse fade"
     id="contactForm"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body hubspot-override">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <hgroup class="text-center">
          <h3>
            {% if Date.parse(data.when) - now <= 0 %}
              Stream
            {% else %}
              Register for
            {% endif %}
            {{data.title}}
          </h3>
          <p class="lg">You're just a few clicks away from our free webinar.</p>
        </hgroup>

        <!--[if lte IE 8]>
        <script charset="utf-8"
                type="text/javascript"
                src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
        <script charset="utf-8"
                type="text/javascript"
                src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
          	portalId: '3776657',
          	formId: '{{data.hubspot_form_id}}',
            goToWebinarWebinarKey: '{{data.goToWebinar_key}}',
          	css: ''
          });
        </script>

      </div>
    </div>
  </div>
</div>
{% endblock %}
