{% extends "_layouts/base.html" %}
{% set id = 'webinars' %}
{% set cssPath = 'resources/webinars' %}
{% set title = 'Ionic Article: ' + data.title %}
{% if data.meta_description %}
  {% set meta_description = data.meta_description %}
{% endif %}
{% set meta_image = data.meta_image.url or data.header_background or meta_image %}
{% import "_includes/macros.html" as macros %}
{% set stickyNav = true %}

{% block main %}
<div class="sub-header">
  <div class="container">
    <ul class="left breadcrumbs">
      <li><a href="/resources">Resources</a></li>
      <li><a href="/resources/whitepapers">Whitepapers</a></li>
      <li>{{data.title}}</li>
    </ul>
  </div>
</div>

<div class="cta gradient"
  {% if data.header_background %}
     style="background-image:url('{{data.header_background.url}}')"
  {% endif %}>
  <hgroup class="container">
    <strong>Ionic Whitepaper</strong>
    <h1>{{data.title}}</h1>
    <div class="cta-buttons">
      {# <a class="btn sm white" href="{{data.watch_now_link.url}}">
        Watch Now</a> #}
      <a class="btn sm white"
         data-toggle="modal"
         data-target="#contactForm">Download</a>
    </div>
  </hgroup>
</div>

<div class="container">
  <main class="card">
    <article>
      {{PrismicDOM.RichText.asHtml(data.description)}}
      <a class="btn sm"
         data-toggle="modal"
         data-target="#contactForm">Download</a>
    </article>
  </main>
</div>

<div class="container">
  <div class="pjxTransitionBody">
    <section class="resource-list">
      <div class="resource-list__header">
        <a class="scrollTopLink" href="/resources/articles">
          See all <ion-icon name="arrow-round-forward"></ion-icon>
        </a>
        <h4>Other Resources you might like</h4>
      </div>
      <div class="resource-card-list resource-card-list--quarter">
        {% for r in resources.sectionFeatured['whitepapers'] %}
          <div class="resource-card">
            <div class="resource-card__inner">
            {{ macros.resource(r) }}
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
  </div>
</div>
{# <pre><code>{{ data | dump(2) }}</code></pre> #}
{% endblock %}

{% block modals %}
<div class="modal collapse fade"
     id="contactForm"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body hubspot-override">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <hgroup class="text-center">
          <h3>Stream {{data.title}}</h3>
          <p class="lg">You're just a few clicks away from our free whitepaper.</p>
        </hgroup>

        <!--[if lte IE 8]>
        <script charset="utf-8"
                type="text/javascript"
                src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
        <script charset="utf-8"
                type="text/javascript"
                src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
          	portalId: '3776657',
          	formId: '{{data.hubspot_form_id}}',
          	css: ''
          });
        </script>

      </div>
    </div>
  </div>
</div>
{% endblock %}
