{% extends "_layouts/enterprise.html" %}
{% set id = 'customers' %}
{% set cssPath = 'enterprise/customers' %}

{% block main %}
<hgroup class="container ee-hero ee-hero--centered">
  <h1>We help companies build world-class apps.</h1>
  <p>
    The way businesses create apps is changing. Are you?
    <a href="#get-started" class="anchor">Join the thousands of businesses that rely on Ionic.</a>
  </p>
</hgroup>

<ul id="companies" class="container">
  <li><img src="/img/enterprise/customers/target.png" alt="Target" width="160"></li>
  <li><img src="/img/enterprise/customers/ea.png" alt="EA" width="224"></li>
  <li><img src="/img/enterprise/customers/nhs.png" alt="NHS" width="160"></li>
  <li><img src="/img/enterprise/customers/childrens-place.png" alt="Childrens Place" width="180"></li>
  <li><img src="/img/enterprise/customers/nbc.png" alt="NBC" width="180"></li>
  <li><img src="/img/enterprise/customers/bmw.png" alt="BMW" width="160"></li>
  <li><img src="/img/enterprise/customers/nasa.png" alt="NASA" width="180"></li>
  <li><img src="/img/enterprise/customers/amtrak.png" alt="Amtrak" width="160"></li>
  <li><img src="/img/enterprise/customers/g-e.png" alt="GE" width="224"></li>
  <li><img src="/img/enterprise/customers/aaa.png" alt="AAA" width="160"></li>
</ul>

<main class="ee-main">
  <section class="container resources">
    <hgroup>
      <h2>You’re in good company.</h2>
      <p>We enable development teams at some of the most innovative companies deliver award-winning, mission-critical apps.</p>
    </hgroup>
    <ul class="cards">
        <li>
          <div class="img-wrapper">
            <img src="/img/enterprise/bg-card-amtrak.jpg"
                 alt="Amtrak App">
          </div>
          <h4>Amtrak</h4>
          <p>Amtrak rebuilt their entire customer-facing mobile app and ride purchasing system on Ionic, to improve customer experience.</p>
        </li>
        <li>
          <div class="img-wrapper">
            <img src="/img/enterprise/bg-card-boehringer.jpg"
                 alt="Boehringer Ingelheim">
          </div>
          <h4>Boehringer Ingelheim</h4>
          <p>One of the world's leading research-driven pharmaceutical companies is enabling continuous app delivery with automated DevOps workflows, powered by Ionic.</p>
        </li>
        <li>
          <div class="img-wrapper">
            <img src="/img/enterprise/bg-card-panera.jpg"
                 alt="Panera Bread">
          </div>
          <h4>Panera Bread</h4>
          <p>Delighting customers with exceptional in-store and online experiences, Panera is rebuilding its kiosk and mobile apps with Ionic.</p>
        </li>
        <li>
          <div class="img-wrapper">
            <img src="/img/enterprise/bg-card-aaa.jpg"
                 alt="AAA">
          </div>
          <h4>AAA</h4>
          <p>Helping travellers get where they’re going since 1902, AAA supports all of their local and regional clubs from a single Ionic app.</p>
        </li>
        <li>
          <div class="img-wrapper">
            <img src="/img/enterprise/nhs-img.png"
                 alt="National Health Service">
          </div>
          <h4>National Health Service</h4>
          <p>The world’s largest healthcare organization is leveraging Ionic to build mobile apps that empower their healthcare practitioners to be more productive on-the-go.</p>
        </li>
        <li>
          <div class="img-wrapper">
            <img src="/img/enterprise/bg-card-airbus.jpg"
                 alt="Airbus">
          </div>
          <h4>Airbus</h4>
          <p>Empowering their digital workforce, Airbus Helicopters uses Ionic to power apps for its thousands of employees.</p>
        </li>
      </ul>
  </section>
  <div class="ee-section-wrapper--gradient">
    <aside id="good-comapny" class="resources">
      <div class="container center">
        <div class="content">
          <h2>Our favorite apps.</h2>
          <p>A selection of some of our favorite apps from companies across a range of industries and markets.</p>
        </div>
      </div>
    </aside>
    <section id="marketwatch" class="container right">
      <div class="content">
        <h2><img class="logo" src="/img/enterprise/customers/logo-marketwatch.png" alt="Marketwatch Logo"></h2>
        <p>The popular personal finance and stock market data app that leveraged their in-house web technology expertise to start shipping apps in record time with Ionic.</p>
        <p class="sm">MarketWatch used Ionic because of how heavily it leans on open technologies that they’re familiar with, while also offering a great app experience. The fact that Ionic provided a faster experience than their previous apps, with elegant transitions, performance, and code reusability only reinforced their decision. </p>
      </div>
      <div class="graphics">
        <img src="/img/enterprise/customers/app-marketwatch.png" alt="Marketwatch">
      </div>
    </section>
  </div>

  <div class="ee-section-wrapper--gradient">
    <section id="sworkit" class="left container">
      <div class="content">
        <h2><img class="logo" src="/img/enterprise/customers/logo-sworkit.png" alt="Sworkit Logo"></h2>
        <p>The top-featured fitness app that grew to millions of delighted users with a single codebase deployed across every major mobile platform.</p>
        <p class="sm">Sworkit has 3 million monthly active users and over 10 million downloads, and the team has created a total of nine apps using Ionic Framework. Ionic’s design flexibility and top-notch performance allowed the Sworkit team to scale as a remote, global business using one codebase across multiple platforms.</p>
      </div>
      <div class="graphics">
        <img src="/img/enterprise/customers/app-sworkit.png" alt="Sworkit">
      </div>
    </section>
  </div>
  <div class="ee-section-wrapper--gradient">
    <section id="instant-pot" class="right container">
      <div class="content">
        <h2><img class="logo" src="/img/enterprise/customers/logo-instant-pot.png" alt="Instant Pot Logo"></h2>
        <p>America’s #1 pressure cooker, Instant Pot, boasts over 1M+ highly engaged community members and leverages Ionic to power their app, which features popular recipes and pressure cooking tips. </p>
        <p class="sm">Instant Pot is America’s most popular pressure cooker and the number one selling brand on Amazon.com with one of the highest overall customer ratings. The Instant Pot line of products are truly tools for a new lifestyle and cater to the needs of health-minded individuals and DIY food enthusiasts. The brand uses Ionic to power its Instant Pot app to share featured recipes, tips, and product suggestions with its community of over 1+ million active users.</p>
      </div>
      <div class="graphics">
        <img src="/img/enterprise/customers/app-instant-pot.png" alt="Instant Pot">
      </div>
    </section>
  </div>
  <div class="ee-section-wrapper--gradient">
    <section id="shipt" class="left container">
      <div class="content">
        <h2><img class="logo" src="/img/enterprise/customers/logo-shipt.png" alt="Shipt Logo"></h2>
        <p>A fast-growing leader in grocery delivery is rapidly scaling its mobile ordering app with the help of realtime updates from Ionic’s DevOps platform.</p>
        <p class="sm">Shipt (a Target subsidiary) is a leader in grocery and home product delivery, serving members in over 260 cities and counting, with over 50,000 shoppers. Shipt built their consumer-facing mobile app with Ionic. And by leveraging Ionic Appflow, a mobile DevOps platform, they are able to keep their app updated as soon as new features become available, with live updates sent directly to users.</p>
      </div>
      <div class="graphics">
        <img src="/img/enterprise/customers/app-shipt.png" alt="Shipt">
      </div>
    </section>
  </div>
  <div class="ee-section-wrapper--gradient">
    <section id="untappd" class="right container">
      <div class="content">
        <h2><img class="logo" src="/img/enterprise/customers/logo-untappd.png" alt="Untappd Logo"></h2>
        <p>With over 4 million users, Untappd has built a social networking ecosystem of beer enthusiasts, allowing them to find, rate, and share what they’re drinking.</p>
        <p class="sm">The Untappd team took their app’s previous user interface and translated it using Ionic’s component library, taking advantage of elements like Toggles and Checkmarks to give their app a native experience that users were familiar with. Untappd’s favorite part of developing with Ionic is its ability to get to market faster.</p>
      </div>
      <div class="graphics">
        <img src="/img/enterprise/customers/app-untappd.png" alt="Untappd">
      </div>
    </section>
  </div>
  <div class="ee-section-wrapper--gray">
    <aside id="get-started" >
      <div class="container get-started center hubspot-override hubspot-override--large">
        <hgroup class="content">
          <h3>Get started with</h3>
          <h2>Ionic Enterprise</h2>
        </hgroup>
        <!--[if lte IE 8]>
        <script charset="utf-8"
                type="text/javascript"
                src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
        <script charset="utf-8"
                type="text/javascript"
                src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
            portalId: "3776657",
          	formId: "a93294a9-90b4-4202-8d16-e921dfb0ee2f",
            css: ""
          });
        </script>
      </div>
    </aside>
  </div>
</main>

<aside class="resources">
  <div class="container">
    <hgroup>
      <h3>Resources</h3>
      <h5><a href="/resources">See all resources <ion-icon name="ios-arrow-forward"></ion-icon></a></h5>
    </hgroup>
    <ul class="cards">
      <li>
        <a href="/books/hybrid-vs-native">
          <div class="img-wrapper">
            <img src="/img/products/advisory/resource-hybrid-vs-native.png"
                 alt="Hybrid vs Native">
          </div>
          <h6>Ebook</h6>
          <h4>Hybrid vs Native</h4>
          <p class="small">Understand the essential elements of hybrid development, and what it could mean for your next project.</p>
        </a>
      </li>
      <li>
        <a href="/articles/why-hybrid">
          <div class="img-wrapper">
            <img src="/img/solutions/card-development-approach.jpg"
                 alt="How to Pick the Right Mobile Development Approach">
          </div>
          <h6>Article</h6>
          <h4>How to Pick the Right Mobile Development Approach</h4>
          <p class="small">This article addresses the key questions that you might not think to consider (beyond the feature checklists), in order to find the right approach...</p>
        </a>
      </li>
      <li>
        <a href="https://go.ionicframework.com/enterprise-eval-guide">
          <div class="img-wrapper">
            <img src="/img/products/advisory/resource-evaluating-for-the-enterprise.png"
                 alt="Evaluating Ionic for the Enterprise">
          </div>
          <h6>Article</h6>
          <h4>Evaluating Ionic for the Enterprise</h4>
          <p class="small">If you're an Architect, Senior Developer, or Executive charged with identifying the right application development solution for your business, this article is for you.</p>
        </a>
      </li>
    </ul>
  </div>
</aside>
{% endblock %}


{% block scripts %}

{% endblock %}
