{% extends "_layouts/enterprise.html" %}
{% set id = 'customers' %}
{% set cssPath = 'enterprise/customers' %}

{% block main %}
<hgroup class="container ee-hero ee-hero--centered">
  <h1>We help companies build world-class apps.</h1>
  <p>The way businesses create apps is changing. Are you?</p>
  <a href="#get-started" class="anchor">Join the thousands of businesses that rely on Ionic.</a>
</hgroup>

<ul id="companies" class="container">
  <li><img src="/img/enterprise/customers/target.png" alt="Target" width="160"></li>
  <li><img src="/img/enterprise/customers/ea.png" alt="EA" width="224"></li>
  <li><a href="https://ionicframework.com/resources/case-studies/national-health-service" title="NHS Case Study"><img src="/img/enterprise/customers/nhs.png" alt="NHS" width="160"></a></li>
  <li><img src="/img/enterprise/customers/childrens-place.png" alt="Childrens Place" width="180"></li>
  <li><img src="/img/enterprise/customers/nbc.png" alt="NBC" width="180"></li>
  <li><img src="/img/enterprise/customers/bmw.png" alt="BMW" width="160"></li>
  <li><img src="/img/enterprise/customers/nasa.png" alt="NASA" width="180"></li>
  <li><a href="https://ionicframework.com/resources/case-studies/passenger-rail-co" title="Amtrak Case Study"><img src="/img/enterprise/customers/amtrak.png" alt="Amtrak" width="160"></a></li>
  <li><img src="/img/enterprise/customers/g-e.png" alt="GE" width="224"></li>
  <li><img src="/img/enterprise/customers/aaa.png" alt="AAA" width="160"></li>
</ul>

<main class="ee-main">
  <section id="companies-list" class="container resources">
    <hgroup>
      <h2>You’re in good company.</h2>
      <p>We enable development teams at some of the most innovative companies deliver award-winning, mission-critical apps.</p>
    </hgroup>
    <ul class="cards">
        <li>
          <a href="https://ionicframework.com/resources/case-studies/passenger-rail-co" title="Amtrak Case Study">
            <div class="img-wrapper">
              <img  src="/img/enterprise/customers/bg-card-amtrak@2x.png"
                    srcset="/img/enterprise/customers/bg-card-amtrak@1x.png 1x,
                            /img/enterprise/customers/bg-card-amtrak@2x.png 2x"
                    loading="lazy"
                    width="296" height="224"
                    alt="Woman standing in front of passing train with amtrak logo in front.  Themed blue."/>
            </div>
            <h4>Amtrak</h4>
            <p>Amtrak rebuilt their entire customer facing mobile app and ride purchasing system on Ionic, to improve customer experience.</p>
          </a>
        </li>
        <li>
          <div class="img-wrapper">
            <img  src="/img/enterprise/customers/bg-card-boehringer@2x.png"
                  srcset="/img/enterprise/customers/bg-card-boehringer@1x.png 1x,
                          /img/enterprise/customers/bg-card-boehringer@2x.png 2x"
                  loading="lazy"
                  width="296" height="224"
                  alt="Docter examining specimen in lab with boehringer Ingelheim logo overlay"/>
          </div>
          <h4>Boehringer Ingelheim</h4>
          <p>One of the world's leading pharmaceutical companies is enabling CI/CD with automated DevOps workflows, powered by Ionic.</p>
        </li>
        <li>
          <div class="img-wrapper">
            <img  src="/img/enterprise/customers/bg-card-panera@2x.png"
                  srcset="/img/enterprise/customers/bg-card-panera@1x.png 1x,
                          /img/enterprise/customers/bg-card-panera@2x.png 2x"
                  loading="lazy"
                  width="296" height="224"
                  alt="Top down picture of bowl of soup with small sandwich next to it.  Panera Bread logo overlay"/>
          </div>
          <h4>Panera Bread</h4>
          <p>Delighting customers with exceptional in-store and online experiences, Panera is powering its kiosk and mobile apps with Ionic.</p>
        </li>
        <li>
          <div class="img-wrapper">
            <img  src="/img/enterprise/customers/bg-card-aaa@2x.png"
                  srcset="/img/enterprise/customers/bg-card-aaa@1x.png 1x,
                          /img/enterprise/customers/bg-card-aaa@2x.png 2x"
                  loading="lazy"
                  width="296" height="224"
                  alt="man standing next to red card on snowy road with AAA logo overlay"/>
          </div>
          <h4>AAA</h4>
          <p>Helping travellers get where they’re going since 1902, AAA supports all of their local and regional clubs from a single Ionic app.</p>
        </li>
        <li>
          <a href="https://ionicframework.com/resources/case-studies/national-health-service" title="NHS Case Study">
            <div class="img-wrapper">
              <img  src="/img/enterprise/customers/bg-card-nhs@2x.png"
                    srcset="/img/enterprise/customers/bg-card-nhs@1x.png 1x,
                            /img/enterprise/customers/bg-card-nhs@2x.png 2x"
                    loading="lazy"
                    width="296" height="224"
                    alt="Close up shot of blood pressure being measured with cuff.  National Health Service overlay"/>
            </div>
            <h4>National Health Service</h4>
            <p>The world’s largest healthcare organization leverages Ionic to build mobile apps that empower their healthcare practitioners.</p>
          </a>
        </li>
        <li>
          <a href="https://ionicframework.com/resources/case-studies/airbus-helicopter" title="Airbus Case Study">
            <div class="img-wrapper">
              <img  src="/img/enterprise/customers/bg-card-airbus@2x.png"
                    srcset="/img/enterprise/customers/bg-card-airbus@1x.png 1x,
                            /img/enterprise/customers/bg-card-airbus@2x.png 2x"
                    loading="lazy"
                    width="296" height="224"
                    alt="close up action shot of helicopter flying with airbus logo overlay"/>
            </div>
            <h4>Airbus</h4>
            <p>Airbus Helicopters is empowering their entire digital workforce by leveraging Ionic to power apps for thousands of its employees.</p>
          </a>
        </li>
      </ul>
  </section>
  <div class="ee-section-wrapper">
    <aside id="good-company" class="resources">
      <div class="container center">
        <div class="content">
          <h2>Some of our favorite apps.</h2>
          <p>A selection of some of our favorite apps from companies across a range of industries and markets.</p>
        </div>
      </div>
    </aside>
  </div>

  <div class="ee-section-wrapper">
    <section id="comp86400" class="right container">
      <div class="content">
        <a href="https://ionicframework.com/resources/case-studies/86400" title="86 400 Case Study">
          <h2>
            <img  class="logo"   
                  src="/img/enterprise/customers/logo-86400@2x.png"
                  srcset="/img/enterprise/customers/logo-86400@1x.png 1x,
                          /img/enterprise/customers/logo-86400@2x.png 2x"
                  loading="lazy"
                  width="274" height="64"
                  alt="86400 Logo"/>
          </h2>
        </a>
        <p>Australia’s first smartbank releases app updates every 2-3 weeks, giving its growing customer base more features, functionality, and an ever-improving app experience.</p>
        <p class="sm">Leveraging Ionic, the 86400 development team focused on building a single mobile app and deploying it on both iOS and Android at launch. 86400 is powered by the most recent versions of Ionic Framework and Angular, allowing devs to enhance the user experience (graphics, animations, interactions etc), increase app performance (speed and responsiveness).</p>
      </div>
      <div class="spacer"></div>
      <div class="graphics">
        <img  src="/img/enterprise/customers/app-86400@2x.png"
              srcset="/img/enterprise/customers/app-86400@1x.png 1x,
                      /img/enterprise/customers/app-86400@2x.png 2x"
              loading="lazy"
              width="1092" height="1606"
              alt="Two phones showing 86400 app themed purple"/>
      </div>
    </section>
  </div>
  <div class="ee-section-wrapper">
    <section id="sworkit" class="left container">
      <div class="content">
        <a href="https://ionicframework.com/resources/case-studies/sworkit" title="Sworkit Case Study">
          <h2><img class="logo" src="/img/enterprise/customers/logo-sworkit.png" loading="lazy" width="400" height="68" alt="Sworkit Logo"></h2>
        </a>
        <p>The top-featured fitness app that grew to millions of delighted users with a single codebase deployed across every major mobile platform.</p>
        <p class="sm">Sworkit has 3 million monthly active users and over 10 million downloads, and the team has created a total of nine apps using Ionic Framework. Ionic’s design flexibility and top-notch performance allowed the Sworkit team to scale as a remote, global business using one codebase across multiple platforms.</p>
      </div>
      <div class="spacer"></div>
      <div class="graphics">
        <img src="/img/enterprise/customers/app-sworkit.png" loading="lazy" width="1120" height="1606" alt="Sworkit">
      </div>
    </section>
  </div>
  <div class="ee-section-wrapper">
    <section id="instant-pot" class="right container">
      <div class="content">
        <h2><img class="logo" src="/img/enterprise/customers/logo-instant-pot.png" loading="lazy" width="386" height="72" alt="Instant Pot Logo"></h2>
        <p>America’s #1 pressure cooker, Instant Pot, boasts over 1M+ highly engaged community members and leverages Ionic to power their app, which features popular recipes and pressure cooking tips. </p>
        <p class="sm">Instant Pot is America’s most popular pressure cooker and the number one selling brand on Amazon.com with one of the highest overall customer ratings. The Instant Pot line of products are truly tools for a new lifestyle and cater to the needs of health-minded individuals and DIY food enthusiasts. The brand uses Ionic to power its Instant Pot app to share featured recipes, tips, and product suggestions with its community of over 1+ million active users.</p>
      </div>
      <div class="spacer"></div>
      <div class="graphics">
        <img src="/img/enterprise/customers/app-instant-pot.png" loading="lazy" width="1092" height="1606" alt="Instant Pot">
      </div>
    </section>
  </div>
  <div class="ee-section-wrapper">
    <section id="shipt" class="left container">
      <div class="content">
        <h2>
          <img  class="logo"   
                src="/img/enterprise/customers/logo-shipt@2x.png"
                srcset="/img/enterprise/customers/logo-shipt@1x.png 1x,
                        /img/enterprise/customers/logo-shipt@2x.png 2x"
                loading="lazy"
                width="296" height="100"
                alt="Shipt Logo"/>
        </h2>
        <p>A fast-growing leader in grocery delivery is rapidly scaling its mobile ordering app with the help of realtime updates from Ionic’s DevOps platform.</p>
        <p class="sm">Shipt (a Target subsidiary) is a leader in grocery and home product delivery, serving members in over 260 cities and counting, with over 50,000 shoppers. Shipt built their consumer-facing mobile app with Ionic. And by leveraging Ionic Appflow, a mobile DevOps platform, they are able to keep their app updated as soon as new features become available, with live updates sent directly to users.</p>
      </div>
      <div class="spacer"></div>
      <div class="graphics">
        <img src="/img/enterprise/customers/app-shipt.png" loading="lazy" width="1120" height="1606" alt="Shipt">
      </div>
    </section>
  </div>
  <div class="ee-section-wrapper">
    <section id="untappd" class="right container">
      <div class="content">
        <h2><img class="logo" src="/img/enterprise/customers/logo-untappd.png" loading="lazy" width="384" height="64" alt="Untappd Logo"></h2>
        <p>With over 4 million users, Untappd has built a social networking ecosystem of beer enthusiasts, allowing them to find, rate, and share what they’re drinking.</p>
        <p class="sm">The Untappd team took their app’s previous user interface and translated it using Ionic’s component library, taking advantage of elements like Toggles and Checkmarks to give their app a native experience that users were familiar with. Untappd’s favorite part of developing with Ionic is its ability to get to market faster.</p>
      </div>
      <div class="spacer"></div>
      <div class="graphics">
        <img src="/img/enterprise/customers/app-untappd.png" loading="lazy" width="1092" height="1606" alt="Untappd">
      </div>
    </section>
  </div>
  <div class="ee-section-wrapper--gray">
    <aside id="get-started" >
      <div class="container get-started center hubspot-override hubspot-override--large">
        <hgroup class="content">
          <h3>Get started with</h3>
          <h2>Ionic Enterprise</h2>
        </hgroup>
        <!--[if lte IE 8]>
        <script charset="utf-8"
                type="text/javascript"
                src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
        <script charset="utf-8"
                type="text/javascript"
                src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
            portalId: "3776657",
          	formId: "07be63e7-b78c-4d4b-bcaa-f8fbf29b5dba",
            css: ""
          });
        </script>
      </div>
    </aside>
  </div>
</main>

<aside class="resources">
  <div class="container">
    <additional-resources page="customers"></additional-resources>
  </div>
</aside>
{% endblock %}


{% block scripts %}

{% endblock %}
