{% extends "_layouts/base.html" %}
{% set id = 'identity-vault' %}
{% set header_style = 'transparent products-page' %}
{% set pre_footer = false %}
{% set meta_image = 'https://ionicframework.com/img/meta/iv-open-graph-img.png'%}
{% set title = 'Identity Vault - Ionic Framework' %}
{% set meta_description = 'Protect your Ionic app users with the latest in multi-layer native security and best practices for storing biometric authentication data on device. Identity Vault works at the native layer, bringing together dozens of native capabilities and security APIs for the best possible frontend protection.' %}
{% set meta_keywords = 'Ionic Framework, enterprise app development, enterprise app security, mobile security, app security, app authentication, mobile user authentication, biometric app security, biometric authentication, mobile biometric protection, iOS secure enclave, Android Fingerprint & Pin, Background data hiding, frontend authentication app, frontend app security, data at-rest encryption' %}

{% block main %}
<div id="sub-header">
  <div class="container">
    <ul class="sub-header__left">
      <li><a class="sub-header__title" href="/enterprise/identity-vault">Identity Vault</a></li>
    </ul>
    <ul class="sub-header__right">
      <li><a href="https://ionicframework.com/docs/enterprise/identity-vault">Docs</a></li>
      <li><a href="#demo" class="demo anchor">Request Demo</a></li>
    </ul>
  </div>
</div>
<main>
<div class="top">
  <div class="container">
    <hgroup>
      <h1>Identity Vault</h1>
      <h3>
        Protect your users with the most secure mobile biometric authentication
        available.
      </h3>
      <p>
        DIY frontend security leaves users vulnerable to data loss and
        unauthorized access - even when using popular plugins and APIs.
      </p>
      <p>
        <strong>Identity Vault</strong> protects users with the latest in
        multi-layer native security and best practices for storing
        authentication data on device. Boost security to new or existing Ionic
        apps in minutes.
      </p>
      <a class="btn white sm anchor" href="#demo">Request Demo</a>
    </hgroup>
  </div>
</div>

<section class="gandalf container">
  <div class="split">
    <div>
      <h2>Keep it secret. Keep it safe.</h2>
      <h3>The app security problem:</h3>
      <p>
        Many frontend authentication app workflows use unsecure practices, like
        storing tokens unencrypted or using weak authentication logic that can
        be easily compromised. <strong>Identity Vault fixes this.</strong>
      </p>
    </div>
    <ul>
      <li>
        Built and supported by Ionic’s native mobile experts, offering the best
        possible frontend security.
      </li>
      <li>
        Offers built-in advanced biometric, data at-rest encryption, and active
        session management.
      </li>
      <li>
        Easily integrates with new or existing Ionic apps, and works with any
        backend authentication provider.
      </li>
      <li>
        A native, on-device security solution that protects your users’ data
        without it ever leaving the device.
      </li>
    </ul>
  </div>
  <figure class="activateOnScroll" data-offset="250">
    <strong>Ionic Identity Vault</strong>
    <a onClick="toggleFigure(this)"></a>
  </figure>
</section>

<section class="center points container">
  <hgroup>
    <h2>Powerful, multi-layered frontend security</h2>
    <p>
      Identity Vault uses the most advanced frontend security capabilities and
      best practices to protect users from data loss and unauthorized access.
    </p>
  </hgroup>
  <ul>
    <li class="biometrics">
      <strong>Biometric authentication</strong>
      <p>
        Bring the latest in biometric authentication to all of your Ionic apps,
        including native fingerprint identification and facial recognition for a
        secure, intuitive user experience across the board.
      </p>
    </li>
    <li class="protection">
      <strong>Protection that’s always on</strong>
      <p>
        Always-on Session Management safeguards data even when not using your
        app, with background screen protection for sensitive data and apps, and
        automatic logout based on inactivity time.
      </p>
    </li>
    <li class="code">
      <strong>Easy code integration</strong>
      <p>
        Ionic Identity Vault is a completely modular, easy to consume user
        service that extends your app logic to handle everything you need for
        secure token storage and session management.
      </p>
    </li>
    <li class="backend">
      <strong>Pair with any backend auth</strong>
      <p>
        Powered by a simple, developer friendly API, the Ionic Identity Vault
        solution works with any backend authentication provider or service,
        including Active Directory, Okta, Auth0, custom REST APIs, and more.
      </p>
    </li>
    <li class="tokens">
      <strong>Encrypted security tokens</strong>
      <p>
        Ionic’s Identity Vault provides a safe, private, and encrypted method of
        storing authentication tokens, protecting them with advanced
        authentication methods like fingerprint auth and facial recognition.
      </p>
    </li>
    <li class="support">
      <strong>Ongoing updates &amp; support</strong>
      <p>
        Your subscription to Ionic Identity Vault includes ongoing updates and
        maintenance, including new API features, patches, updates, and
        compatibility upgrades for new iOS &amp; Android releases.
      </p>
    </li>
  </ul>
</section>

<section class="left protect container">
  <hgroup>
    <h3>Protect your users, focus on your app</h3>
    <p class="lg">
      Ionic provides everything you need to deliver and maintain highly secure
      client-side user authentication for all of your Ionic apps, right out of
      the box. Our Enterprise Customer Success team has the expertise and skills
      to solve any problems that come up.
    </p>
    <p>
      Get the latest in frontend security, so your team can concentrate on
      valuable features and experiences that will set your app apart.
    </p>
  </hgroup>
</section>

<section class="right integrations container">
  <hgroup>
    <h3>Deep native security integrations</h3>
    <p class="lg">
      Identity Vault works at the native layer, bringing together over a dozen
      native capabilities and security APIs for the best possible frontend
      protection.
    </p>
    <ul>
      <li>TouchID</li>
      <li>Android Fingerprint &amp; PIN</li>
      <li>FaceID</li>
      <li>Android KeyStore</li>
      <li>Apple Keychain</li>
      <li>Native Session Timeouts</li>
      <li>iOS Secure Enclave</li>
      <li>Background Data Hiding</li>
    </ul>
  </hgroup>
</section>

<section class="center dark what-you-got">
  <div class="container">
    <hgroup>
      <h3>What you get with Identity Vault</h3>
      <p class="lg">
        Focus on your app and user experience and let <strong>Ionic Identity
        Vault </strong>enable and automate security, encryption, session
        management, and more.
      </p>
    </hgroup>
    <ul>
      <li>Safe, private, and encrypted storage of authentication tokens</li>
      <li>Developer-friendly docs, tutorials, and videos to get you started</li>
      <li>Always-on Session Management to keep your users protected</li>
      <li>Available advisory services and mission-critical support SLAs</li>
      <li>Modular, easy to consume service that integrates your apps</li>
      <li>Backend agnostic design works with any authentication system</li>
      <li>Ongoing updates &amp; maintenance, backed by Ionic’s app experts</li>
      <li>Deep native integration, with the best native frontend security</li>
    </ul>
  </div>
</section>

<section class="center demo container">
  <hgroup>
    <strong id="demo">Ready to secure your apps?</strong>
    <h2>Schedule a demo of Identity Vault today</h2>
    <p>
      And get access to our <strong>Fact Sheet</strong> with a complete overview
      of Identity Vault
    </p>
  </hgroup>
  <div class="form hubspot-override hubspot-override--large">
    <!--[if lte IE 8]>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
    <![endif]-->
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
    <script>
      hbspt.forms.create({
    	  portalId: '3776657',
    	  formId: 'f0652949-799e-47e0-82ea-ba27e690a7b8',
        css: ''
      });
    </script>
  </div>
</section>

<section class="right watch">
  <div class="container">
    <a class="card"
       target="_blank"
       href="https://go.ionicframework.com/identity-vault">
      <img src="/img/enterprise/identity-vault/video-thumbnail.png" alt="">
    </a>
    <hgroup>
      <h3>Watch our Solution Walkthrough</h3>
      <p>
        Curious how exactly <strong>Identity Vault</strong> secures your app and
        protects your users? Watch our video overview that covers everything you
        need to know.
      </p>
      <a class="btn sm white"
         target="_blank"
         href="https://go.ionicframework.com/identity-vault">
        <img src="/img/enterprise/identity-vault/play-video-btn-icon.png" />
        Watch the video
      </a>
    </hgroup>
  </div>
</section>
</main>
{% endblock %}


{% block scripts %}
<script>
function toggleFigure(el) {
  el.parentElement.classList.toggle('active');
}
</script>
{% endblock %}
