{% extends '_layouts/enterprise.html' %}
{% set title = 'Ionic for Enterprise' %}
{% set meta_image = 'https://ionicframework.com/img/meta/ionic-for-enterprise-og.png'%}
{% set meta_description = "Ionic Enterprise is a trusted foundation and full-stack solution to build and power your company's mission-critical, enterprise apps that impact digital transformation." %}
{% set id = 'enterprise' %}
{% set cssPath = 'enterprise/index' %}


{% block main %}

<div class="top">
  <div class="container">
    <hgroup class="measure">
      <h4>Ionic Enterprise </h4>
      <h1>The fastest way to build critical apps at scale.</h1>
      <p>Accelerate your company’s app development with a secure, long-term solution that’s optimized for enterprise and backed by Ionic experts.</p>
      <a href="/enterprise/contact" class="btn uppercase cta-link" id="btn-enterprise-engine-hero-buy">
        Try Enterprise
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="s-ion-icon">
          <path d="M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z"></path>
        </svg>
      </a>
    </hgroup>
  </div>
</div>

<main class="sticky-wrapper">
<nav id="sticky-bar">
  <ul class="container nav" role="tablist">
    <li><a class="anchor" data-offset="80" href="#cross-platform-sdk">Cross-platform SDK</a></li>
    <li><a class="anchor" data-offset="80" href="#native-plugins">Native Plugins</a></li>
    <li><a class="anchor" data-offset="80" href="#powerful-developer-tools">Developer Tools</a></li>
    <li><a class="anchor" data-offset="40" href="#pre-built-solutions">Pre-built Solutions</a></li>
    <li><a class="anchor" data-offset="80" href="#expert-services">Expert Services</a></li>
  </ul>
</nav>

  <section id="overview" class="container">
    <div class="two-col">
      <div class="content">
        <h2>Ionic Enterprise</h2>
        <p class="large">Our SDKs, tools, integrations, and services are designed to modernize enterprise app development. Ionic empowers your app development teams with everything they need to deliver the mission-critical apps that keep your business running.</p>
        <a href="/enterprise/contact" class="contact-sales">Contact sales to learn more<ion-icon name="ios-arrow-forward"></ion-icon></a>
        <a href="/enterprise/customers">
          <img src="/img/enterprise/logos-row-1.png" alt="Panera, GE, IBM, Nationwide">
          <img src="/img/enterprise/logos-row-2.png" alt="Restaraunt Brands International, Amtrak, Target, Verizon">
          <img src="/img/enterprise/logos-row-3.png" alt="NBC Universal, USAA, National Health Service, US Army">
        </a>
      </div>
      <div class="chart">
        <h5><span>What you get</span></h5>
        <div class="chart__box">
          <ul class="chart__card-list chart__card-list--trio">
            <li class="chart__card">
              <img src="/img/enterprise/ico-sdk.png" width="28" height="28">
              Cross-Platform Mobile SDK
            </li>
            <li class="chart__card">
              <img src="/img/enterprise/ico-native.png" width="33" height="26">
              Core Native Features
            </li>
            <li class="chart__card">
              <img src="/img/enterprise/ico-customer-success.png" width="32" height="32">
              Customer Success &amp; Advisory
            </li>
          </ul>
          <ul class="chart__card-list chart__card-list--duo">
            <li class="chart__card">
              <img src="/img/enterprise/ico-tools.png" width="32" height="28">
              Powerful Tools
            </li>
            <li class="chart__card">
              <img src="/img/enterprise/ico-solutions.png" width="28" height="32">
              Pre-Built Solutions
            </li>
          </ul>
        </div>
        <div class="chart__dots"></div>
        <div class="chart__box">
          <h6>Cross Platform Development Across:</h6>
          <ul class="platform-list platform-list--quintet">
            <li class="platform platform--ios">iOS</li>
            <li class="platform platform--android">Android</li>
            <li class="platform platform--electron">Desktop</li>
            <li class="platform platform--pwa">PWA</li>
            <li class="platform platform--browser">Browser</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  {% include '_includes/promos/evaluating-ionic-for-enterprise.html' %}

  <section id="cross-platform-sdk" class="nav-section">
    <div class="container two-col">
      <hgroup>
        <h3>Cross-Platform SDK</h3>
        <h2>A UI library for all your team’s projects and apps.</h2>
        <p>Unlock the enterprise edition of the open source Framework and keep your projects moving forward. Build and deploy apps across multiple platforms, including iOS, Android, desktop, and Progressive Web Apps — all from a single codebase, using standardized web technologies.</p>
        <a href="/enterprise/contact" class="contact-sales">Contact sales to learn more<ion-icon name="ios-arrow-forward"></ion-icon></a>
        <ul class="checkmark-list checkmark-list--large">
          <li>
            <i><ion-icon name="checkmark"></ion-icon></i>
            Empower web teams to build award-winning apps
          </li>
          <li>
            <i><ion-icon name="checkmark"></ion-icon></i>
            Build with Angular, React, Vue, or your framework of choice
          </li>
          <li>
            <i><ion-icon name="checkmark"></ion-icon></i>
            Get priority fixes and live troubleshooting
          </li>
        </ul>
      </hgroup>
      <div class="graphics--framework activateOnScroll">
        <div class="shadow"></div>
      </div>
    </div>
  </section>

  <section id="native-plugins" class="nav-section container">
    <h3>Native Device Features</h3>
    <hgroup class="two-col">
      <div>
        <h2>Unlocked access to powerful device features and capabilities.</h2>
      </div>
      <div>
        <p class="large">Need access to native features like Camera and GPS? Ionic Enterprise provides a library of native functionality that you can easily add to any Ionic app, with active maintenance and security patching to keep your projects running smoothly.</p>
        <a href="/enterprise/contact" class="contact-sales">Contact sales to learn more<ion-icon name="ios-arrow-forward"></ion-icon></a>
      </div>
    </hgroup>
    <ul class="feature-list">
      <li>
        <hgroup class="feature-icon feature-icon--plugins">
          <h4>Core Device Plugins</h4>
          <p>Everything you need to deliver the core functionality your users expect, from essentials like <a href="https://ionicframework.com/docs/enterprise/nativestorage" target="_blank">native storage</a> and <a href="https://ionicframework.com/docs/enterprise/media-capture" target="_blank">media capture</a>, to <a href="https://ionicframework.com/docs/enterprise/apple-payment-pass" target="_blank">payments</a> and <a href="https://ionicframework.com/docs/enterprise/splashscreen" target="_blank">splash screen</a>.</p>
        </hgroup>
      </li>
      <li>
        <hgroup class="feature-icon feature-icon--sla">
          <h4>Guaranteed SLA</h4>
          <p>Timely support and troubleshooting when you need it most. Get expert help directly from the Ionic team with guaranteed response times.</p>
        </hgroup>
      </li>
      <li>
        <hgroup class="feature-icon feature-icon--release-schedule">
          <h4>Regular Release Cycles</h4>
          <p>A release timeline you can count on, as opposed to a community maintainers schedule. Think days instead of months or years.</p>
        </hgroup>
      </li>

      <li>
        <hgroup class="feature-icon feature-icon--security">
          <h4>Critical Security Updates &amp; Fixes</h4>
          <p>Keep your users protected with ongoing security updates and fixes that keep pace with OS releases, patches, and known vulnerabilities.</p>
        </hgroup>
      </li>
      <li>
        <hgroup class="feature-icon feature-icon--issues">
          <h4>Issues &amp; Feature Prioritization</h4>
          <p>Have ideas or concerns about how a plugin should work? As an Enterprise customer, you’ll be able to request and prioritize what matters to you.</p>
        </hgroup>
      </li>
      <li>
        <hgroup class="feature-icon feature-icon--guaranteed">
          <h4>Guidance &amp; Expertise</h4>
          <p>Ensure your team is utilizing best practices and for adding native functionality, helping you to meet your deadlines while avoiding costly tech debt.</p>
        </hgroup>
      </li>
    </ul>
  </section>

  <section id="powerful-developer-tools" class="nav-section container">
    <div class="two-col">
      <hgroup>
        <h3>Powerful Developer Tools</h3>
        <h2>Tools to speed up app development and delivery</h2>
        <p>Give your whole team the tools they need to succeed with enterprise  versions of Ionic Studio rapid app builder and Appflow mobile DevOps suite.  Scale your app with custom plans and enable secure team collaboration with   an organization-level account.</p>
        <a href="/enterprise/contact" class="contact-sales">Contact sales to learn  more<ion-icon name="ios-arrow-forward"></ion-icon></a>
      </hgroup>
      <ul class="checkmark-list checkmark-list--large">
        <li>
          <i><ion-icon name="checkmark"></ion-icon></i>
          <spa><a href="/studio">Ionic Studio</a>&nbsp;secure local app builder to accelerate development.</span>
        </li>
        <li>
          <i><ion-icon name="checkmark"></ion-icon></i>
          <spa><a href="/appflow">Ionic Appflow</a>&nbsp;mobile DevOps suite for continuous delivery.</span>
        </li>
        <li>
          <i><ion-icon name="checkmark"></ion-icon></i>
          Customized plans that scale to meet your needs.
        </li>
        <li>
          <i><ion-icon name="checkmark"></ion-icon></i>
          Advanced team collaboration and security.
        </li>
      </ul>
    </div>
    <div class="two-col two-col--right two-col--basic">
      <img id="img-studio" src="/img/enterprise/studio.png" alt="Studio">
      <div class="content">
        <h4>Rapid Mobile App Development</h4>
        <p>Ionic Studio is a powerful app builder that delivers a smooth developer experience for teams building with Ionic. Get started with the fastest and easiest way to create award-winning cross-platform apps, from a single tool.</p>
        <a href="/studio" class="contact-sales">Learn more<ion-icon name="ios-arrow-forward"></ion-icon></a>
      </div>
    </div>
    <div class="two-col two-col--left two-col--basic">
      <div class="content">
        <h4>Continuous Mobile Delivery</h4>
        <p>Enable your team to spend more time on what matters and focus on building apps. Ionic Appflow automates everything else — from the moment code is checked in to the moment it lands in the hands of your users.</p>
        <a href="/appflow" class="contact-sales">Learn more<ion-icon name="ios-arrow-forward"></ion-icon></a>
      </div>
      <img id="img-devops" src="/img/enterprise/devops-graphic.png" alt="DevOps">
    </div>
  </section>

  <section id="pre-built-solutions" class="nav-section container">
    <div class="two-col">
      <div class="integrations activateOnScroll">
        <a class="integrations__aws-amplify" target="_blank" href="/integrations/aws-amplify">
          <i></i>
          AWS Amplify
        </a>
        <a class="integrations__active-directory" target="_blank" href="/integrations/ms-activedirectory-ms-adal">
          <i></i>
          Active Directory
        </a>
        <a class="integrations__identity-vault" target="_blank" href="/identity-vault">
          <i></i>
          Identity Vault
        </a>
        <a class="integrations__auth-connect" target="_blank" href="/auth-connect">
          <i></i>
          Auth-connect
        </a>
        <a class="integrations__couchbase" target="_blank" href="/integrations/couchbase-lite">
          <i></i>
          Couchbase
        </a>
        <a class="integrations__mparticle" target="_blank" href="/docs/enterprise/mparticle">
          <i></i>
          Mparticle
        </a>
      </div>
      <hgroup>
        <h3>Pre-Built Solutions</h3>
        <h2>Move faster than ever with premier mobile solutions and integrations.</h2>
        <p class="large">Accelerate development with powerful solutions to common enterprise use cases - all built and supported by the Ionic team. Ionic’s growing library of solutions are ready to deploy in any of the apps you build with Ionic Enterprise.</p>
        <a href="/enterprise/contact" class="contact-sales">Contact sales to learn more<ion-icon name="ios-arrow-forward"></ion-icon></a>
        <ul class="checkmark-list checkmark-list--large">
          <li>
            <i><ion-icon name="checkmark"></ion-icon></i>
            Biometric mobile sign-in
          </li>
          <li>
            <i><ion-icon name="checkmark"></ion-icon></i>
            User authentication
          </li>
          <li>
            <i><ion-icon name="checkmark"></ion-icon></i>
            Secure offline storage
          </li>
          <li>
            <i><ion-icon name="checkmark"></ion-icon></i>
            Customer data management
          </li>
          <li>
            <i><ion-icon name="checkmark"></ion-icon></i>
            <a href="/integrations" target="_blank">And more&hellip;<ion-icon name="ios-arrow-forward"></ion-icon></a>
          </li>
        </ul>
      </hgroup>
    </div>
  </section>

  <section id="expert-services" class="nav-section container">
    <div class="two-col">
      <hgroup>
        <h3>Expert Services</h3>
        <h2>Your trusted app development partner.</h2>
        <p>Our Ionic Experts become your development partner to ensure on-time app delivery, avoid technical debt, and eliminate project risk. From timely support for the open source Framework, to code reviews and personalized team training, we’ve got you covered.</p>
        <a href="/enterprise/contact" class="contact-sales">Contact sales to learn more</a>
      </hgroup>
      <ul class="feature-list feature-list--large">
        <li>
          <i class="feature-icon feature-icon--services"></i>
          <hgroup>
            <h4>Expert Advisory Services</h4>
            <p>Improve development and reduce risk with live code reviews, architecture reviews, security audits, and tailored guidance directly from our Ionic Experts.</p>
          </hgroup>
        </li>
        <li>
          <i class="feature-icon feature-icon--training"></i>
          <hgroup>
            <h4>Customized Team Training</h4>
            <p>Get your company up-to-speed quickly with instructor-led training covering basics to best practices for building and delivering stellar mobile apps.</p>
          </hgroup>
        </li>
        <li>
          <i class="feature-icon feature-icon--slack"></i>
          <hgroup>
            <h4>Private Slack Communication</h4>
            <p>Get real-time advice, guidance, and feedback when you need it, with live Slack access and direct private chat with Ionic’s expert technical team.</p>
          </hgroup>
        </li>
        <li>
          <i class="feature-icon feature-icon--reviews"></i>
          <hgroup>
            <h4>Code and Design Reviews</h4>
            <p>Our mobile experts will spend multiple days reviewing your existing project code and design patterns, providing highly tailored and actionable recommendations.</p>
          </hgroup>
        </li>
      </ul>
    </div>
  </section>
</main>

  <section id="comparison-table">
    <div class="container">
      <hgroup>
        <h2>Everything you need.<br>From front to back.</h2>
      </hgroup>

      <div class="comp-table-wrapper">
        <table class="comp-table">
          <thead>
            <tr>
              <th></th>
              <th>Ionic Community Edition</th>
              <th>Ionic Enterprise Edition</th>
            </tr>
          </thead>
          <tbody>

            <tr class="comp-table__section">
              <td>Cross-Platform UI Toolkit</td>
              <td></td>
              <td></td>
            </tr>
            <tr class="stripe">
              <td>Ionic Framework</td>
              <td><ion-icon name="checkmark"></ion-icon></td>
              <td><ion-icon name="checkmark"></ion-icon></td>
            </tr>
            <tr class="stripe">
              <td>Version Migration Assistance</td>
              <td><i class="dash"></i></td>
              <td><ion-icon name="checkmark"></ion-icon></td>
            </tr>
            <tr>
              <td>Priority Fixes</td>
              <td><i class="dash"></i></td>
              <td><ion-icon name="checkmark"></ion-icon></td>
            </tr>

            <tr class="comp-table__section">
              <td>Core Device Functionality</td>
              <td></td>
              <td></td>
            </tr>
            <tr class="stripe">
              <td>Native Feature Library that includes GPS, Camera, InAppBrowser, Accelerometer, and more.</td>
              <td>Community Plugins</td>
              <td><ion-icon name="checkmark"></ion-icon></td>
            </tr>
            <tr>
              <td>Active Maintenance & Support</td>
              <td><i class="dash"></i></td>
              <td><ion-icon name="checkmark"></ion-icon></td>
            </tr>
            <tr class="comp-table__section">
              <td>Pre-Built Mobile Solutions</td>
              <td></td>
              <td></td>
            </tr>
            <tr class="stripe">
              <td>Security & Authentication </td>
              <td><i class="dash"></i></td>
              <td><span class="pill">Add-on available</span></td>
            </tr>
            <tr>
              <td>Mobile Payments </td>
              <td><i class="dash"></i></td>
              <td><span class="pill">Add-on available</span></td>
            </tr>
            <tr class="stripe">
              <td>Offline Data</td>
              <td><i class="dash"></i></td>
              <td><span class="pill">Add-on available</span></td>
            </tr>
            <tr>
              <td>Media</td>
              <td><i class="dash"></i></td>
              <td><span class="pill">Add-on available</span></td>
            </tr>
            <tr class="stripe">
              <td>Notifications</td>
              <td><i class="dash"></i></td>
              <td><span class="pill">Add-on available</span></td>
            </tr>
            <tr>
              <td>Printing & Scanning</td>
              <td><i class="dash"></i></td>
              <td><span class="pill">Add-on available</span></td>
            </tr>

            <tr class="comp-table__section comp-table__section--pad">
              <td>Enterprise Customer Success</td>
              <td><i class="dash"></i></td>
              <td><ion-icon name="checkmark"></ion-icon></td>
            </tr>

            <tr class="comp-table__section comp-table__section--pad">
              <td>Advisory Services</td>
              <td><i class="dash"></i></td>
              <td><span class="pill">Add-on available</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

{% include '../_includes/promos/start-enterprise.html' %}
{% include '../_includes/promos/quad-cta.html' %}
{% endblock %}

{% block scripts %}

{% endblock %}
