{% extends "_layouts/base.html" %}
{% set id = 'enterprise' %}
{% set mixpanelEnabled = true %}
{% set bodyController = 'EnterpriseCtrl' %}
{% import "../_includes/macros.html" as macros %}

{% block main %}

<div class="banner cta" >
  <hgroup class="container">
    <h1>Ionic Enterprise</h1>
    <p>
      Simplify app creation. Ionic makes it easy to build high performance apps
      that look &amp; feel beautiful on any platform or device, with
      superpowered tools your teams will love.
    </p>
    <a onClick="mixpanel.track('Modal Opened', {'test': 'Enterprise - 1'})"
       data-toggle="modal"
       data-target="#contactForm"
       class="btn white"
       id="btn-enterprise-get-in-touch">Get in touch</a>
  </hgroup>
</div>

{% if notification %}
<h2 class="container text-center {{notificationClass}}"
    ng-init="success = true">
  {{ notification }}
</h2>
{% endif %}
<section class="container ready">
  <hgroup class="hero text-center">
    <h2>Developer friendly, enterprise ready</h2>
    <p class="lg">
      Enable your developers to build apps with the technology they know & love
      across the entire app development process, with the tools, collaboration,
      and control you need to power your apps—company-wide.
    </p>
    <img src="/img/enterprise/macbook-dash-preview.jpg" />
  </hgroup>
  <ul class="features icons">
    <li class="accelerated">
      <h4>Accelerated time to market</h4>
      <p>
        Go from idea to app store in half the time, with Ionic there to guide
        you at every step.
      </p>
    </li>
    <li class="noticed">
      <h4>Apps that get noticed</h4>
      <p>
        Create beautiful, high-performant mobile apps that captivate your
        customers and elevate employees.
      </p>
    </li>
    <li class="teams">
      <h4>Empowering your teams</h4>
      <p>
        Turn in-house web dev teams and even citizen developers into powerful
        mobile app builders.
      </p>
    </li>
    <li class="workflow">
      <h4>Streamlined app workflow</h4>
      <p>
        Git integration and a centralized dashboard,enable efficient, agile
        development flow for teams.
      </p>
    </li>
  </ul>
</section>

<section class="companies">
  <div class="container">
    <h2>Powering apps at some of the world’s smartest companies</h2>
    <img src="/img/enterprise/logos.png" alt="enterprise company logos" />
  </div>
</section>

<section class="solution container">
  <h2>Our approach. Your solution.</h2>
  <ul class="items icons">
    <li class="platforms">
      <h4>
        Fully cross-platform apps
      </h4>
      <p>
        Ionic apps work and look beautiful wherever they run. With Ionic, a
        single team can build desktop, progressive web, and native mobile apps
        across every major app store, all from a single shared codebase.
      </p>
    </li>
    <li class="optimized">
      <h4>Native and web optimized</h4>
      <p>
        Ionic offers the best components for building highly interactive native
        and progressive web apps. By unlocking native APIs and plugins, Ionic
        brings the UI standards and device features of native apps together with
        the full power and flexibility of the open web.
      </p>
    </li>
    <li class="design">
      <h4>Beautifully designed</h4>
      <p>
        Clean, simple, and functional. Ionic is designed to work and display
        beautifully on all current mobile devices and platforms, with ready-made
        components and gorgeous (yet highly customizable) base themes.
      </p>
    </li>
    <li class="performant">
      <h4>Highly performant</h4>
      <p>
        Performance is paramount. Ionic is built to perform and behave great on
        the latest mobile devices with best practices like efficient hardware
        accelerated transitions, and touch-optimized gestures.
      </p>
    </li>
    <li class="developers">
      <h4>The stack developers love</h4>
      <p>
        Happy developers build better apps. Ionic is the world's most popular
        cross-platform mobile development technology stack, backed by a massive
        international community.  Ionic also powers some of the best teams and
        companies on earth.
      </p>
    </li>
    <li class="future">
      <h4>Extensible, future-proof technology</h4>
      <p>
        With Ionic, you’re taking advantage of the single most adopted,
        tested, and dominate technology stack in the world: The Web. Rest
        assured, the Web has been around the longest, and it’s not going away
        anytime soon.
      </p>
    </li>
  </ul>
</section>

<section class="powerful">
  <div class="container">
    <img src="/img/enterprise/enterprise-graphic.png" />
    <hgroup>
      <h2>
        Powerful extensions, support, and peace of mind for Enterprise teams
      </h2>
      <p class="lg">
        <strong>Ionic Enterprise</strong> enables your team to be as efficient
        and nimble as a startup, while also addressing the complex requirements
        of the modern enterprise. It’s everything you need to build, test,
        monitor, and deploy incredible apps.
      </p>
      <a href="/enterprise/support" class="btn sm white">Learn More</a>
    </hgroup>
    <ul class="why icons">
      <li class="solution">
        <h4>A complete enterprise solution</h4>
        <p>
          Ionic’s suite of products and services give you and your team all the
          tools needed to quickly move from app ideation to app store, allowing
          you to transition easily between the critical phases of your mobile or
          desktop development lifecycle.
        </p>
      </li>
      <li class="support">
        <h4>Support when you need it</h4>
        <p>
          Get priority access to hotfixes, with the option for premium code
          reviews and training from the core Ionic team.  Every Ionic Enterprise
          subscription comes with a dedicated Account Manager and a one hour
          Kickoff Session. Additional code review  available at extra cost.
        </p>
      </li>
      <li class="tools">
        <h4>Ionic best practices</h4>
        <p>
          Ensure your team moves forward in the best possible direction. From
          security and authentication, to plugin advice and integration, our
          Ionic experts help guide your development stages so you can save time
          and ship quality enterprise applications faster.
        </p>
      </li>
    </ul>
  </div>
</section>

{% include '../_includes/promos/ebook.html' %}

<section class="bar get-in-touch">
  <hgroup class="container">
    <h2>Ready to start building better apps, faster?</h2>
    <a class="btn white sm"
       data-toggle="modal"
       data-target="#contactForm"
       onClick="mixpanel.track('Modal Opened', {'test': 'Enterprise - 1'})"
       id="btn-enterprise-get-in-touch-bottom">
      Get in touch</a>
  </hgroup>
</section>

{% endblock %}

{% block modals %}
<div class="modal collapse fade"
     id="contactForm"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                onClick="mixpanel.track('Form Close', {'test': 'Enterprise - 1'})">
          <span aria-hidden="true">&times;</span>
        </button>
        <hgroup class="hero text-center">
          <h3>Contact us</h3>
          <p class="lg">
            Send us a detailed message and an Ionic Sales Representative will
            get back to you soon.
          </p>
        </hgroup>
        <script charset="utf-8"
                type="text/javascript"
                src="https://js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
            portalId: '3776657',
            formId: '79e045c9-3689-4f76-82d8-63550658feaf'
          });
        </script>

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  // enable sticky nav
  stickyNav.init();

   /* Replace 'APP_ID' with your app ID */
   window.intercomSettings = {
    app_id: 'm0la1vjm'
};
   /* Replace 'APP_ID' with your app ID */
   (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){
     ic('reattach_activator');ic('update',intercomSettings);}else{var
     d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args)
     {i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');
     s.type='text/javascript';s.async=true;
     s.src='https://widget.intercom.io/widget/APP_ID';
     var x=d.getElementsByTagName('script') [0];x.parentNode.insertBefore(s,x);
     }if(w.attachEvent){w.attachEvent('onload',l);}else{
       w.addEventListener('load',l,false);}}})()
</script>
<script type="text/javascript"
        id="hs-script-loader"
        async
        defer
        src="//js.hs-scripts.com/3776657.js"></script>
{% endblock %}
