{% extends "_layouts/enterprise.html" %}
{% set id = 'enterprise' %}
{% set cssPath = 'enterprise/index' %}

{% block main %}
<hgroup class="container hero">
  <h1>An app platform your developers will love.</h1>
  <p>Build blazing fast mobile, desktop, and web apps with open web technologies.</p>
  <a href="" class="btn">Contact us</a>
</hgroup>

<main>
  <section id="best-way" class="container left">
    <div class="content">
      <h2>The best way to build apps.</h2>
      <p>
        Ionic makes it easy to build amazing apps for any platform or device, 
        using basic web technology - all with one shared codebase.
      </p>
    </div>
    <div class="graphics">
      <img src="/img/enterprise/apple-devices.jpg" alt="iPhone, iPad, Macbook">
    </div>
  </section>
  <section id="friendly" class="container right">
    <div class="content">
      <h2>Developer-friendly, future-proof.</h2>
      <p>
        Ionic’s unique approach embraces open standards, giving you the freedom 
        to connect with and use any legacy app, third-party service, or 
        front-end technology.
      </p>
    </div>
    <div class="graphics">
      <img src="/img/enterprise/developer-friendly.png" 
           alt="any backend, any FE library, deploy anywhere">
    </div>
  </section>
  <section id="supercharged" class="container center">
    <div class="content">
      <h2>A supercharged platform for teams.</h2>
      <p>
        Ionic’s powerful development platform gives you the tools you need to 
        create incredible apps at lightning speed and automate every phase of 
        delivery.
      </p>
    </div>
    <figure>
      <ul>
        <li>
          <div class="icon">
            <img src="/img/enterprise/ico-visual.png" width="68" style="margin: 3px 0 0 5px;"/>
          </div>
          Visual Development
        </li>
        <li>
          <div class="icon">
            <img src="/img/enterprise/ico-cross-platform.png" width="82"/>
          </div>
          CROSS-PLATFORM SDK
        </li>
        <li>
          <div class="icon">
            <img src="/img/enterprise/ico-continuous.png" width="76"/>
          </div>
          Continuous Delivery
        </li>
      </ul>
      <figcaption>
        All backed by expert services and enterprise grade support.
      </figcaption>
    </figure>
  </section>
  <section id="why" class="container full">
    <div class="content">
      <h2>Why build with Ionic?</h2>
      <p>
        Ionic is a dev platform for the entire app lifecycle that allows teams 
        to build better apps, faster.
      </p>
    </div>
    <ul class="features">
      <li>
        <img src="/img/enterprise/ico-more.png" class="icon">
        <h3>More than just mobile</h3>
        <p>
          Build progressive web and native mobile apps for every major app 
          store, with one codebase. Ionic works and looks beautiful wherever it 
          runs.
        </p>
      </li>
      <li>
        <img src="/img/enterprise/ico-performance.png" class="icon">
        <h3>Full native power and performance</h3>
        <p>
          There’s no limit to what you can do with Ionic. Give your users the 
          most advanced on-device features and hardware-accelerated performance.
        </p>
      </li>
      <li>
        <img src="/img/enterprise/ico-speed.png" class="icon">
        <h3>Lighting fast development</h3>
        <p>
          Reduce the time and cost to develop apps by 10x or more, with one 
          shared codebase across mobile and desktop - plus powerful tools and 
          services to accelerate your entire journey.
        </p>
      </li>
      <li>
        <img src="/img/enterprise/ico-web.png" class="icon">
        <h3>Build with the web</h3>
        <p>
          Ionic turns web developers into skilled mobile app developers. Create 
          award-winning mobile experiences using the most popular and widely 
          used programming languages in the world.
        </p>
      </li>
      <li>
        <img src="/img/enterprise/ico-community.png" class="icon">
        <h3>Backed by a global community</h3>
        <p>
          Ionic is backed by a vibrant community of more than 5M developers in 
          over 200 countries. Join the thousands of global events and see how 
          easy it is to learn and grow with our platform.
        </p>
      </li>
      <li>
        <img src="/img/enterprise/ico-future.png" class="icon">
        <h3>Future proof your apps</h3>
        <p>
          Empower your web teams to build native mobile apps, using the tools 
          they know and love - today, tomorrow, and whatever the future brings.
        </p>
      </li>
    </ul>
  </section>
  <aside id="good-comapny">
    <div class="container center">
      <div class="content">
        <h2>You’re in good company.</h2>
        <p>
          Thousands of companies around the world build with Ionic. Join the 
          ranks with Ionic Enterprise for the stability and world-class support 
          needed to build apps with confidence.
        </p>

        <ul class="cards">
          <li>
            <a href="">
              <div class="img-wrapper">
                <img src="" 
                     alt="">
              </div>
              <h4>Amtrak</h4>
              <p class="small">Amtrak rebuilt their entire customer-facing mobile app and ride purchasing system on Ionic, to help improve customer...</p>
            </a>
          </li>
          <li>
            <a href="">
              <div class="img-wrapper">
                <img src="" 
                     alt="">
              </div>
              <h4>Marketwatch</h4>
              <p class="small">Today, mobile developers typically need to deliver their application to both iOS and Android devices, among others...</p>
            </a>
          </li>
          <li>
            <a href="">
              <div class="img-wrapper">
                <img src="" 
                     alt="">
              </div>
              <h4>National Health Service</h4>
              <p class="small">Today, mobile developers typically need to deliver their application to both iOS and Android devices, among others...</p>
            </a>
          </li>
        </ul>

        <img src="/img/enterprise/enterprise-companies.png" 
             alt="Mastercard, The National, UniQlo, IBM, ING, SAP, NASA" 
             class="companies"
             width="782">
      </div>
    </div>
  </aside>
</main>
{% endblock %}


{% block scripts %}

{% endblock %}