{% extends '_layouts/enterprise.html' %}
{% set id = "platform" %}
{% set cssPath = 'enterprise/platform' %}

{% block main %}
<hgroup class="container ee-hero ee-hero--centered">
  <h1>Everything you need to build amazing apps.</h1>
  <p>Ionic’s enterprise app development platform gives you everything you need to build award-winning apps at incredible scale, faster than ever.</p>
</hgroup>

<main class="ee-main">
  <section id="app-builder" class="container left">
    <div class="content">
      <h4 class="ee-section__title">App Builder</h4>
      <h2>Lightning fast app development</h2>
      <p>
        A powerful, locally-installed visual development environment that makes
        it easy to build stunning apps in minutes.
      </p>
    </div>
    <div class="graphics">
      <img src="/img/enterprise/platform/app-builder-graphic.png"
           alt="App Builder screenshot">
    </div>
  </section>

  <section id="oss" class="container right">
    <div class="content">
      <h4 class="ee-section__title">Cross-Platform SDK</h4>
      <h2>Fast, beautiful apps</h2>
      <p>Build high-performance, native mobile and desktop apps for iOS, Android, Windows, PWAs, and more - all from a single codebase.</p>
      <p class="sm">
        Build with intuitive UI components that accelerate app development, and
        can be deployed virtually anywhere.
      </p>
      <ul class="frameworks">
        <li class="frameworks__angular"></li>
        <li class="frameworks__react"></li>
        <li class="frameworks__vue"></li>
        <li class="frameworks__js"></li>
      </ul>
    </div>
    <div class="graphics">
      <img src="/img/enterprise/platform/cross-platform-sdk-graphic.jpg"
           alt="Ionic Framework UI components on iPhone and Android">
    </div>
  </section>

  <section id="devops" class="container left">
    <div class="content">
      <h4 class="ee-section__title">Devops</h4>
      <h2>Ship continuously</h2>
      <p>Automate every phase of app delivery - from native app builds to realtime updates - all from a central hub with secure access for the whole team.</p>
    </div>
    <div class="graphics">
      <img src="/img/enterprise/platform/devops-graphic.png" alt="Appflow">
    </div>
  </section>

  <section id="integrations" class="center">
    <div class="content container">
      <h4 class="ee-section__title">Integrations</h4>
      <h2>Yes, we integrate with that</h2>
      <p>
        From community plugins to premium supported integrations, Ionic has you
        covered. Unlock unmatched native power, speed, and core functionality
        across all your apps.
      </p>
    </div>
    <ul id="integration-list" class="integration-list">
      <li><img src="/img/homepage/integrations/paypal-integration.png" alt="Paypal"/></li>
      <li><img src="/img/homepage/integrations/heroku-integration.png" alt="Heroku"/></li>
      <li><img src="/img/homepage/integrations/couchbase-integration.png" alt="Couchbase"/></li>
      <li><img src="/img/homepage/integrations/aws-amplify-integration.png" alt="AWS Amplify"/></li>
      <li><img src="/img/homepage/integrations/android-fingerprint-integration.png" alt="Android Fingerprint"/></li>
      <li><img src="/img/homepage/integrations/apple-faceid-integration.png" alt="Apple FaceID"/></li>
      <li><img src="/img/homepage/integrations/active-directory-integration.png" alt="Active Directory"/></li>
      <li><img src="/img/homepage/integrations/apple-pay-integration.png" alt="ApplePay"/></li>
      <li><img src="/img/homepage/integrations/firebase-integration.png" alt="Firebase"/></li>
      <li><img src="/img/homepage/integrations/google-maps-integration.png" alt="Google Maps"/></li>
      <li><img src="/img/homepage/integrations/ios-camera-plugin-integration.png" alt="Camera"/></li>
      <li><img src="/img/homepage/integrations/sqlite-integration.png" alt="SQLite"/></li>
      <li><img src="/img/homepage/integrations/stripe-integration.png" alt="Stripe"/></li>
      <li><img src="/img/homepage/integrations/touch-id-ios-integration.png" alt="TouchID"/></li>
    </ul>
  </section>

  <section id="advisory" class="container cta-card left">
    <div class="content">
      <h4 class="ee-section__title">Advisory</h4>
      <h2>Expert help for enterprise teams</h2>
      <p>Tackle your biggest challenges with tailored solutions and expert services for every phase of the app lifecycle.</p>
    </div>
  </section>

  {% include '_includes/promos/how-to-get-started.html' %}
</main>

<aside id="ee-get-started" >
  <div class="container get-started center hubspot-override hubspot-override--large hubspot-override--measure">
    <hgroup class="content">
      <h3>Learn more about</h3>
      <h2>Ionic for Enterprise</h2>
    </hgroup>
    <!--[if lte IE 8]>
    <script charset="utf-8"
            type="text/javascript"
            src="//js.hsforms.net/forms/v2-legacy.js"></script>
    <![endif]-->
    <script charset="utf-8"
            type="text/javascript"
            src="//js.hsforms.net/forms/v2.js"></script>
    <script>
      hbspt.forms.create({
        portalId: "3776657",
      	formId: "1db3bf42-b8e1-449d-9d83-879a43dc793b",
        css: ""
      });
    </script>
  </div>
</aside>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
<script>
window.flow = function() {
	var sizes = ["s", "m", "l"],
	    iconLWidth = 256,
	    container = document.getElementById("integration-list"),
			icons = document.querySelectorAll("#integration-list img"),
			resizeTimer,
		  w, h;

	// debounce the re-init so it doesn't totally freak out while draging
	window.addEventListener('resize', resizeDebounce);

	function resizeDebounce() {
		clearTimeout(resizeTimer);
  	resizeTimer = setTimeout(init, 250);
	}

	function init() {
		w = container.offsetWidth;
		h = container.offsetHeight;

		icons.forEach(function(icon, i) {
			var size = sizes[Math.ceil(Math.random() * 3) -1];
			TweenMax.set(
				icon, {
					attr: {class: size},
					y: R(50, h - 150),
					x: R(w, w + 50)
				}
			);
			animate(icon, i);
		});
	}

	// animate x and y values at different rates
	function animate(element, i) {
		 TweenMax.to(
			 element,
			 R(110,120),
			 {
				 x: -1500,
				 ease: Linear.easeNone,
				 repeat:-1,
				 delay: -115 / icons.length * i
			 }
		 );

		 TweenMax.to(
			 element,
			 R(6,16),
			 {
				 y: '+=50',
				 repeat: -1,
				 yoyo: true,
				 ease: Sine.easeInOut,
         delay: R(-16, -6)
			 }
		 );
	};

	function R(min,max) {
		return min + Math.random() * (max-min)
	};

	return {
		init: init
	}
}().init();
</script>
{% endblock %}
