{% extends '_layouts/enterprise.html' %}
{% set id = "enterprise-platform" %}
{% set cssPath = 'enterprise/platform' %}

{% block main %}
<hgroup class="container ee-hero ee-hero--centered">
  <h1>Everything you need to build amazing apps.</h1>
  <p>Ionic’s enterprise app development platform gives you everything you need to build award-winning apps at incredible scale, faster than ever.</p>
</hgroup>

<aside id="used-by">
  <img class="container" src="/img/homepage/logos-a.png">
</aside>

<main>
  <section id="difference">
    <div class="container">
      <hgroup>
        <h5>Interested in the differences between hybrid and native apps?</h5>
        <p>
          Our new eBook breaks down everything you need to know—all the myths,
          lies, and misconceptions.
        </p>
        <a href="/books/hybrid-vs-native" class="btn sm">Read the eBook</a>
      </hgroup>
    </div>
  </section>

  <section id="for-devs" class="center">
    <hgroup class="container">
      <h2>Dedicated app development platform</h2>
      <p>
        We help developers build and deploy cross-platform apps. From open
        source to premium services, Ionic makes app creation lightning fast.
      </p>
    </hgroup>
    <ul class="container">
      <li class="oss"><a href="#oss" class="anchor">OSS Framework</a></li>
      <li class="devops"><a href="#devops" class="anchor">Mobile Devops</a></li>
      <li class="ide"><a href="#studio" class="anchor">App Builder</a></li>
      <li class="integration"><a href="#integrations" class="anchor">Integrations</a></li>
    </ul>
  </section>

  <section id="oss" class="container left">
    <div class="content">
      <h4>Open Source Framework</h4>
      <h2>Fast, beautiful apps</h2>
      <p class="lg">
        <strong>Ionic Framework</strong> is the free, open source mobile UI
        toolkit for developing high-quality cross-platform apps for native iOS,
        Android, and the web—all from a single codebase.
      </p>
      <p>
        Build with intuitive UI components that accelerate app development, and
        can be deployed virtually anywhere.
      </p>
      <ul class="frameworks">
        <li class="frameworks__angular"></li>
        <li class="frameworks__react"></li>
        <li class="frameworks__vue"></li>
        <li class="frameworks__js"></li>
      </ul>
      <a href="/framework" class="cta">Explore Framework</a>
    </div>
    <div class="graphics activateOnScroll">
      <div class="shadow"></div>
    </div>
  </section>

  <section id="devops" class="container right">
    <div class="graphics activateOnScroll"></div>
    <div class="content">
      <h4>Mobile Devops</h4>
      <h2>Ship continuously</h2>
      <p class="lg">
        From automated native builds to live updating and CI/CD, <strong>Ionic
        Appflow</strong> addresses the entire mobile DevOps lifecycle.
        Continuously build and ship apps at the speed of development.
      </p>
      <p>Integrate seemlessly with your favorite git hosts and get shipping.</p>
      <ul class="git-hosts">
        <li><img src="/img/homepage/devops-support-github.png" alt="GitHub" /></li>
        {# <li><img src="/img/homepage/devops-support-gitlab.png" alt="Gitlab" /></li> #}
        <li><img src="/img/homepage/devops-support-bitbucket.png" alt="Bitbucket" /></li>
      </ul>
      <a href="/appflow" class="cta">Learn about Appflow</a>
    </div>
  </section>

  <section id="studio" class="center">
    <div class="container content">
      <h4>App Builder</h4>
      <h2>Lightning fast development</h2>
      <p class="lg">
        <strong>Ionic Studio</strong> is a powerful, locally-installed, visual
        development environment that makes it easy to build stunning apps in
        minutes.
      </p>
      <a href="/studio" class="cta">Explore Ionic Studio</a>
    </div>
    <div class="graphics">
      <video poster="/img/products/studio/studio-time-lapse-start.jpg"
             class="container" autoplay loop muted>
        <source src="https://ionic-site-assets.s3.amazonaws.com/studio-time-lapse.mp4"
                type="video/mp4">
      </video>
    </div>
  </section>

  <section id="integrations" class="center"
  >
    <div class="content container">
      <h4>Integrations</h4>
      <h2>Yes, we integrate with that</h2>
      <p class="lg">
        From community plugins to premium supported integrations, Ionic has you
        covered. Unlock unmatched native power, speed, and core functionality
        across all your apps.
      </p>
      <a href="/integrations" class="cta">See Integrations</a>
    </div>
    <ul id="integration-list" class="integration-list">
      <li><img src="/img/homepage/integrations/paypal-integration.png" alt="Paypal"/></li>
      <li><img src="/img/homepage/integrations/heroku-integration.png" alt="Heroku"/></li>
      <li><img src="/img/homepage/integrations/couchbase-integration.png" alt="Couchbase"/></li>
      <li><img src="/img/homepage/integrations/aws-amplify-integration.png" alt="AWS Amplify"/></li>
      <li><img src="/img/homepage/integrations/android-fingerprint-integration.png" alt="Android Fingerprint"/></li>
      <li><img src="/img/homepage/integrations/apple-faceid-integration.png" alt="Apple FaceID"/></li>
      <li><img src="/img/homepage/integrations/active-directory-integration.png" alt="Active Directory"/></li>
      <li><img src="/img/homepage/integrations/apple-pay-integration.png" alt="ApplePay"/></li>
      <li><img src="/img/homepage/integrations/firebase-integration.png" alt="Firebase"/></li>
      <li><img src="/img/homepage/integrations/google-maps-integration.png" alt="Google Maps"/></li>
      <li><img src="/img/homepage/integrations/ios-camera-plugin-integration.png" alt="Camera"/></li>
      <li><img src="/img/homepage/integrations/sqlite-integration.png" alt="SQLite"/></li>
      <li><img src="/img/homepage/integrations/stripe-integration.png" alt="Stripe"/></li>
      <li><img src="/img/homepage/integrations/touch-id-ios-integration.png" alt="TouchID"/></li>
    </ul>
  </section>

  <section id="why-build" class="container">
    <hgroup>
      <h3>Why build with Ionic?</h3>
      <p>
        Ionic is a dev platform for the entire app lifecycle that allows teams
        to build better apps, faster.
      </p>
    </hgroup>
    <ul class="why">
      <li class="why__future-proof">
        <h5>As future-proof as the web</h5>
        <p>
          The apps you build with Ionic leverage the power and stability of the
          open web - the most time-tested universal runtime in the world. The
          web has been around over two decades, and we believe it will be there
          for the next two. Always bet on the web.
        </p>
      </li>
      <li class="why__community">
        <h5>Backed by a global community</h5>
        <p>
          Ionic is backed by a <a href="/community" target="_blank">vibrant
          community</a> of more than 5M developers in over 200 countries. Join
          the thousands of global meetups, forums, and community driven events
          that make it easy to learn and grow with our platform.
        </p>
      </li>
      <li class="why__os">
        <h5>Rooted in Open Source</h5>
        <p>
          We’re a company built on open source. It all began with <a
          href="/framework" target="_blank">Ionic Framework</a> - the world's
          most popular open source SDK for building cross-platform mobile and
          Progressive Web Apps. Our open source roots powers everything we do at
          Ionic.
        </p>
      </li>
    </ul>
  </section>

  <section id="good-company" class="container center">
    <hgroup>
      <h3>You’re in good company</h3>
      <p class="lg">
        Thousands of amazing companies around the world build with Ionic. Join
        the ranks with <a href="/enterprise-edition">Ionic Enterprise Edition</a>
        for the stability and world-class support needed to build cross-platform
        apps with confidence.
      </p>
    </hgroup>
    <ul class="case-studies">
      <li>
        <a href="/enterprise-engine">
          <img src="/img/homepage/customer-general-electric-ge.jpg"
               alt="General Electric">
          <p>
            <strong>GE Transportation</strong> uses Ionic to build mission
            critical apps ensuring timely deliveries.
          </p>
        </a>
      </li>
      <li>
        <a href="/enterprise/resources/case-studies/marketwatch">
          <img src="/img/homepage/customer-marketwatch.jpg" alt="Market Watch">
          <p>
            The <strong>Marketwatch</strong> team built their flagship app in
            record time leveraging Ionic.
          </p>
        </a>
      </li>
      <li>
        <a href="/enterprise/resources/case-studies/national-health-service">
          <img src="/img/homepage/customer-nhs-national-health-service.jpg"
               alt="National Health Service">
          <p>
            The <strong>National Health Service</strong>, one of the UK’s top
            health providers went all in on Ionic.
          </p>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://itunes.apple.com/us/app/amtrak/id405074003?mt=8">
          <img src="/img/homepage/customer-amtrak.jpg" alt="Amtrak">
          <p>
            <strong>Amtrak</strong> did a complete overhaul of their existing
            app and converted it to Ionic.
          </p>
        </a>
      </li>
    </ul>
    <img class="others" src="/img/homepage/logos-b.png">
    <a href="/enterprise/resources/case-studies" class="cta">See all Customer Stories</a>
  </section>

  <section id="join">
    <hgroup class="container center">
      <h1>
        Join the <strong>millions</strong> of developers using Ionic to build
        incredible apps.
      </h1>
      <div class="btns">
        <a href="/getting-started" class="btn white rounded">
          Start Building <ion-icon name="arrow-forward"></ion-icon>
        </a>
        <a href="/sales" class="btn light rounded">Talk to Sales</a>
      </div>
    </hgroup>
  </section>
</main>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
<script>
window.flow = function() {
	var sizes = ["s", "m", "l"],
	    iconLWidth = 256,
	    container = document.getElementById("integration-list"),
			icons = document.querySelectorAll("#integration-list img"),
			resizeTimer,
		  w, h;

	// debounce the re-init so it doesn't totally freak out while draging
	window.addEventListener('resize', resizeDebounce);

	function resizeDebounce() {
		clearTimeout(resizeTimer);
  	resizeTimer = setTimeout(init, 250);
	}

	function init() {
		w = container.offsetWidth;
		h = container.offsetHeight;

		icons.forEach(function(icon, i) {
			var size = sizes[Math.ceil(Math.random() * 3) -1];
			TweenMax.set(
				icon, {
					attr: {class: size},
					y: R(50, h - 150),
					x: R(w, w + 50)
				}
			);
			animate(icon, i);
		});
	}

	// animate x and y values at different rates
	function animate(element, i) {
		 TweenMax.to(
			 element,
			 R(110,120),
			 {
				 x: -1500,
				 ease: Linear.easeNone,
				 repeat:-1,
				 delay: -115 / icons.length * i
			 }
		 );

		 TweenMax.to(
			 element,
			 R(6,16),
			 {
				 y: '+=50',
				 repeat: -1,
				 yoyo: true,
				 ease: Sine.easeInOut,
         delay: R(-16, -6)
			 }
		 );
	};

	function R(min,max) {
		return min + Math.random() * (max-min)
	};

	return {
		init: init
	}
}().init();
</script>
{% endblock %}
