{% extends '_layouts/enterprise.html' %}
{% set id = 'strategy-session' %}
{% set title = "Ionic Framework - Strategy Session" %}
{% set meta_description = "Book a strategy session with one of Ionic's solution architects to help kickstart your organizations mobile development." %}
{% import "_includes/macros.html" as macros %}
{% set header_style = 'transparent dark' %}
{% set cssPath = 'strategy-session' %}
{% set pre_footer = false %}

{% block main %}
<div class="cta">
  <div class="container">
    <hgroup>
      <h1>Let's Talk Strategy</h1>
      <p>Connect with an Ionic Solutions Engineer for a tailored discussion on how Ionic can jumpstart your app dev strategy.</p>
    </hgroup>
  </div>
</div>

<main class="container">
  <div class="content-row">
    <section class="content">
      <h2>Strategy sessions are tailored to your needs. Here are some example topics you might cover:</h2>
      <ul class="checkmark-list--large">
        <li>
          <i>
            <ion-icon name="checkmark"></ion-icon>
          </i>
          Architecture and tech stack review
        </li>
        <li>
          <i>
            <ion-icon name="checkmark"></ion-icon>
          </i>
          Your development goals &amp; challenges
        </li>
        <li>
          <i>
            <ion-icon name="checkmark"></ion-icon>
          </i>
          Mobile and cross-platform development strategies
        </li>
        <li>
          <i>
            <ion-icon name="checkmark"></ion-icon>
          </i>
          How to get the most from your current team
        </li>
        <li>
          <i>
            <ion-icon name="checkmark"></ion-icon>
          </i>
          Questions about Ionic: How it works, when and why to use Ionic
        </li>
      </ul>

      <figure class="testimonial">
        <div class="testimonial__img">
          <img src="/img/strategy-session/netkow.png" alt="Matt Netkow - Ionic Product Evangelist" />
        </div>
        <figcaption class="testimonial__caption">
          <p class="testimonial__quote">As a Product Evangelist and former consulting engineer, I love bringing my experience with Ionic and app development in general to help customers reach their goals.</p>
          <h4 class="testimonial__name">Matt Netkow</h4>
          <h5 class="testimonial__title">Ionic Product Evangelist</h5>
        </figcaption>
      </figure>
    </section>

    <div class="signup-form hubspot-override">
      <h3>Sign up for your strategy session</h3>
      <script charset="utf-8"
              type="text/javascript"
              src="https://js.hsforms.net/forms/v2.js"></script>
      <script>
        hbspt.forms.create({
          portalId: '3776657',
          formId: '4e2c7c3c-626a-45d6-9ec8-927a41f6fc68',
          css: ''
        });
      </script>
    </div>
  </div>
</main>

<section class="customer-callout">
  <div class="container">
    <hgroup>
      <h3>You’re in good company.</h3>
      <p>Thousands of companies around the world build with Ionic. Join the ranks with <a href="/enterprise-edition">Ionic Enterprise</a> for the stability and world-class support needed to build apps with confidence.</p>
    </hgroup>

    <ul class="customer-callout__logos">
      <li class="mastercard"></li>
      <li class="nationwide"></li>
      <li class="uniqlo"></li>
      <li class="ibm"></li>
      <li class="ing"></li>
      <li class="sap"></li>
      <li class="nasa"></li>
    </ul>
  </div>
</section>

<section class="resources">
  <div class="container">
    <hgroup>
      <h4>Resources for you</h4>
      <h5><a href="/resources">See all resources <ion-icon name="ios-arrow-forward"></ion-icon></a></h5>
    </hgroup>

    <ul class="cards">
      <li>
        <a href="/resources/articles/digital-transformation-pitfalls">
          <div class="img-wrapper">
            <img src="/img/strategy-session/article-three-common-pitfalls.png" alt="">
          </div>
          <h6>Article</h6>
          <h4>3 Common Pitfalls on the Path to Digital Transformation</h4>
          <p class="small">With software-native companies like Amazon, Uber, and Netflix setting the pace for digital experiences, there’s no escape for traditional...</p>
        </a>
      </li>
      <li>
        <a href="/resources/articles/how-to-pick-the-right-mobile-development-approach">
          <div class="img-wrapper">
            <img src="/img/strategy-session/article-how-to-pick.png" alt="">
          </div>
          <h6>Article</h6>
          <h4>How to Pick the Right Mobile Development Approach?</h4>
          <p class="small">When you’re evaluating different mobile development solutions, you’ll often see head-to-head comparisons like “Cross-Platform...</p>
        </a>
      </li>
      <li>
        <a href="/resources/whitepapers/evaluating-ionic-for-enterprise-development/">
          <div class="img-wrapper">
            <img src="/img/strategy-session/article-evaluating-ionic-for-enterprise.png" alt="">
          </div>
          <h6>Article</h6>
          <h4>Evaluating Ionic for the Enterprise</h4>
          <p class="small">If you're an Architect, Senior Developer, or Executive charged with identifying the right application development solution for your...</p>
        </a>
      </li>
    </ul>
  </div>
</section>

{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}
