{% extends "_layouts/base.html" %}
{% set id = 'enterprise-support' %}
{% set mixpanelEnabled = true %}
{% import "../_includes/macros.html" as macros %}
{% set meta_description = "Ionic provides expert help and guidance for your enterprise app development strategy when you need it most. Develop cross platform apps with enterprise grade support." %}
{% set cssPath = 'enterprise/support' %}
{% set stickyNav = true %}

{% block main %}

<div class="banner cta">
  <hgroup class="container">
    <h1>Enterprise Support</h1>
    <p>
      Expert help and guidance, when you need it most.
    </p>
  </hgroup>
</div>

<section class="container help">
  <hgroup class="hero text-center">
    <h2>Our experts can help.</h2>
    <p class="lg">
      Protect your investment with enterprise-grade support, tailored to fit
      your needs.
    </p>
  </hgroup>
  <ul class="features icons">
    <li class="fixes">
      <h4>Hot-fixes</h4>
      <p>
        Get rapid remediation of issues, so you can focus on building  your app
        and shipping sooner.
      </p>
    </li>
    <li class="reviews">
      <h4>Code reviews</h4>
      <p>
        Go line-by-line with our experts as they share coding best practices and
        advice.
      </p>
    </li>
    <li class="sla">
      <h4>Response SLAs</h4>
      <p>
        Rest easy knowing you’ll get the attention and responsive attention you need to
        meet your goals.
      </p>
    </li>
    <li class="training">
      <h4>Live training</h4>
      <p>
        Give your team the skills and tools they need to be successful building
        apps on day one.
      </p>
    </li>
    <li class="contact">
      <h4>Single point of contact</h4>
      <p>
        Work with a dedicated engineer who knows your history, your team, and
        your priorities.
      </p>
    </li>
    <li class="slack">
      <h4>Dedicated Slack channel</h4>
      <p>
        Need answers now? Get instant access to support with a dedicated Slack
        channel.
      </p>
    </li>
  </ul>
</section>

<section class="plan">
  <div class="container hubspot-override hubspot-override--large">
    <hgroup class="text-center">
      <h3>Get in touch.</h3>
      <p class="lg">
        Schedule time with our experts today. Let us help you build a plan 
        that’s right for you.
      </p>
    </hgroup>

    <script charset="utf-8"
            type="text/javascript"
            src="https://js.hsforms.net/forms/v2.js"></script>
    <script>
      hbspt.forms.create({
        portalId: '3776657',
        formId: '07be63e7-b78c-4d4b-bcaa-f8fbf29b5dba',
        css: ''
      });
    </script>
  </div>
</section>

<section class="bar cta get-in-touch">
  <div class="container">
    <hgroup>
      <h2>Start building apps the better way. </h2>
      <p>Free accounts and free advice. Everything you need to get started.</p>
    </hgroup>

    <div class="btn-group">
      <a href="/signup?source=framework-{{id}}"
         class="btn white sm"
         id="btn-enterprise-create-account">Create an account</a>
      <a class="btn btn-default sm"
         data-toggle="modal"
         data-target="#contactForm"
         id="btn-enterprise-talk-to-sales">Talk to sales</a>
    </div>
  </div>
</section>

{% endblock %}

{% block modals %}
<div class="modal collapse fade"
     id="contactForm"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}
