{% extends '_layouts/base.html' %}
{% set title = 'Ionic Mobile Development Advisory Services - Ionic Framework' %}
{% set meta_image = 'https://ionicframework.com/img/meta/products-advisory-og.png' %}
{% set meta_description = "Ionic's mobile development advisory services helps you build apps more efficiently and effectively. Whether you are undergoing digital transformation or building new enterprise apps we have you covered." %}
{% set id = 'products-advisory' %}
{% set header_style = 'transparent' %}
{% set stickyNav = true %}
{% set cssPath = 'products/advisory' %}
{% set pre_footer = false %}


{% block main %}

<svg style="display: none;"></svg>

<div class="top">
  <div class="container">
    <hgroup>
      <h4>Ionic Advisory</h4>
      <h1>Your partner at every stage of development</h1>
      <p>Tackle your biggest challenges with tailored solutions and expert services.</p>
      <a href="#" class="btn uppercase rounded cta-link" id="btn-enterprise-engine-hero-buy">Get in touch</a>
    </hgroup>
  </div>
</div>

<main>
  <section class="customer-logos">
    <div class="container">
      <ul>
        <li class="customer-logo--aaa"></li>
        <li class="customer-logo--amtrak"></li>
        <li class="customer-logo--panera"></li>
        <li class="customer-logo--ge"></li>
        <li class="customer-logo--rbi"></li>
      </ul>
    </div>
  </section>

  <section class="goals">
    <div class="container">
      <h2 class="measure">Helping you meet your critical development goals</h2>
      <div class="flex">
        <hgroup class="measure">
          <p class="large">Kicking off a mission-critical development project? Trying to accelerate development to keep pace with a growing app backlog? We can help.</p>
          <p>Ionic Advisory services can help get you to market faster. To free you up to focus on what matters, and help you do what you could never do before.</p>
        </hgroup>

        <ul class="checkmark-list--large">
          <li>
            <i>
              <ion-icon name="checkmark"></ion-icon>
            </i>
            Choose the right strategy for your unique goals
          </li>
          <li>
            <i>
              <ion-icon name="checkmark"></ion-icon>
            </i>
            Accelerate development and delivery by 10x or more
          </li>
          <li>
            <i>
              <ion-icon name="checkmark"></ion-icon>
            </i>
            Deliver native-powered app experiences with Ionic
          </li>
          <li>
            <i>
              <ion-icon name="checkmark"></ion-icon>
            </i>
            Integrate with legacy systems and third-party services
          </li>
          <li>
            <i>
              <ion-icon name="checkmark"></ion-icon>
            </i>
            Manage risk and avoid technical debt over time
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="lifecycle">
    <div class="container">
      <div class="flex">
        <div class="illustration">
          <img src="/img/products/advisory/advisory-flow.png"
               loading="lazy"
               width="889" height="840"
               alt="planning, development, deployment, maintenance circular flow graph" />
        </div>
        <hgroup>
          <h2>Here for you at every step</h2>
          <p class="large">Let us partner with you and your team to develop customized strategies for every phase of the development lifecycle.</p>
          <ul>
            <li>
              <h5 class="blue">Planning</h5>
              <p class="small">Strategies to help you meet your app development goals, including architectural reviews, planning and risk assessments, and development strategies.</p>
            </li>
            <li>
              <h5 class="purple">Development</h5>
              <p class="small">A partner to your development resources that shares best practices, code samples, and assists with debugging, all to help boost your team's productivity.</p>
            </li>
            <li>
              <h5 class="green">Deployment</h5>
              <p class="small">Tailored recommendations and resources to meet your deployment objectives, like how to automate deployment and delivery with the Ionic App Platform.</p>
            </li>
            <li>
              <h5 class="gray">Maintenance</h5>
              <p class="small">Active maintenance and support for everything you build with Ionic, keeping your apps running smoothly and protecting you from disruption in the face of constant change.</p>
            </li>
          </ul>
        </hgroup>
      </div>
    </div>
  </section>

  <section class="book-a-session">
    <div class="container ">
      <div class="well">
        <hgroup class="measure-lg">
          <h3>Book a free Strategy Session</h3>
          <p class="large">Schedule your free <strong>Strategy Session</strong> with one of our Solutions Engineers, to see how we can help you meet your development goals.</p>
        </hgroup>

        <a
          href="#"
          class="btn uppercase rounded"
          data-toggle="modal"
          data-target="#contactForm">
          Book a time <ion-icon name="arrow-forward"></ion-icon>
        </a>
      </div>
    </div>
  </section>

  <section class="what-you-get">
    <div class="container">
      <hgroup>
        <h2>What you get…</h2>
        <p class="large measure">Ionic Advisory includes a broad range of solutions and services to empower your team.</p>
      </hgroup>
      <ul class="checkmark-list--large">
        <li>
          <i>
            <ion-icon name="checkmark"></ion-icon>
          </i>
          <h4>Private Slack</h4>
          <p class="small">Unlock realtime access to Ionic engineers and native mobile experts via a dedicated Slack channel.</p>
        </li>
        <li>
          <i>
            <ion-icon name="checkmark"></ion-icon>
          </i>
          <h4>Live Code Analysis</h4>
          <p class="small">Go line-by-line with our experts as they share coding best practices and advice.</p>
        </li>
        <li>
          <i>
            <ion-icon name="checkmark"></ion-icon>
          </i>
          <h4>Custom Training</h4>
          <p class="small">Give your team the skills and tools they need to be successful building apps on day one.</p>
        </li>
        <li>
          <i>
            <ion-icon name="checkmark"></ion-icon>
          </i>
          <h4>Architecture Reviews</h4>
          <p class="small">Sit down with an Ionic Engineer and walk through all aspects of your project and current tech stack or architecture, to identify vulnerabilities and opportunities for improvement.</p>
        </li>
        <li>
          <i>
            <ion-icon name="checkmark"></ion-icon>
          </i>
          <h4>Guidance & Troubleshooting</h4>
          <p class="small">Experiencing UX issues? Persistent defects slowing down development? Get real-time troubleshooting and advice to help keep your projects moving.</p>
        </li>
        <li>
          <i>
            <ion-icon name="checkmark"></ion-icon>
          </i>
          <h4>Integration Support</h4>
          <p class="small">Ensure secure and reliable connections with third-party services and legacy systems.</p>
        </li>
        <li>
          <i>
            <ion-icon name="checkmark"></ion-icon>
          </i>
          <h4>Migration Assistance</h4>
          <p class="small">Take advantage of all that Ionic has to offer with comprehensive migration assistance when moving between major versions of Ionic.</p>
        </li>
        <li>
          <i>
            <ion-icon name="checkmark"></ion-icon>
          </i>
          <h4>Roadmap Access & Influence</h4>
          <p class="small">Early access and visibility to upcoming changes in the Ionic ecosystem, to help you plan effectively.</p>
        </li>
        <li>
          <i>
            <ion-icon name="checkmark"></ion-icon>
          </i>
          <h4>Technical Debt Avoidance</h4>
          <p class="small">Ionic Engineers share customized strategies to help you lay the right foundation and avoid technical debt over time.</p>
        </li>
        <li>
          <i>
            <ion-icon name="checkmark"></ion-icon>
          </i>
          <h4>DevOps Best Practices</h4>
          <p class="small">Automate every phase of app development and delivery, with best practices to help you get the most out of Ionic’s tools and services.</p>
        </li>
        <li>
          <i>
            <ion-icon name="checkmark"></ion-icon>
          </i>
          <h4>Time-to-Market Acceleration</h4>
          <p class="small">Work with our experts to improve time-to-market by 10x or more. We’ll help you identify strategies for improving efficiency and speeding up development.</p>
        </li>
      </ul>
    </div>
  </section>

  <section class="use-cases">
    <div class="container">
      <hgroup>
        <h2>See what you can do with Ionic.</h2>
        <p class="large">Whatever your development goals, we can help.</p>
      </hgroup>
      <ul class="row-list">
        <li>
          <div class="col">
            <hgroup class="measure">
              <h4>Application Development</h4>
              <p>Digital transformation is driving up demand for mobile and desktop applications - five times faster than internal app dev teams can deliver.</p>
            </hgroup>
          </div>
          <div class="col">
            <div class="measure">
              <h5>How Ionic can help</h5>
              <ul class="checkmark-list--small">
                <li>
                  <ion-icon name="checkmark"></ion-icon>
                  <p class="small">Accelerate app development with a platform that lets you write and maintain one codebase that will run on any device - across mobile and desktop.</p>
                </li>
                <li>
                  <ion-icon name="checkmark"></ion-icon>
                  <p class="small">Reach your app development goals with expert advisory services and powerful tools for every phase of the app lifecycle.</p>
                </li>
                <li>
                  <ion-icon name="checkmark"></ion-icon>
                  <p class="small">Build incredible powerful, feature-rich apps using your existing web developers, or recruit from the millions of web devs worldwide.</p>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="col">
            <hgroup class="measure">
              <h4>Design Systems</h4>
              <p>More and more enterprises are recognizing the need to adopt a design system: a single library of reusable components that can be shared across a team or company. </p>
            </hgroup>
          </div>
          <div class="col">
            <div class="measure">
              <h5>How Ionic solves it</h5>
              <ul class="checkmark-list--small">
                <li>
                  <ion-icon name="checkmark"></ion-icon>
                  <p class="small">Deliver consistent brand experiences at scale with a complete library of universal web components that work across teams and projects.</p>
                </li>
                <li>
                  <ion-icon name="checkmark"></ion-icon>
                  <p class="small">Create your own custom web components to match your brand and style guidelines, with all the power and must-have features you need in a component.</p>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="col">
            <hgroup class="measure">
              <h4>Progressive Web Apps</h4>
              <p>By the end of 2020, 93% of enterprises will using or building Progressive Web Apps (or PWAs) to expand their mobile reach beyond the app stores. Are you ready?</p>
            </hgroup>
          </div>
          <div class="col">
            <div class="measure">
              <h5>How Ionic can help</h5>
              <ul class="checkmark-list--small">
                <li>
                  <ion-icon name="checkmark"></ion-icon>
                  <p class="small">Easily extend the native mobile and desktop apps you build with Ionic to include Progressive Web Apps - all from the same codebase</p>
                </li>
                <li>
                  <ion-icon name="checkmark"></ion-icon>
                  <p class="small">Build lightning-fast PWAs using our mobile-friendly UI components, which recently achieved a 100 out of 100 in Google’s Lighthouse score.</p>
                </li>
                <li>
                  <ion-icon name="checkmark"></ion-icon>
                  <p class="small">Work with the mobile experts on our consulting and advisory teams to build a customized PWA strategy.</p>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="resources">
    <div class="container">
      <additional-resources page="advisory"></additional-resources>
    </div>
  </section>

  <section class="offwhite call-to-action">
    <div class="container">
      <hgroup class="center">
        <h3>Learn more about <em>Ionic Advisory.</em></h3>
      </hgroup>
      <div class="hubspot-override hubspot-override--large">
        <!--[if lte IE 8]>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
            portalId: "3776657",
            formId: "79207bfe-5ad1-4bcf-9f02-efbd2ace702f",
            css: ""
        });
        </script>
      </div>
    </div>
  </section>

</main>

{% include '../_includes/promos/tri-cta.html' %}
{% endblock %}

{% block modals %}
<div class="modal collapse fade"
     id="contactForm"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body hubspot-override">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <hgroup class="text-center">
          <h3>
            Book a free Strategy Session
          </h3>
          <p class="lg">Send us a detailed message and an Ionic solutions engineer will get back to you soon.</p>
        </hgroup>

        <!--[if lte IE 8]>
        <script charset="utf-8"
                type="text/javascript"
                src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
        <script charset="utf-8"
                type="text/javascript"
                src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
            portalId: "3776657",
          	formId: "6eab0d83-fa5f-46c1-be64-afdd0e4a51a6",
            css: ""
          });
        </script>

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  function scrollToSelector(selector, offset){
    var offset = offset || 0;
    window.scrollToY(document.querySelector(selector).getBoundingClientRect().top + window.scrollY + offset, 200, 'easeOutExpo');
  }

  // main cta scroll to
  document.querySelectorAll('.cta-link').forEach(function(ctaLink){
    ctaLink.addEventListener('click', function(ev){
      ev.preventDefault();
      scrollToSelector('.call-to-action');
    });
  });

</script>
{% endblock %}
