{% extends '_layouts/base.html' %}
{% set title = 'Ionic Enterprise Edition: Trusted Solution for Building Enterprise Apps' %}
{% set meta_image = 'https://ionicframework.com/img/meta/products-ee-og.png' %}
{% set meta_description = "Ionic Enterprise Edition is a trusted foundation and full-stack solution to build and power your company's mission-critical, enterprise apps that impact digital transformation." %}
{% set id = 'products-enterprise-engine' %}
{% set header_style = 'transparent light' %}
{% set stickyNav = false %}
{% set cssPath = 'products/enterprise-edition' %}
{% set hide_pre_header = true %}
{% set pre_footer = false %}


{% block main %}

<svg style="display: none;"></svg>

<div class="top">
  <div class="container">
    <hgroup class="measure">
      <h4>Ionic Enterprise Edition</h4>
      <h1>The best way to build with Ionic.</h1>
      <p>Accelerate app development with a solution that’s optimized for  enterprise and backed by Ionic Experts.</p>
      <a href="#" class="btn uppercase rounded cta-link" id="btn-enterprise-engine-hero-buy">Chat with us</a>
    </hgroup>
  </div>
</div>

<main>
  <div class="page-nav-wrap">
    <div class="page-nav">
      <div class="page-nav__inner">
        <ul>
          <li>
            <a href="#front-end-framework" class="page-nav__link page-nav__icon page-nav__icon--framework" id="btn-enterprise-edition-nav-ui-toolkit">
              Cross-Platform UI Toolkit
            </a>
          </li>
          <li>
            <a href="#native-device-features" class="page-nav__link page-nav__icon page-nav__icon--native" id="btn-enterprise-edition-nav-native-features">
              Native Device <br/> Features
            </a>
          </li>
          <li>
            <a href="#pre-built-solutions" class="page-nav__link page-nav__icon page-nav__icon--solutions" id="btn-enterprise-edition-nav-pre-built-solutions">
              Pre-built <br/> Solutions
            </a>
          </li>
          <li>
            <a href="#expert-services" class="page-nav__link page-nav__icon page-nav__icon--services" id="btn-enterprise-edition-nav-expert-services">
              Expert <br/> Services
            </a>
          </li>
        </ul>
      </div>
    </div>

    <section class="overview">
      <div class="container">
        <div>
          <h3><em>Ionic Enterprise Edition</em> empowers your app development teams with everything they need to deliver the mission-critical apps that keep your business running.</h3>
          <img src="/img/products/enterprise-engine/enterprise-edition-logo-sprite.png" alt="">
        </div>
        <div>
          <div class="chart">
            <h5><span>What you get</span></h5>
            <div class="chart__box">
              <ul class="chart__card-list">
                <li class="chart__card">
                  Ionic Framework Enterprise Edition
                </li>
                <li class="chart__card">
                  Core Native Features
                </li>
                <li class="chart__card">
                  Customer Success & Advisory
                </li>
              </ul>

              <h6>Advanced Mobile Solutions</h6>
              <ul class="checkmark-list checkmark-list--small checkmark-list--orange">
                <li>
                  <ion-icon name="checkmark"></ion-icon>
                  Authentication
                </li>
                <li>
                  <ion-icon name="checkmark"></ion-icon>
                  Payments
                </li>
                <li>
                  <ion-icon name="checkmark"></ion-icon>
                  Media
                </li>
                <li>
                  <ion-icon name="checkmark"></ion-icon>
                  Printing & Scanning</li>
                <li>
                  <ion-icon name="checkmark"></ion-icon>
                  Biometrics
                </li>
                <li>
                  <ion-icon name="checkmark"></ion-icon>
                  Notifications
                </li>
                <li>
                  <ion-icon name="checkmark"></ion-icon>
                  Communications
                </li>
                <li>
                  <ion-icon name="checkmark"></ion-icon>
                  Offline Data
                </li>
              </ul>
            </div>
            <h5><span>For Cross Platform Development across</span></h5>
            <ul class="platform-list">
              <li class="platform platform--ios">Native iOS</li>
              <li class="platform platform--android">Native Android</li>
              <li class="platform platform--electron">Electron</li>
              <li class="platform platform--pwa">PWA</li>
              <li class="platform platform--browser">Browser</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="front-end-framework" class="nav-section">
      <div class="container two-col">
        <hgroup>
          <h3>Cross-Platform UI Toolkit</h3>
          <h2>One UI library for all  your team’s projects and applications.</h2>
          <p class="large">Develop award-winning mobile and desktop apps, with one shared codebase across projects and a single design language for your entire organization. Ionic Enterprise Edition comes with an enterprise-ready version of the open source Framework, backed by long-term support and migration assistance to keep you moving forward.</p>
          <ul class="checkmark-list checkmark-list--large">
            <li>
              <i>
                <ion-icon name="checkmark"></ion-icon>
              </i>
              Timely support and troubleshooting for issues with Ionic Framework.
            </li>
            <li>
              <i>
                <ion-icon name="checkmark"></ion-icon>
              </i>
              Long-term support for previous versions for up to 5 years.
            </li>
            <li>
              <i>
                <ion-icon name="checkmark"></ion-icon>
              </i>
              Priority fixes to keep your development on track.
            </li>
          </ul>
        </hgroup>
        <div class="graphics--framework activateOnScroll">
          <div class="shadow"></div>
        </div>
      </div>
    </section>

    <section id="native-device-features" class="nav-section">
      <div class="container">
        <h3>Native Device Features</h3>

        <hgroup class="two-col">
          <div>
            <h2>Easy access to device features</h2>
          </div>
          <div>
            <p class="large">Need access to native mobile device features like Camera and GPS? Ionic Enterprise Edition provides a core library of native functionality that you can easily add to any Ionic app, with active maintenance and security patching to keep your projects running smoothly.</p>
          </div>
        </hgroup>

        <h3 class="large">Your native library comes with: </h3>
        <ul class="feature-list">
          <li>
            <hgroup class="feature-icon feature-icon--updates">
              <h4>Regular Release Cycles & updates</h4>
              <p>A release timeline you can count on, as opposed to a community maintainers schedule. Think days instead of months or years.</p>
            </hgroup>
          </li>
          <li>
            <hgroup class="feature-icon feature-icon--sla">
              <h4>Guaranteed Support SLA & Ticketing</h4>
              <p>Ability to communicate directly with the Ionic team with guaranteed response times, so you can be sure you will get answers & fixes ASAP.</p>
            </hgroup>
          </li>
          <li>
            <hgroup class="feature-icon feature-icon--advisory">
              <h4>Access to Advisory & Implementation Guidance</h4>
              <p>Ensuring your team is utilizing best practices and  functionality from both the framework & native side with ease, enabling you to meet your deadlines while avoiding costly tech debt.</p>
            </hgroup>
          </li>

          <li>
            <hgroup class="feature-icon feature-icon--security">
              <h4>Critical Security & Hot Bug Fixes</h4>
              <p>The plugins that Ionic maintains will be guaranteed to work with future OS releases, patches, continued development, and more. There’s no fear of community plugin abandonement.</p>
            </hgroup>
          </li>
          <li>
            <hgroup class="feature-icon feature-icon--issues">
              <h4>Issues & Feature Prioritization</h4>
              <p>An Open Source plugin may have many open issues that will impact your team's ability to use the plugin, delaying your ability to ship new features. Ensure that your team remains agile by having Ionic fix the issues most important to you.</p>
            </hgroup>
          </li>
          <li>
            <hgroup class="feature-icon feature-icon--guaranteed">
              <h4>Guaranteed Product Lifespan</h4>
              <p>The plugins that Ionic maintains will be guaranteed to work with future operating system releases, patches, continued development, and more. There’s no fear of a plugin being abandoned by its original author.</p>
            </hgroup>
          </li>
          <li>
            <hgroup class="feature-icon feature-icon--discussions">
              <h4>Influence & Improvement Discussions</h4>
              <p>If a plugin doesn’t do what you need it to do, Ionic is always open to chat about modifications and how the plugin can work better for you.</p>
            </hgroup>
          </li>
          <li>
            <hgroup class="feature-icon feature-icon--protection">
              <h4>Protection Against Changing Ecosystem</h4>
              <p>The frontend and mobile app ecosystems are always changing, and you’re not in control of them like you would be with your backend choices. Ionic will ensure that future software releases are supported by our maintained.</p>
            </hgroup>
          </li>
        </ul>
      </div>
    </section>

    <section id="pre-built-solutions" class="nav-section">
      <div class="container" >
        <div class="two-col">
          <div class="integrations">
            <a class="integrations__identity-vault">
              <i></i>
              Identity Vault
            </a>
            <a class="integrations__aws-amplify">
              <i></i>
              AWS Amplify
            </a>
            <a class="integrations__couchbase">
              <i></i>
              Couchbase
            </a>
            <a class="integrations__active-directory">
              <i></i>
              Active Directory
            </a>
          </div>
          <div>
            <hgroup >
              <h3>Pre-built Solutions</h3>
              <h2>Lightning-fast development with pre-built solutions</h2>
              <p class="large">Accelerate development with powerful solutions to common enterprise use cases - all built and supported by the Ionic team. Ionic’s growing library of solutions are ready to deploy in any of the apps you build with Enterprise Edition.</p>
              <ul class="checkmark-list checkmark-list--large">
                <li>
                  <i>
                    <ion-icon name="checkmark"></ion-icon>
                  </i>
                  Biometrics & user authentication
                </li>
                <li>
                  <i>
                    <ion-icon name="checkmark"></ion-icon>
                  </i>
                  Secure offline storage
                </li>
                <li>
                  <i>
                    <ion-icon name="checkmark"></ion-icon>
                  </i>
                  Mobile payment
                </li>
                <li>
                  <i>
                    <ion-icon name="checkmark"></ion-icon>
                  </i>
                  Notifications
                </li>
                <li>
                  <i>
                    <ion-icon name="checkmark"></ion-icon>
                  </i>
                  Barcode scanning
                </li>
                <li>
                  <i>
                    <ion-icon name="checkmark"></ion-icon>
                  </i>
                  Cross-app communications
                </li>
                <li>
                  <i>
                    <ion-icon name="checkmark"></ion-icon>
                  </i>
                  And more
                </li>
              </ul>
            </hgroup>
          </div>
        </div>
      </div>
    </section>

    <section id="expert-services" class="nav-section">
      <div class="container">
        <hgroup>
          <h3>Advisory & Training</h3>
          <div class="two-col">
            <div>
              <h2>Your trusted development partner</h2>
              <p class="large">Ionic Enterprise Edition customers get exclusive access to Ionic’s Advisory Services and Trainings.</p>
            </div>
          </div>
        </hgroup>
        <div class="two-col">
          <ul class="feature-list feature-list--large">
            <li>
              <i class="feature-icon feature-icon--advisory"></i>
              <hgroup>
                <h4>Ionic Advisory Services</h4>
                <p>Our mobile experts become your development partner to ensure on-time app delivery, avoid technical debt, and eliminate risk. Examples include code reviews, architecture reviews, security audits, custom development solutions, and more.</p>
              </hgroup>
            </li>
            <li>
              <i class="feature-icon feature-icon--training"></i>
              <hgroup>
                <h4>Customized Team Training</h4>
                <p>Our dedicated advisors are available for on-site or remote training to help your team get up-to-speed quickly on Ionic and provide our recommended best practices for building and delivering stellar mobile apps.</p>
              </hgroup>
            </li>
          </ul>
          <ul class="checkmark-list checkmark-list--large">
            <li>
              <i>
                <ion-icon name="checkmark"></ion-icon>
              </i>
              <hgroup>
                <h5>Private Slack</h5>
                <p>Unlock realtime access to Ionic engineers and native mobile experts via a dedicated Slack channel.</p>
              </hgroup>
            </li>
            <li>
              <i>
                <ion-icon name="checkmark"></ion-icon>
              </i>
              <hgroup>
                <h5>Code Reviews</h5>
                <p>Go line-by-line with our experts as they share coding best practices and advice.</p>
              </hgroup>
            </li>
            <li>
              <i>
                <ion-icon name="checkmark"></ion-icon>
              </i>
              <hgroup>
                <h5>Custom Training</h5>
                <p>Give your team the skills and tools they need to be successful building apps on day one.</p>
              </hgroup>
            </li>
            <li>
              <i>
                <ion-icon name="checkmark"></ion-icon>
              </i>
              <hgroup>
                <h5>Expert Advisory</h5>
                <p>Our mobile experts are on-hand to help your development team tackle any aspect of app development.</p>
              </hgroup>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <section id="comparison-table" class="divider">
    <div class="container">
      <hgroup>
        <h2><em>Everything you need.</em> From front to back.</h2>
      </hgroup>

      <div class="comp-table-wrapper">
        <table class="comp-table">
          <thead>
            <tr>
              <th></th>
              <th>Ionic Community Edition</th>
              <th>Ionic Enterprise Edition</th>
            </tr>
          </thead>
          <tbody>

            <tr class="comp-table__section">
              <td>Cross-Platform UI Toolkit</td>
              <td></td>
              <td></td>
            </tr>
            <tr class="stripe">
              <td>Ionic Framework</td>
              <td><ion-icon name="checkmark"></ion-icon></td>
              <td><ion-icon name="checkmark"></ion-icon></td>
            </tr>
            <tr>
              <td>Long-Term Support</td>
              <td><i class="dash"></i></td>
              <td><ion-icon name="checkmark"></ion-icon></td>
            </tr>
            <tr class="stripe">
              <td>Version Migration Assistance</td>
              <td><i class="dash"></i></td>
              <td><ion-icon name="checkmark"></ion-icon></td>
            </tr>
            <tr>
              <td>Priority Fixes</td>
              <td><i class="dash"></i></td>
              <td><ion-icon name="checkmark"></ion-icon></td>
            </tr>

            <tr class="comp-table__section">
              <td>Core Device Functionality</td>
              <td></td>
              <td></td>
            </tr>
            <tr class="stripe">
              <td>Native Feature Library that includes GPS, Camera, InAppBrowser, Accelerometer, and more.</td>
              <td>Community Plugins</td>
              <td><ion-icon name="checkmark"></ion-icon></td>
            </tr>
            <tr>
              <td>Active Maintenance & Support</td>
              <td><i class="dash"></i></td>
              <td><ion-icon name="checkmark"></ion-icon></td>
            </tr>
            <tr class="comp-table__section">
              <td>Pre-Built Mobile Solutions</td>
              <td></td>
              <td></td>
            </tr>
            <tr class="stripe">
              <td>Security & Authentication </td>
              <td><i class="dash"></i></td>
              <td><span class="pill">Add-on available</span></td>
            </tr>
            <tr>
              <td>Mobile Payments </td>
              <td><i class="dash"></i></td>
              <td><span class="pill">Add-on available</span></td>
            </tr>
            <tr class="stripe">
              <td>Offline Data</td>
              <td><i class="dash"></i></td>
              <td><span class="pill">Add-on available</span></td>
            </tr>
            <tr>
              <td>Media</td>
              <td><i class="dash"></i></td>
              <td><span class="pill">Add-on available</span></td>
            </tr>
            <tr class="stripe">
              <td>Notifications</td>
              <td><i class="dash"></i></td>
              <td><span class="pill">Add-on available</span></td>
            </tr>
            <tr>
              <td>Printing & Scanning</td>
              <td><i class="dash"></i></td>
              <td><span class="pill">Add-on available</span></td>
            </tr>

            <tr class="comp-table__section comp-table__section--pad">
              <td>Enterprise Customer Success</td>
              <td><i class="dash"></i></td>
              <td><ion-icon name="checkmark"></ion-icon></td>
            </tr>

            <tr class="comp-table__section comp-table__section--pad">
              <td>Advisory Services</td>
              <td><i class="dash"></i></td>
              <td><span class="pill">Add-on available</span></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </section>

  <section class="offwhite call-to-action">
    <div class="container">
      <hgroup class="center">
        <h3>Ready to get started?</h3>
        <p>
          Connect with us today to see how you can get started with <b>Ionic Enterprise Edition</b>.
        </p>
      </hgroup>
      <div class="hubspot-override hubspot-override--large">
        <!--[if lte IE 8]>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
        	portalId: "3776657",
        	formId: "1d517034-0dcd-4e0d-bbf3-554e8c919701",
          css: ""
        });
        </script>
      </div>
    </div>
  </section>
</main>

{% include '../_includes/promos/tri-cta.html' %}
{% endblock %}

{% block modals %}

{% endblock %}

{% block scripts %}
<script>
  function scrollToSelector(selector, offset){
    var offset = offset || 0;
    window.scrollToY(document.querySelector(selector).getBoundingClientRect().top + window.scrollY + offset, 200, 'easeOutExpo');
  }

  // main cta scroll to
  document.querySelectorAll('.cta-link').forEach(function(ctaLink){
    ctaLink.addEventListener('click', function(ev){
      ev.preventDefault();
      window.c('Enterprise Engine', 'btn-enterprise-engine-hero-buy');
      scrollToSelector('.call-to-action');
    });
  });

  // page nav scroll to
  document.querySelectorAll('.page-nav__link').forEach(function(navLink){
    navLink.addEventListener('click', function(ev){
      ev.preventDefault();
      var anchorId = ev.target.getAttribute("href");
      scrollToSelector(anchorId, -60);
    });
  })

  // nav highlighting
  var threshold = window.innerHeight * 0.33;
  var sectionOffsets = [];

  function updateSectionOffsets(){
    requestAnimationFrame(function(){
      document.querySelectorAll('.nav-section').forEach(function(section){
        sectionOffsets.push({
          id: section.id,
          top: section.getBoundingClientRect().top + window.scrollY,
          bottom: section.getBoundingClientRect().bottom + window.scrollY,
          anchor: document.querySelector('[href="#' + section.id + '"]'),
          isActive: false
        })
      });
    });
  }

  function checkOffsets(){
    var scroll = window.scrollY + threshold;
    sectionOffsets.forEach(function(section){
      if (section.top < scroll && section.bottom > scroll) {
        section.anchor.classList.add('active');
        section.isActive = true;
      } else {
        section.anchor.classList.remove('active');
        section.isActive = false;
      }
    });

    if (sectionOffsets.filter(function(o){return o.isActive === true}).length) {
      document.querySelector('.page-nav').classList.add('active');
    } else {
      document.querySelector('.page-nav').classList.remove('active');
    }
  }

  updateSectionOffsets();
  checkOffsets();
  window.addEventListener('scroll', checkOffsets);
  window.addEventListener('resize', updateSectionOffsets);

</script>
{% endblock %}
