{% extends '_layouts/base.html' %}
{% set title = "Ionic Enterprise Core" %}
{% set id = 'products-enterprise-core' %}
{% set header_style = 'transparent products-page' %}
{% set stickyNav = true %}
{% set cssPath = 'products/enterprise-core' %}
{% set pre_footer = false %}

{% block main %}

<svg style="display: none;"></svg>

<div class="sub-header">
  <div class="container">
    <ul class="left breadcrumbs">
      <li><a href="/products/enterprise-core">Ionic Enterprise Core</a></li>
    </ul>
    <ul class="right">
      <li>
        <a class="btn dark rounded xs uppercase" id="cta-link">Buy it</a>
      </li>
    </ul>
  </div>
</div>

<div class="top">
  <div class="container">
    <hgroup class="measure">
      <h4>Ionic Enterprise Core</h4>
      <h1>A trusted foundation for enterprise app development.</h1>
      <p>
        The commercially-supported version of the entire Ionic ecosystem, front to back. Fully stable, and backed by our world-class support and engineering teams.
      </p>
    </hgroup>
  </div>
</div>

<main>
  <section>
    <div class="container">
      <hgroup class="measure">
        <h3>Everything you need.</h3>
        <h2>From front to back.</h2>
        <p class="large"><em>Ionic Enterprise Core</em> is a full-stack solution, powering the mission-critical apps that keep your business running.</p>
      </hgroup>
      <table class="feature-table">
        <tr>
          <td>
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 1L1 7L13 13L25 7L13 1Z" stroke="#5B708B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M1 19L13 25L25 19" stroke="#92A1B3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M1 13L13 19L25 13" stroke="#FF9982" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Stability
          </td>
          <td>A stable, consistent core for front end app development.</td>
          <td>
            <ul class="checkmark-list">
              <li>Active, ongoing maintenance for the latest stable version of Ionic Framework Enterprise Core.</li>
              <li>Long-term support for previous versions for up to 5 years.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21.6 12C21.6 17.2799 17.2798 21.6 12 21.6C6.72017 21.6 2.4 17.2799 2.4 12C2.4 6.72012 6.72012 2.4 12 2.4C12.9 2.4 13.8 2.52012 14.6402 2.76006L16.5 0.9C15.1201 0.3 13.6201 0 12 0C5.4 0 0 5.4 0 12C0 18.6 5.4 24 12 24C18.6 24 24 18.6 24 12H21.6Z" fill="#73849A"/>
              <path d="M5.39999 11.4L7.07988 9.72012L10.8 13.3799L21.1201 3.12012L22.8 4.8L10.8 16.8L5.39999 11.4Z" fill="#FF9982"/>
            </svg>
            Reliability
          </td>
          <td>The native features you need, on the platforms you care about.</td>
          <td>
            <ul class="checkmark-list">
              <li>A complete ecosystem of stable, supported Cordova native plugins, tooling, and platforms.</li>
              <li>Guaranteed compatibility with OS versions, devices, browsers, and tooling.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            <svg width="26" height="30" viewBox="0 0 26 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.3333 1L1 17.8H13L11.6667 29L25 12.2H13L14.3333 1Z" stroke="#73849A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M9.28935 24.6139C9.62842 24.178 9.54989 23.5497 9.11394 23.2106C8.67799 22.8716 8.04972 22.9501 7.71065 23.3861L9.28935 24.6139ZM4.21065 27.8861C3.87158 28.322 3.95011 28.9503 4.38606 29.2894C4.82201 29.6284 5.45028 29.5499 5.78935 29.1139L4.21065 27.8861ZM7.71065 23.3861L4.21065 27.8861L5.78935 29.1139L9.28935 24.6139L7.71065 23.3861Z" fill="#FF9982"/>
              <path d="M4.24254 22.9701C4.77833 22.8362 5.10409 22.2933 4.97014 21.7575C4.83619 21.2217 4.29326 20.8959 3.75746 21.0299L4.24254 22.9701ZM1.75746 21.5299C1.22167 21.6638 0.895909 22.2067 1.02986 22.7425C1.16381 23.2783 1.70674 23.6041 2.24254 23.4701L1.75746 21.5299ZM3.75746 21.0299L1.75746 21.5299L2.24254 23.4701L4.24254 22.9701L3.75746 21.0299Z" fill="#FF9982"/>
              <path d="M19 7L23 3.5" stroke="#FF9982" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Power
          </td>
          <td>Powerful native add-ons. From biometric authentication to offline storage.</td>
          <td>
            <ul class="checkmark-list">
              <li>
                <div>
                  Premier native experiences and integrations, built and supported by Ionic, including:
                  <ul>
                    <li>
                      Secure biometrics with Identity Vault
                    </li>
                    <li>
                      Offline storage with Couchbase
                    </li>
                    <li>
                      Authentication with Active Directory
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.51599 4.51599L9.60399 9.60399" stroke="#73849A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M16.396 16.3961L21.484 21.4841" stroke="#73849A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M16.396 9.60399L21.484 4.51599" stroke="#73849A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M16.396 9.60404L20.632 5.36804" stroke="#73849A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M4.51599 21.4841L9.60399 16.3961" stroke="#73849A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M13 25C19.6274 25 25 19.6274 25 13C25 6.37258 19.6274 1 13 1C6.37258 1 1 6.37258 1 13C1 19.6274 6.37258 25 13 25Z" stroke="#5B708B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M13 17.8001C15.651 17.8001 17.8 15.651 17.8 13.0001C17.8 10.3491 15.651 8.20007 13 8.20007C10.349 8.20007 8.20001 10.3491 8.20001 13.0001C8.20001 15.651 10.349 17.8001 13 17.8001Z" stroke="#FF9982" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Support
          </td>
          <td>Backed by world-class support and engineering teams.</td>
          <td>
            <ul class="checkmark-list">
              <li>A single point of contact for any questions or issues related to Ionic.</li>
              <li>Self-service ticking access portal.</li>
              <li>Guaranteed next business day response SLA.</li>
              <li>Access to custom Training and Advisory Services.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            <svg width="26" height="30" viewBox="0 0 26 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 21.2998C13 21.2998 19 18.4998 19 14.2998V9.3998L13 7.2998L7 9.3998V14.2998C7 18.4998 13 21.2998 13 21.2998Z" stroke="#FF9982" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M13 29C13 29 25 23.4 25 15V5.2L13 1L1 5.2V15C1 23.4 13 29 13 29Z" stroke="#5B708B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Security
          </td>
          <td>The native features you need, on the platforms you care about.</td>
          <td>
            <ul class="checkmark-list">
              <li>A complete ecosystem of stable, supported Cordova native plugins, tooling, and platforms.</li>
              <li>Guaranteed compatibility with OS versions, devices, browsers, and tooling</li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </section>

  <section class="offwhite">
    <div class="container">
      <hgroup class="center">
        <h3>No compromises.</h3>
        <h2>Features that let you build confidently.</h2>
      </hgroup>
      <ul class="checkmark-list large two-col">
        <li>Guaranteed backwards-compatible bug fixes and critical security patches</li>
        <li>Reliable, next business-day guaranteed response time for critical issues</li>
        <li>Option to purchase extended license for 3+ years beyond basic offering</li>
        <li>Guaranteed support for major EC version for 3 years from release</li>
        <li>Options to upgrade to newer Enterprise Core major versions at anytime</li>
        <li>Available add-on support for custom and non-supported EC native plugins</li>
        <li>Optimizations and integrations for enterprise specific use cases and stability</li>
        <li>Full documentation, tutorials, and videos for learning and training</li>
      </ul>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="two-col">
        <div class="integrations">
          <a class="integrations__identity-vault">
            <i></i>
            Identity Vault
          </a>
          <a class="integrations__aws-amplify">
            <i></i>
            AWS Amplify
          </a>
          <a class="integrations__couchbase">
            <i></i>
            Couchbase
          </a>
          <a class="integrations__active-directory">
            <i></i>
            Active Directory
          </a>
        </div>
        <div>
          <hgroup>
            <h3>Unlocked native Experiences.</h3>
            <h2>Integrations to take you further.</h2>
          </hgroup>
          <ul class="feature-list">
            <li>
              <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="24" cy="24" r="24" fill="#E7F4FF"/>
              </svg>
              <hgroup>
                <h4>Premier Native Experiences</h4>
                <p>Choose from a growing collection of Premier native plugins and capabilities, including Identity Vault, Ionic’s powerful front-end security solution for enabling secure biometrics authentication.</p>
              </hgroup>
            </li>
            <li>
              <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="24" cy="24" r="24" fill="#E7F4FF"/>
              </svg>
              <hgroup>
                <h4>Officially Supported Integrations</h4>
                <p>Deliver full-stack apps with Premier backend and third-party integrations that are built and supported by the Ionic team. See the full list.</p>
              </hgroup>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <hgroup>
        <h3>Exclusive education.</h3>
        <h2>Custom Advisory & Training.</h2>
      </hgroup>
      <div class="two-col">
        <ul class="feature-list">
          <li>
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="24" cy="24" r="24" fill="#E7F4FF"/>
            </svg>
            <hgroup>
              <h4>Ionic Advisory Services</h4>
              <p>Our mobile experts will work with you to define your project objectives and develop a plan for reaching or exceeding your goals. Example projects include code and architectural reviews, mobile security audits, customized native solutions and backend integrations, and more.</p>
            </hgroup>
          </li>
          <li>
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="24" cy="24" r="24" fill="#E7F4FF"/>
            </svg>
            <hgroup>
              <h4>Customized Team Training</h4>
              <p>Our dedicated advisors are available for on-site or remote training to help your team get up-to-speed quickly on Ionic and provide our recommended best practices for building and delivering stellar mobile apps.</p>
            </hgroup>
          </li>
        </ul>
        <ul class="checkmark-list checkmark-list--large">
          <li>
            <hgroup>
              <h5>Private Slack</h5>
              <p>Unlock realtime access to Ionic engineers and native mobile experts via a dedicated Slack channel.</p>
            </hgroup>
          </li>
          <li>
            <hgroup>
              <h5>Code Reviews</h5>
              <p>Go line-by-line with our experts as they share coding best practices and advice.</p>
            </hgroup>
          </li>
          <li>
            <hgroup>
              <h5>Custom Training</h5>
              <p>Give your team the skills and tools they need to be successful building apps on day one.</p>
            </hgroup>
          </li>
          <li>
            <hgroup>
              <h5>Expert Advisory</h5>
              <p>Our mobile experts are on-hand to help your development team tackle any aspect of app development.</p>
            </hgroup>
          </li>
        </ul>
      </div>
    </div>

    <div class="container">
      <hgroup class="center">
        <h3>Why Choose Enterprise Core?</h3>
        <h2>Stability. Security. Power. Support.</h2>
      </hgroup>
      <ul class="feature-list feature-list--small three-col">
        <li>
          <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="24" cy="24" r="24" fill="#E7F4FF"/>
          </svg>
          <hgroup>
            <h4>Long-term stability, peace of mind</h4>
            <p>Surprise releases? Breaking changes? Relax. Enjoy long-term investment protection and stability with LTS and maintenance for previous versions of Ionic Framework.</p>
          </hgroup>
        </li>
        <li>
          <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="24" cy="24" r="24" fill="#E7F4FF"/>
          </svg>
          <hgroup>
            <h4>Complete native power & security</h4>
            <p>Give users the most advanced on-device features, performance, and security. Enjoy peace of mind knowing that the native plugins you depend on are backed by mission-critical support and expert services.</p>
          </hgroup>
        </li>
        <li>
          <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="24" cy="24" r="24" fill="#E7F4FF"/>
          </svg>
          <hgroup>
            <h4>Help at every level of the stack</h4>
            <p>Get exclusive access to Ionic experts providing guidance and support at every level of the stack, from front-end UI components to backend services. We’ve got you covered.</p>
          </hgroup>
        </li>
      </ul>
    </div>
  </section>

  <section class="offwhite call-to-action">
    <div class="container">
      <hgroup class="center">
        <p class="large">
          <strong>Ionic Enterprise Core</strong> is a complete development stack for building powerful, feature-rich apps with Ionic, backed by a world-class team of experts.
        </p>
        <h4>Ready to get started?</h4>
      </hgroup>
      <div class="hubspot-override hubspot-override--large">
        <!--[if lte IE 8]>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
        	portalId: "3776657",
        	formId: "1d517034-0dcd-4e0d-bbf3-554e8c919701",
          css: ""
        });
        </script>
      </div>
    </div>
  </section>
</main>

{% endblock %}

{% block modals %}

{% endblock %}

{% block scripts %}
<script>
  var cta = document.querySelector('.call-to-action');
  document.querySelector('#cta-link').addEventListener('click', function(ev){
    ev.preventDefault();
    window.scrollTo({
      top: cta.getBoundingClientRect().top + window.scrollY,
      behavior: "smooth"
    });
  });
</script>
{% endblock %}
