{% extends '_layouts/base.html' %}
{% set id = 'products' %}
{% set mixpanelEnabled = true %}
{% set bodyController = "ProductsPageCtrl" %}

{% block header_style %}transparent{% endblock %}

{% block body_attributes %}
  data-spy="scroll"
  data-target="#platform-nav"
  data-offset="200"
{% endblock %}

{% block main %}

<div class="cta gradient">
  <hgroup class="container">
    <h1>A new way to build, test, deploy, &amp; monitor apps.</h1>
    <p>
      <strong>Ionic Pro</strong> is the best software development platform for 
      delivering incredible apps. Boost your Ionic app development with our 
      powerful suite of tools and services designed for the entire app 
      lifecycle, all in one integrated experience.
    </p>
  </hgroup>
  <div class="bar" data-spy="affix" data-offset-top="379">
    <div class="container" id="platform-nav">
      <!--<a ng-click="gotoPricing('top')"
         class="btn ionic">View Pricing</a>-->
      <ul class="categories nav">
        <li><a class="anchor prototyping" href="#prototyping"></a></li>
        <li><a class="anchor testing" href="#testing"></a></li>
        <li><a class="anchor updates" href="#updates"></a></li>
        <li><a class="anchor build" href="#build"></a></li>
        <li><a class="anchor reporting" href="#reporting"></a></li>
        <li><a class="anchor push" href="#push"></a></li>
      </ul>
    </div>
  </div>

  <div class="bar">
    <div class="container">
      <ul class="categories nav">
        <li>
          <a class="anchor prototyping" href="#prototyping">
            <span class="lg">Rapid app prototyping</span>
            <span class="sm">Prototyping</span>
          </a>
        </li>
        <li>
          <a class="anchor testing" href="#testing">
            <span class="lg">Remote mobile app testing</span>
            <span class="sm">Testing</span>
          </a>
        </li>
        <li>
          <a class="anchor updates" href="#updates">
            <span class="lg">Live hot code app updates</span>
            <span class="sm">Updates</span>
          </a>
        </li>
        <li>
          <a class="anchor build" href="#build">
            <span class="lg">Native builds in the cloud</span>
            <span class="sm">Builds</span>
          </a>
        </li>
        <li>
          <a class="anchor reporting" href="#reporting">
            <span class="lg">Runtime error & crash reporting</span>
            <span class="sm">Reporting</span>
          </a>
        </li>
        <li>
          <a class="anchor push" href="#push">
            <span class="lg">App push notifications</span>
            <span class="sm">Push</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<main>
  <section class="overview hero" id="overview">
    <div class="container">
      <hgroup class="text-center">
        <h3>Everything you need, in one experience.</h3>
        <p>
          Spend more time on what matters. <strong>Ionic Pro</strong> takes care 
          of the rest, with a suite of powerful mobile development tools and 
          services for apps of all shapes and sizes.
        </p>
      </hgroup>
      <ul class="features">
        <li class="better">
          <h4>Better apps</h4>
          <p>
            Build apps your users will love, with simple app sharing, feedback 
            and monitoring to craft the perfect experience.
          </p>
        </li>
        <li class="faster">
          <h4>Faster development</h4>
          <p>
            Quickly prototype and test new concepts, and speed up development to
            bring more ideas to market in less time.
          </p>
        </li>
        <li class="happier">
          <h4>Happier devs &amp; teams</h4>
          <p>
            Keep it simple with developer-friendly tools, easy collaboration, 
            and everything you need in one place.
          </p>
        </li>
      </ul>
    </div>
  </section>

  <section class="prototyping hero left" id="prototyping">
    <div class="container">
      <div class="content">
        <h4>Ionic Creator</h4>
        <h2>Rapid app prototyping.</h2>
        <p>
          Visually build high-fidelity apps in minutes. Drag and drop core Ionic
          UI components, add themes, animations, design files, and even custom
          code to create real, interactive Ionic mobile apps.
        </p>
      </div>
    </div>
  </section>

  <section class="testing right hero" id="testing">
    <div class="container">
      <div class="content">
        <h4>Ionic View app</h4>
        <h2>Remote sharing &amp; app testing.</h2>
        <p>
          Use the Ionic View app for live app testing and to get your app in the
          hands of clients, testers, or collaborators as quickly as you make 
          changes.
        </p>
        <p>
          <a target="_blank" class="google-play" href=""></a>
          <a target="_blank" class="app-store" href=""></a>
      </div>
    </div>
  </section>

  <section class="updates left hero" id="updates">
    <div class="container">
      <div class="content dark">
        <h4>Ionic Deploy</h4>
        <h2>Realtime app updates.</h2>
        <p>
          Push hot code updates, content changes, A/B tests, and bug fixes in 
          real time before and after your app is in the app stores, with Ionic 
          Deploy.
        </p>
      </div>
    </div>
  </section>

  <section class="build right hero" id="build">
    <div class="container">
      <div class="content dark">
        <h4>Ionic Package</h4>
        <h2>Native builds in the cloud.</h2>
        <p>
          Create native apps in the cloud with Ionic Package to get from code to
          app store with no platform dependencies or complicated build steps.
        </p>
      </div>
    </div>
  </section>

  <section class="reporting left hero" id="reporting">
    <div class="container">
      <div class="content dark">
        <h4>Ionic Monitor</h4>
        <h2>Runtime crash &amp; error reporting.</h2>
        <p>
          Track issues in development and catch bugs before they ship. Quickly
          pinpoint and resolve runtime errors by drilling into your core
          codebase, down to the Typescript level.
        </p>
      </div>
    </div>
  </section>

  <section class="push right hero" id="push">
    <div class="container">
      <div class="content dark">
        <h4>Ionic Push</h4>
        <h2>Push notifications.</h2>
        <p>
          Send dynamic, targeted push notifications to all, or a select few of 
          your users. Ionic’s dead simple push notifications allow you to grow
          and retain your mobile app user base.
        </p>
      </div>
    </div>
  </section>

  <section class="bar get-started">
    <div class="container">
      <hgroup>
        <h2>Get started with Ionic Pro today.</h2>
        <p class="lg">
          Create a free account, or check out our plans and pricing.
        </p>
      </hgroup>
      <div class="btn-group">
        <a href="" class="btn btn-default">Create an account</a>
        <a href="" class="btn white">See pricing</a>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block scripts %}

{% endblock %}
