{% extends '_layouts/base.html' %}
{% set id = 'products' %}
{% set mixpanelEnabled = true %}
{% set bodyController = "ProductsPageCtrl" %}

{% block header_style %}transparent{% endblock %}

{% block body_attributes %}
  data-spy="scroll"
  data-target="#platform-nav"
  data-offset="100"
{% endblock %}

{% block main %}

<div class="cta gradient">
  <hgroup class="container">
    <h1>Next generation mobile development software</h1>
    <p>
      <strong>Spend more time on what matters.</strong> Ionic takes care of the
      rest, with a suite of powerful mobile development tools and services for 
      apps of all shapes and sizes.
    </p>
  </hgroup>
  <div class="bar" data-spy="affix" data-offset-top="375">
    <div class="container" id="platform-nav">
      <!--<a ng-click="gotoPricing('top')"
         class="btn ionic">View Pricing</a>-->
      <ul class="categories nav">
        <li class="active">
          <a class="anchor overview" href="#overview">Overview</a>
        </li>
        <li>
          <a class="anchor prototyping" href="#prototyping">Prototyping</a>
        </li>
        <li>
          <a class="anchor framework" href="#framework">
            <span class="lg">Ionic Framework</span>
            <span class="sm">Framework</span>
          </a>
        </li>
        <li>
          <a class="anchor testing" href="#testing">
            <span class="lg">Device Testing</span>
            <span class="sm">Testing</span>
          </a>
        </li>
        <li>
          <a class="anchor updates" href="#updates">
            <span class="lg">Live Updating</span>
            <span class="sm">Updating</span>
          </a>
        </li>
        <li>
          <a class="anchor packaging" href="#packaging">
            <span class="lg">Cloud Packaging</span>
            <span class="sm">Packaging</span>
          </a>
        </li>
        <li>
          <a class="anchor pricing" href="#pricing">
            <span class="lg">Pricing</span>
            <span class="sm">Pricing</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<main>
  <section class="overview hero left" id="overview">
    <div class="container">
      <hgroup>
        <h3>The Full Ionic Experience</h3>
        <p>
          Give you and your team all the tools needed to quickly move from app 
          ideation to app store, allowing you to easily transition between the 
          critical phases of your mobile development lifecycle.
        </p>
      </hgroup>
      <ul class="content">
        <li>
          <h4>Design &amp; prototyping</h4>
          <p>
            <strong>Ionic Creator</strong> allows every member of your team to 
            participate in drag-and-drop prototyping, and exports real Ionic 
            code to kick off your development.
          </p>
        </li>
        <li>
          <h4>Device testing &amp; feedback</h4>
          <p>
            Use the <strong>Ionic View</strong> app for live app testing and to 
            get your app in the hands of clients, testers, or collaborators as 
            quickly as you make changes.
          </p>
        </li>
        <li>
          <h4>Realtime app updates</h4>
          <p>
            Push hot code updates, content changes, A/B tests, and bug fixes in 
            real time before and after your app is in the app stores, with 
            <strong>Ionic Deploy</strong>.
          </p>
        </li>
        <li>
          <h4>Native cloud builds</h4>
          <p>
            Create native apps in the cloud with <strong>Ionic Package</strong> 
            to get from code to app store with no platform dependencies or 
            complicated build steps.
          </p>
        </li>
      </ul>
    </div>
  </section>

  <section class="prototyping hero" id="prototyping">
    <div class="container">
      <div class="content">
        <h4>Ionic Creator</h4>
        <h2>Prototype &amp; Design</h2>
        <p>
          Visually build high-fidelity apps in minutes. Drag and drop UI 
          components, add themes, animations, design files, and even custom code 
          to create real, interactive Ionic mobile apps.
        </p>
      </div>
    </div>
  </section>

  <section class="framework hero" id="framework">
    <div class="container">
      <div class="content dark">
        <h4>Ionic Framework</h4>
        <h2>Rapid App Development</h2>
        <p>
          Ionic is the only mobile app stack that enables web developers apps 
          for all major app stores and the mobile web with a single code base. 
          And with Ionic’s Platform Continuity, your app looks and feels at home 
          on every device.
        </p>
      </div>
    </div>
  </section>

  <section class="authentication hero" id="testing">
    <div class="container">
      <div class="content dark">
        <h4>Ionic View APP</h4>
        <h2>Live device testing</h2>
        <p>
          The Ionic View app makes it easy to live preview, test, and distribute 
          your apps directly on the device with co-workers, testers, and clients 
          alike. Get better feedback, faster and more easily.
        </p>
      </div>
    </div>
  </section>
  <section class="updates hero" id="updates">
    <div class="container">
      <div class="content dark">
        <h4>Ionic deploy</h4>
        <h2>Realtime app updating</h2>
        <p>
          Update everything in realtime. Ionic changes the way you update and 
          improve your app by giving you the ability to deploy hot code live 
          into production, before and after your app is in the app stores.
        </p>
      </div>
    </div>
  </section>
  <section class="packaging hero" id="packaging">
    <div class="container">
      <div class="content dark">
        <h4>Ionic Package</h4>
        <h2>Native Builds in the Cloud</h2>
        <p>
          Turn your web assets into native SDKs for multiple platforms, in the 
          cloud, from a single codebase. Leave configuration, compilation, and 
          packaging to us, so you can focus on shipping.
        </p>
      </div>
    </div>
  </section>

  <section id="pricing">
    <div class="cta gradient pricing-header"><hgroup class="container">
      <h1>Ready to start building better apps, faster?</h1>
      <p>
        <strong>Spend more time on what matters.</strong> Supercharge your Ionic 
        development with a Professional account for your team.
      </p>
    </hgroup></div>
    <div id="pricing-actual-table" class="container">
      <div class=" table-wrap">
        <table class="container table">
          <thead>
            <tr>
              <td></td>
              <th>
                <span class="title">Community</span><br />
                <h2>Free</h2>The Ionic you know and love
              </th>
              <th>
                <strong>
                  <span class="title green">Professional</span>
                  <br /><h2>$1999<sub>/dev/year</sub></h2>
                </strong>
                Supercharge your team's workflow
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="section-header">
              <th colspan=3>
                Open Source Development
              </th>
            </tr>
            <tr>
              <th><span data-toggle="tooltip"
                  data-placement="right"
                  title="Our flagship Open Source HTML5 Mobile Framework">
                Ionic Framework<i class="ion-md-help-circle"></i>
              </span></th>
              <td><i class="ion-md-checkmark"></i></td>
              <td><i class="ion-md-checkmark"></i></td>
            </tr>
            <tr>
              <th class="no-border"><span data-toggle="tooltip"
                  data-placement="right"
                  title="Our flexible and powerful command-line interface for Windows, Mac and Linux">
                Ionic CLI<i class="ion-md-help-circle"></i>
              </span></th>
              <td><i class="ion-md-checkmark"></i></td>
              <td><i class="ion-md-checkmark"></i></td>
            </tr>
            <tr class="section-header">
              <th colspan=3>
                <div data-toggle="tooltip"
                  data-placement="right"
                  title="Our drag-and-drop mobile app designer that exports real, usable Ionic code">
                  Ionic Creator <span>- Design & Prototyping</span></div>
              </th>
            </tr>
            <!--<tr>
              <th><span data-toggle="tooltip"
                  data-placement="right"
                  title="Our drag-and-drop mobile app designer that exports real, usable Ionic code">
                Ionic Creator<i class="ion-md-help-circle"></i>
              </span></th>
              <td>Trial (No Exporting)</td>
              <td><i class="ion-md-checkmark"></i></td>
            </tr>-->
            <tr>
              <th class="inner-feature"><span data-toggle="tooltip"
                  data-placement="right"
                  title="Export your project from Creator and work on it locally with the CLI">
                Local Project Export<i class="ion-md-help-circle"></i>
              </span></th>
              <td>Trial (No Exporting)</td>
              <td><i class="ion-md-checkmark"></i></td>
            </tr>
            <tr>
              <th class="inner-feature"><span data-toggle="tooltip"
                  data-placement="right"
                  title="Export a native IPA/APK file from Creator to put right on your phone">
                Native IPA/APK Export<i class="ion-md-help-circle"></i>
              </span></th>
              <td>-</td>
              <td><i class="ion-md-checkmark"></i></td>
            </tr>
            <tr class="section-header">
              <th colspan=3>
                <div data-toggle="tooltip"
                  data-placement="right"
                  title="Test and send your app to stakeholders without complicated beta testing tools">
                  Ionic View <span>- Live Device Testing</span></div>
              </th>
            </tr>
            <!--<tr>
              <th><span data-toggle="tooltip"
                  data-placement="right"
                  title="Test and send your app to stakeholders without complicated beta testing tools">
                Ionic View<i class="ion-md-help-circle"></i>
              </span></th>
              <td><i class="ion-md-checkmark"></i></td>
              <td><i class="ion-md-checkmark"></i></td>
            </tr>-->
            <tr>
              <th class="inner-feature"><span data-toggle="tooltip"
                  data-placement="right"
                  title="How many testers you can have viewing your apps (does not count as a user)">
                Tester Accounts<i class="ion-md-help-circle"></i>
              </span></th>
              <td>2</td>
              <td>Unlimited</td>
            </tr>
            <tr>
              <th class="inner-feature"><span data-toggle="tooltip"
                  data-placement="right"
                  title="Whether or not your projects will show up in our View Showcase automatically">
                Private Projects<i class="ion-md-help-circle"></i>
              </span></th>
              <td>No (Publicly Visible)</td>
              <td><i class="ion-md-checkmark"></i></td>
            </tr>
            <tr>
              <th class="inner-feature"><span data-toggle="tooltip"
                  data-placement="right"
                  title="Utilize the power of our deploy channels right from View, so you can test multiple versions of your app">
                Multiple Deploy Channels<i class="ion-md-help-circle"></i>
              </span></th>
              <td>-</td>
              <td>Unlimited</td>
            </tr>
            <tr class="section-header">
              <th colspan=3>
                <div data-toggle="tooltip"
                  data-placement="right"
                  title="Bypass the app stores for HTML/CSS/JS updates, just upload a new version of your app and set it live">
                  Ionic Deploy <span>- Realtime App Updating</span></div>
              </th>
            </tr>
            <!--<tr>
              <th><span data-toggle="tooltip"
                  data-placement="right"
                  title="Bypass the app stores for HTML/CSS/JS updates, just upload a new version of your app and set it live">
                Ionic Deploy<i class="ion-md-help-circle"></i>
              </span></th>
              <td><i class="ion-md-checkmark"></i></td>
              <td><i class="ion-md-checkmark"></i></td>
            </tr>-->
            <tr>
              <th class="inner-feature"><span data-toggle="tooltip"
                  data-placement="right"
                  title="How many unique devices you can update using our Deploy service">
                Deploy Limit<i class="ion-md-help-circle"></i>
              </span></th>
              <td>5 Devices</td>
              <td>Unlimited</td>
            </tr>
            <tr>
              <th class="inner-feature"><span data-toggle="tooltip"
                  data-placement="right"
                  title="Create separate Deploy channels such as Development, Staging, and Production">
                Multiple Deploy Channels<i class="ion-md-help-circle"></i>
              </span></th>
              <td>-</td>
              <td>Unlimited</td>
            </tr>
            <tr>
              <th class="inner-feature"><span data-toggle="tooltip"
                  data-placement="right"
                  title="Split test two or more versions of your app side by side with Deploy">
                Custom Split Testing Channels<i class="ion-md-help-circle"></i>
              </span></th>
              <td>-</td>
              <td>Unlimited</td>
            </tr>
            <tr class="section-header">
              <th colspan=3>
                <div data-toggle="tooltip"
                  data-placement="right"
                  title="Our cloud packaging service that sends you a native IPA/APK file">
                  Ionic Package <span>- Native Cloud Builds</span></div>
              </th>
            </tr>
            <tr>
              <th class="inner-feature"><span data-toggle="tooltip"
                  data-placement="right"
                  title="Get iOS and Android builds right from the cloud">
                IPA & APK Builds<i class="ion-md-help-circle"></i>
              </span></th>
              <td><i class="ion-md-checkmark"></i></td>
              <td><i class="ion-md-checkmark"></i></td>
            </tr>
            <tr>
              <th class="inner-feature"><span data-toggle="tooltip"
                  data-placement="right"
                  title="Add your own Icon & Splashscreen to your build so you can push it to production">
                Custom Icon & Splashscreen<i class="ion-md-help-circle"></i>
              </span></th>
              <td>-</td>
              <td><i class="ion-md-checkmark"></i></td>
            </tr>
            <tr>
              <th class="inner-feature"><span data-toggle="tooltip"
                  data-placement="right"
                  title="Include your own custom Cordova plugins in your Package builds">
                Custom Plugins in Builds<i class="ion-md-help-circle"></i>
              </span></th>
              <td>-</td>
              <td><i class="ion-md-checkmark"></i></td>
            </tr>

            <tr>
              <td class="empty"></td>
              <td class="pointer" ng-click="gotoGettingStarted()">Get Started</td>
              <td class="btn ionic"
                  data-toggle="modal" 
                  data-target="#myModal"
                  ng-click="trackOpenSurvey()">
                I'm Interested
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  
  <!--<section id="get-started">
    <hgroup class="container text-center dark">
      <a ng-click="gotoPricing('bottom')"
         class="btn ionic right">View Pricing</a>
      <h3>Ready to start building better apps, faster?</h3>
      <p>
        Create an account to build, code, test, and deploy apps faster, 
        together.
      </p>
    </hgroup>
  </section>-->
</main>
{% endblock %}

{% block scripts %}
<div class="modal fade pricing-survey" 
     id="myModal" 
     tabindex="-1" 
     role="dialog" 
     aria-labelledby="myModalLabel"
     ng-controller="PricingFormCtrl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" 
                class="close" 
                data-dismiss="modal" 
                aria-label="Close"
                id="modal-close"
                onclick="c('Pricing','FormClose')"></button>
        <h2 ng-show="section==1" class="modal-title">Let's talk</h2> 
        <h2 ng-show="section!=1 && section!=5" class="modal-title">Got it, thanks!</h2> 
        <h2 ng-show="section==5" class="modal-title">That's it!</h2> 
        <!--<p>
          We're currently evaluating this product and would love your feedback
        </p>-->
        
      </div>
      <div class="modal-body">
        <form id="pricingInterestedForm">

          <div ng-show="section==1">

            <!--<img src="/img/products/mattkremer.jpg" class="matt-picture" />-->

            <div class="matt-talking">
              <!-- <p>Hey there,</p> -->

              <p>
                Thanks for showing interest in what we have to offer. We're 
                currently evaluating this package, and would love to <i>reach 
                out to you to talk about your exact needs after learning a 
                little more about you</i>.
              </p>

              <p>Fill out this survey and we'll be in touch!</p>

              <!-- <p>Thanks,<br />Matt</p> -->

              <!-- <img src="/img/products/signature.png" class="matt-signature" /> -->
            </div>

            <div class="form-group small-form">
              <label for="name" class="control-label">
                Name
              </label>
              <input type="text" 
                     class="form-control" 
                     id="name"
                     name="name"
                     ng-model="form.name">
            </div>

            <div class="form-group small-form">
              <label for="email" class="control-label">
                Email
              </label>
              <input type="email" 
                     class="form-control" 
                     id="email"
                     name="email"
                     ng-model="form.email"
                     ng-enter="nextSection(form)">
            </div>
          </div>

          <div ng-show="section==2">

            <!-- <img src="/img/products/mattkremer.jpg" class="matt-picture-small" /> -->

            <div class="matt-talking one-line">
              <p>How did you feel about the offering?</p>
            </div>

            <div class="form-group">
              <label for="would-this-offering" class="control-label">
                Would this offering solve any problems you currently have?
              </label><br>
              <label class="radio-inline">
                <input type="radio" 
                       name="solve_problems" 
                       id="solve_problems_yes" 
                       ng-value="true"
                       ng-model="form.solve_problems"> Yes
              </label>
              <label class="radio-inline">
                <input type="radio" 
                       name="solve_problems" 
                       id="solve_problems_no" 
                       ng-value="false"
                       ng-model="form.solve_problems"> No
              </label>
            </div>
            <div class="form-group">
            <label class="control-label">
              Is there anything in this offering you wouldn't use?
            </label><br>
            <label class="checkbox-inline">
              <input type="checkbox" 
                     value="unused_features_creator" 
                     name="unused_features_creator"
                     ng-model="form.unused_features.creator"> 
              Prototyping
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" 
                     value="unused_features_view"
                     ng-model="form.unused_features.view"> 
              Device Preview/Testing
            </label>
            <br>
            <label class="checkbox-inline">
              <input type="checkbox" 
                     value="unused_features_deploy"
                     name="unused_features_deploy"
                     ng-model="form.unused_features.deploy"> 
              Live Updates
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" 
                     value="unused_features_package"
                     name="unused_features_package"
                     ng-model="form.unused_features.package"> 
              Cloud Builds
            </label>
          </div>

          <!--<div class="form-group">
            <label class="control-label">
              Is there anything missing from this offering that would prevent 
              you from buying it?
            </label><br>
            <label class="radio-inline">
              <input type="radio" 
                     name="missing_purchase" 
                     id="missing_purchase_yes" 
                     ng-value="true"
                     ng-model="form.missing_purchase"> Yes
            </label>
            <label class="radio-inline">
              <input type="radio" 
                     name="missing_purchase" 
                     id="missing_purchase_no" 
                     ng-value="false"
                     ng-model="form.missing_purchase"> No
            </label>
          </div>-->

          <div class="form-group">
            <label class="control-label">
              Is there anything missing in this offering that is critical to 
              your workflow?
            </label><br>
            <label class="radio-inline">
              <input type="radio" 
                     name="missing_workflow" 
                     id="missing_workflow_yes" 
                     ng-value="true"
                     ng-model="form.missing_workflow"> Yes
            </label>
            <label class="radio-inline">
              <input type="radio" 
                     name="missing_workflow" 
                     id="missing_workflow_no" 
                     ng-value="false"
                     ng-model="form.missing_workflow"> No
            </label>
          </div>
          </div>

          <div ng-show="section==3">

            <!-- <img src="/img/products/mattkremer.jpg" class="matt-picture-small" /> -->

            <div class="matt-talking one-line">
              <p>Great, now how about the price?</p>
            </div>

            <div class="form-group">
              <label for="if-this-package" class="control-label">
                If this package was Ionic’s only offering, and existed today for 
                $1999/user/year, would you buy it?
              </label><br>
              <label class="radio-inline">
                <input type="radio" 
                       name="would_buy" 
                       id="would_buy_yes" 
                       ng-value="true"
                       ng-model="form.would_buy"> Yes
              </label>
              <label class="radio-inline">
                <input type="radio" 
                       name="would_buy" 
                       id="would_buy_no" 
                       ng-value="false"
                       ng-model="form.would_buy"> No
              </label>
            </div>
            <div class="form-group">
              <label for="price" class="control-label">
                Is the offering presented
              </label>
              <select id="price" 
                      name="price" 
                      class="form-control" 
                      ng-model="form.price">
                <option value="null" disabled selected></option>
                <option value="inexpensive">Inexpensive</option>
                <option value="fair">Fair</option>
                <option value="expensive">Expensive</option>
                <option value="prohibitively expensive">
                  Prohibitively expensive
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="expensive_point" class="control-label">
                At what price point does this offering become prohibitively 
                expensive?
              </label>
              <input type="number" 
                     class="form-control" 
                     id="expensive_point"
                     name="expensive_point" 
                     ng-model="form.expensive_point">
            </div>
          </div>

          <div ng-show="section==4">
            <!-- <img src="/img/products/mattkremer.jpg" class="matt-picture-small" /> -->

            <div class="matt-talking one-line">
              <p>Just some final basic questions:</p>
            </div>

            <div class="form-group">
              <label for="company_size" class="control-label">Company Size</label>
              <select id="company_size" 
                      name="company_size" 
                      class="form-control" 
                      ng-model="form.company_size">
                <option ng-value="null" disabled selected></option>
                <option ng-value="1">Self Employed</option>
                <option ng-value="10">2-10</option>
                <option ng-value="50">11-50</option>
                <option ng-value="500">51-500</option>
                <option ng-value="1000">500+</option>
              </select>
            </div>

            <div class="form-group">
              <label for="have-you-ever" class="control-label">
                Have you ever used Ionic Creator or Ionic Cloud?
              </label><br>
              <label class="radio-inline">
                <input type="radio" 
                       name="used_services" 
                       id="used_services_yes" 
                       ng-value="true"
                       ng-model="form.used_services"> Yes
              </label>
              <label class="radio-inline">
                <input type="radio" 
                       name="used_services" 
                       id="used_services_no" 
                       ng-value="false"
                       ng-model="form.used_services"> No
              </label>
            </div>
          </div>

          <div ng-show="section==5">
            <div class="matt-talking one-line">
              <p>Thank you so much for your time, we'll reach out soon!</p>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" 
                class="btn btn-primary" 
                ng-show="section!==5" 
                ng-click="nextSection(form)">
          <span ng-show="section==4">Submit</span>
          <span ng-show="section!=4">Next</span>
        </button>
        <button type="button" 
                class="btn white" 
                ng-show="section==5"
                data-dismiss="modal" 
                aria-label="Close"
                onclick="c('Pricing','FormClose: Complete')">Close
        </button>
      </div>
    </div>
  </div>
</div>

<script>
var $form = document.querySelector('#pricingInterestedForm');
$form.addEventListener('change', function(e) {
  var $t = e['target'];
  window.c('Pricing',
           'FormFieldChange: ' + $t.getAttribute('name'), 
           null, 
           $t.getAttribute('value'));
});
</script>
{% endblock %}
