{% extends '_layouts/base.html' %}
{% set id = 'products-monitor' %}
{% set header_style = 'transparent products-page' %}

{% block body_attributes %}

{% endblock %}

{% block main %}

<div class="sub-header">
  <div class="container">
    <ul class="left breadcrumbs">
      <li><a href="/products">Pro</a></li>
      <li>Monitor</li>
    </ul>
    <ul class="right">
      <li><a href="/products/monitoring" class="active">Features</a></li>
      <li><a href="/docs/pro/monitoring/">Docs</a></li>
      <li><a href="/pricing">Pricing</a></li>
    </ul>
  </div>
</div>

<div class="top">
  <hgroup class="container">
    <h1>The best way to monitor your apps.</h1>
    <p>
      <strong>Ionic Monitor</strong> is the only solution that identifies and 
      tracks<br>errors at the web layer, with detailed sourcemaps all<br>the way
      down to the Typescript level.
    </p>
  </hgroup>
</div>

<main>
  <section class="pinpoint center">
    <div class="container">
      <hgroup>
        <h3>STOP GUESSING.</h3>
        <h2>Pinpoint the exact location of errors and exceptions.</h2>
        <p>
          <strong>Monitor</strong> is deeply integrated with <strong>Ionic 
          Framework</strong>, and the only service with access to pre-minified 
          code.<br>By supporting full TypeScript sourcemaps, you’ll be notified 
          of the error and it’s exact location before anyone else.
        </p>
      </hgroup>
      <ul class="items">
        <li>
          <strong>Realtime alerts &amp; notifications</strong>
          <p>
            Be the first to know whenever and wherever your app crashes, or when 
            unexpected errors occur.
          </p>
        </li>
        <li>
          <strong>Built for Ionic apps</strong>
          <p>
            Track runtime errors in your Ionic apps with full web layer 
            visibility and JavaScript stack traces. No setup. It will Just Work. 
          </p>
        </li>
        <li>
          <strong>TypeScript sourcemaps</strong>
          <p>
            Know exactly where to push fixes by identifying offending code in 
            your app’s original TypeScript.
          </p>
        </li>
      </ul>
      <div class="get-started">
        <hgroup>
          <h2>Ready to monitor your apps now?</h2>
          <p>
            Activate error monitoring in your apps for free with an <strong>
            Ionic Pro</strong> account.
          </p>
        </hgroup>
        <div class="btns">
          <div class="btn btn-green">Activate Monitor</div>
        </div>
      </div>
    </div>
  </section>

  <section class="confidence left">
    <div class="container">
      <hgroup>
        <h2>Ship with confidence</h2>
        <p>
          Catch issues before they ship. Proactive error catching and detailed 
          reporting help you pinpoint issues as they’re introduced, so you can 
          push new versions and updates without the fear of breaking anything.
        </p>
      </hgroup>
    </div>
  </section>

  <section class="ahead right">
    <div class="container">
      <hgroup>
        <h2>Stay ahead of your users.</h2>
        <p>
          Without detailed error tracking and monitoring, you’re blind to the 
          real user experience. Ionic Monitor’s alerts and notifications inform 
          you as soon as issues are discovered in your production apps, so you 
          can address them before they become a problem.
        </p>
      </hgroup>
    </div>
  </section>

  <section class="both">
    <div class="container">
      <hgroup>
        <h2>Insight only Ionic can deliver.</h2>
        <p>
          Most error tracking and monitoring tools are designed for native-built 
          apps. <strong>Ionic Monitor</strong> is built for hybrid, with full 
          visibility to the web layer of your Ionic apps, and the unique ability 
          to trace errors back to your pre-minified TypeScript.
        </p>
      </hgroup>
      <hgroup>
        <h2>Fix critical bugs. In realtime.</h2>
        <p>
          Combining <strong>Ionic Monitor</strong> and <strong>Ionic Deploy
          </strong> enables you and your team to identify issues in production 
          apps and immediately ship bug fixes. With <strong>Deploy</strong>, you 
          never have to wait for user updates or lengthy App Store approvals. 
          Just fix it, and update it live.
        </p>
      </hgroup>
    </div>
  </section>

  <section class="bar get-started">
    <div class="container">
      <hgroup>
        <h2>
          Deliver the best version of your app, with <strong>Monitor.</strong>
        </h2>
        <p class="lg">
          Create a free <strong>Ionic Pro</strong> account, or check out our 
          pricing.
        </p>
      </hgroup>
      <div class="btns">
        <a href="https://dashboard.ionicjs.com/" class="btn green">
          Create an account</a>
        <a class="btn white" href="/pricing">See pricing</a>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block modals %}

{% endblock %}

{% block scripts %}

{% endblock %}