{% extends '_layouts/base.html' %}
{% set id = 'products-studio' %}
{% set header_style = 'transparent' %}
{% set cssPath = 'products/studio' %}
{% set title = 'Ionic Studio: A Powerful Way to Build Hybrid Apps'%}
{% set meta_image = 'https://ionicframework.com/img/meta/products-studio-og.png'%}
{% set meta_description = 'Ionic Studio is a powerful App Builder, built with developers in mind, to empower your team to create cross-platform apps at lighting speed.'%}
{% set hide_pre_header = true %}
{% block body_attributes %}

{% endblock %}

{% block main %}
<script>
function getQuerystringParameter(name) {
  var querystring = window.location.search;
  name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
  var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
  var results = regex.exec(querystring);
  return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
};
const hubsFormIds = {
  '5bfe4aaf-4b74-49e1-8f8f-22a435c7861f': '29',
  'a2dda6ac-b4b8-4d9d-a03e-f0bad9caaa44': '49',
  '5d3de1c6-5225-43f4-b0bb-e19513d59735': '99'
};
const formId = getQuerystringParameter('fid') || '5bfe4aaf-4b74-49e1-8f8f-22a435c7861f';
var price = hubsFormIds[formId];
console.log('Page loaded with form id', formId, price);
</script>

<ionic-sub-header>
  <a slot="title" href="#">Studio</a>
  <ul slot="right">
    <li><a href="/pricing#studio">Pricing</a></li>
    <li><a href="/docs/studio">Docs</a></li>
    <li>
      <a class="btn dark rounded xs uppercase outline"
         href="#" data-toggle="modal" data-target="#requestDemo"
         id="btn-studio-subheader-request-demo">Buy Now</a>
    </li>
  </ul>
</ionic-sub-header>

<div class="top">
  <hgroup class="container">
    <h4>Visual mobile app development</h4>
    <h1>Lightning fast app creation.</h1>
    <p>
      A powerful IDE that delivers a smooth developer experience for teams 
      building with Ionic. Get started with the fastest and easiest way to 
      create award-winning, cross-platform apps, from a single tool.
    </p>
    <div class="btns">
      <a class="btn rounded sm uppercase"
         href="https://dashboard.ionicframework.com/signup?source=framework-{{id}}&product=studio"
         {# href="#"
         data-toggle="modal"
         data-target="#joinWaitlist"  #}
         id="btn-studio-hero-request-demo">Sign Up Now</a>

      <a class="btn dark rounded sm uppercase outline faded"
         id="btn-studio-hero-watch-overview"
         href="/pricing#studio">See pricing</a>


      {# <a class="btn dark rounded sm uppercase outline faded"
         id="btn-studio-hero-watch-overview"
         data-toggle="modal"
         data-target="#overviewVideo"
         href="#"><ion-icon name="play"></ion-icon> Watch Overview</a> #}
    </div>
  </hgroup>

  <section>
    <div class="container">
      {# <video poster="/img/products/studio/summer-19-preview.jpg" autoplay
             loop muted>
        <source src="https://ionic-site-assets.s3.amazonaws.com/studio-summer-19-update.mp4" type="video/mp4">
      </video> #}

      <div class="screenshot-group">
        <img src="/img/products/studio/screenshot-main.png"
             alt="Ionic Studio Screenshot">
        <img src="/img/products/studio/screenshot-main-2.png"
             alt="Ionic Studio Screenshot">
      </div>

      <h3>Empower your team. Drive digital transformation.</h3>
      <ul>
        <li class="create">
          <strong>Create beautiful apps in minutes</strong>
          <p>
            Build real apps in minutes for iOS, Android, Electron, PWAs, and
            more—using one codebase and access to a rich library of 100+
            reusable UI components
          </p>
        </li>
        <li class="tackle delay-100">
          <strong>Tackle your development backlog</strong>
          <p>
            Give your team the tools they need to meet the demand for mobile and
            desktop apps. Studio makes it easy to deliver modern frontend
            experiences for all of your legacy apps and core ERP or CRM
            solutions.
          </p>
        </li>
        <li class="ship delay-200">
          <strong>Ship with ease</strong>
          <p>
            As part of the Ionic Development Platform, Studio integrates with
            our mobile DevOps suite, <a href="/appflow">Ionic Appflow</a>, which
            makes it easier to build, test, update, and ship the powerful apps
            you build using this tool.
          </p>
        </li>
      </ul>
    </div>
  </section>
</div>

<main>

  <section>
    <div class="container">
      <hgroup>
        <h2>Superpowers for creating</h2>
        <p>
          Drag and drop components directly into your app, which automatically
          adds logic and code as you build. Move seamlessly between design and
          code to create apps, more visually, with live previews.
        </p>
      </hgroup>

      {# <video poster="/img/products/studio/studio-visual-editor-start.jpg" muted
             class="fade-in">
        <source src="https://ionic-site-assets.s3.amazonaws.com/studio-visual-editor.mp4" type="video/mp4">
      </video> #}

      <img class="screenshot"
           src="/img/products/studio/screenshot-wysiwyg.png"
           alt="Ionic Studio Code Editor">

      <ul>
        <li class="drag">
          <strong>Drag &amp; Drop Components</strong>
          <p>
            Drag &amp; drop 100+ pre-built Ionic UI components directly into
            your project’s code. Then modify their properties live.
          </p>
        </li>
        <li class="properties delay-100">
          <strong>Properties Editor</strong>
          <p>
            With Ionic’s components at your fingertips, no need to dig through
            pages of documentation just to learn Ionic.
          </p>
        </li>
        <li class="backend delay-200">
          <strong>Works with Local Tools</strong>
          <p>
            Studio’s secure, local editor works off the file system and plays
            nicely with other  tools, and with new or existing projects.
          </p>
        </li>
      </ul>
    </div>
  </section>

  <section>
    <div class="container">
      <hgroup>
        <h2>Full-featured App Builder</h2>
        <p>
          Ionic Studio is a full code editor with TypeScript support,
          autocompletion, debugging and more. A single install delivers nearly
          every dependency, so you can focus on development instead.
        </p>
      </hgroup>
      {# <video poster="/img/products/studio/studio-code-editor-start.jpg" muted
             class="fade-in">
        <source src="https://ionic-site-assets.s3.amazonaws.com/studio-code-editor.mp4" type="video/mp4">
      </video> #}
      <img class="screenshot"
           src="/img/products/studio/screenshot-code.png"
           alt="Ionic Studio Screenshot">

      <ul>
        <li class="ui">
          <strong>UI Component Library</strong>
          <p>
            Drag &amp; drop 100+ pre-built Ionic UI components directly into your
            project’s code. Then modify their properties live.
          </p>
        </li>
        <li class="no-docs delay-100">
          <strong>No Docs Required</strong>
          <p>
            With Ionic’s components at your fingertips, there’s no need to dig
            through pages of documentation to learn Ionic.
          </p>
        </li>
        <li class="secure delay-200">
          <strong>Secure Local Editor</strong>
          <p>
            Studio’s secure, local editor works off the file system and plays
            nicely with other  tools, and with new or existing projects.
          </p>
        </li>
      </ul>
    </div>
  </section>

  <section>
    <div class="container">
      <hgroup>
        <h2>Live Preview. Native &amp; Web.</h2>
        <p>
          Watch your app come to life in real-time, as you build it out.
          Preview your app live via the web and physical devices. You can also
          natively run your project as an iOS or Android app with the click of a
          button.
        </p>
      </hgroup>
      <div class="video-container fade-in">
        <video poster="/img/products/studio/summer-19-preview.jpg"
               muted
               onended="showApp(this)">
        <source src="https://ionic-site-assets.s3.amazonaws.com/studio-summer-19-update.mp4" type="video/mp4">
      </video>
        <img src="/img/products/studio/preview.png" class="preview">
      </div>
      <ul>
        <li class="live">
          <strong>Live Preview</strong>
          <p>
            Preview in a web browser to see how your app is coming together,
            with live reloading changes as you make them.
          </p>
        </li>
        <li class="native delay-100">
          <strong>Native Simulators</strong>
          <p>
            See how your app looks &amp; feels across any variety of devices by
            running your app in iOS and Android native simulators.
          </p>
        </li>
        <li class="device delay-200">
          <strong>On Device</strong>
          <p>
            Connect Studio locally to your physical devices to view and interact
            with apps in development.
          </p>
        </li>
      </ul>
    </div>
  </section>

  <section class="solid">
    <div class="container">
      <hgroup class="centered">
        <h2>All of your app, in one place.</h2>
        <p>
          As part of the Ionic Development Platform, <strong>Ionic
          Studio</strong> helps you manage your entire development project, and
          every phase of the app lifecycle.
        </p>
      </hgroup>

      <ul class="quatro">
        <li class="assets">
          <strong>Assets &amp; Config</strong>
          <p>
            Quick and easy way to manage all of your assets and files, config
            properties, app name and description, and more.
          </p>
        </li>
        <li class="theme delay-100">
          <strong>Theme Editing</strong>
          <p>
            Easily change and customize the colors in your app with a graphical
            interface that sits on top of your CSS files.
          </p>
        </li>
        <li class="cordova delay-200">
          <strong>Cordova project control</strong>
          <p>
            Easily add and manage Cordova plugins and platforms for iOS &amp;
            Android. Use Studio’s one-click repair to fix Cordova projects.
          </p>
        </li>
        <li class="ci delay-300">
          <span class="pill">coming soon</span>
          <strong>CI/CD integration</strong>
          <p>
            One-click integration with <a href="/appflow">Ionic Appflow</a>, a
            powerful suite of mobile DevOps services for every phase of the
            application lifecycle.
          </p>
        </li>
      </ul>
    </div>
  </section>
  <!--
  <aside class="promo promo-btns promo-studio">
    <div class="container">
      <hgroup>
        <h2>
          <strong>Ionic Studio</strong> is a developer-friendly app builder that
          accelerates app creation for teams building with Ionic.
        </h2>
        <p>
          Request a demo of Studio today.
        </p>
      </hgroup>
      <div class="btns">
        <a class="btn dark rounded sm uppercase outline"
           href="#"
           data-toggle="modal"
           data-target="#requestDemo"
           id="btn-studio-footer-request-demo">Request a Demo</a>
      </div>
    </div>
  </aside>
-->
</main>
{% include '../_includes/promos/tri-cta.html' %}

{% endblock %}

{% block modals %}
<div class="modal collapse fade"
     id="requestDemo"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body hubspot-override">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <hgroup class="hero text-center">
          <h3>Request a demo</h3>
          <p class="lg">
            Send us a detailed message and an Ionic Sales Representative will
            get back to you soon.
          </p>
        </hgroup>

        <!--[if lte IE 8]>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
          portalId: "3776657",
          formId: "086f208b-9948-443b-9f89-5feb05414c5b",
        	css: ""
        });
        </script>

      </div>
    </div>
  </div>
</div>
<div class="modal collapse fade"
     id="joinWaitlist"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body hubspot-override">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <hgroup class="hero text-center">
          <h3>Join the Studio waitlist</h3>
          <p class="lg">
            What kind of license do you need?
          </p>
          <p class="sm">
            <b>Note:</b> at launch, organizations will be required to choose an organization license. This helps
            us keep Studio affordable for the whole Ionic community and bring teams key features they need.
          </p>
        </hgroup>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <ionic-toggle>
          <ionic-toggle-button slot="buttons" title="For Individual use ($29/mo)" tab="individuals"></ionic-toggle-button>
          <ionic-toggle-button slot="buttons" title="For Organizations ($99/mo)" tab="orgs"></ionic-toggle-button>
          <ionic-toggle-tab slot="tabs" tab="individuals">
            <script>
              hbspt.forms.create({
              portalId: "3776657",
              formId: '4daf765a-4374-4832-a5d7-e60f8930674c',
              css: ""
            });
            </script>
          </ionic-toggle-tab>
          <ionic-toggle-tab slot="tabs" tab="orgs">
            <script>
              hbspt.forms.create({
              portalId: "3776657",
              formId: '32657356-4835-4dda-ba49-d2dc176430d3',
              css: ""
            });
            </script>
          </ionic-toggle-tab>
          </ionic-toggle-tabs>
        </ionic-toggle>

        <!--[if lte IE 8]>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->

      </div>
    </div>
  </div>
</div>
<div class="modal collapse fade"
     id="overviewVideo"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <hgroup class="hero text-center">
          <h3>Introducing Ionic Studio</h3>
        </hgroup>

        <script src="https://fast.wistia.com/embed/medias/98kjfx3l5p.jsonp" async></script>
        <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
        <div class="wistia_responsive_padding" style="padding:62.5% 0 0 0;position:relative;">
          <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
            <div class="wistia_embed wistia_async_98kjfx3l5p videoFoam=true" style="height:100%;position:relative;width:100%">
              <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                <img src="https://fast.wistia.com/embed/medias/98kjfx3l5p/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" onload="this.parentNode.style.opacity=1;" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script>
// Update the price text
Array.prototype.slice.call(document.querySelectorAll('.studio-price')).forEach(function(e) {
  e.innerText = '$' + price;
});

window.sr = ScrollReveal({ duration: 500, scale: 1, distance: '10px' });
sr.reveal('.fade-in, .top h3, .top li, main h2, main hgroup h2, main hgroup p, main li');

for (i = 100; i < 300; i+=100){
    sr.reveal('.delay-'+i, {delay: i / 2});
}

$(document).ready(function() {
  // Get media - with autoplay disabled (audio or video)
  var media = $('video').not("[autoplay='autoplay']");
  var tolerancePixel = 40;

  function checkMedia() {
    // Get current browser top and bottom
    var scrollTop = $(window).scrollTop() + tolerancePixel;
    var scrollBottom = $(window).scrollTop() + $(window).height() - tolerancePixel;

    media.each(function(index, el) {
      var yTopMedia = $(el).offset().top;
      var yBottomMedia = $(el).height() + yTopMedia;
      if (
        scrollTop < yBottomMedia && scrollBottom > yTopMedia &&
        !el.dataset.played
      ) {
        el.play();
        el.dataset.played = true;
      }
    });
  }
  $(document).on('scroll', checkMedia);
  checkMedia();
});

window.showApp = function(el) {
  el.parentNode.classList.add('finished');
}
</script>
{% endblock %}
