{% extends '_layouts/base.html' %}
{% set id = 'products-studio' %}
{% set header_style = 'transparent' %}
{% set stickyNav = true %}
{% set cssPath = 'products/studio' %}
{% set title = 'Ionic Studio: A Powerful Way to Build Hybrid Apps'%}
{% set meta_image = 'https://ionicframework.com/img/meta/ionic-pro-og.png'%}
{% set meta_description = 'Ionic Studio is a powerful IDE, built with developers in mind, to empower your team to create cross-platform apps at lighting speed.'%}

{% block body_attributes %}

{% endblock %}

{% block main %}

<div class="sub-header">
  <div class="container">
    <ul class="left breadcrumbs">
      <li><a href="/products/studio">Ionic Studio</a></li>
    </ul>
    <ul class="right">
      <li>
        <a class="btn dark rounded xs uppercase outline"
           href="/demo">Request a Demo</a>
      </li>
    </ul>
  </div>
</div>

<div class="top">
  <hgroup class="container">
    <h4>An Integrated visual development environment</h4>
    <h1>Lightning fast app creation.</h1>
    <p>
      <strong>Ionic Studio</strong> is a powerful IDE that delivers a smooth
      developer experience for teams building with Ionic. Get started with the
      fastest and easiest way to create award-winning cross-platform apps, from
      a single tool.
    </p>
    <div class="btns">
      <a class="btn dark rounded sm uppercase outline"
         href="/demo">Request a Demo</a>
      <a class="btn dark rounded sm uppercase outline faded"
         href=""><ion-icon name="play"></ion-icon> Watch Overview</a>
    </div>
  </hgroup>

  <section>
    <div class="container">
      <video poster="/img/products/studio/studio-screenshot.png" autoplay>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      </video>

      <h3>Empower your team. Drive digital transformation.</h3>
      <ul>
        <li class="create">
          <strong>Create beautiful apps in minutes</strong>
          <p>
            Build real apps in minutes for iOS, Android, Electron, PWAs, and
            more—using one codebase and access to a rich library of 100+
            reusable UI components
          </p>
        </li>
        <li class="tackle">
          <strong>Tackle your development backlog</strong>
          <p>
            Give your team the tools they need to meet the demand for mobile and
            desktop apps. Studio makes it easy to deliver modern frontend
            experiences for all of your legacy apps and core ERP or CRM
            solutions.
          </p>
        </li>
        <li class="ship">
          <strong>Ship with ease</strong>
          <p>
            As part of the Ionic Development Platform, Studio has a one-click
            integration with our mobile DevOps services, which makes it easier
            to build, test, update, and ship the powerful apps you build using
            this tool.
          </p>
        </li>
      </ul>
    </div>
  </section>
</div>

<main>
  <section>
    <div class="container">
      <hgroup>
        <h2>Full-featured IDE</h2>
        <p>
          Ionic Studio is a full code editor with TypeScript support,
          autocompletion, debugging and more. A single install delivers nearly
          every dependency, so you can focus on development instead.
        </p>
      </hgroup>
      <video poster="/img/products/studio/studio-screenshot.png" autoplay>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      </video>

      <ul>
        <li class="ui">
          <strong>UI Component Library</strong>
          <p>
            Drag &amp; drop 100+ pre-built Ionic UI components directly into your
            project’s code. Then modify their properties live.
          </p>
        </li>
        <li class="no-docs">
          <strong>No Docs Required</strong>
          <p>
            With Ionic’s components at your fingertips, no need to dig through
            pages of documentation just to learn Ionic.
          </p>
        </li>
        <li class="secure">
          <strong>Secure Local Editor</strong>
          <p>
            Studio’s secure, local editor works off the file system and plays
            nicely with other  tools, and with new or existing projects.
          </p>
        </li>
      </ul>
    </div>
  </section>

  <section>
    <div class="container">
      <hgroup>
        <h2>Superpowers for creating</h2>
        <p>
          Drag and drop components directly into your app, which automatically
          adds logic and code as you build. Move seamlessly between design and
          code to create apps more visually with live previews.
        </p>
      </hgroup>

      <video poster="/img/products/studio/studio-screenshot.png" autoplay>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      </video>

      <ul>
        <li class="drag">
          <strong>Drag &amp; Drop Components</strong>
          <p>
            Drag &amp; drop 100+ pre-built Ionic UI components directly into
            your project’s code. Then modify their properties live.
          </p>
        </li>
        <li class="properties">
          <strong>Properties Editor</strong>
          <p>
            With Ionic’s components at your fingertips, no need to dig through
            pages of documentation just to learn Ionic.
          </p>
        </li>
        <li class="backend">
          <strong>Backend Integrations</strong>
          <p>
            Studio’s secure, local editor works off the file system and plays
            nicely with other  tools, and with new or existing projects.
          </p>
        </li>
      </ul>
    </div>
  </section>

  <section>
    <div class="container">
      <hgroup>
        <h2>Live Preview. Native &amp; Web.</h2>
        <p>
          Watch your app come to life in real-time, as you build it out.
          Preview your app live via the web and physical devices. You can also
          natively run your project as an iOS or Android app with the click of a
          button.
        </p>
      </hgroup>
      <video poster="/img/products/studio/studio-screenshot.png" autoplay>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      </video>

      <ul>
        <li class="live">
          <strong>Live Preview</strong>
          <p>
            Preview in a web browser to see how your app is coming together,
            with live reloading changes as you make them.
          </p>
        </li>
        <li class="native">
          <strong>Native Simulators</strong>
          <p>
            See how your app looks &amp; feels across any variety of devices by
            running your app in iOS and Android native simulators.
          </p>
        </li>
        <li class="device">
          <strong>On Device</strong>
          <p>
            Connect Studio locally to your physical devices to view and interact
            with apps in development.
          </p>
        </li>
      </ul>
    </div>
  </section>

  <section class="blues">
    <div class="container">
      <hgroup class="centered">
        <h2>All of your app, in one place.</h2>
        <p>
          As part of the Ionic Development Platform, <strong>Ionic
          Studio</strong> helps you manage your entire development project, and
          every phase of the app lifecycle.
        </p>
      </hgroup>

      <ul class="quatro">
        <li class="assets">
          <strong>Assets &amp; Config</strong>
          <p>
            Quick and easy way to manage all of your assets and files, config
            properties, app name and description, and more.
          </p>
        </li>
        <li class="theme">
          <strong>Theme Editing</strong>
          <p>
            Easily change and customize the colors in your app with a graphical
            interface that sits on top of your CSS files.
          </p>
        </li>
        <li class="cordova">
          <strong>Cordova project control</strong>
          <p>
            Easily add and manage Cordova plugins and platforms for iOS &amp;
            Android. Use Studio’s one-click repair to fix Cordova projects.
          </p>
        </li>
        <li class="ci">
          <strong>CI/CD integration</strong>
          <p>
            One-click integration with Ionic Appflow, a powerful suite of mobile
            DevOps services for every phase of the application lifecycle.
          </p>
        </li>
      </ul>
    </div>
  </section>
</main>
{% endblock %}

{% block modals %}

{% endblock %}

{% block scripts %}

{% endblock %}
