{% extends '_layouts/base.html' %}
{% set id = 'products-studio' %}
{% set header_style = 'transparent products-page' %}
{% set stickyNav = true %}
{% set cssPath = 'products/studio' %}

{% block body_attributes %}

{% endblock %}

{% block main %}

<div class="sub-header">
  <div class="container">
    <ul class="left breadcrumbs">
      <li><a href="/products/studio">Ionic Studio</a></li>
    </ul>
    <ul class="right">
      <li>
        <a class="btn dark rounded xs uppercase outline"
           href="/demo">Request a Demo</a>
      </li>
    </ul>
  </div>
</div>

<div class="top">
  <hgroup class="container">
    <h4>An Integrated visual development environment</h4>
    <h1>Lightning fast app creation.</h1>
    <p>
      <strong>Ionic Studio</strong> is visual IDE that delivers a smooth 
      developer experience for teams building with Ionic. Get started with the 
      fastest and easiest way to create award-winning cross-platform apps, from 
      a single tool.
    </p>
    <a class="btn dark rounded sm uppercase outline"
       href="/demo">Request a Demo</a>
  </hgroup>

  <section>
    <div class="container">
      <video poster="/img/products/studio/studio-screenshot.png" autoplay>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      </video>

      <h3>Empower the whole team. Drive digital transformation.</h3>
      <ul>
        <li>
          <strong>Create beautiful apps in minutes</strong>
          <p>
            Build real apps in minutes for iOS, Android, Electron, PWAs, and 
            more—using one codebase and access to a rich library of 100+ reusable 
            UI components
          </p>
        </li>
        <li>
          <strong>Tackle your development backlog</strong>
          <p>
            Give your team the tools they need to meet the demand for mobile and 
            desktop apps. Studio makes it easy to deliver modern frontend 
            experiences for all of your legacy apps and core ERP or CRM solutions.
          </p>
        </li>
        <li>
          <strong>Ship with ease</strong>
          <p>
            As part of the Ionic Development Platform, Studio has a one-click 
            integration with our mobile DevOps services, which makes it easier to 
            build, test, update, and ship the powerful apps you build using this 
            tool.
          </p>
        </li>
      </ul>
    </div>
  </section>
</div>

<main>
  <section>
    <div class="container">
      <hgroup>
        <h2>Full-featured IDE</h2>
        <p>
          Ionic Studio is a full code editor with TypeScript support, 
          autocompletion, debugging and more. A single install delivers nearly 
          every dependency, so you can focus on development instead.
        </p>
      </hgroup>
      <video poster="/img/products/studio/studio-screenshot.png" autoplay>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      </video>
  
      <ul>
        <li>
          <strong>UI Component Library</strong>
          <p>
            Drag &amp; drop 100+ pre-built Ionic UI components directly into your 
            project’s code. Then modify their properties live.
          </p>
        </li>
        <li>
          <strong>No Docs Required</strong>
          <p>
            With Ionic’s components at your fingertips, no need to dig through 
            pages of documentation just to learn Ionic.
          </p>
        </li>
        <li>
          <strong>Secure Local Editor</strong>
          <p>
            Studio’s secure, local editor works off the file system and plays 
            nicely with other  tools, and with new or existing projects.
          </p>
        </li>
      </ul>
    </div>
  </section>

  <section>
    <div class="container">
      <hgroup>
        <h2>Visual Design Mode</h2>
        <p>
          Drag and drop components directly into your app, which automatically 
          adds logic and code as you build. Move seamlessly between design and 
          code to create apps more visually with live previews.
        </p>
      </hgroup>
  
      <video poster="/img/products/studio/studio-screenshot.png" autoplay>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      </video>
  
      <h3></h3>
      <ul>
        <li>
          <strong>Drag &amp; Drop Components</strong>
          <p>
            Drag &amp; drop 100+ pre-built Ionic UI components directly into your 
            project’s code. Then modify their properties live.
          </p>
        </li>
        <li>
          <strong>Theme Editing</strong>
          <p>
            With Ionic’s components at your fingertips, no need to dig through 
            pages of documentation just to learn Ionic.
          </p>
        </li>
        <li>
          <strong>Properties Editor</strong>
          <p>
            Studio’s secure, local editor works off the file system and plays 
            nicely with other  tools, and with new or existing projects.
          </p>
        </li>
      </ul>
    </div>
  </section>

  <section>
    <div class="container">
      <hgroup>
        <h2>Live Preview. Native &amp; Web.</h2>
        <p>
          Watch your app come to life in real-time, as you build it out. Studio 
          lets you preview your app live via the web and physical devices. You can 
          also natively run your project as an iOS or Android app with the click 
          of a button.
        </p>
      </hgroup>
      <video poster="/img/products/studio/studio-screenshot.png" autoplay>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      </video>
  
      <ul>
        <li>
          <strong>Drag &amp; Drop Components</strong>
          <p>
            Drag &amp; drop 100+ pre-built Ionic UI components directly into your 
            project’s code. Then modify their properties live.
          </p>
        </li>
        <li>
          <strong>Theme Editing</strong>
          <p>
            With Ionic’s components at your fingertips, no need to dig through 
            pages of documentation just to learn Ionic.
          </p>
        </li>
        <li>
          <strong>Properties Editor</strong>
          <p>
            Studio’s secure, local editor works off the file system and plays 
            nicely with other  tools, and with new or existing projects.
          </p>
        </li>
      </ul>
    </div>
  </section>
</main>
{% endblock %}

{% block modals %}

{% endblock %}

{% block scripts %}

{% endblock %}
