{% extends '_layouts/base.html' %}
{% set id = 'view' %}

{% block body_attributes %}

{% endblock %}

{% block main %}

<div class="cta gradient">
  <hgroup class="container center">
    <h1 class="hero-heading">Share your apps with the world</h1>
    <p>
      Ionic View makes it easy to share your <a href="http://ionicframework.com/">
      Ionic</a> and Cordova apps with clients and testers around the world, all 
      without ever going through the App Store.
    </p>
</div>

<main class="container">
  <div class="left">
    <img id="logo" src="/img/products/view/ionicview-logo.png">
    <h3>Ionic Pro: Get it on iOS and Android (Coming Soon)</h3>
    <div id="stores">
      <a href="https://itunes.apple.com/us/app/ionic-view-test-share-ionic-apps/id1271789931">
        <img src="/img/products/view/appstore.png" id="appstore-image">
      </a>
      <!--<a href="https://play.google.com/store/apps/details?id=com.ionic.viewapp">
        <img alt="Get it on Google Play" 
             src="/img/products/view/playstore.png" 
             id="playstore-image">
      </a>-->
    </div>
  </div>
  <div class="left">
    <img id="logo" src="/img/products/view/ionicview-logo.png">
    <h3>Looking for the Legacy Ionic Cloud version?</h3>
    <div id="stores">
      <a href="https://itunes.apple.com/us/app/ionic-view/id849930087">
        <img src="/img/products/view/appstore.png" id="appstore-image">
      </a>
      <a href="https://play.google.com/store/apps/details?id=com.ionic.viewapp">
        <img alt="Get it on Google Play" 
             src="/img/products/view/playstore.png" 
             id="playstore-image">
      </a>
    </div>
  </div>
  <div class="right phones">
    <img src="/img/products/view/phones.png" alt="phones"/>
  </div>
</main>
{% endblock %}
