// --------------------- EXPAND -------------------------
[class~='expand'] {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
[class~='expand'] > * {
  flex-grow:1;  
}
.expand\:e {
  justify-content: flex-end;
}

.expand\:s {
  justify-content: flex-start;
}

// --------------------- STACK --------------------------
@mixin stack($element, $spaceY){
  #{element}[class~='stack'] {
    --s: #{$spaceY};
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  #{element}[class~='stack'] > * {
    margin-top: 0;
    margin-bottom: 0;
  } 

  #{element}.stack > * + * {
    margin-top: var(--s);
  }

  #{element}.stack\:rec * + * {
    margin-top: var(--s);
  }  
}

// ------------------------ BOX -----------------------------
@mixin box($element, $pY, $pX, $background, $text) {
  #{$element}.box {
    padding: #{$pY} #{$pX};
    background: #{$background};
    color: #{$text};
  }

  #{$element}.box * {
    color: inherit;
  }
}

// ------------------------ CENTER ---------------------------

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--mw);
}

// ------------------------ CLUSTER --------------------------

.cluster {
  --space: 1rem;
  overflow: hidden;
}

.cluster > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: calc(var(--space) / 2 * -1);
}

.cluster > * > * {
  margin: calc(var(--space) / 2);
}

// ------------------------ SIDEBAR ---------------------------

.with-sidebar {
  overflow: hidden;
}

.with-sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--s1) / 2 * -1);
}

.with-sidebar > * > * {
  margin: calc(var(--s1) / 2);
  flex-grow: 1;
}

.with-sidebar > * > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - var(--s1));
}

// ----------------------- SWITCHER -----------------------------
@mixin switcher($element, $count, $threshold, $mX){
  #{$element} .switcher > * {
    --mX: #{$mX};
    --measure: #{$threshold};

    display: flex;
    flex-wrap: wrap;
    margin-right: calc((var(--mX) / 2) * -1);
    margin-left: calc((var(--mX) / 2) * -1);
  }
  
  #{$element} .switcher > * > * {
    flex-grow: 1;
    flex-basis: calc((var(--measure) - (100% - var(--mX))) * 999);
    margin: calc(var(--mx) / 2);
  }
  
  #{$element} .switcher > * > :nth-last-child(n+#{$count + 1}),
  #{$element} .switcher > * > :nth-last-child(n+#{$count + 1}) ~ * {
    flex-basis: 100%;
  }
}


// ----------------------- COVER ---------------------------------

.cover {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

.cover > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cover > :first-child:not(h1) {
  margin-top: 0;
}

.cover > :last-child:not(h1) {
  margin-bottom: 0;
}

.cover > h1 {
  margin-top: auto;
  margin-bottom: auto;
}

// ------------------------- FRAME ---------------------------

.frame {
  --n: 9;
  --d: 16;
  padding-bottom: calc(var(--n) / var(--d) * 100%);
  position: relative;
}

.frame > * {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame > img,
.frame > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// -------------------------- REEL ---------------------------

.reel {
  display: flex;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: #fff #000;
}

.reel::-webkit-scrollbar {
  height: 1rem;
}

.reel::-webkit-scrollbar-track {
  background-color: #000;
}

.reel::-webkit-scrollbar-thumb {
  background-color: #000;
  background-image: linear-gradient(#000 0, #000 0.25rem, #fff 0.25rem, #fff 0.75rem, #000 0.75rem);
}

.reel > * {
  flex: 0 0 auto;
}


.reel > img {
  height: 100%;
  flex-basis: auto;
  width: auto;
}

.reel > * + * {
  margin-left: 1rem;
}

.reel.overflowing {
  padding-bottom: 1rem;
}

// ----------------------- IMPOSTER ------------------------

.imposter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imposter.contain {
  --margin: 0px;
  overflow: auto;
  max-width: calc(100% - (var(--margin) * 2));
  max-height: calc(100% - (var(--margin) * 2));
}